<template>
  <div class="q-pa-xs">
    <q-toolbar class="bg-white text-white" v-show="origen !== 'menu'">
      <q-icon size="30px"   name="fas fa-chart-line"  color="primary"/>
      <q-toolbar-title class="text-bold text-primary">Mis ventas </q-toolbar-title>
    </q-toolbar>
    <div class="row q-pa-sm">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 q-mr-md">
        <q-select  v-model="select_ano" :options="options"  label="Año" @input="obtenerVentasVendedor()" />
      </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <q-select  v-model="mes" :options="myLocale.months"  label="Mes" @input="obtenerVentasVendedor()"/>
      </div>
      <div class="col-xs-3 col-sm-1 col-md-5 col-lg-1 text-right">
        <q-btn color="grey-7" round flat icon="more_vert" class="q-py-md">
          <q-menu cover auto-close>
            <q-list>
              <q-item clickable @click="tipo_visualizacion = 'bultos';obtenerVentasVendedor()">
                <q-item-section>Ver en bultos</q-item-section>
              </q-item>
              <q-item clickable>
                <q-item-section @click="tipo_visualizacion = 'kilos';obtenerVentasVendedor()">Ver en kilos</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </div>
    </div>
    <div class="row" v-show="total_venta_bultos > 0">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
        <b class="text-primary">CUMPLIMIENTO GENERAL ({{tipo_visualizacion}}) </b> {{formatPrice((total_venta_bultos * 100)/total_presup_bultos)}}%
      </div>
    </div>
    <div class="row q-py-md">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <q-list bordered separator>
          <q-item v-for="(venta, index) in data" :key="index">
            <q-item-section>
              <q-item-label class="text-bold text-primary">{{venta.descripcion}}</q-item-label>
              <q-item-label caption lines="2">Debo vender</q-item-label>
              <q-item-label caption lines="2">Mis ventas</q-item-label>
              <q-item-label caption lines="2" v-show="venta.porcentaje < 100">Por vender</q-item-label>
              <q-item-label caption lines="2" v-show="venta.porcentaje >= 100"><q-badge  class="text-caption"   text-color="white" color="green" v-show="venta.porcentaje >= 100" >Presupuesto cumplido</q-badge></q-item-label>
            </q-item-section>

            <q-item-section side top>
              <q-item-label ><q-badge color="primary" >{{venta.porcentaje}} %</q-badge></q-item-label>
              <q-item-label caption>{{formatPrice(venta.presupuesto_bultos)}}</q-item-label>
              <q-item-label caption>{{formatPrice(venta.venta_bultos)}}</q-item-label>
              <q-item-label  class="text-bold" v-if="(venta.presupuesto_bultos - venta.venta_bultos) > 0">{{formatPrice(venta.presupuesto_bultos - venta.venta_bultos)}}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { QSpinnerFacebook } from 'quasar'
// import * as echarts from 'echarts'
// import * as echarts from 'echarts'
export default {
  props: {
    origen: {
      type: String,
      required: false
    }
  },
  data () {
    return {
      tipo_visualizacion: 'bultos',
      mes: '',
      select_ano: this.obtenerAnioActual(),
      options: [
        '2021', '2022', '2023', '2024', '2025'
      ],
      vendedor: this.$route.params.vendedor ? { codigo: this.$route.params.vendedor, nombre: this.$route.params.nombre } : { codigo: '', nombre: '' },
      vendedores: [],
      filter: '',
      grupos: [],
      data_torta: [],
      total_presup_bultos: 0,
      total_venta_bultos: 0,
      fecha_inicial: '',
      fecha_final: '',
      data: [],
      loading: false,
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      },
      model_mes: null,
      preBultos: 0,
      ventaBultos: 0
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    }
  },
  methods: {
    obtenerAnioActual () {
      var today = new Date()
      var year = today.getFullYear()
      return year
    },
    nombreMes () {
      const monthNames = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
      const d = new Date()
      this.mes = monthNames[d.getMonth()]
    },
    obtenerVentasVendedor () {
      var self = this
      self.loading = true
      self.showLoading('Obteniendo información, por favor espere ...')
      axios.get(this.api_url + '/api/presupuestos/presupuesto-ventas-consolidado-mes-vendedor/', {
        params: {
          origen_modulo: 'menu_ventas_vendedor',
          mes: this.mes,
          unidad_medida: this.tipo_visualizacion,
          anio: this.select_ano,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.data = response.data
      }).finally(function () {
        self.loading = false
        self.data.sort((a, b) => (a.venta_bultos < b.venta_bultos) ? 1 : -1)
        self.obtenerTotales()
        self.$q.loading.hide()
      })
    },
    obtenerTotales () {
      var sumVenta = 0
      var sumPresu = 0
      this.data.forEach(function (element) {
        if (element.codigo !== 'G014' && element.codigo !== 'G015' && element.codigo !== 'G018') {
          sumVenta = sumVenta + Number(element.venta_bultos)
          sumPresu = sumPresu + Number(element.presupuesto_bultos)
        }
      })
      this.total_venta_bultos = sumVenta
      this.total_presup_bultos = sumPresu
    },
    showLoading (msj) {
      this.$q.loading.show({
        spinner: QSpinnerFacebook,
        spinnerColor: 'primary',
        spinnerSize: 140,
        backgroundColor: 'white',
        message: msj,
        messageColor: 'black'
      })
    },
    notificacion (color, colorTexto, icono, mensaje, posicion) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        position: posicion
      })
    },
    formatPrice (value) {
      let val = (value / 1).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    }
  },
  mounted () {
    this.nombreMes()
    this.obtenerVentasVendedor()
  },
  watch: {
    select_ano () {
    }
  }
}
</script>
<style scoped>
  .shadow {
    -webkit-box-shadow: 0 0 10px #bfbfbf !important;
    box-shadow: 0 0 7px #bfbfbf !important;
  }
</style>
