<template>
  <div class="q-pa-xs q-gutter-xs">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center text-primary text-weight-bolder" style="font-size:25px">
        Cartera
      </div>
<div id="image">
</div>
      <q-separator spaced />
       <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row q-pa-xs">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 q-mr-md">
              <q-input  v-model="filtro" label="Consultar por cliente" stack-label  @input="listadoCartera('filtro')" debounce="500"/>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <q-input  v-model="factura" label="Factura" stack-label  @input="listadoCartera('factura')" debounce="500"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <q-list >
              <div v-for="(cart, index) in cartera" :key="index" :id="'printcontent_'+index"  :ref="'printcontent_'+index">
                <q-item clickable @dblclick="registrarFacturaPaga(cart.T_Dcto + cart.Documento)">
                  <q-item-section style="padding-right:4px" thumbnail class="bg-primary q-mr-sm">
                  </q-item-section>
                  <q-item-section>
                    <q-item-label style="font-size:12px" class="text-primary text-bold">{{cart.Cliente}} - {{cart.Nombre_Cliente}}</q-item-label>
                    <q-item-label caption>Fecha expedición : <b>{{cart.F_Expedic}}</b></q-item-label>
                    <q-item-label caption>Fecha vencimiento : <b>{{cart.F_Vencim}}</b></q-item-label>
                    <q-item-label caption>Dias Vencidos  <b>{{cart.DiasVc}}</b></q-item-label>
                    <q-item-label caption >Deuda <b>{{formatPrice(cart.Deuda)}}</b></q-item-label>
                    <q-item-label caption >Pagado <b>{{formatPrice(cart.Pagado)}}</b></q-item-label>
                    <q-item-label caption >Saldo <b>{{formatPrice(cart.Saldo)}}</b></q-item-label>
                    <q-item-label caption >Cupo <b>{{formatPrice(cart.Mt_Cupo_Credito)}}</b></q-item-label>
                    <q-item-label caption >Cupo Disp. <b>{{formatPrice(cart.deuda_total)}}</b></q-item-label>
                    <q-item-label caption >Ciudad <b>{{cart.Nombre_Ciudad}}</b></q-item-label>
                  </q-item-section>

                  <q-item-section side top>
                    <q-item-label caption>{{cart.T_Dcto}}{{cart.Documento}}</q-item-label>
                    <div class="text-primary">
                    </div>
                    <q-item-label caption> </q-item-label>
                    <q-item-label caption> </q-item-label>
                  </q-item-section>
                  <q-btn
                    round
                    flat
                    color="primary"
                    @click="printThis('printcontent_'+index)"
                    size="12px"
                    icon="fas fa-expand"
                    class="absolute"
                    style="top: 15; right: 12px; transform: translateY(90%);"
                  />
                  <q-btn
                    round
                    flat
                    color="primary"
                    @click="consultaValorTotal(cart.Nombre_Cliente)"
                    size="12px"
                    icon="fas fa-search-dollar"
                    class="absolute"
                    style="top: 15; right: 50px; transform: translateY(90%);"
                  />
                  <q-btn
                    v-show="cart.factura_paga == 'si'"
                    flat
                    color="red-3"
                    size="22px"
                    class="absolute"
                    label="CANCELADA"
                    style="top: 60px; right: 90px; transform: translateY(90%);transform: rotate(-20deg);"
                  />
                </q-item>
                <q-separator style="height:3px" class="bg-grey-2 " />
              </div>
          </q-list>
        </div>
      </div>
      <div class="q-pa-md" v-if="cartera.length <= 0"><br>
        <q-list bordered padding class="rounded-borders">
          <q-item >
              <q-icon name="info" color="orange" size="20px" class="q-mr-xs"/>Consulte la cartera por nombre del cliente o No. de factura
          </q-item>
        </q-list>
      </div>
      <q-page-sticky position="bottom-right" :offset="[18, 18]"  @click="$router.back()">
        <q-btn fab padding="sm"  icon="home" color="primary" />
      </q-page-sticky>
      <q-dialog
        v-model="modal_saldo"
      >
        <q-card style="width: 300px">
          <q-card-section>
            <div class="text-h6 text-center text-primary">Saldo total</div>
          </q-card-section>

          <q-card-section class="q-pt-none text-h6 text-center">
            $ {{deuda.length > 0 ? formatPrice(deuda[0].saldo) : 0}}
          </q-card-section>

          <q-card-actions align="right" class="bg-white text-primary">
            <q-btn flat label="Cerrar" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import VueHtml2Canvas from 'vue-html2canvas'
import Vue from 'vue'
Vue.use(VueHtml2Canvas)
export default {
  data () {
    return {
      modal_saldo: false,
      modal_conductores: false,
      deshabilitado: false,
      dato_obtenido: false,
      icon: false,
      placa: '',
      placa_modal: '',
      conductor_modal: '',
      conductor: '',
      despachos: [],
      placas: [],
      cartera: [],
      cliente: '',
      page: 0,
      filtro: '',
      factura: '',
      deuda: []
    }
  },
  computed: {
    url_api () {
      return this.$store.state.store.url_api
    }
  },
  methods: {
    async printThis (elemento) {
      this.$html2canvas(document.querySelector('#' + elemento)).then(canvas => {
        let enlace = document.createElement('a')
        const d = new Date()
        let time = d.getTime()
        enlace.download = 'Captura_' + time + '.png'
        // Convertir la imagen a Base64
        enlace.href = canvas.toDataURL()
        // Hacer click en él
        enlace.click()
      })
    },
    consultaValorTotal (filtro) {
      var self = this
      self.showLoading('Obteniendo información de cartera')
      axios.get(this.url_api + '/api/cartera/obtener-deuda/', {
        params: {
          filtro: filtro,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        // console.log(response.data)
        self.deuda = response.data
      }).finally(function () {
        self.hideLoading()
        self.modal_saldo = true
      })
    },
    listadoCartera (campoFiltra) {
      if (campoFiltra === 'filtro') {
        if (this.filtro.length <= 0) {
          this.cartera.length = 0
        }
      } else {
        if (this.factura.length <= 0) {
          this.cartera.length = 0
        }
      }

      if (this.filtro.length > 3 || this.factura.length > 3) {
        var self = this
        if (campoFiltra !== 'registro') {
          self.cartera = []
          self.showLoading('Obteniendo información de cartera')
        }
        axios.get(this.url_api + '/api/cartera/obtener-cartera/', {
          params: {
            filtro: this.filtro,
            factura: this.factura,
            token: localStorage.getItem('token')
          }
        }).then((response) => {
          // console.log(response.data)
          self.cartera = response.data
        }).finally(function () {
          self.hideLoading()
        })
      }
    },
    notificacion (color, colorTexto, icono, mensaje, posicion, duracion) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        position: posicion,
        timeout: duracion
      })
    },
    registrarFacturaPaga (factura) {
      // this.showLoading('Registrando información ...')
      var self = this
      axios.post(this.url_api + '/api/facturas/registro/', {
        factura: factura,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacion('green-1', 'green-10', 'check', res.data.mensaje, 'top', 1000)
          self.listadoCartera('registro')
        } else {
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'bottom', 2000)
        }
      }).catch(function (err) {
        // console.log(err)
        self.notificacion('red-5', 'white', 'warning', err, 'bottom', 2000)
      })
    },
    formatPrice (value) {
      let val = (value / 1).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    submitLogin () {
    },
    onReset () {
    }
  },
  mounted () {
    // this.listadoCartera()
  },
  watch: {
  }
}
</script>
<style>
