<template>
<q-page :class="$q.platform.is.desktop === true ? 'bg-grey-1':'bg-white'">
  <div v-if="$q.platform.is.desktop === true">
    <div class="row" v-if="!verificaPermiso(2)">
      <usuarios-no-autorizado/>
    </div>
    <div class="q-pa-none" v-else>
      <q-toolbar class="bg-primary text-white">
        <q-toolbar-title class="text-bold"><q-icon name="fas fa-people-carry" class="q-mr-md" size="30px"/>Logística</q-toolbar-title>
      </q-toolbar><br>
      <div class="row q-pa-sm">
        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
          <div class="q-pa-none" style="max-width: 230px">
            <q-list  class="text-primary  menu-list">

              <q-item v-show="false" clickable v-ripple  @click="mostrarComponente('produccion-dashboard', 'dashboard')" :active="link === 'dashboard'" active-class="my-menu-link" >
                <q-item-section avatar>
                  <q-icon name="fas fa-chart-pie"></q-icon>
                </q-item-section>
                <q-item-section class="text-grey-9 " >Tablero principal</q-item-section>
              </q-item>

              <q-expansion-item>
                <template v-slot:header>
                  <q-item-section avatar>
                    <q-icon color="primary" name="fas fa-truck-loading" />
                  </q-item-section>

                  <q-item-section class="text-grey-9 text-bold">
                    Despachos
                  </q-item-section>
                </template>
                <q-item clickable v-ripple :active="link === 'consultar-despacho'" active-class="my-menu-link" @click="mostrarComponente('logistica-consulta-despacho', 'consultar-despacho')">
                  <q-item-section avatar>
                  </q-item-section>
                  <q-item-section class="text-grey-9">Consultar placa</q-item-section>
                </q-item>
                <q-item clickable v-ripple :active="link === 'gestion-turnos'" active-class="my-menu-link" @click="mostrarComponente('logistica-gestion-turnos', 'gestion-turnos')">
                  <q-item-section avatar>
                  </q-item-section>
                  <q-item-section class="text-grey-9">Gestión de turnos</q-item-section>
                </q-item>
                <q-item clickable v-ripple :active="link === 'consulta-entregas'" active-class="my-menu-link" @click="mostrarComponente('logistica-consulta-entregas', 'consulta-entregas')">
                  <q-item-section avatar>
                  </q-item-section>
                  <q-item-section class="text-grey-9">Consultar entregas</q-item-section>
                </q-item>
              </q-expansion-item>
              <q-item clickable v-ripple  @click="mostrarComponente('logistica-recepcion-envio-trigo', 'recepcion-envio-trigo')" :active="link === 'recepcion-envio-trigo'" active-class="my-menu-link" >
                <q-item-section avatar>
                  <q-icon name="fas fa-exchange-alt"></q-icon>
                </q-item-section>
                <q-item-section class="text-grey-9 text-bold" >Recep/Envío Trigo</q-item-section>
              </q-item>
              <q-expansion-item>
                <template v-slot:header>
                  <q-item-section avatar>
                    <q-icon color="primary" name="fas fa-box-open" />
                  </q-item-section>

                  <q-item-section class="text-grey-9 text-bold">
                    Inventarios
                  </q-item-section>
                </template>
                <q-item clickable v-ripple :active="link === 'maestros-productos'" active-class="my-menu-link" @click="mostrarComponente('logistica-maestros-productos', 'maestros-productos')">
                  <q-item-section avatar>
                  </q-item-section>
                  <q-item-section class="text-grey-9">Maestros Productos</q-item-section>
                </q-item>
                <q-item clickable v-ripple :active="link === 'gestion-producciones'" active-class="my-menu-link" @click="mostrarComponente('logistica-gestion-producciones', 'gestion-producciones')">
                  <q-item-section avatar>
                  </q-item-section>
                  <q-item-section class="text-grey-9">Gest. Producciones</q-item-section>
                </q-item>
              </q-expansion-item>
            </q-list>
          </div>
        </div>
        <div class="col-xs-4 col-sm-10 col-md-10 col-lg-10">
            <component v-bind:is="componenteActual"></component>
        </div>
      </div>
    </div>
  </div>

  <div v-if="$q.platform.is.mobile === true ">
    <q-page>
        <div class="row q-pa-md ">
          <div class="col-12 text-primary text-bold text-h5">
            <q-icon name="fas fa-arrow-circle-left" class="q-mr-md" @click="irRuta('/inicio')"/>Logística
          </div>
        </div>
        <div class="row  q-pa-xs" align="center">
          <div class="col-12">
            <img
              src="../../statics/Logistica.jpg"
              style="height: 200px; max-width: 350px"
            />
          </div>
        </div>
        <div class="row div_login q-pa-md">
          <q-list class="bg-white q-pa-sm" style="width: 100%;"><br>
            <div class="row bg-grey-2 q-pa-none" style="border-radius: 25px 25px 25px 25px;">
              <q-item  class="q-pa-none " @click="mostrarComponenteMobil('logistica-consulta-despacho')" clickable >
                <q-item-section  side class=" q-pa-md q-mr-none text-white ">
                  <q-icon name="fas fa-truck" color="primary" size="22px"></q-icon>
                </q-item-section>
                <q-item-section class=" q-pa-sm q-ml-none  text-white ">
                  <q-item-label class="text-primary text-weight-bolder" style="font-size:17px">Consultar pedido</q-item-label>
                  <q-item-label class="text-primary" style="font-size:11px">Consulta el pedido detallado del vehículo por placa</q-item-label>
                </q-item-section>
              </q-item>
            </div>
          </q-list>
        </div>
    </q-page>

    <q-dialog
      v-model="modal_componente"
      :maximized="true"
      persistent
      transition-show="slide-up"
      transition-hide="slide-down"
    >
    <q-card class="bg-white text-white q-py-sm">
      <q-bar class="bg-white">
        <q-btn color="primary" size="14px" label="Volver" flat icon="fas fa-angle-left" v-close-popup/>
      </q-bar>
      <component v-bind:is="componenteActual" class="bg-white"></component>
      </q-card>
    </q-dialog>
  </div>

</q-page>
</template>

<script>
// import axios from 'axios'
// import * as echarts from 'echarts'
export default {
  data () {
    return {
      modal_componente: false,
      componenteActual: '',
      link: 'dashboard'
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    }
  },
  methods: {
    mostrarComponente (componente, link) {
      this.componenteActual = componente
      this.link = link
    },
    mostrarComponenteMobil (componente) {
      this.modal_componente = true
      this.componenteActual = componente
    },
    irRuta (ruta) {
      this.$router.push({ name: ruta })
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    }
  },
  created () {
  },
  beforeDestroy () {
  },
  mounted () {
  },
  watch: {
  }
}
</script>
<style lang="sass" scoped>
.menu-list .q-item
  border-radius: 0 32px 32px 0
.my-menu-link
  color: primary
  background: #EDE6D8
.bg-image-app
  background-image: linear-gradient(130deg, #1B4130 0%, #358662 50%)
.div_login
  position: absolute
  top: 33%
  right: 0%
  width: 100%
  height: 52%
.div_login_title
  position: absolute
  top: 0%
  right: 0%
  width: 100%
</style>
