<template>

  <div class="row" v-if="!verificaPermiso(55)">
    <usuarios-no-autorizado/>
  </div>

  <div class="q-pa-none" v-else>
    <div class="q-pa-none" v-if="$q.platform.is.desktop === true">
      <div class="row q-pa-md text-h5 text-bold text-grey-8">
        <div class="col-12 text-center">
          Consulta de gestión de entregas de mercancía
        </div>
      </div>
      <div class="row bg-white q-pa-md shadow-1 q-my-xs">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5">
              <div class="q-pa-md row items-start q-gutter-md">

                <q-input dense outlined  v-model="fecha_inicio" readonly stack-label label="Fecha inicio" class="q-mr-xs" style="width: 190px;">
                    <template v-slot:append>
                      <q-icon color="blue-8" name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateProxy2" cover transition-show="scale" transition-hide="scale">
                          <q-date   :locale="myLocale" v-model="fecha_inicio" mask="YYYY-MM-DD"  @input="$refs.qDateProxy2.hide();"/>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                </q-input>

                <q-input dense outlined  v-model="fecha_final" readonly stack-label label="Fecha final" class="q-mr-sm" style="width: 190px;">
                    <template v-slot:append>
                      <q-icon color="blue-8" name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateProxy3" cover transition-show="scale" transition-hide="scale">
                          <q-date   :locale="myLocale" v-model="fecha_final" mask="YYYY-MM-DD"  @input="$refs.qDateProxy3.hide();"/>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                </q-input>

                <q-btn label="Consultar" color="primary" @click="obtenerGestionEntregas()" />
                <q-separator vertical  />
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">
              <q-select  style="width:200px" @input="obtenerGestionEntregas()"  v-model="select_estado"   label="Filtrar:" stack-label :options="['Todos','Con novedad','Sin novedad']"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row bg-white q-pa-md shadow-1" >
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <q-table
              title="Entregas de mercancía"
              flat
              :data="movimientos"
              :columns="columns"
              :loading="loading"
              :filter="filter"
              dense
              :rows-per-page-options="[10]"
            >
              <template v-slot:top-right>
                <q-btn
                  color="primary"
                  flat
                  icon-right="fas fa-arrow-alt-circle-down"
                  label="Exportar Información"
                  no-caps
                  class="cursor-pointer q-mr-md"
                  @click="exportTable"
                />
                <q-input  dense debounce="300" v-model="filter" placeholder="Buscar">
                  <template v-slot:append>
                    <q-icon name="search" />
                  </template>
                </q-input>
              </template>
              <template v-slot:body="props" >
                <q-tr :props="props" >

                  <q-td key="icono" :props="props" class="text-bold">
                    <q-icon v-if="props.row.novedad === 'si'" color="red-6" name="fas fa-exclamation-circle" size="25px" class="q-mr-md"/>
                    <q-icon v-else color="green-6" name="fas fa-check-circle" size="25px" class="q-mr-md"/>
                  </q-td>

                  <q-td key="consecutivo" :props="props" class="text-bold" style="font-size:14px">
                    {{ props.row.consecutivo }}
                  </q-td>

                  <q-td key="placa" :props="props">
                    <div class="bg-yellow-7 text-center q-pa-xs rounded-borders" style="width:100%">
                      <b style="font-size:12px">{{ props.row.placa }}</b>
                    </div>
                  </q-td>

                  <q-td key="conductor" :props="props">
                    {{ props.row.conductor }}
                  </q-td>

                  <q-td key="celular" :props="props">
                    {{ props.row.celular }}
                  </q-td>

                  <q-td key="ciudad" :props="props">
                    {{ props.row.ciudad }}
                  </q-td>

                  <q-td key="observaciones" :props="props">
                    <div class="my-table-details">{{ !props.row.observaciones ? '(Sin novedad)' : props.row.observaciones }}</div>
                  </q-td>

                  <q-td key="fecha_novedad" :props="props" >
                    {{ props.row.fecha_novedad }}
                  </q-td>

                  <q-td key="acciones" :props="props">
                    <q-btn size="12px" color="blue-8" flat label="Ver pedido" @click="openModalInfoPlaca(props.row.placa)" />
                  </q-td>

                </q-tr>
              </template>
            </q-table>
          </div>
      </div>

      <!-- Modal de donde visualiza que productos y pedidos lleva el vehículo -->
      <q-dialog
        v-model="modal_info_placa"
        persistent
        :maximized="maximizedToggle_info_placa"
        transition-show="slide-up"
        transition-hide="slide-down"
      >
          <div class="row bg-grey-3">
            <div class="col-12 q-pa-sm">
              <logistica-consulta-despacho :nroPlaca="placa" :modoLectura="true"/>
              <div class="row">
                <div class="col-12 q-pa-sm text-center">
                  <q-btn no-caps icon="fas fa-times" rounded color="red-8" label="Cerrar ventana" @click="modal_info_placa = false" />
                </div>
              </div>
            </div>
          </div>
      </q-dialog>

    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { exportFile } from 'quasar'
// import { date } from 'quasar'
export default {
  data () {
    return {
      fecha_inicio: '',
      fecha_final: '',
      placa: '',
      select_estado: 'Todos',
      loading: false,
      movimientos: [],
      filter: '',
      columns: [
        { name: 'icono', align: 'center', label: '', field: 'icono', sortable: true, headerClasses: 'text-primary', style: 'width: 30px' },
        { name: 'consecutivo', align: 'center', label: '# Despacho', field: 'consecutivo', sortable: true, headerClasses: 'text-primary', style: 'width: 30px' },
        { name: 'placa', align: 'center', label: 'Placa', field: 'placa', sortable: true, headerClasses: 'text-primary' },
        { name: 'conductor', align: 'center', label: 'Conductor', field: 'conductor', sortable: true, headerClasses: 'text-primary' },
        { name: 'celular', align: 'right', label: 'Celular', field: 'celular', sortable: true, headerClasses: 'text-primary' },
        { name: 'ciudad', align: 'center', label: 'Destino', field: 'ciudad', sortable: true, headerClasses: 'text-primary' },
        { name: 'observaciones', align: 'center', label: 'Novedad', field: 'observaciones', sortable: true, headerClasses: 'text-primary', style: 'width: 200px' },
        { name: 'fecha_novedad', align: 'center', label: 'Fecha/Hora Novedad', field: 'fecha_novedad', sortable: true, headerClasses: 'text-primary' },
        { name: 'acciones', align: 'center', label: '', field: 'acciones', sortable: true, headerClasses: 'text-primary' }
      ],
      modal_info_placa: false,
      maximizedToggle_info_placa: true,
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      },
      pagination: {
        rowsPerPage: 20
      }
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    }
  },
  methods: {
    obtenerFechas (opcion) {
      var today = new Date()
      var dd = today.getDate()
      var mm = today.getMonth() + 1 // January is 0!
      var yyyy = today.getFullYear()
      if (dd < 10) {
        dd = '0' + dd
      }
      if (mm < 10) {
        mm = '0' + mm
      }
      if (opcion === 'inicio') {
        mm = '0' + 1
        dd = '0' + 1
      } else {
        mm = 12
        dd = 31
      }
      // var actual = dd + '/' + mm + '/' + yyyy
      var actual = yyyy + '-' + mm + '-' + dd
      return actual
    },
    wrapCsvValue (val, formatFn) {
      let formatted = formatFn !== void 0
        ? formatFn(val)
        : val

      formatted = formatted === void 0 || formatted === null
        ? ''
        : String(formatted)

      formatted = formatted.split('"').join('""')
      /**
       * Excel accepts \n and \r in strings, but some other CSV parsers do not
       * Uncomment the next two lines to escape new lines
       */
      // .split('\n').join('\\n')
      // .split('\r').join('\\r')

      return `"${formatted}"`
    },
    exportTable () {
      // naive encoding to csv format
      const content = [this.columns.map(col => this.wrapCsvValue(col.label))].concat(
        this.movimientos.map(row => this.columns.map(col => this.wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[ col.field === void 0 ? col.name : col.field ],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'listado-movimientos.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },
    notificacionToast (tipoNotif, msj, posicion, duracion) {
      this.$toast(msj, {
        position: posicion,
        type: tipoNotif,
        timeout: duracion,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        // draggable: true,
        // draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: 'button',
        icon: true,
        rtl: false
      })
    },
    openModalInfoPlaca (placa) {
      this.placa = placa
      this.modal_info_placa = true
    },
    cerrarModal () {
      this.modal_info_placa = false
      this.placa = ''
    },
    obtenerGestionEntregas () {
      var self = this
      self.loading = true
      axios.get(this.api_url + '/api/despachos-novedad/movimientos/', {
        params: {
          token: localStorage.getItem('token'),
          fecha_inicial: self.fecha_inicio,
          fecha_final: self.fecha_final,
          estado: self.select_estado
        }
      }).then((response) => {
        self.movimientos = response.data
      }).finally(function () {
        self.loading = false
      })
    },
    formatPrice (value, decimales = 0) {
      let val = (value / 1).toFixed(decimales).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    notificacion (color, colorTexto, icono, mensaje, posicion, tiempo) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        timeout: tiempo,
        position: posicion
      })
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    }
  },
  created () {
  },
  beforeDestroy () {
  },
  mounted () {
    this.fecha_inicio = this.obtenerFechas('inicio')
    this.fecha_final = this.obtenerFechas('fin')
    this.obtenerGestionEntregas()
  },
  watch: {
  }
}
</script>
<style>
.doc-card-title {
  margin-left: -14px;
  padding: 2px 15px 4px 24px;
  background: #225A3F;
  color: #ffffff;
  position: relative;
  border-radius: 3px 3px 3px 0;
}
.my-table-details{
  text-align: justify;
  font-size: 0.90em;
  font-style: italic;
  max-width: 270px;
  white-space: normal;
  margin-top: 4px;
}
.doc-card-title::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
    border-top-color: transparent;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
  border-top-color: #2D7B58;
  border-width: 9px 0 0 11px;
}
</style>
