<template>

  <div class="row" v-if="!verificaPermiso(35)">
    <usuarios-no-autorizado/>
  </div>

  <div class="q-pa-none" v-else align="center">
    <div class="q-pa-none" v-if="$q.platform.is.desktop === true">
      <div  class="row bg-white q-pa-xs rounded-borders" style="width:45%;border:1px solid #dfdbdb">
        <div class="col-12">
          <div class="row q-pa-md" v-show="modoLectura === false">
            <div class="col-12">
              <q-btn-toggle
                v-model="tipo_consulta"
                toggle-color="primary"
                :options="[
                  {label: 'Placa', value: 'placa'},
                  {label: 'No. Despacho', value: 'despacho'}
                ]"
              />
            </div>
          </div>
          <div class="row" v-show="tipo_consulta == 'placa'">
            <div class="col-12 text-h6 text-center">
              <q-icon name="fas fa-search" class="q-mr-sm" color="grey-6" size="20px"/>Consultar vehículo por # de placa
            </div>
          </div>
          <div class="row" v-show="tipo_consulta == 'despacho'">
            <div class="col-12 text-h6 text-center">
              <q-icon name="fas fa-search" class="q-mr-sm" color="grey-6" size="20px"/>Consultar por # de despacho
            </div>
          </div>
          <div class="row q-pa-sm">
            <div class="col-8 text-h6 q-mr-sm" align="right">
              <q-input :readonly="modoLectura"  style="width:220px;text-transform: uppercase;" outlined v-model="placa"  stack-label input-class="text-center text-bold text-h5 text-red-8"/>
            </div>
            <div class="col-3 text-h6" align="left">
              <q-btn color="primary" size="21px" text-color="white" no-caps label="Consultar" @click="obtenerInfoDespacho('agrupada')"/>
            </div>
          </div>
        </div>
      </div><br>
      <div class="row q-pa-lg" style="width:85%" v-if="visualiza_mensaje">
        <div class="col-12" style="font-size:19px">
          No se encontró información relacionada a la placa no.<b> {{placa}}</b>
        </div>
      </div>
      <div class="row" style="width:85%" v-if="despachos.length > 0">
        <div class="col-12">
          <q-list bordered class="rounded-borders bg-white" style="max-width: 700px">
              <div v-for="(despacho, index) in despachos" :key="index" style="width:100%">
                  <div v-show="false">{{id_despacho = despacho.id_despacho}}</div>
                  <q-item dense class="bg-green" v-show="despacho.cargado == 'si'">
                    <q-item-section top class="col-12 gt-sm">
                      <q-item-label class="q-mt-sm text-white" style="font-size:12px">Despachado por {{despacho.usu_reg_cargado}} el dia {{despacho.fec_reg_cargado}}</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item >
                    <q-item-section top class="col-2 gt-sm">
                      <q-item-label class="q-mt-sm text-grey-7" style="font-size:12px">Despacho No.</q-item-label>
                      <q-item-label class="q-mt-sm text-red-7"><b>{{despacho.consecutivo}}</b></q-item-label>
                      <q-item-label class="q-mt-sm">Total Kg: <b>{{formatPrice(despacho.total_kilos)}}</b></q-item-label>
                    </q-item-section>

                    <q-item-section top>
                      <q-item-label lines="2">
                        <span class="text-weight-medium">[Conductor] </span>
                        <span class="text-grey-8">{{despacho.conductor}}</span>
                      </q-item-label>
                      <q-item-label lines="1">
                        <span class="text-weight-medium">[Vendedor] </span>
                        <span class="text-grey-8">{{despacho.vendedor}}</span>
                      </q-item-label>
                      <q-item-label caption lines="1">
                        <b>Fecha :</b>  {{despacho.fecha_registro}}
                      </q-item-label>
                      <q-item-label caption lines="1" v-show="tipo_consulta == 'despacho'">
                        <b>Placa : </b>  <b class="text-bold text-red ">{{despacho.placa}}</b>
                      </q-item-label>
                    </q-item-section>

                    <q-item-section top side>
                      <div class="text-grey-8 q-gutter-xs">
                        <q-btn class="gt-xs" size="10px" label="VER PEDIDO" color="primary"  icon="fas fa-eye" @click="modal_pedidos = true"/>
                      </div>
                    </q-item-section>
                  </q-item>
                  <q-item v-show="despacho.alerta_fecha" class="bg-grey-2" >
                      <q-item-label lines="2" class="q-mt-sm text-body2 text-weight-bold text-uppercase text-red">
                      {{despacho.alerta_fecha}}
                      </q-item-label>
                  </q-item>
              </div>
            </q-list>
          </div>
      </div><br>

      <div class="row" style="width:100%" v-if="despachos.length > 0">
        <div class="row" style="width: 100%">
          <div class="col-12" >
            <q-scroll-area style="height: 300px;"   :thumb-style="thumbStyle" :bar-style="barStyle">
              <div class="col-12 ">
                <q-list style="max-width: 700px" class="bg-white">
                    <q-item class="shadow-1 bg-primary" dense>
                      <q-item-section avatar >
                        <div class="text-bold text-white">Cantidad</div>
                      </q-item-section>
                      <q-item-section ><div class="text-center text-bold text-white">Producto</div></q-item-section>
                      <q-item-section side class="text-white">
                        <q-chip outline color="white" dense text-color="white">
                          {{despachos[0].info_pedidos.length}} Items
                        </q-chip>
                      </q-item-section>
                    </q-item>
                  <div v-for="(pedido, index) in despachos[0].info_pedidos" :key="index" style="width:100%">
                    <q-item dense :class="index%2 == 0 ? 'bg-grey-3': 'white'">
                      <q-item-section avatar >
                        <div ><b>{{pedido.cantidad}}</b> {{pedido.unidad_medida}}</div>
                      </q-item-section>
                      <q-item-section class="text-left text-primary" style="font-size:12px">{{pedido.cod_producto}} - {{pedido.nom_producto}}</q-item-section>
                      <q-item-section side v-show="modoLectura === false"><q-btn icon="edit" size="9px" flat color="blue-8" v-show="solo_lectura == 'no'" label="Editar"  @click="obtenerProductosPorDespacho(id_despacho, pedido.cod_producto)"/></q-item-section>
                    </q-item>
                    <q-separator />
                  </div>
                </q-list>
              </div>
              </q-scroll-area>
          </div>
        </div>
        <div class="row" style="width:100%" v-if="despachos.length > 0" v-show="false">
          <div class="row" style="width: 100%">
            <div class="col-12 q-pa-sm" v-show="solo_lectura == 'no'">
              <q-btn color="primary" icon="check"  label="Terminar cargue" @click="confirmTerminarCargue()"/>
            </div>
          </div>
        </div>
      </div>
      <q-dialog v-model="modal_pedidos" >
        <q-card  style="width: 760px; max-width: 85vw;" v-if="despachos.length > 0">
          <q-card-section>
            <div class="row q-pa-md text-primary text-bold   text-center">
              <div class="col-12">
                DETALLE DEL PEDIDO
              </div>
            </div>
            <div v-for="(encabezado, index_) in despachos[0].pedidos.pedidos_encabezado" :key="index_">
              <table  align="center" border="0" cellpadding="0" cellspacing="0" width="700px" style="border:1px solid black;">
                  <tr style="background-color:#F1D281">
                      <td colspan="2">&nbsp;&nbsp;&nbsp;<b>CLIENTE&nbsp;&nbsp;</b>  {{ encabezado.nit }} - {{ encabezado.cliente }} &nbsp; ({{ encabezado.ciudad }}) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b> Total Kg </b> {{encabezado.total_kilos}}</td>
                  </tr>
                  <tr style="background-color:#F1D281" v-show="encabezado.observaciones">
                      <td colspan="2">&nbsp;&nbsp;&nbsp;<b>Observaciones&nbsp;&nbsp;</b>{{encabezado.observaciones}}</td>
                  </tr>
                      <tr :class="detalle.usu_bodega!==null ? 'bg-grey-4':'bg-white'" style="height:35px" v-for="(detalle, index) in despachos[0].pedidos.pedidos_encabezado[index_].pedidos_detalle" :key="index">
                          <td width="80">&nbsp;&nbsp;&nbsp;(<b>{{detalle.cantidad}}</b>) {{detalle.unidad_medida}}&nbsp;&nbsp;&nbsp;</td>
                          <td width="380">{{detalle.cod_producto}} - {{detalle.nom_producto}} <b v-show="detalle.usu_bodega!==null" class="text-red">(Cantidad Modificada de {{detalle.cantidad_old}} a {{detalle.cantidad}})</b></td>
                      </tr>
              </table><br>
            </div>
          </q-card-section>
        </q-card>
      </q-dialog>
      <q-dialog v-model="modal_productos" >
        <q-card  style="width: 760px; max-width: 85vw;" v-if="despachos.length > 0">
          <q-card-section>
            <div class="row q-pa-md text-primary text-bold   text-center">
              <div class="col-12">
                MODIFICAR CANTIDADES
              </div>
            </div>
            <q-list style="max-width: 700px" class="bg-white">
              <div v-for="(producto, index) in productos" :key="index" style="width:100%">
                <q-item dense class="bg-grey-3">
                  <q-item-section >
                    <div><b class="text-primary">CLIENTE : </b>{{producto.cliente}}</div>
                  </q-item-section>
                </q-item>
                <q-item dense>
                  <q-item-section avatar >
                    <div ><b>{{producto.cantidad}}</b> {{producto.unidad_medida}}</div>
                  </q-item-section>
                  <q-item-section class="text-left text-primary" style="font-size:12px">{{producto.cod_producto}} - {{producto.nom_producto}}</q-item-section>
                  <q-item-section side>
                    <q-input style="width:110px"  outlined bottom-slots dense v-model="cantidad[index]" type="number"  label="Cantidad" stack-label>
                      <template v-slot:append>
                        <q-btn round dense color="blue-9" flat icon="save" @click="confirm(producto.id_pedido_detalle, producto.cantidad, cantidad[index], producto.cliente, index)" />
                      </template>
                    </q-input>
                  </q-item-section>
                </q-item>
                <q-separator />
              </div>
            </q-list>
          </q-card-section>
        </q-card>
      </q-dialog>
    </div>
    <div v-if="$q.platform.is.mobile === true">
      <div class="text-h6 text-primary text-center q-pa-sm text-bold">Consultar pedidos</div>
      <q-separator inset />
      <div class="row q-pa-md">
        <div class="col-12">
          <q-btn-toggle
            v-model="tipo_consulta"
            toggle-color="grey-8"
            class="text-primary"
            :options="[
              {label: 'Placa', value: 'placa'},
              {label: 'No. Despacho', value: 'despacho'}
            ]"
          />
        </div>
      </div>
      <div class="row q-pa-sm">
        <div class="col-9 text-h6" align="right">
          <q-input style="width:180px;text-transform: uppercase;" outlined v-model="placa"  stack-label input-class="text-center text-bold text-h5 text-red-8"/>
        </div>
        <div class="col-3 text-h6 q-pa-sm" align="left">
          <q-btn icon="fas fa-search"  round color="primary" size="16px" text-color="white" no-caps @click="obtenerInfoDespacho('agrupada')"/>
        </div>
      </div>
      <div class="row q-pa-lg" v-if="despachos.length == 0">
        <div class="col-12 text-h6 text-grey-7" align="center">
          Digite el número de placa o despacho para consultar el contenido que lleva el vehículo
        </div>
      </div>
      <div class="row" style="width:85%" v-if="despachos.length > 0">
        <div class="col-12">
          <q-list bordered class="rounded-borders bg-white" style="max-width: 700px">
              <div v-for="(despacho, index) in despachos" :key="index" style="width:100%">
                  <div v-show="false">{{id_despacho = despacho.id_despacho}}</div>
                  <q-item dense class="bg-green" v-show="despacho.cargado == 'si'">
                    <q-item-section top class="col-12 gt-sm">
                      <q-item-label class="q-mt-sm text-white" style="font-size:12px">Despachado por {{despacho.usu_reg_cargado}} el dia {{despacho.fec_reg_cargado}}</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item class="bg-grey-2">
                    <q-item-section top >
                      <q-item-label class="q-mt-sm text-grey-7" style="font-size:12px">Despacho No. <b class="text-red" style="font-size:13px">{{despacho.consecutivo}}</b></q-item-label>
                      <q-item-label class="q-mt-sm text-grey-8">Total Kg : <b style="font-size:20px">{{formatPrice(despacho.total_kilos)}}</b></q-item-label>
                    </q-item-section>
                    </q-item>
                  <q-item class="bg-grey-2">
                    <q-item-section top>
                      <q-item-label lines="1">
                        <span class="text-weight-medium text-grey-8">Conductor </span>
                        <span class="text-grey-8" style="font-size:12px">{{despacho.conductor}}</span>
                      </q-item-label>
                      <q-item-label lines="1">
                        <span class="text-weight-medium text-grey-8" >Vendedor </span>
                        <span class="text-grey-8" style="font-size:12px">{{despacho.vendedor}}</span>
                      </q-item-label>
                      <q-item-label lines="1">
                        <span class="text-weight-medium text-grey-8">Fecha </span>
                        <span class="text-grey-8" style="font-size:12px">{{despacho.fecha_registro}}</span>
                      </q-item-label>
                      <q-item-label caption lines="1" v-show="tipo_consulta == 'despacho'">
                        <b>Placa : </b>  <b class="text-bold text-red ">{{despacho.placa}}</b>
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item class="bg-grey-2">
                    <q-item-section top>
                      <q-item-label lines="1">
                        <q-btn  size="10px" label="VER PEDIDO" color="primary"  icon="fas fa-eye" @click="modal_pedidos = true"/>
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item v-show="despacho.alerta_fecha" class="bg-grey-2" >
                      <q-item-label style="font-size:11px" lines="2" class="q-mt-sm text-body2 text-weight-bold text-uppercase text-red">
                      {{despacho.alerta_fecha}}
                      </q-item-label>
                  </q-item>
              </div>
            </q-list>
          </div>
      </div><br>

      <div class="row" style="width:100%" v-if="despachos.length > 0">
        <div class="row" style="width: 100%">
          <div class="col-12">
            <q-scroll-area style="height: 300px;"   :thumb-style="thumbStyle" :bar-style="barStyle">
              <div class="col-12 ">
                <q-list style="max-width: 700px" class="bg-white">
                    <q-item class="shadow-1 bg-primary" dense>
                      <q-item-section avatar >
                        <div class="text-bold text-white" style="font-size:12px">Cantidad</div>
                      </q-item-section>
                      <q-item-section ><div class="text-center text-bold text-white" style="font-size:12px">Producto</div></q-item-section>
                      <q-item-section side class="text-white">
                        <q-chip outline color="white" dense text-color="white">
                          {{despachos[0].info_pedidos.length}} Items
                        </q-chip>
                      </q-item-section>
                    </q-item>
                  <div v-for="(pedido, index) in despachos[0].info_pedidos" :key="index" style="width:100%">
                    <q-item dense :class="index%2 == 0 ? 'bg-grey-3': 'white'">
                      <q-item-section avatar >
                        <div class="text-black" style="font-size:12px"><b>{{pedido.cantidad}}</b> {{pedido.unidad_medida}}</div>
                      </q-item-section>
                      <q-item-section class="text-left text-primary" style="font-size:11px">{{pedido.cod_producto}} - {{pedido.nom_producto}}</q-item-section>
                      <q-item-section side><q-btn icon="edit" size="12px" flat color="blue-8" v-show="solo_lectura == 'no'"   @click="obtenerProductosPorDespacho(id_despacho, pedido.cod_producto)"/></q-item-section>
                    </q-item>
                    <q-separator />
                  </div>
                </q-list>
              </div>
            </q-scroll-area>
          </div>
        </div>
        <div class="row" style="width:100%" v-if="despachos.length > 0">
          <div class="row" style="width: 100%">
            <div class="col-12 q-pa-sm" v-show="solo_lectura == 'no'">
              <q-btn color="primary" icon="check"  label="Terminar cargue" @click="confirmTerminarCargue()"/>
            </div>
          </div>
        </div>
      </div>

      <q-dialog v-model="modal_pedidos" :maximized="true">
        <div class="q-pa-none bg-white" v-if="despachos.length > 0">
          <q-btn color="red-8" flat label="Cerrar" icon="close" v-close-popup/>
          <q-list  class="rounded-borders" >
            <q-item-label header class="bg-primary text-white text-center text-bold">Detalle del despacho</q-item-label>
            <q-scroll-area style="height:100vh">
                <div v-for="(encabezado, index_) in despachos[0].pedidos.pedidos_encabezado" :key="index_">
                  <q-item  style="background-color:#F1D281" v-ripple >
                    <q-item-section >
                      <q-item-label overline class="text- text-black">{{ encabezado.cliente }}</q-item-label>
                      <q-item-label caption><b>({{ encabezado.ciudad }})</b></q-item-label>
                      <q-item-label caption v-show="encabezado.observaciones">"{{encabezado.observaciones}}"</q-item-label>
                    </q-item-section>

                    <q-item-section side top>
                      <q-item-label style="font-size:12px" class="text-bold">{{encabezado.total_kilos}} Kg</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item dense v-for="(detalle, index) in despachos[0].pedidos.pedidos_encabezado[index_].pedidos_detalle" :key="index">
                    <q-item-section>
                      <q-item-label style="font-size:11px">{{detalle.cod_producto}} - {{detalle.nom_producto}}</q-item-label>
                      <q-item-label style="font-size:11px" class="text-red" v-show="detalle.usu_bodega!==null">(Cantidad Modificada de {{detalle.cantidad_old}} a {{detalle.cantidad}})</q-item-label>
                    </q-item-section>

                    <q-item-section side style="font-size:11px" class="text-bold">
                      {{detalle.cantidad}} {{detalle.unidad_medida}}
                    </q-item-section>
                  </q-item>
                </div>
            </q-scroll-area>
          </q-list>
        </div>
      </q-dialog>

      <q-dialog v-model="modal_productos" >
        <q-card  style="width: 760px; max-width: 85vw;" v-if="despachos.length > 0">
          <q-card-section>
            <div class="row q-pa-md text-primary text-bold   text-center">
              <div class="col-12">
                MODIFICAR CANTIDADES
              </div>
            </div>
            <q-list style="max-width: 700px" class="bg-white">
              <div v-for="(producto, index) in productos" :key="index" style="width:100%">
                <q-item dense class="bg-grey-3">
                  <q-item-section >
                    <div><b class="text-primary">CLIENTE : </b>{{producto.cliente}}</div>
                  </q-item-section>
                </q-item>
                <q-item dense>
                  <q-item-section avatar >
                    <div ><b>{{producto.cantidad}}</b> {{producto.unidad_medida}}</div>
                  </q-item-section>
                  <q-item-section class="text-left text-primary" style="font-size:12px">{{producto.cod_producto}} - {{producto.nom_producto}}</q-item-section>
                  <q-item-section side>
                    <q-input style="width:110px"  outlined bottom-slots dense v-model="cantidad[index]" type="number"  label="Cantidad" stack-label>
                      <template v-slot:append>
                        <q-btn round dense color="blue-9" flat icon="save" @click="confirm(producto.id_pedido_detalle, producto.cantidad, cantidad[index], producto.cliente, index)" />
                      </template>
                    </q-input>
                  </q-item-section>
                </q-item>
                <q-separator />
              </div>
            </q-list>
          </q-card-section>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
// import { date } from 'quasar'
export default {
  props: {
    nroPlaca: {
      type: String,
      required: true
    },
    modoLectura: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      tipo_consulta: 'placa',
      thumbStyle: {
        right: '4px',
        borderRadius: '5px',
        backgroundColor: '#225A3F',
        width: '8px',
        opacity: 0.75
      },
      barStyle: {
        right: '2px',
        borderRadius: '9px',
        backgroundColor: '#225A3F',
        width: '12px',
        opacity: 0.2
      },
      cantidad: [],
      id_despacho: '',
      solo_lectura: 'no',
      placa: '',
      modal_productos: false,
      visualiza_mensaje: false,
      modal_pedidos: false,
      despachos: [],
      productos: []
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    }
  },
  methods: {
    modificaItemPedido (Idregistro, CantNue, index) {
      var self = this
      self.showLoading('Editando registro, por favor espere ...')
      axios.put(this.api_url + '/api/despachos/editar-detalle-pedido', {
        id_detalle: Idregistro,
        cantidad: CantNue,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.hideLoading()
          self.modal_productos = false
          self.cantidad[index] = ''
          self.obtenerInfoDespacho('agrupada')
          self.notificacion('green', 'white', 'fas fa-check', res.data.mensaje, 'center', 3000)
        } else {
          self.hideLoading()
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'center', 3000)
        }
      }).catch(function (err) {
        self.hideLoading()
        self.notificacion('red-5', 'white', 'warning', err, 'center', 3000)
      })
    },
    terminarCargue () {
      var self = this
      if (!self.id_despacho) {
        self.notificacion('red-5', 'white', 'warning', 'Falta información del despacho, recargue la página', 'center', 3000)
        return false
      }
      self.showLoading('Terminando cargue, por favor espere ...')
      axios.put(this.api_url + '/api/despachos/terminar-cargue', {
        id_despacho: self.id_despacho,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.hideLoading()
          self.obtenerInfoDespacho('agrupada')
          self.notificacion('green', 'white', 'fas fa-check', res.data.mensaje, 'center', 3000)
        } else {
          self.hideLoading()
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'center', 3000)
        }
      }).catch(function (err) {
        self.hideLoading()
        self.notificacion('red-5', 'white', 'warning', err, 'center', 3000)
      })
    },
    confirmTerminarCargue () {
      this.$q.dialog({
        title: 'Dar por finalizado el cargue',
        message: '¿Está seguro de terminar el cargue?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.terminarCargue()
      }).onOk(() => {
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    confirm (idRegistro, cantidadAnterior, cantidadNueva, cliente, posicion) {
      if (cantidadNueva === '' || cantidadNueva === undefined) {
        this.notificacion('red-5', 'white', 'warning', 'Digite la cantidad a modificar', 'center', 1500)
        return false
      }
      this.$q.dialog({
        title: 'Modificación de producto',
        message: 'Cliente : ' + cliente + '<br><br>¿Está seguro de modificar las cantidades?<br><br> <b>Cantidad actual : </b> ' + cantidadAnterior + '<br><b class="text-h6">Nueva cantidad : </b>' + '<b class="text-h6">' + cantidadNueva + '</b>',
        cancel: true,
        html: true,
        persistent: true
      }).onOk(() => {
        this.modificaItemPedido(idRegistro, cantidadNueva, posicion)
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    notificacion (color, colorTexto, icono, mensaje, posicion, duracion) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        position: posicion,
        timeout: duracion
      })
    },
    formatPrice (value, decimales = 0) {
      let val = (value / 1).toFixed(decimales).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    obtenerProductosPorDespacho (IdDespacho, CodProducto) {
      var self = this
      self.showLoading('Obteniendo información, por favor espere ...')
      axios.get(this.api_url + '/api/despachos/productos-por-despachos', {
        params: {
          token: localStorage.getItem('token'),
          id_despacho: IdDespacho,
          cod_producto: CodProducto
        }
      }).then((response) => {
        self.productos = response.data
      }).finally(function () {
        self.modal_productos = true
        // console.log(self.productos)
        self.hideLoading()
      })
    },
    obtenerInfoDespacho (opcionVista) {
      var self = this
      self.id_despacho = ''
      self.despachos.length = 0
      self.showLoading('Obteniendo información, por favor espere ...')
      axios.get(this.api_url + '/api/despachos/consulta-por-placa', {
        params: {
          token: localStorage.getItem('token'),
          vista: opcionVista,
          placa: this.placa,
          tipo_consulta: this.tipo_consulta,
          solo_autorizado: 'si'
        }
      }).then((response) => {
        self.despachos = response.data
      }).finally(function () {
        if (self.despachos.length === 0) {
          self.visualiza_mensaje = true
        } else {
          self.visualiza_mensaje = false
        }
        if (self.despachos.length > 0) {
          self.solo_lectura = self.despachos[0].cargado
        }
        self.hideLoading()
      })
    }
  },
  created () {
  },
  beforeDestroy () {
  },
  mounted () {
    if (this.nroPlaca) {
      this.placa = this.nroPlaca
      this.obtenerInfoDespacho('agrupada')
    }
  },
  watch: {
    tipo_consulta () {
      this.despachos.length = 0
      this.placa = ''
    }
  }
}
</script>
<style lang="sass">
.my-sticky-header-table-informes
  /* max height is important */
  .q-table__middle
    max-height: 200px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #225A40

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
