<template>

  <div class="row" v-if="!verificaPermiso(52)">
    <usuarios-no-autorizado/>
  </div>

  <div class="q-pa-none" v-else>
    <div class="row q-py-lg">
      <div class="col-12 text-center text-h6 text-primary q-py-none">
        <q-icon name="fas fa-boxes" size="26px" class="q-mr-md"/>GESTIONAR PRODUCCIONES
      </div>
    </div>
    <div class="row q-pa-md bg-white shadow-1">
      <div class="col-lg-2 col-md-2 col-sm-2">
        Filtrar producciones por fecha:
      </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
          <q-input dense outlined  stack-label label="Desde" v-model="fecha_1" style="max-width: 170px;">
            <template v-slot:append>
              <q-icon name="fas fa-calendar-day" class="cursor-pointer">
                <q-popup-proxy ref="qDateProxy2" cover transition-show="scale" transition-hide="scale">
                  <q-date :locale="myLocale" v-model="fecha_1" mask="YYYY-MM-DD" @input="() => $refs.qDateProxy2.hide()" />
                </q-popup-proxy>
              </q-icon>
            </template>
            </q-input>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
          <q-input dense outlined  label="Hasta" stack-label v-model="fecha_2" style="max-width: 170px;">
            <template v-slot:append>
              <q-icon name="fas fa-calendar-day" class="cursor-pointer">
                <q-popup-proxy ref="qDateProxy3" cover transition-show="scale" transition-hide="scale">
                  <q-date :locale="myLocale" v-model="fecha_2" mask="YYYY-MM-DD" @input="() => $refs.qDateProxy3.hide()" />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
          <q-btn no-caps label="Filtrar información" color="primary" size="15px" @click="obtenerListadoMovimientosTotalizado();productos=[]"/>
        </div>
    </div><br>
    <div class="row">
       <div class="col-lg-6 col-md-6 col-sm-6 q-mr-md">
          <q-table
            title-class="text-white"
            title="Producciones"
            class="my-sticky-header-table-despachos"
            :data="producciones"
            :columns="columns"
            row-key="cod_barras"
            :loading="loading_producciones"
            :filter="filter"
            table-style="max-height: 1000px"
            flat
            dense
            bordered
            :pagination.sync="pagination"
            :rows-per-page-options="[0]"
            color="white"
          >

            <template v-slot:top-right>
              <q-btn
                  color="white"
                  flat
                  icon-right="fas fa-sync-alt"
                  label="Actualizar lista"
                  no-caps
                  size="12px"
                  class="cursor-pointer q-mr-xs"
                  @click="obtenerListadoMovimientosTotalizado();productos = []"
              />
              <q-btn
                  color="white"
                  flat
                  icon-right="fas fa-arrow-alt-circle-down"
                  label="Exportar Información"
                  no-caps
                  size="12px"
                  class="cursor-pointer q-mr-none"
                  @click="exportTable"
              />
              <q-input  dark dense standout v-model="filter" input-class="text-right" class="q-ml-none" placeholder="Filtrar información">
                <template v-slot:append>
                  <q-icon v-if="filter === ''" name="search" />
                  <q-icon v-else name="clear" class="cursor-pointer" @click="filter = ''" />
                </template>
              </q-input>
            </template>

            <template v-slot:body="props">
              <q-tr :props="props" class="text-grey-8" >

                <q-td key="fecha" :props="props" style="font-size:12px">
                  {{ props.row.fecha }}
                </q-td>

                <q-td key="consecutivo" :props="props" style="font-size:11px" class="text-bold text-primary">
                  {{props.row.consecutivo}}
                </q-td>

                <q-td key="nombre_consecutivo" :props="props" style="font-size:11px" >
                  {{props.row.nombre_consecutivo}}
                </q-td>

                <q-td key="cantidad" :props="props" style="font-size:12px" class="text-blue-8 text-bold">
                  {{ formatPrice(props.row.cantidad) }} {{ props.row.unidad_medida }}
                </q-td>

                <q-td key="num_registros" :props="props">
                    <q-chip v-show="props.row.gestionado == 'no'" size="12px">
                      <q-avatar  color="red" text-color="white">{{ formatPrice(props.row.num_registros) }}</q-avatar>
                      Por gestionar
                    </q-chip>
                    <q-chip v-show="props.row.gestionado == 'si'" size="12px">
                      <q-avatar  color="green" text-color="white">{{ formatPrice(props.row.num_registros) }}</q-avatar>
                      Gestionado
                    </q-chip>
                </q-td>

                <q-td key="acciones" :props="props">
                  <q-btn color="grey-8" no-caps size="12px" dense flat label="Ver Detalle"  @click="obtenerDetalleProductos(props.row)" />
                </q-td>
              </q-tr>
            </template>
          </q-table>
       </div>
       <div class="col-lg-5 col-md-5 col-sm-5">
        <q-table
            title-class="text-white"
            title="Productos"
            class="my-sticky-header-table-despachos"
            :data="productos"
            :columns="columns_pro"
            row-key="cod_barras"
            table-style="max-height: 1000px"
            flat
            dense
            bordered
            :pagination.sync="pagination"
            :rows-per-page-options="[0]"
            color="white"
          >
            <template v-slot:body="props">
              <q-tr :props="props" class="text-grey-8" >

                <q-td key="cod_barras" :props="props" style="font-size:11px" class="text-bold">
                  {{ props.row.cod_barras }}
                </q-td>

                <q-td key="nom_producto" :props="props" style="font-size:11px">
                  {{props.row.nom_producto}}
                </q-td>

                <q-td key="cantidad" :props="props" style="font-size:11px" class="text-blue-8 text-bold">
                  {{ formatPrice(props.row.cantidad) }} {{ props.row.unidad_medida }}
                </q-td>

                <q-td key="num_registros" :props="props" style="font-size:11px">
                  <q-chip v-show="props.row.gestionado == '0'" size="11px">
                      <q-avatar  color="red" text-color="white">{{ formatPrice(props.row.num_registros) }}</q-avatar>
                      Por gestionar
                    </q-chip>
                    <q-chip v-show="props.row.gestionado == '1'" size="11px">
                      <q-avatar  color="green" text-color="white">{{ formatPrice(props.row.num_registros) }}</q-avatar>
                      Gestionado
                    </q-chip>
                    {{ props.row.nro_dcto_erp }}
                </q-td>

              </q-tr>
            </template>
          </q-table>
          <div align="center" class="q-py-md" v-show="productos.length>0">
            <q-btn v-show="gestionado == 'no' && consecutivo !== ''"  color="primary" label="Ingresar producción" size="12px" @click="confirmingresarProduccionErp()"/>
          </div>
       </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { exportFile } from 'quasar'
export default {
  data () {
    return {
      consecutivo: '',
      fecha_produccion: '',
      gestionado: 'no',
      fecha_1: this.fechaActual('hoy'),
      fecha_2: this.fechaActual('hoy'),
      modal_confirm_registro: false,
      info: {
        codigo_barra: '',
        consecutivo: '',
        cod_producto: '',
        nom_producto: '',
        uni_medida: '',
        cantidad: ''
      },
      unidad_medida: ['@', 'BTO', 'UND', 'KLS', 'CJA', 'PAQ', 'LBS'],
      consecutivos: [],
      productos: [],
      productos_local_aux: [],
      consecutivos_local_aux: [],
      expanded: true,
      filter: '',
      loading_producciones: false,
      pagination: {
        rowsPerPage: 15
      },
      producciones: [],
      columns: [
        { name: 'fecha', align: 'center', label: 'Fecha', field: 'fecha', sortable: true, style: 'width: 100px', headerClasses: 'text-white' },
        { name: 'consecutivo', align: 'center', label: 'Consecutivo', field: 'consecutivo', sortable: true, style: 'width: 100px', headerClasses: 'text-white' },
        { name: 'nombre_consecutivo', align: 'left', label: 'Nombre', field: 'nombre_consecutivo', sortable: true, style: 'width: 40px', headerClasses: 'text-white' },
        // { name: 'nom_producto', align: 'left', label: 'Producto', field: 'nom_producto', sortable: true, style: 'width: 100px', headerClasses: 'text-white' },
        // { name: 'unidad_medida', align: 'center', label: 'Unid. Medida', field: 'unidad_medida', sortable: true, style: 'width: 60px', headerClasses: 'text-white' },
        { name: 'cantidad', align: 'right', label: 'Cantidad', field: 'cantidad', sortable: true, style: 'width: 60px', headerClasses: 'text-white' },
        { name: 'num_registros', align: 'right', label: '# Movimientos', field: 'num_registros', sortable: true, style: 'width: 30px', headerClasses: 'text-white' },
        { name: 'acciones', align: 'center', label: 'Acciones', field: 'acciones', sortable: false, style: 'width: 150px', headerClasses: 'text-white' }
      ],
      columns_pro: [
        { name: 'cod_barras', align: 'left', label: 'Cod. Barras', field: 'cod_barras', sortable: true, style: 'width: 100px', headerClasses: 'text-white' },
        { name: 'nom_producto', align: 'left', label: 'Producto', field: 'nom_producto', sortable: true, style: 'width: 100px', headerClasses: 'text-white' },
        // { name: 'unidad_medida', align: 'center', label: 'Unid. Medida', field: 'unidad_medida', sortable: true, style: 'width: 60px', headerClasses: 'text-white' },
        { name: 'cantidad', align: 'right', label: 'Cantidad', field: 'cantidad', sortable: true, style: 'width: 150px', headerClasses: 'text-white' },
        { name: 'num_registros', align: 'right', label: '# Movimientos', field: 'num_registros', sortable: true, style: 'width: 80px', headerClasses: 'text-white' }
      ],
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      }
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    }
  },
  methods: {
    fechaActual (opcionDia) {
      var today = new Date()
      var dd = today.getDate()
      if (opcionDia === 'ayer') {
        dd = today.getDate() - 1
      }
      var mm = today.getMonth() + 1 // January is 0!
      var yyyy = today.getFullYear()
      if (dd < 10) {
        dd = '0' + dd
      }
      if (mm < 10) {
        mm = '0' + mm
      }
      // var actual = dd + '/' + mm + '/' + yyyy
      var actual = yyyy + '-' + mm + '-' + dd
      return actual
    },
    openModal (data) {
      this.info.cod_barras = data.cod_barras
      this.info.consecutivo = data.consecutivo
      this.info.cod_producto = data.cod_producto
      this.info.nom_producto = data.nom_producto
      this.info.uni_medida = data.unidad_medida
      this.info.cantidad = data.cantidad
      this.modal_confirm_registro = true
    },
    wrapCsvValue (val, formatFn) {
      let formatted = formatFn !== void 0
        ? formatFn(val)
        : val

      formatted = formatted === void 0 || formatted === null
        ? ''
        : String(formatted)

      formatted = formatted.split('"').join('""')
      /**
       * Excel accepts \n and \r in strings, but some other CSV parsers do not
       * Uncomment the next two lines to escape new lines
       */
      // .split('\n').join('\\n')
      // .split('\r').join('\\r')

      return `"${formatted}"`
    },
    exportTable () {
      // naive encoding to csv format
      const content = [this.columns.map(col => this.wrapCsvValue(col.label))].concat(
        this.producciones.map(row => this.columns.map(col => this.wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[ col.field === void 0 ? col.name : col.field ],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'listado-producciones.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },
    formatPrice (value) {
      let val = (value / 1).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    confirmingresarProduccionErp () {
      this.$q.dialog({
        title: 'INGRESAR PRODUCCIÓN',
        message: '¿Está seguro de ingresar la producción?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.ingresarProduccionErp()
      }).onOk(() => {
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    ingresarProduccionErp () {
      this.showLoading('Registrando información por favor espere un momento ...')
      var self = this
      axios.post(self.api_url + '/api/movimiento-produccion/ingresar-erp/', {
        fecha_produccion: self.fecha_produccion,
        consecutivo: self.consecutivo,
        productos: self.productos.filter(pro => pro.gestionado === '0'),
        token: localStorage.getItem('token')
      }).then(function (res) {
        self.hideLoading()
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-right', 4000)
          self.hideLoading()
          self.limpiarData()
          self.obtenerListadoMovimientosTotalizado()
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-right', 5000)
          self.hideLoading()
        }
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('success', err, 'top-right', 5000)
        self.hideLoading()
      })
    },
    limpiarData () {
      var self = this
      self.consecutivo = ''
      self.gestionado = ''
      self.fecha_produccion = ''
      self.productos = []
    },
    notificacionToast (tipoNotif, msj, posicion, duracion) {
      this.$toast(msj, {
        position: posicion,
        type: tipoNotif,
        timeout: duracion,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        // draggable: true,
        // draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: 'button',
        icon: true,
        rtl: false
      })
    },
    obtenerListadoMovimientosTotalizado () {
      var self = this
      self.loading_producciones = true
      self.producciones.length = 0
      axios.get(self.api_url + '/api/movimiento-produccion/listado-por-getionar/', {
        params: {
          desde: self.fecha_1,
          hasta: self.fecha_2,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.producciones = response.data
      }).finally(function () {
        self.loading_producciones = false
      })
    },
    obtenerDetalleProductos (data) {
      var self = this
      self.productos.length = 0
      axios.get(self.api_url + '/api/movimiento-produccion/listado-productos-consolidado/', {
        params: {
          consecutivo: data.consecutivo,
          fecha_produccion: data.fecha,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.productos = response.data
      }).finally(function () {
        self.consecutivo = data.consecutivo
        self.gestionado = data.gestionado
        self.fecha_produccion = data.fecha
      })
    },
    obtenerInfoMaestro (data) {
      var self = this
      self.expanded = true
      self.info.id_registro = data.id_registro
      self.info.codigo_barra = data.cod_barras
      self.info.consecutivo = { CODIGOCONS: data.consecutivo, DESCRIPCIO: data.nombre_consecutivo }
      self.info.producto = { codigo: data.cod_producto, descripcion: data.nom_producto }
      self.info.uni_medida = data.unidad_medida
      self.info.cantidad = data.cantidad
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    }
  },
  created () {
  },
  beforeDestroy () {
  },
  mounted () {
    this.obtenerListadoMovimientosTotalizado()
  },
  watch: {
  }
}
</script>
<style lang="sass">
.my-sticky-header-table-despachos
  /* max height is important */
  .q-table__middle
    max-height: 200px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #225A40

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
