<template>

  <div class="row" v-if="!verificaPermiso(48)">
    <usuarios-no-autorizado/>
  </div>

  <div class="q-pa-none" v-else>

    <q-dialog
      v-model="modal_main"
      persistent
      :maximized="maximizedToggle"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card dense class="bg-white text-white">
        <q-bar class="bg-white">
          <em class="text-grey-7" style="font-size: 13px;">Ult. Actualización inf: {{datetime_update}}</em>
          <q-space />
          <q-btn size="12px" flat color="red-7" label="Cerrar ventana"  icon="close" v-close-popup>
            <q-tooltip class="bg-white text-primary">Cerrar ventana</q-tooltip>
          </q-btn>
        </q-bar>

        <q-card-section>

          <div class="row q-pa-none">
            <!-- Para que muestre a todos menos a los bodegueros el seguimiento diario de ventas -->
            <div :class="rol !== 'BODEGUERO' ? 'col-10':'col-12'">
              <div class="row q-pa-none">
                <div class="col-12 text-center text-bold text-primary" style="font-size:24px"><q-icon name="fas fa-history" size="30px" class="q-mr-sm text-bold" color="primary" />TABLERO DE TURNOS</div>
              </div>

                <div class="row q-py-xl">
                  <div class="col-6 text-left text-bold text-indigo-10" style="font-size:23px">::: VEHÍCULOS REPORTADOS :::</div>
                  <div class="col-6 text-right">
                    <q-btn-toggle
                      v-model="filtro_ficho"
                      class="text-primary"
                      toggle-color="primary"
                      :options="[
                        {label: 'Industrial', value: 'industrial'},
                        {label: 'Subproducto', value: 'subproducto'},
                        {label: 'Paqueteo', value: 'paqueteo'},
                        {label: 'Contado', value: 'contado'},
                        {label: 'Mostrar todo', value: ''},
                      ]"
                  />
                  </div>
                </div>

                <div class="q-pa-none col-12">
                  <div class="row bg-light-blue-1 q-pa-md text-center text-indigo-10" v-show="params_reportados.data.length == 0">
                    <div class="col-12 text-h6">No hay vehículos reportados por el momento ...</div>
                  </div>
                  <div class="row justify-left q-gutter-md">
                    <q-intersection
                      v-for="(reportado, index) in params_reportados.data"
                      :key="index"
                      :class="(rol === 'BODEGUERO' || rol === 'ADMINISTRADOR') ? 'example-item-reportados':'example-item-reportados-tv'"
                    >

                        <q-card  class="bg-indigo-10 " >
                          <q-card-section @click="openModalInfoPlaca(reportado.placa, reportado.estado)">
                            <div class="row items-center no-wrap">
                              <div class="col ">
                                <q-btn round color="yellow-6 text-black" class="text-bold absolute" style="font-size:14px;top: -35%; right: 0px; transform: translateX(-12%);">{{ reportado.posicion }}</q-btn>
                                <div class="text-h6 text-center text-white text-bold " style="font-size:35px"><b :class="reportado.alerta === true ? 'parpadea':''">{{ reportado.placa }}</b></div>
                                <div class="text-subtitle2 text-center "><q-chip square class="text-bold absolute" size="20px" style="top: 0; right: 180px; transform: translateY(-60%);">{{ reportado.ficho }}</q-chip></div>
                              </div>
                            </div>
                          </q-card-section>

                          <q-card-section class="text-white text-center q-pa-none" @click="openModalInfoPlaca(reportado.placa, reportado.estado)">
                            <div style="font-size:13px" class="text-bold">{{ reportado.conductor }}</div>
                            <q-icon name="fas fa-phone-alt" class="q-mr-sm"/><b style="font-size:18px">{{ reportado.celular }}</b><br>
                            <em v-show="false"><b>Reportado :</b> {{ reportado.fecha_hora_reporta }}</em>
                            <div class="text-white text-bold">{{ reportado.tiempo }}</div>
                            <q-chip color="white" class="text-bold" square size="12px" v-show="reportado.ciudad">{{ obtenerNombreFichos(reportado.ficho) + ' - ' + reportado.ciudad }}</q-chip><br>
                          </q-card-section>

                          <q-separator />

                          <q-card-actions align="center" class="bg-indigo-1" v-if="verificaPermiso(47)">
                            <q-btn round size="11px" icon="fas fa-trash" dense flat color="red-6" @click="confirmActualizaEstadoTurno(reportado.id_registro, 'eliminar')"/>
                            <q-btn v-show="reportado.autorizado_ingreso == 'si'" dense flat color="orange-10" @click="confirmActualizaEstadoTurno(reportado.id_registro, 'en_espera')">En espera</q-btn>
                            <q-btn v-show="reportado.autorizado_ingreso == 'si'" dense flat color="primary" @click="confirmActualizaEstadoTurno(reportado.id_registro, 'en_cargue')">Cargar</q-btn>
                            <q-btn v-show="reportado.autorizado_ingreso == 'si'" flat class="full-width text-bold" icon-right="fas fa-check"  label="Ingreso autorizado" no-caps color="deep-purple-10" />
                            <q-btn v-show="reportado.autorizado_ingreso == 'no'" flat class="full-width text-bold" icon="fas fa-sign-in-alt" label="Autorizar ingreso" no-caps color="black" @click="confirmActualizaEstadoTurno(reportado.id_registro, 'autorizar_ingreso', reportado.placa)"/>
                          </q-card-actions>
                        </q-card>
                    </q-intersection>
                  </div>
                </div>

                <div class="row q-py-lg">
                  <div class="col-12 text-left text-bold text-orange-10" style="font-size:23px">::: VEHÍCULOS EN ESPERA DE CARGUE :::</div>
                </div>

                <div class="row bg-orange-2 q-pa-md text-center text-orange-10" v-show="params_en_espera.data.length == 0">
                    <div class="col-12 text-h6">No hay vehículos en espera de cargue ...</div>
                </div>

                <div class="q-pa-none col-12">
                  <div class="row justify-left q-gutter-md">
                    <q-intersection
                      v-for="(reportado, index) in params_en_espera.data"
                      :key="index"
                      :class="(rol === 'BODEGUERO' || rol === 'ADMINISTRADOR') ? 'example-item-espera':'example-item-espera-tv'"
                    >

                        <q-card  class="bg-orange-10">
                          <q-card-section  @click="openModalInfoPlaca(reportado.placa, reportado.estado)" class="q-pa-sm">
                            <div class="row items-center no-wrap ">
                              <div class="col">
                                <q-btn round color="yellow-6 text-black" class="text-bold absolute" style="font-size:14px;top: -35%; right: 5px; transform: translateX(-12%);">{{ reportado.posicion }}</q-btn>
                                <div class="text-h6 text-center text-white text-bold" style="font-size:35px"><b :class="reportado.alerta === true ? 'parpadea':''">{{ reportado.placa }}</b></div>
                                <div class="text-subtitle2 text-center "><q-chip square class="text-bold absolute" style="top: 0; right: 220px; transform: translateY(-60%);" size="20px">{{ reportado.ficho }}</q-chip></div>
                              </div>
                            </div>
                          </q-card-section>

                          <q-card-section class="text-white text-center q-pa-none"  @click="openModalInfoPlaca(reportado.placa, reportado.estado)">
                            <div style="font-size:13px" class="text-bold">{{ reportado.conductor }}</div>
                            <q-icon name="fas fa-phone-alt" class="q-mr-sm"/><b style="font-size:18px">{{ reportado.celular }}</b>
                            <em v-show="false"><b>En espera :</b> {{ reportado.fecha_hora_en_espera }}</em><br>
                            <div class="text-white text-bold">{{ reportado.tiempo }}</div>
                            <q-chip color="white" class="text-bold" square size="12px" v-show="reportado.ciudad">{{ obtenerNombreFichos(reportado.ficho) + ' - ' + reportado.ciudad }}</q-chip><br>
                            <div class="text-white bg-indigo-10">Reportado: {{ reportado.tiempo_reporto }}</div>
                          </q-card-section>

                          <q-separator />

                          <q-card-actions align="center" class="bg-orange-1" v-if="verificaPermiso(47)">
                            <q-btn round size="11px" icon="fas fa-trash" dense flat color="red-6" @click="confirmActualizaEstadoTurno(reportado.id_registro, 'eliminar')"/>
                            <q-btn dense flat color="indigo-10" @click="confirmActualizaEstadoTurno(reportado.id_registro, 'reportado')">Reportados</q-btn>
                            <q-btn dense  flat color="primary" @click="confirmActualizaEstadoTurno(reportado.id_registro, 'en_cargue')">Cargar</q-btn>
                          </q-card-actions>
                        </q-card>

                    </q-intersection>
                  </div>
                </div>

                <div class="row q-py-lg">
                  <div class="col-12 text-left text-bold text-green-9" style="font-size:23px">::: VEHÍCULOS EN ZONA DE CARGUE :::</div>
                </div>

                <div class="row bg-light-green-1 q-pa-md text-center text-primary" v-show="params_en_cargue.data.length == 0">
                    <div class="col-12 text-h6">No hay vehículos en zona de cargue ...</div>
                </div>

                <div class="q-pa-none col-12">
                  <div class="row justify-left q-gutter-md">
                    <q-intersection
                      v-for="(reportado, index) in params_en_cargue.data"
                      :key="index"
                      :class="(rol === 'BODEGUERO' || rol === 'ADMINISTRADOR') ? 'example-item-cargue':'example-item-cargue-tv'"
                    >

                        <q-card  class="bg-green-10">
                          <q-card-section  @click="openModalInfoPlaca(reportado.placa, reportado.estado)">
                            <div class="row items-center no-wrap ">
                              <div class="col">
                                <div class="text-h6 text-center text-white text-bold" style="font-size:35px"><b :class="reportado.alerta === true ? 'parpadea':''">{{ reportado.placa }}</b></div>
                                <div class="text-subtitle2 text-center "><q-chip square class="text-bold absolute" style="top: 0; right: 220px; transform: translateY(-60%);" size="20px">{{ reportado.ficho }}</q-chip></div>
                              </div>
                            </div>
                          </q-card-section>

                          <q-card-section class="text-white text-center q-pa-none"  @click="openModalInfoPlaca(reportado.placa, reportado.estado)">
                            <div style="font-size:13px" class="text-bold">{{ reportado.conductor }}</div>
                            <q-icon name="fas fa-phone-alt" class="q-mr-sm"/><b style="font-size:18px">{{ reportado.celular }}</b><br>
                            <em v-show="false"><b>En cargue :</b> {{ reportado.fecha_hora_cargue }}</em>
                            <div class="text-white text-bold">{{ reportado.tiempo }}</div>
                            <q-chip color="white" class="text-bold" square size="12px" v-show="reportado.ciudad">{{ obtenerNombreFichos(reportado.ficho) + ' - ' + reportado.ciudad }}</q-chip><br>
                            <div class="text-white bg-indigo-10">Reportado: {{ reportado.tiempo_reporto }}</div>
                          </q-card-section>

                          <q-separator />

                          <q-card-actions align="center" class="bg-green-1" v-if="verificaPermiso(47)">
                            <q-btn round size="11px" icon="fas fa-trash" dense flat color="red-6" @click="confirmActualizaEstadoTurno(reportado.id_registro, 'eliminar')"/>
                            <q-btn dense flat color="indigo-10" @click="confirmActualizaEstadoTurno(reportado.id_registro, 'reportado')">Reportados</q-btn>
                            <q-btn dense flat color="orange-10" @click="confirmActualizaEstadoTurno(reportado.id_registro, 'en_espera')">Espera</q-btn>
                            <q-btn dense  flat color="primary" @click="confirmTerminarCargue(reportado.id_despacho)">Finalizar cargue</q-btn>
                          </q-card-actions>
                        </q-card>

                    </q-intersection>
                  </div>
                </div>

                <q-page-sticky position="bottom-right" :offset="[85, 18]">
                    <q-btn  padding="md"  icon="fa fa-expand" color="grey-7"  style="font-size:11px"  @click="$q.fullscreen.toggle()" />
                </q-page-sticky>

                <q-page-sticky position="bottom-right" :offset="[18, 18]" >
                    <q-btn rounded  padding="md"  icon="fa fa-sync" color="primary"  style="font-size:11px"  @click="actualizaTablero()" />
                </q-page-sticky>
              </div>
              <div class="col-2" v-show="rol !== 'BODEGUERO'" >
                <ventas-presupuestos-seguimiento origenVisualiza="GestionTurnos" UnidadMedida="kilos"/>
              </div>
            </div>
          </q-card-section>
      </q-card>
    </q-dialog>

    <!-- Modal de donde visualiza que productos y pedidos lleva el vehículo -->
    <q-dialog
      v-model="modal_info_placa"
      persistent
      :maximized="maximizedToggle_info_placa"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
        <div class="row bg-grey-3">
          <div class="col-12 q-pa-sm">
            <logistica-consulta-despacho :nroPlaca="placa" :modoLectura="false"/>
            <div class="row">
              <div class="col-12 q-pa-sm text-center">
                <q-btn no-caps icon="fas fa-times" rounded color="red-8" label="Cerrar ventana" @click="modal_info_placa = false" />
              </div>
            </div>
          </div>
        </div>
    </q-dialog>

    <div class="row q-py-xl" v-show="modal_main == false">
      <div class="col-12 text-center text-bold text-primary">
        <q-btn flat @click="modal_main=true;actualizaTablero();/*$q.fullscreen.toggle()*/" icon="fas fa-external-link-alt" size="25px" label="Abrir ventana de turnos" stack color="primary" />
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
window.Pusher = require('pusher-js')
import { mapActions } from 'vuex'
export default {
  data () {
    return {
      datetime_update: '',
      modulo: 'gestion_turnos',
      placa: '',
      estado_turno: '',
      maximizedToggle: true,
      maximizedToggle_info_placa: true,
      modal_main: true,
      modal_info_placa: false,
      filtro_ficho: '',
      id_reportado: '',
      ficho_asignado: '',
      params_reportados: {
        tipo_ficho: '',
        loading: false,
        filtro: '',
        data: []
      },
      params_en_cargue: {
        tipo_ficho: '',
        loading: false,
        filtro: '',
        data: []
      },
      params_en_espera: {
        tipo_ficho: '',
        loading: false,
        filtro: '',
        data: []
      },
      fichos: []
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    rol () {
      return this.$store.getters['store/obtener_rol']
    }
  },
  methods: {
    openModalInfoPlaca (placa, estadoTurno) {
      this.placa = placa
      this.estado_turno = estadoTurno
      this.modal_info_placa = true
    },
    cerrarModal () {
      this.modal_info_placa = false
      this.placa = ''
    },
    obtenerFechaHora () {
      // Obtener la fecha y hora actual
      var fechaHoraActual = new Date()
      // Obtener la fecha actual
      var fechaActual = fechaHoraActual.toISOString().split('T')[0] // Formato: AAAA-MM-DD
      // Obtener la hora actual
      var horaActual = fechaHoraActual.toTimeString().split(' ')[0] // Formato: HH:MM:SS
      this.datetime_update = fechaActual + ' ' + horaActual
    },
    cargarSonido (fuente) {
      const sonido = document.createElement('audio')
      sonido.src = fuente
      sonido.setAttribute('preload', 'auto')
      sonido.setAttribute('controls', 'none')
      sonido.style.display = 'none' // <-- oculto
      document.body.appendChild(sonido)
      return sonido
    },
    reproducirSonido (sourceAlerta) {
      const sonido = this.cargarSonido(sourceAlerta)
      sonido.play()
    },
    obtenerNombreFichos (ficho) {
      var f = ficho.charAt(0)
      if (f === 'C') {
        return 'contado'
      } else if (f === 'B') {
        return 'industrial'
      } else if (f === 'S') {
        return 'subproducto'
      } else {
        return 'paqueteo'
      }
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    listadoTurnos (estado, automatico) {
      var self = this
      // self.params_reportados.data = []
      // self.params_en_cargue.data = []
      if (automatico === false) {
        self.showLoading('Obteniendo información de turnos, por favor espere un momento ...')
      }
      axios.get(this.api_url + '/api/despachos-turno/listado-reportados/', {
        params: {
          fecha_inicial: '2000-01-01',
          fecha_final: '2000-01-01',
          estado: estado,
          tipo_ficho: self.filtro_ficho,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        if (estado === 'reportado') {
          self.params_reportados.data = response.data
        } else if (estado === 'en_cargue') {
          self.params_en_cargue.data = response.data
        } else if (estado === 'en_espera') {
          self.params_en_espera.data = response.data
        }
      }).finally(function () {
        self.hideLoading()
      })
    },
    actualizaTablero (automatico = false) {
      this.listadoTurnos('reportado', automatico)
      this.listadoTurnos('en_cargue', automatico)
      this.listadoTurnos('en_espera', automatico)
      this.movimientoRegistro()
      this.obtenerFechaHora()
    },
    actualizaEstadoTurno (idTurno, estado, placa) {
      var self = this
      self.showLoading('Actualizando estado del turno, por favor espere...')
      axios.put(self.api_url + '/api/despachos-turno/actualiza-estado/', {
        id_reportado: idTurno,
        placa: placa,
        estado: estado,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-right', 4000)
          self.actualizaTablero()
        } else {
          self.actualizaTablero()
          self.notificacionToast('error', res.data.mensaje, 'top-right', 4000)
        }
        self.hideLoading()
      }).catch(function (err) {
        console.log(err)
        // this.notificacionToast('error', err, 'top-right', 4000)
        this.hideLoading()
      })
    },
    confirmActualizaEstadoTurno (idTurno, Estado, Placa = '') {
      var titulo = ''
      var msg = ''
      if (Estado === 'en_espera') {
        titulo = 'Enviar turno a ESPERA'
        msg = '¿Está seguro de enviar el turno a <b>ESPERA</b>?'
      } else if (Estado === 'reportado') {
        titulo = 'Enviar turno a REPORTADOS'
        msg = '¿Está seguro de enviar el turno a <b>REPORTADOS</b>?'
      } else if (Estado === 'en_cargue') {
        titulo = 'Enviar turno a ZONA DE CARGUE'
        msg = '¿Está seguro de enviar el turno a <b>ZONA DE CARGUE</b>?'
      } else if (Estado === 'eliminar') {
        titulo = '<b class=text-red text-bold>ELIMINAR EL TURNO</b>'
        msg = '¿Está seguro de eliminar el turno?'
      } else if (Estado === 'autorizar_ingreso') {
        msg = '¿Está seguro de AUTORIZAR el ingreso del vehículo?<br><br> Placa No. <b style=font-size:20px>' + Placa + '</b>'
      }
      this.$q.dialog({
        title: titulo,
        message: msg,
        cancel: true,
        persistent: true,
        html: true
      }).onOk(() => {
        this.actualizaEstadoTurno(idTurno, Estado, Placa)
      })
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj,
        spinnerColor: 'primary',
        spinnerSize: 140,
        backgroundColor: 'white',
        messageColor: 'primary',
        customClass: 'bg-white text-primary'
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    formatPrice (value) {
      let val = (value / 1).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    notificacion (color, colorTexto, icono, mensaje, posicion) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        position: posicion
      })
    },
    notificacionToast (tipoNotif, msj, posicion, duracion) {
      this.$toast(msj, {
        position: posicion,
        type: tipoNotif,
        timeout: duracion,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        // draggable: true,
        // draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: 'button',
        icon: true,
        rtl: false
      })
    },
    terminarCargue (idDespacho) {
      var self = this
      if (!idDespacho) {
        self.notificacionToast('error', 'Falta información del despacho, recargue la página', 'top', 3000)
        return false
      }
      self.showLoading('Terminando cargue, por favor espere ...')
      axios.put(this.api_url + '/api/despachos/terminar-cargue', {
        id_despacho: idDespacho,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.actualizaTablero()
          self.notificacionToast('success', res.data.mensaje, 'top-right', 4000)
        } else {
          self.actualizaTablero()
          self.hideLoading()
          self.notificacionToast('error', res.data.mensaje, 'center', 4000)
        }
      }).catch(function (err) {
        self.hideLoading()
        this.notificacionToast('error', err, 'center', 4000)
      })
    },
    confirmTerminarCargue (idDespacho) {
      this.$q.dialog({
        title: 'FINALIZAR CARGUE',
        message: '¿Está seguro de terminar el cargue?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.terminarCargue(idDespacho)
      }).onOk(() => {
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    ejecutarNotificacion (msj, color, timeout) {
      this.$q.notify({
        message: msj,
        color: color,
        timeout: timeout,
        position: 'top-right',
        html: true,
        actions: [
          { icon: 'close', color: 'white', round: true, handler: () => { /* ... */ } }
        ]
      })
    },
    escuchaNotificacion () {
      var self = this
      window.Echo.channel('notificacion-netico')
        .listen('Notificaciones', data => {
          // Se actualiza la información cuando reportan un vehículo
          if (data.mensaje.modulo_notifica === self.modulo && (data.mensaje.accion === 'add' || data.mensaje.accion === 'edit')) {
            self.notificacionToast('success', data.mensaje.mensaje, 'top-right', 6000)
            self.actualizaTablero(true)
            self.reproducirSonido('../../statics/SD_ALERT_10.mp3')
          } else if (data.mensaje.modulo_notifica === self.modulo && data.mensaje.accion === 'actualiza_estado_turno') {
            self.notificacionToast('success', data.mensaje.mensaje, 'top-right', 3500)
            self.actualizaTablero(true)
            self.reproducirSonido('../../statics/SD_ALERT_10.mp3')
          }

          // Notifica al area de ventas que hubo cambios en el tablero de turnos
          if (data.mensaje.accion === 'terminar_cargue' && self.rol !== 'BODEGUERO') {
            self.notificacionToast('success', data.mensaje.mensaje, 'top-right', 10000)
            self.actualizaTablero(true)
            self.reproducirSonido('../../statics/notificacion_vehiculo_cargado.mp3')
          }

          // Actualiza la info cuando cambian la placa de un carro
          if (data.mensaje.accion === 'mod_full') {
            self.notificacionToast('success', data.mensaje.mensaje, 'top-right', 10000)
            self.actualizaTablero(true)
          }
        })
    },
    actualizaListadoAuto () {
      var self = this
      // Definir la duración del intervalo en minutos
      var minutos = 15
      // Convertir minutos a milisegundos
      var milisegundos = minutos * 60 * 1000
      setInterval(function () {
        self.actualizaTablero(true)
      }, milisegundos)
    },
    ...mapActions('store', ['movimientoRegistro'])
  },
  destroyed () {
    window.Echo.leave('notificacion-netico')
  },
  mounted () {
    this.escuchaNotificacion()
    this.actualizaListadoAuto()
    // this.$q.fullscreen.toggle()
    this.actualizaTablero()
  },
  watch: {
    filtro_ficho () {
      this.actualizaTablero()
    }
  }
}
</script>
<style >
.example-item-reportados {
  height: 255px;
  width: 250px;
}
.example-item-reportados-tv {
  height: 185px;
  width: 250px;
}
.example-item-espera-tv {
  height: 185px;
  width: 280px;
}
.example-item-cargue-tv {
  height: 185px;
  width: 280px;
}
.example-item-espera{
  height: 245px;
  width: 300px
}

.example-item-cargue {
  height: 275px;
  width: 300px;
}
.parpadea {
  background-color: red;
  animation-name: parpadeo;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
</style>
