<template>
  <div class="q-pa-none" align="center" v-if="$q.platform.is.mobile === true">
    <q-layout >
      <q-page-container>
        <q-page class="bg-image-app">
          <div class="text-center q-pt-lg q-py-md">
              <div class="col text-h6 ellipsis text-primary">
                <q-img src="../../statics/icons/LogoIcoharinasBlanco.png" style="height: 40px; max-width: 310px" contain/>
              </div>
          </div>
          <div class="row q-pa-sm">
              <section class="q-my-xs q-mr-lg text-subtitle1" ><div class="doc-card-title text-bold text-h6">GESTIÓN DE ENTREGA</div></section>
          </div>
          <div class="row text-white q-py-sm">
            <div class="col-12 text-bold " style="font-size:18px;">
              ¡Aqui podrá notificar si hubo alguna novedad en la entrega de la mercancía!
            </div>
          </div>
          <div class="row  q-pa-xs" align="center">
          <div class="col-12">
            <img
              src="../../statics/EntregaDespacho.png"
              style="height: 107px; max-width: 220px"
            />
          </div>
        </div>
          <div class="row q-py-md" v-show="false">
            <div class="col-12">
              <q-img src="../../statics/Conductores_landing.png" style="height: 150px; max-width: 380px" contain/>
            </div>
          </div>
          <div class="row text-white q-py-xs q-pa-md">
            <div class="col-12 text-justify" style="font-size:16px">
              <b>Tener en cuenta: </b>Digitar la información con la que reportó el turno.
            </div>
          </div>
          <div class="row q-pa-md">
            <div class="col-12" align="center">
                <q-input bg-color="white" maxlength="12" label="No. Documento de identidad" stack-label style="text-transform: uppercase;" outlined v-model="documento_identidad" input-class="text-center text-bold text-primary">
                  <template v-slot:prepend>
                    <q-icon size="20px" name="fas fa-id-card" />
                  </template>
                </q-input>
            </div>
          </div>
          <div class="row q-py-xs">
            <div class="col-5" align="center">
                <q-input bg-color="white"  maxlength="6" label="No. Placa" stack-label style="width:128px;text-transform: uppercase;" outlined v-model="placa" input-class="text-center text-bold text-primary">
                  <template v-slot:prepend>
                    <q-icon size="20px" name="fas fa-truck" />
                  </template>
                </q-input>
            </div>
            <div class="col-7" align="left">
                <q-input bg-color="white" type="number" no-caps label="No. Celular" mask="(###) ### - ####" unmasked-value  stack-label style="width:205px;text-transform: uppercase;" outlined v-model="celular" input-class="text-center text-bold  text-primary">
                  <template v-slot:prepend>
                    <q-icon size="20px" name="fas fa-mobile-alt" />
                  </template>
                </q-input>
            </div>
          </div>
          <div class="row q-py-lg">
            <div class="col-12 q-pa-sm">
                <q-btn class="full-width text-primary bg-white"  label="Gestionar entrega" @click="obtenerInfoTurno()"/>
            </div>
          </div>

          <q-dialog
            v-model="modal_info"
            persistent
            :maximized="maximizedToggle"
            transition-show="slide-up"
            transition-hide="slide-down"
          >
            <q-card class="bg-white text-white">
              <div class="row q-pa-sm">
                <div class="col-7 text-left">
                  <q-btn size="12px" @click="modal_info = false" flat icon="fas fa-arrow-left" color="orange-9" label="Atras"/>
                </div>
                <div class="col-5 text-right">
                  <q-btn size="11px" icon="fas fa-sync-alt" flat  rounded color="green-9" label="Actualizar" @click="obtenerInfoTurno()"/>
                </div>
              </div>
                <q-card-section class="q-pa-none">
                  <div class="row">
                    <div class="col text-h6 ellipsis">
                      <q-img src="../../statics/Icono_ticket.png" style="height: 175px; max-width: 400px" contain/>
                    </div>
                    <div class=" text-grey-6 text-bold text-h4" style = "position:fixed; left:173px; top:90px;">{{ datos.nombre }}</div>
                    <div style = "position:fixed; left:157px; top:122px;"><q-chip class="text-grey-8" color="grey-4" size="11px" square >{{ datos.estado_label }}</q-chip></div>
                    <div style = "position:fixed; left:149px; top:152px; font-size: 11px;" class="text-grey-8">{{ datos.fecha_hora_reporta }}</div>
                    <div style = "position:fixed; left:175px; top:170px; font-size: 11px;" class="text-grey-6 text-bold">{{ datos.ciudad }}</div>
                  </div>
                </q-card-section>

                <q-card-section>
                  <div class="row text-primary q-pa-xs">
                    <div class="col-12 text-center text-bold text-h6">
                      <q-btn color="grey-8" label="Ver pedido" flat size="16px" icon="fas fa-search" @click="obtenerInfoDespacho()"/>
                    </div>
                  </div>
                  <div class="row text-primary q-pa-sm">
                    <div class="col-12 text-center text-bold text-h6">
                      Turnos pendientes
                    </div>
                  </div>
                  <div class="row justify-center q-gutter-lg">
                    <q-intersection
                      v-for="(reportado, index) in turnos"
                      :key="index"
                      transition="scale"
                      class="example-item-reportados"
                    >

                        <q-card flat  v-show="reportado.me === true" :class="reportado.estado == 'en_cargue' ? 'bg-green-7' : 'bg-black'">
                          <q-card-section >
                            <div class="row items-center no-wrap">
                              <div class="col ">
                                <q-btn size="xs" round color="yellow-7 text-black" class="text-bold absolute" style="font-size:11px;top: -22%; right: 255px; transform: translateX(-12%);">{{ reportado.posicion }}</q-btn>
                                <div class="text-subtitle2 text-center ">{{ reportado.ficho }} (Mi turno)</div>
                              </div>
                            </div>
                          </q-card-section>
                        </q-card>

                        <q-card flat v-show="reportado.me === false"  :class="reportado.estado == 'en_cargue' ? 'bg-green-7' : 'bg-indigo-7'">
                          <q-card-section >
                            <div class="row items-center no-wrap">
                              <div class="col ">
                                <q-btn size="xs" round color="yellow-7 text-black" class="text-bold absolute" style="font-size:11px;top: -22%; right: 255px; transform: translateX(-12%);">{{ reportado.posicion }}</q-btn>
                                <div class="text-subtitle2 text-center ">{{ reportado.ficho }}<b v-show="reportado.estado == 'en_cargue'"> (En zona de cargue)</b></div>
                              </div>
                            </div>
                          </q-card-section>
                        </q-card>

                    </q-intersection>
                  </div>
                </q-card-section>
            </q-card>
          </q-dialog>

          <q-dialog v-model="modal_pedido" position="bottom">
            <div class="row bg-white" style="width:100%" v-if="despachos.length > 0">
              <div class="row" style="width: 100%">
                <div class="col-12">
                  <div class="row">
                    <div class="col-3 text-center text-bold">
                    </div>
                    <div class="col-9 text-right text-bold">
                      <q-btn @click="modal_pedido=false" flat size="12px" color="red" label="Cerrar"/>
                    </div>
                  </div>
                  <q-scroll-area style="height: 300px;"   :thumb-style="thumbStyle" :bar-style="barStyle">
                    <div class="col-12 ">
                      <q-list style="max-width: 700px" class="bg-white">
                          <q-item class="shadow-1 bg-primary" dense>
                            <q-item-section avatar >
                              <div class="text-bold text-white" style="font-size:12px">Cantidad</div>
                            </q-item-section>
                            <q-item-section ><div class="text-center text-bold text-white" style="font-size:12px">Producto</div></q-item-section>
                            <q-item-section side class="text-white">
                              <q-chip outline color="white" dense text-color="white">
                                {{despachos[0].info_pedidos.length}} Items
                              </q-chip>
                            </q-item-section>
                          </q-item>
                        <div v-for="(pedido, index) in despachos[0].info_pedidos" :key="index" style="width:100%">
                          <q-item dense :class="index%2 == 0 ? 'bg-grey-3': 'white'">
                            <q-item-section avatar >
                              <div class="text-black" style="font-size:12px"><b>{{pedido.cantidad}}</b> {{pedido.unidad_medida}}</div>
                            </q-item-section>
                            <q-item-section class="text-left text-primary" style="font-size:11px">{{pedido.cod_producto}} - {{pedido.nom_producto}}</q-item-section>
                            <q-item-section side></q-item-section>
                          </q-item>
                          <q-separator />
                        </div>
                      </q-list>
                    </div>
                  </q-scroll-area>
                </div>
              </div>
            </div>
          </q-dialog>

          <q-dialog
            v-model="modal_novedad"
            persistent
            :maximized="modal_novedad"
            transition-show="slide-up"
            transition-hide="slide-down"
          >
            <q-card class="bg-white text-white">
              <div class="row q-pa-sm bg-primary">
                <div class="col-7 text-left">
                  <q-btn size="12px" @click="modal_novedad = false" flat icon="fas fa-arrow-left" color="white" label="Atras"/>
                </div>
              </div>
                <q-card-section class="q-pa-none q-py-lg">
                  <div class="text-bold text-primary text-center text-h6">Gestionar entrega</div>
                  <div class="q-pa-none">
                    <q-list >
                      <q-item>
                        <q-item-section>
                          <q-item-label class="text-primary text-bold">{{datos.placa}}</q-item-label>
                          <q-item-label overline style="font-size: 11px;">{{datos.conductor}}</q-item-label>
                        </q-item-section>
                        </q-item>
                    </q-list>
                  </div>
                  <div class="row" >
                    <div class="col text-h6 ellipsis">
                      <q-img src="../../statics/Icono_ticket.png" style="height: 175px; max-width: 400px" contain/>
                    </div>
                    <div class=" text-primary text-bold text-h5" style = "position:fixed; left:160px; top:200px;">Turno</div>
                    <div class=" text-grey-6 text-bold text-h4" style = "position:fixed; left:163px; top:225px;">{{ datos.nombre }}</div>
                    <div style = "position:fixed; left:130px; top:270px; font-size: 11px;" class="text-grey-6 text-bold">Destino: {{ datos.ciudad }}</div>
                  </div>
                </q-card-section>
                <q-card-section class="q-pa-none">
                  <div class="q-pa-md">
                    <q-input
                      v-model="observaciones_novedad"
                      filled
                      ref="observaciones_novedad"
                      stack-label
                      label="Escriba aquí si hubo alguna novedad en la entrega"
                      type="textarea"
                    />
                  </div>
                </q-card-section>

                <q-card-section>
                  <div class="q-pa-none">
                    <q-btn-group spread>
                      <q-btn color="green" label="Viaje sin novedad" icon="fas fa-check" no-caps @click="novedad = false;confirm()" />
                      <q-btn color="red" label="Reportar novedad" icon="fas fa-times" no-caps @click="novedad = true;confirm()"/>
                    </q-btn-group>
                  </div>
                </q-card-section>

                <q-card-section v-show="false">
                  <div class="row text-primary q-pa-xs">
                    <div class="col-12 text-center text-bold text-h6">
                      <q-btn color="grey-8" label="Ver pedido" flat size="16px" icon="fas fa-search" @click="obtenerInfoDespacho()"/>
                    </div>
                  </div>
                </q-card-section>
            </q-card>
          </q-dialog>

          </q-page>
          </q-page-container>
          </q-layout>
      </div>

      <div class="q-pa-none" align="center" v-else>
        <div class="text-black">Solo se puede visualizar en dispositivos móviles</div>
      </div>

</template>

<script>
import axios from 'axios'
// import { date } from 'quasar'
export default {
  data () {
    return {
      thumbStyle: {
        right: '4px',
        borderRadius: '5px',
        backgroundColor: '#225A3F',
        width: '8px',
        opacity: 0.75
      },
      barStyle: {
        right: '2px',
        borderRadius: '9px',
        backgroundColor: '#225A3F',
        width: '12px',
        opacity: 0.2
      },
      maximizedToggle: true,
      modal_info_placa: false,
      maximizedToggle_info_placa: true,
      modal_info: false,
      modal_pedido: false,
      modal_novedad: false,
      documento_identidad: '',
      placa: '',
      celular: '',
      novedad: false,
      observaciones_novedad: '',
      id_turno: '',
      id_despacho: '',
      turnos: [],
      datos: [],
      despachos: []
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    }
  },
  methods: {
    openModalInfoPlaca (placa) {
      this.placa = placa
      this.modal_info_placa = true
    },
    cerrarModal () {
      this.modal_info_placa = false
      this.placa = ''
    },
    notificacion (color, colorTexto, icono, mensaje, posicion) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        position: posicion
      })
    },
    obtenerInfoTurno () {
      var self = this
      if (self.placa === '' || self.celular === '' || self.documento_identidad === '') {
        self.notificacionToast('error', 'Falta información por diligenciar.', 'top-right', 4000)
        return false
      }

      self.showLoading('Obteniendo información, por favor espere ...')
      axios.get(self.api_url + '/api/despachos-turno/consulta-turno-conductores/', {
        params: {
          documento_identidad: self.documento_identidad,
          placa: self.placa,
          celular: self.celular
        }
      }).then((response) => {
        self.datos = response.data
      }).finally(function () {
        if (!self.datos) {
          self.notificacionToast('error', 'No se encontró información, por favor verificar los datos ingresados.', 'top-right', 4000)
          self.modal_novedad = false
        } else {
          self.modal_novedad = true
          self.id_turno = self.datos.id_turno
          self.id_despacho = self.datos.id_despacho
        }
        self.hideLoading()
      })
    },
    confirm () {
      if (!this.id_turno) {
        this.notificacionToast('error', 'Falta información para realizar esta acción.', 'top-right', 3500)
        return false
      }
      if (this.novedad === true && this.observaciones_novedad === '') {
        this.notificacionToast('error', 'Escribir la novedad hubo en la entrega.', 'top-right', 3500)
        this.$refs.observaciones_novedad.focus()
        return false
      }
      var titulo = this.novedad === true ? 'Entrega CON novedad' : 'Entrega SIN novedad'
      this.$q.dialog({
        title: titulo,
        message: '¿Está seguro de envíar la información?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.registrarNovedadDespacho()
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    restablecerCampos () {
      this.id_turno = ''
      this.observaciones_novedad = ''
      this.novedad = false
      this.modal_novedad = false
      this.documento_identidad = ''
      this.placa = ''
      this.celular = ''
      this.id_despacho = ''
    },
    registrarNovedadDespacho () {
      var self = this
      self.showLoading('Registrando información, por favor espere...')
      axios.post(self.api_url + '/api/despachos-novedad/registrar/', {
        id_turno: self.id_turno,
        id_despacho: self.id_despacho,
        observaciones: self.observaciones_novedad,
        novedad: self.novedad
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-center', 3000)
          self.restablecerCampos()
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-right', 3000)
        }
        self.hideLoading()
      }).catch(function (err) {
        console.log(err)
        // this.notificacionToast('error', err, 'top-right', 4000)
        this.hideLoading()
      })
    },
    listadoTurnos (automatico = false) {
      var self = this
      self.turnos.length = 0
      if (automatico === false) {
        self.showLoading('Obteniendo turnos, por favor espere ...')
      }
      axios.get(this.api_url + '/api/despachos-turno/listado-reportados-conductor/', {
        params: {
          estado: '',
          filtro_ficho: self.datos.nombre
        }
      }).then((response) => {
        self.turnos = response.data
      }).finally(function () {
        self.hideLoading()
      })
    },
    obtenerInfoDespacho () {
      var self = this
      self.despachos.length = 0
      self.modal_pedido = true
      self.showLoading('Obteniendo pedido, por favor espere ...')
      axios.get(self.api_url + '/api/despachos/consulta-por-placa-conductor', {
        params: {
          vista: 'agrupada',
          placa: self.placa,
          tipo_consulta: 'placa',
          solo_autorizado: 'si'
        }
      }).then((response) => {
        self.despachos = response.data
      }).finally(function () {
        self.hideLoading()
      })
    },
    notificacionToast (tipoNotif, msj, posicion, duracion) {
      this.$toast(msj, {
        position: posicion,
        type: tipoNotif,
        timeout: duracion,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        // draggable: true,
        // draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: 'button',
        icon: true,
        rtl: false
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    }
  },
  created () {
  },
  beforeDestroy () {
  },
  mounted () {
  },
  watch: {
  }
}
</script>
<style >
.example-item-reportados {
  height: 50px;
  width: 280px;
}
.bg-image-app {
   background-image: linear-gradient(10deg, #1B4130 5%, #358662 40%);
}
.doc-card-title {
  margin-left: -3px;
  padding: 2px 10px 2px 24px;
  background: #48a176;
  color: #ffffff;
  position: relative;
  border-radius: 3px 5px 5px 0;
}
.doc-card-title::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
    border-top-color: transparent;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
  border-top-color: #2D7B58;
  border-width: 9px 0 0 11px;
}
</style>
