<template>

  <div class="row" v-if="!verificaPermiso(52)">
    <usuarios-no-autorizado/>
  </div>

  <div class="q-pa-none" v-else>
    <div class="row">
      <div class="col-12 text-center text-h6 text-primary q-py-none text-bold">
        MAESTROS DE PRODUCTOS
      </div>
    </div>
    <div class="q-pa-lg" >
      <q-list bordered class="rounded-borders bg-white">
        <q-expansion-item
          switch-toggle-side
          v-model="expanded"
          expand-separator
          :label="info.id_registro == '' ? 'Nuevo registro' : 'Modificar información'"
        >
          <q-card>
            <q-card-section>
              <div class="row bg-white q-pa-sm"  style="width:100%">
                <div class="col-lg-12 col-md-12 col-sm-12 ">
                  <div class="row q-pa-none q-gutter-sm">
                    <div class="col-lg-2 col-md-4 col-sm-3">
                      <q-input outlined v-model="info.codigo_barra"  label="Código de barras" stack-label/>
                    </div>
                    <div class="col-lg-4 col-md-7 col-sm-8">
                      <q-select @filter="filterFnConsecutivosFull" outlined  v-model="info.consecutivo" use-input  label="Seleccione el consecutivo" stack-label :options="consecutivos_local_aux" option-value="CODIGOCONS" option-label="DESCRIPCIO"/>
                    </div>
                    <div class="col-lg-5 col-md-3">
                      <q-select @filter="filterFnProductos" outlined  v-model="info.producto" use-input  label="Seleccione el producto" stack-label :options="productos_local_aux" option-value="codigo" option-label="descripcion"/>
                    </div>
                    <div class="col-lg-2 col-md-3">
                      <q-select outlined  v-model="info.uni_medida" label="Unid. Medida" stack-label :options="unidad_medida"/>
                    </div>
                    <div class="col-lg-1 col-md-3">
                      <q-input outlined v-model="info.cantidad"  label="Cantidad" stack-label class="q-mr-sm"/>
                    </div>
                    <div class="col-lg-2 col-md-3">
                      <q-select outlined v-model="info.tipo_lote" :options="info.tipos_lotes"  label="Tipo de lote" stack-label class="q-mr-sm"/>
                    </div>
                    <div class="col-lg-4 col-md-3">
                      <q-btn color="primary" text-color="white" :label="info.id_registro == '' ? 'Registrar información' : 'Modificar información'" class="q-pa-sm q-mr-md" @click="info.id_registro == '' ? confirmRegistrarMaestroCodBarras() : confirmModificaMaestroCodBarras()" />
                      <q-btn v-show="info.id_registro !== ''" color="grey-9" text-color="white" label="Limpiar formulario" class="q-pa-sm" @click="limpiarFormulario()" />
                    </div>
                  </div>
                </div>
              </div>
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </q-list>
    </div><br>
    <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12">
          <q-table
            title-class="text-white"
            title="Listado de maestros"
            class="my-sticky-header-table-despachos"
            :data="maestros"
            :columns="columns"
            row-key="cod_barras"
            :loading="loading_maestros"
            :filter="filter"
            table-style="max-height: 1000px"
            flat
            dense
            bordered
            :pagination.sync="pagination"
            :rows-per-page-options="[0]"
            color="white"
          >

            <template v-slot:top-right>
              <q-btn
                  color="white"
                  flat
                  icon-right="fas fa-arrow-alt-circle-down"
                  label="Exportar Información"
                  no-caps
                  class="cursor-pointer q-mr-md"
                  @click="exportTable"
              />
              <q-input  dark dense standout v-model="filter" input-class="text-right" class="q-ml-md" placeholder="Filtrar información">
                <template v-slot:append>
                  <q-icon v-if="filter === ''" name="search" />
                  <q-icon v-else name="clear" class="cursor-pointer" @click="filter = ''" />
                </template>
              </q-input>
            </template>

            <template v-slot:body="props">
              <q-tr :props="props" class="text-grey-8" >

                <q-td key="cod_barras" :props="props" style="font-size:12px" class="text-bold">
                  {{ props.row.cod_barras }}
                </q-td>

                <q-td key="nombre_consecutivo" :props="props" style="font-size:11px">
                  {{props.row.nombre_consecutivo}}
                </q-td>

                <q-td key="nom_producto" :props="props" style="font-size:11px">
                  {{ props.row.nom_producto }}
                </q-td>

                <q-td key="unidad_medida" :props="props" style="font-size:11px">
                  {{ props.row.unidad_medida }}
                </q-td>

                <q-td key="cantidad" :props="props" style="font-size:11px">
                  {{ formatPrice(props.row.cantidad) }}
                </q-td>

                <q-td key="tipo_lote" :props="props" style="font-size:11px">
                  {{ props.row.tipo_lote }}
                </q-td>

                <q-td key="usu_registra" :props="props" style="font-size:11px">
                  {{ props.row.usu_registra }}
                </q-td>

                <q-td key="created_at" :props="props" style="font-size:11px">
                  {{ props.row.created_at }}
                </q-td>

                <q-td key="usu_modifica" :props="props" style="font-size:11px">
                  {{ props.row.usu_modifica }}
                </q-td>

                <q-td key="updated_at" :props="props" style="font-size:11px">
                  {{ props.row.updated_at == props.row.created_at ? '' : props.row.updated_at }}
                </q-td>

                <q-td key="acciones" :props="props">
                  <q-btn size="sm" flat round color="blue-9" icon="fas fa-edit" @click="obtenerInfoMaestro(props.row)" />
                  <q-btn size="sm" flat round color="red" icon="fas fa-trash" @click="confirmEliminarMaestroCodBarras(props.row)"/>
                </q-td>
              </q-tr>
            </template>
          </q-table>
       </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { exportFile } from 'quasar'
export default {
  data () {
    return {
      info: {
        id_registro: '',
        codigo_barra: '',
        consecutivo: '',
        producto: '',
        uni_medida: '',
        cantidad: '',
        tipo_lote: '',
        tipos_lotes: ['codigo', 'fecha']
      },
      unidad_medida: ['@', 'BTO', 'UND', 'KLS', 'CJA', 'PAQ', 'LBS'],
      consecutivos: [],
      productos: [],
      productos_local_aux: [],
      consecutivos_local_aux: [],
      expanded: true,
      filter: '',
      loading_maestros: false,
      pagination: {
        rowsPerPage: 10
      },
      maestros: [],
      columns: [
        { name: 'cod_barras', align: 'left', label: 'Cod. Barras', field: 'cod_barras', sortable: true, style: 'width: 100px', headerClasses: 'text-white' },
        { name: 'nombre_consecutivo', align: 'left', label: 'Consecutivo', field: 'nombre_consecutivo', sortable: true, style: 'width: 40px', headerClasses: 'text-white' },
        { name: 'nom_producto', align: 'left', label: 'Producto', field: 'nom_producto', sortable: true, style: 'width: 100px', headerClasses: 'text-white' },
        { name: 'unidad_medida', align: 'center', label: 'Unid. Medida', field: 'unidad_medida', sortable: true, style: 'width: 60px', headerClasses: 'text-white' },
        { name: 'cantidad', align: 'right', label: 'Cantidad', field: 'cantidad', sortable: true, style: 'width: 150px', headerClasses: 'text-white' },
        { name: 'tipo_lote', align: 'center', label: 'Tipo lote', field: 'tipo_lote', sortable: true, style: 'width: 150px', headerClasses: 'text-white' },
        { name: 'usu_registra', align: 'left', label: 'Registró', field: 'usu_registra', sortable: true, style: 'width: 60px', headerClasses: 'text-white' },
        { name: 'created_at', align: 'center', label: 'Fecha/Hora', field: 'created_at', sortable: true, style: 'width: 100px', headerClasses: 'text-white' },
        { name: 'usu_modifica', align: 'left', label: 'Modificó', field: 'usu_modifica', sortable: true, style: 'width: 60px', headerClasses: 'text-white' },
        { name: 'updated_at', align: 'center', label: 'Fecha/Hora', field: 'updated_at', sortable: true, style: 'width: 100px', headerClasses: 'text-white' },
        { name: 'acciones', align: 'center', label: 'Acciones', field: 'acciones', sortable: false, style: 'width: 150px', headerClasses: 'text-white' }
      ]
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    }
  },
  methods: {
    wrapCsvValue (val, formatFn) {
      let formatted = formatFn !== void 0
        ? formatFn(val)
        : val

      formatted = formatted === void 0 || formatted === null
        ? ''
        : String(formatted)

      formatted = formatted.split('"').join('""')
      /**
       * Excel accepts \n and \r in strings, but some other CSV parsers do not
       * Uncomment the next two lines to escape new lines
       */
      // .split('\n').join('\\n')
      // .split('\r').join('\\r')

      return `"${formatted}"`
    },
    exportTable () {
      // naive encoding to csv format
      const content = [this.columns.map(col => this.wrapCsvValue(col.label))].concat(
        this.maestros.map(row => this.columns.map(col => this.wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[ col.field === void 0 ? col.name : col.field ],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'listado-maestros-cod-barras.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },
    validarCampos () {
      var contError = 0
      if (this.info.codigo_barra === '') {
        contError++
        this.notificacionToast('error', 'Falta el código de barras', 'top-right', 2500)
      } else if (this.info.consecutivo.CODIGOCONS === '' || this.info.consecutivo.CODIGOCONS === undefined) {
        contError++
        this.notificacionToast('error', 'Falta seleccionar el consecutivo', 'top-right', 2500)
      } else if (this.info.producto.codigo === '' || this.info.producto.codigo === undefined) {
        contError++
        this.notificacionToast('error', 'Falta seleccionar el producto', 'top-right', 3000)
      } else if (this.info.uni_medida === '') {
        contError++
        this.notificacionToast('error', 'Falta seleccionar la unidad de medida', 'top-right', 3000)
      } else if (this.info.cantidad === '' || this.info.cantidad === 0) {
        contError++
        this.notificacionToast('error', 'Ingrese la cantidad', 'top-right', 3000)
      }
      return contError
    },
    formatPrice (value) {
      let val = (value / 1).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    confirmRegistrarMaestroCodBarras () {
      if (this.validarCampos() !== 0) {
        return false
      }
      this.$q.dialog({
        title: 'REGISTRO',
        message: '¿Está seguro de guardar la información?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.registrarMaestroCodBarras()
      }).onOk(() => {
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    confirmModificaMaestroCodBarras () {
      if (this.validarCampos() !== 0) {
        return false
      }
      this.$q.dialog({
        title: 'MODIFICAR',
        message: '¿Está seguro de modificar la información?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.modificarMaestroCodBarras()
      }).onOk(() => {
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    confirmEliminarMaestroCodBarras (data) {
      this.$q.dialog({
        title: 'ELIMINAR',
        message: '¿Está seguro de eliminar la información?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.eliminarMaestroCodBarras(data)
      }).onOk(() => {
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    registrarMaestroCodBarras () {
      this.showLoading('Registrando información por favor espere un momento ...')
      var self = this
      axios.post(this.api_url + '/api/maestro-cod-barras/registrar/', {
        info: self.info,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-right', 4000)
          self.hideLoading()
          self.obtenerListadoMaestros()
          // limpio objeto
          self.limpiarFormulario()
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-right', 5000)
          self.hideLoading()
        }
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('success', err, 'top-right', 5000)
        self.hideLoading()
      })
    },
    modificarMaestroCodBarras () {
      this.showLoading('Modificando información por favor espere un momento ...')
      var self = this
      axios.put(this.api_url + '/api/maestro-cod-barras/actualizar/', {
        info: self.info,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-right', 4000)
          self.hideLoading()
          self.obtenerListadoMaestros()
          // limpio objeto
          self.limpiarFormulario()
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-right', 5000)
          self.hideLoading()
        }
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('success', err, 'top-right', 5000)
        self.hideLoading()
      })
    },
    eliminarMaestroCodBarras (data) {
      this.showLoading('Eliminando información por favor espere un momento ...')
      var self = this
      axios.put(this.api_url + '/api/maestro-cod-barras/eliminar/', {
        info: data,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-right', 4000)
          self.hideLoading()
          self.obtenerListadoMaestros()
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-right', 5000)
          self.hideLoading()
        }
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('success', err, 'top-right', 5000)
        self.hideLoading()
      })
    },
    limpiarFormulario () {
      var self = this
      self.info.id_registro = ''
      self.info.codigo_barra = ''
      self.info.consecutivo = []
      self.info.producto = []
      self.info.uni_medida = ''
      self.info.cantidad = ''
      self.info.tipo_lote = ''
    },
    notificacionToast (tipoNotif, msj, posicion, duracion) {
      this.$toast(msj, {
        position: posicion,
        type: tipoNotif,
        timeout: duracion,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        // draggable: true,
        // draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: 'button',
        icon: true,
        rtl: false
      })
    },
    filterFnConsecutivosFull (val, update) {
      if (val === '') {
        update(() => {
          this.consecutivos_local_aux = this.consecutivos
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.consecutivos_local_aux = this.consecutivos.filter(v => v.DESCRIPCIO.toLowerCase().indexOf(this.quitarAcentos(needle)) > -1)
      })
    },
    filterFnProductos (val, update) {
      if (val === '') {
        update(() => {
          this.productos_local_aux = this.productos
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.productos_local_aux = this.productos.filter(v => v.descripcion.toLowerCase().indexOf(this.quitarAcentos(needle)) > -1)
      })
    },
    quitarAcentos (cadena) {
      const acentos = { 'á': 'a', 'é': 'e', 'í': 'i', 'ó': 'o', 'ú': 'u', 'Á': 'A', 'É': 'E', 'Í': 'I', 'Ó': 'O', 'Ú': 'U' }
      return cadena.split('').map(letra => acentos[letra] || letra).join('').toString()
    },
    obtenerConsecutivos () {
      var self = this
      self.consecutivos.length = 0
      axios.get(self.api_url + '/api/pedido/obtener-consecutivos-ofima/', {
        params: {
          origen: 'INV',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.consecutivos = response.data
      }).finally(function () {
      })
    },
    obtenerListadoMaestros () {
      var self = this
      self.loading_despachos = true
      self.maestros.length = 0
      axios.get(self.api_url + '/api/maestro-cod-barras/listado/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.maestros = response.data
      }).finally(function () {
        self.loading_despachos = false
      })
    },
    obtenerInfoMaestro (data) {
      var self = this
      self.expanded = true
      self.info.id_registro = data.id_registro
      self.info.codigo_barra = data.cod_barras
      self.info.consecutivo = { CODIGOCONS: data.consecutivo, DESCRIPCIO: data.nombre_consecutivo }
      self.info.producto = { codigo: data.cod_producto, descripcion: data.nom_producto }
      self.info.uni_medida = data.unidad_medida
      self.info.cantidad = data.cantidad
      self.info.tipo_lote = data.tipo_lote
    },
    obtenerProductos () {
      var self = this
      self.productos.length = 0
      axios.get(self.api_url + '/api/pedido/obtener-all-productos/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.productos = response.data
      }).finally(function () {
      })
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    }
  },
  created () {
  },
  beforeDestroy () {
  },
  mounted () {
    this.obtenerConsecutivos()
    this.obtenerProductos()
    this.obtenerListadoMaestros()
  },
  watch: {
  }
}
</script>
<style lang="sass">
.my-sticky-header-table-despachos
  /* max height is important */
  .q-table__middle
    max-height: 200px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #225A40

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
