<template>

  <div class="row" v-if="!verificaPermiso(36)">
    <usuarios-no-autorizado/>
  </div>

  <div class="q-pa-none" v-else>
    <div class="q-pa-none" v-if="$q.platform.is.desktop === true">
    <div class="row">
      <div class="col-12 text-center text-h6 text-primary">
        <q-icon name="fas fa-exchange-alt" size="29px" class="q-mr-md"/>RECEPCIÓN Y ENVÍO DE TRIGO
      </div>
    </div><br>
    <div class="q-pa-sm row rounded-borders">
      <div class="col-2 text-right" style="font-size:20px">
        Seleccione una motonave :
      </div>
      <div class="col-10 text-left">
        <q-chip size="14px" clickable @click="selMotovane(motonave.motonave)" color="orange-14" text-color="white" v-for="(motonave, index) in ult_motonaves" :key="index">
        {{ motonave.motonave }}
      </q-chip>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <q-card class="bg-transparent no-shadow no-border" bordered>
          <q-card-section class="q-pa-sm">
            <div class="row q-col-gutter-md ">
              <div v-for="(item, index) in silos_saldo" :key="index" class="col-md-3 col-sm-12 col-xs-12 ">
                <q-item :style="`background-color: ${item.color1}`" class="q-pa-none rounded-borders">
                  <q-item-section class=" q-pa-md q-ml-none  text-white" style="height:80px">
                    <q-item-label class="text-white text-h6 text-weight-bolder">{{ formatPrice(item.saldo * 1000) }} Kg</q-item-label>
                    <q-item-label>{{ item.bodega }}</q-item-label>
                  </q-item-section>
                </q-item>
              </div>
            </div>
          </q-card-section>
        </q-card>
      </div>
    </div>
    <q-list bordered class="rounded-borders bg-white">
        <q-expansion-item
          switch-toggle-side
          v-model="expanded"
          expand-separator
          :label="'IMPORTAR INFORMACIÓN - ' + this.motonave_activa"
        >
          <div class="row q-pa-xl" v-show="!motonave_activa">
            <div class="col-12 text-center text-red-8">
              <b style="font-size:18px">Para importar información de recepción o despachos de trigo, debe elegir una motonave.</b>
            </div>
          </div>
          <div class="row q-pa-xs" v-show="motonave_activa">
            <div class="col-6 q-pa-md">
              <q-card flat bordered class="my-card">
                <q-card-section>
                  <div class="text-h6 text-center text-blue-8">RECEPCIÓN DE TRIGO</div>
                  <div class="row">
                    <div class="col-12 text-center text-primary text-right">
                      <q-chip style="font-size:13px" dense clickable @click="descargarFormatoImportacion('recepcion')"  color="white" text-color="blue-7">
                        Descargar formato de importación de datos
                      </q-chip>
                    </div>
                  </div>
                </q-card-section>

                <q-card-section class="q-pt-none">
                  <b style="font-size:15px">Instrucciones:</b>
                  Adjunte un archivo de excel en donde esté la información de la recepción de trigo.<br>
                  Verificar que todas las columnas estén diligenciadas correctamente.
                </q-card-section>
                <q-card-section class="q-pt-none">
                  <q-select style="width:300px" hint="Bodega receptora de trigo"  v-model="silo"   label="Seleccionar una bodega" stack-label :options="silos" emit-value  map-options option-value="codigo" option-label="nombre"/>
                </q-card-section>
                <q-separator inset />

                <q-card-section>
                  <form>
                    <div class="row">
                      <div class="col-4">
                        <q-btn flat :label="adjunto_recepcion.name ? 'Cambiar archivo':'Seleccionar archivo'" color="blue-7" class="q-mr-sm" no-caps text-color="blue-7" icon="fas fa-paperclip" @click="abrirVentanaAdjunto('documento_recepcion')"/>
                        <q-btn round size="sm" v-show="adjunto_recepcion.name" color="red-5" class="q-mr-sm" flat no-caps text-color="red" icon="fas fa-trash" @click="adjunto_recepcion = ''"/>
                      </div>
                      <div class="col-8 text-right">
                        <q-btn v-show="adjunto_recepcion.name" flat label="Subir información" color="blue-8" class="q-mr-sm" no-caps text-color="blue-8" icon="fas fa-upload" @click="confirmRegistro('recepcion')"/>
                        <q-file @rejected="onRejected" accept=".xls,.xlsx" max-file-size="5242880"  v-show="false"  dense ref="documento_recepcion" v-model="adjunto_recepcion" ></q-file>
                      </div>
                    </div>
                    <div v-show="adjunto_recepcion.name" style="font-size:11px" class="q-pa-md text-left">Archivo a subir : {{adjunto_recepcion.name}}</div>
                  </form>
                </q-card-section>
              </q-card>
            </div>
            <div class="col-6 q-pa-md">
              <q-card flat bordered class="my-card">
                <q-card-section>
                  <div class="text-h6 text-center text-green-6">ENVÍO DE TRIGO</div>
                  <div class="row">
                    <div class="col-12 text-center text-primary text-right">
                      <q-chip style="font-size:13px" dense clickable @click="descargarFormatoImportacion('envio')"  color="white" text-color="green-7">
                        Descargar formato de importación de datos
                      </q-chip>
                    </div>
                  </div>
                </q-card-section>

                <q-card-section class="q-pt-none">
                  <b style="font-size:15px">Instrucciones:</b>
                  Adjunte un archivo de excel en donde esté la información de despachos de trigo.<br>
                  Verificar que todas las columnas estén diligenciadas correctamente.
                </q-card-section>
                <q-card-section class="q-pt-none">
                  <q-item tag="label" v-ripple>
                    <q-item-section avatar top>
                      <q-checkbox v-model="trigo_directo"  color="green-6" />
                    </q-item-section>
                    <q-item-section>
                      <q-item-label>Trigo directo desde puerto</q-item-label>
                      <q-item-label caption>
                        Está opción es para subir información de mulas directas desde puerto, el archivo a subir lo deben descargar desde la plataforma (Sociedad Portuaria)
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                </q-card-section>
                <q-card-section class="q-pt-none" v-show="trigo_directo == false">
                  <div class="row">
                    <div class="col-6">
                      <q-select style="width:200px" hint="Bodega donde sale el trigo"  v-model="silo_desp"   label="Seleccionar una bodega" stack-label :options="silos" emit-value  map-options option-value="codigo" option-label="nombre"/>
                    </div>
                    <div class="col-6">
                      <q-input style="width:100px" v-model="bl" label="BL" stack-label />
                    </div>
                </div>
                </q-card-section>

                <q-separator inset />

                <q-card-section>
                  <form>
                    <div class="row">
                      <div class="col-4">
                        <q-btn flat :label="adjunto_despacho.name ? 'Cambiar archivo':'Seleccionar archivo'" color="green-6" class="q-mr-sm" no-caps text-color="green-6" icon="fas fa-paperclip" @click="abrirVentanaAdjunto('documento_despacho')"/>
                        <q-btn round size="sm" v-show="adjunto_despacho.name" color="red-5" class="q-mr-sm" flat no-caps text-color="red" icon="fas fa-trash" @click="adjunto_despacho = ''"/>
                      </div>
                      <div class="col-8 text-right">
                        <q-btn v-show="adjunto_despacho.name" flat label="Subir información" color="green-6" class="q-mr-sm" no-caps text-color="green-6" icon="fas fa-upload" @click="confirmRegistro('despacho')"/>
                        <q-file @rejected="onRejected" accept=".xls,.xlsx" max-file-size="5242880"  v-show="false"  dense ref="documento_despacho" v-model="adjunto_despacho" ></q-file>
                      </div>
                    </div>
                    <div v-show="adjunto_despacho.name" style="font-size:11px" class="q-pa-md text-left">Archivo a subir : {{adjunto_despacho.name}}</div>
                  </form>
                </q-card-section>
              </q-card>
            </div>
          </div>
        </q-expansion-item>
    </q-list>
    <div class="row q-pa-sm bg-grey-1">
      <div class="col-lg-6 col-md-6 col-sm-6 text-center">
        <q-chip size="15px" clickable @click="row_visualiza = 'recepcion';obtenerListadoRecepcion()" color="blue-9" text-color="white">
          Ver registros de recepción de trigo
        </q-chip>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 text-center">
        <q-chip size="15px" clickable @click="row_visualiza = 'envio';obtenerListadoDespachos()"  color="green-8" text-color="white">
          Ver registros de despachos
        </q-chip>
      </div>
    </div>
    <div class="row q-pa-md bg-grey-1" v-show="row_visualiza == 'recepcion' || row_visualiza == 'envio'">
      <div class="col-lg-2 col-md-2 col-sm-2">
        <q-input readonly  outlined dense bg-color="white"  v-model="fecha1"  style="font-size:12px"  label="Fecha inicial" stack-label class="q-mr-xl">
          <template v-slot:append>
            <q-icon :color="row_visualiza == 'recepcion' ? 'blue-8' : 'green-6'" name="event" class="cursor-pointer">
              <q-popup-proxy ref="qDateProxy1" transition-show="scale" transition-hide="scale" >
                <q-date :locale="myLocale" v-model="fecha1" mask="YYYY-MM-DD" @input="$refs.qDateProxy1.hide();" />
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <q-input readonly  outlined bg-color="white" dense v-model="fecha2" style="font-size:12px"  label="Fecha final" stack-label class="q-mr-xl">
          <template v-slot:append>
            <q-icon :color="row_visualiza == 'recepcion' ? 'blue-8' : 'green-6'" name="event" class="cursor-pointer">
              <q-popup-proxy ref="qDateProxy2" transition-show="scale" transition-hide="scale" >
                <q-date :locale="myLocale" v-model="fecha2" mask="YYYY-MM-DD" @input="$refs.qDateProxy2.hide();" />
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
      </div>
      <div class="col-4">
        <q-btn v-show="row_visualiza == 'recepcion'" color="blue-8" flat label="Buscar"  icon="fas fa-search" class="q-mr-md" @click="obtenerListadoRecepcion"/>
        <q-btn v-show="row_visualiza == 'envio'" color="green-6" flat label="Buscar" icon="fas fa-search" class="q-mr-md" @click="obtenerListadoDespachos"/>
        <q-btn v-show="selected.length>0 && row_visualiza == 'recepcion'" color="red-6" text-color="white" label="Anular registros" @click="anularMovimientos"/>
        <q-btn v-show="selected_despachos.length>0 && row_visualiza == 'envio'" color="red-6" text-color="white" label="Anular registros" @click="anularMovimientosDespachos"/>
      </div>
      <div class="col-5 q-pa-md" style="font-size:13px" v-show="datos_recepcion.length>0 && row_visualiza == 'recepcion'">
        <b class="text-blue-7">Cant. Puerto: </b> <em class="q-mr-md">{{ formatPrice(resultados_recepcion.tota_puerto) }} Kg</em> <b class="text-blue-7">Cant. Bodega: </b> <em class="q-mr-md">{{ formatPrice(resultados_recepcion.total_bodega) }} Kg</em> <b class="text-blue-7">Diferencia: </b> <em class="q-mr-md">{{ formatPrice(resultados_recepcion.total_bodega - resultados_recepcion.tota_puerto) }} Kg</em> <b class="text-blue-7">Merma: </b> <em class="q-mr-md">{{ (((resultados_recepcion.total_bodega - resultados_recepcion.tota_puerto) / resultados_recepcion.tota_puerto) * 100).toFixed(2) }}</em>
      </div>
      <div class="col-4 q-pa-md" style="font-size:13px" v-show="datos_despachos.length>0 && row_visualiza == 'envio'">
        <b class="text-green-7">Cant. Despachada: </b> <em class="q-mr-md">{{ formatPrice(resultados_despachos.total_despachada) }} Kg</em>
      </div>
    </div>

    <div class="row q-pa-none" v-show="row_visualiza == 'recepcion'">
       <div class="col-lg-11 col-md-12 col-sm-12">
          <q-table
            title="Registros de recepción de trigo"
            class="my-sticky-virtscroll-table"
            title-class="text-blue-8"
            :data="datos_recepcion"
            separator="vertical"
            :columns="columns_recepcion"
            row-key="id_registro"
            :loading="loading_recepcion"
            :filter="filter_recepcion"
            selection="multiple"
            :selected.sync="selected"
            :selected-rows-label="getSelectedString"
            table-style="max-height: 850px"
            flat
            dense
            bordered
            :pagination.sync="pagination"
            :rows-per-page-options="[0]"
          >
            <template v-slot:top-right>
              <q-input dense clearable debounce="400" @input="obtenerListadoRecepcion()"  v-model="filtro_motonave_recepcion" label="Filtrar por motonave" stack-label class="q-mr-md"/>
              <q-select class="q-mr-md" dense clearable  style="width:150px" @input="obtenerListadoRecepcion()"  v-model="select_filter_silo_recepcion"   label="Filtrar por bodega" stack-label :options="filter_bodegas_recepcion" emit-value  map-options/>
              <q-input dense bg-color="white" label-color="primary" v-model="filter_recepcion" input-class="text-right" class="q-ml-md" placeholder="Filtrar información">
                <template v-slot:append>
                  <q-icon v-if="filter_recepcion === ''" name="search" />
                  <q-icon v-else name="clear" class="cursor-pointer" @click="filter_recepcion = ''" />
                </template>
              </q-input>
            </template>

            <template v-slot:body="props">
              <q-tr :props="props" class="text-grey-10" >

                <q-td>
                  <q-checkbox dense v-model="props.selected" />
                </q-td>

                <q-td key="fecha" :props="props" style="font-size:11px">
                  {{props.row.fecha}}
                </q-td>

                <q-td key="motonave" :props="props" style="font-size:11px">
                {{ props.row.motonave }}
                </q-td>

                <q-td key="placa" :props="props" style="font-size:11px">
                  <div class="text-blue-9 text-bold text-center">{{props.row.placa}}</div>
                </q-td>

                <q-td key="nom_sil" :props="props" style="font-size:11px">
                  {{props.row.nom_sil}}
                </q-td>

                <q-td key="consecutivo" :props="props" style="font-size:11px">
                  {{ formatPrice(props.row.consecutivo) }}
                </q-td>

                <q-td key="bl" :props="props" style="font-size:11px">
                  {{ props.row.bl }}
                </q-td>

                <q-td key="tiquete1" :props="props" style="font-size:11px">
                  {{ formatPrice(props.row.tiquete1) }}
                </q-td>

                <q-td key="peso_entrada1" :props="props" style="font-size:11px">
                  {{ formatPrice(props.row.peso_entrada1) }}
                </q-td>

                <q-td key="peso_salida1" :props="props" style="font-size:11px">
                  {{ formatPrice(props.row.peso_salida1) }}
                </q-td>

                <q-td key="peso_neto1" :props="props" style="font-size:11px">
                  {{ formatPrice(props.row.peso_neto1) }}
                </q-td>

                <q-td key="hora_salida" :props="props" style="font-size:11px">
                  {{ props.row.hora_salida }}
                </q-td>

                <q-td key="acumulado1" :props="props" style="font-size:11px">
                  {{ formatPrice(props.row.acumulado1) }}
                </q-td>

                <q-td key="tiquete2" :props="props" style="font-size:11px">
                  {{ formatPrice(props.row.tiquete2) }}
                </q-td>

                <q-td key="peso_entrada2" :props="props" style="font-size:11px">
                  {{ formatPrice(props.row.peso_entrada2) }}
                </q-td>

                <q-td key="peso_salida2" :props="props" style="font-size:11px">
                  {{ formatPrice(props.row.peso_salida2) }}
                </q-td>

                <q-td key="peso_neto2" :props="props" style="font-size:11px">
                  {{ formatPrice(props.row.peso_neto2) }}
                </q-td>

                <q-td key="acumulado2" :props="props" style="font-size:11px">
                  {{ formatPrice(props.row.acumulado2) }}
                </q-td>

                <q-td key="hora_llegada" :props="props" style="font-size:11px">
                  {{ props.row.hora_llegada}}
                </q-td>

                <q-td key="diferencia" :props="props" style="font-size:11px">
                  <div :class="props.row.diferencia < 0 ? 'bg-yellow-6':''">{{ formatPrice(props.row.diferencia) }}</div>
                </q-td>

                <q-td key="tiempo_recorrido" :props="props" style="font-size:11px">
                  {{ props.row.tiempo_recorrido }}
                </q-td>

                <q-td key="usu_registra" :props="props" style="font-size:11px">
                  {{ props.row.usu_registra }}
                </q-td>

                <q-td key="created_at" :props="props" style="font-size:11px">
                  {{ props.row.created_at }}
                </q-td>

                <!-- <q-td key="usu_modifica" :props="props" style="font-size:11px">
                  {{ props.row.usu_modifica }}
                </q-td>

                <q-td key="updated_at" :props="props" style="font-size:11px">
                  {{ props.row.updated_at }}
                </q-td> -->
              </q-tr>
            </template>
            <template v-slot:bottom-row >
            <q-tr class="bg-blue-7   text-white text-bold" v-show="datos_recepcion.length>0">
              <q-td class="text-right"></q-td>
              <q-td v-bind:key="column.name" v-for="column in bottomColumns3" class="text-right">
                {{ column.text }}
              </q-td>
            </q-tr>
          </template>
          </q-table>
       </div>
    </div>
    <div class="row q-pa-none" v-show="row_visualiza == 'envio'">
       <div class="col-lg-11 col-md-12 col-sm-12">
          <q-table
            title="Registros de despachos de trigo"
            class="my-sticky-virtscroll-table"
            title-class="text-primary"
            :data="datos_despachos"
            separator="vertical"
            :columns="columns_despachos"
            row-key="id_registro"
            :loading="loading_despachos"
            :filter="filter_despachos"
            selection="multiple"
            :selected.sync="selected_despachos"
            :selected-rows-label="getSelectedString"
            table-style="max-height: 850px"
            flat
            dense
            bordered
            :pagination.sync="pagination"
            :rows-per-page-options="[0]"
          >
            <template v-slot:top-right>
                <q-radio size="xs" v-model="filtro_estado_despacho" val="en_transito" label="En transito" class="q-mr-sm" />
                <q-radio size="xs" v-model="filtro_estado_despacho" val="descargada" label="Descargado" class="q-mr-sm" />
                <q-radio size="xs" v-model="filtro_estado_despacho" val="directo" label="Directo de puerto" class="q-mr-sm" />
                <q-radio size="xs" v-model="filtro_estado_despacho" val="todos" label="Todos" class="q-mr-xl" />
              <q-select class="q-mr-md" dense clearable  style="width:150px" @input="obtenerListadoDespachos()"  v-model="select_filter_silo"   label="Filtrar por bodega" stack-label :options="filter_bodegas" emit-value  map-options/>
              <q-input dense clearable debounce="400" @input="obtenerListadoDespachos()"  v-model="filtro_motonave" label="Filtrar por motonave" stack-label/>
              <q-input dense bg-color="white" label-color="primary" v-model="filter_despachos" input-class="text-right" class="q-ml-md" placeholder="Filtrar información">
                <template v-slot:append>
                  <q-icon v-if="filter_despachos === ''" name="search" />
                  <q-icon v-else name="clear" class="cursor-pointer" @click="filter_despachos = ''" />
                </template>
              </q-input>
            </template>

            <template v-slot:body="props">
              <q-tr :props="props" class="text-grey-10" >

                <q-td>
                  <q-checkbox dense v-model="props.selected" v-if="props.row.estado == 'en_transito' || props.row.estado == 'directo' "/>
                </q-td>

                <q-td key="fecha" :props="props" style="font-size:11px">
                  {{props.row.fecha}}
                </q-td>

                <q-td key="bl" :props="props" style="font-size:11px">
                {{ props.row.bl }}
                </q-td>

                <q-td key="motonave" :props="props" style="font-size:11px">
                {{ props.row.motonave }}
                </q-td>

                <q-td key="placa" :props="props" style="font-size:11px">
                  <div :class="props.row.estado == 'descargada' ? 'text-green-9 text-bold text-center' : 'text-red-9 text-bold text-center'">
                    {{props.row.placa}}
                    <q-tooltip class="bg-indigo" :offset="[10, 10]">
                      {{ props.row.estado }}
                    </q-tooltip>
                  </div>
                </q-td>

                <q-td key="tiquete" :props="props" style="font-size:11px">
                  {{formatPrice(props.row.tiquete)}}
                </q-td>

                <q-td key="nombre_transportadora" :props="props" style="font-size:11px">
                  {{props.row.nombre_transportadora}}
                </q-td>

                <q-td key="silo" :props="props" style="font-size:11px">
                  {{props.row.silo}}
                </q-td>

                <q-td key="destino" :props="props" style="font-size:11px">
                  {{props.row.destino}}
                </q-td>

                <q-td key="peso_entrada" :props="props" style="font-size:11px">
                  {{ formatPrice(props.row.peso_entrada) }}
                </q-td>

                <q-td key="peso_salida" :props="props" style="font-size:11px">
                  {{ formatPrice(props.row.peso_salida) }}
                </q-td>

                <q-td key="peso_neto" :props="props" style="font-size:11px" class="text-bold">
                  {{ formatPrice(props.row.peso_neto) }}
                </q-td>

                <q-td key="precintos" :props="props" style="font-size:11px">
                  {{ props.row.precintos }}
                </q-td>

                <q-td key="usu_registra" :props="props" style="font-size:11px">
                  {{ props.row.usu_registra }}
                </q-td>

                <q-td key="created_at" :props="props" style="font-size:11px">
                  {{ props.row.created_at }}
                </q-td>

                <q-td key="usu_modifica" :props="props" style="font-size:11px">
                  {{ props.row.usu_modifica }}
                </q-td>

                <q-td key="updated_at" :props="props" style="font-size:11px">
                  {{ props.row.updated_at }}
                </q-td>

                <q-td key="acciones" :props="props">

                </q-td>
              </q-tr>
            </template>
            <template v-slot:bottom-row>
            <q-tr class="bg-primary   text-white text-bold" v-show="datos_despachos.length>0">
              <q-td class="text-right"></q-td>
              <q-td v-bind:key="column.name" v-for="column in bottomColumns4" class="text-right">
                {{ column.text }}
              </q-td>
            </q-tr>
          </template>
          </q-table>
       </div>
    </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { exportFile } from 'quasar'
export default {
  data () {
    return {
      filtro_motonave: '',
      filtro_motonave_recepcion: '',
      trigo_directo: false,
      filtro_estado_despacho: 'todos',
      resultados_recepcion: { tota_puerto: 0, total_bodega: 0, diferencia: 0, merma: 0 },
      resultados_despachos: { total_despachada: 0, total_bodega: 0, diferencia: 0, merma: 0 },
      bl: '',
      cont_consultas: 0,
      cont_consultas_recepcion: 0,
      filter_bodegas: [],
      filter_bodegas_recepcion: [],
      select_filter_silo: '',
      select_filter_silo_recepcion: '',
      row_visualiza: '',
      fecha1: this.obtenerFechas('inicio_anio'),
      fecha2: this.obtenerFechas('fin_anio'),
      expanded: true,
      motonave_activa: '',
      silos: [],
      silos_saldo: [],
      selected: [],
      selected_despachos: [],
      silo: '',
      silo_desp: '',
      id_registro: '',
      loading_recepcion: false,
      loading_despachos: false,
      filter_recepcion: '',
      filter_despachos: '',
      compras: [],
      pagination: {
        rowsPerPage: 0
      },
      adjunto_recepcion: [],
      adjunto_despacho: [],
      adjunto_envio: [],
      datos_recepcion: [],
      datos_despachos: [],
      motonave: '',
      ult_motonaves: [],
      columns_recepcion: [
        { name: 'fecha', align: 'left', label: 'Fecha', field: 'fecha', sortable: true, style: 'width: 40px', headerClasses: 'bg-blue-1' },
        { name: 'motonave', align: 'left', label: 'Motonave', field: 'motonave', sortable: true, style: 'width: 40px', headerClasses: 'bg-blue-1' },
        { name: 'placa', align: 'left', label: 'Placa', field: 'placa', sortable: true, style: 'width: 150px', headerClasses: 'bg-blue-1' },
        { name: 'nom_sil', align: 'center', label: 'Bodega', field: 'nom_sil', sortable: true, style: 'width: 100px', headerClasses: 'bg-blue-1' },
        { name: 'consecutivo', align: 'right', label: 'Consecutivo', field: 'consecutivo', sortable: true, style: 'width: 100px', headerClasses: 'bg-blue-1' },
        { name: 'bl', align: 'center', label: 'BL', field: 'bl', sortable: true, style: 'width: 100px', headerClasses: 'bg-blue-1' },
        { name: 'tiquete1', align: 'right', label: 'Tiquete 1', field: 'tiquete1', sortable: false, style: 'width: 150px', headerClasses: 'bg-blue-2' },
        { name: 'peso_entrada1', align: 'right', label: 'Peso Ent 1', field: 'peso_entrada1', sortable: false, style: 'width: 150px', headerClasses: 'bg-blue-2' },
        { name: 'peso_salida1', align: 'right', label: 'Peso Sal 1', field: 'peso_salida1', sortable: false, style: 'width: 150px', headerClasses: 'bg-blue-2' },
        { name: 'peso_neto1', align: 'right', label: 'Peso Neto 1', field: 'peso_neto1', sortable: false, style: 'width: 150px', headerClasses: 'bg-blue-2', sums: true },
        { name: 'hora_salida', align: 'right', label: 'Hora salida', field: 'hora_salida', sortable: false, style: 'width: 150px', headerClasses: 'bg-blue-2' },
        { name: 'acumulado1', align: 'right', label: 'Acumulado 1', field: 'acumulado1', sortable: false, style: 'width: 150px', headerClasses: 'bg-blue-2' },
        { name: 'tiquete2', align: 'right', label: 'Tiquete 2', field: 'tiquete2', sortable: false, style: 'width: 150px', headerClasses: 'bg-blue-3' },
        { name: 'peso_entrada2', align: 'right', label: 'Peso Ent 2', field: 'peso_entrada2', sortable: false, style: 'width: 150px', headerClasses: 'bg-blue-3' },
        { name: 'peso_salida2', align: 'right', label: 'Peso Sal 2', field: 'peso_salida2', sortable: false, style: 'width: 150px', headerClasses: 'bg-blue-3' },
        { name: 'peso_neto2', align: 'right', label: 'Peso Neto 2', field: 'peso_neto2', sortable: false, style: 'width: 150px', headerClasses: 'bg-blue-3', sums: true },
        { name: 'acumulado2', align: 'right', label: 'Acumulado 2', field: 'acumulado2', sortable: false, style: 'width: 150px', headerClasses: 'bg-blue-3' },
        { name: 'hora_llegada', align: 'center', label: 'Hora llegada', field: 'hora_llegada', sortable: false, style: 'width: 150px', headerClasses: 'bg-blue-3' },
        { name: 'diferencia', align: 'center', label: 'Diferencia', field: 'diferencia', sortable: true, style: 'width: 150px', headerClasses: 'bg-grey-3' },
        { name: 'tiempo_recorrido', align: 'center', label: 'T. Recorrido', field: 'tiempo_recorrido', sortable: false, style: 'width: 150px', headerClasses: 'bg-grey-3' },
        { name: 'usu_registra', align: 'center', label: 'Registró', field: 'usu_registra', sortable: false, style: 'width: 150px', headerClasses: 'bg-grey-3' },
        { name: 'created_at', align: 'center', label: 'Fecha registro', field: 'created_at', sortable: false, style: 'width: 150px', headerClasses: 'bg-grey-3' },
        { name: 'usu_modifica', align: 'center', label: 'Modificó', field: 'usu_modifica', sortable: false, style: 'width: 150px', headerClasses: 'bg-grey-3' },
        { name: 'updated_at', align: 'center', label: 'Fecha modificación', field: 'updated_at', sortable: false, style: 'width: 150px', headerClasses: 'bg-grey-3' }
      ],
      columns_despachos: [
        { name: 'fecha', align: 'center', label: 'Fecha', field: 'fecha', sortable: true, style: 'width: 40px', headerClasses: 'bg-green-1' },
        { name: 'bl', align: 'center', label: 'BL', field: 'bl', sortable: true, style: 'width: 100px', headerClasses: 'bg-green-1' },
        { name: 'motonave', align: 'left', label: 'Motonave', field: 'motonave', sortable: true, style: 'width: 40px', headerClasses: 'bg-green-1' },
        { name: 'placa', align: 'center', label: 'Placa', field: 'placa', sortable: true, style: 'width: 150px', headerClasses: 'bg-green-1' },
        { name: 'tiquete', align: 'right', label: 'Tiquete', field: 'tiquete', sortable: true, style: 'width: 150px', headerClasses: 'bg-green-1' },
        { name: 'nombre_transportadora', align: 'left', label: 'Transportadora', field: 'nombre_transportadora', sortable: true, style: 'width: 150px', headerClasses: 'bg-green-1' },
        { name: 'silo', align: 'center', label: 'Origen', field: 'silo', sortable: true, style: 'width: 150px', headerClasses: 'bg-green-1' },
        { name: 'destino', align: 'left', label: 'Destino', field: 'destino', sortable: true, style: 'width: 150px', headerClasses: 'bg-green-1' },
        { name: 'peso_entrada', align: 'right', label: 'Tara', field: 'peso_entrada', sortable: false, style: 'width: 150px', headerClasses: 'bg-green-1' },
        { name: 'peso_salida', align: 'right', label: 'Peso bruto', field: 'peso_salida', sortable: false, style: 'width: 150px', headerClasses: 'bg-green-1' },
        { name: 'peso_neto', align: 'right', label: 'Peso neto', field: 'peso_neto', sortable: false, style: 'width: 150px', headerClasses: 'bg-green-1', sums: true },
        { name: 'precintos', align: 'left', label: 'Precintos', field: 'precintos', sortable: true, style: 'width: 40px', headerClasses: 'bg-green-1' },
        { name: 'usu_registra', align: 'center', label: 'Registró', field: 'usu_registra', sortable: false, style: 'width: 150px', headerClasses: 'bg-green-1' },
        { name: 'created_at', align: 'center', label: 'Fecha registro', field: 'created_at', sortable: false, style: 'width: 150px', headerClasses: 'bg-green-1' }
        /* { name: 'usu_modifica', align: 'center', label: 'Modificó', field: 'usu_modifica', sortable: false, style: 'width: 150px', headerClasses: 'bg-green-1' },
        { name: 'updated_at', align: 'center', label: 'Fecha modificación', field: 'updated_at', sortable: false, style: 'width: 150px', headerClasses: 'bg-green-1' } */
      ],
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      }
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    bottomColumns3 () {
      var retVal = []
      for (let i = 0; i < this.columns_recepcion.length; i++) {
        var isVisible = true
        if (isVisible) {
          if (this.columns_recepcion[i].sums) {
            // need to calculate sum, wonder how
            retVal.push({ name: this.columns_recepcion[i].name, text: this.formatPrice(this.obtenerTotales(this.columns_recepcion[i].name, 'recepcion')), align: 'right' })
          } else {
            retVal.push({ name: this.columns_recepcion[i].name, text: '' })
          }
        }
      }
      return retVal
    },
    bottomColumns4 () {
      var retVal = []
      for (let i = 0; i < this.columns_despachos.length; i++) {
        var isVisible = true
        if (isVisible) {
          if (this.columns_despachos[i].sums) {
            // need to calculate sum, wonder how
            retVal.push({ name: this.columns_despachos[i].name, text: this.formatPrice(this.obtenerTotalesDespachos(this.columns_despachos[i].name)), align: 'right' })
          } else {
            retVal.push({ name: this.columns_despachos[i].name, text: '' })
          }
        }
      }
      return retVal
    }
  },
  methods: {
    selMotovane (motonave) {
      this.motonave_activa = motonave
    },
    getSelectedString () {
      if (this.row_visualiza === 'recepcion') {
        return this.selected.length === 0 ? '' : `${this.selected.length} registro${this.selected.length > 1 ? 's' : ''} `
      } else {
        return this.selected_despachos.length === 0 ? '' : `${this.selected_despachos.length} registro${this.selected_despachos.length > 1 ? 's' : ''} `
      }
    },
    wrapCsvValue (val, formatFn) {
      let formatted = formatFn !== void 0
        ? formatFn(val)
        : val

      formatted = formatted === void 0 || formatted === null
        ? ''
        : String(formatted)

      formatted = formatted.split('"').join('""')
      /**
       * Excel accepts \n and \r in strings, but some other CSV parsers do not
       * Uncomment the next two lines to escape new lines
       */
      // .split('\n').join('\\n')
      // .split('\r').join('\\r')

      return `"${formatted}"`
    },
    sumarDias (fecha, dias) {
      fecha.setDate(fecha.getDate() + dias)
      return fecha
    },
    tranformarFechas (fecha, operacion) {
      if (operacion === 'sumar_dia') {
        var fec = Date.parse(fecha)
        var f1 = new Date(this.sumarDias(new Date(fec), 1))
        return f1
      }
      if (operacion === '') {
        var fecaux = Date.parse(fecha)
        var f1aux = new Date(this.sumarDias(new Date(fecaux), 0))
        return f1aux
      }
    },
    exportTable () {
      // naive encoding to csv format
      const content = [this.columns.map(col => this.wrapCsvValue(col.label))].concat(
        this.compras.map(row => this.columns.map(col => this.wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[ col.field === void 0 ? col.name : col.field ],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'lista-compras.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },
    descargarFormatoImportacion (tipoArchivo) {
      if (tipoArchivo === 'recepcion') {
        window.location.href = this.api_url + '/api/logistica/file-import-recepcion-trigo/'
      } else {
        window.location.href = this.api_url + '/api/logistica/file-import-envio-trigo/'
      }
    },
    obtenerTotales (columna, opcion) {
      var sum = 0
      // var preBultos = 0
      // var self = this
      if (opcion === 'recepcion') {
        if (columna === 'peso_neto1') {
          this.datos_recepcion.forEach(function (element) {
            sum += Number(element.peso_neto1)
          })
          // self.preBultosVendedor = sum
        }
        if (columna === 'peso_neto2') {
          this.datos_recepcion.forEach(function (element) {
            sum += Number(element.peso_neto2)
          })
          // self.preBultosVendedor = sum
        }
      }

      if (opcion === 'envio') {
        if (columna === 'peso_neto') {
          this.datos_despachos.forEach(function (element) {
            sum += Number(element.peso_neto)
          })
          // self.preBultosVendedor = sum
        }
      }

      return sum
    },
    obtenerTotalesDespachos (columna) {
      var sum = 0
      // var preBultos = 0
      // var self = this
      if (columna === 'peso_neto') {
        this.datos_despachos.forEach(function (element) {
          sum += Number(element.peso_neto)
        })
        // self.preBultosVendedor = sum
      }
      return sum
    },
    obtenerFechas (opcion) {
      var today = new Date()
      var year = today.getFullYear()
      if (opcion === 'inicio_anio') {
        return year + '-01-01'
      } else {
        return year + '-12-31'
      }
    },
    validarCampos () {
      var contError = 0
      if (this.fecha_embarque1 === '') {
        contError++
        this.notificacion('red-5', 'white', 'fas fa-exclamation-triangle', 'Falta seleccionar la fecha de embarque', 'top-right', 2000)
      }
      return contError
    },
    abrirVentanaAdjunto (ref) {
      this.$refs[ref].pickFiles()
    },
    onRejected (rejectedEntries) {
      this.$q.notify({
        type: 'negative',
        html: true,
        position: 'top-right',
        timeout: 8000,
        message: 'Archivo no debe superar las 5MB'
      })
    },
    confirmRegistro (accion) {
      /* if (this.validarCampos() !== 0) {
        return false
      } */
      this.$q.dialog({
        title: 'Confirmación',
        message: '¿Está seguro de subir la información adjunta?',
        cancel: true,
        persistent: true
      }).onOk(() => {
      }).onOk(() => {
        accion === 'recepcion' ? this.importarDatos() : this.importarDatosDespacho()
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    obtenerSilos () {
      var self = this
      axios.get(this.api_url + '/api/silos/obtener-silos-nombre/', {
        params: {
          token: localStorage.getItem('token'),
          ubicacion: 'Santa marta'
        }
      }).then((response) => {
        self.silos = response.data
      }).finally(function () {
      })
    },
    obtenerListadoRecepcion () {
      var self = this
      self.showLoading('Obteniendo información, por favor espere ...')
      axios.get(this.api_url + '/api/logistica/listado-repecion-trigo/', {
        params: {
          token: localStorage.getItem('token'),
          filtro_motonave: this.filtro_motonave_recepcion,
          filtro_bodega: self.select_filter_silo_recepcion,
          fecini: this.fecha1,
          fecfin: this.fecha2
        }
      }).then((response) => {
        self.datos_recepcion = response.data
      }).finally(function () {
        self.resultados_recepcion.tota_puerto = self.obtenerTotales('peso_neto1', 'recepcion')
        self.resultados_recepcion.total_bodega = self.obtenerTotales('peso_neto2', 'recepcion')
        if (self.cont_consultas_recepcion === 0) {
          self.obtenerBodegasRecepcion()
        }
        self.cont_consultas_recepcion++
        self.hideLoading()
      })
    },
    obtenerListadoDespachos () {
      var self = this
      // self.loading_despachos = true
      self.showLoading('Obteniendo información, por favor espere ...')
      axios.get(this.api_url + '/api/logistica/obtener-despachos-trigo/', {
        params: {
          token: localStorage.getItem('token'),
          fecini: this.fecha1,
          fecfin: this.fecha2,
          filtro_bodega: self.select_filter_silo,
          filtro_motonave: self.filtro_motonave,
          filtro_estado_despacho: self.filtro_estado_despacho
        }
      }).then((response) => {
        self.datos_despachos = response.data
      }).finally(function () {
        if (self.cont_consultas === 0) {
          self.obtenerMotonaves()
        }
        self.cont_consultas++
        self.resultados_despachos.total_despachada = self.obtenerTotales('peso_neto', 'envio')
        // self.loading_despachos = false
        self.hideLoading()
      })
    },
    obtenerMotonaves () {
      const objeto = [ ...new Set(this.datos_despachos.map(obj => obj.silo)) ]
      this.filter_bodegas = objeto.filter(obj => obj !== 'directo')
    },
    obtenerBodegasRecepcion () {
      const objeto = [ ...new Set(this.datos_recepcion.map(obj => obj.nom_sil)) ]
      this.filter_bodegas_recepcion = objeto
    },
    obtenerMotonaveActiva () {
      var self = this
      self.showLoading('Obteniendo información de motonave, por favor espere ...')
      axios.get(this.api_url + '/api/compras-trigo/obtener-motonave-activa/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.motonave_activa = response.data
      }).finally(function () {
        self.hideLoading()
      })
    },
    obtenerUltimasMotonaves () {
      var self = this
      self.showLoading('Obteniendo información de motonaves, por favor espere ...')
      axios.get(this.api_url + '/api/compras-trigo/obtener-ultimas-motonaves/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.ult_motonaves = response.data
      }).finally(function () {
        self.hideLoading()
      })
    },
    obtenerSaldoSilos () {
      var self = this
      self.showLoading('Obteniendo información ...')
      axios.get(this.api_url + '/api/silos/obtener-info-graficas/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.silos_saldo = response.data.sucursal_1.info_general
      }).finally(function () {
        self.hideLoading()
      })
    },
    importarDatos () {
      if (!this.silo) {
        this.notificacion('red-5', 'white', 'warning', 'Falta seleccionar una bodega destino', 'top-right', 3000)
        return false
      }
      this.showLoading('Subiendo información, por favor espere ...')
      const fd = new FormData()
      fd.append('documento_recepcion', this.adjunto_recepcion)
      fd.append('token', localStorage.getItem('token'))
      fd.append('motonave', this.motonave_activa)
      fd.append('silo', this.silo)
      var self = this
      axios.post(this.api_url + '/api/logistica/importar-recepcion-trigo/',
        fd,
        {
          headers: { 'Content-Type': 'multipart/form-data' }
        }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.hideLoading()
          self.obtenerListadoRecepcion()
          self.obtenerSaldoSilos()
          self.adjunto_recepcion = []
          self.silo = ''
          self.notificacion('green', 'white', 'fas fa-check', res.data.mensaje, 'top-right', 3000)
        } else {
          self.hideLoading()
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'top-right', 3000)
        }
      }).catch(error => {
        // console.log(error)
        self.hideLoading()
        self.notificacion('red-5', 'white', 'warning', error, 'top-right', 3000)
      })
    },
    importarDatosDespacho () {
      if (!this.silo_desp && this.trigo_directo === false) {
        this.notificacion('red-5', 'white', 'warning', 'Falta seleccionar la bodega de donde se va despachar el trigo', 'top-right', 4000)
        return false
      }
      if (!this.bl && this.trigo_directo === false) {
        this.notificacion('red-5', 'white', 'warning', 'Falta digitar el BL', 'top-right', 4000)
        return false
      }
      this.showLoading('Subiendo información, por favor espere ...')
      const fd = new FormData()
      fd.append('documento_despacho', this.adjunto_despacho)
      fd.append('token', localStorage.getItem('token'))
      fd.append('motonave', this.motonave_activa)
      fd.append('silo', this.silo_desp)
      fd.append('bl', this.bl)
      fd.append('trigo_directo', this.trigo_directo)
      var self = this
      axios.post(this.api_url + '/api/logistica/importar-despachos-trigo/',
        fd,
        {
          headers: { 'Content-Type': 'multipart/form-data' }
        }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.hideLoading()
          self.obtenerListadoDespachos()
          self.obtenerSaldoSilos()
          self.adjunto_despacho = []
          self.silo_desp = ''
          self.trigo_directo = false
          self.bl = ''
          self.notificacion('green', 'white', 'fas fa-check', res.data.mensaje, 'top-right', 3000)
        } else {
          self.hideLoading()
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'top-right', 5000)
        }
      }).catch(error => {
        // console.log(error)
        self.hideLoading()
        self.notificacion('red-5', 'white', 'warning', error, 'top-right', 3000)
      })
    },
    anularMovimientos () {
      this.showLoading('Anulando registros, por favor espere ...')
      var self = this
      axios.put(this.api_url + '/api/silos/anular-movimiento-multiple/', {
        registros: this.selected,
        visualiza: this.row_visualiza,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.hideLoading()
          self.obtenerListadoRecepcion()
          self.obtenerSaldoSilos()
          self.selected.length = 0
          self.notificacion('green', 'white', 'fas fa-check', res.data.mensaje, 'top-right', 3000)
        } else {
          self.hideLoading()
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'top-right', 3000)
        }
      }).catch(function (err) {
        self.hideLoading()
        self.notificacion('red-5', 'white', 'warning', err, 'top-right', 3000)
      })
    },
    anularMovimientosDespachos () {
      this.showLoading('Anulando registros, por favor espere ...')
      var self = this
      axios.put(this.api_url + '/api/silos/anular-movimiento-multiple/', {
        registros: this.selected_despachos,
        visualiza: this.row_visualiza,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.hideLoading()
          self.obtenerListadoDespachos()
          self.obtenerSaldoSilos()
          self.selected_despachos.length = 0
          self.notificacion('green', 'white', 'fas fa-check', res.data.mensaje, 'top-right', 3000)
        } else {
          self.hideLoading()
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'top-right', 3000)
        }
      }).catch(function (err) {
        self.hideLoading()
        self.notificacion('red-5', 'white', 'warning', err, 'top-right', 3000)
      })
    },
    formatPrice (value, decimales = 0) {
      let val = (value / 1).toFixed(decimales).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    notificacion (color, colorTexto, icono, mensaje, posicion, tiempo) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        timeout: tiempo,
        position: posicion
      })
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    }
  },
  created () {
    // this.obtenerMotonaveActiva()
    this.obtenerUltimasMotonaves()
    this.obtenerSilos()
    this.obtenerSaldoSilos()
    // this.obtenerListadoRecepcion()
    // this.obtenerListadoDespachos()
  },
  beforeDestroy () {
  },
  mounted () {
  },
  watch: {
    filtro_estado_despacho () {
      this.obtenerListadoDespachos()
    }
  }
}
</script>
<style lang="sass">
.my-sticky-virtscroll-table
  /* height or max-height is important */
  height: 410px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #fff

  thead tr th
    position: sticky
    z-index: 1
  /* this will be the loading indicator */
  thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
  thead tr:first-child th
    top: 0
  </style>
