<template>
  <div class="row" v-if="!verificaPermiso(56)">
    <usuarios-no-autorizado/>
  </div>

  <div class="q-pa-xl" v-else align="center">
    <div class="row q-py-xs">
      <div class="col-12 text-primary text-h5 text-bold">Trazabilidad del despacho No. <b class="text-red-9">{{ despacho.consecutivo }}<q-badge   color="orange-7" align="top" v-show="despacho.certificado=='si'">Req. Certificado de calidad</q-badge></b></div>
    </div>
    <q-separator/><br>
    <div class="row q-py-sm">
      <div class="col-9 text-primary" align="left"><q-icon class="q-mr-sm" color="primary" name="fas fa-user-alt" size="22px"/>Despacho registrado por: {{ despacho.usuario }}</div>
      <div v-show="despacho.autorizado == 'si'" class="col-3 text-primary" align="right"><q-btn size="15px" icon="fas fa-list" flat color="primary" class="text-bold" label="Ver pedidos" @click="modal_info_placa = true" /></div>
    </div>
    <div class="row q-py-none">
      <div class="col-3 text-blue-9 q-mr-md" align="left">
        <q-list class="bg-grey-2" padding v-if="Object.keys(despacho || {}).length > 0" style="height: 160px">
          <q-item>
            <q-item-section>
              <q-item-label overline>INFORMACIÓN DEL CONDUCTOR</q-item-label>
              <q-item-label class="text-bold" style="font-size:17px">{{ despacho.placa }}</q-item-label>
              <q-item-label class="text-primary" style="font-size:14px"><b>Cédula</b> {{ despacho.nit_conductor }}</q-item-label>
              <q-item-label class="text-primary" style="font-size:14px"><b>Nombre</b> {{ despacho.conductor }}</q-item-label>
              <q-item-label class="text-primary" style="font-size:14px"><b>Celular</b> {{ turno.celular }}</q-item-label>
            </q-item-section>

            <q-item-section side top>
              <q-item-label style="font-size:14px">{{ despacho.capacidad }} Tn</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </div>
      <div class="col-3 text-blue-9 text-h6 q-mr-md" align="left">
        <q-list class="bg-grey-2" padding v-if="Object.keys(turno || {}).length > 0" style="height: 160px">
          <q-item>
            <q-item-section>
              <q-item-label overline>INFORMACIÓN DEL TURNO</q-item-label>
              <q-item-label class="text-bold">TURNO {{ turno.ficho }}</q-item-label>
              <q-item-label  style="font-size:28px">{{ turno.nombre_ficho }}</q-item-label>
              <q-item-label class="text-primary" style="font-size:14px"><b>Ciudad destino</b> {{ turno.ciudad }}</q-item-label>
            </q-item-section>

            <q-item-section side top>
              <q-item-label style="font-size:14px">{{ turno.estado == 'eliminar' ? '' : turno.estado }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </div>
      <div class="col-5 text-blue-9 text-h6 " align="left">
        <q-list class="bg-grey-2" padding v-if="Object.keys(novedad || {}).length > 0" style="height: 160px">
          <q-item>
            <q-item-section>
              <q-item-label overline>INFORMACIÓN DE ENTREGA DE MERCANCÍA</q-item-label>
              <q-item-label :class="novedad.novedad == 'si' ? 'text-red':'text-green'"><b>NOVEDAD:</b> {{ novedad.novedad }}</q-item-label>
              <q-item-label class="text-primary" style="font-size:14px">"{{ novedad.observaciones }}"</q-item-label>
            </q-item-section>

            <q-item-section side top>
              <q-item-label style="font-size:14px"></q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </div>
    </div><br>
    <div class="q-pa-none">
      <q-stepper
        v-model="step"
        ref="stepper"
        alternative-labels
        color="primary"
        flat
        animated
      >
        <q-step v-for="(tra, index) in traza_despacho" :key="index"
          :name="index++"
          :title="tra.label"
          :caption="tra.registro"
          icon="fas fa-circle"
          :color="tra.registro ? 'green-8' : 'grey-5'"
          :done="step > 0"
        />
      </q-stepper>
  </div>

    <!-- Modal de donde visualiza que productos y pedidos lleva el vehículo -->
    <q-dialog
      v-model="modal_info_placa"
      persistent
      :maximized="true"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
        <div class="row bg-grey-3">
          <div class="col-12 q-pa-sm">
            <logistica-consulta-despacho :nroPlaca="despacho.placa" :modoLectura="true"/>
            <div class="row">
              <div class="col-12 q-pa-sm text-center">
                <q-btn no-caps icon="fas fa-times" rounded color="red-8" label="Cerrar ventana" @click="modal_info_placa = false" />
              </div>
            </div>
          </div>
        </div>
    </q-dialog>

  </div>
</template>

<script>
import axios from 'axios'
// import { date } from 'quasar'
export default {
  props: {
    idDespacho: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      modal_info_placa: false,
      step: 10,
      traza_despacho: {},
      despacho: {},
      turno: {},
      novedad: {}
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    }
  },
  methods: {
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    obtenerTrazaDespacho () {
      var self = this
      self.showLoading('Obteniendo información, por favor espere ...')
      axios.get(this.api_url + '/api/despachos-turno/traza-despachos', {
        params: {
          token: localStorage.getItem('token'),
          id_despacho: self.idDespacho
        }
      }).then((response) => {
        self.traza_despacho = response.data.trazabilidades
        self.despacho = response.data.despacho
        self.turno = response.data.turno
        self.novedad = response.data.novedad
      }).finally(function () {
        self.hideLoading()
      })
    }
  },
  created () {
  },
  beforeDestroy () {
  },
  mounted () {
    this.obtenerTrazaDespacho()
  },
  watch: {
  }
}
</script>
