<template>
  <div class="q-pa-none" align="center" v-if="$q.platform.is.mobile === true">
    <q-layout>
      <q-page-container>
        <q-page class="bg-image-app">
          <div class="text-center q-pt-lg q-py-lg">
              <div class="col text-h6 ellipsis text-primary">
                <q-img src="../../statics/icons/LogoIcoharinasBlanco.png" style="height: 50px; max-width: 320px" contain/>
              </div>
          </div>
          <div class="row q-pa-sm">
              <section class="q-my-xs q-mr-lg text-subtitle1" ><div class="doc-card-title text-bold">CONSULTA DE TURNOS</div></section>
          </div>
          <div class="row text-white q-py-sm">
            <div class="col-12 text-bold " style="font-size:22px;font-family: Trebuchet MS;">
              ¿Que puede consultar en nuestra plataforma?
            </div>
          </div>
          <div class="q-pa-md row items-center">
            <q-card class="bg-white" style="width: 100%;border-radius: 20px;">
              <q-card-section >
                <div class="text-h6 text-bold text-grey-7">Consultar el turno asignado</div>
                <div class="text-h6 text-bold text-grey-7">Turnos faltantes</div>
                <div class="text-h6 text-bold text-grey-7">Información del pedido</div>
              </q-card-section>
            </q-card>
          </div>
          <div class="row q-py-md" v-show="false">
            <div class="col-12">
              <q-img src="../../statics/Conductores_landing.png" style="height: 150px; max-width: 380px" contain/>
            </div>
          </div>
          <div class="row text-white q-py-md q-pa-md">
            <div class="col-12 text-justify" style="font-size:15px;font-family: Trebuchet MS;">
              <b>Tener en cuenta: </b>Digitar la placa y No. celular con el que separó el turno.
            </div>
          </div>
          <div class="row q-py-md">
            <div class="col-5" align="right">
                <q-input bg-color="white"  maxlength="6" label="No. Placa" stack-label style="width:120px;text-transform: uppercase;" outlined v-model="placa" input-class="text-center text-bold text-red-8"/>
            </div>
            <div class="col-7" align="center">
                <q-input bg-color="white" no-caps label="No. Celular" mask="(###) ### - ####" unmasked-value  stack-label style="width:180px;text-transform: uppercase;" outlined v-model="celular" input-class="text-center text-bold  text-grey-8"/>
            </div>
          </div>
          <div class="row">
            <div class="col-12 q-pa-sm">
                <q-btn color="primary" class="full-width" label="Consultar turno" @click="obtenerInfoTurno()"/>
            </div>
          </div>

          <q-dialog
            v-model="modal_info"
            persistent
            :maximized="maximizedToggle"
            transition-show="slide-up"
            transition-hide="slide-down"
          >
            <q-card class="bg-white text-white">
              <div class="row q-pa-sm">
                <div class="col-7 text-left">
                  <q-btn size="12px" @click="modal_info = false" flat icon="fas fa-arrow-left" color="orange-9" label="Atras"/>
                </div>
                <div class="col-5 text-right">
                  <q-btn size="11px" icon="fas fa-sync-alt" flat  rounded color="green-9" label="Actualizar" @click="obtenerInfoTurno()"/>
                </div>
              </div>
                <q-card-section class="q-pa-none">
                  <div class="row">
                    <div class="col text-h6 ellipsis">
                      <q-img src="../../statics/Icono_ticket.png" style="height: 175px; max-width: 400px" contain/>
                    </div>
                    <div class=" text-grey-6 text-bold text-h4" style = "position:fixed; left:173px; top:90px;">{{ datos.nombre }}</div>
                    <div style = "position:fixed; left:157px; top:122px;"><q-chip class="text-grey-8" color="grey-4" size="11px" square >{{ datos.estado_label }}</q-chip></div>
                    <div style = "position:fixed; left:149px; top:152px; font-size: 11px;" class="text-grey-8">{{ datos.fecha_hora_reporta }}</div>
                    <div style = "position:fixed; left:175px; top:170px; font-size: 11px;" class="text-grey-6 text-bold">{{ datos.ciudad }}</div>
                  </div>
                </q-card-section>

                <q-card-section>
                  <div class="row text-primary q-pa-xs">
                    <div class="col-12 text-center text-bold text-h6">
                      <q-btn color="grey-8" label="Ver pedido" flat size="16px" icon="fas fa-search" @click="obtenerInfoDespacho()"/>
                    </div>
                  </div>
                  <div class="row text-primary q-pa-sm">
                    <div class="col-12 text-center text-bold text-h6">
                      Turnos pendientes
                    </div>
                  </div>
                  <div class="row justify-center q-gutter-lg">
                    <q-intersection
                      v-for="(reportado, index) in turnos"
                      :key="index"
                      transition="scale"
                      class="example-item-reportados"
                    >

                        <q-card flat  v-show="reportado.me === true" :class="reportado.estado == 'en_cargue' ? 'bg-green-7' : 'bg-black'">
                          <q-card-section >
                            <div class="row items-center no-wrap">
                              <div class="col ">
                                <q-btn size="xs" round color="yellow-7 text-black" class="text-bold absolute" style="font-size:11px;top: -22%; right: 255px; transform: translateX(-12%);">{{ reportado.posicion }}</q-btn>
                                <div class="text-subtitle2 text-center ">{{ reportado.ficho }} (Mi turno)</div>
                              </div>
                            </div>
                          </q-card-section>
                        </q-card>

                        <q-card flat v-show="reportado.me === false"  :class="reportado.estado == 'en_cargue' ? 'bg-green-7' : 'bg-indigo-7'">
                          <q-card-section >
                            <div class="row items-center no-wrap">
                              <div class="col ">
                                <q-btn size="xs" round color="yellow-7 text-black" class="text-bold absolute" style="font-size:11px;top: -22%; right: 255px; transform: translateX(-12%);">{{ reportado.posicion }}</q-btn>
                                <div class="text-subtitle2 text-center ">{{ reportado.ficho }}<b v-show="reportado.estado == 'en_cargue'"> (En zona de cargue)</b></div>
                              </div>
                            </div>
                          </q-card-section>
                        </q-card>

                    </q-intersection>
                  </div>
                </q-card-section>
            </q-card>
          </q-dialog>

          <q-dialog v-model="modal_pedido" position="bottom">
            <div class="row bg-white" style="width:100%" v-if="despachos.length > 0">
              <div class="row" style="width: 100%">
                <div class="col-12">
                  <div class="row">
                    <div class="col-3 text-center text-bold">
                    </div>
                    <div class="col-9 text-right text-bold">
                      <q-btn @click="modal_pedido=false" flat size="12px" color="red" label="Cerrar"/>
                    </div>
                  </div>
                  <q-scroll-area style="height: 300px;"   :thumb-style="thumbStyle" :bar-style="barStyle">
                    <div class="col-12 ">
                      <q-list style="max-width: 700px" class="bg-white">
                          <q-item class="shadow-1 bg-primary" dense>
                            <q-item-section avatar >
                              <div class="text-bold text-white" style="font-size:12px">Cantidad</div>
                            </q-item-section>
                            <q-item-section ><div class="text-center text-bold text-white" style="font-size:12px">Producto</div></q-item-section>
                            <q-item-section side class="text-white">
                              <q-chip outline color="white" dense text-color="white">
                                {{despachos[0].info_pedidos.length}} Items
                              </q-chip>
                            </q-item-section>
                          </q-item>
                        <div v-for="(pedido, index) in despachos[0].info_pedidos" :key="index" style="width:100%">
                          <q-item dense :class="index%2 == 0 ? 'bg-grey-3': 'white'">
                            <q-item-section avatar >
                              <div class="text-black" style="font-size:12px"><b>{{pedido.cantidad}}</b> {{pedido.unidad_medida}}</div>
                            </q-item-section>
                            <q-item-section class="text-left text-primary" style="font-size:11px">{{pedido.cod_producto}} - {{pedido.nom_producto}}</q-item-section>
                            <q-item-section side></q-item-section>
                          </q-item>
                          <q-separator />
                        </div>
                      </q-list>
                    </div>
                  </q-scroll-area>
                </div>
              </div>
            </div>
          </q-dialog>
          </q-page>
          </q-page-container>
          </q-layout>
      </div>

      <div class="q-pa-none" align="center" v-else>
        <div class="text-black">Solo se puede visualizar en dispositivos móviles</div>
      </div>

</template>

<script>
import axios from 'axios'
// import { date } from 'quasar'
export default {
  data () {
    return {
      thumbStyle: {
        right: '4px',
        borderRadius: '5px',
        backgroundColor: '#225A3F',
        width: '8px',
        opacity: 0.75
      },
      barStyle: {
        right: '2px',
        borderRadius: '9px',
        backgroundColor: '#225A3F',
        width: '12px',
        opacity: 0.2
      },
      maximizedToggle: true,
      modal_info: false,
      modal_pedido: false,
      placa: '',
      celular: '',
      turnos: [],
      datos: [],
      despachos: []
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    }
  },
  methods: {
    notificacion (color, colorTexto, icono, mensaje, posicion) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        position: posicion
      })
    },
    obtenerInfoTurno () {
      var self = this
      if (self.placa === '' || self.celular === '') {
        self.notificacion('red-5', 'white', 'warning', 'Falta digitar la placa o el celular.', 'center')
        return false
      }

      self.showLoading('Obteniendo información, por favor espere ...')
      axios.get(self.api_url + '/api/despachos-turno/consulta-turno-conductores/', {
        params: {
          placa: self.placa,
          celular: self.celular
        }
      }).then((response) => {
        self.datos = response.data
      }).finally(function () {
        if (!self.datos) {
          self.notificacion('red-5', 'white', 'warning', 'No se encontró información, por favor verificar los datos digitados.', 'center')
          self.modal_info = false
        } else {
          self.modal_info = true
          self.turnos.length = 0
          self.listadoTurnos()
        }
        self.hideLoading()
      })
    },
    listadoTurnos (automatico = false) {
      var self = this
      self.turnos.length = 0
      if (automatico === false) {
        self.showLoading('Obteniendo turnos, por favor espere ...')
      }
      axios.get(this.api_url + '/api/despachos-turno/listado-reportados-conductor/', {
        params: {
          estado: '',
          filtro_ficho: self.datos.nombre
        }
      }).then((response) => {
        self.turnos = response.data
      }).finally(function () {
        self.hideLoading()
      })
    },
    obtenerInfoDespacho () {
      var self = this
      self.despachos.length = 0
      self.modal_pedido = true
      self.showLoading('Obteniendo pedido, por favor espere ...')
      axios.get(self.api_url + '/api/despachos/consulta-por-placa-conductor', {
        params: {
          vista: 'agrupada',
          placa: self.placa,
          tipo_consulta: 'placa',
          solo_autorizado: 'si'
        }
      }).then((response) => {
        self.despachos = response.data
      }).finally(function () {
        self.hideLoading()
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    }
  },
  created () {
  },
  beforeDestroy () {
  },
  mounted () {
  },
  watch: {
  }
}
</script>
<style >
.example-item-reportados {
  height: 50px;
  width: 280px;
}
.bg-image-app {
   background-image: linear-gradient(130deg, #1B4130 0%, #358662 50%);
}
.doc-card-title {
  margin-left: -3px;
  padding: 2px 10px 2px 24px;
  background: #3d9269;
  color: #ffffff;
  position: relative;
  border-radius: 3px 5px 5px 0;
}
.doc-card-title::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
    border-top-color: transparent;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
  border-top-color: #2D7B58;
  border-width: 9px 0 0 11px;
}
</style>
