<template>

  <div class="row" v-if="!verificaPermiso(36)">
    <usuarios-no-autorizado/>
  </div>

  <div class="q-pa-none" v-else>
    <div class="q-pa-none" v-if="$q.platform.is.desktop === true">
      <q-list bordered class="rounded-borders bg-white">
        <q-expansion-item
          switch-toggle-side
          v-model="expanded"
          expand-separator
          :label="id_registro == '' ? 'Ingresar una nueva compra de trigo' : 'Modificación de compra'"
        >
          <q-card>
            <q-card-section>
              <div class="row bg-white q-pa-sm"  style="width:100%">
                <div class="col-lg-12 col-md-12 col-sm-12 ">

                  <div class="row q-pa-none" >
                    <div class="col-lg-12 col-md-12 col-sm-8 text-left text-primary text-bold" style="font-size:16px">REGISTRO DE COMPRAS DE TRIGO</div>
                  </div>
                  <div class="row q-pa-none q-pl-none" >
                    <div class="col-lg-12 col-md-12 col-sm-8 text-left text-grey-8" style="font-size:11px">Los campos que tengan un (*) asterisco, son campos obligatorios para crear la compra</div>
                  </div>
                  <div class="row q-pa-lg q-gutter-sm">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                      <q-input outlined dense  v-model="fecha_embarque1"   label="*Fecha de embarque" stack-label class="q-mr-xl">
                        <template v-slot:append>
                          <q-icon color="primary" name="event" class="cursor-pointer">
                            <q-popup-proxy ref="qDateProxy1" transition-show="scale" transition-hide="scale" >
                              <q-date :locale="myLocale" v-model="fecha_embarque1" mask="YYYY-MM-DD" @input="$refs.qDateProxy1.hide();" />
                            </q-popup-proxy>
                          </q-icon>
                        </template>
                      </q-input>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                      <q-input outlined  dense v-model="fecha_embarque2"   label="*Fecha de embarque" stack-label class="q-mr-xl">
                        <template v-slot:append>
                          <q-icon color="primary" name="event" class="cursor-pointer">
                            <q-popup-proxy ref="qDateProxy2" transition-show="scale" transition-hide="scale" >
                              <q-date :locale="myLocale" v-model="fecha_embarque2" mask="YYYY-MM-DD" @input="$refs.qDateProxy2.hide();" />
                            </q-popup-proxy>
                          </q-icon>
                        </template>
                      </q-input>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                      <q-select outlined dense  v-model="proveedor" :options="proveedores" label="*Elija un proveedor" stack-label  map-options option-value="nit" option-label="nombre"/>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                      <q-input outlined dense v-model="origen"  label="*Origen del trigo" stack-label/>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                      <q-input outlined dense v-model="motonave"  label="Nombre de la motonave" stack-label/>
                    </div>
                  </div>
                  <div class="row q-pa-sm">
                    <section class="q-my-xs q-mr-sm text-subtitle1" ><div class="doc-card-title">Ingresar los tipos de trigo</div></section>
                  </div>
                  <div class="q-pa-md">

                    <div class="row justify-center q-gutter-md q-py-sm">
                      <div class="col-1 text-right q-pa-sm text-grey-7" style="font-size:12px">
                      </div>
                      <div class="col-2">
                        <q-input outlined dense v-model="tipo1"  label="*Tipo trigo" stack-label/>
                      </div>
                      <div class="col-1">
                        <q-input outlined dense v-model="proteina1"  label="*% Proteína" stack-label/>
                      </div>
                      <div class="col-1">
                        <q-input outlined dense v-model="cantidad1"  label="*Cantidad (Kg)" stack-label/>
                      </div>
                      <div class="col-1">
                        <q-input outlined dense v-model="precio1"  label="*Precio base" stack-label/>
                      </div>
                      <div class="col-1">
                        <q-input outlined dense v-model="precio_final1"  label="*Precio final" type="number" stack-label/>
                      </div>
                    </div>

                    <div class="row justify-center q-gutter-md q-py-sm">
                      <div class="col-1 text-right q-pa-sm text-grey-7" style="font-size:12px">
                        (Opcional)
                      </div>
                      <div class="col-2">
                        <q-input outlined dense v-model="tipo2"  label="Tipo trigo" stack-label/>
                      </div>
                      <div class="col-1">
                        <q-input outlined dense v-model="proteina2"  label="% Proteína" stack-label/>
                      </div>
                      <div class="col-1">
                        <q-input outlined dense v-model="cantidad2"  label="Cantidad (Kg)" stack-label/>
                      </div>
                      <div class="col-1">
                        <q-input outlined dense v-model="precio2"  label="Precio base" stack-label/>
                      </div>
                      <div class="col-1">
                        <q-input outlined dense v-model="precio_final2"  label="Precio final" type="number" stack-label/>
                      </div>
                    </div>

                    <div class="row justify-center q-gutter-md">
                      <div class="col-1 text-right q-pa-sm text-grey-7" style="font-size:12px">
                        (Opcional)
                      </div>
                      <div class="col-2">
                        <q-input outlined  dense v-model="tipo3"  label="Tipo trigo" stack-label/>
                      </div>
                      <div class="col-1">
                        <q-input outlined dense v-model="proteina3"  label="% Proteína" stack-label/>
                      </div>
                      <div class="col-1">
                        <q-input outlined dense v-model="cantidad3"  label="Cantidad (Kg)" stack-label/>
                      </div>
                      <div class="col-1">
                        <q-input outlined dense v-model="precio3"  label="Precio base" stack-label/>
                      </div>
                      <div class="col-1">
                        <q-input outlined dense v-model="precio_final3"  label="Precio final" type="number" stack-label/>
                      </div>
                    </div>
                    <div class="row q-pa-lg text-right">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <q-btn round size="sm" v-show="adjunto.name" color="red-5" class="q-mr-sm" no-caps text-color="white" icon="fas fa-trash" @click="adjunto = ''"/>
                        <q-btn flat :label="adjunto.name ? 'Cambiar archivo':'Subir archivo'" color="grey-7" class="q-mr-sm" no-caps text-color="grey-7" icon="fas fa-paperclip" @click="abrirVentanaAdjunto('file')"/>
                        <q-file @rejected="onRejected" accept=".jpg,.pdf,.png" max-file-size="5242880"  v-show="false"  dense ref="file" v-model="adjunto" ></q-file>
                        <q-btn color="primary" class="q-mr-sm" no-caps text-color="white" icon="fas fa-check" :label="id_registro == '' ? 'Registrar compra nueva' : 'Modificar compra'" @click="confirmRegistro()" />
                        <q-btn v-show="id_registro !== ''" color="orange-6" no-caps text-color="white" icon="fas fa-broom" label="Limpiar formulario" @click="limpiarVariables()" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </q-list>
    </div><br>
    <div class="row q-pa-md bg-white shadow-1">
      <div class="col-lg-2 col-md-2 col-sm-2">
        <q-input  dense  v-model="fecha_embarque1_filtro"   label="Fecha de inicio" stack-label class="q-mr-xl">
          <template v-slot:append>
            <q-icon color="primary" name="event" class="cursor-pointer">
              <q-popup-proxy ref="qDateProxy1_filtro" transition-show="scale" transition-hide="scale" >
                <q-date :locale="myLocale" v-model="fecha_embarque1_filtro" mask="YYYY-MM-DD" @input="$refs.qDateProxy1_filtro.hide();" />
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <q-input   dense v-model="fecha_embarque2_filtro"   label="Fecha de fin" stack-label class="q-mr-xl">
          <template v-slot:append>
            <q-icon color="primary" name="event" class="cursor-pointer">
              <q-popup-proxy ref="qDateProxy2_filtro" transition-show="scale" transition-hide="scale" >
                <q-date :locale="myLocale" v-model="fecha_embarque2_filtro" mask="YYYY-MM-DD" @input="$refs.qDateProxy2_filtro.hide();obtenerCompras()" />
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <q-input dense v-model="filter"   label="Filtrar compras" stack-label/>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1">
      <q-checkbox
        v-model="filtro_motonave"
        @input="obtenerCompras()"
        color="primary"
        label="Sin motonave"
        true-value="si"
        false-value="no"
      />
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <q-btn
          color="primary"
          flat
          v-show="compras.length>0"
          icon="fas fa-arrow-alt-circle-down"
          label="Exportar Información"
          no-caps
          class="cursor-pointer"
          @click="exportTable"
        ></q-btn>
      </div>
    </div><br>
    <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12">
          <q-table
            title-class="text-primary"
            :data="compras"
            :columns="columns"
            row-key="nit"
            :loading="loading_compras"
            :filter="filter"
            table-style="max-height: 800px"
            flat
            bordered
            :pagination.sync="pagination"
            :rows-per-page-options="[0]"
          >
            <template v-slot:body="props">
              <q-tr :props="props" class="text-grey-8" >

                <q-td key="fecha_embarque1" :props="props" style="font-size:11px">
                  <q-btn color="primary" size="12px" round flat icon="more_vert">
                    <q-menu  :offset="[50, 10]" auto-close >
                      <q-list dense style="width: 220px">
                        <q-item clickable  @click="obtenerRegistro(props.row)" v-show="props.row.inactivo == 'no'">
                          <q-item-section avatar>
                            <q-icon size="17px" name="fas fa-pen" color="blue-8"/>
                          </q-item-section>
                          <q-item-section>Editar compra</q-item-section>
                        </q-item>
                        <q-item  clickable v-show="props.row.adjunto" @click="descargarArchivo(props.row.adjunto)">
                          <q-item-section avatar>
                            <q-icon size="17px" color="grey-7" name="fas fa-paperclip"/>
                          </q-item-section>
                          <q-item-section>Descargar adjunto</q-item-section>
                        </q-item>
                        <q-item  clickable v-show="props.row.motonave && props.row.inactivo == 'no'" @click="cambiarEstadoCompra(props.row.id_reg, 'si')">
                          <q-item-section avatar>
                            <q-icon size="17px" color="brown-8" name="fas fa-lock"/>
                          </q-item-section>
                          <q-item-section>Inactivar motonave</q-item-section>
                        </q-item>
                        <q-item  clickable v-show="props.row.motonave  && props.row.inactivo == 'si'" @click="cambiarEstadoCompra(props.row.id_reg, 'no')">
                          <q-item-section avatar>
                            <q-icon size="17px" color="brown-6" name="fas fa-lock-open"/>
                          </q-item-section>
                          <q-item-section>Activar motonave</q-item-section>
                        </q-item>
                      </q-list>
                    </q-menu>
                  </q-btn>
                  {{props.row.fecha_embarque1}} - {{ props.row.fecha_embarque2 }}
                </q-td>

                <q-td key="nombre_proveedor" :props="props" style="font-size:11px">
                {{ props.row.nombre_proveedor }}
                </q-td>

                <q-td key="origen_trigo" :props="props" style="font-size:11px">
                  {{props.row.origen_trigo}}
                </q-td>

                <q-td key="motonave" :props="props" style="font-size:11px">
                  <q-chip v-show="props.row.motonave == ''"  color="grey-6" text-color="white" size="11px" label="Sin motonave" />
                  <q-chip v-show="props.row.motonave != '' && props.row.inactivo == 'no'"  color="green-6" text-color="white" size="11px" :label="props.row.motonave" />
                  <q-chip v-show="props.row.motonave != '' && props.row.inactivo == 'si'"  color="red-6" text-color="white" size="11px" :label="props.row.motonave" />
                </q-td>

                <q-td key="tipo_trigo1" :props="props" style="font-size:11px">
                  {{ props.row.tipo_trigo1 }}
                </q-td>

                <q-td key="proteina1" :props="props" style="font-size:11px">
                  {{ props.row.proteina1 }}
                </q-td>

                <q-td key="cantidad1" :props="props" style="font-size:11px">
                  {{ formatPrice(props.row.cantidad1) }}
                </q-td>

                <q-td key="precio_base1" :props="props" style="font-size:11px">
                  {{ formatPrice(props.row.precio_base1) }}
                </q-td>

                <q-td key="precio_final1" :props="props" style="font-size:11px">
                  {{ formatPrice(props.row.precio_final1) }}
                </q-td>

                <q-td key="tipo_trigo2" :props="props" style="font-size:11px">
                  {{ props.row.tipo_trigo2 }}
                </q-td>

                <q-td key="proteina2" :props="props" style="font-size:11px">
                  {{ props.row.proteina2 }}
                </q-td>

                <q-td key="cantidad2" :props="props" style="font-size:11px">
                  {{ formatPrice(props.row.cantidad2) }}
                </q-td>

                <q-td key="precio_base2" :props="props" style="font-size:11px">
                  {{ formatPrice(props.row.precio_base2) }}
                </q-td>

                <q-td key="precio_final2" :props="props" style="font-size:11px">
                  {{ formatPrice(props.row.precio_final2) }}
                </q-td>

                <q-td key="tipo_trigo3" :props="props" style="font-size:11px">
                  {{ props.row.tipo_trigo3 }}
                </q-td>

                <q-td key="proteina3" :props="props" style="font-size:11px">
                  {{ props.row.proteina3 }}
                </q-td>

                <q-td key="cantidad3" :props="props" style="font-size:11px">
                  {{ formatPrice(props.row.cantidad3) }}
                </q-td>

                <q-td key="precio_base3" :props="props" style="font-size:11px">
                  {{ formatPrice(props.row.precio_base3) }}
                </q-td>

                <q-td key="precio_final3" :props="props" style="font-size:11px">
                  {{ formatPrice(props.row.precio_final3) }}
                </q-td>

                <q-td key="usu_registra" :props="props" style="font-size:11px">
                  {{ props.row.usu_registra }}
                </q-td>

                <q-td key="created_at" :props="props" style="font-size:11px">
                  {{ props.row.created_at }}
                </q-td>

                <q-td key="usu_modifica" :props="props" style="font-size:11px">
                  {{ props.row.usu_modifica }}
                </q-td>

                <q-td key="updated_at" :props="props" style="font-size:11px">
                  {{ props.row.updated_at }}
                </q-td>

                <q-td key="acciones" :props="props">

                </q-td>
              </q-tr>
            </template>
          </q-table>
       </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { exportFile } from 'quasar'
export default {
  data () {
    return {
      filtro_motonave: 'no',
      id_registro: '',
      loading_compras: false,
      filter: '',
      compras: [],
      pagination: {
        rowsPerPage: 10
      },
      adjunto: [],
      proveedores: [],
      tipo1: '',
      proteina1: '',
      cantidad1: '',
      precio1: '',
      precio_final1: '',
      tipo2: '',
      proteina2: '',
      cantidad2: '',
      precio2: '',
      precio_final2: '',
      tipo3: '',
      proteina3: '',
      cantidad3: '',
      precio3: '',
      motonave: '',
      precio_final3: '',
      fecha_embarque1: '',
      fecha_embarque2: '',
      fecha_embarque1_filtro: this.obtenerFechas('inicio_anio'),
      fecha_embarque2_filtro: this.obtenerFechas('fin_anio'),
      proveedor: '',
      origen: '',
      expanded: false,
      columns: [
        { name: 'fecha_embarque1', align: 'left', label: 'Fecha embarque', field: 'fecha_embarque1', sortable: true, style: 'width: 40px' },
        { name: 'nombre_proveedor', align: 'left', label: 'Proveedor', field: 'nombre_proveedor', sortable: true, style: 'width: 150px' },
        { name: 'origen_trigo', align: 'left', label: 'Origen', field: 'origen_trigo', sortable: true, style: 'width: 100px' },
        { name: 'motonave', align: 'center', label: 'Motonave', field: 'motonave', sortable: true, style: 'width: 100px' },
        { name: 'tipo_trigo1', align: 'center', label: 'Tipo trigo', field: 'tipo_trigo1', sortable: false, style: 'width: 150px' },
        { name: 'proteina1', align: 'center', label: 'Próteina (%)', field: 'proteina1', sortable: false, style: 'width: 150px' },
        { name: 'cantidad1', align: 'center', label: 'Cantidad', field: 'cantidad1', sortable: false, style: 'width: 150px' },
        { name: 'precio_base1', align: 'center', label: 'Precio base', field: 'precio_base1', sortable: false, style: 'width: 150px' },
        { name: 'precio_final1', align: 'center', label: 'Precio final', field: 'precio_final1', sortable: false, style: 'width: 150px' },
        { name: 'tipo_trigo2', align: 'center', label: 'Tipo trigo 2', field: 'tipo_trigo2', sortable: false, style: 'width: 150px' },
        { name: 'proteina2', align: 'center', label: 'Próteina (%) 2', field: 'proteina2', sortable: false, style: 'width: 150px' },
        { name: 'cantidad2', align: 'center', label: 'Cantidad 2', field: 'cantidad2', sortable: false, style: 'width: 150px' },
        { name: 'precio_base2', align: 'center', label: 'Precio base 2', field: 'precio_base2', sortable: false, style: 'width: 150px' },
        { name: 'precio_final2', align: 'center', label: 'Precio final 2', field: 'precio_final2', sortable: false, style: 'width: 150px' },
        { name: 'tipo_trigo3', align: 'center', label: 'Tipo trigo 3', field: 'tipo_trigo3', sortable: false, style: 'width: 150px' },
        { name: 'proteina3', align: 'center', label: 'Próteina (%) 3', field: 'proteina3', sortable: false, style: 'width: 150px' },
        { name: 'cantidad3', align: 'center', label: 'Cantidad 3', field: 'cantidad3', sortable: false, style: 'width: 150px' },
        { name: 'precio_base3', align: 'center', label: 'Precio base 3', field: 'precio_base3', sortable: false, style: 'width: 150px' },
        { name: 'precio_final3', align: 'center', label: 'Precio final 3', field: 'precio_final3', sortable: false, style: 'width: 150px' },
        { name: 'usu_registra', align: 'center', label: 'Registra', field: 'usu_registra', sortable: false, style: 'width: 150px' },
        { name: 'created_at', align: 'center', label: 'Fecha registro', field: 'created_at', sortable: false, style: 'width: 150px' },
        { name: 'usu_modifica', align: 'center', label: 'Modifica', field: 'usu_modifica', sortable: false, style: 'width: 150px' },
        { name: 'updated_at', align: 'center', label: 'Fecha modificación', field: 'updated_at', sortable: false, style: 'width: 150px' }
      ],
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      }
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    }
  },
  methods: {
    wrapCsvValue (val, formatFn) {
      let formatted = formatFn !== void 0
        ? formatFn(val)
        : val

      formatted = formatted === void 0 || formatted === null
        ? ''
        : String(formatted)

      formatted = formatted.split('"').join('""')
      /**
       * Excel accepts \n and \r in strings, but some other CSV parsers do not
       * Uncomment the next two lines to escape new lines
       */
      // .split('\n').join('\\n')
      // .split('\r').join('\\r')

      return `"${formatted}"`
    },
    exportTable () {
      // naive encoding to csv format
      const content = [this.columns.map(col => this.wrapCsvValue(col.label))].concat(
        this.compras.map(row => this.columns.map(col => this.wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[ col.field === void 0 ? col.name : col.field ],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'lista-compras.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },
    expandeEditar () {
      var self = this
      self.showLoading('Cargando información ...')
      setTimeout(function () { self.expanded = true; self.hideLoading() }, 600)
    },
    descargarArchivo (archivo) {
      window.location.href = this.api_url + '/api/compras-trigo/descargar-documento/' + archivo
    },
    obtenerFechas (opcion) {
      var today = new Date()
      var year = today.getFullYear()
      if (opcion === 'inicio_anio') {
        return year + '-01-01'
      } else {
        return year + '-12-31'
      }
    },
    obtenerRegistro (data) {
      this.id_registro = data.id_reg
      this.fecha_embarque1 = data.fecha_embarque1
      this.fecha_embarque2 = data.fecha_embarque2
      this.proveedor = { nit: data.nit_proveedor, nombre: data.nombre_proveedor }
      this.origen = data.origen_trigo
      this.motonave = data.motonave
      this.tipo1 = data.tipo_trigo1
      this.proteina1 = data.proteina1
      this.cantidad1 = data.cantidad1
      this.precio1 = data.precio_base1
      this.precio_final1 = data.precio_final1
      this.tipo2 = data.tipo_trigo2
      this.proteina2 = data.proteina2
      this.cantidad2 = data.cantidad2
      this.precio2 = data.precio_base2
      this.precio_final2 = data.precio_final2
      this.tipo3 = data.tipo_trigo3
      this.proteina3 = data.proteina3
      this.cantidad3 = data.cantidad3
      this.precio3 = data.precio_base3
      this.precio_final3 = data.precio_final3
      this.expandeEditar()
    },
    obtenerCompras () {
      var self = this
      self.loading_compras = true
      axios.get(this.api_url + '/api/compras-trigo/obtener-compras/', {
        params: {
          filtro_motonave: self.filtro_motonave,
          fecha_ini: self.fecha_embarque1_filtro,
          fecha_fin: self.fecha_embarque2_filtro,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.compras = response.data
      }).finally(function () {
        self.loading_compras = false
      })
    },
    limpiarVariables () {
      this.id_registro = ''
      this.fecha_embarque1 = ''
      this.fecha_embarque2 = ''
      this.proveedores = []
      this.proveedor = ''
      this.origen = ''
      this.motonave = ''
      this.tipo1 = ''
      this.proteina1 = ''
      this.cantidad1 = ''
      this.precio1 = ''
      this.precio_final1 = ''
      this.tipo2 = ''
      this.proteina2 = ''
      this.cantidad2 = ''
      this.precio2 = ''
      this.precio_final2 = ''
      this.tipo3 = ''
      this.proteina3 = ''
      this.cantidad3 = ''
      this.precio3 = ''
      this.precio_final3 = ''
      this.adjunto = []
      this.obtenerProveedores()
    },
    validarCampos () {
      var contError = 0
      if (this.fecha_embarque1 === '') {
        contError++
        this.notificacion('red-5', 'white', 'fas fa-exclamation-triangle', 'Falta seleccionar la fecha de embarque', 'top-right', 2000)
      } else if (this.fecha_embarque2 === '') {
        contError++
        this.notificacion('red-5', 'white', 'fas fa-exclamation-triangle', 'Falta seleccionar la fecha de embarque', 'top-right', 2000)
      } else if (this.proveedor.length === 0) {
        contError++
        this.notificacion('red-5', 'white', 'fas fa-exclamation-triangle', 'Falta seleccionar el proveedor', 'top-right', 2000)
      } else if (this.origen === '') {
        contError++
        this.notificacion('red-5', 'white', 'fas fa-exclamation-triangle', 'Falta escribir el origen', 'top-right', 2000)
      } else if (this.tipo1 === '') {
        contError++
        this.notificacion('red-5', 'white', 'fas fa-exclamation-triangle', 'Falta escribir el tipo de trigo', 'top-right', 2000)
      } else if (this.proteina1 === '') {
        contError++
        this.notificacion('red-5', 'white', 'fas fa-exclamation-triangle', 'Falta escribir % de próteina', 'top-right', 2000)
      } else if (this.cantidad1 === '') {
        contError++
        this.notificacion('red-5', 'white', 'fas fa-exclamation-triangle', 'Falta escribir la cantidad', 'top-right', 2000)
      } else if (this.precio1 === '') {
        contError++
        this.notificacion('red-5', 'white', 'fas fa-exclamation-triangle', 'Falta escribir el precio base', 'top-right', 2000)
      } else if (this.precio_final1 === '') {
        contError++
        this.notificacion('red-5', 'white', 'fas fa-exclamation-triangle', 'Falta escribir el precio final', 'top-right', 2000)
      }
      return contError
    },
    abrirVentanaAdjunto (ref) {
      this.$refs[ref].pickFiles()
    },
    onRejected (rejectedEntries) {
      this.$q.notify({
        type: 'negative',
        html: true,
        position: 'top-right',
        timeout: 8000,
        message: 'Archivo no debe superar las 5MB'
      })
    },
    confirmRegistro () {
      if (this.validarCampos() !== 0) {
        return false
      }
      this.$q.dialog({
        title: 'Confirmación',
        message: '¿Está seguro de registrar la compra?',
        cancel: true,
        persistent: true
      }).onOk(() => {
      }).onOk(() => {
        this.registrarCompra()
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    registrarCompra () {
      this.showLoading('Registrando compra, por favor espere ...')
      const fd = new FormData()
      fd.append('id_registro', this.id_registro)
      fd.append('file', this.adjunto)
      fd.append('token', localStorage.getItem('token'))
      fd.append('fecha_embarque1', this.fecha_embarque1)
      fd.append('fecha_embarque2', this.fecha_embarque2)
      fd.append('nit_proveedor', this.proveedor.nit)
      fd.append('nombre_proveedor', this.proveedor.nombre)
      fd.append('origen', this.origen)
      fd.append('motonave', this.motonave)
      fd.append('tipo1', this.tipo1)
      fd.append('proteina1', this.proteina1)
      fd.append('cantidad1', this.cantidad1)
      fd.append('precio1', this.precio1)
      fd.append('precio_final1', this.precio_final1)
      fd.append('tipo2', this.tipo2)
      fd.append('proteina2', this.proteina2)
      fd.append('cantidad2', this.cantidad2)
      fd.append('precio2', this.precio2)
      fd.append('precio_final2', this.precio_final2)
      fd.append('tipo3', this.tipo3)
      fd.append('proteina3', this.proteina3)
      fd.append('cantidad3', this.cantidad3)
      fd.append('precio3', this.precio3)
      fd.append('precio_final3', this.precio_final3)
      var self = this
      axios.post(this.api_url + '/api/compras-trigo/registrar-compra/',
        fd,
        {
          headers: { 'Content-Type': 'multipart/form-data' }
        }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.hideLoading()
          self.notificacion('green', 'white', 'fas fa-check', res.data.mensaje, 'top-right', 3000)
          self.obtenerCompras()
          self.limpiarVariables()
        } else {
          self.hideLoading()
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'top-right', 3000)
        }
      }).catch(function (err) {
        self.hideLoading()
        self.notificacion('red-5', 'white', 'warning', err, 'top-right', 3000)
      })
    },
    cambiarEstadoCompra (IdCompra, estado) {
      this.showLoading('Registrando información, por favor espere ...')
      var self = this
      axios.put(this.api_url + '/api/compras-trigo/cambiar-estado-compra/', {
        id_registro: IdCompra,
        estado: estado,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.hideLoading()
          self.notificacion('green', 'white', 'fas fa-check', res.data.mensaje, 'top-right', 3000)
          self.limpiarVariables()
          self.expanded = false
          self.obtenerCompras()
        } else {
          self.hideLoading()
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'top-right', 3000)
        }
      }).catch(function (err) {
        self.hideLoading()
        self.notificacion('red-5', 'white', 'warning', err, 'top-right', 3000)
      })
    },
    formatPrice (value, decimales = 0) {
      let val = (value / 1).toFixed(decimales).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    obtenerProveedores () {
      var self = this
      axios.get(this.api_url + '/api/compras-trigo/obtener-proveedores/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.proveedores = response.data
      }).finally(function () {
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    notificacion (color, colorTexto, icono, mensaje, posicion, tiempo) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        timeout: tiempo,
        position: posicion
      })
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    }
  },
  created () {
  },
  beforeDestroy () {
  },
  mounted () {
    this.obtenerProveedores()
    this.obtenerCompras()
  },
  watch: {
  }
}
</script>
<style>
.doc-card-title {
  margin-left: -24px;
  padding: 2px 10px 2px 24px;
  background: #225A3F;
  color: #ffffff;
  position: relative;
  border-radius: 3px 5px 5px 0;
}
.doc-card-title::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
    border-top-color: transparent;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
  border-top-color: #2D7B58;
  border-width: 9px 0 0 11px;
}
</style>
