<template>

  <div class="row" v-if="!verificaPermiso(33)">
    <usuarios-no-autorizado/>
  </div>

  <div class="q-pa-none" v-else>
    <div class="q-pa-none" v-if="$q.platform.is.desktop === true">
      <div class="row q-pa-md text-h5 text-bold text-grey-8">
        <div class="col-12 text-center">
          <q-icon name="fas fa-info-circle" color="grey-4" size="20px" class="q-mr-sm"/>Información de trigo
        </div>
      </div>
      <div class="row" v-if="trigo_transito.numero_mulas>0">
        <div class="col-12">
          <div class="row q-pa-none" style="width:93%">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pa-none q-mr-md">
              <div class="row">
                <div class="col-xs-6 col-md-6 col-lg-2">
                  <q-card  flat bordered style="width: 220px;">
                    <q-card-section class="q-pa-xs">
                      <div class="text-grey-8 text-center text-bold">TRIGO EN TRANSITO</div>
                      <div class="text-h5 q-mt-sm q-mb-none text-center">
                        <q-btn dense flat color="blue-9"  icon="fas fa-shipping-fast" size="xl" class="q-ml-md q-mr-md">
                          <q-badge color="red" floating>{{ trigo_transito.numero_mulas }}</q-badge>
                        </q-btn>
                      </div>
                      <div class="text-caption text-grey text-center">
                        <b class="text-h6 text-primary text-bold">{{ formatPrice(trigo_transito.total_kilos / 1000, 1) }} Ton</b><br>
                      </div>
                    </q-card-section>
                  </q-card>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 q-pa-none">
                  <div class="q-pa-none row items-start q-gutter-md">
                    <q-card flat bordered style="width: 150px;border: 1px solid #ffa500" v-for="(trigo_detail, index) in trigo_transito_detail" :key="index" class="bg-white">
                      <q-card-section class="q-pa-xs">
                        <div class="text-grey-8 text-center">{{ trigo_detail.motonave }}</div>
                        <div class="text-blue-8 text-center text-bold" v-show="trigo_detail.estado == 'directo'" style="font-size:12px">Trigo directo</div>
                        <div class="text-h5 q-mt-sm q-mb-none text-center">
                          <q-btn dense flat color="grey-6"  icon="fas fa-shipping-fast" :size="trigo_detail.estado == 'directo' ? '16px':'xl'" class="q-ml-md q-mr-md">
                            <q-badge color="red" floating>{{ trigo_detail.numero_mulas }}</q-badge>
                          </q-btn>
                        </div>
                        <div class="text-caption text-grey text-center">
                          <b class="text-grey-8 text-bold" style="font-size:14px">{{ formatPrice(trigo_detail.peso_neto / 1000, 1) }} Ton</b><br>
                        </div>
                      </q-card-section>
                    </q-card>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><br>
      <div class="row ">
        <div class="col-12">
          <div class="row q-pa-none">
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 bg-white shadow-1 q-pa-md q-mr-md">
              <div class="row">
                <div class="col-xs-6 col-md-6 col-lg-8">Total de trigo en Girón : <b>{{formatPrice(silos.total_trigo_principal, 1)}} Ton</b>&nbsp; ({{copacionSilosPrincipal('principal') + '%'}})</div>
                <div class="col-xs-6 col-md-6 col-lg-4 text-right">Capacidad Max: <b style="font-size:16px" class="text-red-9">{{formatPrice(silos.capacidad_trigo_principal, 1)}} Ton</b></div>
              </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 bg-white shadow-1 q-pa-md">
              <div class="row">
                <div class="col-xs-6 col-md-6 col-lg-7">Trigo en S.M : <b>{{formatPrice(silos.total_trigo_sucursal, 1)}} Ton</b>&nbsp; ({{copacionSilosPrincipal('sucursal') + '%'}})</div>
                <div class="col-xs-6 col-md-6 col-lg-5 text-right">Capacidad Max: <b style="font-size:16px" class="text-red-9">{{formatPrice(silos.capacidad_trigo_sucursal, 1)}} Ton</b></div>
              </div>
            </div>
          </div>
          <div class="row q-pa-none" style="width:100%">
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 bg-white shadow-1 q-pa-md q-mr-md">
              <div id="silos_principal" style="width:100%; height:570px;" ></div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 bg-white shadow-1 q-pa-md">
              <div id="silos_sucursal1" style="width:100%; height:570px;" ></div>
            </div>
          </div>
        </div>
      </div><br>
      <div class="row" v-if="verificaPermiso(34)">
          <section class="q-mr-sm text-subtitle1" ><div class="doc-card-title">Filtrar información</div></section>
      </div>
      <div class="row bg-white q-pa-md shadow-1 q-my-xs" v-if="verificaPermiso(34)">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5">
              <div class="q-pa-md row items-start q-gutter-md">

                <q-input dense outlined  v-model="fecha_inicio" readonly stack-label label="Fecha inicio" class="q-mr-xs" style="width: 190px;">
                    <template v-slot:append>
                      <q-icon color="blue-8" name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateProxy2" cover transition-show="scale" transition-hide="scale">
                          <q-date   :locale="myLocale" v-model="fecha_inicio" mask="YYYY-MM-DD"  @input="$refs.qDateProxy2.hide();"/>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                </q-input>

                <q-input dense outlined  v-model="fecha_final" readonly stack-label label="Fecha final" class="q-mr-sm" style="width: 190px;">
                    <template v-slot:append>
                      <q-icon color="blue-8" name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateProxy3" cover transition-show="scale" transition-hide="scale">
                          <q-date   :locale="myLocale" v-model="fecha_final" mask="YYYY-MM-DD"  @input="$refs.qDateProxy3.hide();"/>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                </q-input>

                <q-btn label="Consultar" color="primary" @click="obtenerMovimientoSilos('entre-fechas')" />
                <q-separator vertical  />
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">
                <q-select clearable  style="width:200px" @input="obtenerMovimientoSilos()"  v-model="select_silo"   label="Filtrar por silo / bodega" stack-label :options="silos_diponibles" emit-value  map-options option-value="id_silo" option-label="nombre"/>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">
                <q-select clearable  style="width:160px" @input="obtenerMovimientoSilos()"  v-model="select_tipo_movimiento"   label="Tipo movimiento" stack-label :options="tipos_movimiento"/>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-1">
              <q-input clearable debounce="400" @input="obtenerMovimientoSilos()"  v-model="filtro_motonave" label="Motonave" stack-label/>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">
              <div class="q-pa-md">
                <q-checkbox
                  v-model="filtro_transito"
                  label="Trigo en transito"
                ></q-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row bg-white q-pa-md shadow-1" v-if="verificaPermiso(34)">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <q-table
              title="Movimientos de silos"
              flat
              :data="movi_silos"
              :columns="columns"
              :loading="loading"
              :filter="filter"
              dense
              :rows-per-page-options="[10]"
            >
              <template v-slot:top-right>
                <q-btn
                  color="primary"
                  flat
                  icon-right="fas fa-arrow-alt-circle-down"
                  label="Exportar Información"
                  no-caps
                  class="cursor-pointer q-mr-md"
                  @click="exportTable"
                />
                <q-input  dense debounce="300" v-model="filter" placeholder="Buscar">
                  <template v-slot:append>
                    <q-icon name="search" />
                  </template>
                </q-input>
              </template>
              <template v-slot:body="props" >
                <q-tr :props="props" >

                  <q-td key="nom_silo" :props="props" class="text-bold" style="font-size:14px">
                    {{ props.row.nom_silo }}
                  </q-td>

                  <q-td key="motonave" :props="props" class="text-bold text-blue-8 text-center" style="font-size:11px">
                    {{ props.row.motonave }}
                  </q-td>

                  <q-td key="tipo_movimiento" :props="props" :class="props.row.tipo_movimiento === 'moje' || props.row.tipo_movimiento === 'salida' ? 'text-red-9 text-bold bg-red-2' : 'text-green-9 text-bold bg-green-2'">
                    {{props.row.tipo_movimiento}}
                  </q-td>

                  <q-td key="valor" :props="props">
                    {{ formatPrice(props.row.valor, 2) }}
                  </q-td>

                  <q-td key="observaciones" :props="props">
                    {{ props.row.observaciones }}
                  </q-td>

                  <q-td key="created_at" :props="props" style="font-size:11px">
                    {{ props.row.registro }}
                  </q-td>

                  <q-td key="acciones" :props="props">
                    <q-btn v-show="verificaPermiso(43)" v-if="props.row.tipo_movimiento == 'moje' || props.row.tipo_movimiento == 'descargue'" size="11px" label="Anular movimiento" color="red-7" icon="fas fa-trash" flat dense no-caps @click="confirmAnularMovimiento(props.row.id_movimiento)"/>
                  </q-td>

                </q-tr>
              </template>
            </q-table>
          </div>
      </div>

      <q-dialog v-model="modal_novedades" persistent>
        <q-card class="q-pa-md" style="width:800px">
          <q-card-section>
            <div class="text-center" style="font-size:17px">Ingresar novedad al silo <b class="text-primary">({{silo}})</b></div>
            <div class="q-pa-lg">
              <q-btn-toggle
                v-model="tipo_novedad"
                spread
                no-caps
                toggle-color="primary"
                color="white"
                text-color="black"
                :options="[
                  {label: 'Entrada', value: 'descargue'},
                  {label: 'Salida', value: 'moje'},
                ]"
              />
            </div>
            <div class="row" >
              <div class="col-12" align="center">
              <q-input hint="Ej: 13.5 Ton" style="width:180px; font-size:18px" type="number" outlined v-model="cantidad" label="# Toneladas" stack-label input-class="text-center text-bold" />
              </div>
            </div>
            <div class="row q-pa-lg" >
              <div class="col-12" align="center">
                <q-input
                  v-model="observaciones"
                  label="Escriba observaciones del tipo de novedad (opcional)"
                  rows="2"
                  filled
                  type="textarea"
                />
              </div>
            </div>
          </q-card-section>
        <q-card-actions align="right">
          <q-btn v-close-popup flat color="red"  label="Cerrar" class="q-mr-xl" @click="tipo_novedad = ''; cantidad = ''" />
          <q-btn  color="primary"   label="Registrar novedad" @click="confirm()"/>
        </q-card-actions>
        </q-card>
      </q-dialog>

      <q-page-sticky position="top-right" :offset="[10, 10]" >
        <q-btn rounded  padding="md"  icon="fa fa-sync" color="orange-8"  style="font-size:13px" @click="obtenerMovimientoSilos();obtenerSilos();obtenerTrigoTransito();obtenerTrigoTransitoDetail();" />
      </q-page-sticky>

    </div>

    <div v-if="$q.platform.is.mobile === true">
    <div class="text-h6 text-primary text-center q-pa-sm text-bold"><q-icon color="grey-6" size="15px" class="q-mr-sm" name="fas fa-sitemap"/>Silos de trigo</div>
    <q-separator inset />
    <div class="row q-pa-md" v-if="trigo_transito.numero_mulas>0">
        <div class="col-12">
          <div class="row q-pa-xs" style="width:93%">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pa-none q-mr-md">
              <div class="row">
                <div class="col-xs-4 col-md-6 col-lg-2">
                  <q-card  flat bordered style="width: 90px;">
                    <q-card-section class="q-pa-xs">
                      <div class="text-grey-8 text-center text-bold" style="font-size:10px">EN TRANSITO</div>
                      <div class="text-h5 q-mt-sm q-mb-none text-center">
                        <q-btn dense flat color="blue-9"  icon="fas fa-shipping-fast" size="15px" class="q-ml-md q-mr-md">
                          <q-badge  color="red" align="top" floating>{{ trigo_transito.numero_mulas }}</q-badge>
                        </q-btn>
                      </div>
                      <div class="text-caption text-grey text-center">
                        <b class="text-primary text-bold" style="font-size:11px">{{ formatPrice(trigo_transito.total_kilos / 1000, 1) }} Ton</b><br>
                      </div>
                    </q-card-section>
                  </q-card>
                </div>
                <div class="col-xs-8 col-sm-9 col-md-9 col-lg-4 q-pa-none " >
                  <div class="q-pa-none row items-start q-gutter-xs" >
                    <q-card flat bordered style="width: 70px;border: 1px solid #ffa500" v-for="(trigo_detail, index) in trigo_transito_detail" :key="index" class="bg-white">
                      <q-card-section class="q-pa-xs">
                        <div class="text-grey-8 text-center" style="font-size:8px">{{ trigo_detail.motonave }}</div>
                        <div class="text-blue-8 text-center text-bold" v-show="trigo_detail.estado == 'directo'" style="font-size:9px">Trigo directo</div>
                        <div class="text-h5  q-mb-none text-center">
                          <q-btn dense flat color="grey-6"  icon="fas fa-shipping-fast" :size="trigo_detail.estado == 'directo' ? '13px':'13px'" class="q-ml-md q-mr-md">
                            <q-badge color="red" floating style="font-size:10px">{{ trigo_detail.numero_mulas }}</q-badge>
                          </q-btn>
                        </div>
                        <div class="text-caption text-grey text-center">
                          <b class="text-grey-8 text-bold" :style="trigo_detail.estado == 'directo' ? 'font-size:9px' : 'font-size:11px'">{{ formatPrice(trigo_detail.peso_neto / 1000, 1) }} Ton</b><br>
                        </div>
                      </q-card-section>
                    </q-card>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row q-pa-sm">
        <q-list class="q-pa-sm" style="width: 100%;  border-radius: 10px 10px 10px 10px;background-color: #E0E8E4;">
          <q-item-label header class="text-bold text-primary text-center" style="font-size:20px;padding: 1px;">Girón</q-item-label>
          <q-item dense>
            <q-item-section class="text-primary">Capacidad Máxima</q-item-section>
            <q-item-section side>
              <q-item-label caption class="text-bold text-primary " style="font-size:18px">{{formatPrice(silos.capacidad_trigo_principal, 2)}} Ton</q-item-label>
            </q-item-section>
          </q-item>
          <q-item dense>
            <q-item-section class="text-primary">Total Trigo en Silos</q-item-section>
            <q-item-section side>
              <q-item-label caption class="text-bold text-primary " style="font-size:14px">{{formatPrice(silos.total_trigo_principal, 2)}} Ton</q-item-label>
            </q-item-section>
          </q-item>
          <q-item dense>
            <q-item-section class="text-primary">Almacenado un</q-item-section>
            <q-item-section side>
              <q-item-label caption class="text-bold text-primary " style="font-size:14px">{{copacionSilosPrincipal('principal') + '%'}}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </div>
      <div class="row q-pa-none" >
          <div class="col-12" >
            <div id="silos_principal" style="width:95%; height:350px;" ></div>
          </div>
      </div>
      <div class="row q-pa-sm">
        <q-list class="q-pa-sm" style="width: 100%;  border-radius: 10px 10px 10px 10px;background-color: #E0E8E4;">
          <q-item-label header class="text-bold text-primary text-center" style="font-size:20px;padding: 1px;">Santa Marta</q-item-label>
          <q-item dense>
            <q-item-section class="text-primary">Capacidad Máxima</q-item-section>
            <q-item-section side>
              <q-item-label caption class="text-bold text-primary " style="font-size:18px">{{formatPrice(silos.capacidad_trigo_sucursal, 2)}} Ton</q-item-label>
            </q-item-section>
          </q-item>
          <q-item dense>
            <q-item-section class="text-primary">Total Trigo en Silos</q-item-section>
            <q-item-section side>
              <q-item-label caption class="text-bold text-primary " style="font-size:14px">{{formatPrice(silos.total_trigo_sucursal, 2)}} Ton</q-item-label>
            </q-item-section>
          </q-item>
          <q-item dense>
            <q-item-section class="text-primary">Almacenado un</q-item-section>
            <q-item-section side>
              <q-item-label caption class="text-bold text-primary " style="font-size:14px">{{copacionSilosPrincipal('sucursal') + '%'}}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </div>
      <div class="row q-pa-none" >
          <div class="col-12" align="center">
            <div id="silos_sucursal1" style="width:95%; height:350px;" ></div>
          </div>
      </div>
      <q-page-sticky position="bottom-right" :offset="[18, 18]" >
        <q-btn rounded  padding="md"  icon="fa fa-sync" color="orange-8"  style="font-size:11px"  @click="obtenerMovimientoSilos();obtenerSilos();obtenerTrigoTransito();obtenerTrigoTransitoDetail()" />
      </q-page-sticky>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import * as echarts from 'echarts'
import { exportFile } from 'quasar'
// import { date } from 'quasar'
export default {
  data () {
    return {
      cont_consultas: 0,
      select_tipo_movimiento: '',
      filtro_transito: false,
      tipos_movimiento: [],
      filtro_motonave: '',
      fecha_inicio: '',
      fecha_final: '',
      expanded: false,
      trigo_transito: { total_kilos: 0, numero_mulas: 0 },
      trigo_transito_detail: [],
      observaciones: '',
      cantidad: '',
      tipo_novedad: '',
      silo: '',
      select_silo: '',
      silos_diponibles: [],
      modal_novedades: false,
      loading: false,
      silos: [],
      movi_silos: [],
      filter: '',
      id_silo: '',
      columns: [
        { name: 'nom_silo', align: 'center', label: 'Silo / Bodega', field: 'nom_silo', sortable: true, headerClasses: 'text-primary' },
        { name: 'motonave', align: 'center', label: 'Motonave', field: 'motonave', sortable: true, headerClasses: 'text-primary' },
        { name: 'tipo_movimiento', align: 'center', label: 'Tipo movimiento', field: 'tipo_movimiento', sortable: true, headerClasses: 'text-primary' },
        { name: 'valor', align: 'right', label: 'Toneladas', field: 'valor', sortable: true, headerClasses: 'text-primary' },
        { name: 'observaciones', align: 'left', label: 'Observaciones', field: 'observaciones', sortable: true, headerClasses: 'text-primary' },
        { name: 'created_at', align: 'center', label: 'Registro', field: 'created_at', sortable: true, headerClasses: 'text-primary' },
        { name: 'acciones', align: 'center', label: '', field: 'acciones', sortable: true, headerClasses: 'text-primary' }
      ],
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      },
      pagination: {
        rowsPerPage: 20
      }
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    fechaActual () {
      var today = new Date()
      var dd = today.getDate()
      var mm = today.getMonth() + 1 // January is 0!
      var yyyy = today.getFullYear()
      if (dd < 10) {
        dd = '0' + dd
      }
      if (mm < 10) {
        mm = '0' + mm
      }
      // var actual = dd + '/' + mm + '/' + yyyy
      var actual = yyyy + '-' + mm + '-' + dd
      return actual
    },
    optionsGraficaGeneralPrincipal () {
      var self = this
      return {
        toolbox: {
          feature: {
            dataView: { show: false, readOnly: false },
            magicType: { show: false, type: ['line', 'bar'] },
            restore: { show: true },
            saveAsImage: { show: true }
          }
        },
        title: {
          // text: self.$q.platform.is.mobile === true ? '' : 'GIRÓN'
          // subtext: 'Muestra xxxxxxxxxxxxxxxxxxxxxxxxxx'
        },
        tooltip: {
          show: false,
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          }
        },
        legend: {
          top: 0,
          data: ['Capacidad Silo', 'Trigo', 'Corte']
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        yAxis: {
          show: false,
          type: 'value',
          boundaryGap: [0, 0.01]
        },
        xAxis: {
          type: 'category',
          data: self.silos.sede_pricipal.nombre_silo
        },
        series: [
          {
            name: 'Capacidad Silo',
            type: 'bar',
            barGap: 0,
            label: {
              show: true,
              fontSize: self.$q.platform.is.mobile === true ? 8 : 13,
              position: 'inside',
              fontWeight: 'bold',
              rotate: 90,
              formatter: function (param, index) {
                return param.value > 0 ? self.formatPrice(param.value) + ' Ton' : ''
              }
            },
            color: '#255D44',
            data: self.silos.sede_pricipal.capacidad,
            barWidth: self.$q.platform.is.mobile === true ? 15 : 50
          },
          {
            name: 'Trigo',
            color: '#C1A475',
            label: {
              fontSize: self.$q.platform.is.mobile === true ? 9 : 10,
              show: true,
              position: [5, -4],
              fontWeight: 'bold',
              rotate: 90,
              formatter: function (param, index) {
                return param.value > 0 ? self.formatPrice(param.value, 2) + '' : ''
              }
            },
            type: 'bar',
            barWidth: self.$q.platform.is.mobile === true ? 11 : 23,
            data: self.silos.sede_pricipal.saldo
          },
          {
            name: 'Corte',
            type: 'bar',
            barWidth: self.$q.platform.is.mobile === true ? 2 : 3,
            color: '#ff0000',
            emphasis: {
              focus: 'series'
            },
            label: {
              color: '#D90000',
              show: true,
              fontSize: self.$q.platform.is.mobile === true ? 7 : 10,
              position: [5, -4],
              // fontWeight: 'bold',
              rotate: 90,
              formatter: function (param, index) {
                return param.value > 0 ? self.formatPrice(param.value, 2) + '' : ''
              }
            },
            data: self.silos.sede_pricipal.corte_saldo
          }
        ]
      }
    },
    optionsGraficaGeneralSucursal1 () {
      var self = this
      return {
        toolbox: {
          feature: {
            dataView: { show: false, readOnly: false },
            magicType: { show: false, type: ['line', 'bar'] },
            restore: { show: true },
            saveAsImage: { show: true }
          }
        },
        title: {
          // text: self.$q.platform.is.mobile === true ? '' : 'SANTA MARTA'
          // subtext: 'SANTA MARTA'
        },
        tooltip: {
          show: false,
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          }
        },
        legend: {
          botton: 500,
          // top: 20,
          data: ['Capacidad Silo', 'Trigo', 'Corte']
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        yAxis: {
          show: false,
          type: 'value',
          boundaryGap: [0, 0.01]
        },
        xAxis: {
          type: 'category',
          data: self.silos.sucursal_1.nombre_silo
        },
        series: [
          {
            name: 'Capacidad Silo',
            type: 'bar',
            barGap: 0,
            label: {
              show: true,
              position: 'inside',
              fontWeight: 'bold',
              rotate: 90,
              formatter: function (param, index) {
                return param.value > 0 ? self.formatPrice(param.value) + ' Ton' : ''
              }
            },
            color: '#255D44',
            data: self.silos.sucursal_1.capacidad
          },
          {
            name: 'Trigo',
            color: '#C1A475',
            label: {
              show: true,
              position: [5, -4],
              fontWeight: 'bold',
              fontSize: self.$q.platform.is.mobile === true ? 9 : 10,
              rotate: 90,
              formatter: function (param, index) {
                return param.value > 0 ? self.formatPrice(param.value, 2) + '' : ''
              }
            },
            type: 'bar',
            barWidth: 17,
            data: self.silos.sucursal_1.saldo
          },
          {
            name: 'Corte',
            type: 'bar',
            barWidth: 3,
            color: '#ff0000',
            emphasis: {
              focus: 'series'
            },
            label: {
              show: true,
              fontSize: 9,
              position: [5, -4],
              // fontWeight: 'bold',
              rotate: 90,
              formatter: function (param, index) {
                return param.value > 0 ? self.formatPrice(param.value, 2) + '' : ''
              }
            },
            data: self.silos.sucursal_1.corte_saldo
          }
        ]
      }
    }
  },
  methods: {
    wrapCsvValue (val, formatFn) {
      let formatted = formatFn !== void 0
        ? formatFn(val)
        : val

      formatted = formatted === void 0 || formatted === null
        ? ''
        : String(formatted)

      formatted = formatted.split('"').join('""')
      /**
       * Excel accepts \n and \r in strings, but some other CSV parsers do not
       * Uncomment the next two lines to escape new lines
       */
      // .split('\n').join('\\n')
      // .split('\r').join('\\r')

      return `"${formatted}"`
    },
    exportTable () {
      // naive encoding to csv format
      const content = [this.columns.map(col => this.wrapCsvValue(col.label))].concat(
        this.movi_silos.map(row => this.columns.map(col => this.wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[ col.field === void 0 ? col.name : col.field ],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'listado-movimientos.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },
    obtenerTiposMovimientos () {
      this.tipos_movimiento = [ ...new Set(this.movi_silos.map(obj => obj.tipo_movimiento)) ]
    },
    obtenerSilosDisponibles () {
      var self = this
      axios.get(this.api_url + '/api/silos/obtener/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.silos_diponibles = response.data
      }).finally(function () {
      })
    },
    copacionSilosPrincipal (sede) {
      var resultado = 0
      if (sede === 'principal') {
        resultado = (this.silos.total_trigo_principal / this.silos.capacidad_trigo_principal) * 100
      } else {
        resultado = (this.silos.total_trigo_sucursal / this.silos.capacidad_trigo_sucursal) * 100
      }

      return Number(resultado.toFixed(0))
    },
    obtenerDatos (datos) {
      console.log(datos)
    },
    openModalNovedadSilo (silo) {
      if (this.verificaPermiso(44) === true) {
        this.modal_novedades = true
        this.silo = silo
      }
    },
    confirm () {
      if (this.validarCampos() !== 0) {
        return false
      }
      this.$q.dialog({
        title: 'Registrar',
        message: '¿Está seguro de registrar el movimiento?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.registrarMovimiento()
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    confirmAnularMovimiento (idMovimiento) {
      this.$q.dialog({
        title: 'Anular movimiento',
        message: '¿Está seguro de anular el movimiento?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.anularMovimiento(idMovimiento)
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    limpiarDatos () {
      this.silo = ''
      this.observaciones = ''
      this.tipo_novedad = ''
      this.cantidad = ''
    },
    validarCampos () {
      var contError = 0
      if (this.silo === '') {
        contError++
        this.notificacionToast('error', 'Falta seleccionar el silo', 'top-right', 2500)
      } else if (this.tipo_novedad === '') {
        contError++
        this.notificacionToast('error', 'Elija el tipo de novedad', 'top-right', 2500)
      } else if (this.cantidad === '' || this.cantidad === 0) {
        contError++
        this.notificacionToast('error', 'Ingrese la cantidad', 'top-right', 3000)
      }
      return contError
    },
    registrarMovimiento () {
      this.showLoading('Registrando movimiento, por favor espere ...')
      var self = this
      axios.post(this.api_url + '/api/silos/registrar-movimiento/', {
        token: localStorage.getItem('token'),
        silo: self.silo,
        tipo_novedad: self.tipo_novedad,
        observaciones: self.observaciones,
        cantidad: self.cantidad
      }).then(function (res) {
        if (res.data.status === 'ok') {
          self.obtenerSilos()
          self.obtenerMovimientoSilos()
          self.modal_novedades = false
          self.limpiarDatos()
          self.notificacionToast('success', res.data.mensaje, 'top-right', 2000)
          self.hideLoading()
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-right', 2500)
          self.hideLoading()
        }
        // console.log(res)
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('error', err, 'top-right', 2500)
        self.hideLoading()
      })
    },
    anularMovimiento (idMovimiento) {
      this.showLoading('Anulando movimiento, por favor espere ...')
      var self = this
      axios.put(this.api_url + '/api/silos/anular-movimiento/', {
        token: localStorage.getItem('token'),
        id_movimiento: idMovimiento
      }).then(function (res) {
        if (res.data.status === 'ok') {
          self.obtenerSilos()
          self.obtenerMovimientoSilos()
          self.obtenerTrigoTransito()
          self.obtenerTrigoTransitoDetail()
          self.notificacionToast('success', res.data.mensaje, 'top-right', 2000)
          self.hideLoading()
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-right', 2000)
          self.hideLoading()
        }
        // console.log(res)
      }).catch(function (err) {
        console.log(err)
        self.notificacionToast('error', err, 'top-right', 2500)
        self.hideLoading()
      })
    },
    notificacionToast (tipoNotif, msj, posicion, duracion) {
      this.$toast(msj, {
        position: posicion,
        type: tipoNotif,
        timeout: duracion,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        // draggable: true,
        // draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: 'button',
        icon: true,
        rtl: false
      })
    },
    ejecutarGrafica () {
      var myChart = echarts.init(document.getElementById('silos_principal'))
      myChart.setOption(this.optionsGraficaGeneralPrincipal)
      var myChart2 = echarts.init(document.getElementById('silos_sucursal1'))
      myChart2.setOption(this.optionsGraficaGeneralSucursal1)
      window.addEventListener('resize', function () {
        myChart.resize()
        myChart2.resize()
      })
      myChart.on('click', { targetType: 'axisLabel', value: 'Category1' }, params => {
        // console.log(params)
        this.openModalNovedadSilo(params.name)
      })
      myChart2.on('click', { targetType: 'axisLabel', value: 'Category1' }, params => {
        // console.log(params)
        this.openModalNovedadSilo(params.name)
      })
    },
    confirmRegistro () {
      this.$q.dialog({
        title: 'Confirmación',
        message: '¿Está seguro de registrar la información?',
        cancel: true,
        persistent: true
      }).onOk(() => {
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    obtenerSilos () {
      var self = this
      self.showLoading('Obteniendo información ...')
      axios.get(this.api_url + '/api/silos/obtener-info-graficas/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.silos = response.data
      }).finally(function () {
        self.hideLoading()
        self.ejecutarGrafica()
      })
    },
    obtenerTrigoTransito () {
      var self = this
      axios.get(this.api_url + '/api/logistica/obtener-trigo-transito/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.trigo_transito.total_kilos = response.data.total_kilos
        self.trigo_transito.numero_mulas = response.data.total_registros
      }).finally(function () {
        self.hideLoading()
      })
    },
    obtenerTrigoTransitoDetail () {
      var self = this
      axios.get(this.api_url + '/api/logistica/obtener-trigo-transito-detail/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.trigo_transito_detail = response.data
      }).finally(function () {
        self.hideLoading()
      })
    },
    obtenerMovimientoSilos (tipoFiltro = 'general') {
      var self = this
      self.loading = true
      axios.get(this.api_url + '/api/silos/obtener-movimientos/', {
        params: {
          token: localStorage.getItem('token'),
          tipo_filtro: tipoFiltro,
          fecha_inicio: self.fecha_inicio,
          fecha_final: self.fecha_final,
          filtro_silo: self.select_silo,
          filtro_transito: self.filtro_transito,
          select_tipo_movimiento: self.select_tipo_movimiento,
          filtro_motonave: self.filtro_motonave
        }
      }).then((response) => {
        self.movi_silos = response.data
      }).finally(function () {
        if (self.cont_consultas === 0) {
          self.obtenerTiposMovimientos()
        }
        self.cont_consultas++
        self.loading = false
      })
    },
    formatPrice (value, decimales = 0) {
      let val = (value / 1).toFixed(decimales).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    notificacion (color, colorTexto, icono, mensaje, posicion, tiempo) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        timeout: tiempo,
        position: posicion
      })
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    }
  },
  created () {
  },
  beforeDestroy () {
  },
  mounted () {
    this.obtenerSilos()
    this.obtenerTrigoTransito()
    this.obtenerTrigoTransitoDetail()
    this.obtenerMovimientoSilos()
    this.obtenerSilosDisponibles()
    this.fecha_inicio = this.fechaActual
    this.fecha_final = this.fechaActual
  },
  watch: {
    filtro_transito (val) {
      this.obtenerMovimientoSilos()
    }
  }
}
</script>
<style>
.doc-card-title {
  margin-left: -14px;
  padding: 2px 15px 4px 24px;
  background: #225A3F;
  color: #ffffff;
  position: relative;
  border-radius: 3px 3px 3px 0;
}
.doc-card-title::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
    border-top-color: transparent;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
  border-top-color: #2D7B58;
  border-width: 9px 0 0 11px;
}
</style>
