<template>

  <div class="row" v-if="!verificaPermiso(53)">
    <usuarios-no-autorizado/>
  </div>

  <div class="q-pa-none" v-else align="center">
    <div class="q-pa-none" v-if="$q.platform.is.desktop === true">

    </div>
    <div v-if="$q.platform.is.mobile === true">
      <div class="text-h6 text-primary text-center q-pa-sm text-bold">Ingresar producción</div>
      <q-separator inset />
      <div class="row q-pa-md">
        <div class="text-primary text-center q-pa-none">Escanear el código de barras</div>
        <div class="col-12 text-h6" align="center">
          <q-input  style="text-transform: uppercase;" debounce="700" @input="openModal()" outlined v-model="cod_barras" ref="cod_barras"  input-class="text-center text-bold text-h5 text-black">
            <template v-slot:append>
              <q-icon class="text-black" name="fas fa-barcode" size="lg" />
            </template>
          </q-input>
        </div>
      </div>
      <div class="row q-pa-none">
        <div class="col-12">
          <q-banner inline-actions class="text-white bg-primary text-bold">
            Producciones registradas {{ filtro_fecha }} ({{ total }})
            <template v-slot:action>
              <q-btn flat color="white" icon="fas fa-sync-alt" @click="obtenerListadoMovProd" />
              <q-btn flat color="white" icon="fas fa-filter" dense size="10px">
                <q-menu>
                  <q-list dense style="min-width: 100px" >
                      <q-item clickable v-close-popup v-for="(fecha, index) in filtro_fechas" :key="index" @click="filtrarFecha(fecha)">
                        <q-item-section>{{ fecha }}</q-item-section>
                      </q-item>
                  </q-list>
                </q-menu>
            </q-btn>
            </template>
          </q-banner>
        </div>
      </div>
      <div class="row q-pa-none">
        <div class="col-12">
          <q-list  style="height: 410px;">
            <div  v-for="(mov, index) in movi_prod" :key="index">
              <q-item  class="q-pa-sm">
                <q-item-section>
                  <q-item-label caption lines="2" class="text-grey-8 text-justify text-bold">
                      <q-icon color="black" size="20px" name="fas fa-barcode" class="q-mr-sm"/>{{ mov.cod_barras }}
                      <b class="text-blue-8" v-show="mov.lote">&nbsp;&nbsp;Lote: {{ mov.lote }}</b>
                    </q-item-label>
                  <q-item-label class="text-primary text-left" style="font-size:12px">{{ mov.nom_producto }}</q-item-label>
                </q-item-section>

                <q-item-section side top>
                  <q-item-label style="font-size:11px">{{ mov.tiempo_transcurrido }}</q-item-label>
                  <q-item-label style="font-size:13px">{{ mov.cantidad }} {{ mov.unidad_medida }}</q-item-label>
                  <q-item-label><q-btn @click="confirmEliminarMovProduccion(mov.id_registro)" v-show="mov.gestionado == '0'" label="Eliminar" color="red-6" flat dense size="11px"/></q-item-label>
                </q-item-section>
              </q-item>
              <q-separator  />
            </div>
          </q-list>
            <div class="q-pa-md flex flex-center">
              <q-pagination size="lg"
                    v-model="page"
                    :min="currentPage"
                    :max="lastPage"
                    input
                    input-class="text-primary text-bold"
                    @input="goAnotherPage"
              >
              </q-pagination>
            </div>
          </div>
        </div>

        <q-dialog v-model="modal_lote" persistent>
          <q-card dense style="width: 350px">

            <q-card-section class="q-pa-xs">
              <div class="text-h6 text-center">Ingresar el lote</div>
            </q-card-section>

            <q-card-section>
              <q-input type="number" outlined  v-model="lote" input-class="text-center text-bold text-red-8 text-h4" v-if="tipo_lote == 'codigo'" />
              <q-input outlined  v-model="lote" readonly stack-label input-class="text-center text-bold text-red-8 text-h4" v-else-if="tipo_lote == 'fecha'">
                <template v-slot:append>
                  <q-icon color="primary" name="event" class="cursor-pointer">
                    <q-popup-proxy ref="qDateProxy2" transition-show="scale" transition-hide="scale" >
                      <q-date :locale="myLocale" v-model="lote" mask="YYYY-MM-DD" @input="$refs.qDateProxy2.hide();" />
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </q-card-section>

            <q-card-actions align="right" class="bg-white text-primary">
              <q-btn color="red-9"  flat label="Cerrar" v-close-popup @click="focusInputCodBarras()"/>
              <q-btn  flat label="Ingresar producción" @click="registrarMovimientoProduccion()"/>
            </q-card-actions>
          </q-card>
        </q-dialog>

      </div>
    </div>
</template>

<script>
import axios from 'axios'
// import { date } from 'quasar'
export default {
  data () {
    return {
      maestros: [],
      tipo_lote: '',
      lote: '',
      modal_lote: false,
      text: '',
      id: null,
      cod_barras: '',
      movi_prod: [],
      page: 0,
      total: 0,
      currentPage: 0,
      lastPage: 0,
      paginationUrl: '',
      filtro_fecha: 'Hoy',
      filtro_fechas: ['Hoy', 'Ayer', 'Esta semana', 'Este mes', 'Mes anterior', 'Todos'],
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      }
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    }
  },
  methods: {
    openModal () {
      // Verificar que tipo de lote es (código, fecha)
      // Verificar que haya cargado los maestros en el mounted
      var self = this
      if (this.maestros.length > 0) {
        var objeto
        objeto = this.maestros.filter(mae => mae.cod_barras === this.cod_barras)

        if (objeto.length > 0) {
          this.tipo_lote = objeto[0].tipo_lote
        } else {
          this.tipo_lote = ''
          this.notificacionToast('error', 'Código de barras no existe en el sistema', 'top-right', 5000)
          setTimeout(function () { self.focusInputCodBarras() }, 1000)
        }

        if (this.tipo_lote) {
          this.modal_lote = true
          if (this.tipo_lote === 'fecha') {
            setTimeout(function () { self.$refs.qDateProxy2.show() }, 500)
          }
        }
      } else {
        this.notificacionToast('error', 'Código de barras no existe en el sistema', 'top-right', 5000)
        setTimeout(function () { self.focusInputCodBarras() }, 1000)
        this.obtenerListadoMaestros()
      }
    },
    filtrarFecha (fecha) {
      this.filtro_fecha = fecha
      this.obtenerListadoMovProd()
    },
    obtenerListadoMovProd () {
      var self = this
      axios.get(self.api_url + '/api/movimiento-produccion/listado/', {
        params: {
          filtro_fecha: self.filtro_fecha,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.movi_prod = response.data.data
        self.page = response.data.current_page
        self.currentPage = response.data.current_page
        self.lastPage = response.data.last_page
        self.total = response.data.total
      }).finally(function () {
      })
    },
    goAnotherPage () {
      this.paginationUrl = this.api_url + '/api/movimiento-produccion/listado?page=' + this.page
      axios.get(this.paginationUrl, {
        params: {
          filtro_fecha: this.filtro_fecha,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        this.movi_prod = response.data.data
      })
    },
    focusInputCodBarras () {
      this.cod_barras = ''
      this.lote = ''
      this.$refs.cod_barras.$el.focus()
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    registrarMovimientoProduccion () {
      var self = this
      if (self.lote === '') {
        self.notificacionToast('error', 'Falta ingresar el lote', 'top-right', 5000)
        return false
      }
      axios.post(self.api_url + '/api/movimiento-produccion/registrar/', {
        cod_barras: self.cod_barras,
        lote: self.lote,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-right', 4000)
          self.obtenerListadoMovProd()
          self.modal_lote = false
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-right', 5000)
          self.modal_lote = false
        }
        // limpiar input
        self.focusInputCodBarras()
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('success', err, 'top-right', 5000)
        self.focusInputCodBarras()
      })
    },
    confirmEliminarMovProduccion (idRegistro) {
      this.$q.dialog({
        title: 'ELIMINAR',
        message: '¿Está seguro de eliminar el registro?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.eliminarMovProduccion(idRegistro)
      }).onOk(() => {
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    eliminarMovProduccion (idRegistro) {
      var self = this
      axios.put(this.api_url + '/api/movimiento-produccion/eliminar/', {
        id_registro: idRegistro,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-right', 4000)
          self.obtenerListadoMovProd()
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-right', 5000)
        }
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('success', err, 'top-right', 5000)
      })
    },
    obtenerListadoMaestros () {
      var self = this
      self.maestros.length = 0
      axios.get(self.api_url + '/api/maestro-cod-barras/listado/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.maestros = response.data
      }).finally(function () {
      })
    },
    notificacionToast (tipoNotif, msj, posicion, duracion) {
      this.$toast(msj, {
        position: posicion,
        type: tipoNotif,
        timeout: duracion,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        // draggable: true,
        // draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: 'button',
        icon: true,
        rtl: false
      })
    },
    formatPrice (value, decimales = 0) {
      let val = (value / 1).toFixed(decimales).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    }
  },
  created () {
  },
  beforeDestroy () {
  },
  mounted () {
    this.focusInputCodBarras()
    this.obtenerListadoMovProd()
    this.obtenerListadoMaestros()
  },
  watch: {
  }
}
</script>
