<template>

  <div class="row" v-if="!verificaPermiso(32)">
    <usuarios-no-autorizado/>
  </div>

  <div class="q-pa-none" v-else>
    <div class="q-pa-none" v-if="$q.platform.is.desktop === true">
      <div class="row bg-white shadow-1 ">
        <div class="row q-pa-lg" style="width:100%">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 q-mr-lg">
            <div class="row q-pa-md ">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-grey-8" style="font-size:16px">
                Registro de silos <q-chip v-show="id_silo" color="green-3" style="font-size:12px">Editando registro</q-chip>
              </div>
            </div>
            <div class="row q-pa-md ">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <q-input v-model="nombre" label="Nombre del silo" stack-label  />
              </div>
            </div>
            <div class="row q-pa-md ">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <q-input type="number" v-model="capacidad" label="Capacidad max (Ton)" stack-label  />
              </div>
            </div>
            <div class="row q-pa-md ">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <q-input type="number" v-model="saldo_inicial" label="Saldo inicial (Ton)" stack-label  />
              </div>
            </div>
            <div class="row q-pa-md ">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <q-select  v-model="ubicacion" :options="options" label="Ubicación" stack-label/>
              </div>
            </div>
            <div class="row q-pa-md ">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right" >
                <q-btn class="q-mr-md" color="orange-9" @click="limpiarVariables()" v-show="id_silo !== ''" label="Limipiar formulario" flat  size="15px"  no-caps/>
                <q-btn :label="id_silo !== '' ? 'Editar silo' : 'Registrar silo'" color="primary" size="15px"  no-caps @click="confirmRegistro"/>
              </div>
            </div>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <q-list bordered class="rounded-borders q-pa-lg">
              <q-table
                title="Silos de trigo"
                flat
                :data="silos"
                :columns="columns"
                :filter="filter"
                :rows-per-page-options="[10]"
              >
                <template v-slot:top-right>
                  <q-input borderless dense debounce="300" v-model="filter" placeholder="Buscar">
                    <template v-slot:append>
                      <q-icon name="search" />
                    </template>
                  </q-input>
                </template>
                <template v-slot:body="props" >
                  <q-tr :props="props" >

                    <q-td key="nombre" :props="props" class="text-bold">
                      {{ props.row.nombre }}
                    </q-td>

                    <q-td key="capacidad" :props="props">
                      {{ formatPrice(props.row.capacidad) }}
                    </q-td>

                    <q-td key="saldo_inicial" :props="props">
                      {{ formatPrice(props.row.saldo_inicial) }}
                    </q-td>

                    <q-td key="ubicacion" :props="props">
                      {{ props.row.ubicacion }}
                    </q-td>

                    <q-td key="acciones" :props="props">
                      <q-btn round size="10px" icon="edit" color="primary" @click="obtenerInfoEdit(props.row)"/>
                    </q-td>

                  </q-tr>
                </template>
              </q-table>
            </q-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
// import { date } from 'quasar'
export default {
  data () {
    return {
      filter: '',
      silos: [],
      id_silo: '',
      nombre: '',
      capacidad: '',
      saldo_inicial: '',
      ubicacion: '',
      options: ['Girón', 'Santa marta'],
      columns: [
        { name: 'nombre', align: 'left', label: 'Nombre', field: 'nombre', sortable: true, headerClasses: 'text-primary' },
        { name: 'capacidad', align: 'right', label: 'Capacidad', field: 'capacidad', sortable: true, headerClasses: 'text-primary' },
        { name: 'saldo_inicial', align: 'right', label: 'Saldo inicial', field: 'saldo_inicial', sortable: true, headerClasses: 'text-primary' },
        { name: 'ubicacion', align: 'center', label: 'Ubicación', field: 'ubicacion', sortable: true, headerClasses: 'text-primary' },
        { name: 'acciones', align: 'center', label: '', field: 'acciones', sortable: true, headerClasses: 'text-primary' }
      ],
      pagination: {
        rowsPerPage: 20
      }
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    }
  },
  methods: {
    limpiarVariables () {
      this.nombre = ''
      this.id_silo = ''
      this.capacidad = ''
      this.saldo_inicial = ''
      this.ubicacion = ''
    },
    obtenerInfoEdit (silo) {
      this.id_silo = silo.id_silo
      this.nombre = silo.nombre
      this.capacidad = silo.capacidad
      this.saldo_inicial = silo.saldo_inicial
      this.ubicacion = silo.ubicacion
    },
    validarCampos () {
      var contError = 0
      if (this.nombre === '') {
        contError++
        this.notificacion('red-5', 'white', 'fas fa-exclamation-triangle', 'Digite el nombre del silo', 'top-right', 2000)
      } else if (this.capacidad === '' || this.capacidad <= 0) {
        contError++
        this.notificacion('red-5', 'white', 'fas fa-exclamation-triangle', 'Ingrese la capacidad máxima de silo', 'top-right', 2000)
      } else if (this.ubicacion === '') {
        contError++
        this.notificacion('red-5', 'white', 'fas fa-exclamation-triangle', 'Seleccione la ubicación del silo', 'top-right', 2000)
      }
      return contError
    },
    confirmRegistro () {
      if (this.validarCampos() !== 0) {
        return false
      }
      this.$q.dialog({
        title: 'Confirmación',
        message: '¿Está seguro de registrar la información?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.registrarSilo()
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    registrarSilo () {
      this.showLoading('Registrando silo, por favor espere ...')
      var self = this
      axios.post(this.api_url + '/api/silos/registro/', {
        id_silo: this.id_silo,
        nombre: this.nombre,
        capacidad: this.capacidad,
        saldo_inicial: this.saldo_inicial,
        ubicacion: this.ubicacion,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.hideLoading()
          self.notificacion('green', 'white', 'fas fa-check', res.data.mensaje, 'top-right', 3000)
          self.obtenerSilos()
          self.limpiarVariables()
        } else {
          self.hideLoading()
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'top-right', 3000)
        }
      }).catch(function (err) {
        self.hideLoading()
        self.notificacion('red-5', 'white', 'warning', err, 'top-right', 3000)
      })
    },
    formatPrice (value, decimales = 0) {
      let val = (value / 1).toFixed(decimales).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    obtenerSilos () {
      var self = this
      axios.get(this.api_url + '/api/silos/obtener/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.silos = response.data
      }).finally(function () {
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    notificacion (color, colorTexto, icono, mensaje, posicion, tiempo) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        timeout: tiempo,
        position: posicion
      })
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    }
  },
  created () {
  },
  beforeDestroy () {
  },
  mounted () {
    this.obtenerSilos()
  },
  watch: {
  }
}
</script>
<style lang="sass">
.my-sticky-header-table-informes
  /* max height is important */
  .q-table__middle
    max-height: 200px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #225A40

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
