<template>
  <q-card style="width: 900px;max-height:600px">
    <q-card flat bordered class="">
      <q-card-section >
        <div class="q-px-lg q-pb-md">
          <q-timeline color="secondary">
            <q-timeline-entry heading class="text-primary">
              Comentarios
            </q-timeline-entry>

            <q-timeline-entry
              :title="comentarios_encab.mes + ' ' + comentarios_encab.anio"
            >
              <div  v-for="(comentario, index) in comentarios_mes" :key="index" >
                <q-chat-message
                  :text="[comentario.mensaje]"
                  bg-color="primary"
                  text-color="white"
                  :stamp="'Comentario ' + comentario.tipo"
                />
              </div>
              <div class="text-caption" v-if="comentarios_mes.length === 0">No hay comentario del mes</div>
            </q-timeline-entry>
            <q-timeline-entry v-for="(comentario, index) in comentarios_dia" :key="index"
              :subtitle="comentario.fecha_inicio"
              color="primary"
            >
              <div>
                {{comentario.mensaje}}
              </div>
            </q-timeline-entry>

          </q-timeline>
        </div>
      </q-card-section>
    </q-card>
  </q-card>
</template>

<script>
import axios from 'axios'
export default {
  props: {
    fecha: {
      type: String,
      required: false
    },
    mes: {
      type: String,
      required: false
    },
    formulario: {
      type: String,
      required: true
    },
    anio: {
      type: String,
      required: false
    }
  },
  data () {
    return {
      comentarios_encab: [],
      comentarios_dia: [],
      comentarios_mes: [],
      dialog_comentarios: false,
      position: 'top'
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    }
  },
  methods: {
    open (position) {
      this.position = position
      this.dialog = true
    },
    openComentarios (position) {
      this.position = position
      this.dialog_comentarios = true
    },
    obtenerComentarios () {
      var self = this
      self.loading = true
      axios.get(this.api_url + '/api/comentarios/listado-fecha/', {
        params: {
          fecha_inicial: this.fecha,
          formulario: this.formulario,
          mes: this.mes,
          anio: this.anio,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.comentarios_dia = response.data.comentarios_diarios
        self.comentarios_mes = response.data.comentarios_mensuales
        self.comentarios_encab = response.data.encabezado
      }).finally(function () {
      })
    }
  },
  mounted () {
    this.obtenerComentarios()
  },
  watch: {
  }
}
</script>
