<template>
  <div class="q-pa-xs q-gutter-xs">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center text-primary text-weight-bolder" style="font-size:17px">
        Listado de Clientes
      </div>
      <q-separator spaced />
       <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row q-pa-xs">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <q-input debounce="500"  v-model="filtro" label="Consultar por nombre" stack-label  @input="listadoClientes()"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <q-list >
              <div v-for="(cliente, index) in clientes" :key="index">
                <q-item clickable  >
                  <q-item-section style="padding-right:4px" thumbnail class="bg-primary q-mr-sm">
                  </q-item-section>
                  <q-item-section>
                    <q-item-label style="font-size:12px" class="text-primary text-bold">{{cliente.NIT}} - {{cliente.NOMBRE}}</q-item-label>
                    <q-item-label caption><b>Ciudad :</b> {{cliente.CIUDAD}}</q-item-label>
                    <q-item-label caption><b>Cupo crédito :</b> {{formatPrice(cliente.Cupo_Credito)}}</q-item-label>
                    <q-item-label caption><b>Dirección :</b>  {{cliente.DIRECCION}}</q-item-label>
                    <q-item-label caption><b>Telefonos :</b>  {{cliente.Tel1}} - {{cliente.Tel2}}</q-item-label>
                    <q-item-label caption><b>Correo :</b>  {{cliente.EMAIL}}</q-item-label>
                  </q-item-section>
                </q-item>
                <q-btn class="full-width" dense  no-caps label="Últimos productos facturados" @click="openModal(cliente.NIT)"/>
                <q-separator style="height:3px" class="bg-grey-2 " />
              </div>
          </q-list>
          <div class="q-pa-md flex flex-center">
              <q-pagination size="lg"
                    v-model="page"
                    :min="currentPage"
                    :max="lastPage"
                    input
                    input-class="text-primary text-bold"
                    @input="goAnotherPage"
              >
              </q-pagination>
            </div>
        </div>
      </div>

      <q-dialog v-model="modal_precios" position="bottom">
        <div class="q-pa-none bg-white">
          <q-list bordered padding>
            <q-item-label header>Ultimos productos facturados</q-item-label>
            <div v-for="(producto, index) in productos" :key="index">
              <q-item clickable v-ripple>
                <q-item-section>
                  <q-item-label class="text-bold text-primary">{{ formatPrice(producto.valor_unitario) }} ({{ producto.fecha.substr(0, 10) }})</q-item-label>
                  <q-item-label caption>
                    {{ producto.CODPRO }} - {{ producto.DESCRIPCIO }}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </div>
            <q-btn color="red-6"  class="full-width"  no-caps label="Cerrar ventana" @click="modal_precios = false"/>
          </q-list>
        </div>
      </q-dialog>

  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      modal_precios: false,
      filtro: '',
      clientes: [],
      productos: [],
      page: 0,
      total: 0,
      currentPage: 0,
      lastPage: 0,
      paginationUrl: ''
    }
  },
  computed: {
    url_api () {
      return this.$store.state.store.url_api
    }
  },
  methods: {
    openModal (nit) {
      this.productos = []
      this.modal_precios = true
      this.listadoPrecioProductos(nit)
    },
    listadoClientes () {
      this.showLoading('Obteniendo información, por favor espere ...')
      let url = this.url_api + '/api/clientes/listado-clientes/'
      axios.get(url, {
        params: {
          token: localStorage.getItem('token'),
          nombre: this.filtro
        }
      })
        .then(response => {
          this.clientes = response.data.data
          this.page = response.data.current_page
          this.currentPage = response.data.current_page
          this.lastPage = response.data.last_page
          this.total = response.data.total
          this.hideLoading()
        }).catch(error => {
          this.hideLoading()
          console.log(error)
        })
    },
    listadoPrecioProductos (nit) {
      this.showLoading('Obteniendo información, por favor espere ...')
      let url = this.url_api + '/api/despachos/top-precio-productos/'
      axios.get(url, {
        params: {
          token: localStorage.getItem('token'),
          nit: nit
        }
      })
        .then(response => {
          this.productos = response.data
          this.hideLoading()
        }).catch(error => {
          this.hideLoading()
          console.log(error)
        })
    },
    goAnotherPage () {
      this.paginationUrl = this.url_api + '/api/clientes/listado-clientes?page=' + this.page
      axios.get(this.paginationUrl, {
        params: {
          nombre: this.filtro,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        this.clientes = response.data.data
      })
    },
    notificacion (color, colorTexto, icono, mensaje, posicion) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        position: posicion
      })
    },
    changeFilter () {
      this.page = 0
      this.despachos = []
      this.$refs.infiniteLoading1.stateChanger.reset()
      // actualiza el contador segun el filtro
    },
    formatPrice (value) {
      let val = (value / 1).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    quitarAcentos (cadena) {
      const acentos = { 'á': 'a', 'é': 'e', 'í': 'i', 'ó': 'o', 'ú': 'u', 'Á': 'A', 'É': 'E', 'Í': 'I', 'Ó': 'O', 'Ú': 'U' }
      return cadena.split('').map(letra => acentos[letra] || letra).join('').toString()
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    submitLogin () {
    },
    onReset () {
    }
  },
  mounted () {
    this.listadoClientes()
  },
  watch: {
  }
}
</script>
