<template>
  <div class="q-pa-xs q-gutter-xs">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center text-primary text-weight-bolder" style="font-size:18px">
        Programador de visitas
      </div>
      <q-separator spaced />
       <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <q-list  class="rounded-borders">
          <q-expansion-item
            switch-toggle-side
            expand-separator
            v-model="expanded"
            header-class="text-primary text-bold"
            :label="visita.id_visita === '' ? 'Nueva visita' : 'Actualizar visita'"
            default-opened
          >
            <q-card class="q-pa-none">
              <q-card-section>
                <div class="row q-pa-none">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <b class="text-primary" style="font-size:14px">Selecciona fecha de visita:</b>
                    <q-btn flat icon="event" round color="blue-8" size="18px" ref="btn_fecha">
                      <q-popup-proxy ref="qDateProxy3"  cover transition-show="scale" transition-hide="scale">
                        <q-date v-model="visita.fecha_visita" @input="$refs.qDateProxy3.hide();" :locale="myLocale" mask="YYYY-MM-DD">
                        </q-date>
                      </q-popup-proxy>
                    </q-btn><b class="text-blue-9" v-show="visita.fecha_visita">({{ visita.fecha_visita }})</b>
                  </div>
                </div>
                <div class="row q-pa-none">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <q-select
                      v-model="visita.cliente"
                      outlined
                      ref="ref_cliente"
                      :options="clientes_aux"
                      label="Seleccionar cliente"
                      color="primary"
                      stack-label
                      option-value="NIT"
                      option-label="NOMBRE"
                      use-input
                      @filter="filterFn"
                      options-selected-class="text-deep-orange"
                      >
                      <template v-slot:option="scope">
                        <q-item
                          v-bind="scope.itemProps"
                          v-on="scope.itemEvents"
                        >
                          <q-item-section>
                            <q-item-label caption class="text-black"><b>Nit</b> {{ scope.opt.NIT }}</q-item-label>
                            <q-item-label caption class="text-black"><b>Cliente</b> {{ scope.opt.NOMBRE }}</q-item-label>
                            <q-item-label caption class="text-black"><b>Ciudad</b> {{ scope.opt.CIUDAD }}</q-item-label>
                          </q-item-section>
                        </q-item>
                        <q-separator  style="height:1px" class="bg-grey-4"  />
                      </template>
                    </q-select>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-py-md">
                    <q-tabs
                      v-model="visita.presencial"
                      dense
                      class="bg-white text-primary"
                    >
                      <q-tab name="si" icon="fas fa-building" label="Presencial" no-caps />
                      <q-tab name="no" icon="fas fa-mobile-alt" label="No presencial" no-caps/>
                    </q-tabs>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-mb-md">
                    <q-btn-toggle
                      v-model="visita.operacion"
                      spread
                      no-caps
                      toggle-color="primary"
                      :options="[
                        {label: 'Pedido', value: 'pedido'},
                        {label: 'Cobro', value: 'cobro'},
                        {label: 'Inventario', value: 'inventario'}
                    ]"
                    />
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-py-xs" v-show="visita.estado == 'gestionado' && visita.operacion == 'cobro'">
                    <q-input ref="cobro" dense outlined v-model="visita.cobro" type="number" prefix="$" v-show="visita.operacion == 'cobro'"/>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-py-xs" v-show="visita.estado == 'gestionado'">
                    <q-input
                      v-model="visita.comentarios"
                      label="Comentarios de la visita"
                      filled
                      ref="comentarios"
                      type="textarea"
                    />
                  </div>
                </div>
                <div class="row" v-show="!visita.id_visita">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-py-xs">
                    <q-btn v-show="visita.id_visita == ''" color="primary" class="full-width"  label="Registrar" @click="confirmRegistro('nuevo', 'no')" />
                    <q-btn v-show="visita.id_visita !== ''" color="blue-8" class="full-width" label="Actualizar" @click="confirmRegistro('editar', 'no')" />
                  </div>
                </div>
                <div class="row" v-show="visita.id_visita!=='' && visita.estado !== 'gestionado'">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-py-xs">
                    <q-btn-group spread>
                      <q-btn v-show="visita.id_visita == ''" color="primary"  label="Registrar" @click="confirmRegistro('nuevo', 'no')" />
                      <q-btn v-show="visita.id_visita !== ''" color="blue-8"  label="Actualizar" @click="confirmRegistro('editar', 'no')" />
                      <q-btn color="green-5" icon="fa fa-check" label="Gestionar" @click="modal_gestion = true" />
                    </q-btn-group>
                  </div>
                </div>
                <div class="row" >
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-py-none text-right">
                    <q-btn round flat icon="fa fa-trash"  class="q-mr-sm" size="12px" v-show="visita.id_visita !== ''" color="red-8"   @click="confirmRegistro('editar', 'si')" />
                    <q-btn round flat size="12px" v-show="visita.id_visita !== ''" color="orange-9" icon="fas fa-plus"  @click="limpiarDatos()" />
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </q-expansion-item>

          <q-expansion-item
            switch-toggle-side
            expand-separator
            v-model="expanded2"
            label="Consultar visitas programadas"
            header-class="text-primary text-bold"
          >
            <q-card>
              <q-card-section>
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <q-input outlined debounce="700" clearable  v-model="filtro_cliente" label="Consultar por cliente" stack-label :dense="true"  class="q-mb-sm" @input="obtenerVisitas()"/>
                    <q-chip size="12px" clickable   :color="selectedChip === 1 ? 'grey-5' : 'grey-3'" text-color="grey-8" @click="estado_filtro = '';filtro_fecha = '';obtenerVisitas('');selectChip(1)">
                      Todos
                    </q-chip>
                    <q-chip size="12px" clickable   :color="selectedChip === 2 ? 'grey-5' : 'grey-3'" text-color="grey-8" @click="estado_filtro = 'gestionado';filtro_fecha = '';obtenerVisitas();selectChip(2)">
                      Gestionados
                    </q-chip>
                    <q-chip size="12px" clickable   :color="selectedChip === 3 ? 'grey-5' : 'grey-3'" text-color="grey-8" @click="estado_filtro = 'pendiente';filtro_fecha = '';obtenerVisitas();selectChip(3)">
                      Pendientes
                    </q-chip>
                    <q-chip size="12px" clickable   :color="selectedChip === 4 ? 'grey-5' : 'grey-3'" text-color="grey-8" @click="estado_filtro = '';filtro_fecha = 'hoy';obtenerVisitas();selectChip(4)">
                      Hoy
                    </q-chip>
                    <q-list >
                        <div v-for="(vis, index) in visitas" :key="index" class="q-py-xs">
                          <q-item clickable v-ripple @click="selectVisita(vis)">
                            <q-item-section>
                              <q-item-label style="font-size:13px" class="text-grey-8 text-bold">{{vis.nom_cliente}}</q-item-label>
                              <q-item-label style="font-size:11px" class="text-grey-8">
                                {{vis.fecha_texto}}, {{ vis.presencial == 'si' ? 'Presencial' : 'No presencial' }} / {{ vis.operacion}}
                                <q-icon size="13px" v-if="vis.estado == 'gestionado'" color="green-6" name="fas fa-check"/>
                              </q-item-label>
                            </q-item-section>
                          </q-item>
                          <q-separator style="height:1px" class="bg-grey-4" />
                        </div>
                    </q-list>
                    <div class="q-pa-xs flex flex-center">
                      <q-pagination size="xl"
                        v-model="page"
                        :min="currentPage"
                        :max="lastPage"
                        input
                        input-class="text-primary text-bold"
                        @input="goAnotherPage"
                      >
                      </q-pagination>
                    </div>
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </q-expansion-item>
        </q-list>
        </div>
      </div>

      <q-dialog v-model="modal_gestion" >
        <q-card  style="width: 600px;background-color: #ffffff"  flat >
          <q-card-section class="row items-center q-pb-none">
              <div class="q-px-sm text-center text-bold text-primary q-py-xs ">
                Gestionar visita ({{ visita.operacion }})
              </div>
              <q-space />
              <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>
          <q-card-section>
              <div class="q-gutter-sm">
                <q-input ref="cobro" dense outlined v-model="visita.cobro" type="number" prefix="$" v-show="visita.operacion == 'cobro'"/>
                <q-input
                  v-model="visita.comentarios"
                  label="Comentarios de la visita"
                  filled
                  ref="comentarios"
                  type="textarea"
                />
              </div>
              <div class="q-px-sm q-mt-sm">
                <q-btn color="primary" icon="fas fa-check" class="full-width"  label="Gestionar visita" @click="gestionarVisita()" />
              </div>
          </q-card-section>
        </q-card>
      </q-dialog>

  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      estado_filtro: 'pendiente',
      filtro_fecha: '',
      modal_gestion: false,
      expanded: true,
      expanded2: false,
      filtro_cliente: '',
      visita: { id_visita: '', cliente: [], fecha_visita: '', operacion: '', presencial: null, comentarios: '', cobro: '', estado: '' },
      visitas: [],
      page: 0,
      total: 0,
      currentPage: 0,
      lastPage: 0,
      paginationUrl: '',
      clientes: [],
      clientes_aux: [],
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      },
      selectedChip: null
    }
  },
  computed: {
    url_api () {
      return this.$store.state.store.url_api
    }
  },
  methods: {
    selectChip (chipNumber) {
      this.selectedChip = this.selectedChip === chipNumber ? null : chipNumber
    },
    expandir (opcion) {
      if (opcion === 1) {
        this.expanded = true
        this.expanded2 = false
      } else {
        this.expanded = false
        this.expanded2 = true
      }
    },
    confirmRegistro (operacion = 'nuevo', eliminar = 'no') {
      var mensaje = '¿Está seguro de registrar la visita?'
      if (this.visita.id_visita !== '' && operacion === 'editar') {
        if (eliminar === 'si') {
          mensaje = '¿Está seguro de eliminar la visita?'
        } else {
          mensaje = '¿Está seguro de actualizar la visita?'
        }
      }
      if (this.validarCampos() !== 0) {
        return false
      }
      this.$q.dialog({
        title: 'Confirmación',
        message: mensaje,
        cancel: true,
        persistent: true
      }).onOk(() => {
      }).onOk(() => {
        if (operacion === 'nuevo' && eliminar === 'no') {
          this.registrarVisita()
        } else if (operacion === 'editar') {
          if (eliminar === 'si') {
            this.modificaVisita('si')
          } else {
            this.modificaVisita('no')
          }
        }
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    selectVisita (visita) {
      this.visita.id_visita = visita.id_visita
      this.visita.fecha_visita = visita.fecha
      this.visita.cliente = { NIT: visita.nit_cliente, NOMBRE: visita.nom_cliente }
      this.visita.presencial = visita.presencial
      this.visita.operacion = visita.operacion
      this.visita.comentarios = visita.comentarios
      this.visita.cobro = visita.valor_cobro
      this.visita.estado = visita.estado
      this.expanded = true
    },
    limpiarDatos () {
      this.visita.fecha_visita = ''
      this.visita.id_visita = ''
      this.visita.presencial = null
      this.visita.cobro = ''
      this.visita.operacion = ''
      this.visita.comentarios = ''
      this.modal_gestion = false
      this.visita.cliente = []
      this.visita.estado = ''
      this.estado_filtro = 'pendiente'
    },
    validarCampos (accion = 'registro') {
      var contError = 0
      if (accion === 'registro') {
        if (this.visita.fecha_visita === '') {
          contError++
          this.notificacionToast('error', 'Falta seleccionar la fecha de la visita', 'top-right', 2500)
          var self = this
          setTimeout(() => {
            self.$refs.btn_fecha.$el.click()
          }, 600)
        } else if (this.visita.cliente.length === 0) {
          contError++
          this.notificacionToast('error', 'Falta seleccionar el cliente', 'top-right', 2500)
          this.$refs.ref_cliente.$el.click()
        } else if (this.visita.presencial === null) {
          contError++
          this.notificacionToast('error', 'Falta seleccionar (Presencial / No presencial)', 'top-right', 2500)
        } else if (this.visita.operacion === '') {
          contError++
          this.notificacionToast('error', 'Falta seleccionar tipo de operación (Pedido, Cobro o Inventario)', 'top-right', 3500)
        } /* else if (this.operacion === 'cobro' && this.cobro === '') {
          contError++
          this.notificacionToast('error', 'Falta poner el valor del cobro', 'top-right', 2500)
        }  else if (this.comentarios === '') {
          contError++
          this.notificacionToast('error', 'Falta escribir los comentarios de la visita', 'top-right', 3000)
        } */
      } else if (accion === 'gestion') {
        if (this.visita.operacion === 'cobro' && (this.visita.cobro === '' || this.visita.cobro === null)) {
          contError++
          this.notificacionToast('error', 'Falta digitar el valor del cobro', 'top-right', 2500)
          this.$refs.cobro.focus()
        } else if (this.visita.comentarios === '' || this.visita.comentarios === null) {
          contError++
          this.notificacionToast('error', 'Falta escribir los comentarios de la visita', 'top-right', 3000)
          this.$refs.comentarios.focus()
        }
      }
      return contError
    },
    registrarVisita () {
      this.showLoading('Registrando visita, por favor espere un momento...')
      var self = this
      axios.post(this.url_api + '/api/visita/registrar', {
        nit: this.visita.cliente.NIT,
        cliente: this.visita.cliente.NOMBRE,
        fecha_visita: this.visita.fecha_visita,
        presencial: this.visita.presencial,
        operacion: this.visita.operacion,
        cobro: this.visita.cobro,
        // comentarios: this.comentarios,
        token: localStorage.getItem('token')
      }).then(function (res) {
        let mensaje = res.data.mensaje
        let estado = res.data.estado
        if (estado === 'ok') {
          self.notificacionToast('success', mensaje, 'top-right', 4000)
          self.limpiarDatos()
          self.obtenerVisitas()
        } else {
          self.notificacionToast('error', mensaje, 'top-right', 4000)
        }
        self.hideLoading()
      }).catch(function (err) {
        this.notificacionToast('error', err, 'top-right', 4000)
        self.hideLoading()
      })
    },
    modificaVisita (eliminar = 'no') {
      if (this.validarCampos() !== 0) {
        return false
      }
      this.showLoading('Actualizando visita, por favor espere un momento...')
      var self = this
      axios.put(this.url_api + '/api/visita/actualizar', {
        id_visita: this.visita.id_visita,
        nit: this.visita.cliente.NIT,
        fecha_visita: this.visita.fecha_visita,
        cliente: this.visita.cliente.NOMBRE,
        presencial: this.visita.presencial,
        operacion: this.visita.operacion,
        cobro: this.visita.cobro,
        comentarios: this.visita.comentarios,
        eliminar: eliminar,
        token: localStorage.getItem('token')
      }).then(function (res) {
        let mensaje = res.data.mensaje
        let estado = res.data.estado
        if (estado === 'ok') {
          self.notificacionToast('success', mensaje, 'top-right', 4000)
          self.limpiarDatos()
          self.obtenerVisitas()
        } else {
          self.notificacionToast('error', mensaje, 'top-right', 4000)
        }
        self.hideLoading()
      }).catch(function (err) {
        this.notificacionToast('error', err, 'top-right', 4000)
        self.hideLoading()
      })
    },
    gestionarVisita () {
      if (this.validarCampos('gestion') !== 0) {
        return false
      }
      this.showLoading('Gestionando visita, por favor espere un momento...')
      var self = this
      axios.put(this.url_api + '/api/visita/gestionar', {
        id_visita: this.visita.id_visita,
        cobro: this.visita.cobro,
        comentarios: this.visita.comentarios,
        estado: 'gestionado',
        token: localStorage.getItem('token')
      }).then(function (res) {
        let mensaje = res.data.mensaje
        let estado = res.data.estado
        if (estado === 'ok') {
          self.notificacionToast('success', mensaje, 'top-right', 4000)
          self.limpiarDatos()
          self.obtenerVisitas()
        } else {
          self.notificacionToast('error', mensaje, 'top-right', 4000)
        }
        self.hideLoading()
      }).catch(function (err) {
        this.notificacionToast('error', err, 'top-right', 4000)
        self.hideLoading()
      })
    },
    notificacionToast (tipoNotif, msj, posicion, duracion) {
      this.$toast(msj, {
        position: posicion,
        type: tipoNotif,
        timeout: duracion,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        // draggable: true,
        // draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: 'button',
        icon: true,
        rtl: false
      })
    },
    obtenerClientes (nombre = '') {
      var self = this
      if (nombre === '') {
        // nombre = '||XXXXX'
      }
      axios.get(this.url_api + '/api/clientes/listado/', {
        params: {
          token: localStorage.getItem('token'),
          nombre: nombre,
          sucursal: 'no'
        }
      }).then((response) => {
        self.clientes = response.data
      }).finally(function () {
        // self.$refs.ref_cliente.focus()
      })
    },
    obtenerVisitas () {
      this.showLoading('Obteniendo información, por favor espere ...')
      let url = this.url_api + '/api/visita/obtener'
      axios.get(url, {
        params: {
          token: localStorage.getItem('token'),
          cliente: this.filtro_cliente,
          tipo_vista: 'vendedor',
          estado: this.estado_filtro,
          filtro_fecha: this.filtro_fecha
        }
      })
        .then(response => {
          this.visitas = response.data.data
          this.page = response.data.current_page
          this.currentPage = response.data.current_page
          this.lastPage = response.data.last_page
          this.total = response.data.total
          this.hideLoading()
        }).catch(error => {
          this.hideLoading()
          console.log(error)
        })
    },
    goAnotherPage () {
      this.paginationUrl = this.url_api + '/api/visita/obtener?page=' + this.page
      axios.get(this.paginationUrl, {
        params: {
          token: localStorage.getItem('token'),
          cliente: this.filtro_cliente,
          tipo_vista: 'vendedor',
          estado: this.estado_filtro,
          filtro_fecha: this.filtro_fecha
        }
      }).then((response) => {
        this.visitas = response.data.data
      })
    },
    filterFn (val, update) {
      if (val === '') {
        update(() => {
          this.clientes_aux = this.clientes
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.clientes_aux = this.clientes.filter(v => v.NOMBRE.toLowerCase().indexOf(this.quitarAcentos(needle)) > -1)
      })
    },
    quitarAcentos (cadena) {
      const acentos = { 'á': 'a', 'é': 'e', 'í': 'i', 'ó': 'o', 'ú': 'u', 'Á': 'A', 'É': 'E', 'Í': 'I', 'Ó': 'O', 'Ú': 'U' }
      return cadena.split('').map(letra => acentos[letra] || letra).join('').toString()
    },
    formatPrice (value) {
      let val = (value / 1).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    submitLogin () {
    },
    onReset () {
    }
  },
  mounted () {
    this.obtenerClientes()
    this.obtenerVisitas()
    this.selectChip(3)
    const estado = this.$route.params.estado
    if (estado) {
      this.expandir(2)
    } else {
      this.expandir(1)
    }
  },
  watch: {
  }
}
</script>
