<template>
<q-page class="q-pt-none">
  <div class="q-pa-sm q-gutter-sm">
    <div class="row justify-center" v-if="comentario.mensaje">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-caption text-primary">
        <q-chip color="red" text-color="white" dense label="Tener en cuenta!!" /><br>
        "{{comentario.mensaje}}"
      </div>
    </div>
    <div class="row q-pa-none">
      <q-list dense  dark style="max-width: 318px" class="q-pa-none">
        <q-item>
          <q-item-section>
            <q-item-label class="text-h5 text-primary text-bold">Bienvenido</q-item-label>
            <q-item-label caption class="text-h6 text-primary">{{nom_usu}}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
      <q-separator spaced />
    </div>
      <div v-show="progress2">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="text-caption">Cumplimiento de ventas
                <q-chip square class="text-caption"  size="10px" :color="obtenerColorCumplimiento(estado_cumplimiento)" :text-color="estado_cumplimiento === 'medio_bajo' || estado_cumplimiento === 'medio_alto' ? 'black' : 'white'" :label="estado_cumplimiento"  >
                  <q-tooltip>{{estado_cumplimiento}}</q-tooltip>
                </q-chip>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
            <q-linear-progress track-color="yellow-12 " :buffer="buffer"  stripe rounded size="30px" :value="progress2" color="primary" class="q-mt-sm bg-grey-5" >
              <div class="text-left text-caption text-white absolute-full q-pa-xs">Ventas : {{formatPrice(total_bultos_aux)}} Bultos</div>
              <div class="absolute-full flex flex-center">
                <q-badge color="white" text-color="primary" :label="progressLabel2 + '%'" />
              </div>
              <div class="text-right text-caption text-white absolute-full q-pa-xs">Presup. : {{formatPrice(total_bultos_presup)}} Bultos</div>
            </q-linear-progress>
          </div>
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <q-btn color="grey-8" flat size="12px" round icon="more_vert">
              <q-menu cover auto-close>
                <q-list style="width:200px">
                  <q-item clickable @click="tipo_visualizacion = 'bultos';obtenerUsuario()">
                    <q-item-section>Ver en bultos</q-item-section>
                  </q-item>
                  <q-item clickable>
                    <q-item-section @click="tipo_visualizacion = 'kilos';obtenerUsuario()">Ver en kilos</q-item-section>
                  </q-item>
                  <q-item clickable>
                    <q-item-section @click="opcion = true;obtenerUsuario()">Presupuesto Hoy</q-item-section>
                  </q-item>
                  <q-item clickable>
                    <q-item-section @click="opcion = false;obtenerUsuario()">Presupuesto General</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </div>
        </div>
      </div>
    <div >
      <q-tabs
        v-model="tab"
        align="justify"
        narrow-indicator
        class="q-mb-lg"
      >
        <q-tab class="text-primary" name="menu" label="Menú principal" />
        <q-tab class="text-primary" name="ventas" label="Mis ventas" />
      </q-tabs>

      <div class="q-gutter-y-md">
        <q-tab-panels
          v-model="tab"
          animated
          transition-prev="scale"
          transition-next="scale"
          class="bg-white text-white text-left"
        >
          <q-tab-panel name="menu" class="q-pa-xs">
            <div class="row q-pa-none">
              <div class="col-12">
                <div class="row  q-col-gutter-x-xs q-col-gutter-y-sm">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <q-item  class="q-pa-none shadow-1"  @click="irRuta('/despachos/historico')" clickable >
                      <q-item-section  side class=" q-pa-md q-mr-none bg-white">
                        <q-icon name="fas fa-clipboard-list" color="primary" size="22px"></q-icon>
                      </q-item-section>
                      <q-item-section class=" q-pa-sm q-ml-none  text-white bg-white">
                        <q-item-label class="text-primary text-weight-bolder" style="font-size:17px">Despachos <span v-show="num_desp > 0" class="text-primary" style="font-size:12px">({{num_desp}} por cerrar)</span></q-item-label>
                        <q-item-label class="text-primary" style="font-size:12px">Puede ver el historial de despachos</q-item-label>
                      </q-item-section>
                    </q-item>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <q-item  class="q-pa-none shadow-1" @click="irRuta('/pedidos/historico')" clickable >
                      <q-item-section  side class=" q-pa-md q-mr-none text-white bg-white">
                        <q-icon name="fas fa-dolly" color="primary" size="22px"></q-icon>
                      </q-item-section>
                      <q-item-section class=" q-pa-sm q-ml-none  text-white bg-white">
                        <q-item-label class="text-primary text-weight-bolder" style="font-size:17px">Pedidos</q-item-label>
                        <q-item-label class="text-primary" style="font-size:12px">Consulta lo pedidos individualmente</q-item-label>
                      </q-item-section>
                    </q-item>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <q-item  class="q-pa-none shadow-1" @click="irRuta('/cartera/historico')" clickable >
                      <q-item-section  side class=" q-pa-md q-mr-none text-white bg-white">
                        <q-icon name="fas fa-file-invoice-dollar" color="primary" size="22px"></q-icon>
                      </q-item-section>
                      <q-item-section class=" q-pa-sm q-ml-none  text-white bg-white">
                        <q-item-label class="text-primary text-weight-bolder" style="font-size:17px">Cartera</q-item-label>
                        <q-item-label class="text-primary" style="font-size:12px">Consulta que facturas nos deben</q-item-label>
                      </q-item-section>
                    </q-item>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <q-item  class="q-pa-none shadow-1" @click="irRuta('/informes/ventas-vendedor')" clickable >
                      <q-item-section  side class=" q-pa-md q-mr-none text-white bg-white">
                        <q-icon name="fas fa-chart-line" color="primary" size="22px"></q-icon>
                      </q-item-section>
                      <q-item-section class=" q-pa-sm q-ml-none  text-white bg-white">
                        <q-item-label class="text-primary text-weight-bolder" style="font-size:17px">Mis ventas</q-item-label>
                        <q-item-label class="text-primary" style="font-size:12px">Detalla mis ventas presupuestadas</q-item-label>
                      </q-item-section>
                    </q-item>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <q-item  class="q-pa-none shadow-1" @click="irRuta('/clientes/listado')" clickable >
                      <q-item-section  side class=" q-pa-md q-mr-none text-white bg-white">
                        <q-icon name="fas fa-address-book" color="primary" size="22px"></q-icon>
                      </q-item-section>
                      <q-item-section class=" q-pa-sm q-ml-none  text-white bg-white">
                        <q-item-label class="text-primary text-weight-bolder" style="font-size:17px">Clientes</q-item-label>
                        <q-item-label class="text-primary" style="font-size:12px">Consulta información general</q-item-label>
                      </q-item-section>
                    </q-item>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <q-item  class="q-pa-none shadow-1" @click="irRuta('/mercado/registro')" clickable >
                      <q-item-section  side class=" q-pa-md q-mr-none text-white bg-white">
                        <q-icon name="fas fa-globe" color="primary" size="22px"></q-icon>
                      </q-item-section>
                      <q-item-section class=" q-pa-sm q-ml-none  text-white bg-white">
                        <q-item-label class="text-primary text-weight-bolder" style="font-size:17px">Mercado</q-item-label>
                        <q-item-label class="text-primary" style="font-size:12px">Registro de evidencias</q-item-label>
                      </q-item-section>
                    </q-item>
                  </div>
                </div>
              </div>
            </div>
          </q-tab-panel>

          <q-tab-panel class="q-pa-none" name="ventas">
            <ventas-vendedor :origen="'menu'"/>
          </q-tab-panel>

        </q-tab-panels>
      </div>
    </div>

  </div>
  <q-page-sticky position="bottom-right" :offset="[18, 18]">
    <q-btn rounded  icon="add" size="15px" color="primary" text-color="white" no-caps label="Nuevo despacho" @click="irRuta('/despachos/registro')"/>
  </q-page-sticky>
</q-page>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      tab: 'menu',
      opcion: false,
      estado_cumplimiento: '',
      tipo_visualizacion: 'bultos',
      comentario: [],
      dias_trans: 30,
      buffer: 0,
      progress2: 0,
      total_bultos_aux: 0,
      total_bultos_presup: 0,
      usuario: [],
      nom_usu: '',
      num_desp: '',
      rol: ''
    }
  },
  computed: {
    url_api () {
      return this.$store.state.store.url_api
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    progressLabel2 () {
      if (this.progress2) {
        return (this.progress2 * 100).toFixed(0)
      } else {
        return 0
      }
    }
  },
  methods: {
    obtenerColorCumplimiento (estado) {
      if (estado === 'muy_bajo') {
        return 'red'
      } else if (estado === 'bajo') {
        return 'orange-5'
      } else if (estado === 'medio_bajo') {
        return 'yellow'
      } else if (estado === 'medio_alto') {
        return 'light-green-4'
      } else {
        return 'light-green-10'
      }
    },
    obtenerTotalesLineaProgreso () {
      this.progress2 = this.total_bultos_aux / this.total_bultos_presup
    },
    obtenerTotalVentasPresupuestadas () {
      this.buffer = ((this.total_bultos_presup / 30) * this.dias_trans) / this.total_bultos_presup
    },
    formatPrice (value, decimales = 0) {
      let val = (value / 1).toFixed(decimales).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    obtenerPresupuestosVentasVendedor () {
      var self = this
      axios.get(this.url_api + '/api/presupuestos/presupuesto-ventas-consilidaddo-mes-vendedor-bultos/', {
        params: {
          tipo_consulta: 'vendedor',
          opcion: this.opcion,
          unidad_medida: this.tipo_visualizacion,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.total_bultos_aux = response.data[0].ventas_bultos
        self.total_bultos_presup = response.data[0].presupuesto_bultos
        self.estado_cumplimiento = response.data[0].estado_cumplimiento
        // console.log(response.data)
      }).finally(function () {
        self.obtenerTotalesLineaProgreso()
      })
    },
    obtenerComentario () {
      var self = this
      // self.loading = true
      axios.get(this.url_api + '/api/comentarios/obtener-comentario/', {
        params: {
          fecha_inicial: '',
          tipo: 'Diario',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.comentario = response.data
      }).finally(function () {
      })
    },
    obtenerUsuario () {
      var self = this
      this.showLoading('Obteniendo información ...')
      if (localStorage.getItem('token')) {
        axios.post(this.url_api + '/api/usuarios/obtener-usuario', {
          token: localStorage.getItem('token')
        }).then(response => {
          if (response.data.user) {
            // this.menu_habilitado = true
            // console.log(response.data.user)
            self.usuario = response.data.user
            self.nom_usu = response.data.user.name
            self.rol = response.data.user.roles[0].name
            self.obtenerNumeroDespachosxEstado()
            self.obtenerPresupuestosVentasVendedor()
            self.obtenerComentario()
            self.hideLoading()
            // se obtiene los permisos asignados al usuario
            // this.accessos = response.data.permisos
          } else {
            // this.menu_habilitado = false
            // this.leftDrawerOpen = false
          }
          // console.log(response.data.user.id)
          // console.log(response)
        }).catch(error => {
          console.log(error)
          self.hideLoading()
          // this.menu_habilitado = false
          // this.cerrarSesion()
        })
      }
    },
    obtenerNumeroDespachosxEstado () {
      var self = this
      axios.get(this.url_api + '/api/despachos/obtener-numero/', {
        params: {
          token: localStorage.getItem('token'),
          estado: 'abierto'
        }
      }).then((response) => {
        self.num_desp = response.data
      }).finally(function () {
      })
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    irRuta (ruta) {
      this.$router.push({ name: ruta })
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    }
  },
  mounted () {
    this.obtenerUsuario()
  },
  watch: {
  }
}
</script>
