<template>
  <div class="q-pa-xs q-gutter-xs">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center text-primary text-weight-bolder" style="font-size:17px">
        Historial Pedidos
      </div>
      <q-separator spaced />
       <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row q-pa-xs">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <q-input  v-model="cliente" label="Consultar por cliente" stack-label  @input="listadoPedidosLocal()"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <q-list >
            <q-item-label header class="text-center">Mis Pedidos</q-item-label>
              <div v-for="(pedido, index) in filterByValue(pedidos, cliente)" :key="index">
                <q-item clickable v-ripple @click="$router.push({ name: '/pedidos/registro', params: { despacho: pedido.conse_desp, placa: pedido.placa, conductor: pedido.conductor, origen: 'historico_pedidos', id_pedido: pedido.id_pedido } })">
                  <q-item-section style="padding-right:4px" thumbnail class="bg-primary q-mr-sm">
                  </q-item-section>
                  <q-item-section>
                    <q-item-label style="font-size:12px" class="text-primary text-bold">{{pedido.cliente}}</q-item-label>
                    <q-item-label style="font-size:12px" class="text-orange-8 text-bold" v-show="pedido.bodega == 'si'">* Producto(s) despachado a bodega</q-item-label>
                    <q-item-label caption>Ciudad  <b>{{pedido.ciudad}}</b></q-item-label>
                    <q-item-label lines="2" v-show="pedido.certificado_calidad == 'si'" class="text-red-9 text-bold text-caption">*Requiere certificado de calidad</q-item-label>
                    <q-item-label caption>Total kilos  <b>{{formatPrice(pedido.total_kilos)}}</b></q-item-label>
                    <q-item-label caption>Valor total  <b>$ {{formatPrice(pedido.valor_total)}}</b></q-item-label>
                    <q-item-label caption v-show="pedido.observaciones">"{{pedido.observaciones}}"</q-item-label>
                  </q-item-section>

                  <q-item-section side top>
                    <q-item-label caption>{{pedido.tiempo_transcurrido}}</q-item-label>
                    <div class="text-primary">
                      # {{pedido.consecutivo}}
                    </div>
                    <q-item-label caption> </q-item-label>
                    <q-item-label caption> </q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator style="height:2px" class="bg-grey-2 " />
              </div>
          </q-list>
        </div>
      </div>
        <infinite-loading  @distance="1" @infinite="infiniteHandler"  ref="infiniteLoading1">
            <div slot="no-more">
            <div class="full-width row flex-center text-primary q-gutter-sm">
              <span>
              </span>
            </div>
            </div>
            <div slot="spinner">
              <div class="row justify-center q-my-md">
                <q-spinner-dots color="primary" size="50px" />
              </div>
            </div>
            <div slot="no-results">
              <div class="full-width row flex-center text-primary q-gutter-sm">
                <q-icon size="2em" name="sentiment_dissatisfied" />
                <span>
                  Sin resultados ...
                </span>
              </div>
            </div>
        </infinite-loading>
        <q-page-scroller expand position="top" :scroll-offset="150" :offset="[0, 0]">
          <div  class="col cursor-pointer q-pa-xs bg-primary text-white text-center">
            <q-btn dense flat icon="arrow_upward" label="Ir al principio" />
          </div>
        </q-page-scroller>

        <q-page-sticky position="bottom-right" :offset="[18, 18]"  @click="$router.back()">
        <q-btn fab padding="sm"  icon="home" color="primary" />
      </q-page-sticky>
  </div>
</template>

<script>
import axios from 'axios'
import InfiniteLoading from 'vue-infinite-loading'
export default {
  components: {
    InfiniteLoading
  },
  data () {
    return {
      deshabilitado: false,
      dato_obtenido: false,
      icon: false,
      conductor: '',
      pedidos: [],
      cliente: '',
      page: 0
    }
  },
  computed: {
    url_api () {
      return this.$store.state.store.url_api
    }
  },
  methods: {
    listadoPedidos () {
      var self = this
      axios.get(this.url_api + '/api/pedidos/historico/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.pedidos = response.data
      }).finally(function () {
      })
    },
    listadoPedidosLocal () {
      this.filterByValue(this.pedidos, this.cliente)
    },
    filterByValue (arrayOfObject, term) {
      var ans = arrayOfObject.filter(function (v, i) {
        if (v.cliente.toLowerCase().indexOf(term.toLowerCase()) >= 0) {
          return true
        } else {
          return false
        }
      })
      return ans
    },
    infiniteHandler ($state) {
      // PARA QUE SOLO APAREZCA CUANDO SE RESETEA EN INFINITE
      if (this.page <= 0) {
        this.showLoading('Cargando información, por favor espere...')
      }
      this.page++
      let url = this.url_api + '/api/pedidos/historico/?page=' + this.page
      axios.get(url, {
        params: {
          token: localStorage.getItem('token'),
          cliente: this.cliente
        }
      })
        .then(response => {
          // console.log(response.data)
          // let newCargues = response.data.data
          if (response.data.data.length) {
            this.pedidos = this.pedidos.concat(response.data.data)
            $state.loaded()
            this.hideLoading()
          } else {
            $state.complete()
            this.hideLoading()
          }
        }).catch(error => {
          this.hideLoading()
          console.log(error)
        })
    },
    notificacion (color, colorTexto, icono, mensaje, posicion) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        position: posicion
      })
    },
    formatPrice (value) {
      let val = (value / 1).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    submitLogin () {
    },
    onReset () {
    }
  },
  mounted () {
    // this.listadoDespachos()
  },
  watch: {
  }
}
</script>
