<template>
  <div >
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center text-primary text-weight-bolder" style="font-size:22px">
        Nuevo pedido
      </div>
       <div class="row q-pa-md bg-grey-2">
          <q-breadcrumbs class="text-primary text-bold" style="font-size:12px">
            <template v-slot:separator>
              <q-icon
                size="1.3em"
                name="chevron_right"
                color="primary"
              />
            </template>

            <q-breadcrumbs-el :label="despacho" />
            <q-breadcrumbs-el :label="placa + ' (' + capacidad + 'Ton)'"  />
            <q-breadcrumbs-el :label="conductor.substr(0,18) + '..'"/>
          </q-breadcrumbs>
      </div>
      <div class="row q-pa-xs" v-show="visualiza_new_pedido">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <q-select
              v-model="cliente"
              ref="ref_cliente"
              :options="clientes_aux"
              label="Selecciona un cliente"
              color="primary"
              stack-label
              option-value="NIT"
              option-label="NOMBRE"
              use-input
              :hint="!isNaN(cupo_disponible) ? 'Cupo disponible : ' + formatPrice(cupo_disponible): ''"
              @filter="filterFn"
              @input="obtenerCupoxNit"
              options-selected-class="text-deep-orange"
            >
              <template v-slot:prepend>
                <q-icon name="assignment_ind" color="primary"/>
              </template>
              <template v-slot:option="scope">
                <q-item
                  v-bind="scope.itemProps"
                  v-on="scope.itemEvents"
                >
                  <q-item-section>
                    <q-item-label caption class="text-black"><b>Nit</b> {{ scope.opt.NIT }}</q-item-label>
                    <q-item-label caption class="text-black"><b>Cliente</b> {{ scope.opt.NOMBRE }}</q-item-label>
                    <q-item-label caption class="text-black"><b>Ciudad</b> {{ scope.opt.CIUDAD }}</q-item-label>
                    <q-item-label caption class="text-black"><b>Cupo Total</b> {{ formatPrice(scope.opt.Cupo_Credito) }}</q-item-label>
                    <q-item-label caption class="text-black text-right" v-if="scope.opt.deuda_total>0 || !isNaN(scope.opt.deuda_total)"><b :class="scope.opt.deuda_total <=0 ? 'text-red':''">Cupo Disp.</b> {{ formatPrice(scope.opt.deuda_total) }}</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator  style="height:1px" class="bg-grey-4"  />
              </template>
            </q-select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right" v-show="estado_pedido === 'abierto' && (estado_despacho === 'abierto' || estado_despacho === 'temp')">
          <q-btn v-show="cupo_disponible" color="green-7" size="12px" no-caps text-color="white" label="Añadir Producto" @click="modal_productos = true; listadoProductos('inicial')" />
        </div>
      </div>

      <div class="row q-pa-sm" v-show="visualiza_new_pedido === false">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right" v-if="estado_despacho === 'abierto'">
          <q-btn class="text-primary q-mr-xs" size="14px" icon="lock_outline" v-if="verificaPermiso(41)" no-caps label="Cerrar despacho" v-show="estado_despacho === 'abierto' && pedidos.length > 0" @click="confirm(id_despacho)"/>
          <q-btn color="primary" size="14px" no-caps text-color="white" label="Nuevo pedido" @click="visualiza_new_pedido = true;limpiarSelect()" />
        </div>
      </div>

      <div class="row q-pa-sm" v-show="visualiza_new_pedido === false">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 scroll" style="max-height: 360px">
          <q-list class="rounded-borders" >
            <q-item-label header class="text-primary text-bold text-center text-h6">({{ pedidos.length }})Pedidos</q-item-label>
            <div v-for="(pedido, index) in pedidos" :key="index" class="bg-grey-1 q-mb-sm shadow-1" style="border-radius: 10px;">
              <q-item clickable v-ripple @click="obtenerDetallePedido(pedido.id_pedido, pedido);visualiza_new_pedido = true">
                <q-item-section style="padding-right:2px" thumbnail class="bg-primary q-mr-sm"></q-item-section>
                <q-item-section>
                  <q-item-label lines="2" class="text-primary text-bold">{{pedido.cliente}}</q-item-label>
                  <q-item-label caption lines="2">
                    <span class="text-weight-bold">{{pedido.ciudad}}</span>
                  </q-item-label>
                  <q-item-label lines="2" v-show="pedido.certificado_calidad == 'si'" class="text-red-9 text-bold text-caption">*Requiere certificado de calidad</q-item-label>
                  <q-item-label caption lines="2">
                    <span class="text-weight-bold text-primary">$ {{formatPrice(pedido.valor_total)}} - {{formatPrice(pedido.total_kilos)}} Kg</span>
                  </q-item-label>
                  <q-item-label caption lines="3" v-show="pedido.observaciones">
                    "{{pedido.observaciones}}"
                  </q-item-label>
                </q-item-section>

                <q-item-section side top style="font-size:11px">
                  {{pedido.tiempo_transcurrido}}
                </q-item-section>
              </q-item>
            </div>
          </q-list>
        </div>
      </div>
      <div class="row q-pa-none bg-grey-3" v-show="visualiza_new_pedido === false">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <q-list >
              <q-item>
                <q-item-section class="text-bold text-primary">Total KG</q-item-section>
                <q-item-section avatar class="text-bold text-h6">
                  {{formatPrice(total_kilos_despacho)}}
                </q-item-section>
              </q-item>

              <q-item>
                <q-item-section class="text-bold text-primary">Valor $</q-item-section>
                <q-item-section avatar class="text-bold text-h6">
                  {{formatPrice(valor_total_despacho)}}
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </div>
      <div class="row q-pa-xs" v-if="productos_pedido.length > 0">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 scroll" style="max-height: 300px">
          <q-list>
            <q-item-label header class="text-right"><b>({{productos_pedido.length}})</b> Productos</q-item-label>
            <q-separator  style="height:1px" class="bg-grey-4"  />
              <div v-for="(producto, index) in productos_pedido" :key="index" >
                <q-item class="bg-white " style="width: 100%"  clickable v-ripple>
                  <q-item-section style="padding-right:4px" thumbnail class="bg-amber-11 q-mr-sm"></q-item-section>
                  <q-item-section >
                    <q-item-label overline class="text-primary text-weight-bolder" style="font-size:11px">{{producto.codigo}} - {{producto.nombre}}</q-item-label>
                    <q-item-label class="text-primary" style="font-size:11px">
                      {{formatPrice(producto.cantidad)}} {{producto.unidad}}
                      - ${{formatPrice(producto.valor)}}
                      <div class="text-right text-blue-grey "><em>$ {{formatPrice(producto.valor * producto.cantidad)}} - {{parseFloat(producto.peso) * producto.cantidad}} Kg</em></div>
                    </q-item-label>
                  </q-item-section>
                  <q-item-section side top>
                    <q-item-label caption>
                      <q-btn color="grey-7" round flat icon="more_vert" size="11px" v-show="estado_pedido === 'abierto' && (estado_despacho === 'abierto' || estado_despacho === 'temp')">
                        <q-menu  :offset="[50, 10]" auto-close >
                          <q-list style="width: 200px">
                            <q-item  clickable @click="updateItem(index, producto, 'abrir_modal')">
                              <q-item-section>Modificar</q-item-section>
                            </q-item>
                            <q-item  clickable @click="deleteItem(index, producto.codigo)">
                              <q-item-section>Eliminar</q-item-section>
                            </q-item>
                          </q-list>
                        </q-menu>
                      </q-btn>
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator  style="height:1px" class="bg-grey-4"  />
              </div>
          </q-list>
        </div>
      </div>
        <div class="row q-pa-xs" v-if="productos_pedido.length > 0">
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 ">
            <q-page-sticky position="bottom-right" :offset="[285, 18]" v-show="estado_pedido === 'abierto' && (estado_despacho === 'abierto' || estado_despacho === 'temp')">
              <q-btn fab padding="sm" icon="save"  color="primary" @click="modal_confirm_pedido = true"/>
            </q-page-sticky>

            <q-page-sticky v-show="modifica === true" position="bottom-right" :offset="[10, 18]">
              <q-btn fab padding="sm" icon="delete"  color="red-8" @click="confirm_eliminar = true" v-show="estado_pedido === 'abierto' && (estado_despacho === 'abierto' || estado_despacho === 'temp')"/>
            </q-page-sticky>

            <q-page-sticky position="bottom-right" :offset="estado_pedido === 'abierto' && (estado_despacho === 'abierto' || estado_despacho === 'temp') ? [230, 18]:[285, 18]">
              <q-btn fab padding="sm"  icon="arrow_back" color="primary" @click="simulaAtras()"/>
            </q-page-sticky>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right " style="z-index:-9999">
            <q-list dense bordered padding style="width: 100%;  border-radius: 10px 10px 10px 10px;" class="bg-grey-2">
              <q-item>
                <q-item-section>
                  <q-item-label overline><b class="text-red" v-if="valor_total > cupo_disponible">(Excedió el cupo) </b>Total  </q-item-label>
                  <q-item-label></q-item-label>
                  <q-item-label caption></q-item-label>
                </q-item-section>

                <q-item-section side top>
                  <q-item-label caption class="q-pa-xs"><b class="text-primary" style="font-size:14px">$ {{formatPrice(valor_total)}}</b></q-item-label>
                </q-item-section>
              </q-item>
              <q-item  v-if="productos_pedido.length > 0">
                <q-item-section>
                  <q-item-label overline>Total kilos</q-item-label>
                  <q-item-label></q-item-label>
                  <q-item-label caption></q-item-label>
                </q-item-section>

                <q-item-section side top>
                  <q-item-label caption  class="text-primary text-bold q-pa-xs" style="font-size:14px">{{formatPrice(total_kilos)}} Kg</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </div>
        <q-dialog v-model="modal_confirm_pedido" persistent>
          <q-card style="min-width: 350px">
            <q-card-section>
              <div class="text-primary text-bold"  style="font-size:16px">Confirmación del pedido</div>
            </q-card-section>

            <q-card-section class="q-pt-none">
              <q-input
                v-model="observaciones"
                class="text-caption"
                dense
                label="Escriba una observación si lo desea"
                type="textarea"
              />
            </q-card-section>
            <q-card-section class="q-pa-none" v-show="rol !== 'VENDEDOR'" >
              <q-checkbox v-model="bodega" label="Enviar a bodega" />
            </q-card-section>
            <q-card-section class="q-pa-none" >
              <q-checkbox v-model="certificado" label="¿Requiere certificado de calidad?" />
            </q-card-section>
            <q-card-section class="q-pt-none" v-show="certificado == true">
              <q-input
                v-model="observaciones_certificado"
                class="text-caption"
                style="height:90px"
                dense
                label="Observaciones certificado de calidad"
                type="textarea"
                outlined
              />
            </q-card-section>
            <div class="row" v-show="false">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-grey-7 q-pa-md">
                  <q-checkbox dense v-model="check_estado_pedido" label="Cerrar pedido" />
                </div>
            </div>
            <q-card-actions align="right" class="text-primary">
              <q-btn no-caps  flat label="Cancelar" v-close-popup />
              <q-btn no-caps  color="primary" label="Confirmar Pedido"  @click="registrarPedido" />
            </q-card-actions>
          </q-card>
        </q-dialog>
        <q-dialog v-model="modal_mod_item" persistent>
          <q-card style="min-width: 350px">
            <q-card-section>
              <div class="text-h6">{{producto_label}}</div>
            </q-card-section>

            <q-card-section class="q-pt-none">
              <q-input  v-model="cantidad_pedido" autofocus label="Cantidad" type="number" stack-label />
              <q-input  v-model="valor_pedido" label="Precio" type="number" readonly stack-label />
            </q-card-section>

            <q-card-actions align="right" class="text-primary">
              <q-btn flat label="Cancelar" v-close-popup />
              <q-btn flat label="Guardar cambios"  @click="updateItem('','','modificar')" />
            </q-card-actions>
          </q-card>
        </q-dialog>

      <q-dialog
        v-model="modal_productos"
        persistent
        :maximized="$q.platform.is.desktop === true ? true : true"
        transition-show="slide-up"
        transition-hide="slide-down"
      >
        <q-card class="bg-grey-2 text-white" >
          <q-bar  class="bg-white q-pa-lg">
            <q-icon color="primary" name="chevron_left" v-close-popup size="md"/>
              <div class="text-primary text-bold">Listado de productos</div>
            <q-space/>
            <q-btn label="Atras" color="primary" flat round v-close-popup/>
          </q-bar>
          <div class="row bg-white q-pa-sm">
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 text-right">
                <q-input rounded outlined dense bottom-slots v-model="producto" label="Buscar producto por (Código o Nombre)" debounce="500"
                stack-label
                @input="listadoProductosLocal()"
                >
                  <template v-slot:prepend>
                    <q-icon name="search" color="primary" />
                  </template>
                </q-input>
            </div>
          </div>
          <div class="row scroll" style="max-height: 500px" >
            <q-list >
              <div v-for="(producto, index) in filterByValue(productos, producto)" :key="index" >
                <q-item class="bg-white " style="width: 100%"  clickable v-ripple>
                  <q-item-section >
                    <q-item-label class="text-primary text-bold" style="font-size:12px">{{producto.codigo}} - {{producto.nombre}}</q-item-label>
                    <q-item-label class="text-primary">
                      <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                          <q-input style="width:60px" v-model="cantidad[index]" :label="'Cant. ' + producto.unidad" stack-label type="number" />
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 q-mr-lg">
                          <q-input :ref="'precio_' + index" :for="'precio_' + index"  v-if="producto.precio > 0" style="width:100px"  :value="producto.precio"  :label="producto.precio > 0 ? 'Precio (no editable)' : 'Precio'" stack-label type="number" :readonly="producto.precio !== 0" />
                          <q-input :ref="'precio_' + index" :for="'precio_' + index" v-if="producto.precio == 0" style="width:100px"  v-model="valor[index]"  label="Precio" stack-label type="number"  />
                        </div>
                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 text-right">
                          <q-icon  size="lg"  color="blue" name="fas fa-plus-circle" @click="addProductos(producto, cantidad[index], producto.precio === 0 ? valor[index] : producto.precio, index)" />
                          <q-icon  v-if="producto.precio > 0" size="md" class="q-pl-md" color="grey-7" name="fas fa-external-link-alt" @click="enviarDatosOpciones(producto, 'precio_' + index)" />
                        </div>
                      </div>
                    </q-item-label>
                  </q-item-section>
                </q-item>
              <q-separator  class="bg-grey-2" style="height:4px" />
              </div>
            </q-list>
          </div>
        </q-card>
      </q-dialog>

    <q-dialog
      v-model="dialog_opciones"
      persistent
      :maximized="maximizedToggle"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card class="bg-white text-primary">
        <q-bar class="bg-white">
          <q-space />

          <q-btn dense flat icon="minimize" @click="maximizedToggle = false" :disable="!maximizedToggle">
            <q-tooltip v-if="maximizedToggle" class="bg-white text-primary">Minimize</q-tooltip>
          </q-btn>
          <q-btn dense flat icon="crop_square" @click="maximizedToggle = true" :disable="maximizedToggle">
            <q-tooltip v-if="!maximizedToggle" class="bg-white text-primary">Maximize</q-tooltip>
          </q-btn>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>
        <q-card-section>
          <q-item-label overline class="text-primary text-h5 text-bold">{{producto_sel.codigo}} - {{producto_sel.nombre}}</q-item-label>
          <q-item-label overline class="text-grey-9">Precio de lista $ {{formatPrice(producto_sel.precio)}}</q-item-label>
          <q-item-label  class="text-grey-9 text-center q-py-md"><q-icon name="fas fa-sync-alt" class="q-mr-sm"/>Cambiar precio</q-item-label>
          <q-item-label >
            <div class="q-pa-xs" style="max-width: 450px">
              <div class="q-gutter-xs text-center">
                <q-chip clickable @click="precio_final = precio.precio"  color="primary" text-color="white"  v-for="(precio, index) in this.precios" :key="index">
                  ${{formatPrice(precio.precio)}}
                </q-chip>
              </div>
            </div>
          </q-item-label>
          <q-item-label><br>
            <q-input outlined dense v-model="adicion_1" label="+ Flete" debounce="1500" stack-label @input="cambiarPrecio('a1')" type="number" />
          </q-item-label>
          <q-item-label><br>
            <q-input outlined dense v-model="adicion_2" label="Adicionales" debounce="1500" stack-label @input="cambiarPrecio('a2')" type="number" />
          </q-item-label>
          <q-item-label><br>
            <q-input outlined  v-model="precio_final" label="Precio final" stack-label readonly />
          </q-item-label>
          <q-item-label class="text-right"><br>
            <q-btn  no-caps dense icon="fas fa-retweet" flat label="Recalcular precio" @click="recalcularValor(producto_sel.precio)"/>
          </q-item-label>
          <q-item-label class="text-center"><br><br>
            <q-btn  no-caps @click="enviarPrecio(precio_final, producto_sel.codigo)" class="full-width" icon="fas fa-share-square" color="primary" :label="'Usar este precio $ ' + formatPrice(precio_final)" />
          </q-item-label>
        </q-card-section>
      </q-card>
    </q-dialog>

      <q-dialog v-model="confirm_eliminar" persistent>
        <q-card>
          <q-card-section class="row items-center">
            <q-icon size="md" name="cancel" color="red" text-color="white" />
            <span class="q-ml-sm">¿Está seguro de eliminar el pedido?</span>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="Cancel" color="primary" v-close-popup />
            <q-btn flat label="Eliminar pedido" color="primary" @click="eliminarPedido()"/>
          </q-card-actions>
        </q-card>
      </q-dialog>

      <q-page-sticky style="z-index: 9999" position="bottom-right" :offset="[18, 18]" v-if="productos_pedido.length <= 0" @click="$router.push({ name: '/despachos/historico' })">
        <q-btn fab padding="sm"  icon="arrow_back" color="primary" />
      </q-page-sticky>
  </div>
</template>

<script>
import axios from 'axios'
// var stringOptions = []
export default {
  data () {
    return {
      certificado: false,
      observaciones_certificado: '',
      rol: '',
      bodega: false,
      input_select: 0,
      adicion_1: '',
      adicion_2: '',
      precio_final: 0,
      precios: [],
      producto_sel: [],
      maximizedToggle: true,
      dialog_opciones: false,
      visualiza_selec: true,
      estado_pedido: 'abierto',
      confirm_eliminar: false,
      cliente: [],
      clientes: [],
      options_clientes: [],
      id_despacho: '',
      despacho: this.$route.params.despacho.toString(),
      placa: this.$route.params.placa,
      origen: this.$route.params.origen ? this.$route.params.origen : '',
      conductor: this.$route.params.conductor,
      estado_despacho: 'abierto',
      total_kilos_despacho: '',
      valor_total_despacho: '',
      capacidad: '',
      placas: [],
      modal_productos: false,
      productos: [],
      productos_pedido: [],
      id_pedido: this.$route.params.id_pedido ? this.$route.params.id_pedido : '',
      modifica: false,
      cantidad: [],
      cantidad_pedido: '',
      valor: [],
      valor_pedido: '',
      producto: '',
      producto_label: '',
      producto_codigo: '',
      index_editar: '',
      editar: false,
      modal_mod_item: false,
      valor_total: 0,
      total_kilos: 0,
      modal_confirm_pedido: false,
      observaciones: '',
      check_estado_pedido: false,
      pedidos: [],
      visualiza_new_pedido: true,
      ciudad_tercero: '',
      cupo_disponible: 0,
      lista_precio: '',
      alertar_x_cupo: '',
      clientes_aux: []
    }
  },
  computed: {
    url_api () {
      return this.$store.state.store.url_api
    },
    clientes_vuex () {
      return this.$store.getters['store/obtener_clientes']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    }
  },
  methods: {
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    obtenerUsuario () {
      if (localStorage.getItem('token')) {
        axios.post(this.url_api + '/api/usuarios/obtener-usuario', {
          token: localStorage.getItem('token')
        }).then(response => {
          if (response.data.user.id) {
            this.rol = response.data.user.roles[0].name
          }
          // console.log(response.data.user.id)
          // console.log(response)
        }).catch(error => {
          console.log(error)
        })
      } else {
        // this.cerrarSesion()
        // alert('Por favor inicie sesión')
      }
    },
    cambiarPrecio (opcion) {
      if (opcion === 'a1') {
        if (parseInt(this.adicion_1) >= 0) {
          var resultado = parseInt(this.adicion_1)
          var precioOrig = this.precio_final
          this.precio_final = resultado + precioOrig
        }
      } else {
        if (parseInt(this.adicion_2) >= 0) {
          var resultado_ = parseInt(this.adicion_2)
          var precioOrig_ = this.precio_final
          this.precio_final = resultado_ + precioOrig_
        }
      }
    },
    recalcularValor (preOriginal) {
      if (this.adicion_1.length === 0) {
        this.adicion_1 = 0
      }
      if (this.adicion_2.length === 0) {
        this.adicion_2 = 0
      }
      var resultado = 0
      resultado = parseInt(preOriginal) + parseInt(this.adicion_1) + parseInt(this.adicion_2)
      this.precio_final = resultado
    },
    enviarInfoSelect (data) {
      if (data.deuda_total !== undefined) {
        this.alertar_x_cupo = 'si'
        this.cupo_disponible = data.deuda_total
      } else {
        this.alertar_x_cupo = 'no'
        this.cupo_disponible = data.Cupo_Credito
      }
    },
    accionVisualizacion () {
      if (this.origen === 'historico') {
        this.visualiza_new_pedido = false
      }
    },
    enviarDatosOpciones (data, index) {
      this.input_select = index
      this.precios.length = 0
      this.precio_final = 0
      this.adicion_1 = ''
      this.adicion_2 = ''
      this.dialog_opciones = true
      Object.assign(this.producto_sel, data)
      this.obtenerPreciosProducto(this.producto_sel.codigo)
      this.precio_final = this.producto_sel.precio
      if (!this.producto_sel) {
        this.dialog_opciones = false
      }
    },
    enviarPrecio (valor, codigo) {
      var inputNombre = document.getElementById(this.input_select)
      inputNombre.value = valor
      // var arrTerminos = this.input_select.split('_')
      // voy hasta la posicion del objeto y asigno el valor recalculado
      this.productos.map(function (dato) {
        if (dato.codigo === codigo) {
          dato.precio = valor
        }
      })
      // this.productos[arrTerminos[1]].precio = valor
      this.dialog_opciones = false
    },
    limpiarSelect () {
      this.cliente.NIT = ''
      this.cliente.NOMBRE = ''
      this.cliente.Id_Alterno = ''
      this.cargarClientes()
      this.$refs.ref_cliente.focus()
    },
    simulaAtras () {
      if (this.$route.params.id_pedido) {
        this.$router.push({ name: '/pedidos/historico' })
      }
      this.visualiza_new_pedido = false
      this.productos_pedido.length = 0
      this.modifica = false
      this.id_pedido = ''
      this.cupo_disponible = ''
      this.lista_precio = ''
      this.listadoPedidos()
    },
    confirm (idDespacho) {
      this.$q.dialog({
        title: 'Cerrar Despacho',
        message: '¿Está seguro de cerrar el despacho?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.cerrarDespacho(idDespacho)
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    cerrarDespacho (idDespacho) {
      this.showLoading('Cerrando el despacho, por favor espere ...')
      var self = this
      axios.put(this.url_api + '/api/despachos/cerrar-despacho/', {
        id_despacho: idDespacho,
        accion: 'cerrar_despacho',
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-center', 2500)
          self.hideLoading()
          // self.changeFilter()
          // self.$router.go(self.$router.currentRoute)
          self.$router.push({ name: '/despachos/historico' })
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-center', 2500)
        }
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('error', err, 'top-center', 2500)
      })
    },
    obtieneTotalesPedido () {
      var sumador = 0
      var sumadorKilos = 0
      for (var i = 0; i < this.productos_pedido.length; i++) {
        sumador = sumador + parseInt(this.productos_pedido[i].valor * this.productos_pedido[i].cantidad)
        sumadorKilos = sumadorKilos + parseFloat(this.productos_pedido[i].peso * this.productos_pedido[i].cantidad)
      }
      this.valor_total = sumador
      this.total_kilos = sumadorKilos
      if (this.total_kilos >= (this.capacidad * 1000)) {
        // this.notificacion('red-5', 'white', 'warning', 'Ha excedido la capacidad máxima de carga del vehículo', 'bottom', 3000)
      }

      if (this.valor_total > this.cupo_disponible && this.cupo_disponible > 0) {
        // this.notificacion('red-5', 'white', 'warning', 'Ha excedido el cupo disponible', 'bottom', 3000)
      }
    },
    obtenerInfoDespacho () {
      var self = this
      axios.get(this.url_api + '/api/despachos/info-x-consecutivo/', {
        params: {
          consecutivo: this.despacho,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        if (response.data.placa) {
          self.placa = response.data.placa
          self.conductor = response.data.conductor
          self.capacidad = response.data.capacidad
          self.estado_despacho = response.data.estado
          self.total_kilos_despacho = response.data.total_kilos
          self.valor_total_despacho = response.data.valor_total
          self.id_despacho = response.data.id_despacho
          if (self.total_kilos_despacho > (self.capacidad * 1000) && self.estado_despacho === 'abierto') {
            // self.notificacion('red-5', 'white', 'warning', 'Ha excedido la capacidad máxima de carga del vehículo', 'bottom', 3000)
          }
        } else {
          self.notificacionToast('error', 'No se pudo obtener la información del despacho', 'top-center', 3000)
          self.placa = ''
          self.conductor = ''
          self.despacho = ''
          self.visualiza_selec = false
          self.estado_despacho = ''
          self.total_kilos_despacho = ''
          self.valor_total_despacho = ''
          // self.visualiza_new_pedido = false
        }
        // self.placa = response.data.placa
      }).finally(function () {
      })
    },
    obtenerInfoPedidoxId () {
      var self = this
      // si proviene url desde historico pedidos
      if (this.$route.params.id_pedido) {
        self.showLoading('Obteniendo información ...')
        axios.get(this.url_api + '/api/pedidos/encabezado/', {
          params: {
            token: localStorage.getItem('token'),
            id_pedido: this.id_pedido
          }
        }).then((response) => {
          // self.productos_pedido = response.data
          // console.log(response.data)
          self.obtenerDetallePedido(self.id_pedido, response.data)
        }).finally(function () {
          self.hideLoading()
        })
      }
    },
    obtenerPreciosProducto (codProducto) {
      var self = this
      axios.get(this.url_api + '/api/pedido/precios-producto/', {
        params: {
          token: localStorage.getItem('token'),
          cod_producto: codProducto
        }
      }).then((response) => {
        self.precios = response.data
      }).finally(function () {
      })
    },
    obtenerDetallePedido (idPedido, pedido) {
      // console.log(pedido)
      if (pedido.estado === 'cerrado') {
        this.estado_pedido = 'cerrado'
      } else {
        this.estado_pedido = 'abierto'
      }
      var self = this
      this.showLoading('Obteniendo información del pedido ...')
      // this.cargarClientes()
      var CliTemp = []
      const sourceCli = { NIT: pedido.nit, NOMBRE: pedido.cliente, CIUDAD: pedido.ciudad }
      Object.assign(CliTemp, sourceCli)
      // Object.assign(this.cliente, CliTemp)
      this.cliente = { NIT: pedido.nit, NOMBRE: pedido.cliente, CIUDAD: pedido.ciudad }
      // asignar cupo disponible
      this.cupo_disponible = pedido.deuda_total
      this.lista_precio = pedido.lista_precio
      this.productos_pedido.length = 0
      this.bodega = pedido.bodega
      if (pedido.certificado_calidad === 'si') {
        this.certificado = true
      } else {
        this.certificado = false
      }
      this.observaciones_certificado = pedido.observaciones_certificado
      axios.get(this.url_api + '/api/pedidos/pedidos-detalle/', {
        params: {
          token: localStorage.getItem('token'),
          id_pedido: idPedido
        }
      }).then((response) => {
        self.productos_pedido = response.data
        // console.log(response.data)
      }).finally(function () {
        self.hideLoading()
        self.obtieneTotalesPedido()
        self.modifica = true
        self.id_pedido = idPedido
        self.observaciones = pedido.observaciones
      })
    },
    updateItem (index, producto, accion) {
      if (accion === 'abrir_modal') {
        this.modal_mod_item = true
        this.producto_label = producto.nombre
        this.cantidad_pedido = producto.cantidad
        this.valor_pedido = producto.valor
        this.index_editar = index
        this.producto_codigo = producto.codigo
        return false
      }
      if (accion === 'modificar') {
        if (this.cantidad_pedido === 0 || this.valor_pedido === 0 || this.valor_pedido === '' || this.cantidad_pedido === '') {
          this.notificacionToast('error', 'Falta ingresar la cantidad o valor del producto', 'top-center', 2000)
          return false
        }
        let myObj = this.productos_pedido.find(el => el.codigo === this.producto_codigo)
        myObj.cantidad = this.cantidad_pedido
        myObj.valor = this.valor_pedido
        // const found = this.productos_pedido.find(element => element.codigo === producto.codigo)
        this.modal_mod_item = false
        this.actualizarItemLocales()
        this.obtieneTotalesPedido()
      }
    },
    deleteItem (index, codigoProducto) {
      this.productos_pedido.forEach(function (pro, index, object) {
        if (pro.codigo === codigoProducto) {
          object.splice(index, 1)
        }
      })
      this.actualizarItemLocales()
      this.obtieneTotalesPedido()
      // var indice = this.productos_pedido.indexOf(index)
      // this.productos_pedido.splice(indice, 1)
    },
    actualizarItemLocales () {
      var guardado = localStorage.getItem('productos_pedido_local')
      if (guardado !== null) {
        if (JSON.parse(guardado).length > 0) {
          localStorage.setItem('productos_pedido_local', JSON.stringify(this.productos_pedido))
        }
      }
    },
    asignarItemsLocales () {
      var guardado = localStorage.getItem('productos_pedido_local')
      // console.log(JSON.parse(guardado))
      if (JSON.parse(guardado) && this.cliente.NIT !== '' && this.id_pedido === '') {
        this.productos_pedido = JSON.parse(guardado)
        this.obtieneTotalesPedido()
      }
    },
    addProductos (producto, cantidad = 0, valor = 0, index) {
      if (cantidad === 0 || valor === 0) {
        this.notificacionToast('error', 'Falta ingresar la cantidad o valor del producto', 'top-center', 2500)
        return false
      }
      const found = this.productos_pedido.find(element => element.codigo === producto.codigo)

      if (found !== undefined) {
        this.notificacionToast('info', producto.nombre + ' ya existe en el pedido', 'top-center', 2500)
        this.cantidad[index] = ''
        this.valor[index] = ''
        return false
      }

      var myObject = {
        grupo: producto.grupo,
        codigo: producto.codigo,
        nombre: producto.nombre,
        cantidad: cantidad,
        valor: valor,
        unidad: producto.unidad,
        peso: producto.peso
      }
      this.productos_pedido.push(myObject)
      localStorage.setItem('productos_pedido_local', JSON.stringify(this.productos_pedido))
      // var guardado = localStorage.getItem('productos_pedido_local')
      // console.log(JSON.parse(guardado))

      this.notificacionToast('success', 'Producto agregado al pedido', 'top-center', 2000)
      this.cantidad[index] = ''
      this.valor[index] = ''
      this.obtieneTotalesPedido()
    },
    notificacionToast (tipoNotif, msj, posicion, duracion) {
      this.$toast(msj, {
        position: posicion,
        type: tipoNotif,
        timeout: duracion,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        // draggable: true,
        // draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: 'button',
        icon: true,
        rtl: false
      })
    },
    formatPrice (value) {
      let val = (value / 1).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    listadoProductosLocal () {
      this.filterByValue(this.productos, this.producto)
    },
    filterByValue (arrayOfObject, term) {
      var ans = arrayOfObject.filter(function (v, i) {
        if (v.codigo.toLowerCase().indexOf(term.toLowerCase()) >= 0 || v.nombre.toLowerCase().indexOf(term.toLowerCase()) >= 0) {
          return true
        } else {
          return false
        }
      })
      return ans
    },
    listadoProductos (origenCarga) {
      this.producto = ''
      if (origenCarga !== 'input') {
        this.showLoading('Cargando productos ...')
      }
      var self = this
      self.productos.length = 0
      axios.get(this.url_api + '/api/productos/listado/', {
        params: {
          token: localStorage.getItem('token'),
          producto: this.producto,
          lista_precio: this.lista_precio
        }
      }).then((response) => {
        self.productos = response.data
      }).finally(function () {
        self.hideLoading()
      })
    },
    listadoPedidos () {
      var self = this
      self.showLoading('Cargando información ...')
      axios.get(this.url_api + '/api/pedidos/pedidos-x-despacho/', {
        params: {
          token: localStorage.getItem('token'),
          consecutivo: this.despacho
        }
      }).then((response) => {
        self.pedidos = response.data
        // console.log(response.data)
      }).finally(function () {
        self.hideLoading()
      })
    },
    validaCliente (value = '') {
      if (value.NOMBRE === undefined) {
        return 'Por favor seleccione el cliente'
      } else {
        return true
      }
    },
    cargarClientes (nombre = '') {
      var self = this
      if (nombre === '') {
        // nombre = '||XXXXX'
      }
      axios.get(this.url_api + '/api/clientes/listado/', {
        params: {
          token: localStorage.getItem('token'),
          nombre: nombre,
          sucursal: 'si'
        }
      }).then((response) => {
        self.clientes = response.data
      }).finally(function () {
        if (!self.id_pedido && self.visualiza_new_pedido === true) {
          self.$refs.ref_cliente.focus()
        }
        // stringOptions = self.clientes
        // console.log(stringOptions)
      })
    },
    obtenerCupoxNit () {
      if (!this.cliente) {
        return false
      }
      var self = this
      self.showLoading('Obteniendo información, por favor espere ...')
      axios.get(this.url_api + '/api/pedidos/obtener-cupo-nit/', {
        params: {
          token: localStorage.getItem('token'),
          nit: self.cliente.NIT,
          nombre_cliente: self.cliente.NOMBRE
        }
      }).then((response) => {
        self.cupo_disponible = response.data.deuda_total
        self.lista_precio = response.data.lista_precio
        // self.clientes = response.data
      }).finally(function () {
        self.asignarItemsLocales()
        self.hideLoading()
      })
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    notificacion (color, colorTexto, icono, mensaje, posicion, tiempo) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        position: posicion,
        timeout: tiempo
      })
    },
    registrarPedido () {
      if (!this.cliente) {
        this.notificacionToast('error', 'Falta seleccionar el cliente', 'top-center', 2500)
        return false
      }
      this.showLoading('Registrando el pedido por favor espere ...')
      var self = this
      axios.post(this.url_api + '/api/pedidos/registrar/', {
        nit: self.cliente.NIT,
        id_alterno: self.cliente.Id_Alterno,
        cliente: self.cliente.NOMBRE,
        id_despacho: self.despacho,
        observaciones: self.observaciones,
        productos: self.productos_pedido,
        valor_total: self.valor_total,
        total_kilos: self.total_kilos,
        cerrar_pedido: self.check_estado_pedido,
        token: localStorage.getItem('token'),
        modifica: self.modifica,
        id_pedido: self.id_pedido,
        bodega: self.bodega === true ? 'si' : 'no',
        certificado: self.certificado === true ? 'si' : 'no',
        observaciones_certificado: self.observaciones_certificado
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-center', 3000)
          self.modal_confirm_pedido = false
          self.productos_pedido.length = 0
          localStorage.removeItem('productos_pedido_local')
          self.observaciones = ''
          self.observaciones_certificado = ''
          self.certificado = false
          self.cupo_disponible = ''
          self.lista_precio = ''
          self.obtenerInfoDespacho()
          if (self.$route.params.id_pedido) {
            self.$router.push({ name: '/pedidos/historico' })
            self.hideLoading()
          }
          self.hideLoading()
          self.simulaAtras()
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-center', 3000)
          self.hideLoading()
        }
        // console.log(res)
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('error', err, 'top-center', 3000)
        self.hideLoading()
      })
    },
    eliminarPedido () {
      // this.showLoading('Registrando información ...')
      var self = this
      axios.put(this.url_api + '/api/pedidos/eliminar-pedido/', {
        token: localStorage.getItem('token'),
        id_pedido: self.id_pedido
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-center', 2500)
          self.productos_pedido.length = 0
          self.confirm_eliminar = false
          self.obtenerInfoDespacho()
          self.simulaAtras()
        }
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('error', err, 'top-center', 3000)
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    async filterFnClientes (val, update, abort) {
      // console.log(this.clientes)
      // call abort() at any time if you can't retrieve data somehow
      if (this.clientes.length === 0) {
        // console.log('1')
        // if there is no data, fetch and cache it so it can be filtered
        this.cargarClientes(val)
      }
      if (val.length < 3) {
        // console.log('2')
        abort()
        return
      }
      if (val === '') {
        // console.log('3')
        update(() => {
          // this.options_ciudades = this.ciudades.map(ciudad => ciudad.nombre)
          this.cargarClientes(val)
        })
      } else if (this.clientes.length === 0) {
        // console.log('4')
        update(() => {
          this.clientes = []
        })
      } else {
        update(() => {
          // console.log('5')
          this.cargarClientes(val)
        })
      }
    },
    filterFn (val, update) {
      if (val === '') {
        update(() => {
          this.clientes_aux = this.clientes
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.clientes_aux = this.clientes.filter(v => v.NOMBRE.toLowerCase().indexOf(this.quitarAcentos(needle)) > -1)
      })
    },
    registrarDespacho () {
      // this.showLoading('Registrando información ...')
      var self = this
      axios.post(this.url_api + '/api/despachos/registrar/', {
        placa: self.placa,
        conductor: self.conductor,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
        } else {
          // self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'center')
        }
      }).catch(function (err) {
        console.log(err)
      })
    },
    quitarAcentos (cadena) {
      const acentos = { 'á': 'a', 'é': 'e', 'í': 'i', 'ó': 'o', 'ú': 'u', 'Á': 'A', 'É': 'E', 'Í': 'I', 'Ó': 'O', 'Ú': 'U' }
      return cadena.split('').map(letra => acentos[letra] || letra).join('').toString()
    },
    enviarDatosConductor (placa, nomConductor) {
      this.placa = placa
      this.conductor = nomConductor
      // limpio el arreglo para que se oculto el listado de conductores
      this.placas.length = 0
      this.dato_obtenido = true
      this.deshabilitado = true
    },
    limpiarInfoConductor () {
      this.placa = ''
      this.conductor = ''
      this.dato_obtenido = false
      this.deshabilitado = false
    },
    submitLogin () {
    },
    onReset () {
    }
  },
  mounted () {
    this.obtenerUsuario()
    // this.asignarItemsLocales()
    this.obtenerInfoPedidoxId()
    this.obtenerInfoDespacho()
    this.cargarClientes()
    if (this.origen === 'historico') {
      this.listadoPedidos()
    }
    this.accionVisualizacion()
  },
  watch: {
  }
}
</script>
