<template>
  <div class="q-pa-none q-gutter-sm">
        <div class="q-pa-none">
          <div class="q-gutter-y-md">
            <q-card >
              <q-tabs
                v-model="tab"
                dense
                class="text-grey"
                active-color="primary"
                indicator-color="primary"
                align="justify"
                narrow-indicator
              >
                <q-tab name="usuarios" label="Administración de Usuarios"/>
                <q-tab name="alarms" label="Administración de Roles y Permisos"/>
              </q-tabs>

              <q-separator />

              <q-tab-panels v-model="tab" animated>
                <q-tab-panel name="usuarios">
                  <usuarios-listado/>
                </q-tab-panel>

                <q-tab-panel name="alarms">
                  <q-btn-toggle
                    v-model="tipo_ingreso"
                    class="my-custom-toggle"
                    no-caps
                    rounded
                    unelevated
                    toggle-color="primary"
                    color="white"
                    text-color="primary"
                    :options="[
                      {label: 'Ingresar Rol', value: 'Rol'},
                      {label: 'Ingresar Permiso', value: 'Permiso'}
                    ]"
                  />
                  <br/><br/>
                  <q-form
                    @submit.prevent="onSubmit"
                    @reset="onReset"
                    class="q-gutter-md"
                    ref="form_rol_permiso"
                  >
                    <q-input  bottom-slots v-model="text" :label="tipo_ingreso"  :dense="dense" filled :rules="[validaName]">
                      <template v-slot:append>
                        <q-btn round dense flat :icon="icono"  @click="onSubmit" />
                      </template>
                    </q-input>
                  </q-form>
                  <div class="row ">
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <q-table
                      :title="'Lista de ' + tipo_ingreso"
                      :data="datos"
                      :columns="columns"
                      row-key="placa"
                      :loading="loading"
                      :filter="filter"
                      bordered
                      rows-per-page-label = "Registros por página"
                      :pagination.sync="pagination"
                    >

                      <template v-slot:top-right>
                        <q-input  filled  dense debounce="300" v-model="filter" :placeholder="'Busqueda de ' + tipo_ingreso">
                          <template v-slot:append>
                            <q-icon name="search" />
                          </template>
                        </q-input>
                      </template>

                      <template v-slot:body="props">
                        <q-tr :props="props">

                          <q-td key="nombre" :props="props" >
                            {{ props.row.nombre }}
                          </q-td>

                          <q-td key="acciones" :props="props">
                              <q-btn  round color="primary" icon="edit" size="sm" @click="obtenerDatos(props.row)"/>
                              <q-chip  v-if="tipo_ingreso =='Rol'" clickable @click="obtenerDatosAsignar(props.row)" color="primary" text-color="white" icon="security">
                                Asignar Permisos
                              </q-chip>
                          </q-td>

                        </q-tr>
                      </template>
                    </q-table>
                  </div>
                  </div>

                </q-tab-panel>
              </q-tab-panels>
            </q-card>
          </div>
        </div>
    <q-dialog v-model="modal_reg_usu" persistent>
      <q-card  style="width: 700px; max-width: 80vw;">
        <q-card-section class="q-pa-none">
          <usuarios-registro/>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="modal_asig_per" >
      <q-card  style="width: 800px; max-width: 80vw;background-color: #ffffff"  flat >
        <q-card-section>
          <div class="q-pa-md">
            <div class="q-px-sm q-mt-sm">
              Asignar permisos al rol : <strong>{{ text }}</strong>
            </div>
            <div class="q-gutter-sm">
              <q-list>
                <q-item tag="label" v-ripple v-for="permiso in permisos" :key="permiso.id_">
                  <q-item-section avatar>
                    <q-checkbox v-model="permiso_sel" :val="permiso.nombre" color="teal" :checked="permiso.asignado" />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>{{permiso.nombre}}</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </div>
            <div class="q-px-sm q-mt-sm">
              <q-btn color="primary" icon="add" @click="asignarPermisos" label="Asignar Permisos" />
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-page-sticky position="bottom-right" :offset="[18, 18]" v-show="tab=='usuarios'">
      <q-btn fab icon="add" color="primary" @click="modal_reg_usu = true" />
    </q-page-sticky>
  </div>
</template>

<script>
import axios from 'axios'
import { mapActions } from 'vuex'
export default {
  data () {
    return {
      pagination: {
        rowsPerPage: 15 // current rows per page being displayed
      },
      id_reg: '',
      permisos: [],
      modal_asig_per: false,
      permiso_sel: [],
      loading: false,
      filter: '',
      icono: 'add',
      datos: [],
      columns: [
        {
          name: 'nombre',
          required: true,
          label: 'Nombre',
          align: 'center',
          field: row => row.nombre,
          format: val => `${val}`,
          sortable: true,
          style: 'width: 100px'
        },
        { name: 'acciones', align: 'center', label: 'Acciones', field: 'acciones', sortable: false, style: 'width: 150px' }
      ],
      tipo_ingreso: 'Rol',
      text: '',
      dense: true,
      tab: 'usuarios',
      icon: false,
      bar: false,
      bar2: false,
      modal_reg_usu: false,
      configura_modulo: {
        nombre: '',
        resumen: '',
        confirmacion: '¿Está seguro de registrar el',
        confirmacion_exito: 'Información registrada exitosamente',
        error: 'Error al registrar la información',
        loader: 'Guardando información<br/>Por favor espere...',
        btn_accion: 'Guardar Información'
      }
    }
  },
  computed: {
    actualizaInfo () {
      return this.$store.state.store.movimiento_registro
    },
    url_api () {
      return this.$store.state.store.url_api
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    }
  },
  methods: {
    onSubmit () {
      this.confirm()
    },
    confirm () {
      this.$q.dialog({
        title: 'Confirmar registro ' + this.tipo_ingreso,
        message: this.configura_modulo.confirmacion,
        cancel: true,
        persistent: true
      }).onOk(() => {
        if (this.id_reg) {
          this.modificarRegistro()
        } else {
          this.registrarInformacion()
        }
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    onReset () {
      this.text = ''
      // this.tipo_ingreso = 'Rol'
      this.icono = 'add'
      this.id_reg = ''
    },
    obtenerTitulosModificar () {
      // CAMBIO LOS TITULOS POR QUE SIGNIFICA QUE SE VA A MODIFICAR EL REGISTRO
      this.configura_modulo.confirmacion = '¿Está seguro de modificar el registro?'
      this.configura_modulo.confirmacion_exito = 'Registro modificado exitosamente'
      this.configura_modulo.error = 'Error al modificar el registro'
      this.configura_modulo.loader = 'Actualizando información<br/>Por favor espere...'
      this.configura_modulo.btn_accion = 'Modificar Registro'
    },
    registrarInformacion () {
      this.showLoading()
      var self = this
      axios.post(this.url_api + '/api/rol/registrar/', {
        nombre: this.text,
        tipo_ingreso: this.tipo_ingreso
      }).then(function (res) {
        if (res.data.mensaje === 'doble_ingreso') {
          self.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: self.tipo_ingreso + ' existente'
          })
          self.hideLoading()
          return false
        }
        if (res.data.guardo === true) {
          self.hideLoading()
          // self.$store.state.store.vehiculo_registrado++
          // self.vehiculoIngresado()
          self.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'cloud_done',
            position: 'center',
            timeout: 2500,
            message: self.configura_modulo.confirmacion_exito
          })
          self.$refs.form_rol_permiso.reset()
          self.cargaDatos()
        } else {
          self.hideLoading()
          self.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: self.configura_modulo.error
          })
        }
      }).catch(function (err) {
        self.hideLoading()
        self.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'Error : ' + err
        })
      })
    },
    modificarRegistro () {
      this.showLoading()
      var self = this
      axios.put(this.url_api + '/api/rol/editar/' + this.id_reg, {
        nombre: this.text,
        tipo_ingreso: this.tipo_ingreso
      }).then(function (res) {
        if (res.data.mensaje === 'doble_ingreso') {
          self.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: self.tipo_ingreso + ' existente'
          })
          self.hideLoading()
          return false
        }
        if (res.data.guardo === true) {
          self.hideLoading()
          self.cargaDatos()

          self.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'cloud_done',
            position: 'center',
            timeout: 1000,
            message: self.configura_modulo.confirmacion_exito
          })
          self.$refs.form_rol_permiso.reset()
        } else {
          self.hideLoading()
          self.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: self.configura_modulo.error
          })
        }
      }).catch(function (err) {
        self.hideLoading()
        self.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'Error : ' + err
        })
      })
    },
    showLoading () {
      this.$q.loading.show({
        message: this.configura_modulo.loader
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    validaName (val = 0) {
      if (val.length <= 0) {
        return 'Falta información por digitar'
      } else {
        return true
      }
    },
    cargaDatos () {
      // this.datos = []
      axios.get(this.url_api + '/api/rol/listado/' + this.tipo_ingreso, {
        params: {
          tipo_ingreso: this.tipo_ingreso
        } }).then((response) => {
        this.datos = response.data
      })
    },
    listarPermisos () {
      this.permiso_sel = []
      axios.get(this.url_api + '/api/rol/listar-permisos/', {
        params: {
          id_reg: this.id_reg
        } }).then((response) => {
        this.permisos = response.data
        this.permisosRoles(response.data)
      })
    },
    permisosRoles (datos) {
      for (var i = 0; i < datos.length; i++) {
        if (datos[i].asignado === true) {
          this.permiso_sel.push(datos[i].nombre)
        }
      }
    },
    obtenerDatos (datos) {
      this.id_reg = datos.id_
      this.text = datos.nombre
      this.icono = 'create'
      this.obtenerTitulosModificar()
    },
    obtenerDatosAsignar (datos) {
      this.modal_asig_per = true
      this.id_reg = datos.id_
      this.text = datos.nombre
      this.listarPermisos()
    },
    asignarPermisos () {
      // this.showLoading()
      var self = this
      axios.post(this.url_api + '/api/rol/asignar-permisos/', {
        permisos: this.permiso_sel,
        id_reg: this.id_reg
      }).then(function (res) {
        if (res.data.mensaje === 'permisos_asignados') {
          self.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'cloud_done',
            position: 'center',
            timeout: 1000,
            message: 'Permisos asignados exitosamente'
          })
          self.modal_asig_per = false
          self.id_reg = ''
          self.permiso_sel = []
        } else if (res.data.mensaje === 'falta_rol') {
          self.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: 'Falta seleccionar el rol'
          })
        } else {
          self.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: 'Error al asingar los permisos'
          })
        }
      }).catch(function (err) {
        self.hideLoading()
        self.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'Error : ' + err
        })
      })
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    ...mapActions('store', ['movimientoRegistro', 'obtenerPermisos'])
  },
  mounted () {
    this.cargaDatos()
    this.obtenerPermisos()
  },
  watch: {
    tipo_ingreso () {
      this.filter = ''
      this.text = ''
      this.icono = 'add'
      this.cargaDatos()
    }
  }
}
</script>
<style lang="sass">
.my-sticky-header-table
  /* max height is important */
  .q-table__middle
    max-height: 400px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #ffffff

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
