<template>
  <div class="q-pa-none q-gutter-sm">
    <div class="row" v-show="false">
      <div class="col-12 text-center text-bold text-primary bg-white  q-pa-xs" style="font-size:20px">ASIGNACIÓN DE RESPONSABLES DE PROCESOS</div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 q-mr-lg">
        <div class="row">
          <div class="col-12">
            <q-card  flat bordered >
              <q-item>
                <q-item-section>
                  <q-item-label class="text-primary text-bold" style="font-size:16px"><q-icon name="fas fa-plus" color="primary" size="15px" class="q-mr-xs"/>Asignar responsable de proceso</q-item-label>
                </q-item-section>
              </q-item>
              <q-separator />
              <q-card-section>
                <q-input rounded outlined dense class="full-width" bg-color="white" v-model="search" placeholder="Buscar empleados" @input="obtenerEmpleados(search)" debounce="400">
                        <template v-slot:prepend>
                          <q-icon name="search" />
                        </template>
                </q-input><br>
                <q-scroll-area  :style="'height:' + altura_card_personal" class="rounded bg-grey-1">
                  <q-card-section  v-for="(emp, index) in empleados" :key="index" class="cursor-pointer" @click="showDialog(emp)">
                    <q-item-label class="text-bold text-grey-8">
                      {{emp.NOMBRE_FULL}}
                    </q-item-label>
                    <q-item-label caption>
                      {{emp.CARGO}}
                    </q-item-label>
                  </q-card-section>
                </q-scroll-area>
              </q-card-section>
            </q-card>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 q-mr-lg">
        <div class="row">
          <div class="col-12">
            <q-card class="my-card" flat bordered :style="activa_asig_responsable == true ? 'border:2px dashed #F57C00;border-style:dashed;' : ''">
              <q-item>
                <q-item-section>
                  <q-item-label class="text-primary text-bold" style="font-size:16px"><q-icon name="fas fa-users" color="primary" size="23px" class="q-mr-md"/>Responsables de procesos</q-item-label>
                </q-item-section>
              </q-item>

              <q-separator />

              <q-card-section>
                <q-input rounded outlined dense class="full-width" bg-color="white" v-model="search_empleado" placeholder="Buscar responsables de procesos" @input="obtenerResponsables(search_empleado)" debounce="400">
                        <template v-slot:prepend>
                          <q-icon name="search" />
                        </template>
                </q-input><br v-show="activa_asig_responsable == false">
                <div class="col q-pa-md text-orange-8 text-bold text-center" v-show="activa_asig_responsable == true">Seleccione un responsable para el proceso <b style="font-size:16px">{{label_area}}</b></div>
                <q-scroll-area style="height:400px" class="rounded bg-light-green-1">
                  <q-card-section v-for="(responsable, index) in responsables" :key="index" class="cursor-pointer">
                    <q-item-label class="text-bold text-primary" @click="enviarInfoResponsable(responsable)">
                      <q-btn color="primary" round flat icon="more_vert" dense>
                          <q-menu cover auto-close>
                            <q-list>
                              <q-item clickable @click="showDialogQuitarResponsable(responsable)">
                                <q-item-section>Quitar responsable</q-item-section>
                              </q-item>
                            </q-list>
                          </q-menu>
                        </q-btn>
                      {{responsable.nombre}}
                    </q-item-label>
                  </q-card-section>
                </q-scroll-area>
              </q-card-section>
            </q-card>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 q-mr-xs">
        <div class="row">
          <div class="col-12">
            <q-card class="my-card" flat bordered>
              <q-item>
                <q-item-section>
                  <q-item-label class="text-primary text-bold" style="font-size:16px"><q-icon name="fas fa-tags" color="primary" size="23px" class="q-mr-md"/>Áreas / Procesos</q-item-label>
                </q-item-section>

                <q-item-section side top>
                  <q-item-label caption>
                    <q-btn size="11px" flat round color="primary" icon="fas fa-plus-square" @click="openModalArea(null, 'registrar')">
                      <q-tooltip class="bg-primary">Añadir área</q-tooltip>
                    </q-btn>
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-separator />

              <q-card-section>
                <q-input rounded outlined dense class="full-width" bg-color="white" v-model="search_areas" placeholder="Buscar áreas" @input="obtenerAreas(search_areas)" debounce="400">
                        <template v-slot:prepend>
                          <q-icon name="search" />
                        </template>
                </q-input><br>
                <q-scroll-area style="height:400px" class="rounded bg-light-blue-1">
                  <q-card-section v-for="(area, index) in areas" :key="index" class="cursor-pointer">
                    <q-item-label class="text-blue-9">
                      <q-btn color="blue-7" round flat icon="more_vert" dense>
                          <q-menu cover auto-close>
                            <q-list>
                              <q-item clickable @click="openModalArea(area, 'editar')">
                                <q-item-section>Editar</q-item-section>
                              </q-item>
                              <q-item clickable @click="showDialogQuitarArea(area)">
                                <q-item-section>Eliminar</q-item-section>
                              </q-item>
                              <q-item clickable @click="openModalCausal(area)">
                                <q-item-section>Crear causal</q-item-section>
                              </q-item>
                              <q-item clickable @click="openModalListadoCausas(area)">
                                <q-item-section>Ver causales asociadas</q-item-section>
                              </q-item>
                            </q-list>
                          </q-menu>
                        </q-btn>
                        <b>{{area.codigo}}</b> {{area.nombre}}
                    </q-item-label>
                    <q-item-label>
                      <div class="q-pa-xs q-gutter-xs">
                        <div >
                          <q-chip size="sm" color="blue-2" v-for="(causal, index) in area.causales" :key="index" @remove="quitarCausal(causal)">
                            {{causal.nombre}}
                          </q-chip>
                        </div>
                        </div>
                    </q-item-label>
                    <q-item-label >
                      <div class="col q-pa-sm text-bold text-blue-8" style="font-size:12px">Responsable(s) asignados <q-icon color="blue-9" size="17px" name="fas fa-arrow-circle-right"/></div>
                      <div class="col text-right" v-for="(resp, index) in area.responsables" :key="index">
                        <q-chip size="9px" clickable color="blue-9" text-color="white">
                          {{resp.nom_responsable}}
                        </q-chip>
                        <q-chip class="text-bold" size="8px" clickable color="red-6" text-color="white" @click="quitarResArea(resp)">
                          X
                        </q-chip>
                      </div>
                    </q-item-label>
                    <q-item-label class="text-right">
                      <q-btn flat size="10px" color="orange-9 text-bold" @click="enviarInfo(area)">
                        + Agregar responsable
                      </q-btn>
                    </q-item-label>
                    <q-separator inset spaced/>
                  </q-card-section>
                </q-scroll-area>
              </q-card-section>
            </q-card>
          </div>
        </div>
      </div>
    </div>

    <q-dialog v-model="modal_area" position="top">
      <q-card style="width: 400px">

        <q-card-section>
          <div>
            <div style="font-size:20px" class="text-weight-bold q-pa-sm text-center text-primary">
              Registrar área
            </div>
            <div class="text-weight-bold q-pa-sm">
              <q-input style="width:120px" outlined v-model="codigo" label="Código" stack-label dense />
            </div>
            <div class="text-weight-bold q-pa-sm">
              <q-input outlined v-model="area" label="Nombre de area" stack-label dense />
            </div>
            <div class="text-weight-bold q-pa-sm">
              <q-btn color="primary" class="full-width" :label="id_area != '' ? 'Actualizar' : 'Registrar'" @click="id_area != '' ? actualizaArea() : registroArea()"/>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="modal_causal" position="top">
      <q-card style="width: 400px">
        <q-card-section>
          <div>
            <div style="font-size:20px" class="text-weight-bold q-pa-sm text-center text-primary">
              Crear causal
            </div>
            <div class="text-weight-bold q-pa-sm">
              <q-input autofocus  ref="causal_codigo" style="width:120px" outlined v-model="causal.codigo" label="Código" stack-label dense />
            </div>
            <div class="text-weight-bold q-pa-sm">
              <q-input outlined v-model="causal.nombre" label="Nombre de causal" stack-label dense />
            </div>
            <div class="text-weight-bold q-pa-sm">
              <q-btn color="primary" class="full-width" :label="causal.id_causal != '' ? 'Actualizar' : 'Registrar'" @click="causal.id_causal != '' ? actualizaArea() : registroCausal()"/>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="modal_listado_causas" position="top">
      <q-card style="width: 400px">
        <q-card-section>
          <div class="q-pa-xs" style="max-width: 400px">
            <q-list>
              <q-item-label header class="text-bold text-primary text-center" style="font-size:10">{{label_area}}</q-item-label>
              <q-scroll-area style="height:350px">
                <div v-for="(causal, index) in causales" :key="index">
                <q-item >
                  <q-item-section>
                    <q-item-label class="text-bold text-primary">{{causal.codigo}}</q-item-label>
                    <q-item-label caption lines="2">{{causal.nombre}}</q-item-label>
                    <q-item-label class="q-col-gutter-xs">
                        <q-input style="width:120px;display :none;font-size:11px" :ref="'input_causal_cod_' + index" outlined  v-model="input_causal_cod[index]" dense stack-label label="Código"/>
                        <q-input style="width:250px;display :none;font-size:11px" :ref="'input_causal_' + index" outlined  v-model="input_causal[index]" dense stack-label label="Nombre"/>
                    </q-item-label>
                  </q-item-section>

                  <q-item-section side top>
                    <q-item-label caption>
                      <q-btn flat icon="edit" style="display :block" :ref="'btn_edit_causal_' + index" round size="12px" color="blue-7" @click="editCausal(index, causal, true)"/>
                      <q-btn flat label="Grabar" style="display :none" :ref="'btn_save_causal_' + index" size="12px" color="blue-9" @click="saveCausal(index, causal, true)"/>
                      <q-btn flat label="Cancelar" style="display :none" :ref="'btn_cancel_causal_' + index"  size="10px" color="red-9" @click="cancelCausal(index)"/>
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator spaced inset />
              </div>
              </q-scroll-area>
            </q-list>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

  </div>
</template>

<script>
import axios from 'axios'
import { mapActions } from 'vuex'
export default {
  data () {
    return {
      activa_asig_responsable: false,
      loading_btn: [],
      input_causal: [],
      input_causal_cod: [],
      edit_causal: false,
      label_area: '',
      label_responsable: '',
      modal_listado_causas: false,
      causal: { id_causal: '', codigo: '', nombre: '', cod_area: '' },
      id_area: '',
      id_responsable: '',
      codigo: '',
      area: '',
      modal_causal: false,
      modal_area: false,
      search: '',
      search_empleado: '',
      search_areas: '',
      empleados: [],
      areas: [],
      causales: [],
      responsables: [],
      responsable: [
        {
          cedula: '', nombre: ''
        }
      ]
    }
  },
  computed: {
    altura_card_personal () {
      if (this.empleados.length >= 1 && this.empleados.length < 2) {
        return '60px'
      } else if (this.empleados.length >= 2 && this.empleados.length <= 5) {
        return '200px'
      } else {
        return '400px'
      }
    },
    url_api () {
      return this.$store.state.store.url_api
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    }
  },
  methods: {
    enviarInfo (area) {
      this.activa_asig_responsable = true
      this.label_area = area.nombre
      this.id_area = area.id_registro
    },
    enviarInfoResponsable (responsable) {
      if (this.activa_asig_responsable === true) {
        this.id_responsable = responsable.id_registro
        this.label_responsable = responsable.nombre
        this.showDialogAsignarReponsableArea()
      }
    },
    showDialogAsignarReponsableArea () {
      this.$q.dialog({
        title: '<div class="text-primary">Asignación de responsable</div>',
        message: '<div>¿Está seguro de asignar a <b>' + this.label_responsable + '</b> como responsable de <b>' + this.label_area + '</b>?</div>',
        html: true,
        cancel: true,
        position: 'top'
      }).onOk(() => {
        this.registroResponsableArea()
      }).onCancel(() => {
        // console.log('Cancel')
      })
    },
    simulateProgress (index) {
      this.loading_btn.valor = true
      // console.log(this.loading_btn[index].valor)
    },
    editCausal (index, data, habilita) {
      this.edit_causal = true
      // console.log(this.$refs['input_causal_' + index][0])
      // console.log(this.input_causal)
      this.$refs['input_causal_' + index][0].$el.style.display = 'block'
      this.$refs['input_causal_cod_' + index][0].$el.style.display = 'block'
      this.$refs['btn_edit_causal_' + index][0].$el.style.display = 'none'
      this.$refs['btn_save_causal_' + index][0].$el.style.display = 'block'
      this.$refs['btn_cancel_causal_' + index][0].$el.style.display = 'block'
      // this.input_causal[index] = data.nombre
      // this.input_causal_cod[index] = data.codigo
      // this.$refs['btn_edit_causal_' + index][0].style.display = 'none'
      // console.log(this.$refs['btn_edit_causal_' + index][0])
      // this.$refs['item_causal_' + index][0].$el.style.display = 'block'
      // console.log(this.$refs['input_causal_' + index][0].$el)
      // this.input_causal[index].visible = habilita
      // console.log(this.input_causal[index])
      // this.input_causal[index].valor = data.nombre
      // console.log(this.input_causal[index].valor)
      // console.log(this.input_causal[index])
    },
    saveCausal (index, data, habilita) {
      if (this.input_causal_cod[index] === undefined || this.input_causal[index] === undefined || this.input_causal_cod[index] === '' || this.input_causal[index] === '') {
        this.notificacion('red-5', 'white', 'warning', 'Falta información por digitar', 'bottom', 3000)
        return false
      }
      this.edit_causal = false
      this.$refs['input_causal_' + index][0].$el.style.display = 'none'
      this.$refs['input_causal_cod_' + index][0].$el.style.display = 'none'
      this.$refs['btn_save_causal_' + index][0].$el.style.display = 'none'
      this.$refs['btn_edit_causal_' + index][0].$el.style.display = 'block'
      this.$refs['btn_cancel_causal_' + index][0].$el.style.display = 'none'
      // console.log(this.input_causal_cod[index] + '-->' + this.input_causal[index])
      // return false
      this.modificaCausal(index, data)
      // this.$refs['btn_save_causal_' + index][0].style.display = 'block'
      // console.log(this.$refs['item_causal_' + index])
      // this.$refs['item_causal_' + index].$el.style.display = 'none'
    },
    cancelCausal (index) {
      this.$refs['input_causal_' + index][0].$el.style.display = 'none'
      this.$refs['input_causal_cod_' + index][0].$el.style.display = 'none'
      this.$refs['btn_save_causal_' + index][0].$el.style.display = 'none'
      this.$refs['btn_edit_causal_' + index][0].$el.style.display = 'block'
      this.$refs['btn_cancel_causal_' + index][0].$el.style.display = 'none'
      this.input_causal[index] = ''
      this.input_causal_cod[index] = ''
    },
    openModalCausal (area) {
      // this.$refs.causal_codigo.$el.focus()
      this.causal.codigo = ''
      this.modal_causal = true
      this.causal.codigo = area.codigo + '-'
      this.causal.cod_area = area.id_registro
    },
    openModalListadoCausas (area) {
      this.causales.length = 0
      this.modal_listado_causas = true
      this.label_area = area.nombre
      // this.id_area = area.id_registro
      this.obtenerCausales(area.id_registro)
    },
    openModalArea (area, accion) {
      this.modal_area = true
      if (accion === 'registrar') {
        this.id_area = ''
        this.codigo = ''
        this.area = ''
      } else {
        this.id_area = area.id_registro
        this.codigo = area.codigo
        this.area = area.nombre
      }
    },
    showDialog (emp) {
      this.responsable.nombre = emp.NOMBRE_FULL
      this.responsable.cedula = emp.CEDULA
      this.$q.dialog({
        title: '<div class="text-primary">Asignación de responsable</div>',
        message: '<div>¿Está seguro de asignar a <b>' + this.responsable.nombre + '</b> como responsable de proceso?</div>',
        html: true,
        cancel: true,
        position: 'top'
      }).onOk(() => {
        this.registroResponsable()
      }).onCancel(() => {
        // console.log('Cancel')
      })
    },
    showDialogQuitarResponsable (fila) {
      this.$q.dialog({
        title: '<div class="text-primary">Quitar responsable</div>',
        message: '<div>¿Está seguro de quitar a <b>' + fila.nombre + '</b> como responsable de proceso?</div>',
        html: true,
        cancel: true,
        position: 'top'
      }).onOk(() => {
        this.quitarResponsable(fila.id_registro)
      }).onCancel(() => {
        // console.log('Cancel')
      })
    },
    showDialogQuitarArea (fila) {
      this.$q.dialog({
        title: '<div class="text-primary">Eliminar area</div>',
        message: '<div>¿Está seguro de eliminar <b>' + fila.nombre + '</b>?</div>',
        html: true,
        cancel: true,
        position: 'top'
      }).onOk(() => {
        this.quitarArea(fila.id_registro)
      }).onCancel(() => {
        // console.log('Cancel')
      })
    },
    registroArea () {
      this.showLoading('Registrando area ...')
      var self = this
      axios.post(self.url_api + '/api/area/registro/', {
        codigo: self.codigo,
        nombre: self.area,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacion('positive', 'white', 'check', res.data.mensaje, 'top', 2500)
          self.hideLoading()
          self.modal_area = false
          self.codigo = ''
          self.area = ''
          self.obtenerAreas('')
        } else {
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'bottom', 2500)
          self.hideLoading()
        }
      }).catch(function (err) {
        self.notificacion('red-5', 'white', 'warning', err, 'bottom', 2500)
        self.hideLoading()
      })
    },
    registroCausal () {
      this.showLoading('Registrando causal ...')
      var self = this
      axios.post(self.url_api + '/api/causal/registro/', {
        codigo: self.causal.codigo,
        nombre: self.causal.nombre,
        id_area: self.causal.cod_area,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacion('positive', 'white', 'check', res.data.mensaje, 'top', 2500)
          self.hideLoading()
          self.modal_causal = false
          self.causal.codigo = ''
          self.causal.id_causal = ''
          self.causal.nombre = ''
          self.causal.cod_area = ''
          // self.obtenerAreas('')
        } else {
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'bottom', 2500)
          self.hideLoading()
        }
      }).catch(function (err) {
        self.notificacion('red-5', 'white', 'warning', err, 'bottom', 2500)
        self.hideLoading()
      })
    },
    modificaCausal (index, causal) {
      var self = this
      this.showLoading('Actualizando causal ...')
      axios.put(self.url_api + '/api/causal/actualiza/', {
        codigo: self.input_causal_cod[index],
        nombre: self.input_causal[index],
        id_registro: causal.id_registro,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacion('positive', 'white', 'check', res.data.mensaje, 'top', 2500)
          self.hideLoading()
          self.obtenerCausales(causal.id_area)
          self.obtenerAreas('')
          self.input_causal_cod[index] = ''
          self.input_causal[index] = ''
        } else {
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'bottom', 2500)
          self.hideLoading()
        }
      }).catch(function (err) {
        self.notificacion('red-5', 'white', 'warning', err, 'bottom', 2500)
        self.hideLoading()
      })
    },
    actualizaArea () {
      this.showLoading('Actualizando area ...')
      var self = this
      axios.put(self.url_api + '/api/area/actualizar/', {
        id_registro: self.id_area,
        codigo: self.codigo,
        nombre: self.area,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacion('positive', 'white', 'check', res.data.mensaje, 'top', 2500)
          self.hideLoading()
          self.modal_area = false
          self.id_area = ''
          self.codigo = ''
          self.area = ''
          self.obtenerAreas('')
        } else {
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'bottom', 2500)
          self.hideLoading()
        }
      }).catch(function (err) {
        self.notificacion('red-5', 'white', 'warning', err, 'bottom', 2500)
        self.hideLoading()
      })
    },
    registroResponsable () {
      this.showLoading('Registrando responsable ...')
      var self = this
      axios.post(self.url_api + '/api/responsable/registro/', {
        nombre: self.responsable.nombre,
        cedula: self.responsable.cedula,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacion('positive', 'white', 'check', res.data.mensaje, 'top', 2500)
          self.hideLoading()
          self.obtenerResponsables('')
        } else {
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'bottom', 2500)
          self.hideLoading()
        }
      }).catch(function (err) {
        self.notificacion('red-5', 'white', 'warning', err, 'bottom', 2500)
        self.hideLoading()
      })
    },
    registroResponsableArea () {
      this.showLoading('Registrando responsable de area ...')
      var self = this
      axios.post(self.url_api + '/api/responsable-area/registro/', {
        id_area: self.id_area,
        id_responsable: self.id_responsable,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacion('positive', 'white', 'check', res.data.mensaje, 'top', 2500)
          self.id_area = ''
          self.id_responsable = ''
          self.label_area = ''
          self.label_responsable = ''
          self.activa_asig_responsable = false
          self.obtenerAreas()
          self.hideLoading()
        } else {
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'bottom', 2500)
          self.hideLoading()
        }
      }).catch(function (err) {
        self.notificacion('red-5', 'white', 'warning', err, 'bottom', 2500)
        self.hideLoading()
      })
    },
    quitarArea (idRegistro) {
      this.showLoading('Eliminando area ...')
      var self = this
      axios.put(self.url_api + '/api/areas/inactivar/', {
        id_registro: idRegistro,
        token: localStorage.getItem('token')
      }).then(function (res) {
        console.log(res)
        if (res.data.estado === 'ok') {
          self.notificacion('positive', 'white', 'check', res.data.mensaje, 'top', 2500)
          self.hideLoading()
          self.obtenerAreas('')
        } else {
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'bottom', 2500)
          self.hideLoading()
        }
      }).catch(function (err) {
        self.notificacion('red-5', 'white', 'warning', err, 'bottom', 2500)
        self.hideLoading()
      })
    },
    quitarResArea (data) {
      this.showLoading('Quitando responsable ...')
      var self = this
      axios.put(self.url_api + '/api/responsable-area/eliminar/', {
        id_registro: data.id_resp_area,
        token: localStorage.getItem('token')
      }).then(function (res) {
        console.log(res)
        if (res.data.estado === 'ok') {
          self.notificacion('positive', 'white', 'check', res.data.mensaje, 'top', 2500)
          self.hideLoading()
          self.obtenerAreas('')
        } else {
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'bottom', 2500)
          self.hideLoading()
        }
      }).catch(function (err) {
        self.notificacion('red-5', 'white', 'warning', err, 'bottom', 2500)
        self.hideLoading()
      })
    },
    quitarResponsable (idRegistro) {
      this.showLoading('Quitando responsable ...')
      var self = this
      axios.put(self.url_api + '/api/responsable/inactivar/', {
        id_registro: idRegistro,
        token: localStorage.getItem('token')
      }).then(function (res) {
        console.log(res)
        if (res.data.estado === 'ok') {
          self.notificacion('positive', 'white', 'check', res.data.mensaje, 'top', 2500)
          self.hideLoading()
          self.obtenerResponsables('')
        } else {
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'bottom', 2500)
          self.hideLoading()
        }
      }).catch(function (err) {
        self.notificacion('red-5', 'white', 'warning', err, 'bottom', 2500)
        self.hideLoading()
      })
    },
    notificacion (color, colorTexto, icono, mensaje, posicion, tiempo) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        timeout: tiempo,
        position: posicion
      })
    },
    obtenerResponsables (filtro = '') {
      var self = this
      // self.showLoading('Obteniendo información, por favor espere ...')
      axios.get(self.url_api + '/api/responsable/listado/', {
        params: {
          token: localStorage.getItem('token'),
          filtro: filtro
        }
      }).then((response) => {
        self.responsables = response.data
      }).finally(function () {
        // self.hideLoading()
      })
    },
    obtenerCausales (idArea) {
      var self = this
      // self.showLoading('Obteniendo información, por favor espere ...')
      axios.get(self.url_api + '/api/causal/listado/', {
        params: {
          token: localStorage.getItem('token'),
          id_area: idArea
        }
      }).then((response) => {
        self.causales = response.data
      }).finally(function () {
        // self.hideLoading()
      })
    },
    obtenerAreas (filtro = '') {
      var self = this
      // self.showLoading('Obteniendo información, por favor espere ...')
      axios.get(self.url_api + '/api/areas/listado/', {
        params: {
          token: localStorage.getItem('token'),
          filtro: filtro
        }
      }).then((response) => {
        self.areas = response.data
      }).finally(function () {
        // self.hideLoading()
      })
    },
    obtenerEmpleados (filtro = '') {
      var self = this
      // self.showLoading('Obteniendo información, por favor espere ...')
      axios.get(self.url_api + '/api/usuarios/personal-activo-ofima', {
        params: {
          token: localStorage.getItem('token'),
          filtro: filtro
        }
      }).then((response) => {
        self.empleados = response.data
      }).finally(function () {
        // self.hideLoading()
      })
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    ...mapActions('store', ['obtenerPermisos'])
  },
  mounted () {
    this.obtenerEmpleados('')
    this.obtenerResponsables('')
    this.obtenerAreas('')
  },
  watch: {
  }
}
</script>
<style>
.rounded {
    border-radius: 20px 20px 20px 20px;
}
.no_muestra {
  display: none;
}
.muestra {
  display: block;
}
</style>
