<template>
<q-page class="q-pt-xs bg-grey-1">
  <div class="row" v-if="!verificaPermiso(4)">
    <usuarios-no-autorizado/>
  </div>
  <div class="q-pa-xs" v-else>
    <q-toolbar class="bg-primary text-white">
      <q-toolbar-title class="text-bold"><q-icon name="fas fa-user-shield" class="q-mr-md" size="30px"/>Administrador del sistema</q-toolbar-title>
    </q-toolbar><br>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
        <div class="q-pa-none" style="max-width: 230px">
          <q-list  class="text-primary  menu-list">
            <q-item clickable v-ripple  @click="mostrarComponente('usuarios-admin', 'usuario')" :active="link === 'usuario'" active-class="my-menu-link">
              <q-item-section avatar>
                <q-icon name="fas fa-users-cog" ></q-icon>
              </q-item-section>
              <q-item-section class="text-grey-9 text-bold" >Admin Usuarios</q-item-section>
            </q-item>
            <q-item clickable v-ripple  @click="mostrarComponente('administrador-responsables', 'responsables')" :active="link === 'responsables'" active-class="my-menu-link">
              <q-item-section avatar>
                <q-icon name="fas fa-users" ></q-icon>
              </q-item-section>
              <q-item-section class="text-grey-9 text-bold" >Resp. procesos</q-item-section>
            </q-item>
          </q-list>
        </div>
      </div>
      <div class="col-xs-4 col-sm-10 col-md-10 col-lg-10">
      <keep-alive>
        <component v-bind:is="componenteActual"></component>
      </keep-alive>
      </div>
    </div>
  </div>
</q-page>
</template>

<script>
// import axios from 'axios'
export default {
  data () {
    return {
      componenteActual: 'usuarios-admin',
      link: 'usuario'
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    }
  },
  methods: {
    mostrarComponente (componente, link) {
      this.componenteActual = componente
      this.link = link
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    }
  },
  created () {
  },
  beforeDestroy () {
  },
  mounted () {
  },
  watch: {
  }
}
</script>
<style lang="sass" scoped>
.menu-list .q-item
  border-radius: 0 32px 32px 0
.my-menu-link
  color: primary
  background: #EDE6D8
</style>
