<template>
<q-page class="bg-primary">
<div class="row q-pa-xl" style="width:100%">
  <div class="col-xs-12 col-md-12 col-lg-4"></div>
  <div class="col-xs-12 col-md-12 col-lg-4 q-py-xl">
    <q-card class="bg-transparent no-border no-shadow">
      <div class="row items-center full-width justify-center q-col-gutter-sm">
        <q-icon name="fas fa-tools" class="q-ml-lg" color="bg-grey-2 text-white" size="12rem"></q-icon>
      </div>
      <div class="row full-width">
        <div class="col-lg-12 col-md-12 cl-sm-12 col-xs-12 ">
          <div>
            <div class="text-center text-white q-py-md text-bold" style="font-size:19px">
              NETICO SE ENCUENTRA EN MANTENIMIENTO
            </div>
            <div class="text-center text-white">
              Muy pronto estará de vuelta, agradecemos su espera ...
            </div>
            <div class="text-h6 text-center text-red"><br>
            <q-chip size="14px"  color="primary" icon="fas fa-redo" text-color="white" clickable @click="$router.go(0)">
              Cargar de nuevo
            </q-chip>
            </div>
          </div>
        </div>
      </div>
    </q-card>
  </div>
  <div class="col-xs-12 col-md-12 col-lg-4"></div>
</div>
</q-page>

</template>

<script>
</script>

<style>
</style>
