<template>
<div class="row q-pa-xl" style="width:100%">
  <div class="col-xs-12 col-md-12 col-lg-4"></div>
  <div class="col-xs-12 col-md-12 col-lg-4 q-py-xl">
    <q-card class="bg-transparent no-border no-shadow">
      <div class="row items-center full-width justify-center q-col-gutter-sm">
        <q-icon name="fas fa-user-times" class="q-ml-lg" color="bg-grey-2 text-primary" size="7rem"></q-icon>
      </div>
      <div class="row full-width">
        <div class="col-lg-12 col-md-12 cl-sm-12 col-xs-12 ">
          <div>
            <div class="text-h4 text-center text-red q-py-md text-bold">
              USUARIO NO AUTORIZADO
            </div>
            <div class="text-h6 text-center text-red">
            <q-chip size="15px"  color="red" text-color="white">
              No está autorizado para ingresar a este módulo
            </q-chip>
            </div>
            <div class="text-h6 text-center text-red">
            <q-chip size="15px"  color="primary" icon="fas fa-angle-left" text-color="white" clickable @click="$router.push({ name: '/inicio' }) ">
              Ir al menú principal
            </q-chip>
            </div>
          </div>
        </div>
      </div>
    </q-card>
  </div>
  <div class="col-xs-12 col-md-12 col-lg-4"></div>
</div>

</template>

<script>
</script>

<style>
</style>
