<template>
    <div class="column items-center">
      <q-card  flat >
        <q-card-section >
          <q-card-section class="q-pt-xs">
            <div class="text-overline text-primary">Cambiar contraseña</div>
            <div class=" text-grey-7">
              Por seguridad se recomienda usar números y letras para la nueva contraseña.
            </div>
          </q-card-section>
          <q-separator/>
          <q-card-section>
            <q-form
              class="q-gutter-md"
            >
              <q-input
                filled
                v-model="cla_tmp"
                label="Contraseña actual"
                type="password"
                stack-label
              />

              <q-input
                filled
                v-model="cla_ori"
                label="Nueva contraseña"
                type="password"
                stack-label
              />

              <q-input
                filled
                v-model="cla_nue"
                label="Vuelva a escribir la contraseña"
                type="password"
                stack-label
              />
              <div align="right">
                <q-btn icon="fas fa-redo" no-caps flat label="Cambiar contraseña" @click="actualizarContrasenia" color="primary"/>
              </div>
            </q-form>
          </q-card-section>
        </q-card-section>
      </q-card>
    </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      cla_tmp: '',
      cla_ori: '',
      cla_nue: ''
    }
  },
  computed: {
    url_api () {
      return this.$store.state.store.url_api
    }
  },
  methods: {
    limpiarCamposPass () {
      this.cla_tmp = ''
      this.cla_ori = ''
      this.cla_nue = ''
    },
    actualizarContrasenia () {
      if (this.cla_nue.length < 8 || this.cla_ori.length < 8) {
        this.notificacion('red-5', 'white', 'warning', 'La contraseña mínimo debe tener 8 caracteres', 'top-right', false, 3000)
        return false
      }
      if (this.cla_ori === '' || this.cla_nue === '' || this.cla_tmp === '') {
        this.notificacion('red-5', 'white', 'warning', 'Campos vacios, por favor llenarlos', 'top-right', false, 3000)
        return false
      }
      if (this.cla_nue !== this.cla_ori) {
        this.notificacion('red-5', 'white', 'warning', 'Las contraseñas no coinciden, por favor revisar', 'top-right', false, 3000)
        return false
      }
      this.showLoading('Cambiando contraseña, por favor espere ...')
      var self = this
      axios.put(this.url_api + '/api/usuarios/actualizar-clave', {
        password_old: this.cla_tmp,
        password: this.cla_nue,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.status === 'ok') {
          self.limpiarCamposPass()
          self.hideLoading()
          self.notificacion('green', 'white', 'fas fa-check', res.data.message, 'top-right', false, 3000)
        } else {
          self.hideLoading()
          self.notificacion('red-5', 'white', 'warning', res.data.message, 'top-right', false, 3000)
        }
      }).catch(function (err) {
        self.hideLoading()
        self.notificacion('red-5', 'white', 'warning', err, 'top-right', false, 3000)
      })
    },
    notificacion (color, colorTexto, icono, mensaje, posicion, multilinea, duracion) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        position: posicion,
        html: true,
        timeout: duracion,
        multiLine: multilinea
      })
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    }
  },
  mounted () {
  }
}
</script>
<style>
</style>
