<template>
  <div v-if="$q.platform.is.desktop === true">
    <q-layout>
    <q-page-container>
      <q-page class="flex bg-image flex-center">
        <q-card :style="$q.screen.lt.sm?{'width': '90%'}:{'width':'30%'}">
          <q-card-section>
            <q-avatar size="100px" class="absolute-center shadow-5 bg-primary">
                <q-img src="../../statics/icons/Logo_netico_login_avatar.png" style="height: 106px; width: 106px" v-show="$q.platform.is.desktop === true"/>
                <q-img src="../../statics/icons/netico_icon-344x344.png" style="height: 80px; max-width: 360px" v-show="$q.platform.is.desktop !== true"/>
            </q-avatar>
          </q-card-section>
          <q-card-section><br>
            <div class="text-center q-pt-lg">
              <div class="col text-h6 ellipsis text-primary">
                <q-img src="../../statics/Logo_Icoharinas_inicio_sesion.png"  style="max-width: 332px; height: 77px;" v-show="$q.platform.is.desktop === true" contain/>
                <q-img src="../../statics/logo_sesion.png" style="height: 80px; max-width: 360px" v-show="$q.platform.is.desktop !== true" contain/>
              </div>
            </div>
          </q-card-section>
          <q-card-section class="q-pa-none">
            <q-form
              class="q-gutter-md q-pa-xl"
              @submit.prevent="submitLogin"
              @reset="onReset"
            >
                <q-input
                  v-model="documento_identidad"
                  input-class="text-bold text-primary"
                  label="Documento de identidad"
                  stack-label
                  type="number"
                  :dense="dense"
                  :rules="[validaUsuario]"
                >
                  <template v-slot:prepend>
                    <q-icon name="person" size="35px" color="primary" />
                  </template>
                </q-input>

                <q-input :rules="[validaContrasena]" v-model="password" :type="isPwd ? 'password' : 'text'" stack-label label="Contraseña">
                  <template v-slot:append>
                    <q-icon
                      :name="isPwd ? 'visibility_off' : 'visibility'"
                      class="cursor-pointer"
                      @click="isPwd = !isPwd"
                      color="primary"
                    />
                  </template>
                  <template v-slot:prepend>
                    <q-icon name="lock" color="primary" size="35px"/>
                  </template>
                </q-input>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-grey-7 q-pa-none">
                      <q-checkbox dense v-model="check_rec_usu" label="Recordar credenciales de usuario" />
                    </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <q-btn   color="primary" class="full-width" type="submit">Ingresar</q-btn>
                  </div>
                </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-page>
    </q-page-container>
  </q-layout>
    </div>
  <div v-else>
    <q-page class="bg-image-app">
      <div class="row q-pa-md div_login_title">
        <div class="col-12 text-white text-bold text-h5">
          <q-icon name="fas fa-sign-in-alt" class="q-mr-md"/>Ingresar
        </div>
      </div>
      <div class="row div_login">
        <q-list class="bg-white" style="width: 100%;  border-radius: 18px 18px 90px 90px;">
          <q-item >
            <q-item-section>
              <div class="row q-pa-md" align="center">
                <div class="col-12">
                  <q-img src="../../statics/icons/netico_icon-344x344.png" style="height: 100px; max-width: 100px"/>
                </div>
              </div>
              <q-form
                class="q-gutter-sm q-pa-sm"
                @submit.prevent="submitLogin"
                @reset="onReset"
              >
              <div class="row q-pa-xs" align="left">
                <div class="col-12 text-bold text-grey-7" style="font-size:13px">
                  Ingrese las credenciales de acceso por favor
                </div>
              </div>
                  <q-input
                    v-model="documento_identidad"
                    bg-color="white"
                    label="Documento de identidad"
                    stack-label
                    type="number"
                    :dense="dense"
                    :rules="[validaUsuario]"
                  >
                    <template v-slot:prepend>
                      <q-icon name="person" size="34px" color="primary" class="q-pa-md"/>
                    </template>
                  </q-input>

                  <q-input :rules="[validaContrasena]" v-model="password" :type="isPwd ? 'password' : 'text'" stack-label label="Contraseña" bg-color="white" >
                    <template v-slot:append>
                      <q-icon
                        :name="isPwd ? 'visibility_off' : 'visibility'"
                        class="cursor-pointer q-mr-md"
                        @click="isPwd = !isPwd"
                        color="primary"
                      />
                    </template>
                    <template v-slot:prepend>
                      <q-icon name="lock" size="34px" color="primary" class="q-pa-md"/>
                    </template>
                  </q-input>
                  <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-grey-7 q-pa-xs">
                        <q-checkbox dense v-model="check_rec_usu" label="Recordar datos" />
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <q-btn rounded no-caps color="primary" class="full-width" type="submit">Ingresar a netico</q-btn>
                    </div>
                  </div>
                  <div class="row q-py-lg" align="center">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <q-img src="../../statics/icons/LogoIcoharinas.png" style="height: 30px; max-width: 160px"/>
                    </div>
                  </div>
              </q-form>
            </q-item-section>
          </q-item>
        </q-list>
      </div>
    </q-page>
  </div>
</template>

<script>
import axios from 'axios'
import { QSpinnerGrid } from 'quasar'
import { mapActions } from 'vuex'
export default {
  props: {
    datos_editar: {
      type: Array,
      required: false
    }
  },
  data () {
    return {
      documento_identidad: !localStorage.getItem('documento_identidad') ? '' : localStorage.getItem('documento_identidad'),
      password: !localStorage.getItem('clave') ? '' : localStorage.getItem('clave'),
      check_rec_usu: false,
      isPwd: true,
      loginError: false,
      accept: false,
      dense: false
    }
  },
  computed: {
    url_api () {
      return this.$store.state.store.url_api
    }
  },
  methods: {
    submitLogin () {
      this.showLoading('Entrando a netico, por favor espere ...')
      this.loginError = false
      axios.post(this.url_api + '/api/usuarios/login/', {
        documento_identidad: this.documento_identidad,
        password: this.password
      }).then(response => {
        // login user, store the token and redirect to dashboard
        // store.commit('loginUser')
        if (response.data.status === 'ok') {
          this.loginUser()
          this.habilitaMenu()
          this.hideLoading()
          if (this.check_rec_usu === true) {
            this.recuerdaLoginLocalStore(this.documento_identidad, this.password, 'recordar')
          } else {
            this.recuerdaLoginLocalStore(this.documento_identidad, this.password, 'borrar')
          }
          localStorage.setItem('token', response.data.token)
          if (response.data.usuario.vendedor.charAt(0) === '0') {
            this.$router.push({ name: '/inicio/bienvenida' })
          } else {
            if (response.data.permisos.nom_rol === 'GERENCIA') {
              this.$router.push({ name: '/ventas' })
            } else if (response.data.permisos.nom_rol === 'BODEGUERO') {
              this.$router.push({ name: '/logistica' })
            } else {
              this.$router.push({ name: '/inicio' })
            }
          }
        } else if (response.data.status === 'error') {
          this.notificacionToast('error', response.data.message, 'top-right', 4500)
          this.recuerdaLoginLocalStore(this.documento_identidad, this.password, 'borrar')
          this.hideLoading()
        }
      }).catch(error => {
        this.loginError = true
        console.log(error)
        this.recuerdaLoginLocalStore(this.documento_identidad, this.password, 'borrar')
      })
    },
    notificacionToast (tipoNotif, msj, posicion, duracion) {
      this.$toast(msj, {
        position: posicion,
        type: tipoNotif,
        timeout: duracion,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        // draggable: true,
        // draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: 'button',
        icon: true,
        rtl: false
      })
    },
    recuerdaLoginLocalStore (documentoIdentidad, clave, accion) {
      if (accion === 'recordar') {
        localStorage.setItem('documento_identidad', documentoIdentidad)
        localStorage.setItem('clave', clave)
      } else if (accion === 'borrar') {
        localStorage.removeItem('documento_identidad')
        localStorage.removeItem('clave')
      }
    },
    onSubmit () {
      this.confirm()
    },
    onReset () {
      this.placa = ''
      this.descripcion = ''
      this.peso = ''
    },
    notificacion (color, colorTexto, icono, mensaje, posicion, multilinea, duracion) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        position: posicion,
        html: true,
        timeout: duracion,
        multiLine: multilinea
      })
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj,
        spinner: QSpinnerGrid,
        spinnerColor: 'primary',
        spinnerSize: 140,
        backgroundColor: 'white',
        messageColor: 'primary',
        customClass: 'bg-white text-primary'
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    validaUsuario (val = '') {
      if (val.length === 0) {
        return 'Por favor ingrese el número de documento de identidad'
      } else {
        return true
      }
    },
    validaContrasena (val = '') {
      if (val.length === 0) {
        return 'Por favor ingrese la contraseña'
      } else {
        return true
      }
    },
    ...mapActions('store', ['loginUser', 'habilitaMenu'])
  },
  mounted () {
    if (localStorage.getItem('documento_identidad')) {
      this.check_rec_usu = true
    } else {
      this.check_rec_usu = false
    }
  }
}
</script>
<style>
  .bg-image {
   background-image: linear-gradient(160deg, #1B4130 0%, #358662 45%);
  }
  .bg-image-app {
   background-image: linear-gradient(130deg, #1B4130 0%, #358662 50%);
  }
.div_login{
  position: absolute;
  top: 25%;
  right: 0%;
  width: 100%;
  height: 75%;
}
.div_login_title{
  position: absolute;
  top: 14%;
  right: 0%;
  width: 100%;
}
</style>
