<template>
  <div class="q-pa-none q-gutter-xs">
        <div class="q-pa-none bg-white" style="max-width: 100%">
          <div class="row q-pa-xs ">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <q-list >
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center text-primary text-weight-bolder q-pa-md" style="font-size:17px">
                    Listado de registros
                  </div>
                  <div  v-for="(registro, index) in registros" :key="index">
                    <div class="row bg-grey-3 q-pa-xs text-primary" style="font-size:11px" clickable @click="$router.push({ name: '/mercado/registro', params: { registro: registro } })">
                      {{registro.nombre}}&nbsp;<div v-show="registro.marca"> ({{registro.marca}}) </div> <div v-show="registro.fabricante">&nbsp;-&nbsp;{{registro.fabricante}} </div>
                    </div>
                    <div class="row bg-white text-bold q-pa-xs text-primary " style="font-size:11px" clickable @click="$router.push({ name: '/mercado/registro', params: { registro: registro } })">
                    <div class="col-12 text-center">
                      {{registro.nom_producto}}
                    </div>
                    </div>
                    <q-item clickable v-ripple @click="$router.push({ name: '/mercado/registro', params: { registro: registro } })">
                      <q-item-section style="padding-right:3px" thumbnail class="bg-primary q-mr-sm">
                      </q-item-section>
                      <q-item-section>
                        <q-item-label caption>Fec. evidencia <b>{{registro.fecha}}</b></q-item-label>
                        <q-item-label caption>Zona  <b>{{registro.nom_zona}}</b></q-item-label>
                        <q-item-label caption>Precio  <b>$ {{formatPrice(registro.precio)}}</b></q-item-label>
                      </q-item-section>

                      <q-item-section side top>
                        <q-item-label caption style="font-size:10px">Reg. {{registro.created_at}}</q-item-label>
                        <div class="text-primary">
                        </div>
                      </q-item-section>
                    </q-item>
                    <div class="row q-pa-none" v-show="registro.existe_adjunto == 'si'">
                      <div class="col-xs-12 text-right">
                          <q-btn no-caps size="13px" flat color="grey-7"  label="Ver archivo" icon="fas fa-paperclip" @click="descargarArchivo(registro.adjunto)"/>
                      </div>
                    </div>
                    <q-separator style="height:1px" class="bg-grey-3 " />
                  </div>
              </q-list>
            </div>
          </div>
        </div>
        <infinite-loading  @distance="1" @infinite="infiniteHandler"  ref="infiniteLoading1">
            <div slot="no-more">
            <div class="full-width row flex-center text-primary q-gutter-sm">
              <span>
              </span>
            </div>
            </div>
            <div slot="spinner">
              <div class="row justify-center q-my-md">
                <q-spinner-dots color="primary" size="50px" />
              </div>
            </div>
            <div slot="no-results">
              <div class="full-width row flex-center text-primary q-gutter-sm">
                <q-icon size="2em" name="sentiment_dissatisfied" />
                <span>
                  Sin resultados ...
                </span>
              </div>
            </div>
        </infinite-loading>
  </div>
</template>

<script>
import axios from 'axios'
import InfiniteLoading from 'vue-infinite-loading'
export default {
  components: {
    InfiniteLoading
  },
  data () {
    return {
      page: 0,
      registros: []
    }
  },
  computed: {
    url_api () {
      return this.$store.state.store.url_api
    }
  },
  methods: {
    descargarArchivo (archivo) {
      window.location.href = this.url_api + '/api/mercado/descargar-documento/' + archivo
    },
    changeFilter () {
      this.page = 0
      this.registros = []
      this.$refs.infiniteLoading1.stateChanger.reset()
    },
    infiniteHandler ($state) {
      // PARA QUE SOLO APAREZCA CUANDO SE RESETEA EN INFINITE
      if (this.page <= 0) {
        this.showLoading('Cargando información, por favor espere...')
      }
      this.page++
      let url = this.url_api + '/api/mercado/obtener-registros/?page=' + this.page
      axios.get(url, {
        params: {
          token: localStorage.getItem('token')
        }
      })
        .then(response => {
          // console.log(response.data)
          // let newCargues = response.data.data
          if (response.data.data.length) {
            this.registros = this.registros.concat(response.data.data)
            $state.loaded()
            this.hideLoading()
          } else {
            $state.complete()
            this.hideLoading()
          }
        }).catch(error => {
          this.hideLoading()
          console.log(error)
        })
    },
    formatPrice (value) {
      let val = (value / 1).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    notificacion (color, colorTexto, icono, mensaje, posicion, tiempo) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        timeout: tiempo,
        position: posicion
      })
    },
    submitLogin () {
    },
    onReset () {
    }
  },
  mounted () {
  },
  watch: {
  }
}
</script>
