<template>
  <div class="q-pa-xs q-gutter-xs">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center text-primary text-weight-bolder" style="font-size:17px">
        Registrar Información
      </div>
      <q-separator spaced />
       <div class="row q-pa-xs">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <q-form
            @submit.prevent="submitLogin"
            @reset="onReset"
            class="q-gutter-md"
            ref="form_registro"
          >
          <div class="row q-pa-xs">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-primary ">
              Diligencie la información acorde a lo que está en la factura o evidencia a reportar.
            </div>
          </div>
          <div class="row q-pa-none" v-show="registros > 0">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-right ">
              <q-btn no-caps label="Ver todos mis registros" color="blue-grey-8" flat size="12px" icon="fas fa-list-ul" @click="$router.push({ name: '/mercado/listado' })"/>
            </div>
          </div>
            <div class="row">
              <div class="col-xs-12 col-md-12 col-sm-4 col-lg-4">
                <q-select style="font-size:12px" v-model="competencia"  label="Empresa o grande superficie" stack-label :options="competencias" option-value="nit" option-label="nombre"/>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-5 col-md-5 col-sm-5 col-lg-5 q-mr-md">
                <q-select style="font-size:12px" v-model="marca"  label="Marca" stack-label :options="marcas" option-value="nombre" option-label="nombre"/>
              </div>
              <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                <q-select style="font-size:12px" v-model="fabricante"  label="Fabricante" stack-label :options="fabricantes" option-value="nit" option-label="nombre"/>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                <q-input input-style="font-size:12px"   v-model="fecha" readonly  label="Fecha" stack-label class="q-mr-xl">
                  <template v-slot:append>
                    <q-icon color="primary" name="event" class="cursor-pointer">
                      <q-popup-proxy ref="qDateProxy2" transition-show="scale" transition-hide="scale" >
                        <q-date :locale="myLocale" v-model="fecha" mask="YYYY-MM-DD" @input="$refs.qDateProxy2.hide();" />
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </div>
              <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                <q-select style="font-size:12px" v-model="zona" :options="zonas_aux" use-input @filter="filterFnZonas" label="Seleccione una zona" stack-label map-options option-value="codigo" option-label="nombre"/>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-12 col-sm-4 col-lg-4">
                <q-select style="font-size:12px" v-model="producto" @filter="filterFn" use-input  label="Seleccione el producto" stack-label :options="productos_aux"  map-options option-value="nombre_select" option-label="nombre_select"/>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
                <q-input input-style="font-size:12px" type="number" v-model="precio"  label="Precio (sin IVA)" stack-label />
              </div>
              <div class="col-xs-8 col-md-8 col-sm-8 col-lg-8 text-right">
                <q-btn flat color="primary" icon="fa fa-upload" no-caps text-color="primary" :label="adjunto.name || existe_adjunto == 'si' ? 'Cambiar evidencia':'Subir evidencia'" @click="abrirVentanaAdjunto('file')" /><br>
                <q-chip v-show="adjunto.name || existe_adjunto == 'si'" style="font-size:11px" color="orange-9" text-color="white" >Contiene adjunto</q-chip>
                <q-file @rejected="onRejected" accept=".jpg, image/*" max-file-size="10485760"  v-show="false"  dense ref="file" clearable filled color="purple-12" v-model="adjunto" ></q-file>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12"><br>
                <q-btn v-show="!id_registro" color="primary" class="full-width"  no-caps text-color="white" label="Registrar información" @click="confirm()" />
                <q-btn v-show="id_registro" color="primary" class="full-width"  no-caps text-color="white" label="Actualizar información" @click="confirm()" />
              </div>
            </div>
            <div class="row" v-show="id_registro">
              <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-right">
                <q-btn color="red" size="13px" flat  no-caps icon="fas fa-trash-alt" @click="confirmEliminar()" />
              </div>
            </div>
          </q-form>
        </div>
      </div>
      <q-page-sticky position="bottom-right" :offset="[18, 18]"  @click="$router.push({path: '/inicio/bienvenida'})">
        <q-btn fab padding="sm"  icon="home" color="primary" />
      </q-page-sticky>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      fabricante: '',
      fabricantes: [],
      marca: '',
      marcas: [],
      id_registro: '',
      existe_adjunto: 'no',
      registro_externo: this.$route.params.registro ? this.$route.params.registro : 0,
      registros: [],
      modal_listado: false,
      adjunto: [],
      competencia: '',
      competencias: [],
      producto: '',
      productos: [],
      productos_aux: [],
      precio: '',
      zona: '',
      zonas: [],
      zonas_aux: [],
      fecha: '',
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      }
    }
  },
  computed: {
    url_api () {
      return this.$store.state.store.url_api
    }
  },
  methods: {
    cargarDatosFormulario () {
      if (this.registro_externo !== 0) {
        this.id_registro = this.registro_externo.id_registro
        this.competencia = { nit: this.registro_externo.nit, nombre: this.registro_externo.nombre }
        this.fabricante = { nit: this.registro_externo.nit_fabricante, nombre: this.registro_externo.fabricante }
        this.marca = this.registro_externo.marca
        this.fecha = this.registro_externo.fecha
        this.zona = { codigo: this.registro_externo.cod_zona, nombre: this.registro_externo.nom_zona }
        this.producto = { nombre_select: this.registro_externo.cod_producto + '-' + this.registro_externo.nom_producto, nombre: this.registro_externo.nom_producto, codigo: this.registro_externo.cod_producto }
        this.precio = this.registro_externo.precio
        this.existe_adjunto = this.registro_externo.existe_adjunto
      }
    },
    listarRegistros () {
      var self = this
      axios.get(this.url_api + '/api/mercado/obtener-registros/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.registros = response.data.total
      }).finally(function () {
        // console.log(self.registros)
      })
    },
    limpiarFormulario () {
      this.adjunto = []
      this.competencia = ''
      this.fabricante = ''
      this.marca = ''
      this.producto = ''
      this.precio = ''
      this.zona = ''
      this.fecha = ''
      this.existe_adjunto = 'no'
      if (this.id_registro) {
        this.id_registro = ''
      }
    },
    onRejected (rejectedEntries) {
      this.$q.notify({
        type: 'negative',
        html: true,
        position: 'top-right',
        timeout: 8000,
        message: 'Evidencia no cumple con los requerimientos<br><br>El tipo archivo debe ser <b>Imagen</b><br>No se debe superar en tamaño los <b>10 MB</b>'
      })
    },
    validarCampos () {
      var contError = 0
      if (!this.competencia || Object.keys(this.competencia).length === 0) {
        contError++
        this.notificacion('red-5', 'white', 'fas fa-exclamation-triangle', 'Debe seleccionar la empresa', 'top-right', 3000)
      } else if (!this.fecha) {
        contError++
        this.notificacion('red-5', 'white', 'fas fa-exclamation-triangle', 'Debe seleccionar la fecha', 'top-right', 3000)
      } else if (!this.zona || Object.keys(this.zona).length === 0) {
        contError++
        this.notificacion('red-5', 'white', 'fas fa-exclamation-triangle', 'Debe seleccionar la zona', 'top-right', 3000)
      } else if (!this.producto || Object.keys(this.producto).length === 0) {
        contError++
        this.notificacion('red-5', 'white', 'fas fa-exclamation-triangle', 'Debe seleccionar el producto', 'top-right', 3000)
      } else if (!this.precio) {
        contError++
        this.notificacion('red-5', 'white', 'fas fa-exclamation-triangle', 'Falta ingresar el precio', 'top-right', 3000)
      } else if (this.adjunto.length === 0 && this.id_registro === '') {
        contError++
        this.notificacion('red-5', 'white', 'fas fa-exclamation-triangle', 'Falta adjuntar la evidencia', 'top-right', 3000)
      }
      return contError
    },
    confirm () {
      if (this.validarCampos() !== 0) {
        return false
      }
      this.$q.dialog({
        title: 'Confirmar registro',
        message: '¿Está seguro de enviar la información?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.registrarInfo()
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    confirmEliminar () {
      this.$q.dialog({
        title: 'Confirmar eliminar registro',
        message: '¿Está seguro de eliminar el registro?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.eliminarRegistro()
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    guardarDatosLocalStore () {
      var datos = {
        id_registro: this.id_registro,
        competencia: this.competencia,
        marca: this.marca,
        fabricante: this.fabricante,
        fecha: this.fecha,
        zona: this.zona,
        producto: this.producto,
        precio: this.precio
      }
      // console.log(datos)
      localStorage.setItem('datos_formulario', JSON.stringify(datos))
      // console.log(localStorage.getItem('datos_formulario'))
    },
    asignarDatosLocales () {
      var guardado = localStorage.getItem('datos_formulario')
      // console.log(JSON.parse(guardado))
      if (JSON.parse(guardado)) {
        var datos = JSON.parse(guardado)
        console.log(datos)
        this.id_registro = datos.id_registro
        this.competencia = { nit: datos.competencia.nit, nombre: datos.competencia.nombre }
        this.fabricante = { nit: datos.fabricante.nit, nombre: datos.fabricante.nombre }
        if (datos.marca) {
          this.marca = datos.marca
        }
        this.fecha = datos.fecha
        this.zona = { codigo: datos.zona.codigo, nombre: datos.zona.nombre }
        if (datos.producto) {
          this.producto = { nombre_select: datos.producto.codigo + '-' + datos.producto.nombre, nombre: datos.producto.nombre, codigo: datos.producto.codigo }
        }
        this.precio = datos.precio
      }
    },
    registrarInfo () {
      var self = this
      self.showLoading('Guardando información, por favor espere ...')
      const fd = new FormData()
      fd.append('file', self.adjunto)
      fd.append('id_registro', self.id_registro)
      fd.append('competencia', JSON.stringify(self.competencia))
      fd.append('marca', self.marca === undefined ? '' : self.marca)
      fd.append('fabricante', JSON.stringify(self.fabricante) === '{}' ? null : JSON.stringify(self.fabricante))
      fd.append('fecha', self.fecha)
      fd.append('zona', JSON.stringify(self.zona))
      fd.append('producto', JSON.stringify(self.producto))
      fd.append('precio', self.precio)
      fd.append('token', localStorage.getItem('token'))

      axios.post(self.url_api + '/api/competencia/registrar',
        fd,
        {
          headers: { 'Content-Type': 'multipart/form-data' }
        })
        .then(res => {
          if (res.data.estado === 'ok') {
            self.hideLoading()
            self.notificacion('green', 'white', 'fas fa-check', res.data.mensaje, 'top-right', 3000)
            if (self.registros === 0) {
              self.listarRegistros()
            }
            self.limpiarFormulario()
            localStorage.removeItem('datos_formulario')
          } else {
            self.hideLoading()
            self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'top-right', 4500)
          }
        })
        .catch(function (err) {
          self.hideLoading()
          self.notificacion('red-5', 'white', 'warning', err, 'top-right', 4500)
        })
    },
    eliminarRegistro () {
      this.showLoading('Eliminando registro, por favor espere ...')
      var self = this
      axios.put(this.url_api + '/api/mercado/eliminar-registro', {
        id_registro: this.id_registro,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.hideLoading()
          self.notificacion('green', 'white', 'fas fa-check', res.data.mensaje, 'top-right', 3000)
          self.listarRegistros()
          self.limpiarFormulario()
        } else {
          self.hideLoading()
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'top-right', 3000)
        }
      }).catch(function (err) {
        self.hideLoading()
        self.notificacion('red-5', 'white', 'warning', err, 'top-right', 3000)
      })
    },
    abrirVentanaAdjunto (ref) {
      this.$refs[ref].pickFiles()
      this.guardarDatosLocalStore()
    },
    listadoCompetencia (tipoLista) {
      var self = this
      axios.get(this.url_api + '/api/mercado/obtener-datos-global/', {
        params: {
          token: localStorage.getItem('token'),
          tipo_lista: tipoLista
        }
      }).then((response) => {
        if (tipoLista === 'competencia') {
          self.competencias = response.data
          self.competencias.sort(function (a, b) {
            if (a.nombre > b.nombre) {
              return 1
            }
            if (a.nombre < b.nombre) {
              return -1
            }
            return 0
          })
        } else if (tipoLista === 'marcas') {
          self.marcas = response.data
          self.marcas.sort(function (a, b) {
            if (a.nombre > b.nombre) {
              return 1
            }
            if (a.nombre < b.nombre) {
              return -1
            }
            return 0
          })
        } else {
          self.fabricantes = response.data
          self.fabricantes.sort(function (a, b) {
            if (a.nombre > b.nombre) {
              return 1
            }
            if (a.nombre < b.nombre) {
              return -1
            }
            return 0
          })
        }
      }).finally(function () {
      })
    },
    listadoZonas () {
      var self = this
      axios.get(this.url_api + '/api/mercado/obtener-zonas/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.zonas = response.data
      }).finally(function () {
      })
    },
    listadoProductos () {
      var self = this
      axios.get(this.url_api + '/api/mercado/obtener-productos-ofima/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.productos = response.data
      }).finally(function () {
      })
    },
    filterFn (val, update) {
      if (val === '') {
        update(() => {
          this.productos_aux = this.productos
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.productos_aux = this.productos.filter(v => v.nombre_select.toLowerCase().indexOf(needle) > -1)
      })
    },
    filterFnZonas (val, update) {
      if (val === '') {
        update(() => {
          this.zonas_aux = this.zonas
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.zonas_aux = this.zonas.filter(v => v.nombre.toLowerCase().indexOf(needle) > -1)
      })
    },
    formatPrice (value) {
      let val = (value / 1).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    registrarDespacho () {
      this.showLoading('Obteniendo información ...')
      var self = this
      axios.post(this.url_api + '/api/despachos/registrar/', {
        placa: self.placa,
        conductor: self.conductor,
        capacidad: self.capacidad,
        nit_conductor: self.nit_conductor,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.$router.push({ name: '/pedidos/registro', params: { despacho: res.data.id_despacho, placa: self.placa, conductor: self.conductor } })
          self.hideLoading()
        } else {
          self.notificacion('red-5', 'white', 'warning', res.data.id_despacho, 'bottom', 5500)
          self.hideLoading()
        }
      }).catch(function (err) {
        // console.log(err)
        self.notificacion('red-5', 'white', 'warning', err, 'bottom', 2500)
        self.hideLoading()
      })
    },
    notificacion (color, colorTexto, icono, mensaje, posicion, tiempo) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        timeout: tiempo,
        position: posicion
      })
    },
    limpiarInfoConductor () {
      this.placa = ''
      this.conductor = ''
      this.capacidad = ''
      this.dato_obtenido = false
      this.deshabilitado = false
    },
    submitLogin () {
    },
    onReset () {
    }
  },
  mounted () {
    this.listadoCompetencia('competencia')
    this.listadoCompetencia('marcas')
    this.listadoCompetencia('fabricantes')
    this.listadoProductos()
    this.listadoZonas()
    this.cargarDatosFormulario()
    this.listarRegistros()
    this.asignarDatosLocales()
  },
  watch: {
  }
}
</script>
