<template>
<q-page :class="$q.platform.is.desktop === true ? 'bg-grey-1':'bg-white'">
  <div v-if="$q.platform.is.desktop === true">
    <div class="row" v-if="!verificaPermiso(3)">
      <usuarios-no-autorizado/>
    </div>
    <div class="q-pa-none" v-else>
      <q-toolbar class="bg-primary text-white">
        <q-toolbar-title class="text-bold"><q-icon name="fas fa-people-arrows" class="q-mr-md" size="30px"/>RRHH</q-toolbar-title>
      </q-toolbar><br>
      <div class="row q-pa-sm">
        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
          <div class="q-pa-none" style="max-width: 230px">
            <q-list  class="text-primary  menu-list">

              <q-item clickable v-ripple  @click="mostrarComponente('rrhh-registro-hv', 'dashboard')" :active="link === 'dashboard'" active-class="my-menu-link" >
                <q-item-section avatar>
                  <q-icon name="fas fa-chart-pie"></q-icon>
                </q-item-section>
                <q-item-section class="text-grey-9 " >Tablero principal</q-item-section>
              </q-item>

              <q-expansion-item >
                <template v-slot:header>
                  <q-item-section avatar>
                    <q-icon color="primary" name="fas fa-users"/>
                  </q-item-section>

                  <q-item-section class="text-grey-9">
                    Aspirantes
                  </q-item-section>
                </template>
                <q-item clickable v-ripple @click="mostrarComponente('rrhh-registro-hv', 'registrohv')" :active="link === 'registrohv'" active-class="my-menu-link">
                  <q-item-section class="text-grey-9"><div><q-icon size="13px"  color="green-6" name="fas fa-user-plus" class="q-mr-md"></q-icon>Registro de HV</div></q-item-section>
                </q-item>
                <q-item clickable v-ripple @click="mostrarComponente('rrhh-gestion-hv', 'gestionhv')" :active="link === 'gestionhv'" active-class="my-menu-link">
                <q-item-section class="text-grey-9"><div><q-icon size="15px"  color="blue-7" name="fas fa-tasks" class="q-mr-md"></q-icon>Gestionar Aspirante</div></q-item-section>
                </q-item>
              </q-expansion-item>

            </q-list>
          </div>
        </div>
        <div class="col-xs-4 col-sm-10 col-md-10 col-lg-10">
          <keep-alive>
            <component v-bind:is="componenteActual"></component>
          </keep-alive>
        </div>
      </div>
    </div>
  </div>
  <div class="q-pa-none" v-if="$q.platform.is.mobile === true">
    <div class="row q-pa-none" align="center">

    </div>
  </div>
</q-page>
</template>

<script>
import axios from 'axios'
import InfiniteLoading from 'vue-infinite-loading'
import * as echarts from 'echarts'
export default {
  components: {
    InfiniteLoading
  },
  data () {
    return {
      filtro_bodega: '',
      page: 0,
      pedidos_bodega: [],
      total_bultos_proyeccion: 0,
      total_bodega: 0,
      filtro: 'hoy',
      modal_top_clientes: false,
      modal_top_productos: false,
      modal_en_bodega: false,
      modal_top_vendedores: false,
      maximizedToggle: true,
      top_clientes: [],
      top_vendedores: [],
      top_clasificacion: [],
      unidad_medida: 'kilos',
      componenteActual: 'rrhh-registro-hv',
      link: 'dashboard',
      slide: 1,
      total_bultos_aux: 0,
      venta_diaria: 0,
      total_ventas_general: 0,
      progress2: 0,
      total_bultos_presup: 0,
      dias_trans: 0,
      dias_mes: 0,
      proyectado: 0
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    VentaActual () {
      if (this.progress2) {
        return (this.progress2 * 100).toFixed(1)
      } else {
        return 0
      }
    },
    estadoCumplimiento () {
      // console.log((this.progress2 * 100).toFixed(1))
      if (this.proyectado >= (this.progress2 * 100).toFixed(1)) {
        return 'mal'
      } else {
        return 'bien'
      }
    },
    diferenciaPorcentajes () {
      if (this.estadoCumplimiento === 'bien') {
        return (this.VentaActual - (this.proyectado))
      } else {
        return ((this.proyectado) - this.VentaActual)
      }
    },
    optionsVelocimetroCumplimiento () {
      var self = this
      // console.log('Proyectado : ' + self.proyectado)
      const gaugeData = [
        {
          value: self.proyectado,
          name: 'Proyectado',
          title: {
            offsetCenter: ['110%', '-110%']
          },
          detail: {
            offsetCenter: ['110%', '-90%']
          }
        },
        {
          value: self.VentaActual,
          name: 'Ventas',
          title: {
            offsetCenter: ['-111%', '-110%']
          },
          detail: {
            offsetCenter: ['-110%', '-90%']
          }
        }
      ]
      return {
        tooltip: {
          formatter: '{a} <br/>{b} : {c}%'
        },
        series: [
          {
            anchor: {
              show: true,
              showAbove: true,
              size: 10,
              itemStyle: {
                color: '#FAC858'
              }
            },
            name: 'Pressure',
            type: 'gauge',
            title: {
              fontSize: 12
            },
            detail: {
              width: 40,
              height: 14,
              fontSize: 14,
              color: '#fff',
              backgroundColor: 'auto',
              borderRadius: 3,
              formatter: '{value}%'
            },
            progress: {
              show: true,
              overlap: true,
              roundCap: true
            },
            axisLine: {
              roundCap: true
            },
            data: gaugeData
          }
        ]
      }
    }
  },
  methods: {
    changeFilter () {
      this.page = 0
      this.pedidos_bodega = []
      this.$refs.infiniteLoading1.stateChanger.reset()
      // actualiza el contador segun el filtro
    },
    infiniteHandler ($state) {
      // PARA QUE SOLO APAREZCA CUANDO SE RESETEA EN INFINITE
      if (this.page <= 0) {
        this.showLoading('Cargando información, por favor espere...')
      }
      this.page++
      let url = this.api_url + '/api/pedido/obtener-pedidos-bodega/?page=' + this.page
      axios.get(url, {
        params: {
          unidad_medida: this.tipo_visualizacion,
          paginacion: 'si',
          filtro: this.filtro_bodega,
          token: localStorage.getItem('token')
        }
      })
        .then(response => {
          // let newCargues = response.data.data
          if (response.data.data.length) {
            this.pedidos_bodega = this.pedidos_bodega.concat(response.data.data)
            $state.loaded()
            this.hideLoading()
          } else {
            $state.complete()
            this.hideLoading()
          }
        }).catch(error => {
          this.hideLoading()
          console.log(error)
        })
    },
    obtenerPedidosEnBodega () {
      var self = this
      // self.loading = true
      axios.get(this.api_url + '/api/pedido/obtener-pedidos-bodega/', {
        params: {
          unidad_medida: this.tipo_visualizacion,
          paginacion: 'si',
          filtro: self.filtro_bodega,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.pedidos_bodega = response.data
      }).finally(function () {
        // self.loading = false
      })
    },
    obtenerProyeccionTotalBultos () {
      var self = this
      self.loading = true
      axios.get(this.api_url + '/api/despachos/proyeccion-total-bultos', {
        params: {
          unidad_medida: self.unidad_medida,
          fecha_inicial: '',
          fecha_final: '',
          tipo_consulta: self.filtro,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        // console.log(response)
        self.total_bultos_proyeccion = response.data
        // self.total_bultos_aux = response.data.total_bultos
      }).finally(function () {
        // self.loading = false
      })
    },
    openModalTopClientes () {
      this.modal_top_clientes = true
      this.obtenerTopClientes()
    },
    openModalTopProductos () {
      this.modal_top_productos = true
      this.obtenerTopClasificacion()
    },
    openModalTopVendeores () {
      this.modal_top_vendedores = true
      this.obtenerTopVendedores()
    },
    openModalEnbodega () {
      this.modal_en_bodega = true
      this.changeFilter()
      // this.obtenerTopVendedores()
    },
    obtenerTopVendedores () {
      var self = this
      axios.get(this.api_url + '/api/pedido/informes/', {
        params: {
          unidad_medida: this.unidad_medida,
          accion: 'top-vendedores',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.top_vendedores = response.data
      }).finally(function () {
      })
    },
    obtenerTopClasificacion () {
      var self = this
      axios.get(this.api_url + '/api/pedido/informes/', {
        params: {
          unidad_medida: this.unidad_medida,
          accion: 'top-clasificacion',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.top_clasificacion = response.data
      }).finally(function () {
      })
    },
    obtenerTotalPesoBodega () {
      var self = this
      // self.loading = true
      axios.get(this.api_url + '/api/pedido/obtener-total-bodega/', {
        params: {
          fecha_inicial: '',
          fecha_final: '',
          tipo_consulta: self.filtro,
          unidad_medida: self.unidad_medida,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.total_bodega = response.data.total_kilos == null ? 0 : response.data.total_kilos
      }).finally(function () {
        // self.pieOptions()
        // self.loading = false
      })
    },
    obtenerTopClientes () {
      var self = this
      axios.get(this.api_url + '/api/pedido/informes/', {
        params: {
          accion: 'top-clientes',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.top_clientes = response.data
      }).finally(function () {
      })
    },
    formatPrice (value, decimales = 0, tipoGrafica = 'default') {
      var val = (value / 1).toFixed(decimales).replace('.', ',')
      if (tipoGrafica === 'velocimetro') {
        val = (value / 1).toFixed(decimales).replace('.', '.')
      }
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    obtenerTotalVentasVelocimetro () {
      var self = this
      axios.get(this.api_url + '/api/pedido/informes/', {
        params: {
          fecha_inicial: '',
          fecha_final: '',
          tipo_consulta: 'general_mensual',
          accion: 'total_ventas',
          unidad_medida: self.unidad_medida,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.total_ventas_general = response.data.total_bultos
        self.total_bultos_aux = response.data.total_bultos
      }).finally(function () {
        self.totalBultosPresupuestoVelocimetro()
      })
    },
    obtenerVentaDiaria () {
      var self = this
      // self.loading = true
      axios.get(this.api_url + '/api/pedido/informes/', {
        params: {
          fecha_inicial: '',
          fecha_final: '',
          unidad_medida: self.unidad_medida,
          tipo_consulta: self.filtro,
          accion: 'total_ventas',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.venta_diaria = response.data.total_bultos
      }).finally(function () {
        // console.log(self.venta_diaria)
      })
    },
    conversionVenta () {
      this.obtenerVentaDiaria()
      this.obtenerTotalPesoBodega()
      // this.totalBultosPresupuestoVelocimetro()
      this.obtenerProyeccionTotalBultos()
      this.obtenerTotalVentasVelocimetro()
    },
    totalBultosPresupuestoVelocimetro () {
      var self = this
      // self.loading = true
      axios.get(this.api_url + '/api/pedido/informes/', {
        params: {
          fecha_inicial: '',
          fecha_final: '',
          unidad_medida: self.unidad_medida,
          tipo_consulta: 'presup_general_mensual',
          accion: 'total_bultos_presupuesto',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.total_bultos_presup = response.data.bultos
        self.dias_trans = response.data.dias_transcurridos
        self.dias_mes = response.data.dias_mes
      }).finally(function () {
        // console.log('Presupuestado : ' + self.total_bultos_presup + '---> Dias trans : ' + self.dias_trans + ' -->dias mes : ' + self.dias_mes)
        self.progress2 = self.total_bultos_aux / self.total_bultos_presup
        // console.log('total bulto : ' + self.total_bultos_aux + '---> Presupuestado : ' + self.total_bultos_presup)
        self.proyectado = ((self.total_bultos_presup / self.dias_mes) * self.dias_trans) / self.total_bultos_presup
        self.proyectado = self.formatPrice(self.proyectado * 100, 1, 'velocimetro')
        setTimeout(function () { self.ejecutarGraficaVelocimetro() }, 500)
      })
    },
    ejecutarGraficaVelocimetro () {
      var myChart = echarts.init(document.getElementById('velocimetro'))
      myChart.setOption(this.optionsVelocimetroCumplimiento)
    },
    mostrarComponente (componente, link) {
      this.componenteActual = componente
      this.link = link
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    }
  },
  created () {
  },
  beforeDestroy () {
  },
  mounted () {
    if (this.$q.platform.is.mobile === true) {
      this.obtenerTotalVentasVelocimetro()
      this.obtenerVentaDiaria()
      this.obtenerTotalPesoBodega()
      this.obtenerProyeccionTotalBultos()
    }
  },
  watch: {
  }
}
</script>
<style lang="sass" scoped>
.menu-list .q-item
  border-radius: 0 32px 32px 0
.my-menu-link
  color: primary
  background: #E5E5E5
  font-weight: bold
</style>
