<template>

  <div class="row" v-if="!verificaPermiso(30)">
    <usuarios-no-autorizado/>
  </div>

  <div class="q-pa-none" v-else>
      <div class="q-pa-none" v-if="$q.platform.is.desktop === true">
          <div class="row" v-show="false">
            <div class="col-12 text-center">
              <q-img src="../../statics/Procesos.png"  style="max-width: 80px; height: 80px;"  contain/>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center text-bold text-blue-grey-7 q-pa-xs" style="font-size:19px">
              Gestión de Aspirantes
            </div>
          </div>
          <q-separator inset/>
          <div class="row  q-my-md rounded-borders">
            <div class="col-12">
              <div class="q-pa-xs">
                <q-tabs
                  v-model="tab_filtro"
                  inline-label
                  :breakpoint="0"
                  no-caps
                  align="justify"
                  active-color="primary"
                  indicator-color="primary"
                  class="text-grey-6"
                >
                  <q-tab name="en_proceso" label="En proceso"><q-badge  color="red" floating v-show="contadores.en_proceso>0">{{contadores.en_proceso}}</q-badge></q-tab>
                  <q-tab name="sin_gestionar" label="Sin gestionar" ><q-badge color="red" floating v-show="contadores.sin_gestionar>0">{{contadores.sin_gestionar}}</q-badge></q-tab>
                  <q-tab name="preseleccionado" label="Preseleccionado" ><q-badge color="red" floating v-show="contadores.preseleccionado>0">{{contadores.preseleccionado}}</q-badge></q-tab>
                  <q-tab name="entrevista" label="Entrevista" ><q-badge color="red" floating v-show="contadores.entrevista>0">{{contadores.entrevista}}</q-badge></q-tab>
                  <q-tab name="entrevista_aprobada" label="Pasó entrevista" ><q-badge color="red" floating v-show="contadores.entrevista_aprobo>0">{{contadores.entrevista_aprobo}}</q-badge></q-tab>
                  <q-tab name="pruebas" label="En pruebas" ><q-badge color="red" floating v-show="contadores.pruebas>0">{{contadores.pruebas}}</q-badge></q-tab>
                  <q-tab name="pruebas_aprobada" label="Aprobó pruebas" ><q-badge color="red" floating v-show="contadores.pruebas_aprobo>0">{{contadores.pruebas_aprobo}}</q-badge></q-tab>
                  <q-tab name="examen_medico" label="Examen médico" ><q-badge color="red" floating v-show="contadores.examen>0">{{contadores.examen}}</q-badge></q-tab>
                  <q-tab name="examen_medico_aprobo" label="Aprobó exa. médico" ><q-badge color="red" floating v-show="contadores.examen_aprobo>0">{{contadores.examen_aprobo}}</q-badge></q-tab>
                  <q-tab name="contratado" label="Contratados"><q-badge color="red" floating v-show="contadores.contratado>0">{{contadores.contratado}}</q-badge></q-tab>
                  <q-tab name="proceso_terminado" label="Proc. finalizados" ><q-badge color="red" floating v-show="contadores.proceso_terminado>0">{{contadores.proceso_terminado}}</q-badge></q-tab>
                  <q-tab  name="todos" label="Todos" />
                </q-tabs>
              </div>
            </div>
          </div>
          <div class="row flex-center" >
            <div class="col-12 q-pa-none">
                <q-table
                  dense
                  :data="aspirantes"
                  :columns="columns"
                  row-key="indice"
                  :loading="loading"
                  :filter="filter"
                  :rows-per-page-options="[10]"
                  bordered
                  no-data-label="No se encontró información para mostrar"
                  class="no-shadow"
                  rows-per-page-label = "Registros por página"
                >
                <template v-slot:loading>
                  <q-inner-loading showing color="blue-7" />
                </template>
                  <template v-slot:top-right>
                    <q-btn icon="fas fa-sync"  label="Actualizar información" unelevated no-caps color="green-6" class="q-mr-md" @click="listadoAspirantes()"/>
                    <q-input dense outlined  v-model="fecha_corte" readonly stack-label label="Corte fecha vencimiento" class="q-mr-md" v-show="tab_filtro == 'contratado'">
                      <template v-slot:append>
                        <q-icon color="blue-8" name="event" class="cursor-pointer">
                          <q-popup-proxy ref="qDateProxy2" cover transition-show="scale" transition-hide="scale">
                            <q-date   :locale="myLocale" v-model="fecha_corte" mask="YYYY-MM-DD"  @input="$refs.qDateProxy2.hide();listadoAspirantes()"/>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                    <q-input dense outlined debounce="400" v-model="filter"  label="Busqueda de aspirantes" stack-label>
                      <template v-slot:append>
                        <q-icon name="search" color="blue-8"/>
                      </template>
                    </q-input>
                  </template>

                  <template v-slot:body="props" >
                    <q-tr :props="props" class="text-grey-8"  >

                      <q-td key="estado_label" :props="props" >
                        <q-btn size="9px" rounded color="blue-9" label="Preseleccionar" v-if="props.row.estado_proceso === 'sin_gestionar'" @click="confirm(props.row, 'preseleccionado')"/><br v-if="props.row.estado_proceso === 'sin_gestionar'">
                        <q-chip class="text-bold" size="12px" square :color="colorEstadoProceso(props.row.estado_proceso)" text-color="white" v-if="props.row.estado_proceso !== 'sin_gestionar'">
                          {{ props.row.estado_label }}
                        </q-chip>
                      </q-td>

                      <q-td key="documento_identidad" :props="props" style="font-size:11px" class="text-bold">
                        {{ formatPrice(props.row.documento_identidad) }}
                      </q-td>

                      <q-td key="fecha_expedicion" :props="props" style="font-size:11px">
                        {{ props.row.fecha_expedicion }}
                      </q-td>

                      <q-td key="nombre_completo" :props="props" style="font-size:11px">
                        {{ props.row.nombre_completo }}
                      </q-td>

                      <q-td key="celular" :props="props" style="font-size:11px">
                        {{ props.row.celular }}
                      </q-td>

                      <q-td key="correo" :props="props" style="font-size:11px">
                        {{ props.row.correo }}
                      </q-td>

                      <q-td key="cargo" :props="props" style="font-size:11px">
                        {{ props.row.cargo }}
                      </q-td>

                      <q-td key="contratacion_fecha_fin_periodo_prueba" :props="props" style="font-size:11px">
                        {{ props.row.contratacion_fecha_fin_periodo_prueba }}<br v-if="props.row.label_notifica_fin_per_prueba">
                        <q-chip size="11px" color="red-7" square text-color="white" v-if="props.row.label_notifica_fin_per_prueba">
                          {{ props.row.label_notifica_fin_per_prueba }}
                        </q-chip>
                      </q-td>

                      <q-td key="fecha_reg" :props="props" style="font-size:11px">
                        {{ props.row.fecha_reg }}
                      </q-td>

                      <q-td key="acciones" :props="props" class="text-right">

                          <q-btn v-if="props.row.estado_proceso !== 'sin_gestionar'" class="q-mr-sm" flat size="12px" color="blue-7" round  @click="props.expand = !props.expand" :icon="props.expand ? 'fas fa-chevron-up' : 'fas fa-chevron-down'" />
                          <q-btn  round color="purple-7" dense icon="fas fa-user-edit" flat size="10px" @click="abrirModalEditAspirante(props.row)"/>
                          <q-btn v-if="props.row.estado_proceso !== 'proceso_terminado'"  round color="red-6" dense icon="fas fa-trash" flat size="10px" @click="confirm(props.row, 'eliminar_aspirante')"/>

                      </q-td>

                    </q-tr>

                    <q-tr v-if="props.expand" :props="props" class="bg-white">
                      <q-td colspan="100%">
                        <div class="row q-pa-none">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              <q-splitter
                                v-model="splitterModel"
                                style="height: 300px"
                              >

                                <template v-slot:before>
                                  <q-tabs
                                    v-model="tab"
                                    vertical
                                    class="text-primary"
                                  >
                                    <q-tab name="entrevista" icon="fas fa-address-card" label="Entrevista" v-show="props.row.preseleccion == 'si'"/>
                                    <q-tab name="pruebas" icon="fas fa-spell-check" label="Pruebas" v-show="props.row.entrevista_aprobo == 'si'"/>
                                    <q-tab name="examen" icon="fas fa-user-md" label="Examen médico" v-show="props.row.pruebas_aprobo == 'si'"/>
                                    <q-tab name="contratacion" icon="fas fa-handshake" label="Contratación" v-show="props.row.examen_aprobo == 'si'"/>
                                  </q-tabs>
                                </template>

                                <template v-slot:after>
                                  <q-tab-panels
                                    v-model="tab"
                                    animated
                                    swipeable
                                    vertical
                                    transition-prev="jump-up"
                                    transition-next="jump-up"
                                  >
                                    <q-tab-panel name="entrevista">
                                      <div v-if="props.row.estado_proceso == 'preseleccionado'">
                                        <div class="text-h6 q-mb-md text-center text-primary text-bold">Programar Entrevista</div>
                                        <div class="row q-pa-none justify-center">
                                          Se notificará a &nbsp;<b>{{ props.row.nombre_completo }}</b>&nbsp;que debe presentarse a entrevista en la fecha y hora programada.
                                        </div>
                                        <div class="row q-pa-lg justify-center">
                                          <div class="col-3 q-mr-md">
                                            <q-input v-model="parametros.entrevistador[props.row.indice]"  label="Nombre entrevistador" stack-label maxlength="150"/>
                                          </div>
                                          <div class="col-3 q-mr-md">
                                            <q-input filled v-model="parametros.entrevista_fecha[props.row.indice]">
                                              <template v-slot:prepend>
                                                <q-icon color="blue-8" name="event" class="cursor-pointer">
                                                  <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                                                    <q-date :options="optionsFnAux"  :locale="myLocale" v-model="parametros.entrevista_fecha[props.row.indice]" mask="YYYY-MM-DD HH:mm">
                                                      <div class="row items-center justify-end">
                                                        <q-btn v-close-popup label="Close" color="primary" flat />
                                                      </div>
                                                    </q-date>
                                                  </q-popup-proxy>
                                                </q-icon>
                                              </template>

                                              <template v-slot:append>
                                                <q-icon color="green-8" name="access_time" class="cursor-pointer">
                                                  <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                                                    <q-time v-model="parametros.entrevista_fecha[props.row.indice]" mask="YYYY-MM-DD HH:mm" format24h>
                                                      <div class="row items-center justify-end">
                                                        <q-btn v-close-popup label="Close" color="primary" flat />
                                                      </div>
                                                    </q-time>
                                                  </q-popup-proxy>
                                                </q-icon>
                                              </template>
                                            </q-input>
                                          </div>
                                        </div>
                                        <div class="row q-pa-none justify-center">
                                          <q-btn color="primary" size="13px" no-caps icon-right="fas fa-paper-plane" label="Programar Entrevista" @click="confirm(props.row, 'entrevista', props.row.indice)"/>
                                        </div>
                                      </div>

                                      <div v-if="props.row.estado_proceso == 'entrevista'">
                                        <div class="text-h6 q-mb-lg text-center text-primary text-bold">Entrevista programada</div>
                                        <div class="row q-pa-sm justify-center" style="font-size:15px">
                                          <b>{{ props.row.nombre_completo }}</b>&nbsp;tiene programada una entrevista el día &nbsp;<b>{{ props.row.entrevista_fecha_cita }}</b>&nbsp;a las&nbsp;<b>{{ props.row.entrevista_hora_cita }}</b>, el entrevistador será<b>&nbsp;{{ props.row.entrevista_entrevistador }}</b>
                                        </div>
                                        <div class="row q-pa-sm justify-center" >
                                          <div class="col-3">
                                            <q-btn @click="abrirModalGestionAspirante(props.row, 'Reprogramar Cita', 'reprogramar')" color="white" size="14px" flat text-color="blue-7" label="Reprogramar entrevista" icon="fas fa-history" no-caps />
                                          </div>
                                          <div class="col-5">
                                            <q-btn @click="abrirModalGestionAspirante(props.row, 'Aprobar Entrevista', 'aprobar_entrevista')" no-caps color="green-8"  text-color="white" label="Aprobó" class="q-mr-md" icon="fas fa-thumbs-up"/>
                                            <q-btn @click="abrirModalGestionAspirante(props.row, 'NO Aprobar Entrevista', 'no_aprobar_entrevista')" no-caps color="red-8"  text-color="white" label="NO Aprobó" icon="fas fa-thumbs-down"/>
                                          </div>
                                        </div>
                                      </div>

                                      <div v-if="props.row.entrevista_aprobo == 'si'">

                                        <div class="q-mb-xs text-center text-primary text-bold bg-grey-3 q-pa-xs" style="font-size:15px">1. Entrevista programada</div>
                                        <div class="row q-pa-sm justify-center" style="font-size:15px">
                                          Entrevista programada el día &nbsp;<b>{{ props.row.entrevista_fecha_cita }}</b>&nbsp;a las&nbsp;<b>{{ props.row.entrevista_hora_cita }}</b>, el entrevistador fué<b>&nbsp;{{ props.row.entrevista_entrevistador }}</b>
                                        </div>

                                        <div class="q-mb-xs text-center text-primary text-bold bg-grey-3 q-pa-xs" style="font-size:15px">2. Entrevista aprobada</div>
                                        <div class="row q-pa-sm justify-center" style="font-size:15px">
                                          <b>{{ props.row.nombre_completo }}</b>&nbsp; aprobó la entrevista<br>
                                        </div>
                                        <div class="row q-pa-sm justify-center" style="font-size:15px" v-if="props.row.entrevista_observacion">
                                          <q-chat-message style="font-size: 11px;"
                                            :text="[props.row.entrevista_observacion]"
                                            sent
                                          />
                                        </div>
                                        <div class="row q-pa-sm justify-center" v-show="props.row.estado_proceso == 'entrevista_aprobada'">
                                          <div class="col-2">
                                            <q-btn @click="abrirModalGestionAspirante(props.row, 'Anular Aprobación de Entrevista', 'anular_aprobar_entrevista')" color="red-6" size="14px" flat text-color="red-7" label="Anular aprobación" icon="fas fa-history" no-caps />
                                          </div>
                                        </div>
                                      </div>

                                      <div v-if="props.row.entrevista_aprobo == 'no' && props.row.estado_proceso == 'proceso_terminado'">

                                        <div class="q-mb-xs text-center text-primary text-bold bg-grey-3 q-pa-xs" style="font-size:15px">1. Entrevista programada</div>
                                        <div class="row q-pa-sm justify-center" style="font-size:15px">
                                          Entrevista programada el día &nbsp;<b>{{ props.row.entrevista_fecha_cita }}</b>&nbsp;a las&nbsp;<b>{{ props.row.entrevista_hora_cita }}</b>, el entrevistador fué<b>&nbsp;{{ props.row.entrevista_entrevistador }}</b>
                                        </div>

                                        <div class="q-mb-xs text-center text-primary text-bold bg-grey-3 q-pa-xs" style="font-size:15px">Resultado Entrevista</div>
                                        <div class="row q-pa-sm justify-center" style="font-size:15px">
                                          <b>{{ props.row.nombre_completo }}</b>&nbsp; NO aprobó la entrevista<br>
                                        </div>
                                        <div class="row q-pa-sm justify-center" style="font-size:15px" v-if="props.row.entrevista_observacion">
                                          <q-chat-message style="font-size: 11px;"
                                            :text="[props.row.entrevista_observacion]"
                                            sent
                                          />
                                        </div>
                                        <div class="row q-pa-sm justify-center" v-show="props.row.estado_proceso == 'entrevista_aprobada'">
                                          <div class="col-2">
                                            <q-btn @click="abrirModalGestionAspirante(props.row, 'Anular Aprobación de Entrevista', 'anular_aprobar_entrevista')" color="red-6" size="14px" flat text-color="red-7" label="Anular aprobación" icon="fas fa-history" no-caps />
                                          </div>
                                        </div>
                                      </div>

                                    </q-tab-panel>

                                    <q-tab-panel name="pruebas">
                                      <div v-if="props.row.entrevista_aprobo == 'si' && props.row.pruebas == 'no'">
                                        <div class="text-h6 q-mb-none text-center text-primary text-bold">Programar Pruebas</div>
                                        <div class="row q-pa-md justify-center">
                                          <div class="col-4">
                                            <b>Lugar y Dirección:</b>&nbsp;{{ props.row.lugar_pruebas }},&nbsp; en la dirección {{ props.row.direccion_pruebas }}
                                          </div>
                                        </div>
                                        <div class="row q-pa-none justify-center">
                                          <div class="col-3 q-mr-md">
                                              <q-input filled v-model="parametros.pruebas_fecha[props.row.indice]">
                                                <template v-slot:prepend>
                                                  <q-icon color="blue-8" name="event" class="cursor-pointer">
                                                    <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                                                      <q-date :options="optionsFnAux"   :locale="myLocale" v-model="parametros.pruebas_fecha[props.row.indice]" mask="YYYY-MM-DD HH:mm">
                                                        <div class="row items-center justify-end">
                                                          <q-btn v-close-popup label="Close" color="primary" flat />
                                                        </div>
                                                      </q-date>
                                                    </q-popup-proxy>
                                                  </q-icon>
                                                </template>

                                                <template v-slot:append>
                                                  <q-icon color="green-8" name="access_time" class="cursor-pointer">
                                                    <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                                                      <q-time v-model="parametros.pruebas_fecha[props.row.indice]" mask="YYYY-MM-DD HH:mm" format24h>
                                                        <div class="row items-center justify-end">
                                                          <q-btn v-close-popup label="Close" color="primary" flat />
                                                        </div>
                                                      </q-time>
                                                    </q-popup-proxy>
                                                  </q-icon>
                                                </template>
                                              </q-input>
                                            </div>
                                        </div>
                                        <div class="row q-pa-md justify-center">
                                          <q-btn color="primary" size="13px" no-caps icon-right="fas fa-paper-plane" label="Programar Pruebas" @click="confirm(props.row, 'pruebas', props.row.indice)"/>
                                        </div>
                                      </div>

                                      <div v-if="props.row.pruebas == 'si' && props.row.pruebas_aprobo == 'no' && props.row.estado_proceso !== 'proceso_terminado'">
                                        <div class="q-mb-xs text-center text-primary text-bold bg-grey-3 q-pa-xs" style="font-size:15px">1. Prueba programada</div>
                                          <div class="row q-pa-sm justify-center" style="font-size:15px">
                                            Se programó las pruebas para el día &nbsp;<b>{{ props.row.pruebas_fecha }}</b>&nbsp;a las&nbsp;<b>{{ props.row.pruebas_hora }}</b>, debe presentarse en <b>&nbsp;{{ props.row.pruebas_lugar }}</b>
                                          </div>
                                          <div class="row q-pa-sm justify-center" >
                                            <div class="col-3">
                                              <q-btn @click="abrirModalGestionAspirante(props.row, 'Reprogramar Pruebas', 'reprogramar_pruebas')" color="white" size="14px" flat text-color="blue-7" label="Reprogramar pruebas" icon="fas fa-history" no-caps />
                                            </div>
                                            <div class="col-5">
                                              <q-btn @click="abrirModalGestionAspirante(props.row, 'Aprobar Pruebas', 'aprobar_pruebas')" no-caps color="green-8"  text-color="white" label="Pasó" class="q-mr-md" icon="fas fa-thumbs-up"/>
                                              <q-btn @click="abrirModalGestionAspirante(props.row, 'NO Aprobar Pruebas', 'no_aprobar_pruebas')" no-caps color="red-8"  text-color="white" label="NO Pasó" icon="fas fa-thumbs-down"/>
                                            </div>
                                        </div>
                                      </div>

                                      <div v-if="props.row.pruebas == 'si' && props.row.pruebas_aprobo == 'si'">
                                        <div class="q-mb-xs text-center text-primary text-bold bg-grey-3 q-pa-xs" style="font-size:15px">1. Prueba programada</div>
                                        <div class="row q-pa-sm justify-center" style="font-size:15px">
                                          Pruebas programadas el día &nbsp;<b>{{ props.row.pruebas_fecha }}</b>&nbsp;a las&nbsp;<b>{{ props.row.pruebas_hora }}</b>, en <b>&nbsp;{{ props.row.pruebas_lugar }}</b>
                                        </div>

                                        <div class="q-mb-xs text-center text-primary text-bold bg-grey-3 q-pa-xs" style="font-size:15px">2. Prueba aprobada</div>
                                        <div class="row q-pa-sm justify-center" style="font-size:15px">
                                          <b>{{ props.row.nombre_completo }}</b>&nbsp; aprobó las pruebas<br>
                                        </div>
                                        <div class="row q-pa-sm justify-center" style="font-size:15px" v-if="props.row.pruebas_observacion">
                                          <q-chat-message style="font-size: 11px;"
                                            :text="[props.row.pruebas_observacion]"
                                            sent
                                          />
                                        </div>
                                        <div class="row q-pa-sm justify-center" v-show="props.row.estado_proceso == 'pruebas_aprobada'">
                                          <div class="col-2">
                                            <q-btn @click="abrirModalGestionAspirante(props.row, 'Anuluar Aprobación de Pruebas', 'anular_aprobar_pruebas')" color="red-6" size="14px" flat text-color="red-7" label="Anular aprobación" icon="fas fa-history" no-caps />
                                          </div>
                                        </div>
                                      </div>

                                      <div v-if="props.row.pruebas_aprobo == 'no' && props.row.estado_proceso == 'proceso_terminado'">
                                        <div class="q-mb-xs text-center text-primary text-bold bg-grey-3 q-pa-xs" style="font-size:15px">Prueba programada</div>
                                        <div class="row q-pa-sm justify-center" style="font-size:15px">
                                          Pruebas programadas el día &nbsp;<b>{{ props.row.pruebas_fecha }}</b>&nbsp;a las&nbsp;<b>{{ props.row.pruebas_hora }}</b>, en <b>&nbsp;{{ props.row.pruebas_lugar }}</b>
                                        </div>

                                        <div class="q-mb-xs text-center text-primary text-bold bg-grey-3 q-pa-xs" style="font-size:15px">Resultado Pruebas</div>
                                        <div class="row q-pa-sm justify-center" style="font-size:15px">
                                          <b>{{ props.row.nombre_completo }}</b>&nbsp; NO aprobó las pruebas<br>
                                        </div>
                                        <div class="row q-pa-sm justify-center" style="font-size:15px" v-if="props.row.pruebas_observacion">
                                          <q-chat-message style="font-size: 11px;"
                                            :text="[props.row.pruebas_observacion]"
                                            sent
                                          />
                                        </div>
                                      </div>

                                    </q-tab-panel>

                                    <q-tab-panel name="examen">
                                      <div v-if="props.row.pruebas_aprobo == 'si' && props.row.examen == 'no'">
                                        <div class="text-h6 q-mb-none text-center text-primary text-bold">Programar Examen Médico</div>
                                        <div class="row q-pa-md justify-center">
                                          <div class="col-6">
                                            <b>Lugar y dirección:</b>&nbsp;{{ props.row.lugar_examen }},&nbsp; en la dirección {{ props.row.direccion_examen }}
                                          </div>
                                        </div>
                                        <div class="row q-pa-none justify-center">
                                          <div class="col-3 q-mr-md">
                                              <q-input filled v-model="parametros.examen_fecha[props.row.indice]">
                                                <template v-slot:prepend>
                                                  <q-icon color="blue-8" name="event" class="cursor-pointer">
                                                    <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                                                      <q-date :options="optionsFnAux"   :locale="myLocale" v-model="parametros.examen_fecha[props.row.indice]" mask="YYYY-MM-DD HH:mm">
                                                        <div class="row items-center justify-end">
                                                          <q-btn v-close-popup label="Close" color="primary" flat />
                                                        </div>
                                                      </q-date>
                                                    </q-popup-proxy>
                                                  </q-icon>
                                                </template>

                                                <template v-slot:append>
                                                  <q-icon color="green-8" name="access_time" class="cursor-pointer">
                                                    <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                                                      <q-time v-model="parametros.examen_fecha[props.row.indice]" mask="YYYY-MM-DD HH:mm" format24h>
                                                        <div class="row items-center justify-end">
                                                          <q-btn v-close-popup label="Close" color="primary" flat />
                                                        </div>
                                                      </q-time>
                                                    </q-popup-proxy>
                                                  </q-icon>
                                                </template>
                                              </q-input>
                                            </div>
                                        </div>
                                        <div class="row q-pa-md justify-center">
                                          <q-btn color="primary" size="13px" no-caps icon-right="fas fa-paper-plane" label="Programar Examen Médico" @click="confirm(props.row, 'examen', props.row.indice)"/>
                                        </div>
                                      </div>

                                      <div v-if="props.row.examen == 'si' && props.row.examen_aprobo == 'no' && props.row.estado_proceso !== 'proceso_terminado'">
                                        <div class="q-mb-xs text-center text-primary text-bold bg-grey-3 q-pa-xs" style="font-size:15px">1. Examen médico programado</div>
                                          <div class="row q-pa-sm justify-center" style="font-size:15px">
                                            El aspirante se envío a examen médico el &nbsp;<b>{{ props.row.examen_fecha }}</b>&nbsp;a las&nbsp;<b>{{ props.row.examen_hora }}</b>, en <b>&nbsp;{{ props.row.examen_lugar }}</b>
                                          </div>
                                          <div class="row q-pa-sm justify-center" >
                                            <div class="col-3">
                                              <q-btn @click="abrirModalGestionAspirante(props.row, 'Reprogramar Examen Médico', 'reprogramar_examen')" color="white" size="14px" flat text-color="blue-7" label="Reprogramar examen" icon="fas fa-history" no-caps />
                                            </div>
                                            <div class="col-5">
                                              <q-btn @click="abrirModalGestionAspirante(props.row, 'Aprobar Examen Médico', 'aprobar_examen')" no-caps color="green-8"  text-color="white" label="Pasó" class="q-mr-md" icon="fas fa-thumbs-up"/>
                                              <q-btn @click="abrirModalGestionAspirante(props.row, 'NO Aprobar Examen Médico', 'no_aprobar_examen')" no-caps color="red-8"  text-color="white" label="NO Pasó" icon="fas fa-thumbs-down"/>
                                            </div>
                                        </div>
                                      </div>

                                      <div v-if="props.row.examen == 'si' && props.row.examen_aprobo == 'no' && props.row.estado_proceso == 'proceso_terminado'">
                                        <div class="q-mb-xs text-center text-primary text-bold bg-grey-3 q-pa-xs" style="font-size:15px">Examen médico programado</div>
                                          <div class="row q-pa-sm justify-center" style="font-size:15px">
                                            El aspirante se envío a examen médico el &nbsp;<b>{{ props.row.examen_fecha }}</b>&nbsp;a las&nbsp;<b>{{ props.row.examen_hora }}</b>, en <b>&nbsp;{{ props.row.examen_lugar }}</b>
                                          </div>
                                          <div class="row q-pa-sm justify-center" style="font-size:15px">
                                            El aspirante NO pasó los exámenes médicos.
                                          </div>
                                          <div class="row q-pa-sm justify-center" style="font-size:15px" v-show="props.row.examen_observacion">
                                            <q-chat-message style="font-size: 11px;"
                                            :text="[props.row.examen_observacion]"
                                            sent
                                            />
                                          </div>
                                      </div>

                                      <div v-if="props.row.examen == 'si' && props.row.examen_aprobo == 'si'">
                                        <div class="q-mb-xs text-center text-primary text-bold bg-grey-3 q-pa-xs" style="font-size:15px">1. Examen médico programado</div>
                                        <div class="row q-pa-sm justify-center" style="font-size:15px">
                                          El aspirante se programó a examen médico el &nbsp;<b>{{ props.row.examen_fecha }}</b>&nbsp;a las&nbsp;<b>{{ props.row.examen_hora }}</b>, en <b>&nbsp;{{ props.row.examen_lugar }}</b>
                                        </div>

                                        <div class="q-mb-xs text-center text-primary text-bold bg-grey-3 q-pa-xs" style="font-size:15px">2. Examen médico aprobado</div>
                                        <div class="row q-pa-sm justify-center" style="font-size:15px">
                                          <b>{{ props.row.nombre_completo }}</b>&nbsp; aprobó los exámenes médicos<br>
                                        </div>
                                        <div class="row q-pa-sm justify-center" style="font-size:15px" v-if="props.row.examen_observacion">
                                          <q-chat-message style="font-size: 11px;"
                                            :text="[props.row.examen_observacion]"
                                            sent
                                          />
                                        </div>
                                        <div class="row q-pa-sm justify-center" v-show="props.row.estado_proceso == 'examen_medico_aprobo'">
                                          <div class="col-2">
                                            <q-btn @click="abrirModalGestionAspirante(props.row, 'Anuluar Aprobación de Examen Médico', 'anular_aprobar_examen')" color="red-6" size="14px" flat text-color="red-7" label="Anular aprobación" icon="fas fa-history" no-caps />
                                          </div>
                                        </div>
                                      </div>

                                    </q-tab-panel>

                                    <q-tab-panel name="contratacion">
                                      <div v-if="props.row.examen_aprobo == 'si' && props.row.contratacion == 'no' && props.row.estado_proceso !== 'proceso_terminado'">
                                        <div class="text-h6 q-mb-none text-center text-primary text-bold">Contratar el Aspirante</div>
                                        <div class="row q-pa-sm justify-center" style="font-size:15px">
                                          El aspirante&nbsp;<b>{{ props.row.nombre_completo }}</b>&nbsp;aprobó todo el proceso de selección y se debe elegir una fecha y hora de contratación para que se presente a laborar.
                                        </div>
                                        <div class="row q-pa-none justify-center">
                                          <div class="col-3 q-mr-md">
                                              <q-input filled v-model="parametros.contratacion_fecha[props.row.indice]">
                                                <template v-slot:prepend>
                                                  <q-icon color="blue-8" name="event" class="cursor-pointer">
                                                    <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                                                      <q-date :options="optionsFnAux"  :locale="myLocale" v-model="parametros.contratacion_fecha[props.row.indice]" mask="YYYY-MM-DD HH:mm">
                                                        <div class="row items-center justify-end">
                                                          <q-btn v-close-popup label="Close" color="primary" flat />
                                                        </div>
                                                      </q-date>
                                                    </q-popup-proxy>
                                                  </q-icon>
                                                </template>

                                                <template v-slot:append>
                                                  <q-icon color="green-8" name="access_time" class="cursor-pointer">
                                                    <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                                                      <q-time v-model="parametros.contratacion_fecha[props.row.indice]" mask="YYYY-MM-DD HH:mm" format24h>
                                                        <div class="row items-center justify-end">
                                                          <q-btn v-close-popup label="Close" color="primary" flat />
                                                        </div>
                                                      </q-time>
                                                    </q-popup-proxy>
                                                  </q-icon>
                                                </template>
                                              </q-input>
                                            </div>
                                        </div>
                                        <div class="row q-pa-md justify-center">
                                          <q-btn color="primary" size="13px" no-caps icon-right="fas fa-paper-plane" label="Contratar aspirante" @click="confirm(props.row, 'contratacion', props.row.indice)"/>
                                        </div>
                                      </div>

                                      <div v-if="props.row.contratacion == 'si'">
                                        <div class="q-mb-xs text-center text-primary text-bold bg-grey-3 q-pa-xs" style="font-size:15px">Contratado</div>
                                          <div class="row q-pa-sm justify-center" style="font-size:15px">
                                            El aspirante se debe presentar a laborar el día &nbsp;<b>{{ props.row.contratacion_fecha }}</b>&nbsp;a las&nbsp;<b>{{ props.row.contratacion_hora }}</b>, en las instalaciones de Icoharinas.<br>
                                          </div>
                                          <div class="row q-pa-sm justify-center" >
                                            <div class="col-3">
                                              <q-btn @click="abrirModalGestionAspirante(props.row, 'Reprogramar Ingreso', 'reprogramar_contratacion')" color="white" size="14px" flat text-color="blue-7" label="Reprogramar ingreso" icon="fas fa-history" no-caps />
                                            </div>
                                            <div class="col-5">
                                              <q-btn @click="abrirModalGestionAspirante(props.row, 'Cancelar contratación', 'contratacion_anular')" no-caps color="red-8"  text-color="white" label="Cancelar contratación"/>
                                            </div>
                                        </div>
                                        <div class="row q-pa-lg justify-center" style="font-size:15px">
                                          <q-btn @click="abrirModalGestionAspirante(props.row, 'Aprobar Examen Médico', 'aprobar_examen')" no-caps color="green-8"  text-color="white" label="Contratar directo" class="q-mr-md" icon="fas fa-arrow-right"/>
                                          <q-btn @click="abrirModalGestionAspirante(props.row, 'NO Aprobar Examen Médico', 'no_aprobar_examen')" no-caps color="red-6"  text-color="white" label="Cancelar contrato" />
                                          </div>
                                      </div>

                                      <div v-if="props.row.contratacion == 'no' && props.row.estado_proceso == 'proceso_terminado'">
                                        <div class="q-mb-xs text-center text-primary text-bold bg-grey-3 q-pa-xs" style="font-size:15px">Contratación</div>
                                          <div class="row q-pa-sm justify-center" style="font-size:15px">
                                            El aspirante NO fue contratado por los siguiente motivos:
                                          </div>
                                          <div class="row q-pa-sm justify-center" >
                                            <q-chat-message style="font-size: 11px;"
                                            :text="[props.row.contratacion_observaciones]"
                                            sent
                                          />
                                        </div>
                                      </div>

                                    </q-tab-panel>

                                  </q-tab-panels>
                                </template>

                              </q-splitter>
                          </div>
                        </div>
                      </q-td>
                    </q-tr>

                  </template>
                </q-table>
            </div>
          </div>

          <q-dialog v-model="modal_gestion">
            <q-card style="width: 800px; max-width: 80vw;">
              <q-card-section class="bg-primary">
                <div class="text-h6 text-center text-white">{{parametros.titulo_modal}}</div>
                <div class="text-center text-white">{{parametros.obj_aspirante.nombre_completo}}</div>
              </q-card-section>

              <q-card-section class="q-pt-lg" v-show="parametros.accion == 'reprogramar'">
                <div class="row q-pa-sm justify-center">
                  <div class="col-4 q-mr-md">
                    <q-input v-model="parametros.entrevista.entrevistador"  label="Nombre entrevistador" stack-label maxlength="150"/>
                  </div>
                  <div class="col-4 q-mr-md">
                    <q-input filled v-model="parametros.entrevista.fecha">
                      <template v-slot:prepend>
                        <q-icon color="blue-8" name="event" class="cursor-pointer">
                          <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                            <q-date :options="optionsFnAux"  :locale="myLocale" v-model="parametros.entrevista.fecha" mask="YYYY-MM-DD HH:mm">
                              <div class="row items-center justify-end">
                                <q-btn v-close-popup label="Close" color="primary" flat />
                              </div>
                            </q-date>
                          </q-popup-proxy>
                        </q-icon>
                      </template>

                      <template v-slot:append>
                        <q-icon color="green-8" name="access_time" class="cursor-pointer">
                          <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                            <q-time v-model="parametros.entrevista.fecha" mask="YYYY-MM-DD HH:mm" format24h>
                              <div class="row items-center justify-end">
                                <q-btn v-close-popup label="Close" color="primary" flat />
                              </div>
                            </q-time>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                </div>
              </q-card-section>

              <q-card-section class="q-pt-lg" v-show="parametros.accion == 'reprogramar_pruebas'">
                <div class="row q-pa-sm justify-center">
                  <div class="col-4 q-mr-md">
                    <q-input filled v-model="parametros.pruebas.fecha">
                      <template v-slot:prepend>
                        <q-icon color="blue-8" name="event" class="cursor-pointer">
                          <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                            <q-date :options="optionsFnAux"  :locale="myLocale" v-model="parametros.pruebas.fecha" mask="YYYY-MM-DD HH:mm">
                              <div class="row items-center justify-end">
                                <q-btn v-close-popup label="Close" color="primary" flat />
                              </div>
                            </q-date>
                          </q-popup-proxy>
                        </q-icon>
                      </template>

                      <template v-slot:append>
                        <q-icon color="green-8" name="access_time" class="cursor-pointer">
                          <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                            <q-time v-model="parametros.pruebas.fecha" mask="YYYY-MM-DD HH:mm" format24h>
                              <div class="row items-center justify-end">
                                <q-btn v-close-popup label="Close" color="primary" flat />
                              </div>
                            </q-time>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                </div>
              </q-card-section>

              <q-card-section class="q-pt-lg" v-show="parametros.accion == 'reprogramar_examen'">
                <div class="row q-pa-sm justify-center">
                  <div class="col-4 q-mr-md">
                    <q-input filled v-model="parametros.examen.fecha">
                      <template v-slot:prepend>
                        <q-icon color="blue-8" name="event" class="cursor-pointer">
                          <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                            <q-date :options="optionsFnAux"  :locale="myLocale" v-model="parametros.examen.fecha" mask="YYYY-MM-DD HH:mm">
                              <div class="row items-center justify-end">
                                <q-btn v-close-popup label="Close" color="primary" flat />
                              </div>
                            </q-date>
                          </q-popup-proxy>
                        </q-icon>
                      </template>

                      <template v-slot:append>
                        <q-icon color="green-8" name="access_time" class="cursor-pointer">
                          <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                            <q-time v-model="parametros.examen.fecha" mask="YYYY-MM-DD HH:mm" format24h>
                              <div class="row items-center justify-end">
                                <q-btn v-close-popup label="Close" color="primary" flat />
                              </div>
                            </q-time>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                </div>
              </q-card-section>

              <q-card-section class="q-pt-lg" v-show="parametros.accion == 'aprobar_entrevista' || parametros.accion == 'no_aprobar_entrevista'  ">
                <div class="row q-pa-sm justify-center">
                  <div class="col-8 q-mr-md">
                    <q-input filled v-model="parametros.entrevista.observacion" type="textarea"  label="Observaciones" stack-label/>
                  </div>
                </div>
              </q-card-section>

              <q-card-section class="q-pt-lg" v-show="parametros.accion == 'aprobar_pruebas' || parametros.accion == 'no_aprobar_pruebas'  ">
                <div class="row q-pa-sm justify-center">
                  <div class="col-8 q-mr-md">
                    <q-input filled v-model="parametros.pruebas.observacion" type="textarea"  label="Observaciones" stack-label/>
                  </div>
                </div>
              </q-card-section>

              <q-card-section class="q-pt-lg" v-show="parametros.accion == 'aprobar_examen' || parametros.accion == 'no_aprobar_examen'">
                <div class="row q-pa-sm justify-center">
                  <div class="col-8 q-mr-md">
                    <q-input filled v-model="parametros.examen.observacion" type="textarea"  label="Observaciones" stack-label/>
                  </div>
                </div>
              </q-card-section>

              <q-card-section class="q-pt-lg" v-show="parametros.accion == 'reprogramar_contratacion' || parametros.accion == 'contratacion_anular'">
                <div class="row q-pa-sm justify-center" v-if="parametros.accion == 'reprogramar_contratacion'">
                  <div class="col-4 q-mr-md">
                    <q-input filled v-model="parametros.contratacion.fecha">
                      <template v-slot:prepend>
                        <q-icon color="blue-8" name="event" class="cursor-pointer">
                          <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                            <q-date :options="optionsFnAux"  :locale="myLocale" v-model="parametros.contratacion.fecha" mask="YYYY-MM-DD HH:mm">
                              <div class="row items-center justify-end">
                                <q-btn v-close-popup label="Close" color="primary" flat />
                              </div>
                            </q-date>
                          </q-popup-proxy>
                        </q-icon>
                      </template>

                      <template v-slot:append>
                        <q-icon color="green-8" name="access_time" class="cursor-pointer">
                          <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                            <q-time v-model="parametros.contratacion.fecha" mask="YYYY-MM-DD HH:mm" format24h>
                              <div class="row items-center justify-end">
                                <q-btn v-close-popup label="Close" color="primary" flat />
                              </div>
                            </q-time>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                </div>
                <div class="row q-pa-sm justify-center">
                  <div class="col-8 q-mr-md">
                    <q-input filled v-model="parametros.contratacion.observacion" type="textarea"  label="Observaciones" stack-label/>
                  </div>
                </div>
              </q-card-section>

              <q-card-actions align="center" class="bg-white text-primary q-pa-md">
                <q-btn flat no-caps label="Cerrar" v-close-popup @click="limpiarVariables()" />
                <q-btn  no-caps label="Guardar información" color="primary" @click="confirm(parametros.obj_aspirante, parametros.accion)"/>
              </q-card-actions>
            </q-card>
          </q-dialog>

          <q-dialog v-model="modal_edit_aspirante">
            <q-card style="width: 1100px; max-width: 95vw;" class="q-pa-md">
              <rrhh-registro-hv :datos_editar="aspirante_selected"/>
            </q-card>
          </q-dialog>

      </div>
      <div v-if="$q.platform.is.desktop !== true" >

      </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      contadores: { en_proceso: 0, sin_gestionar: 0, preseleccionado: 0, entrevista: 0, entrevista_aprobo: 0, pruebas: 0, pruebas_aprobo: 0, examen: 0, examen_aprobo: 0, contratado: 0, proceso_terminado: 0 },
      fecha_corte: this.fechaActual,
      model: null,
      aspirante_selected: {},
      modal_edit_aspirante: false,
      modal_gestion: false,
      tab_filtro: 'en_proceso',
      tab: 'entrevista',
      splitterModel: 1,
      loading: false,
      filter: '',
      aspirantes: [],
      aspirantes_aux: [],
      parametros: {
        id_aspirante: '',
        accion: '',
        titulo_modal: '',
        msj_confirm: '',
        // Entrevista
        entrevistador: [],
        entrevista_fecha: [],
        entrevista: { entrevistador: '', fecha: '', observacion: '' },
        // Pruebas
        pruebas_lugar: [],
        pruebas_fecha: [],
        pruebas: { lugar: '', fecha: '', observacion: '' },
        // Examen
        examen_fecha: [],
        examen: { lugar: '', fecha: '', observacion: '' },
        // Contratacion
        contratacion_fecha: [],
        contratacion: { lugar: '', fecha: '', observacion: '' },
        obj_aspirante: {}
      },
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      },
      columns: [
        { name: 'estado_label', align: 'center', label: 'Estado', field: 'estado_label', sortable: true },
        { name: 'documento_identidad', align: 'right', label: 'Identificación', field: 'documento_identidad', sortable: true, style: 'max-width: 140px', headerStyle: 'max-width: 140px' },
        { name: 'fecha_expedicion', align: 'center', label: 'Fecha Expedición', field: 'fecha_expedicion', sortable: true, style: 'width: 125px', headerStyle: 'max-width: 125px' },
        { name: 'nombre_completo', align: 'left', label: 'Nombre y Apellidos', field: 'nombre_completo', sortable: true, style: 'width: 150px' },
        { name: 'celular', align: 'center', label: 'Celular', field: 'celular', sortable: true, style: 'width: 60px' },
        { name: 'correo', align: 'left', label: 'Correo', field: 'correo', sortable: true, style: 'width: 100px' },
        { name: 'cargo', align: 'left', label: 'Cargo Aspira', field: 'cargo', sortable: true, style: 'max-width: 250px', headerStyle: 'max-width: 250px' },
        { name: 'contratacion_fecha_fin_periodo_prueba', align: 'center', label: 'Fin Periodo Prueba', field: 'contratacion_fecha_fin_periodo_prueba', sortable: true, style: 'width: 125px', headerStyle: 'max-width: 125px' },
        { name: 'fecha_reg', align: 'center', label: 'Fecha reg.', field: 'fecha_reg', sortable: true, style: 'width: 150px' },
        { name: 'acciones', align: 'center', label: 'Acciones', field: 'acciones', sortable: false, style: 'width: 150px' }
      ],
      filtro: 'en_proceso',
      options: [
        {
          label: 'En proceso',
          value: 'en_proceso'
        },
        {
          label: 'Sin gestionar',
          value: 'sin_gestionar'
        },
        {
          label: 'Preseleccionado',
          value: 'preseleccionado'
        },
        {
          label: 'Entrevista',
          value: 'entrevista'
        },
        {
          label: 'Pasó entrevista',
          value: 'entrevista_aprobada'
        },
        {
          label: 'En pruebas',
          value: 'pruebas'
        },
        {
          label: 'Aprobó pruebas',
          value: 'pruebas_aprobada'
        },
        {
          label: 'Examen médico',
          value: 'examen_medico'
        },
        {
          label: 'Aprobó Exa. Médico',
          value: 'examen_medico_aprobo'
        },
        {
          label: 'Contratados',
          value: 'contratado'
        },
        {
          label: 'Proc. finalizados',
          value: 'proceso_terminado'
        },
        {
          label: 'Todos',
          value: 'todos'
        }
      ]
    }
  },
  computed: {
    actualizaListado () {
      return this.$store.getters['store/movimiento_registro']
    },
    api_url () {
      return this.$store.getters['store/url_api']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    fechaActual () {
      var today = new Date()
      var dd = today.getDate()
      var mm = today.getMonth() + 1 // January is 0!
      var yyyy = today.getFullYear()
      if (dd < 10) {
        dd = '0' + dd
      }
      if (mm < 10) {
        mm = '0' + mm
      }
      // var actual = dd + '/' + mm + '/' + yyyy
      var actual = yyyy + '/' + mm + '/' + dd
      return actual
    }
  },
  methods: {
    colorEstadoProceso (estado) {
      switch (estado) {
        case 'sin_gestionar':
          return 'white'
        case 'preseleccionado':
          return 'grey-7'
        case 'entrevista':
          return 'amber-7'
        case 'entrevista_aprobada':
          return 'amber-7'
        case 'pruebas':
          return 'light-blue-6'
        case 'pruebas_aprobada':
          return 'light-blue-6'
        case 'examen_medico':
          return 'cyan-4'
        case 'examen_medico_aprobo':
          return 'cyan-4'
        case 'contratado':
          return 'green-14'
        case 'proceso_terminado':
          return 'red-8'
        default:
          return ''
      }
    },
    abrirModalEditAspirante (objAspirante) {
      this.modal_edit_aspirante = true
      this.aspirante_selected = objAspirante
    },
    abrirModalGestionAspirante (objAspirante, tituloModal, accion) {
      this.parametros.obj_aspirante = objAspirante
      // Entrevista
      this.parametros.entrevista.entrevistador = objAspirante.entrevista_entrevistador
      this.parametros.entrevista.fecha = objAspirante.entrevista_fecha_cita + ' ' + objAspirante.entrevista_hora_cita
      // Pruebas
      this.parametros.pruebas.fecha = objAspirante.pruebas_fecha + ' ' + objAspirante.pruebas_hora
      // Examen Medico
      this.parametros.examen.fecha = objAspirante.examen_fecha + ' ' + objAspirante.examen_hora
      // Contratacion
      this.parametros.contratacion.fecha = objAspirante.contratacion_fecha + ' ' + objAspirante.contratacion_hora
      this.parametros.titulo_modal = tituloModal
      this.parametros.accion = accion
      this.modal_gestion = true
    },
    listadoAspirantes (tipoConsulta = 'filtrada') {
      var self = this
      self.loading = true
      axios.get(this.api_url + '/api/aspirante/listado/', {
        params: {
          token: localStorage.getItem('token'),
          deleted: '0',
          fecha_corte: this.fecha_corte,
          filtro: this.tab_filtro,
          tipo_consulta: tipoConsulta
        }
      }).then((response) => {
        self.aspirantes = response.data
      }).finally(function () {
        self.obtenerContadoresProcesos()
        self.loading = false
      })
    },
    obtenerContadoresProcesos () {
      var self = this
      axios.get(this.api_url + '/api/aspirante/listado/', {
        params: {
          token: localStorage.getItem('token'),
          deleted: '0',
          fecha_corte: '',
          filtro: 'no_aplica'
        }
      }).then((response) => {
        self.aspirantes_aux = response.data
      }).finally(function () {
        self.contadores.sin_gestionar = self.filtrarObjetoAspirantes('sin_gestionar').length
        self.contadores.preseleccionado = self.filtrarObjetoAspirantes('preseleccionado').length
        self.contadores.en_proceso = self.filtrarObjetoAspirantes('en_proceso').length
        self.contadores.entrevista = self.filtrarObjetoAspirantes('entrevista').length
        self.contadores.entrevista_aprobo = self.filtrarObjetoAspirantes('entrevista_aprobo').length
        self.contadores.pruebas = self.filtrarObjetoAspirantes('pruebas').length
        self.contadores.pruebas_aprobo = self.filtrarObjetoAspirantes('pruebas_aprobada').length
        self.contadores.examen = self.filtrarObjetoAspirantes('examen_medico').length
        self.contadores.examen_aprobo = self.filtrarObjetoAspirantes('examen_medico_aprobo').length
        self.contadores.contratado = self.filtrarObjetoAspirantes('contratado').length
        self.contadores.proceso_terminado = self.filtrarObjetoAspirantes('proceso_terminado').length
      })
    },
    filtrarObjetoAspirantes (TipoFiltrado) {
      var objeto
      if (TipoFiltrado === 'sin_gestionar') {
        objeto = this.aspirantes_aux.filter(asp => asp.estado_proceso === 'sin_gestionar')
      } else if (TipoFiltrado === 'preseleccionado') {
        objeto = this.aspirantes_aux.filter(asp => asp.estado_proceso === 'preseleccionado')
      } else if (TipoFiltrado === 'en_proceso') {
        objeto = this.aspirantes_aux.filter((asp) => {
          return asp.estado_proceso === 'preseleccionado' || asp.estado_proceso === 'entrevista' ||
                 asp.estado_proceso === 'entrevista_aprobada' || asp.estado_proceso === 'pruebas' || asp.estado_proceso === 'pruebas_aprobada' ||
                 asp.estado_proceso === 'examen_medico' || asp.estado_proceso === 'examen_medico_aprobo'
        })
      } else if (TipoFiltrado === 'entrevista') {
        objeto = this.aspirantes_aux.filter(asp => asp.estado_proceso === 'entrevista')
      } else if (TipoFiltrado === 'entrevista_aprobo') {
        objeto = this.aspirantes_aux.filter(asp => asp.estado_proceso === 'entrevista_aprobada')
      } else if (TipoFiltrado === 'pruebas') {
        objeto = this.aspirantes_aux.filter(asp => asp.estado_proceso === 'pruebas')
      } else if (TipoFiltrado === 'pruebas_aprobada') {
        objeto = this.aspirantes_aux.filter(asp => asp.estado_proceso === 'pruebas_aprobada')
      } else if (TipoFiltrado === 'examen_medico') {
        objeto = this.aspirantes_aux.filter(asp => asp.estado_proceso === 'examen_medico')
      } else if (TipoFiltrado === 'examen_medico_aprobo') {
        objeto = this.aspirantes_aux.filter(asp => asp.estado_proceso === 'examen_medico_aprobo')
      } else if (TipoFiltrado === 'contratado') {
        objeto = this.aspirantes_aux.filter(asp => asp.estado_proceso === 'contratado')
      } else if (TipoFiltrado === 'proceso_terminado') {
        objeto = this.aspirantes_aux.filter(asp => asp.estado_proceso === 'proceso_terminado')
      }
      return objeto
    },
    limpiarVariables () {
      this.parametros.id_aspirante = ''
      this.parametros.accion = ''
      this.parametros.titulo_modal = ''
      this.parametros.msj_confirm = ''
      // this.parametros.entrevista_fecha = []
      // this.parametros.entrevistador = []
      this.parametros.entrevista.entrevistador = ''
      this.parametros.entrevista.fecha = ''
      this.parametros.entrevista.observacion = ''
      this.parametros.pruebas.lugar = ''
      this.parametros.pruebas.fecha = ''
      this.parametros.pruebas.observacion = ''
      this.parametros.contratacion.lugar = ''
      this.parametros.contratacion.fecha = ''
      this.parametros.contratacion.observacion = ''
      this.parametros.obj_aspirante = {}
    },
    obtenerMsjConfirm (accion) {
      switch (accion) {
        case 'preseleccionado':
          return '¿Está seguro de preseleccionar el aspirante?'
        case 'eliminar_aspirante':
          return '¿Está seguro de eliminar el registro?'
        // Entrevista
        case 'entrevista':
          return '¿Está seguro de programar a entrevista al aspirante?'
        case 'reprogramar':
          return '¿Está seguro de reprogramar a entrevista al aspirante?'
        case 'aprobar_entrevista':
          return '¿Está seguro de aprobar la entrevista al aspirante?'
        case 'no_aprobar_entrevista':
          return '¿Está seguro que el aspirante NO aprobó la entrevista?<br><br>Esto terminará el proceso de selección actual.'
        case 'anular_aprobar_entrevista':
          return '¿Está seguro de anular la aprobación de la entrevista?'
        // Pruebas
        case 'pruebas':
          return '¿Está seguro de envíar a pruebas el aspirante?'
        case 'reprogramar_pruebas':
          return '¿Está seguro de reprogramar las pruebas al aspirante?'
        case 'aprobar_pruebas':
          return '¿Está seguro de aprobar la entrevista al aspirante?'
        case 'anular_aprobar_pruebas':
          return '¿Está seguro de anular la aprobación de las pruebas?'
        case 'no_aprobar_pruebas':
          return '¿Está seguro que el aspirante NO pasó las pruebas?<br><br>Esto terminará el proceso de selección actual.'
        // Examen médico
        case 'examen':
          return '¿Está seguro de enviar a examen médico el aspirante?'
        case 'reprogramar_examen':
          return '¿Está seguro de reprogramar el examen médico?'
        case 'aprobar_examen':
          return '¿Está seguro de aprobar el examen médico?'
        case 'no_aprobar_examen':
          return '¿Está seguro que el aspirante NO aprobó el examen médico?'
        case 'anular_aprobar_examen':
          return '¿Está seguro de anular la aprobación del examen médico?'
        // Contratacion
        case 'contratacion':
          return '¿Está seguro de contratar al aspirante?'
        case 'reprogramar_contratacion':
          return '¿Está seguro de reprogramar la fecha de ingreso al aspirante?'
        case 'contratacion_anular':
          return '¿Está seguro de anular la contratación del aspirante?<br><br>Esto finalizará el proceso de selección actual.'
        default:
          return ''
      }
    },
    confirm (objAspirante, accion, indice = 0) {
      // Entrevista
      if (accion === 'entrevista') {
        if (!this.parametros.entrevistador[indice]) {
          this.notificacion('red-8', 'white', 'fas fa-exclamation', 'Falta digitar el nombre del entrevistador', 'center', 4000, false)
          return false
        } else if (!this.parametros.entrevista_fecha[indice]) {
          this.notificacion('red-8', 'white', 'fas fa-exclamation', 'Falta elegir la fecha de la entrevista', 'center', 4000, false)
          return false
        } else {
          const hora = this.parametros.entrevista_fecha[indice].substring(this.parametros.entrevista_fecha[indice].length - 5)
          if (hora === '00:00') {
            this.notificacion('red-8', 'white', 'fas fa-exclamation', 'Falta elegir la hora de la entrevista', 'center', 4000, false)
            return false
          }
        }
        // Datos para llenar entrevista
        this.parametros.entrevista.entrevistador = this.parametros.entrevistador[indice]
        this.parametros.entrevista.fecha = this.parametros.entrevista_fecha[indice]
        this.parametros.entrevista_fecha = []
        this.parametros.entrevistador = []
      }

      // Reprogramar Entrevista
      if (accion === 'reprogramar') {
        if (!this.parametros.entrevista.entrevistador) {
          this.notificacion('red-8', 'white', 'fas fa-exclamation', 'Falta digitar el nombre del entrevistador', 'center', 4000, false)
          return false
        } else if (!this.parametros.entrevista.fecha) {
          this.notificacion('red-8', 'white', 'fas fa-exclamation', 'Falta elegir la fecha de la entrevista', 'center', 4000, false)
          return false
        } else {
          const hora = this.parametros.entrevista.fecha.substring(this.parametros.entrevista.fecha.length - 5)
          if (hora === '00:00') {
            this.notificacion('red-8', 'white', 'fas fa-exclamation', 'Falta elegir la hora de la entrevista', 'center', 4000, false)
            return false
          }
        }
      }

      // Pruebas
      if (accion === 'pruebas') {
        if (!this.parametros.pruebas_fecha[indice]) {
          this.notificacion('red-8', 'white', 'fas fa-exclamation', 'Falta elegir la fecha de las pruebas', 'center', 4000, false)
          return false
        } else {
          const hora = this.parametros.pruebas_fecha[indice].substring(this.parametros.pruebas_fecha[indice].length - 5)
          if (hora === '00:00') {
            this.notificacion('red-8', 'white', 'fas fa-exclamation', 'Falta elegir la hora de las pruebas', 'center', 4000, false)
            return false
          }
        }
        // Datos para llenar pruebas
        this.parametros.pruebas.fecha = this.parametros.pruebas_fecha[indice]
        this.parametros.pruebas_fecha = []
      }

      // Reprogramar Pruebas
      if (accion === 'reprogramar_pruebas') {
        if (!this.parametros.pruebas.fecha) {
          this.notificacion('red-8', 'white', 'fas fa-exclamation', 'Falta elegir la fecha de las pruebas', 'center', 4000, false)
          return false
        } else {
          const hora = this.parametros.pruebas.fecha.substring(this.parametros.pruebas.fecha.length - 5)
          if (hora === '00:00') {
            this.notificacion('red-8', 'white', 'fas fa-exclamation', 'Falta elegir la hora de las pruebas', 'center', 4000, false)
            return false
          }
        }
      }

      // Examen médico
      if (accion === 'examen') {
        if (!this.parametros.examen_fecha[indice]) {
          this.notificacion('red-8', 'white', 'fas fa-exclamation', 'Falta elegir la fecha del examen médico', 'center', 4000, false)
          return false
        } else {
          const hora = this.parametros.examen_fecha[indice].substring(this.parametros.examen_fecha[indice].length - 5)
          if (hora === '00:00') {
            this.notificacion('red-8', 'white', 'fas fa-exclamation', 'Falta elegir la hora del examen médico', 'center', 4000, false)
            return false
          }
        }
        // Datos para llenar examen
        this.parametros.examen.fecha = this.parametros.examen_fecha[indice]
        this.parametros.examen_fecha = []
      }

      if (accion === 'reprogramar_examen') {
        if (!this.parametros.examen.fecha) {
          this.notificacion('red-8', 'white', 'fas fa-exclamation', 'Falta elegir la fecha del examen médico', 'center', 4000, false)
          return false
        } else {
          const hora = this.parametros.examen.fecha.substring(this.parametros.examen.fecha.length - 5)
          if (hora === '00:00') {
            this.notificacion('red-8', 'white', 'fas fa-exclamation', 'Falta elegir la hora del examen médico', 'center', 4000, false)
            return false
          }
        }
      }

      // Contratacion
      if (accion === 'contratacion') {
        if (!this.parametros.contratacion_fecha[indice]) {
          this.notificacion('red-8', 'white', 'fas fa-exclamation', 'Falta elegir la fecha que se debe presentar el aspirante a laborar', 'center', 4000, false)
          return false
        } else {
          const hora = this.parametros.contratacion_fecha[indice].substring(this.parametros.contratacion_fecha[indice].length - 5)
          if (hora === '00:00') {
            this.notificacion('red-8', 'white', 'fas fa-exclamation', 'Falta elegir la hora que se debe presentar el aspirante a laborar', 'center', 4000, false)
            return false
          }
        }
        // Datos para llenar
        this.parametros.contratacion.fecha = this.parametros.contratacion_fecha[indice]
        this.parametros.contratacion_fecha = []
      }

      // Reprogramar fecha de contrataciojn
      if (accion === 'reprogramar_contratacion') {
        if (!this.parametros.contratacion.fecha) {
          this.notificacion('red-8', 'white', 'fas fa-exclamation', 'Falta elegir la fecha de ingreso del aspirante a laborar', 'center', 4000, false)
          return false
        } else {
          const hora = this.parametros.contratacion.fecha.substring(this.parametros.contratacion.fecha.length - 5)
          if (hora === '00:00') {
            this.notificacion('red-8', 'white', 'fas fa-exclamation', 'Falta elegir la hora que se debe presentar el aspirante a laborar', 'center', 4000, false)
            return false
          }
        }
      }

      this.parametros.id_aspirante = objAspirante.id_aspirante
      this.parametros.accion = accion
      this.parametros.msj_confirm = this.obtenerMsjConfirm(accion)
      this.$q.dialog({
        title: 'Gestionar aspirante',
        message: this.parametros.msj_confirm,
        cancel: true,
        html: true,
        persistent: true
      }).onOk(() => {
        this.cambiaEstadoProceso()
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    cambiaEstadoProceso () {
      this.showLoading('Cambiando etapa del aspirante, por favor espere un momento...')
      var self = this
      axios.put(this.api_url + '/api/aspirante/cambia-estado-proceso/', {
        parametros: this.parametros,
        token: localStorage.getItem('token')
      }).then(function (res) {
        let mensaje = res.data.mensaje
        let estado = res.data.estado
        if (estado === 'ok') {
          self.notificacionToast('success', mensaje, 'top-right', 4000)
          self.listadoAspirantes()
          self.modal_gestion = false
          self.limpiarVariables()
        } else {
          self.notificacionToast('error', mensaje, 'top-right', 4000)
        }
        self.hideLoading()
      }).catch(function (err) {
        this.notificacionToast('error', err, 'top-right', 4000)
        self.hideLoading()
      })
    },
    notificacionToast (tipoNotif, msj, posicion, duracion) {
      this.$toast(msj, {
        position: posicion,
        type: tipoNotif,
        timeout: duracion,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        // draggable: true,
        // draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: 'button',
        icon: true,
        rtl: false
      })
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    optionsFnAux (date) {
      return date >= this.fechaActual
    },
    notificacion (color, colorTexto, icono, mensaje, posicion, tiempo, ishtml) {
      this.$q.notify({
        html: ishtml,
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        timeout: tiempo,
        position: posicion
      })
    },
    formatPrice (value, decimales = 0) {
      let val = (value / 1).toFixed(decimales).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    }
  },
  created () {
  },
  beforeDestroy () {
  },
  mounted () {
    this.listadoAspirantes()
  },
  watch: {
    tab_filtro () {
      this.fecha_corte = ''
      this.listadoAspirantes('tab')
    },
    actualizaListado () {
      this.listadoAspirantes()
      this.modal_edit_aspirante = false
    }
  }
}
</script>
<style>
.q-table tbody td:after{
  background: rgba(2, 66, 27, 0.2);
}
.q-table tbody td:before{
  background: rgba(4, 110, 22, 0.1);
}
</style>
