<template>

  <div class="row" v-if="!verificaPermiso(30)">
    <usuarios-no-autorizado/>
  </div>

  <div class="q-pa-none" v-else>
      <div class="q-pa-none" v-if="$q.platform.is.desktop === true">
          <div class="row">
            <div class="col-12 text-center">
              <q-img src="../../statics/user.png"  :style="datos_editar ? 'max-width: 70px; height: 70px' : 'max-width: 120px; height: 120px'"  contain/>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center text-bold text-blue-grey-7" style="font-size:19px">
              {{ datos_editar ? 'Editar Hoja de Vida (Aspirante)' : 'Registro Hoja de Vida (Aspirante)' }}
            </div>
          </div>
          <br>
          <q-separator inset/>
          <br>
          <div class="row flex-center" >
            <div :class="datos_editar ? 'col-11 bg-white q-pa-xs bg-grey-1 rounded-borders' : 'col-8 bg-white q-pa-lg'" style="border-left: 0.2rem solid #C6E1D3;">
              <div class="row q-pa-sm">
                    <section class="q-my-xs q-mr-sm text-subtitle1" ><div class="doc-card-title">Información básica del aspirante</div></section>
              </div>

              <q-card class="text-white no-shadow bg-red-1"  v-show="procesos_abiertos.length>0">
                <q-card-section>
                  <div class="text-h6 q-pa-none text-red-8">
                    Aspirante con proceso vigente
                  </div>
                  <div class="q-pa-none text-grey-8">
                    El aspirante cuenta con un proceso vigente, debe finalizar proceso para poder comenzar con uno nuevo.
                  </div>
                </q-card-section>
                <q-card-actions class="q-pa-xs" align="center">
                  <q-btn flat color="red" @click="confirmFinalizarProceso(procesos_abiertos[0].id_aspirante)">
                    Finalizar proceso
                  </q-btn>
                </q-card-actions>
              </q-card>

              <div class="row q-pa-md">
                <div class="col-3 q-mr-lg">
                  <q-input type="number" debounce="1500" @input="obtenerInfoAspirante(aspirante.documento_identidad)" ref="documento_identidad" maxlength="6" v-model="aspirante.documento_identidad" label="Documento de identidad" stack-label/>
                </div>
                <div class="col-3">
                  <q-input v-model="aspirante.fecha_expedicion" ref="fecha_expedicion" label="Fecha expedición" stack-label readonly>
                    <template v-slot:append>
                        <q-icon color="primary" name="event" class="cursor-pointer">
                          <q-popup-proxy ref="qDateProxy1" transition-show="scale" transition-hide="scale" >
                            <q-date :locale="myLocale" v-model="aspirante.fecha_expedicion" mask="YYYY-MM-DD" @input="$refs.qDateProxy1.hide();" />
                          </q-popup-proxy>
                        </q-icon>
                    </template>
                  </q-input>
                </div>
              </div>

              <div class="row q-pa-md">
                <div class="col-3 q-mr-md">
                  <q-input  v-model="aspirante.apellido1"  ref="apellido1" label="Primer apellido" stack-label maxlength="35"/>
                </div>
                <div class="col-3 q-mr-md">
                  <q-input  v-model="aspirante.apellido2" ref="apellido2" label="Segundo apellido" stack-label maxlength="35"/>
                </div>
                <div class="col-2 q-mr-md">
                  <q-input  v-model="aspirante.nombre1" ref="nombre1" label="Primer nombre" stack-label maxlength="35"/>
                </div>
                <div class="col-2">
                  <q-input  v-model="aspirante.nombre2" ref="nombre2" label="Segundo nombre" stack-label maxlength="35"/>
                </div>
              </div>

              <div class="row q-pa-md">
                <div class="col-4 q-mr-md">
                  <q-input type="email" v-model="aspirante.correo" ref="correo" label="Correo electrónico" stack-label maxlength="150"/>
                </div>
                <div class="col-3 q-mr-md">
                  <q-input  v-model="aspirante.celular" ref="celular" label="Celular" stack-label mask="(###) ### - ####" maxlength="35"/>
                </div>
              </div>

              <div class="row q-pa-md">
                <div class="col-5">
                  <q-input  v-model="aspirante.cargo" ref="cargo" label="Cargo al que aspira" stack-label maxlength="120"/>
                </div>
                <div class="col-7" align="right">
                  <q-btn color="grey-8" icon="fas fa-paperclip" :label="adjunto.name ? 'Cambiar archivo' : 'Adjuntar hoja de vida'" flat no-caps @click="abrirVentanaAdjunto('file')"/>
                  <div v-show="adjunto.name" style="font-size:11px" class="q-pa-md">Archivo a subir : {{adjunto.name}}<q-btn  size="xs" v-show="adjunto.name" color="red-7" flat no-caps text-color="red" icon="fas fa-window-close" @click="adjunto = []"/></div>
                  <q-file @rejected="onRejected" accept=".jpg,.pdf,.png" max-file-size="5242880"  v-show="false"  dense ref="file" v-model="adjunto" ></q-file>
                  <q-btn @click="descargarArchivo(aspirante.existe_adjunto)" v-show="aspirante.existe_adjunto !== 'no'" flat color="blue-8" size="14px" no-caps label="Ver hoja de vida" icon="fas fa-id-card" />
                </div>
              </div>

            </div>
            <div class="col-8 q-pa-md text-center">
              <q-btn  rounded color="primary" :label="datos_editar ? 'Guardar Cambios' : 'Registrar Hoja de Vida'" @click="confirm"/>
            </div>
          </div>
      </div>
      <div v-if="$q.platform.is.desktop !== true" >

      </div>
  </div>
</template>

<script>
import axios from 'axios'
import { mapActions } from 'vuex'
export default {
  props: {
    datos_editar: {
      type: Object,
      required: false
    }
  },
  data () {
    return {
      procesos_abiertos: [],
      adjunto: [],
      aspirante: {
        id: '',
        documento_identidad: '',
        fecha_expedicion: '',
        apellido1: '',
        apellido2: '',
        nombre1: '',
        nombre2: '',
        celular: '',
        correo: '',
        cargo: '',
        existe_adjunto: 'no'
      },
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      }
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    }
  },
  methods: {
    descargarArchivo (archivo) {
      window.location.href = this.api_url + '/api/aspirante/descargar-hv/' + archivo
    },
    validarCampos () {
      var resultado = ''
      if (this.aspirante.documento_identidad === '') {
        resultado += '* Falta digitar el documento de identidad'
        this.$refs.documento_identidad.focus()
      } else if (this.aspirante.fecha_expedicion === '') {
        resultado += '* Falta seleccionar la fecha de expedición'
        this.$refs.fecha_expedicion.focus()
      } else if (this.aspirante.apellido1 === '') {
        resultado += '* Falta digitar el primer apellido'
        this.$refs.apellido1.focus()
      } else if (this.aspirante.nombre1 === '') {
        resultado += '* Falta digitar el primer nombre'
        this.$refs.nombre1.focus()
      } else if (this.aspirante.correo === '') {
        resultado += '* Falta digitar el correo eletrónico'
        this.$refs.correo.focus()
      } else if (!this.validarEmail(this.aspirante.correo)) {
        resultado += '* Correo inválido, por favor verificarlo'
      } else if (this.aspirante.celular === '') {
        resultado += '* Falta digitar el número de celular'
        this.$refs.celular.focus()
      } else if (this.aspirante.cargo === '') {
        resultado += '* Falta digitar el cargo que aspira'
        this.$refs.cargo.focus()
      }
      return resultado
    },
    inicializarFormulario () {
      this.$refs.documento_identidad.focus()
      this.aspirante.documento_identidad = ''
      this.aspirante.id = ''
      this.aspirante.fecha_expedicion = ''
      this.aspirante.apellido1 = ''
      this.aspirante.nombre1 = ''
      this.aspirante.apellido2 = ''
      this.aspirante.nombre2 = ''
      this.aspirante.correo = ''
      this.aspirante.celular = ''
      this.aspirante.cargo = ''
      this.adjunto = []
    },
    validarEmail (email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(email)
    },
    confirm () {
      var validacion = this.validarCampos()
      if (validacion !== '') {
        this.notificacionToast('error', validacion, 'top-right', 3500)
        return false
      }
      this.$q.dialog({
        title: this.aspirante.id ? 'Actualizar Información' : 'Registrar Hoja de Vida',
        message: this.aspirante.id ? '¿Está seguro de guardar los cambios?' : '¿Está seguro de registrar la hoja de vida de ' + this.aspirante.nombre1 + ' ' + this.aspirante.apellido1 + '?',
        cancel: true,
        html: true,
        persistent: true
      }).onOk(() => {
        this.registrarAspirante()
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    onRejected (rejectedEntries) {
      this.$q.notify({
        type: 'negative',
        html: true,
        position: 'top-right',
        timeout: 8000,
        message: 'Archivo no debe superar las 5MB'
      })
    },
    abrirVentanaAdjunto (ref) {
      this.$refs[ref].pickFiles()
    },
    confirmFinalizarProceso (IdAspirante) {
      this.$q.dialog({
        title: 'Finalizar proceso aspirante',
        message: '¿Está seguro de finalizar el proceso?',
        cancel: true,
        html: true,
        persistent: true
      }).onOk(() => {
        this.finalizarProceso(IdAspirante)
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    obtenerInfoAspirante (documentoIdentidad) {
      // Para que solo se ejecute cuando sea un nuevo registro
      if (!this.datos_editar) {
        var self = this
        axios.get(this.api_url + '/api/aspirante/obtener-info-documento/', {
          params: {
            token: localStorage.getItem('token'),
            documento_identidad: documentoIdentidad
          }
        }).then((response) => {
          if (response.data) {
            self.showLoading('Obteniendo información del aspirante, por favor espere ...')
            self.aspirante.fecha_expedicion = response.data.fecha_expedicion
            self.aspirante.apellido1 = response.data.apellido1
            self.aspirante.nombre1 = response.data.nombre1
            self.aspirante.apellido2 = response.data.apellido2
            self.aspirante.nombre2 = response.data.nombre2
            self.aspirante.correo = response.data.correo
            self.aspirante.celular = response.data.celular
            self.aspirante.cargo = response.data.cargo
          } else {
            self.aspirante.id = ''
            self.aspirante.fecha_expedicion = ''
            self.aspirante.apellido1 = ''
            self.aspirante.nombre1 = ''
            self.aspirante.apellido2 = ''
            self.aspirante.nombre2 = ''
            self.aspirante.correo = ''
            self.aspirante.celular = ''
            self.aspirante.cargo = ''
          }
        }).finally(function () {
          self.hideLoading()
        })
      }
    },
    registrarAspirante () {
      this.showLoading('Registrando información del aspirante, por favor espere un momento...')
      var self = this
      const fd = new FormData()
      var asp = JSON.stringify(this.aspirante)
      fd.append('aspirante', asp)
      fd.append('file', this.adjunto)
      fd.append('token', localStorage.getItem('token'))

      axios.post(this.api_url + '/api/aspirante/registro/',
        fd,
        {
          headers: { 'Content-Type': 'multipart/form-data' }
        }).then(function (res) {
        let mensaje = res.data.mensaje
        let estado = res.data.estado
        if (estado === 'ok') {
          self.notificacionToast('success', mensaje, 'top-right', 4000)
          self.inicializarFormulario()
          self.movimientoRegistro()
        } else if (estado === 'proceso_abierto') {
          // self.notificacion('orange-14', 'white', 'fas fa-exclamation', mensaje, 'center', 4000, false)
          self.procesos_abiertos = res.data.proceso
        } else {
          self.notificacionToast('error', mensaje, 'top-right', 4000)
        }
        self.hideLoading()
      }).catch(function (err) {
        this.notificacionToast('error', err, 'top-right', 3500)
        self.hideLoading()
      })
    },
    finalizarProceso (IdAspirante) {
      this.showLoading('Finalizando proceso, por favor espere un momento...')
      var self = this
      axios.put(this.api_url + '/api/aspirante/finalizar-proceso/', {
        id_aspirante: IdAspirante,
        token: localStorage.getItem('token')
      }).then(function (res) {
        let mensaje = res.data.mensaje
        let estado = res.data.estado
        if (estado === 'ok') {
          self.notificacionToast('success', mensaje, 'top-right', 4000)
          self.procesos_abiertos = []
        } else {
          self.notificacionToast('error', mensaje, 'top-right', 4000)
        }
        self.hideLoading()
      }).catch(function (err) {
        this.notificacionToast('error', err, 'top-right', 4000)
        self.hideLoading()
      })
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    notificacion (color, colorTexto, icono, mensaje, posicion, tiempo, ishtml) {
      this.$q.notify({
        html: ishtml,
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        timeout: tiempo,
        position: posicion
      })
    },
    notificacionToast (tipoNotif, msj, posicion, duracion) {
      this.$toast(msj, {
        position: posicion,
        type: tipoNotif,
        timeout: duracion,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        // draggable: true,
        // draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: 'button',
        icon: true,
        rtl: false
      })
    },
    formatPrice (value, decimales = 0) {
      let val = (value / 1).toFixed(decimales).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    obtenerDatosEditar () {
      if (this.datos_editar) {
        this.aspirante.id = this.datos_editar.id_aspirante
        this.aspirante.documento_identidad = this.datos_editar.documento_identidad
        this.aspirante.fecha_expedicion = this.datos_editar.fecha_expedicion
        this.aspirante.apellido1 = this.datos_editar.apellido1
        this.aspirante.nombre1 = this.datos_editar.nombre1
        this.aspirante.apellido2 = this.datos_editar.apellido2
        this.aspirante.nombre2 = this.datos_editar.nombre2
        this.aspirante.correo = this.datos_editar.correo
        this.aspirante.celular = this.datos_editar.celular
        this.aspirante.cargo = this.datos_editar.cargo
        this.aspirante.existe_adjunto = this.datos_editar.adjunto
      }
    },
    ...mapActions('store', ['movimientoRegistro'])
  },
  created () {
  },
  beforeDestroy () {
  },
  mounted () {
    this.obtenerDatosEditar()
  },
  watch: {
  }
}
</script>
<style>
.doc-card-title {
  margin-left: -24px;
  padding: 2px 10px 2px 24px;
  background: #225A3F;
  color: #ffffff;
  position: relative;
  border-radius: 3px 5px 5px 0;
}
.doc-card-title::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
    border-top-color: transparent;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
  border-top-color: #2D7B58;
  border-width: 9px 0 0 11px;
}
</style>
