<template>
<q-page :class="$q.platform.is.desktop === true ? 'bg-grey-1':'bg-white'">
  <div v-if="$q.platform.is.desktop === true">
    <div class="row" v-if="!verificaPermiso(3)">
      <usuarios-no-autorizado/>
    </div>
    <div class="q-pa-none" v-else>
      <q-toolbar class="bg-primary text-white">
        <q-toolbar-title class="text-bold"><q-icon name="fas fa-hand-holding-usd" class="q-mr-md" size="30px"/>Ventas</q-toolbar-title>
      </q-toolbar><br>
      <div class="row q-pa-sm">
        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
          <div class="q-pa-none" style="max-width: 230px">
            <q-list  class="text-primary  menu-list">

              <q-item clickable v-ripple  @click="mostrarComponente('ventas-dashboard', 'dashboard')" :active="link === 'dashboard'" active-class="my-menu-link" >
                <q-item-section avatar>
                  <q-icon name="fas fa-chart-pie"></q-icon>
                </q-item-section>
                <q-item-section class="text-grey-9 text-bold" >Tablero principal</q-item-section>
              </q-item>

              <q-item clickable v-ripple @click="mostrarComponente('ventas-despachos', 'despachos')" :active="link === 'despachos'" active-class="my-menu-link">
                <q-item-section avatar >
                  <q-icon name="fas fa-boxes" ></q-icon>
                </q-item-section>
                <q-item-section class="text-grey-9 text-bold">Despachos</q-item-section>
              </q-item>

              <q-expansion-item>
                <template v-slot:header>
                  <q-item-section avatar>
                    <q-icon color="primary" name="fas fa-chart-bar" />
                  </q-item-section>

                  <q-item-section class="text-grey-9 text-bold">
                    Presupuestos
                  </q-item-section>
                </template>
                <q-item clickable v-ripple :active="link === 'presupuestos'" active-class="my-menu-link" @click="mostrarComponente('ventas-presupuestos', 'presupuestos')">
                  <q-item-section avatar>
                  </q-item-section>
                  <q-item-section class="text-grey-9">Info. General</q-item-section>
                </q-item>
                <q-item clickable v-ripple :active="link === 'presupuestos-mes'" active-class="my-menu-link" @click="mostrarComponente('ventas-presupuesto-mes', 'presupuestos-mes')">
                  <q-item-section avatar>
                  </q-item-section>
                  <q-item-section class="text-grey-9">Ventas por mes</q-item-section>
                </q-item>
                <q-item clickable v-ripple :active="link === 'presupuestos-mes-vendedor'" active-class="my-menu-link" @click="mostrarComponente('ventas-presupuesto-mes-vendedor', 'presupuestos-mes-vendedor')">
                  <q-item-section avatar>
                  </q-item-section>
                  <q-item-section class="text-grey-9">Ventas por vendedor</q-item-section>
                </q-item>
                <q-item clickable v-ripple :active="link === 'presupuestos-vendendor'" active-class="my-menu-link" @click="mostrarComponente('ventas-asigna-presupuesto-vendedor', 'presupuestos-vendendor')">
                  <q-item-section avatar>
                  </q-item-section>
                  <q-item-section class="text-grey-9">Asignar Presupuesto</q-item-section>
                </q-item>
              </q-expansion-item>

              <q-expansion-item>
                <template v-slot:header>
                  <q-item-section avatar>
                    <q-icon color="primary" name="fas fa-list" />
                  </q-item-section>

                  <q-item-section class="text-grey-9 text-bold">
                    Informes
                  </q-item-section>
                </template>
                <q-item clickable v-ripple :active="link === 'info-nc'" active-class="my-menu-link" @click="mostrarComponente('ventas-informe-notas-credito', 'info-nc')">
                  <q-item-section avatar>
                  </q-item-section>
                  <q-item-section class="text-grey-9">Notas Crédito</q-item-section>
                </q-item>
                <q-item clickable v-ripple :active="link === 'info-fac'" active-class="my-menu-link" @click="mostrarComponente('ventas-informe-facturacion', 'info-fac')">
                  <q-item-section avatar>
                  </q-item-section>
                  <q-item-section class="text-grey-9">Ventas</q-item-section>
                </q-item>
                <q-item clickable v-ripple :active="link === 'info-cart'" active-class="my-menu-link" @click="mostrarComponente('ventas-informe-cartera', 'info-cart')">
                  <q-item-section avatar>
                  </q-item-section>
                  <q-item-section class="text-grey-9">Cartera</q-item-section>
                </q-item>
                <q-item clickable v-ripple :active="link === 'gest-vendedores'" active-class="my-menu-link" @click="mostrarComponente('gestion-vendedores', 'gest-vendedores')">
                  <q-item-section avatar>
                  </q-item-section>
                  <q-item-section class="text-grey-9">Gest. Vendedores</q-item-section>
                </q-item>
                <q-item clickable v-ripple :active="link === 'tablero-diario'" active-class="my-menu-link" @click="mostrarComponente('tablero-diario', 'tablero-diario')">
                  <q-item-section avatar>
                  </q-item-section>
                  <q-item-section class="text-grey-9">Tablero Diario</q-item-section>
                </q-item>
              </q-expansion-item>

              <q-item v-show="false" clickable v-ripple @click="mostrarComponente('ventas-mercado', 'mercado')" :active="link === 'mercado'" active-class="my-menu-link">
                <q-item-section avatar>
                  <q-icon name="fas fa-globe" ></q-icon>
                </q-item-section>
                <q-item-section class="text-grey-9 text-bold">Mercado</q-item-section>
              </q-item>

            </q-list>
          </div>
        </div>
        <div class="col-xs-4 col-sm-10 col-md-10 col-lg-10">
          <!--<keep-alive>-->
            <component v-bind:is="componenteActual"></component>
          <!--<</keep-alive>-->
        </div>
      </div>
    </div>
  </div>
  <div class="q-pa-none" v-if="$q.platform.is.mobile === true">
    <q-dialog v-model="dialog_proy_cli" :position="position">
      <div class="row bg-white">
        <div class="col-12">
          <q-list bordered v-show="proyeccion_venta.length>0">
            <q-item v-ripple class="bg-primary text-white">
                <q-item-section class="text-bold" style="font-size:16px">Proyección - {{ unidad_medida }}</q-item-section>
                <q-item-section class="text-bold text-right"><q-btn flat icon="close" label="Cerrar" @click="dialog_proy_cli=false"/></q-item-section>
            </q-item>
            <q-scroll-area style="height: 350px;">
              <div class="row " v-for="(proyeccion, index) in proyeccion_venta" :key="index" >
                <q-item dense v-ripple >
                  <q-item-section style="font-size:12px">{{ proyeccion.cliente }}</q-item-section>
                  <q-item-section side class="text-right text-bold text-primary">
                    {{ formatPrice(proyeccion.peso) }}
                  </q-item-section>
                </q-item>
              </div>
            </q-scroll-area>
            <q-item class="bg-grey-3">
                <q-item-section style="font-size:15px" class="text-bold">Total {{ unidad_medida }}</q-item-section>
                <q-item-section class="text-right text-bold text-primary" style="font-size:15px">
                  {{formatPrice(total_bultos_proyeccion)}}
                </q-item-section>
              </q-item>
          </q-list>
        </div>
      </div>
    </q-dialog>

      <div class="row q-py-xs q-col-gutter-x-xs q-col-gutter-y-lg" >
        <div class="col-12" align="center" >
          <q-btn-toggle
            v-model="unidad_medida"
            color="grey-5 "
            toggle-color="primary"
            flat
            @click="conversionVenta()"
            no-caps
            :options="[
              {label: 'Kilos', value: 'kilos'},
              {label: 'Bultos', value: 'bultos'}
            ]"
          />
        </div>
      </div>
    <div class="row bg-grey-1 q-pt-none">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="velocimetro" style="width:100%; height:290px;" ></div>
      </div>
    </div>
    <div class="row q-py-xs q-col-gutter-x-xs q-col-gutter-y-lg" >
      <div class="col-12" align="center" >
        <q-btn-toggle
          v-model="filtro"
          color="grey-7"
          toggle-text-color="black"
          flat
          @click="conversionVenta()"
          no-caps
          :options="[
            {label: 'Hoy', value: 'hoy'},
            {label: 'Ayer', value: 'ayer'},
            {label: 'Esta semana', value: 'semana'},
            {label: 'Este mes', value: 'mensual'}
          ]"
        />
      </div>
    </div>

    <div class="row absolute" style="font-size:14px;top: 21%; left: 44px; transform: translateX(-12%);width: 100%;">
      <div class="col-12">
        <q-item >
          <q-item-section>
            <q-item-label class="text-center text-bold text-blue-6" style="font-size:15px">{{formatPrice(total_bultos_presup)}} {{ unidad_medida === 'kilos' ? 'Kg':'Bto' }}</q-item-label>
            <q-item-label lines="2" class="text-center text-blue-10">Presupuesto</q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-center text-bold text-green" style="font-size:17px">
              <q-chip square :color="estadoCumplimiento === 'mal' ? 'red' : 'green'" text-color="white" :icon-right="estadoCumplimiento === 'mal' ? 'arrow_downward' : 'arrow_upward'">
                {{formatPrice(diferenciaPorcentajes, 1)}}%
              </q-chip>
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-center text-bold text-green" style="font-size:15px">{{formatPrice(total_ventas_general)}} {{ unidad_medida === 'kilos' ? 'Kg':'Bto' }}</q-item-label>
            <q-item-label lines="2" class="text-center text-green-10">Venta</q-item-label>
          </q-item-section>
        </q-item>
      </div>
    </div>

    <div class="row q-pa-none" align="center">
      <div class="col-6">
      <q-item >
        <q-item-section>
          <q-item-label class="text-bold text-green" style="font-size:20px">{{formatPrice(venta_diaria)}} {{ unidad_medida === 'kilos' ? 'Kg':'Bto' }}</q-item-label>
          <q-item-label caption style="font-size:14px">Venta {{filtro}}</q-item-label>
        </q-item-section>
      </q-item>
      </div>
      <div class="col-6">
      <q-item >
        <q-item-section>
          <q-item-label class="text-bold text-grey-8" style="font-size:20px">
            {{formatPrice(total_bultos_proyeccion)}} {{ unidad_medida === 'kilos' ? 'Kg':'Bto' }}
          </q-item-label>
          <q-item-label  caption style="font-size:14px">Proyección ventas<q-btn v-show="total_bultos_proyeccion>0" @click="openModalProyClientes()" size="12px" class="text-bold" label="Ver clientes" flat  icon="fas fa-external-link-alt" color="grey-8"/></q-item-label>
        </q-item-section>
      </q-item>
      </div>
    </div>

    <div class="q-pa-none" v-show="total_bodega>0">
      <q-list bordered class="bg-grey-2">
        <q-item v-ripple>
          <q-item-section class="text-center">
            <q-item-label class="text-orange-9 text-bold">{{formatPrice(total_bodega)}}</q-item-label>
            <q-item-label caption>Total despachado a bodega</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </div>

    <div v-if="verificaPermiso(51)">
        <ventas-presupuestos-seguimiento :UnidadMedida="unidad_medida"/>
    </div>

    <div class="q-py-sm">
      <div class="q-gutter-x-none" style="width: 100%">
        <q-tabs
          v-model="anio"
          inline-label
          outside-arrows
          mobile-arrows
          class="bg-white text-primary shadow-1"
        >
          <q-tab v-for="anio in anios_facturacion" :key="anio"  :name="anio"  :label="anio" />
        </q-tabs>
      </div>
    </div>

    <div class="row  q-pa-xs bg-white" v-show="total_ventas > 0">
      <div  class="col-xs-6">
        <q-item  class="q-pa-none q-ml-xs">
          <q-item-section  side  class=" q-pa-md q-mr-none text-white bg-primary">
            <q-icon name="fas fa-chart-bar"  color="white" size="12px"></q-icon>
          </q-item-section>
          <q-item-section class=" q-pa-md q-ml-none  text-primary">
            <q-item-label class="text-primary text-weight-bolder">Presupuestado</q-item-label>
            <q-item-label style="font-size:12px">{{formatPrice(total_presupuestado)}}</q-item-label>
          </q-item-section>
        </q-item>
      </div>
      <div  class="col-xs-6">
        <q-item  class="q-pa-none q-ml-xs">
          <q-item-section  side  class=" q-pa-md q-mr-none text-white bg-primary">
            <q-icon name="fas fa-hand-holding-usd"  color="white" size="12px"></q-icon>
          </q-item-section>
          <q-item-section class=" q-pa-md q-ml-none  text-primary">
            <q-item-label class="text-primary text-weight-bolder">Ventas</q-item-label>
            <q-item-label style="font-size:12px">{{formatPrice(total_ventas)}}</q-item-label>
          </q-item-section>
        </q-item>
      </div>
      <div  class="col-xs-6">
        <q-item  class="q-pa-none q-ml-xs">
          <q-item-section  side  class=" q-pa-md q-mr-none text-white bg-primary">
            <q-icon name="fas fa-dolly"  color="white" size="12px"></q-icon>
          </q-item-section>
          <q-item-section class=" q-pa-md q-ml-none  text-primary">
            <q-item-label class="text-primary  text-weight-bolder">Por Vender</q-item-label>
            <q-item-label style="font-size:12px" v-if="total_presupuestado >= total_ventas">{{formatPrice(total_presupuestado - total_ventas)}}</q-item-label>
            <q-item-label style="font-size:12px" v-if="total_presupuestado < total_ventas">{{formatPrice(total_ventas - total_presupuestado)}}</q-item-label>
          </q-item-section>
        </q-item>
      </div>
      <div  class="col-xs-6">
        <q-item  class="q-pa-none q-ml-xs">
          <q-item-section  side  class=" q-pa-md q-mr-none text-white bg-primary">
            <q-icon name="fas fa-percent"  color="white" size="12px"></q-icon>
          </q-item-section>
          <q-item-section class=" q-pa-md q-ml-none  text-primary">
            <q-item-label class="text-primary text-weight-bolder">Cumplimiento</q-item-label>
            <q-item-label style="font-size:12px">{{formatPrice((total_ventas / total_presupuestado) * 100, 2)}} %</q-item-label>
          </q-item-section>
        </q-item>
      </div>
    </div>

    <div class="row q-pt-md q-pa-none">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="main" style="width:100%; height:300px;" ></div>
      </div>
    </div>

  <div class="row q-pa-none">
    <div class="col-12">
      <q-carousel
        v-model="slide"
        transition-prev="slide-right"
        transition-next="slide-left"
        swipeable
        animated
        control-color="primary"
        arrows
        height="150px"
        class="bg-white rounded-borders"
      >
        <q-carousel-slide :name="1" class="column no-wrap">
          <div class="row fit justify-start items-center q-gutter-sm q-col-gutter no-wrap">
            <q-card style="width:260px" @click="openModalTopClientes()">
              <q-card-section align="center">
                <div class="text-h6"><q-icon size="50px" color="primary" name="fas fa-users"/></div>
                <div class="text-grey-7">Top clientes</div>
              </q-card-section>
            </q-card>
            <q-card style="width:260px" :name="2" class="my-card" @click="openModalTopProductos">
              <q-card-section align="center">
                <div class="text-h6"><q-icon size="50px" color="primary" name="fas fa-dolly"/></div>
                <div class="text-grey-7">Top productos</div>
              </q-card-section>
            </q-card>
          </div>
        </q-carousel-slide>
        <q-carousel-slide :name="3" class="column no-wrap">
          <div class="row fit justify-start items-center q-gutter-sm q-col-gutter no-wrap">
            <q-card style="width:260px" class="my-card" @click="openModalTopVendeores">
              <q-card-section align="center">
                <div class="text-h6"><q-icon size="50px" color="primary" name="fas fa-user-tie"/></div>
                <div class="text-grey-7">Top vendedores</div>
              </q-card-section>
            </q-card>
            <q-card style="width:260px" class="my-card" @click="openModalEnbodega">
              <q-card-section align="center">
                <div class="text-h6"><q-icon size="50px" color="primary" name="fas fa-boxes"/></div>
                <div class="text-grey-7">En bodega</div>
              </q-card-section>
            </q-card>
          </div>
        </q-carousel-slide>
      </q-carousel>
    </div>
  </div>

  <q-page-sticky position="bottom-right"  :offset="[10, 10]">
    <q-btn round  color="primary" size="18px" @click="dialog_viajes = true">
      <q-icon name="fas fa-tv" size="25px" />
    </q-btn>
  </q-page-sticky>

  <q-dialog
      v-model="dialog_viajes"
      persistent
      :maximized="true"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card class="bg-white text-primary">
        <q-card-section class="q-pa-none">
          <div class="text-h6"><q-btn label="Cerrar" flat color="red-9" icon="close" @click="dialog_viajes = false"/></div>
        </q-card-section>
        <q-card-section class="q-pa-none">
          <tablero-diario :device="'mobil'"/>
        </q-card-section>
      </q-card>
  </q-dialog>

  <q-dialog
    v-model="modal_top_clientes"
    persistent
    :maximized="maximizedToggle"
    transition-show="slide-up"
    transition-hide="slide-down"
  >
    <q-card class="bg-white text-white">
      <q-bar class="bg-white">
        <q-space />
        <q-btn dense size="md" flat icon="close" color="primary" v-close-popup>
          <q-tooltip class="bg-white text-primary">Close</q-tooltip>
        </q-btn>
      </q-bar>

      <q-card-section>
        <div class="row">
          <div class="col-12">
            <q-list>
              <q-item-label header class="text-bold"><q-icon color="primary" name="fas fa-users" size="35px" class="q-mr-lg" />Top 10 clientes mes</q-item-label>
              <div class="row q-pa-sm" v-for="(top, index) in top_clientes" :key="index">
                <q-item dense>
                  <q-item-section>
                    <q-item-label style="font-size:12px" class="text-bold text-primary">{{top.cliente}}</q-item-label>
                    <q-item-label caption lines="2">$ {{formatPrice(top.total_ventas)}}</q-item-label>
                  </q-item-section>
                </q-item>
              </div>
            </q-list>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-dialog
    v-model="modal_en_bodega"
    persistent
    :maximized="maximizedToggle"
    transition-show="slide-up"
    transition-hide="slide-down"
  >
    <q-card class="bg-white text-white">
      <q-bar class="bg-white">
        <q-space />
        <q-btn dense size="md" flat icon="close" color="primary" v-close-popup>
          <q-tooltip class="bg-white text-primary">Close</q-tooltip>
        </q-btn>
      </q-bar>

      <q-card-section>
        <div class="row q-pa-sm">
          <div class="col-12 text-bold text-primary"><q-icon color="primary" name="fas fa-boxes" size="25px" class="q-mr-lg" />Productos en bodega</div>
        </div>
        <div class="row q-pa-none">
          <div class="col-12 text-bold text-primary">
          <q-input outlined v-model="filtro_bodega" dense label="Buscar por cliente o producto" stack-label debounce="500" @input="changeFilter()"/><br>
        </div>
        </div>
        <q-scroll-area
          :visible="false"
          style="height: 80vh;"
        >
          <div class="row">
            <div class="col-12">
              <q-list >
                <div v-for="(bodega, index) in pedidos_bodega" :key="index" class="bg-grey-1" >
                  <q-item >
                    <q-item-section>
                      <q-item-label class="text-primary text-bold" style="font-size:12px">{{bodega.cliente}}</q-item-label>
                      <q-item-label caption lines="2" style="font-size:10px">{{bodega.nom_producto}}</q-item-label>
                      <q-item-label caption style="font-size:10px" class="text-bold" v-show="bodega.estado == 'facturado'">
                        <q-chip square color="green-9" text-color="white" icon="check">
                          Facturado
                        </q-chip>
                      </q-item-label>
                    </q-item-section>

                    <q-item-section side top>
                      <q-item-label caption style="font-size:8px">{{bodega.fecha_despacho}}</q-item-label>
                      <q-item-label caption style="font-size:10px" class="text-bold">{{bodega.cantidad_original}} {{bodega.unidad_medida}}</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-separator spaced />
                </div>
                </q-list>
                <infinite-loading  @distance="1" @infinite="infiniteHandler"  ref="infiniteLoading1">
                            <div slot="no-more">
                            <div class="full-width row flex-center text-primary q-gutter-sm">
                              <span>
                              </span>
                            </div>
                            </div>
                            <div slot="spinner">
                              <div class="row justify-center q-my-md">
                                <q-spinner-dots color="primary" size="50px" />
                              </div>
                            </div>
                            <div slot="no-results">
                              <div class="full-width row flex-center text-primary q-gutter-sm">
                                <q-icon size="2em" name="sentiment_dissatisfied" />
                                <span>
                                  Sin resultados ...
                                </span>
                              </div>
                            </div>
                    </infinite-loading>
            </div>
          </div>
        </q-scroll-area>
      </q-card-section>
    </q-card>
  </q-dialog>
  <q-dialog
    v-model="modal_top_productos"
    persistent
    :maximized="maximizedToggle"
    transition-show="slide-up"
    transition-hide="slide-down"
  >
    <q-card class="bg-white text-white">
      <q-bar class="bg-white">
        <q-space />
        <q-btn dense size="md" flat icon="close" color="primary" v-close-popup>
          <q-tooltip class="bg-white text-primary">Close</q-tooltip>
        </q-btn>
      </q-bar>

      <q-card-section>
        <div class="row">
          <div class="col-12">
            <q-list >
              <q-item-label header class="text-bold"><q-icon color="primary" name="fas fa-dolly" size="35px" class="q-mr-lg" />Top 10 productos (mes)</q-item-label>
              <div class="row q-pa-sm" v-for="(top, index) in top_clasificacion" :key="index">
                <q-item dense>
                  <q-item-section>
                    <q-item-label style="font-size:15px" class="text-bold text-primary">{{top.grupo}}</q-item-label>
                    <q-item-label caption lines="2">{{formatPrice(top.cantidad_bultos)}} {{unidad_medida == 'kilos' ? 'Kilos' : 'Bultos'}}</q-item-label>
                  </q-item-section>
                </q-item>
              </div>
            </q-list>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-dialog
    v-model="modal_top_vendedores"
    persistent
    :maximized="maximizedToggle"
    transition-show="slide-up"
    transition-hide="slide-down"
  >
    <q-card class="bg-white text-white">
      <q-bar class="bg-white">
        <q-space />
        <q-btn dense size="md" flat icon="close" color="primary" v-close-popup>
          <q-tooltip class="bg-white text-primary">Close</q-tooltip>
        </q-btn>
      </q-bar>

      <q-card-section>
        <div class="row">
          <div class="col-12">
            <q-list >
              <q-item-label header class="text-bold"><q-icon color="primary" name="fas fa-user-tie" size="35px" class="q-mr-lg" />Top 5 vendedores</q-item-label>
              <div class="row" v-for="(top, index) in top_vendedores" :key="index">
                <q-item dense>
                  <q-item-section>
                    <q-item-label style="font-size:12px" class="text-bold text-primary">{{top.NOM_VENDEDOR}}</q-item-label>
                    <q-item-label caption lines="2">{{formatPrice(top.cantidad_bultos)}} {{unidad_medida == 'kilos' ? 'Kilos' : 'Bultos'}}</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator spaced />
              </div>
            </q-list>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
  </div>
</q-page>
</template>

<script>
import axios from 'axios'
import InfiniteLoading from 'vue-infinite-loading'
import * as echarts from 'echarts'
import { mapActions } from 'vuex'
export default {
  components: {
    InfiniteLoading
  },
  data () {
    return {
      dialog_viajes: false,
      position: 'bottom',
      proyeccion_venta: [],
      dialog_proy_cli: false,
      suma: 0,
      grupos: [],
      anio: new Date().getFullYear(),
      anios_facturacion: [],
      presup_bultos: [],
      filtro_bodega: '',
      page: 0,
      pedidos_bodega: [],
      total_bultos_proyeccion: 0,
      total_bodega: 0,
      filtro: 'hoy',
      modal_top_clientes: false,
      modal_top_productos: false,
      modal_en_bodega: false,
      modal_top_vendedores: false,
      maximizedToggle: true,
      top_clientes: [],
      top_vendedores: [],
      top_clasificacion: [],
      unidad_medida: 'kilos',
      componenteActual: 'ventas-dashboard',
      link: 'dashboard',
      slide: 1,
      total_bultos_aux: 0,
      venta_diaria: 0,
      total_ventas_general: 0,
      progress2: 0,
      total_bultos_presup: 0,
      dias_trans: 0,
      dias_mes: 0,
      total_presupuestado: 0,
      total_ventas: 0,
      proyectado: 0
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    VentaActual () {
      if (this.progress2) {
        return (this.progress2 * 100).toFixed(1)
      } else {
        return 0
      }
    },
    estadoCumplimiento () {
      // console.log('proyectado : ' + this.proyectado * 1)
      // console.log('venta actual : ' + (this.progress2 * 100).toFixed(1))
      if ((this.proyectado * 1) >= (this.progress2 * 100).toFixed(1)) {
        return 'mal'
      } else {
        return 'bien'
      }
    },
    diferenciaPorcentajes () {
      if (this.estadoCumplimiento === 'bien') {
        return (this.VentaActual - (this.proyectado))
      } else {
        return ((this.proyectado) - this.VentaActual)
      }
    },
    optionsGraficaGeneral () {
      var self = this
      return {
        title: {
          // text: 'PRESUPUESTOS',
          // subtext: 'Muestra lo presupuestado vs ventas mes a mes'
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          }
        },
        legend: {
          data: ['PRESUPUESTO', 'VENTAS', '']
        },
        grid: {
          left: '-11%',
          right: '3%',
          bottom: '1%',
          containLabel: true
        },
        yAxis: {
          show: false,
          type: 'value',
          boundaryGap: [0, 0.01]
        },
        xAxis: {
          type: 'category',
          data: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
        },
        series: [
          {
            name: 'PRESUPUESTO',
            type: 'bar',
            label: {
              fontSize: 8,
              show: true,
              position: 'inside',
              fontWeight: 'bold',
              rotate: 90,
              formatter: function (param, index) {
                return param.value > 0 ? self.formatPrice(param.value) : ''
              }
            },
            color: '#255D44',
            data: this.presup_bultos
          },
          {
            name: 'VENTAS',
            color: '#C1A475',
            label: {
              fontSize: 8,
              fontWeight: 'bold',
              show: true,
              position: 'inside',
              rotate: 90,
              formatter: function (param, index) {
                return param.value > 0 ? self.formatPrice(param.value) : ''
              }
            },
            type: 'bar',
            /* markLine: {
              lineStyle: {
                type: 'dashed'
              },
              data: [
                [{ type: 'min' }, { type: 'max' }]
              ]
            }, */
            data: this.ventas_bultos
          },
          {
            name: '',
            type: 'line',
            color: '#0FCEF0',
            tooltip: {
              valueFormatter: function (param, index) {
                return param.value > 0 ? self.formatPrice(param.value) : ''
              }
            },
            data: this.ventas_bultos
          }
        ]
      }
    },
    optionsVelocimetroCumplimiento () {
      var self = this
      // console.log('Proyectado : ' + self.proyectado)
      const gaugeData = [
        {
          value: self.proyectado,
          name: 'Proyectado',
          title: {
            offsetCenter: ['110%', '-110%']
          },
          detail: {
            offsetCenter: ['110%', '-90%']
          }
        },
        {
          value: self.VentaActual,
          name: 'Ventas',
          title: {
            offsetCenter: ['-111%', '-110%']
          },
          detail: {
            offsetCenter: ['-110%', '-90%']
          }
        }
      ]
      return {
        tooltip: {
          formatter: '{a} <br/>{b} : {c}%'
        },
        series: [
          {
            anchor: {
              show: true,
              showAbove: true,
              size: 10,
              itemStyle: {
                color: '#FAC858'
              }
            },
            name: 'Pressure',
            type: 'gauge',
            title: {
              fontSize: 12
            },
            detail: {
              width: 40,
              height: 14,
              fontSize: 14,
              color: '#fff',
              backgroundColor: 'auto',
              borderRadius: 3,
              formatter: '{value}%'
            },
            progress: {
              show: true,
              overlap: true,
              roundCap: true
            },
            axisLine: {
              roundCap: true
            },
            data: gaugeData
          }
        ]
      }
    }
  },
  methods: {
    openModalProyClientes () {
      this.dialog_proy_cli = true
    },
    obtenerPresupuestoGrafica () {
      var self = this
      self.presup_bultos.length = 0
      // this.data_aux = this.data
      // this.data_aux = Object.assign(this.data)
      // self.ordenarDesc(this.data_aux, 'presupuesto_bultos')
      const result = this.grupos.filter(grupo => grupo.codigo !== 'G014')
      const meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre']
      meses.forEach(function (element) {
        self.suma = 0
        if (element === 'enero') {
          result.forEach(function (element) {
            self.suma += Number(element.enero_total)
          })
          self.presup_bultos.push(Math.round(self.suma))
        } else if (element === 'febrero') {
          result.forEach(function (element) {
            self.suma += Number(element.febrero_total)
          })
          self.presup_bultos.push(self.suma)
        } else if (element === 'marzo') {
          result.forEach(function (element) {
            self.suma += Number(element.marzo_total)
          })
          self.presup_bultos.push(self.suma)
        } else if (element === 'abril') {
          result.forEach(function (element) {
            self.suma += Number(element.abril_total)
          })
          self.presup_bultos.push(self.suma)
        } else if (element === 'mayo') {
          result.forEach(function (element) {
            self.suma += Number(element.mayo_total)
          })
          self.presup_bultos.push(self.suma)
        } else if (element === 'junio') {
          result.forEach(function (element) {
            self.suma += Number(element.junio_total)
          })
          self.presup_bultos.push(self.suma)
        } else if (element === 'julio') {
          result.forEach(function (element) {
            self.suma += Number(element.julio_total)
          })
          self.presup_bultos.push(self.suma)
        } else if (element === 'agosto') {
          result.forEach(function (element) {
            self.suma += Number(element.agosto_total)
          })
          self.presup_bultos.push(self.suma)
        } else if (element === 'septiembre') {
          result.forEach(function (element) {
            self.suma += Number(element.septiembre_total)
          })
          self.presup_bultos.push(self.suma)
        } else if (element === 'octubre') {
          result.forEach(function (element) {
            self.suma += Number(element.octubre_total)
          })
          self.presup_bultos.push(self.suma)
        } else if (element === 'noviembre') {
          result.forEach(function (element) {
            self.suma += Number(element.noviembre_total)
          })
          self.presup_bultos.push(self.suma)
        } else if (element === 'diciembre') {
          result.forEach(function (element) {
            self.suma += Number(element.diciembre_total)
          })
          self.presup_bultos.push(self.suma)
        }
      })
      let total = self.presup_bultos.reduce((a, b) => a + b, 0)
      this.total_presupuestado = total
    },
    ejecutarGraficaGeneral () {
      var myChart = echarts.init(document.getElementById('main'))
      myChart.setOption(this.optionsGraficaGeneral)
    },
    ObtenerPresupuesto () {
      var self = this
      // self.loading = true
      // self.showLoading('Obteniendo información, por favor espere ...')
      axios.get(this.api_url + '/api/presupuestos/grupos-productos/', {
        params: {
          anio: self.anio,
          unidad_medida: self.unidad_medida,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.grupos = response.data
      }).finally(function () {
        // self.$q.loading.hide()
        self.obtenerPresupuestoGrafica()
        // self.loading = false
      })
    },
    obtenerVentasMesMes () {
      var self = this
      self.showLoading('Obteniendo información, por favor espere ...')
      axios.get(this.api_url + '/api/presupuestos/ventas-mes-mes/', {
        params: {
          anio: self.anio,
          unidad_medida: self.unidad_medida,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.ventas_bultos = response.data
      }).finally(function () {
        self.ejecutarGraficaGeneral()
        let total = self.ventas_bultos.reduce((a, b) => a + b, 0)
        self.total_ventas = total
        self.$q.loading.hide()
      })
    },
    obtenerAniosVentas () {
      var self = this
      axios.get(this.api_url + '/api/presupuestos/obtener-anios/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.anios_facturacion = response.data
        // console.log(response.data)
      }).finally(function () {
        console.log(self.anios_facturacion)
      })
    },
    changeFilter () {
      this.page = 0
      this.pedidos_bodega = []
      this.$refs.infiniteLoading1.stateChanger.reset()
      // actualiza el contador segun el filtro
    },
    infiniteHandler ($state) {
      // PARA QUE SOLO APAREZCA CUANDO SE RESETEA EN INFINITE
      if (this.page <= 0) {
        this.showLoading('Cargando información, por favor espere...')
      }
      this.page++
      let url = this.api_url + '/api/pedido/obtener-pedidos-bodega/?page=' + this.page
      axios.get(url, {
        params: {
          unidad_medida: this.tipo_visualizacion,
          paginacion: 'si',
          filtro: this.filtro_bodega,
          token: localStorage.getItem('token')
        }
      })
        .then(response => {
          // let newCargues = response.data.data
          if (response.data.data.length) {
            this.pedidos_bodega = this.pedidos_bodega.concat(response.data.data)
            $state.loaded()
            this.hideLoading()
          } else {
            $state.complete()
            this.hideLoading()
          }
        }).catch(error => {
          this.hideLoading()
          console.log(error)
        })
    },
    obtenerPedidosEnBodega () {
      var self = this
      // self.loading = true
      axios.get(this.api_url + '/api/pedido/obtener-pedidos-bodega/', {
        params: {
          unidad_medida: this.tipo_visualizacion,
          paginacion: 'si',
          filtro: self.filtro_bodega,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.pedidos_bodega = response.data
      }).finally(function () {
        // self.loading = false
      })
    },
    obtenerProyeccionTotalBultos () {
      var self = this
      self.loading = true
      axios.get(this.api_url + '/api/despachos/proyeccion-total-bultos', {
        params: {
          unidad_medida: self.unidad_medida,
          fecha_inicial: '',
          fecha_final: '',
          tipo_consulta: self.filtro,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.proyeccion_venta = response.data
      }).finally(function () {
        // Totaliza la proyección de venta
        const proyeccion = self.proyeccion_venta.reduce((total, elemento) => total + elemento.peso, 0)
        self.total_bultos_proyeccion = proyeccion
      })
    },
    openModalTopClientes () {
      this.modal_top_clientes = true
      this.obtenerTopClientes()
    },
    openModalTopProductos () {
      this.modal_top_productos = true
      this.obtenerTopClasificacion()
    },
    openModalTopVendeores () {
      this.modal_top_vendedores = true
      this.obtenerTopVendedores()
    },
    openModalEnbodega () {
      this.modal_en_bodega = true
      this.changeFilter()
      // this.obtenerTopVendedores()
    },
    obtenerTopVendedores () {
      var self = this
      axios.get(this.api_url + '/api/pedido/informes/', {
        params: {
          unidad_medida: this.unidad_medida,
          accion: 'top-vendedores',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.top_vendedores = response.data
      }).finally(function () {
      })
    },
    obtenerTopClasificacion () {
      var self = this
      axios.get(this.api_url + '/api/pedido/informes/', {
        params: {
          unidad_medida: this.unidad_medida,
          accion: 'top-clasificacion',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.top_clasificacion = response.data
      }).finally(function () {
      })
    },
    obtenerTotalPesoBodega () {
      var self = this
      // self.loading = true
      axios.get(this.api_url + '/api/pedido/obtener-total-bodega/', {
        params: {
          fecha_inicial: '',
          fecha_final: '',
          tipo_consulta: self.filtro,
          unidad_medida: self.unidad_medida,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.total_bodega = response.data.total_kilos == null ? 0 : response.data.total_kilos
      }).finally(function () {
        // self.pieOptions()
        // self.loading = false
      })
    },
    obtenerTopClientes () {
      var self = this
      axios.get(this.api_url + '/api/pedido/informes/', {
        params: {
          accion: 'top-clientes',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.top_clientes = response.data
      }).finally(function () {
      })
    },
    formatPrice (value, decimales = 0, tipoGrafica = 'default') {
      var val = (value / 1).toFixed(decimales).replace('.', ',')
      if (tipoGrafica === 'velocimetro') {
        val = (value / 1).toFixed(decimales).replace('.', '.')
      }
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    obtenerTotalVentasVelocimetro () {
      var self = this
      axios.get(this.api_url + '/api/pedido/informes/', {
        params: {
          fecha_inicial: '',
          fecha_final: '',
          tipo_consulta: 'general_mensual',
          accion: 'total_ventas',
          unidad_medida: self.unidad_medida,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.total_ventas_general = response.data.total_bultos
        self.total_bultos_aux = response.data.total_bultos
      }).finally(function () {
        self.totalBultosPresupuestoVelocimetro()
      })
    },
    obtenerVentaDiaria () {
      var self = this
      // self.loading = true
      axios.get(this.api_url + '/api/pedido/informes/', {
        params: {
          fecha_inicial: '',
          fecha_final: '',
          unidad_medida: self.unidad_medida,
          tipo_consulta: self.filtro,
          accion: 'total_ventas',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.venta_diaria = response.data.total_bultos
      }).finally(function () {
        // console.log(self.venta_diaria)
      })
    },
    conversionVenta () {
      this.obtenerVentaDiaria()
      this.obtenerTotalPesoBodega()
      // this.totalBultosPresupuestoVelocimetro()
      this.obtenerProyeccionTotalBultos()
      this.obtenerTotalVentasVelocimetro()
      this.obtenerVentasMesMes()
      this.ObtenerPresupuesto()
      this.movimientoRegistro()
    },
    totalBultosPresupuestoVelocimetro () {
      var self = this
      // self.loading = true
      axios.get(this.api_url + '/api/pedido/informes/', {
        params: {
          fecha_inicial: '',
          fecha_final: '',
          unidad_medida: self.unidad_medida,
          tipo_consulta: 'presup_general_mensual',
          accion: 'total_bultos_presupuesto',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.total_bultos_presup = response.data.bultos
        self.dias_trans = response.data.dias_transcurridos
        self.dias_mes = response.data.dias_mes
      }).finally(function () {
        // console.log('Presupuestado : ' + self.total_bultos_presup + '---> Dias trans : ' + self.dias_trans + ' -->dias mes : ' + self.dias_mes)
        self.progress2 = self.total_bultos_aux / self.total_bultos_presup
        // console.log('total bulto : ' + self.total_bultos_aux + '---> Presupuestado : ' + self.total_bultos_presup)
        self.proyectado = ((self.total_bultos_presup / self.dias_mes) * self.dias_trans) / self.total_bultos_presup
        self.proyectado = self.formatPrice(self.proyectado * 100, 1, 'velocimetro')
        setTimeout(function () { self.ejecutarGraficaVelocimetro() }, 500)
      })
    },
    ejecutarGraficaVelocimetro () {
      var myChart = echarts.init(document.getElementById('velocimetro'))
      myChart.setOption(this.optionsVelocimetroCumplimiento)
    },
    mostrarComponente (componente, link) {
      this.componenteActual = componente
      this.link = link
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj,
        spinnerColor: 'primary',
        spinnerSize: 140,
        backgroundColor: 'white',
        messageColor: 'primary',
        customClass: 'bg-white text-primary'
      })
    },
    ...mapActions('store', ['movimientoRegistro'])
  },
  created () {
  },
  beforeDestroy () {
  },
  mounted () {
    if (this.$q.platform.is.mobile === true) {
      this.obtenerTotalVentasVelocimetro()
      this.obtenerVentaDiaria()
      this.obtenerTotalPesoBodega()
      this.obtenerProyeccionTotalBultos()
      this.obtenerAniosVentas()
      this.obtenerVentasMesMes()
      this.ObtenerPresupuesto()
    }
  },
  watch: {
    anio () {
      this.obtenerVentasMesMes()
      this.ObtenerPresupuesto()
    }
  }
}
</script>
<style lang="sass" scoped>
.menu-list .q-item
  border-radius: 0 32px 32px 0
.my-menu-link
  color: primary
  background: #EDE6D8
</style>
