<template>

<div class="row" v-if="!verificaPermiso(22)">
  <usuarios-no-autorizado/>
</div>

  <div class="q-pa-none" v-else>
    <div class="row bg-white q-pa-md  shadow-1">
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 q-mr-md">
        <q-select  v-model="select_ano" :options="options"  label="Año de Presupuesto" style="max-width:150px" />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <q-select  v-model="vendedor"  stack-label  label="Vendedor" :options="vendedores" emit-value map-options option-value="codigo" option-label="nombre"/>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 q-pa-md">
        <q-option-group
          v-model="tipo_visualizacion"
          :options="options_uni"
          color="primary"
          inline
        />
      </div>
    </div>
    <div class="row q-col-gutter-md q-pt-md">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <q-card flat bordered class="shadow">
              <q-table
                :table-class="$q.dark.isActive?'text-white':'text-grey-8'"
                :table-header-class="$q.dark.isActive?'text-white':'text-grey-9'"
                :data="grupos"
                :columns="columns"
                row-key="descripcion"
                :loading="loading"
                :grid="$q.screen.xs"
                table-style="max-height: 600px"
                :rows-per-page-options="[0]"
                color="white"
                dense
                hide-bottom
                :filter="filter"
              >
                <template v-slot:top-right>
                  <q-input  dense debounce="300" input-class="text-left text-white" v-model="filter" placeholder="Busqueda de presupuesto">
                    <template v-slot:append>
                      <q-icon name="search" color="white" />
                    </template>
                  </q-input>
                </template>

                <template v-slot:top-left>
                  <div :class="$q.dark.isActive?'text-white':'text-primary'" class="text-h6">Asignar Presupuesto a Vendedor</div>
                </template>

                <template v-slot:body="props" >
                  <q-tr :props="props" >

                    <q-td key="descripcion" :props="props" >
                      {{ props.row.descripcion }}
                    </q-td>

                    <q-td key="enero" :props="props">
                      {{ formatPrice(props.row.enero) }}
                      <q-popup-edit v-model="props.row.enero" label-set="Guardar" label-cancel="Cancelar" buttons v-if="verificaPermiso(24)">
                        <div class="text-bold text-primary">Enero {{select_ano}}</div>
                        <div class="text-caption">{{props.row.descripcion}}</div>
                        <q-input type="number" v-model="props.row.enero" dense autofocus @change="registrarPresupuesto(props.row.codigo, 'enero', props.row.enero)" />
                      </q-popup-edit>
                    </q-td>

                    <q-td key="febrero" :props="props">
                      {{ formatPrice(props.row.febrero) }}
                      <q-popup-edit v-model="props.row.febrero" buttons label-set="Guardar"  label-cancel="Cancelar" v-if="verificaPermiso(24)">
                        <div class="text-bold text-primary">Enero {{select_ano}}</div>
                        <div class="text-caption">{{props.row.descripcion}}</div>
                        <q-input type="number" v-model="props.row.febrero" dense autofocus @change="registrarPresupuesto(props.row.codigo, 'febrero', props.row.febrero)" />
                      </q-popup-edit>
                    </q-td>

                    <q-td key="marzo" :props="props">
                      {{ formatPrice(props.row.marzo) }}
                      <q-popup-edit v-model="props.row.marzo" buttons label-set="Guardar" label-cancel="Cancelar" v-if="verificaPermiso(24)">
                        <div class="text-bold text-primary">Marzo {{select_ano}}</div>
                        <div class="text-caption">{{props.row.descripcion}}</div>
                        <q-input type="number" v-model="props.row.marzo" dense autofocus @change="registrarPresupuesto(props.row.codigo, 'marzo', props.row.marzo)"/>
                      </q-popup-edit>
                    </q-td>

                    <q-td key="abril" :props="props">
                      {{ formatPrice(props.row.abril) }}
                      <q-popup-edit v-model="props.row.abril" buttons label-set="Guardar" label-cancel="Cancelar" v-if="verificaPermiso(24)">
                        <div class="text-bold text-primary">Abril {{select_ano}}</div>
                        <div class="text-caption">{{props.row.descripcion}}</div>
                        <q-input type="number" v-model="props.row.abril" dense autofocus @change="registrarPresupuesto(props.row.codigo, 'abril', props.row.abril)"/>
                      </q-popup-edit>
                    </q-td>

                    <q-td key="mayo" :props="props">
                      {{ formatPrice(props.row.mayo) }}
                      <q-popup-edit v-model="props.row.mayo" buttons label-set="Guardar" label-cancel="Cancelar" v-if="verificaPermiso(24)">
                        <div class="text-bold text-primary">Mayo {{select_ano}}</div>
                        <div class="text-caption">{{props.row.descripcion}}</div>
                        <q-input type="number" v-model="props.row.mayo" dense autofocus @change="registrarPresupuesto(props.row.codigo, 'mayo', props.row.mayo)"/>
                      </q-popup-edit>
                    </q-td>

                    <q-td key="junio" :props="props">
                      {{ formatPrice(props.row.junio) }}
                      <q-popup-edit v-model="props.row.junio" buttons label-set="Guardar" label-cancel="Cancelar" v-if="verificaPermiso(24)">
                        <div class="text-bold text-primary">Junio {{select_ano}}</div>
                        <div class="text-caption">{{props.row.descripcion}}</div>
                        <q-input type="number" v-model="props.row.junio" dense autofocus @change="registrarPresupuesto(props.row.codigo, 'junio', props.row.junio)"/>
                      </q-popup-edit>
                    </q-td>

                    <q-td key="julio" :props="props">
                      {{ formatPrice(props.row.julio) }}
                      <q-popup-edit v-model="props.row.julio" buttons label-set="Guardar" label-cancel="Cancelar" v-if="verificaPermiso(24)">
                        <div class="text-bold text-primary">Julio {{select_ano}}</div>
                        <div class="text-caption">{{props.row.descripcion}}</div>
                        <q-input type="number" v-model="props.row.julio" dense autofocus @change="registrarPresupuesto(props.row.codigo, 'julio', props.row.julio)"/>
                      </q-popup-edit>
                    </q-td>

                    <q-td key="agosto" :props="props">
                      {{ formatPrice(props.row.agosto) }}
                      <q-popup-edit v-model="props.row.agosto" buttons label-set="Guardar" label-cancel="Cancelar" v-if="verificaPermiso(24)">
                        <div class="text-bold text-primary">Agosto {{select_ano}}</div>
                        <div class="text-caption">{{props.row.descripcion}}</div>
                        <q-input type="number" v-model="props.row.agosto" dense autofocus @change="registrarPresupuesto(props.row.codigo, 'agosto', props.row.agosto)"/>
                      </q-popup-edit>
                    </q-td>

                    <q-td key="septiembre" :props="props">
                      {{ formatPrice(props.row.septiembre) }}
                      <q-popup-edit v-model="props.row.septiembre" buttons label-set="Guardar" label-cancel="Cancelar" v-if="verificaPermiso(24)">
                        <div class="text-bold text-primary">Septiembre {{select_ano}}</div>
                        <div class="text-caption">{{props.row.descripcion}}</div>
                        <q-input type="number" v-model="props.row.septiembre" dense autofocus @change="registrarPresupuesto(props.row.codigo, 'septiembre', props.row.septiembre)"/>
                      </q-popup-edit>
                    </q-td>

                    <q-td key="octubre" :props="props">
                      {{ formatPrice(props.row.octubre) }}
                      <q-popup-edit v-model="props.row.octubre" buttons label-set="Guardar" label-cancel="Cancelar" v-if="verificaPermiso(24)">
                        <div class="text-bold text-primary">Octubre {{select_ano}}</div>
                        <div class="text-caption">{{props.row.descripcion}}</div>
                        <q-input type="number" v-model="props.row.octubre" dense autofocus  @change="registrarPresupuesto(props.row.codigo, 'octubre', props.row.octubre)"/>
                      </q-popup-edit>
                    </q-td>

                    <q-td key="noviembre" :props="props">
                      {{ formatPrice(props.row.noviembre) }}
                      <q-popup-edit v-model="props.row.noviembre"  buttons label-set="Guardar" label-cancel="Cancelar" v-if="verificaPermiso(24)">
                        <div class="text-bold text-primary">Noviembre {{select_ano}}</div>
                        <div class="text-caption">{{props.row.descripcion}}</div>
                        <q-input type="number" v-model="props.row.noviembre" dense autofocus @change="registrarPresupuesto(props.row.codigo, 'noviembre', props.row.noviembre)"/>
                      </q-popup-edit>
                    </q-td>

                    <q-td key="diciembre" :props="props">
                      {{ formatPrice(props.row.diciembre) }}
                      <q-popup-edit v-model="props.row.diciembre" buttons label-set="Guardar" label-cancel="Cancelar" v-if="verificaPermiso(24)">
                        <div class="text-bold text-primary">Diciembre {{select_ano}}</div>
                        <div class="text-caption">{{props.row.descripcion}}</div>
                        <q-input type="number" v-model="props.row.diciembre" dense autofocus  @change="registrarPresupuesto(props.row.codigo, 'diciembre', props.row.diciembre)"/>
                      </q-popup-edit>
                    </q-td>

                  </q-tr>
                </template>
                <template v-slot:bottom-row>
                  <q-tr class="bg-primary text-white text-bold">
                    <q-td v-bind:key="column.name" v-for="column in bottomColumns" class="text-right">
                      {{ column.text }}
                    </q-td>
                  </q-tr>
                  <q-tr class="bg-grey-2   text-black text-bold">
                    <q-td v-bind:key="column.name" v-for="column in bottomColumns2" class="text-right">
                      {{ column.text }}
                    </q-td>
                  </q-tr>
                </template>
              </q-table>
        </q-card>
    </div>
  </div>
  </div>
</template>

<script>
import axios from 'axios'
import * as echarts from 'echarts'
import { QSpinnerFacebook } from 'quasar'
export default {
  data () {
    return {
      tipo_visualizacion: 'kilos',
      options_uni: [
        {
          label: 'Ver en kilos',
          value: 'kilos'
        },
        {
          label: 'Ver en bultos',
          value: 'bultos'
        }
      ],
      fab2: true,
      select_ano: this.obtenerAnioActual(),
      vendedor: '',
      vendedores: [],
      options: [
        '2021', '2022', '2023', '2024', '2025'
      ],
      filter: '',
      grupos: [],
      data_torta: [],
      total_bultos: 0,
      fecha_inicial: '',
      fecha_final: '',
      informes: [],
      informes_especial: [],
      informes_especial_otros: [],
      loading: false,
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      },
      columns: [
        { name: 'descripcion', align: 'left', label: 'Producto', field: 'descripcion', sortable: true, style: 'width: 30px', headerClasses: 'text-primary' },
        { name: 'enero', align: 'right', label: 'Enero', field: 'enero', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'febrero', align: 'right', label: 'Febrero', field: 'febrero', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'marzo', align: 'right', label: 'Marzo', field: 'marzo', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'abril', align: 'right', label: 'Abril', field: 'abril', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'mayo', align: 'right', label: 'Mayo', field: 'mayo', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'junio', align: 'right', label: 'Junio', field: 'junio', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'julio', align: 'right', label: 'Julio', field: 'julio', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'agosto', align: 'right', label: 'Agosto', field: 'agosto', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'septiembre', align: 'right', label: 'Septiembre', field: 'septiembre', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'octubre', align: 'right', label: 'Octubre', field: 'octubre', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'noviembre', align: 'right', label: 'Noviembre', field: 'noviembre', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'diciembre', align: 'right', label: 'Diciembre', field: 'diciembre', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true }
      ],
      pagination: {
        rowsPerPage: 20
      }
    }
  },
  computed: {
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    bottomColumns () {
      var retVal = []
      for (let i = 0; i < this.columns.length; i++) {
        var isVisible = true
        if (isVisible) {
          if (this.columns[i].sums) {
            // need to calculate sum, wonder how
            retVal.push({ name: this.columns[i].name, text: this.formatPrice(this.getFooterValue(this.columns[i].name)), align: 'right' })
          } else {
            retVal.push({ name: this.columns[i].name, text: 'TOTAL UNIDADES' })
          }
        }
      }
      return retVal
    },
    bottomColumns2 () {
      var retVal = []
      for (let i = 0; i < this.columns.length; i++) {
        var isVisible = true
        if (isVisible) {
          if (this.columns[i].sums) {
            // need to calculate sum, wonder how
            retVal.push({ name: this.columns[i].name, text: this.formatPrice(this.getFooterValue2(this.columns[i].name)), align: 'right' })
          } else {
            retVal.push({ name: this.columns[i].name, text: this.tipo_visualizacion === 'kilos' ? 'TOTAL KILOS' : 'TOTAL BULTOS' })
          }
        }
      }
      return retVal
    },
    api_url () {
      return this.$store.getters['store/url_api']
    },
    barOptions () {
      return {
        grid: {
          bottom: '20%',
          left: '15%',
          top: '3%'
        },
        legend: {
          bottom: 0,
          textStyle: {
            color: this.$q.dark.isActive ? 'white' : '#676767'
          }
        },
        tooltip: {},
        dataset: {
          dimensions: ['clasificacion', 'cantidad_bultos'],
          source: [
            { clasificacion: 'Harina', cantidad_bultos: 50 },
            { clasificacion: 'Pasta', cantidad_bultos: 80 },
            { clasificacion: 'Trigo', cantidad_bultos: 86 },
            { clasificacion: 'Grasa', cantidad_bultos: 72 }
          ]
        },
        xAxis: {
          type: 'category',
          // axisLabel: {
          //     rotate: 45
          // }
          axisLabel: {
            color: this.$q.dark.isActive ? 'white' : '#676767'
          }
        },
        yAxis: {
          // name: 'Goal',
          // nameLocation: 'center',
          // nameGap: 30,
          // nameTextStyle:{
          //     fontWeight: 'bold'
          // }
          axisLabel: {
            color: this.$q.dark.isActive ? 'white' : '#676767'
          }
        },
        series: [
          { type: 'bar', name: 'Sales' }
          // { type: 'bar', name: 'Goals' }
        ]
      }
    },
    pieOptions () {
      return {
        tooltip: {
          show: true
        },
        legend: {
          orient: this.$q.platform.is.desktop !== true ? 'vertical' : 'horizontal',
          bottom: this.$q.platform.is.desktop !== true ? 0 : 0,
          left: 'left',
          // top: 300,
          // left: 'auto',
          // right: 'auto',
          width: 700,
          textStyle: {
            color: this.$q.dark.isActive ? 'white' : '#676767'
          }
        },
        series: [
          {
            name: 'Ventas',
            type: 'pie',
            radius: ['40%', '75%'],
            avoidLabelOverlap: false,
            label: {
              normal: {
                show: true,
                position: 'inner',
                formatter: function (param, index) {
                  return param.percent + ' %'
                }
              },
              emphasis: {
                show: true,
                textStyle: {
                  fontSize: '25',
                  fontWeight: 'bold'
                }
              }
            },
            labelLine: {
              normal: {
                show: true
              }
            },
            selectedMode: 'single',
            data: this.data_torta
            /* data: [
              { value: 40, name: 'Product 1', selected: true },
              { value: 20, name: 'Competitor 1', selected: false },
              { value: 15, name: 'Competitor 2', selected: false },
              { value: 25, name: 'Competitor 3', selected: false }
            ] */
          }
        ]
      }
    },
    optionsPuro () {
      return {
        title: {
          text: 'ECharts entry example'
        },
        tooltip: {},
        legend: {
          data: ['Sales']
        },
        xAxis: {
          data: ['shirt', 'cardign', 'chiffon shirt', 'pants', 'heels', 'socks']
        },
        yAxis: {},
        series: [{
          name: 'Sales',
          type: 'bar',
          data: [5, 20, 36, 10, 10, 20]
        }]
      }
    }
  },
  methods: {
    obtenerAnioActual () {
      var today = new Date()
      var year = today.getFullYear()
      return year
    },
    getFooterValue (columna) {
      var sum = 0
      if (columna === 'enero') {
        this.grupos.forEach(function (element) {
          if (element.enero !== 0) {
            sum += Number(element.enero)
          }
        })
      } else if (columna === 'febrero') {
        this.grupos.forEach(function (element) {
          sum += Number(element.febrero)
        })
      } else if (columna === 'marzo') {
        this.grupos.forEach(function (element) {
          sum += Number(element.marzo)
        })
      } else if (columna === 'abril') {
        this.grupos.forEach(function (element) {
          sum += Number(element.abril)
        })
      } else if (columna === 'mayo') {
        this.grupos.forEach(function (element) {
          sum += Number(element.mayo)
        })
      } else if (columna === 'junio') {
        this.grupos.forEach(function (element) {
          sum += Number(element.junio)
        })
      } else if (columna === 'julio') {
        this.grupos.forEach(function (element) {
          sum += Number(element.julio)
        })
      } else if (columna === 'agosto') {
        this.grupos.forEach(function (element) {
          sum += Number(element.agosto)
        })
      } else if (columna === 'septiembre') {
        this.grupos.forEach(function (element) {
          sum += Number(element.septiembre)
        })
      } else if (columna === 'octubre') {
        this.grupos.forEach(function (element) {
          sum += Number(element.octubre)
        })
      } else if (columna === 'noviembre') {
        this.grupos.forEach(function (element) {
          sum += Number(element.noviembre)
        })
      } else if (columna === 'diciembre') {
        this.grupos.forEach(function (element) {
          sum += Number(element.diciembre)
        })
      }
      return sum
    },
    showLoading (msj) {
      this.$q.loading.show({
        spinner: QSpinnerFacebook,
        spinnerColor: 'primary',
        spinnerSize: 140,
        backgroundColor: 'white',
        message: msj,
        messageColor: 'black'
      })
    },
    getFooterValue2 (columna) {
      var sum = 0
      if (columna === 'enero') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.enero_total)
          }
        })
      } else if (columna === 'febrero') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.febrero_total)
          }
        })
      } else if (columna === 'marzo') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.marzo_total)
          }
        })
      } else if (columna === 'abril') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.abril_total)
          }
        })
      } else if (columna === 'mayo') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.mayo_total)
          }
        })
      } else if (columna === 'junio') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.junio_total)
          }
        })
      } else if (columna === 'julio') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.julio_total)
          }
        })
      } else if (columna === 'agosto') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.agosto_total)
          }
        })
      } else if (columna === 'septiembre') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.septiembre_total)
          }
        })
      } else if (columna === 'octubre') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.octubre_total)
          }
        })
      } else if (columna === 'noviembre') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.noviembre_total)
          }
        })
      } else if (columna === 'diciembre') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.diciembre_total)
          }
        })
      }
      // se divide en 50, que es el peso para convertir kilos a bultos
      return sum
    },
    obtenerVendedores () {
      var self = this
      axios.get(this.api_url + '/api/usuarios/obtener-vendedores/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.vendedores = response.data
      }).finally(function () {
      })
    },
    registrarPresupuesto (codAgrupa, mes, valor) {
      if (!this.vendedor) {
        this.notificacion('red-5', 'white', 'warning', 'Falta seleccionar el vendedor', 'center')
        return false
      }
      var self = this
      axios.post(this.api_url + '/api/presupuestos-vendedores/ingresar/', {
        anio: self.select_ano,
        cod_agrupa: codAgrupa,
        vendedor: self.vendedor,
        campo: mes,
        valor: valor,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.ObtenerPresupuesto()
        } else {
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'bottom')
        }
      }).catch(function (err) {
        // console.log(err)
        self.notificacion('red-5', 'white', 'warning', err, 'bottom')
      })
    },
    ejecutarGratica () {
      var myChart = echarts.init(document.getElementById('main'))
      myChart.setOption(this.optionsPuro)
    },
    irUlrComponente (url) {
      this.$router.push({ name: url })
    },
    ObtenerPresupuesto () {
      var self = this
      // self.loading = true
      self.showLoading('Obteniendo información, por favor espere ...')
      axios.get(this.api_url + '/api/presupuestos-vendedores/obtener-presupuesto/', {
        params: {
          anio: self.select_ano,
          vendedor: self.vendedor,
          unidad_medida: this.tipo_visualizacion,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.grupos = response.data
      }).finally(function () {
        self.$q.loading.hide()
      })
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    notificacion (color, colorTexto, icono, mensaje, posicion) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        position: posicion
      })
    },
    graficar () {
      var self = this
      self.loading = true
      axios.get(this.api_url + '/api/pedido/informes/', {
        params: {
          // prospecto: this.consulta_prospecto,
          // filtro: this.theModel,
          fecha_inicial: this.fecha_inicial,
          fecha_final: this.fecha_final,
          accion: 'grafico_ventas_fecha',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        // console.log(response)
        self.data_torta = response.data
      }).finally(function () {
        self.loading = false
      })
    },
    formatPrice (value) {
      let val = (value / 1).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    }
  },
  mounted () {
    if (this.verificaPermiso(22) === true) {
      this.obtenerVendedores()
      this.ObtenerPresupuesto()
    }
  },
  watch: {
    select_ano () {
      this.ObtenerPresupuesto()
    },
    vendedor () {
      this.ObtenerPresupuesto()
    },
    tipo_visualizacion () {
      this.ObtenerPresupuesto()
    }
  }
}
</script>
<style scoped>
  .shadow {
    -webkit-box-shadow: 0 0 10px #bfbfbf !important;
    box-shadow: 0 0 7px #bfbfbf !important;
  }
</style>
