<template>

  <div class="row" v-if="!verificaPermiso(30)">
    <usuarios-no-autorizado/>
  </div>

  <div class="q-pa-none" v-else>
    <div class="q-pa-none" v-if="$q.platform.is.desktop === true">
      <div class="row bg-white q-pa-md  shadow-1">
        <q-input   v-model="fecha_inicial" readonly style="width:135px" label="Fecha desde" stack-label class="q-mr-xl">
          <template v-slot:append>
            <q-icon color="primary" name="event" class="cursor-pointer">
              <q-popup-proxy ref="qDateProxy2" transition-show="scale" transition-hide="scale" >
                <q-date :locale="myLocale" v-model="fecha_inicial" mask="YYYY-MM-DD" @input="$refs.qDateProxy2.hide();datosInformes()" />
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
        <q-input   v-model="fecha_final" readonly style="width:135px" label="Fecha hasta" stack-label class="q-mr-xl" @input="datosInformes()">
          <template v-slot:append>
            <q-icon color="primary" name="event" class="cursor-pointer">
              <q-popup-proxy ref="qDateProxy3" transition-show="scale" transition-hide="scale" >
                <q-date :locale="myLocale" v-model="fecha_final" mask="YYYY-MM-DD" @input="$refs.qDateProxy3.hide();datosInformes()" />
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
        <q-space/>
        <div class="q-pa-md">
        <q-btn-toggle
          v-model="tipo_visualizacion"
          toggle-color="primary"
          :options="options"
        />
        </div>
        <q-btn v-show="false"  flat rounded color="primary" icon="fas fa-comment-dots" :label="$q.screen.lt.md === false ? 'Ver Comentarios':''" @click="openComentarios('right')"/>
        <div class="q-py-md" v-if="verificaPermiso(37)"><q-btn flat color="primary" icon="fas fa-th" label="En bodega" @click="obtenerPedidosEnBodega();dialog_en_bodega = true"/></div>
      </div><br>
      <div class="row q-pa-none q-col-gutter-x-md q-col-gutter-y-lg">
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-5" align="left">
          <div class="row q-col-gutter-sm ">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
              <q-item  class="q-pa-none" style="width:280px">
                <q-item-section  side class=" q-pa-lg q-mr-none text-white bg-white" v-show="false">
                  <q-icon name="fas fa-dollar-sign" color="primary" size="34px"></q-icon>
                </q-item-section>
                <q-item-section class=" q-pa-md q-ml-none  text-white bg-primary">
                  <q-item-label class="text-white text-h4 text-weight-bolder">{{formatPrice(total_bultos, 1)}}</q-item-label>
                  <q-item-label>
                      <div  v-if="tipo_visualizacion === 'kilos'">Total venta en kilos</div>
                      <div  v-else>Total venta en bultos</div>
                  </q-item-label>
                  <q-item-label style="font-size:13px" class="text-white" v-show="total_bodega > 0">
                    <q-chip outline color="white" text-color="white" class="text-bold" dense>
                      {{formatPrice(total_bodega, 1)}}
                    </q-chip>
                  </q-item-label>
                  <q-item-label v-show="total_bodega > 0">
                      <div style="font-size:11px"  v-if="tipo_visualizacion === 'kilos'">Total kilos en bodega</div>
                      <div  v-else style="font-size:11px">Total bultos en bodega</div>
                  </q-item-label>
                  <q-item-label align="center" v-show="total_bultos>0">
                    <q-btn size="12px" no-caps class="text-bold" color="white" flat icon="fas fa-list-ul" :label="$q.screen.lt.md === false ? 'Ver detalle de ventas':''" @click="open('right')" />
                  </q-item-label>
                </q-item-section>
              </q-item>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-1">
          <div class="row q-col-gutter-sm ">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <q-item  class="q-pa-none">
                <q-item-section  side class=" q-pa-lg q-mr-none text-white bg-cyan-5" v-show="false">
                  <q-icon name="fas fa-chart-bar" color="white" size="34px"></q-icon>
                </q-item-section>
                <q-item-section class=" q-pa-none q-ml-none  text-cyan-8 bg-grey-1">
                  <q-item-label class="text-center">
                    <q-circular-progress
                      show-value
                      font-size="18px"
                      :value="buffer*100"
                      size="105px"
                      :thickness="0.3"
                      color="cyan-8"
                      track-color="grey-4"
                      class="q-ma-none"
                    >
                      {{ formatPrice(buffer*100,1) }}%
                    </q-circular-progress>
                  </q-item-label>
                  <q-item-label v-show="false" class="text-white text-h5 text-weight-bolder">{{formatPrice(buffer*100,1)}}%</q-item-label>
                  <q-item-label class="text-center text-bold text-cyan-8" style="font-size:17px">Presupuestado</q-item-label>
                </q-item-section>
              </q-item>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
          <div class="row q-col-gutter-sm ">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <q-item  class="q-pa-none">
                <q-item-section  side class=" q-pa-lg q-mr-none text-white bg-orange-8" v-show="false">
                  <q-icon name="fas fa-clock" color="white" size="34px"></q-icon>
                </q-item-section>
                <q-item-section class=" q-pa-md q-ml-none  text-white bg-orange-10" v-show="false">
                  <q-item-label class="text-white text-h5 text-weight-bolder">{{formatPrice(progressLabel2,1)}}%</q-item-label>
                  <q-item-label>Cumplimiento</q-item-label>
                </q-item-section>
                <q-item-section class=" q-pa-none q-ml-none  text-orange-10 bg-grey-1">
                  <q-item-label class="text-center">
                    <q-circular-progress
                      show-value
                      font-size="18px"
                      :value="progress2 * 100"
                      size="105px"
                      :thickness="0.3"
                      color="orange-10"
                      track-color="grey-4"
                      class="q-ma-none"
                    >
                      {{ formatPrice(progressLabel2,1) }}%
                    </q-circular-progress>
                  </q-item-label>
                  <q-item-label class="text-center text-bold text-orange-10" style="font-size:17px">Ejecutado</q-item-label>
                </q-item-section>
              </q-item>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
          <div class="row q-col-gutter-sm ">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <q-item  class="q-pa-none">
                <q-item-section  side class=" q-pa-lg q-mr-none text-white bg-green-8" v-show="false">
                  <q-icon name="fas fa-hand-holding-usd" color="white" size="34px"></q-icon>
                </q-item-section>
                <q-item-section class=" q-pa-lg q-ml-none  text-white bg-grey-1">
                  <q-item-label :class="estadoCumplimiento == 'mal' ? 'text-h3 text-red text-bold':'text-h3 text-green-7 text-bold'">
                    <q-icon class="q-mr-sm" size="33px" :color="estadoCumplimiento == 'mal' ? 'red' : 'green-7'" :name="estadoCumplimiento === 'mal' ? 'fas fa-arrow-circle-down' : 'fas fa-arrow-circle-up'"/>{{formatPrice(diferenciaPorcentajes, 1)}}%
                  </q-item-label>
                  <q-item-label style="font-size:17px" :class="estadoCumplimiento == 'mal' ? 'text-red text-bold text-center':'text-green-7 text-bold text-center'">Resultado a hoy</q-item-label>
                </q-item-section>
              </q-item>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
          <div class="row q-col-gutter-sm ">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <q-item  class="q-pa-none">
                <q-item-section  side class=" q-pa-lg q-mr-none text-white bg-blue-8" v-show="false">
                  <q-icon name="fas fa-chart-line" color="white" size="34px"></q-icon>
                </q-item-section>
                <q-item-section class="q-pa-lg q-ml-none  text-white bg-grey-1">
                  <q-item-label class="text-h3 text-blue-8 text-bold text-center">
                    {{formatPrice(total_bultos_proyeccion, 1)}}
                  </q-item-label>
                  <q-item-label class="text-center text-blue-8 text-bold" style="font-size:17px">Proyección ventas</q-item-label>
                </q-item-section>
              </q-item>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row q-pa-xs" v-show="progress2">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <q-linear-progress track-color="yellow-11" :buffer="buffer"  stripe rounded size="45px" :value="progress2" color="primary" class="q-mt-sm bg-grey-6" >
            <div style="font-size:13px" class="text-left text-caption text-white absolute-full q-pa-xs text-bold" v-if="tipo_visualizacion === 'bultos'">Ventas : {{formatPrice(total_bultos_aux)}} Bultos</div>
            <div style="font-size:13px" class="text-left text-caption text-white absolute-full q-pa-xs text-bold" v-else>Ventas : {{formatPrice(total_bultos_aux)}} Kg</div>
            <div class="absolute-full flex flex-center">
              <q-badge color="white" text-color="primary" class="text-bold" :label="formatPrice(progressLabel2,1) + '%'" />
            </div>
            <div style="font-size:13px" class="text-right text-caption text-white absolute-full q-pa-xs text-bold" v-if="tipo_visualizacion === 'bultos'">Presup. : {{formatPrice(total_bultos_presup)}} Bultos</div>
            <div style="font-size:13px" class="text-right text-caption text-white absolute-full q-pa-xs text-bold" v-else>Presup. : {{formatPrice(total_bultos_presup)}} Kg</div>
          </q-linear-progress>
        </div>
      </div><br>
      <div class="row q-col-gutter-sm  q-mr-sm">
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
          <div v-if="verificaPermiso(51)">
            <ventas-presupuestos-seguimiento origenVisualiza="DashboardVentas" :UnidadMedida="tipo_visualizacion"/>
          </div>
          <q-card flat bordered v-if="verificaPermiso(31)">
            <q-card-section>
              <div class="row">
                <div class="col-8">
                  <div class="text-h6 text-primary">Más información ...</div>
                </div>
                <div class="col-4 text-right">
                </div>
              </div>
            </q-card-section>
            <q-separator inset></q-separator>
            <q-card-section>
              <div class="row q-col-gutter-x-sm q-col-gutter-y-lg q-py-sm">
                <div class="col-7">
                  <q-list bordered v-show="proyeccion_venta.length>0">
                    <q-item v-ripple class="bg-primary text-white">
                        <q-item-section class="text-bold" style="font-size:18px">Proyección de venta diaria - {{ tipo_visualizacion }}</q-item-section>
                        <q-item-section avatar class="text-right text-bold text-primary">
                        </q-item-section>
                    </q-item>
                    <div class="row" v-for="(proyeccion, index) in proyeccion_venta" :key="index">
                      <q-item dense v-ripple >
                        <q-item-section>{{ proyeccion.cliente }}</q-item-section>
                        <q-item-section avatar class="text-right text-bold text-primary">
                          {{ formatPrice(proyeccion.peso) }}
                        </q-item-section>
                      </q-item>
                    </div>
                  </q-list>
                </div>
              </div>
              <div class="row q-col-gutter-x-sm q-col-gutter-y-lg">
                <div class="col-4">
                  <q-list bordered>
                    <q-item-label header class="text-bold "><q-icon color="primary" name="fas fa-users" size="35px" class="q-mr-lg" />Top 10 clientes mes</q-item-label>
                    <div class="row" v-for="(top, index) in top_clientes" :key="index">
                      <q-separator spaced />
                      <q-item dense>
                        <q-item-section>
                          <q-item-label style="font-size:12px" class="text-bold text-primary">{{top.cliente}}</q-item-label>
                          <q-item-label caption lines="2">$ {{formatPrice(top.total_ventas)}}</q-item-label>
                        </q-item-section>
                      </q-item>
                    </div>
                  </q-list>
                </div>
                <div class="col-4">
                  <q-list bordered>
                    <q-item-label header class="text-bold"><q-icon color="primary" name="fas fa-dolly" size="35px" class="q-mr-lg" />Top 10 productos (mes)</q-item-label>
                    <div class="row" v-for="(top, index) in top_clasificacion" :key="index">
                      <q-separator spaced />
                      <q-item dense>
                        <q-item-section>
                          <q-item-label style="font-size:12px" class="text-bold text-primary">{{top.grupo}}</q-item-label>
                          <q-item-label caption lines="2">{{formatPrice(top.cantidad_bultos)}} {{tipo_visualizacion == 'kilos' ? 'Kilos' : 'Bultos'}}</q-item-label>
                        </q-item-section>
                      </q-item>
                    </div>
                  </q-list>
                </div>
                <div class="col-4">
                  <q-list bordered>
                    <q-item-label header class="text-bold"><q-icon color="primary" name="fas fa-user-tie" size="35px" class="q-mr-lg" />Top 5 vendedores</q-item-label>
                    <div class="row" v-for="(top, index) in top_vendedores" :key="index">
                      <q-separator spaced />
                      <q-item dense>
                        <q-item-section>
                          <q-item-label style="font-size:12px" class="text-bold text-primary">{{top.NOM_VENDEDOR}}</q-item-label>
                          <q-item-label caption lines="2">{{formatPrice(top.cantidad_bultos)}} {{tipo_visualizacion == 'kilos' ? 'Kilos' : 'Bultos'}}</q-item-label>
                        </q-item-section>
                      </q-item>
                    </div>
                  </q-list>
                </div>
              </div>
            </q-card-section>
          </q-card>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
          <q-card flat bordered v-if="verificaPermiso(26)">
            <q-card-section>
                  <div class="row">
                    <div class="col-6">
                      <div class="text-h6 text-primary">Ventas por Vendedor</div>
                    </div>
                    <div class="col-6 text-right">
                    </div>
                  </div>
            </q-card-section>

            <q-separator inset></q-separator>

            <q-card-section>
              <q-btn-toggle
                        v-model="ordena_vendedores"
                        no-caps
                        toggle-color="primary"
                        :options="[
                          {label: 'Ordenar por cumplimiento', value: 'cumplimiento'},
                          {label: 'Ordenar por ventas', value: 'ventas'}
                        ]"
              /><br><br>
              <q-table v-show="informes_vendedores.length > 0"
                :data="informes_vendedores"
                :columns="columns_vendedores"
                row-key="nombre"
                :loading="loading_vendedores"
                dense
                table-style="max-height: 900px"
                :rows-per-page-options="[0]"
                virtual-scroll
                color="white"
                hide-bottom
              >
                <template v-slot:loading>
                  <q-inner-loading showing color="primary" />
                </template>
                <template v-slot:body="props" >
                  <q-tr :props="props" >

                    <q-td key="nombre" :props="props" >
                      <q-item class="q-pa-none" >
                        <q-item-section avatar>
                          <q-icon size="28px" class="q-mr-sm" :color="obtenerColorCumplimiento(props.row.estado_cumplimiento, 'color')" :name="obtenerColorCumplimiento(props.row.estado_cumplimiento, 'icono')" />
                        </q-item-section>
                        <q-item-section>
                          <q-item-label class="text-bold">{{ props.row.nombre }}</q-item-label>
                          <q-item-label caption lines="2"><q-linear-progress :value="props.row.cumplimiento/100" class="q-mt-xs" stripe rounded size="13px" /></q-item-label>
                        </q-item-section>

                        <q-item-section side top>
                          <q-item-label caption>
                            <q-chip square class="text-caption"  size="10px" :color="obtenerColorCumplimiento(props.row.estado_cumplimiento, 'color')" :text-color="props.row.estado_cumplimiento === 'medio_bajo' || props.row.estado_cumplimiento === 'medio_alto' ? 'black' : 'white'"  :label="formatPrice(props.row.cumplimiento) + '%'" >
                                <q-tooltip>{{props.row.estado_cumplimiento}}</q-tooltip>
                              </q-chip>
                          </q-item-label>
                          {{ formatPrice(props.row.venta_bultos, 1) }} <b class="text-grey-8">{{tipo_visualizacion == 'kilos' ? 'Kg' : 'Bto'}}</b>
                        </q-item-section>
                      </q-item>
                    </q-td>

                    <q-td key="venta_bultos" :props="props" v-show="false">
                      {{ formatPrice(props.row.venta_bultos, 1) }} <b class="text-grey-8">{{tipo_visualizacion == 'kilos' ? 'Kg' : 'Bto'}}</b>
                    </q-td>

                    <q-td key="btn_detalle" :props="props" v-show="false">
                      <q-btn flat clickable no-caps size="11px" class="text-primary" @click="VerCumplimientoVendedor(props.row.codigo, props.row.nombre)"  icon="fas fa-eye" label="Cumplimiento"/>
                    </q-td>

                  </q-tr>
                </template>
              </q-table>
            </q-card-section>
          </q-card>
        </div>
      </div>

      <q-dialog v-model="dialog_comentarios" :position="position">
        <comentarios :fecha="fecha_inicial" :formulario="'Informes'"/>
      </q-dialog>

      <q-dialog v-model="dialog_en_bodega">
            <q-card flat bordered style="width: 1150px; max-width: 85vw;">
              <q-card-section>
                <div class="row">
                  <div class="col-12">
                    <div class="text-primary text-bold" style="font-size:16px">Productos en bodega</div>
                  </div>
                </div>
              </q-card-section>
                <q-separator inset></q-separator>
              <q-card-section>
                <q-table
                    class="my-sticky-header-table-informes"
                    :data="pedidos_bodega"
                    :columns="columns_pedidos_bodega"
                    row-key="fecha_despacho"
                    :loading="loading"
                    :filter="filter_pro_bodega"
                    dense
                    table-style="max-height: 800px"
                    :rows-per-page-options="[0]"
                    :pagination="pagination"
                    virtual-scroll
                    color="white"
                  >
                    <template v-slot:top-right>
                      <q-btn
                        color="light-green-12"
                        flat
                        icon-right="fas fa-arrow-alt-circle-down"
                        label="Exportar Información"
                        no-caps
                        class="cursor-pointer q-mr-sm"
                        @click="exportTable"
                      ></q-btn>
                      <q-input outlined  dense debounce="500" v-model="filter_pro_bodega" placeholder="Busqueda" bg-color="white">
                        <template v-slot:append>
                          <q-icon name="search" />
                        </template>
                      </q-input>
                    </template>
                    <template v-slot:body="props" >
                      <q-tr :props="props" >

                        <q-td key="fecha_despacho" :props="props" style="font-size:11px">
                          {{ props.row.fecha_despacho }}
                        </q-td>
                        <q-td key="cliente" :props="props" style="font-size:11px">
                          {{ props.row.cliente }}
                        </q-td>
                        <q-td key="nom_producto" :props="props" style="font-size:11px">
                          {{ props.row.nom_producto }}
                        </q-td>
                        <q-td key="cantidad_original" :props="props">
                          {{ formatPrice(props.row.cantidad_original, 1) }} <b style="font-size:8px" class="text-blue-9">{{props.row.unidad_medida}}</b>
                        </q-td>
                        <q-td key="despachado" :props="props">
                          {{ formatPrice(props.row.despachado, 1) }}
                        </q-td>
                        <q-td key="estado" :props="props">
                          <div v-show="props.row.estado == 'facturado'" class="text-green text-bold">Facturado</div>
                          <div v-show="props.row.estado == 'pendiente'" class="text-red text-bold">Pendiente</div>
                        </q-td>
                      </q-tr>
                    </template>
                  </q-table>
              </q-card-section>
            </q-card>
      </q-dialog>

      <q-dialog v-model="dialog" :position="position" full-width>
        <div class="row bg-grey-2" >
          <div class="col-6 q-pa-md">
            <q-card style="width: 590px;" >
              <q-card flat bordered class="">
                <q-card-section class="row">
                  <div class="text-h6 col-12 text-primary" v-if="tipo_visualizacion === 'kilos'">Ventas por Línea de Productos (Kilos)</div>
                  <div class="text-h6 col-12 text-primary" v-else>Ventas por Línea de Productos (Bultos)</div>
                </q-card-section>

                <q-separator inset></q-separator>

                <q-card-section>
                  <q-table
                    class="my-sticky-header-table-informes"
                    :data="informes"
                    :columns="columns"
                    row-key="clasificacion"
                    :loading="loading"
                    dense
                    :grid="$q.screen.xs"
                    table-style="max-height: 800px"
                    :rows-per-page-options="[0]"
                    virtual-scroll
                    color="white"
                    hide-bottom
                  >
                    <template v-slot:body="props" >
                      <q-tr :props="props" >

                        <q-td key="clasificacion" :props="props" >
                          {{ props.row.clasificacion }}
                        </q-td>

                        <q-td key="cantidad" :props="props">
                          {{ formatPrice(props.row.cantidad, 1) }}
                        </q-td>

                        <q-td key="cantidad_bultos" :props="props">
                          {{formatPrice(props.row.cantidad_bultos, 1)}}
                        </q-td>

                      </q-tr>
                    </template>
                  </q-table>
                </q-card-section>
                <q-card-section>
                  <div class="row text-primary text-right text-bold" v-show="informes_especial.length>0">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      Otros productos facturados
                    </div>
                  </div>
                  <q-table v-show="informes_especial.length > 0"
                    class="my-sticky-header-table-informes"
                    :data="informes_especial"
                    :columns="columns_especial"
                    row-key="descripcio"
                    :loading="loading"
                    dense
                    :grid="$q.screen.xs"
                    table-style="max-height: 800px"
                    :rows-per-page-options="[0]"
                    virtual-scroll
                    color="white"
                    hide-bottom
                  >

                    <template v-slot:body="props" >
                      <q-tr :props="props" >

                        <q-td key="descripcio" :props="props" style="font-size:11px">
                          {{ props.row.descripcio }}
                        </q-td>

                        <q-td key="cantidad" :props="props">
                          {{ formatPrice(props.row.cantidad, 1) }}
                        </q-td>

                        <q-td key="cantidad_bultos" :props="props">
                          {{formatPrice(props.row.cantidad_bultos, 1)}}
                        </q-td>

                      </q-tr>
                    </template>
                  </q-table>
                </q-card-section>
                <q-card-section>
                  <q-table v-show="informes_especial_otros.length>0"
                    class="my-sticky-header-table-informes"
                    :data="informes_especial_otros"
                    :columns="columns_especial_otros"
                    row-key="nit"
                    :loading="loading"
                    dense
                    :grid="$q.screen.xs"
                    table-style="max-height: 800px"
                    :rows-per-page-options="[0]"
                    virtual-scroll
                    color="white"
                    hide-bottom
                  >
                    <template v-slot:body="props" >
                      <q-tr :props="props" >

                        <q-td key="clasificacion" :props="props" >
                          {{ props.row.clasificacion }}
                        </q-td>

                        <q-td key="cantidad" :props="props">
                          {{ formatPrice(props.row.cantidad, 1) }}
                        </q-td>

                      </q-tr>
                    </template>
                  </q-table>
                </q-card-section>
              </q-card>
            </q-card>
          </div>
          <div class="col-6 q-pa-md">
            <q-card flat bordered class="">
              <q-card-section>
                    <div class="row">
                      <div class="col-8">
                        <div class="text-h6 text-primary">Gráfico General</div>
                      </div>
                      <div class="col-4 text-right">
                      </div>
                    </div>
              </q-card-section>
              <q-separator inset></q-separator>
              <q-card-section>
                  <IEcharts ref="pie" :option="pieOptions" :resizable="true" style="height:490px"/>
              </q-card-section>
              <q-card-section align="center">
                  <q-btn color="red" label="Cerrar ventana" @click="dialog=false"/>
              </q-card-section>
            </q-card>
          </div>
        </div>
      </q-dialog>

      <q-dialog
        v-model="dialog_tablero"
        persistent
        :maximized="true"
        transition-show="slide-up"
        transition-hide="slide-down"
      >
        <q-card class="bg-grey-1 text-primary">
          <q-bar class="bg-grey-1">
            <q-space />
            <q-btn dense size="15px" flat  icon="close" v-close-popup color="red-9">
              <q-tooltip class="bg-white text-primary">Cerrar</q-tooltip>
            </q-btn>
          </q-bar>

          <q-card-section class="q-pa-none">
            <tablero-diario/>
          </q-card-section>

        </q-card>
      </q-dialog>

      <q-page-sticky position="bottom-right"  :offset="[10, 10]" v-show="verificaPermiso(58)">
        <q-btn round  color="primary" size="18px" @click="dialog_tablero = true">
          <q-icon name="fas fa-tv" size="25px" />
        </q-btn>
      </q-page-sticky>

    </div>
      <div v-if="$q.platform.is.desktop !== true" >
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <q-card>
              <q-card-section :class="$q.dark.isActive?'blue_dark':'bg-primary'" class="text-white">
                <div class="row">
                  <div class="col-10">
                    <div class="text-h6" v-if="tipo_visualizacion === 'bultos'">Total Venta Bultos</div>
                    <div class="text-h6" v-else>Total Venta Kilos</div>
                    <div class="text-h5 text-bold">{{formatPrice(total_bultos, 2)}}</div>
                  </div>
                  <div class="col-2">
                    <q-icon size="62px" name="trending_up"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="text-h6">Proyeccion venta bultos</div>
                    <div class="text-h5">{{formatPrice(total_bultos_proyeccion)}}</div>
                  </div>
                </div>
                <div class="row" v-show="progress2">
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
                    <div class="text-caption">Cumplimiento de ventas</div>
                    <q-linear-progress track-color="yellow-12 " :buffer="buffer"  stripe rounded size="30px" :value="progress2" color="teal-8" class="q-mt-sm bg-grey-5" >
                      <div class="text-left text-caption text-white absolute-full q-pa-xs" v-if="tipo_visualizacion === 'bultos'">Ventas : {{formatPrice(total_bultos_aux)}} Bultos</div>
                      <div class="text-left text-caption text-white absolute-full q-pa-xs" v-else>Ventas : {{formatPrice(total_bultos_aux)}} Kilos</div>
                      <div class="absolute-full flex flex-center">
                        <q-badge color="white" text-color="primary" :label="formatPrice(progressLabel2, 1) + '%'" />
                      </div>
                      <div class="text-right text-caption text-white absolute-full q-pa-xs" v-if="tipo_visualizacion === 'bultos'">Presup. : {{formatPrice(total_bultos_presup)}} Bultos</div>
                      <div class="text-right text-caption text-white absolute-full q-pa-xs" v-else>Presup. : {{formatPrice(total_bultos_presup)}} Kilos</div>
                    </q-linear-progress>
                  </div>
                  <q-toggle
                    :label="'Ver en ' + tipo_visualizacion"
                    color="white"
                    false-value="bultos"
                    true-value="kilos"
                    v-model="tipo_visualizacion"
                  />
                </div>
              </q-card-section>
            </q-card>
            <div class="row justify-center q-pa-xs" v-if="comentario.mensaje">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-caption text-primary">
                <q-chip color="red" text-color="white" dense label="Tener en cuenta!!" /><br>
                "{{comentario.mensaje}}"
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <q-list  separator>
                  <q-item v-ripple class="text-primary ">
                    <q-item-section>Cumplimiento Presupuestado</q-item-section>
                    <q-item-section side>{{formatPrice(buffer*100,1)}}%</q-item-section>
                  </q-item>

                  <q-item v-ripple class="text-primary ">
                    <q-item-section>Cumplimiento Actual</q-item-section>
                    <q-item-section side>{{formatPrice(progressLabel2, 1)}}%</q-item-section>
                  </q-item>

                  <q-item v-ripple  class="text-primary ">
                    <q-item-section>Resultado de Cumplimiento</q-item-section>
                    <q-item-section side><q-icon :color="estadoCumplimiento === 'mal' ? 'red' : ''" :name="estadoCumplimiento === 'mal' ? 'arrow_downward' : 'arrow_upward'"/>
                    {{formatPrice(diferenciaPorcentajes, 1)}}%
                    </q-item-section>
                  </q-item>
                </q-list>
              </div>
            </div>
            <q-separator style="height:1px"/>
            <div class="row q-pa-md">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-bold text-primary">
                <q-icon name="assessment" size="30px"/>
                CONSULTA DE VENTAS POR FECHA
              </div>
            </div>
            <div class="row q-pa-md">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <q-input   v-model="fecha_inicial" readonly  label="Fecha desde" stack-label class="q-mr-xl">
                  <template v-slot:append>
                    <q-icon color="primary" name="event" class="cursor-pointer">
                      <q-popup-proxy ref="qDateProxy2" transition-show="scale" transition-hide="scale">
                        <q-date :locale="myLocale" v-model="fecha_inicial" mask="YYYY-MM-DD" @input="$refs.qDateProxy2.hide();datosInformes()" />
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <q-input   v-model="fecha_final" readonly  label="Fecha hasta" stack-label class="q-mr-xl">
                  <template v-slot:append>
                    <q-icon color="primary" name="event" class="cursor-pointer">
                      <q-popup-proxy ref="qDateProxy3" transition-show="scale" transition-hide="scale">
                        <q-date :locale="myLocale" v-model="fecha_final" mask="YYYY-MM-DD" @input="$refs.qDateProxy3.hide();datosInformes()" />
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </div>
            </div>
            <q-list  padding>
              <q-item-label header class="text-center">Informe de ventas</q-item-label>
              <div v-for="(informe, index) in informes" :key="index">
              <q-item >
                <q-item-section>
                  <q-item-label overline class="text-bold text-primary">{{informe.clasificacion}}</q-item-label>
                  <q-item-label>Cantidad : {{formatPrice(informe.cantidad, 1)}}</q-item-label>
                  <q-item-label caption v-show="false">Secondary line text. Lorem ipsum dolor sit amet, consectetur adipiscit elit.</q-item-label>
                </q-item-section>

                <q-item-section side top>
                  <q-item-label caption>
                    <q-chip color="primary" text-color="white" dense v-if="tipo_visualizacion === 'bultos'">
                      {{formatPrice(informe.cantidad_bultos, 1)}} Bultos
                    </q-chip>
                    <q-chip color="primary" text-color="white" dense v-else>
                      {{formatPrice(informe.cantidad_bultos, 1)}} Kilos
                    </q-chip>
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-separator style="height:1px" class="bg-grey-4 " />
              </div>
            </q-list>
            <q-list  padding v-show="informes_especial.length>0">
              <q-item-label header class="text-center">Otros productos facturados</q-item-label>
              <div v-for="(informe, index) in informes_especial" :key="index">
              <q-item >
                <q-item-section>
                  <q-item-label overline class="text-bold text-primary">{{informe.descripcio}}</q-item-label>
                  <q-item-label>Cantidad : {{formatPrice(informe.cantidad, 1)}}</q-item-label>
                  <q-item-label caption v-show="false">Secondary line text. Lorem ipsum dolor sit amet, consectetur adipiscit elit.</q-item-label>
                </q-item-section>

                <q-item-section side top>
                  <q-item-label caption>
                    <q-chip color="primary" text-color="white" dense v-if="tipo_visualizacion === 'bultos'">
                      {{formatPrice(informe.cantidad_bultos, 1)}} Bultos
                    </q-chip>
                    <q-chip color="primary" text-color="white" dense v-else>
                      {{formatPrice(informe.cantidad_bultos, 1)}} Kilos
                    </q-chip>
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-separator style="height:1px" class="bg-grey-4 " />
              </div>
            </q-list>
            <q-list  padding v-show="informes_especial_otros.length>0">
              <q-item-label header class="text-center">Otros productos facturados</q-item-label>
              <div v-for="(informe, index) in informes_especial_otros" :key="index">
              <q-item >
                <q-item-section>
                  <q-item-label overline class="text-bold text-primary">{{informe.clasificacion}}</q-item-label>
                  <q-item-label v-show="false">Cantidad : {{formatPrice(informe.cantidad, 1)}}</q-item-label>
                  <q-item-label caption v-show="false">Secondary line text. Lorem ipsum dolor sit amet, consectetur adipiscit elit.</q-item-label>
                </q-item-section>

                <q-item-section side top>
                  <q-item-label caption>
                    <q-chip color="primary" text-color="white" dense>
                      {{formatPrice(informe.cantidad, 1)}}
                    </q-chip>
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-separator style="height:1px" class="bg-grey-4 " />
              </div>
            </q-list>
                <IEcharts ref="pie" :option="pieOptions" :resizable="true" style="height:350px" v-if="false"/>
          </div>
      </div>
  </div>
</template>

<script>
import axios from 'axios'
import { date, exportFile } from 'quasar'
import { mapActions } from 'vuex'
const timeStamp = Date.now()
export default {
  data () {
    return {
      dialog_tablero: false,
      ordena_vendedores: 'cumplimiento',
      filter_pro_bodega: '',
      dialog_en_bodega: false,
      total_bodega: 0,
      pagination: {
        rowsPerPage: 10
      },
      tipo_visualizacion: 'kilos',
      options: [
        {
          label: 'Ver en kilos',
          value: 'kilos'
        },
        {
          label: 'Ver en bultos',
          value: 'bultos'
        }
      ],
      id_interval: '',
      top_clientes: [],
      pedidos_bodega: [],
      top_clasificacion: [],
      top_vendedores: [],
      comentario: [],
      dialog_comentarios: false,
      position: 'top',
      dialog: false,
      buffer: 0,
      dias_trans: 0,
      dias_mes: 0,
      progress2: 0,
      data_torta: [],
      total_bultos: 0,
      total_bultos_aux: 0,
      total_bultos_presup: 0,
      fecha_inicial: date.formatDate(timeStamp, 'YYYY-MM-DD'),
      fecha_final: date.formatDate(timeStamp, 'YYYY-MM-DD'),
      informes: [],
      informes_vendedores: [],
      informes_especial: [],
      informes_especial_otros: [],
      loading: false,
      total_bultos_proyeccion: 0,
      proyeccion_venta: [],
      loading_vendedores: false,
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      },
      columns: [
        { name: 'clasificacion', align: 'left', label: 'CLASIFICACION PRODUCTO', field: 'clasificacion', sortable: true, headerClasses: 'text-white' },
        { name: 'cantidad', align: 'right', label: 'UNIDADES', field: 'cantidad', sortable: true, headerClasses: 'text-white' },
        { name: 'cantidad_bultos', align: 'right', label: 'CANTIDAD', field: 'cantidad_bultos', sortable: true, headerClasses: 'text-white' }
      ],
      columns_vendedores: [
        { name: 'nombre', align: 'left', label: '', field: 'nombre', sortable: true, headerClasses: 'text-white bg-primary' }
        // { name: 'venta_bultos', align: 'right', label: 'Cantidad vendida', field: 'venta_bultos', sortable: true, headerClasses: 'text-white bg-primary' }
        /* { name: 'btn_detalle', align: 'right', label: '', field: 'btn_detalle', sortable: true, headerClasses: 'text-white bg-primary' } */
      ],
      columns_especial: [
        { name: 'descripcio', align: 'left', label: 'PRODUCTO', field: 'descripcio', sortable: true, style: 'width: 30px', headerClasses: 'text-white' },
        { name: 'cantidad', align: 'right', label: 'UNIDADES', field: 'cantidad', sortable: true, style: 'width: 100px', headerClasses: 'text-white' },
        { name: 'cantidad_bultos', align: 'right', label: 'CANTIDAD', field: 'cantidad_bultos', sortable: true, style: 'width: 150px', headerClasses: 'text-white' }
      ],
      columns_especial_otros: [
        { name: 'clasificacion', align: 'left', label: 'CLASIFICACION PRODUCTO', field: 'clasificacion', sortable: true, style: 'width: 30px', headerClasses: 'text-white' },
        { name: 'cantidad', align: 'right', label: 'CANTIDAD', field: 'cantidad', sortable: true, style: 'width: 100px', headerClasses: 'text-white' }
      ],
      columns_pedidos_bodega: [
        { name: 'fecha_despacho', align: 'center', label: 'Fecha despacho', field: 'fecha_despacho', sortable: true, style: 'width: 30px', headerClasses: 'text-white' },
        { name: 'cliente', align: 'left', label: 'Cliente', field: 'cliente', sortable: true, style: 'width: 100px', headerClasses: 'text-white' },
        { name: 'nom_producto', align: 'left', label: 'Producto', field: 'nom_producto', sortable: true, style: 'width: 150px', headerClasses: 'text-white' },
        { name: 'cantidad_original', align: 'right', label: 'Cant. Despachada', field: 'cantidad_original', sortable: true, style: 'width: 150px', headerClasses: 'text-white' },
        { name: 'despachado', align: 'right', label: 'Facturado', field: 'despachado', sortable: true, style: 'width: 150px', headerClasses: 'text-white' },
        { name: 'estado', align: 'center', label: 'Estado', field: 'estado', sortable: true, style: 'width: 150px', headerClasses: 'text-white' }
      ]
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    progressLabel2 () {
      if (this.progress2) {
        return (this.progress2 * 100).toFixed(1)
      } else {
        return 0
      }
    },
    estadoCumplimiento () {
      if (this.buffer >= this.progress2) {
        return 'mal'
      } else {
        return 'bien'
      }
    },
    diferenciaPorcentajes () {
      if (this.estadoCumplimiento === 'bien') {
        return (this.progressLabel2 - (this.buffer * 100))
      } else {
        return ((this.buffer * 100) - this.progressLabel2)
      }
    },
    barOptions () {
      return {
        grid: {
          bottom: '20%',
          left: '15%',
          top: '3%'
        },
        legend: {
          bottom: 0,
          textStyle: {
            color: this.$q.dark.isActive ? 'white' : '#676767'
          }
        },
        tooltip: {},
        dataset: {
          dimensions: ['clasificacion', 'cantidad_bultos'],
          source: [
            { clasificacion: 'Harina', cantidad_bultos: 50 },
            { clasificacion: 'Pasta', cantidad_bultos: 80 },
            { clasificacion: 'Trigo', cantidad_bultos: 86 },
            { clasificacion: 'Grasa', cantidad_bultos: 72 }
          ]
        },
        xAxis: {
          type: 'category',
          axisLabel: {
            color: this.$q.dark.isActive ? 'white' : '#676767'
          }
        },
        yAxis: {
          axisLabel: {
            color: this.$q.dark.isActive ? 'white' : '#676767'
          }
        },
        series: [
          { type: 'bar', name: 'Sales' }
          // { type: 'bar', name: 'Goals' }
        ]
      }
    },
    pieOptions () {
      return {
        tooltip: {
          show: true
        },
        legend: {
          orient: this.$q.platform.is.desktop !== true ? 'vertical' : 'horizontal',
          bottom: this.$q.platform.is.desktop !== true ? 0 : 0,
          left: 'left',
          // top: 300,
          // left: 'auto',
          // right: 'auto',
          width: 700,
          textStyle: {
            color: this.$q.dark.isActive ? 'white' : '#676767'
          }
        },
        series: [
          {
            name: 'Ventas',
            type: 'pie',
            radius: ['40%', '75%'],
            avoidLabelOverlap: false,
            label: {
              normal: {
                show: true,
                position: 'inner',
                formatter: function (param, index) {
                  return param.percent + ' %'
                }
              },
              emphasis: {
                show: true,
                textStyle: {
                  fontSize: '25',
                  fontWeight: 'bold'
                }
              }
            },
            labelLine: {
              normal: {
                show: true
              }
            },
            selectedMode: 'single',
            data: this.data_torta
          }
        ]
      }
    }
  },
  methods: {
    wrapCsvValue (val, formatFn) {
      let formatted = formatFn !== void 0
        ? formatFn(val)
        : val

      formatted = formatted === void 0 || formatted === null
        ? ''
        : String(formatted)

      formatted = formatted.split('"').join('""')
      /**
       * Excel accepts \n and \r in strings, but some other CSV parsers do not
       * Uncomment the next two lines to escape new lines
       */
      // .split('\n').join('\\n')
      // .split('\r').join('\\r')

      return `"${formatted}"`
    },
    exportTable () {
      // naive encoding to csv format
      const content = [this.columns_pedidos_bodega.map(col => this.wrapCsvValue(col.label))].concat(
        this.pedidos_bodega.map(row => this.columns_pedidos_bodega.map(col => this.wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[ col.field === void 0 ? col.name : col.field ],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'lista-pedidos-bodega.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    open (position) {
      this.position = position
      this.dialog = true
    },
    openComentarios (position) {
      this.position = position
      this.dialog_comentarios = true
    },
    datosInformes () {
      var self = this
      self.loading = true
      axios.get(this.api_url + '/api/pedido/informes/', {
        params: {
          // prospecto: this.consulta_prospecto,
          // filtro: this.theModel,
          fecha_inicial: this.fecha_inicial,
          fecha_final: this.fecha_final,
          unidad_medida: this.tipo_visualizacion,
          accion: 'detalle',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.informes = response.data
      }).finally(function () {
        self.informes.sort((a, b) => (a.cantidad_bultos < b.cantidad_bultos) ? 1 : -1)
        self.obtenerTotalVentas(self.informes)
        // self.pieOptions()
        self.obtenerProyeccionTotalBultos()
        // self.obtenerTotal()
        self.datosInformesEspecial()
        self.datosInformesEspecialOtros()
        self.graficar()
        self.totalBultosPresupuesto()
        self.obtenerTotalesLineaProgreso()
        self.obtenerTotalVentasLinea()
        self.datosInformesVendedores('cumplimiento')
        // self.obtenerComentario()
        self.obtenerTopClientes()
        self.obtenerTopClasificacion()
        self.obtenerTopVendedores()
        self.obtenerTotalPesoBodega()
        self.movimientoRegistro()
        self.loading = false
      })
    },
    obtenerTotalVentas (objeto) {
      this.total_bultos = 0
      var suma = 0
      for (var i = 0; i < objeto.length; i++) {
        suma += objeto[i].cantidad_bultos
      }
      this.total_bultos = suma
    },
    obtenerColorCumplimiento (estado, tipoVisualizacion) {
      if (tipoVisualizacion === 'color') {
        if (estado === 'muy_bajo') {
          return 'red-6'
        } else if (estado === 'bajo') {
          return 'red-10'
        } else if (estado === 'medio_bajo') {
          return 'yellow-9'
        } else if (estado === 'medio_alto') {
          return 'light-green-6'
        } else {
          return 'light-green-10'
        }
      } else if (tipoVisualizacion === 'icono') {
        if (estado === 'muy_bajo') {
          return 'fas fa-sad-cry'
        } else if (estado === 'bajo') {
          return 'fas fa-frown'
        } else if (estado === 'medio_bajo') {
          return 'fas fa-meh'
        } else if (estado === 'medio_alto') {
          return 'fas fa-smile'
        } else {
          return 'fas fa-grin-stars'
        }
      }
    },
    obtenerTotalesLineaProgreso () {
      this.progress2 = this.total_bultos_aux / this.total_bultos_presup
    },
    obtenerTotalVentasPresupuestadas () {
      // this.buffer = ((this.total_bultos_presup / 30) * this.dias_trans) / this.total_bultos_presup
      this.buffer = ((this.total_bultos_presup / this.dias_mes) * this.dias_trans) / this.total_bultos_presup
    },
    datosInformesEspecial () {
      var self = this
      // self.loading = true
      axios.get(this.api_url + '/api/pedido/informes/', {
        params: {
          // prospecto: this.consulta_prospecto,
          // filtro: this.theModel,
          fecha_inicial: this.fecha_inicial,
          fecha_final: this.fecha_final,
          unidad_medida: this.tipo_visualizacion,
          accion: 'detalle_especial',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.informes_especial = response.data
      }).finally(function () {
        // self.pieOptions()
        // self.loading = false
      })
    },
    obtenerPedidosEnBodega () {
      var self = this
      // self.loading = true
      axios.get(this.api_url + '/api/pedido/obtener-pedidos-bodega/', {
        params: {
          unidad_medida: this.tipo_visualizacion,
          paginacion: 'no',
          filtro: '',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.pedidos_bodega = response.data
      }).finally(function () {
        // self.loading = false
      })
    },
    obtenerTotalPesoBodega () {
      var self = this
      // self.loading = true
      axios.get(this.api_url + '/api/pedido/obtener-total-bodega/', {
        params: {
          // prospecto: this.consulta_prospecto,
          // filtro: this.theModel,
          fecha_inicial: this.fecha_inicial,
          fecha_final: this.fecha_final,
          tipo_consulta: '',
          unidad_medida: this.tipo_visualizacion,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.total_bodega = response.data.total_kilos
      }).finally(function () {
        // self.pieOptions()
        // self.loading = false
      })
    },
    obtenerTopClientes () {
      var self = this
      axios.get(this.api_url + '/api/pedido/informes/', {
        params: {
          fecha_inicial: this.fecha_inicial,
          fecha_final: this.fecha_final,
          unidad_medida: this.tipo_visualizacion,
          accion: 'top-clientes',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.top_clientes = response.data
      }).finally(function () {
      })
    },
    obtenerTopClasificacion () {
      var self = this
      axios.get(this.api_url + '/api/pedido/informes/', {
        params: {
          fecha_inicial: this.fecha_inicial,
          fecha_final: this.fecha_final,
          unidad_medida: this.tipo_visualizacion,
          accion: 'top-clasificacion',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.top_clasificacion = response.data
      }).finally(function () {
      })
    },
    obtenerTopVendedores () {
      var self = this
      axios.get(this.api_url + '/api/pedido/informes/', {
        params: {
          fecha_inicial: this.fecha_inicial,
          fecha_final: this.fecha_final,
          unidad_medida: this.tipo_visualizacion,
          accion: 'top-vendedores',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.top_vendedores = response.data
      }).finally(function () {
      })
    },
    datosInformesVendedores (orderBy = 'cumplimiento') {
      var self = this
      self.loading_vendedores = true
      axios.get(this.api_url + '/api/presupuestos-vendedores/obtener-ventas-vendedores-fecha/', {
        params: {
          // prospecto: this.consulta_prospecto,
          // filtro: this.theModel,
          fecha_inicial: this.fecha_inicial,
          unidad_medida: this.tipo_visualizacion,
          fecha_final: this.fecha_final,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.informes_vendedores = response.data
      }).finally(function () {
        if (orderBy === 'cumplimiento') {
          self.informes_vendedores.sort((a, b) => (a.cumplimiento < b.cumplimiento) ? 1 : -1)
        } else {
          self.informes_vendedores.sort((a, b) => (a.venta_bultos < b.venta_bultos) ? 1 : -1)
        }
        self.loading_vendedores = false
      })
    },
    obtenerTotalVentasLinea () {
      var self = this
      // self.loading = true
      axios.get(this.api_url + '/api/pedido/informes/', {
        params: {
          // prospecto: this.consulta_prospecto,
          // filtro: this.theModel,
          fecha_inicial: self.fecha_inicial,
          fecha_final: self.fecha_final,
          accion: 'total_bultos_linea',
          unidad_medida: this.tipo_visualizacion,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.total_bultos_aux = response.data.total_bultos
      }).finally(function () {
        self.obtenerTotalesLineaProgreso()
        // self.pieOptions()
        // self.loading = false
      })
    },
    obtenerComentario () {
      var self = this
      // self.loading = true
      axios.get(this.api_url + '/api/comentarios/obtener-comentario/', {
        params: {
          fecha_inicial: self.fecha_inicial,
          tipo: 'Diario',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.comentario = response.data
      }).finally(function () {
      })
    },
    datosInformesEspecialOtros () {
      var self = this
      // self.loading = true
      axios.get(this.api_url + '/api/pedido/informes/', {
        params: {
          // prospecto: this.consulta_prospecto,
          // filtro: this.theModel,
          fecha_inicial: this.fecha_inicial,
          fecha_final: this.fecha_final,
          accion: 'detalle_especial_otros',
          unidad_medida: this.tipo_visualizacion,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.informes_especial_otros = response.data
      }).finally(function () {
        // self.pieOptions()
        // self.loading = false
      })
    },
    totalBultosPresupuesto () {
      var self = this
      // self.loading = true
      axios.get(this.api_url + '/api/pedido/informes/', {
        params: {
          // prospecto: this.consulta_prospecto,
          // filtro: this.theModel,
          fecha_inicial: this.fecha_inicial,
          fecha_final: this.fecha_final,
          unidad_medida: this.tipo_visualizacion,
          accion: 'total_bultos_presupuesto',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.total_bultos_presup = response.data.bultos
        self.dias_trans = response.data.dias_transcurridos
        self.dias_mes = response.data.dias_mes
      }).finally(function () {
        self.obtenerTotalesLineaProgreso()
        self.obtenerTotalVentasPresupuestadas()
        // self.pieOptions()
        // self.loading = false
      })
    },
    obtenerTotal () {
      var self = this
      self.loading = true
      axios.get(this.api_url + '/api/pedido/informes/', {
        params: {
          // prospecto: this.consulta_prospecto,
          // filtro: this.theModel,
          fecha_inicial: this.fecha_inicial,
          unidad_medida: this.tipo_visualizacion,
          fecha_final: this.fecha_final,
          accion: 'total_bultos',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        // console.log(response)
        self.total_bultos = response.data.bultos
        // self.total_bultos_aux = response.data.total_bultos
      }).finally(function () {
        self.loading = false
      })
    },
    obtenerProyeccionTotalBultos () {
      var self = this
      self.loading = true
      axios.get(this.api_url + '/api/despachos/proyeccion-total-bultos', {
        params: {
          unidad_medida: this.tipo_visualizacion,
          tipo_consulta: '',
          fecha_inicial: this.fecha_inicial,
          fecha_final: this.fecha_final,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.proyeccion_venta = response.data
      }).finally(function () {
        // Totaliza la proyección de venta
        const proyeccion = self.proyeccion_venta.reduce((total, elemento) => total + elemento.peso, 0)
        self.total_bultos_proyeccion = proyeccion
      })
    },
    graficar () {
      var self = this
      self.loading = true
      axios.get(this.api_url + '/api/pedido/informes/', {
        params: {
          // prospecto: this.consulta_prospecto,
          // filtro: this.theModel,
          fecha_inicial: this.fecha_inicial,
          fecha_final: this.fecha_final,
          unidad_medida: this.tipo_visualizacion,
          accion: 'grafico_ventas_fecha',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        // console.log(response)
        self.data_torta = response.data
      }).finally(function () {
        self.loading = false
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    VerCumplimientoVendedor (vendedor, nombre) {
      this.$router.push({ name: '/presupuesto/consolidado-ventas-mes-vendedor', params: { vendedor: vendedor, nombre: nombre } })
    },
    formatPrice (value, decimales = 0) {
      let val = (value / 1).toFixed(decimales).replace('.', ',')
      if (val) {
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
      } else {
        return 0
      }
    },
    ...mapActions('store', ['movimientoRegistro']),
    actualizaInfoAuto () {
      var self = this
      this.id_interval = setInterval(function () {
        // console.log('Ejecutado desde informes .................................................................')
        self.datosInformes()
      }, 180000)
    }
  },
  created () {
  },
  beforeDestroy () {
    clearInterval(this.id_interval)
  },
  mounted () {
    this.actualizaInfoAuto()
    this.datosInformes()
    // this.verificarAccesoModulo()
  },
  watch: {
    tipo_visualizacion () {
      this.datosInformes()
    },
    fecha_final () {
      // this.datosInformes()
    },
    fecha_inicial () {
      // this.datosInformes()
    },
    ordena_vendedores (val) {
      this.datosInformesVendedores(val)
    }
  }
}
</script>
<style lang="sass">
.my-sticky-header-table-informes
  /* max height is important */
  .q-table__middle
    max-height: 200px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #225A40

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
