<template>

  <div class="row" v-if="!verificaPermiso(57)">
    <usuarios-no-autorizado/>
  </div>

  <div class="q-pa-none" v-else>
    <div class="row">
      <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center text-h5 text-grey-8 q-mb-md">
        Gestión de vendedores
      </div>
    </div>
    <div class="row bg-white q-pa-md shadow-1 q-my-xs">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="q-pa-md row items-start q-gutter-md ">
                <q-select
                  dense
                  v-model="anio"
                  outlined
                  :options="anios"
                  stack-label
                  label="Año"
                  style="width: 80px;"
                />
                <q-select
                  dense
                  outlined
                  v-model="mes"
                  :options="meses"
                  label="Mes"
                  style="width: 120px;"
                />
                <q-separator vertical  />
                <q-select @input="obtenerVisitas()" dense outlined  v-model="vendedor" style="width: 360px;"  label="Vendedores" stack-label :options="vendedores"  map-options option-value="codigo" option-label="nombre"/>
                <q-btn label="Consultar" color="primary" @click="obtenerVisitas()" />
                <q-checkbox @input="obtenerVisitas()" v-model="modo_vista" :label="modo_vista === true ? 'Ver modo listado':'Ver modo calendario'" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row bg-white q-pa-md shadow-1" v-show="modo_vista == false">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
            <q-table
              title="Visitas"
              flat
              :data="visitas"
              :columns="columns"
              :loading="loading"
              :filter="filter"
              dense
              :rows-per-page-options="[10]"
            >
              <template v-slot:top-right>
                <q-btn
                  color="primary"
                  flat
                  icon-right="fas fa-arrow-alt-circle-down"
                  label="Exportar Información"
                  no-caps
                  @click="exportTable()"
                  class="cursor-pointer q-mr-md"
                />
                <q-input  dense debounce="300" v-model="filter" placeholder="Buscar visitas">
                  <template v-slot:append>
                    <q-icon name="search" />
                  </template>
                </q-input>
              </template>
              <template v-slot:body="props" >
                <q-tr :props="props" >

                  <q-td key="estado" :props="props">
                    <q-chip size="11px" square :color="props.row.estado === 'Pendiente' ? colores.pendiente : colores.gestionado">{{ props.row.estado }}</q-chip>
                  </q-td>

                  <q-td key="fecha" :props="props">
                    {{ props.row.fecha }}
                  </q-td>

                  <q-td key="fec_modifica" :props="props">
                    {{ props.row.fec_modifica }}
                  </q-td>

                  <q-td key="nom_vendedor" :props="props">
                    {{ props.row.nom_vendedor }}
                  </q-td>

                  <!-- <q-td key="nit_cliente" :props="props">
                    {{ props.row.nit_cliente }}
                  </q-td> -->

                  <q-td key="nom_cliente" :props="props">
                    {{ props.row.nom_cliente }}
                  </q-td>

                  <q-td key="presencial" :props="props">
                    {{ props.row.presencial }}
                  </q-td>

                  <q-td key="operacion" :props="props">
                    {{ props.row.operacion }}
                  </q-td>

                  <q-td key="valor_cobro" :props="props">
                    {{ formatPrice(props.row.valor_cobro,0) }}
                  </q-td>

                  <q-td key="comentarios" :props="props">
                    <div class="my-table-details">{{ props.row.comentarios }}</div>
                  </q-td>

                  <q-td key="acciones" :props="props">

                  </q-td>

                </q-tr>
              </template>
            </q-table>
          </div>
      </div>
      <div class="row bg-white q-pa-none shadow-0" v-show="modo_vista == true">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8" >
          <full-calendar @eventClick="eventClick" :events="fcEvents" :config="config" @changeMonth="changeMonth"/>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4" v-if="vendedor.codigo">
          <div class="col-12 text-center q-py-md text-bold text-primary text-h6">{{ vendedor.nombre }}</div>
          <div class="row">
            <div class="col-12 text-h6 text-primary">
              <q-card class="shadow-0 q-mb-sm">
                <q-card-section class="bg-primary q-pa-sm text-white">
                  <q-item class="q-pb-none q-pt-xs">
                    <q-item-section>
                      <q-item-label class="text-h6" style="font-weight: 700;letter-spacing: 3px;">{{ clientes.length }}</q-item-label>
                      <q-item-label class="text-white">Clientes asignados</q-item-label>
                    </q-item-section>

                    <q-item-section side>
                      <q-icon name="fas fa-users" color="white" size="35px"></q-icon>
                    </q-item-section>
                  </q-item>
                </q-card-section>
              </q-card>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-h6 text-primary">
              <q-list>
                <q-item>
                  <q-item-section>
                    <q-item-label>Clientes visitados <q-chip size="11px" color="primary" class="text-white text-bold">{{ clientes_visitados }}</q-chip></q-item-label>
                      <q-linear-progress rounded color="green-6" v-if="clientes_visitados>0 && clientes.length>0" size="25px" :value="(clientes_visitados/clientes.length)">
                        <div class="absolute-full flex flex-center">
                          <q-badge color="white" text-color="black" :label="((clientes_visitados/clientes.length)*100).toFixed(1) + '%'" />
                        </div>
                      </q-linear-progress>
                  </q-item-section>
                </q-item>

                <q-separator spaced  />

              </q-list>
            </div>
          </div>
          <div class="row bg-grey-2 q-pa-md">
            <div class="col-4 text-left text-blue-9" style="font-size:19px">
              <strong class="text-h4 text-bold">{{ visitas.length }}</strong> Visitas prog.
            </div>
            <div :class="'col-4 text-center text-' + colores.gestionado">
              <strong class="text-h4 text-bold">{{ visitas.filter(item => item.estado === 'Gestionado').length }}</strong> Gestionadas
            </div>
            <div :class="'col-4 text-center text-' + colores.pendiente">
              <strong class="text-h4 text-bold ">{{ visitas.filter(item => item.estado === 'Pendiente').length }}</strong> Pendientes
            </div>
          </div>
          <div class="row bg-grey-2 q-pa-md" v-if="visitas.length>0">
            <div class="col-12 q-pa-none text-bold text-primary">
              Cumplimiento de gestión
            </div>
            <div class="col-12 q-pa-none">
              <q-linear-progress rounded size="25px" :value="(visitas.filter(item => item.estado === 'Gestionado').length/visitas.length)" color="blue-9" class="q-mt-sm" >
                <div class="absolute-full flex flex-center">
                  <q-badge color="white" text-color="black" :label="((visitas.filter(item => item.estado === 'Gestionado').length/visitas.length)*100).toFixed(1) + '%'" />
                </div>
              </q-linear-progress>
            </div>
          </div>
          <div class="row bg-grey-2 q-pa-md">
            <div class="col-12" align="center">
              <div class="q-pa-xs q-gutter-sm" >
                <q-btn :icon="obtenerIcono(operacion.tipo)" flat class="text-bold" v-for="(operacion, index) in opraciones" :key="index" no-caps color="white" text-color="grey-7" :label="operacion.tipo">
                  <q-badge color="red"  floating >{{ operacion.cantidad }}</q-badge>
                </q-btn>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4" v-else>
          <div class="col-12 text-center q-py-md text-bold text-primary text-h6">Análisis mes de {{ mes }}</div>
          <div class="row">
            <div class="col-12 text-h6 text-primary">
              <q-card class="shadow-0 q-mb-sm">
                <q-card-section class="bg-primary q-pa-sm text-white">
                  <q-item class="q-pb-none q-pt-xs">
                    <q-item-section>
                      <q-item-label class="text-h6" style="font-weight: 700;letter-spacing: 3px;">{{ clientes.length }}</q-item-label>
                      <q-item-label class="text-white">Clientes activos</q-item-label>
                    </q-item-section>

                    <q-item-section side>
                      <q-icon name="fas fa-users" color="white" size="35px"></q-icon>
                    </q-item-section>
                  </q-item>
                </q-card-section>
              </q-card>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-h6 text-primary">
              <q-list>
                <q-item>
                  <q-item-section>
                    <q-item-label>Clientes visitados <q-chip size="11px" color="primary" class="text-white text-bold">{{ clientes_visitados }}</q-chip></q-item-label>
                      <q-linear-progress rounded color="green-6" v-if="clientes_visitados>0 && clientes.length>0" size="25px" :value="(clientes_visitados/clientes.length)">
                        <div class="absolute-full flex flex-center">
                          <q-badge color="white" text-color="black" :label="((clientes_visitados/clientes.length)*100).toFixed(1) + '%'" />
                        </div>
                      </q-linear-progress>
                  </q-item-section>
                </q-item>

                <q-separator spaced  />

              </q-list>
            </div>
          </div>
          <div class="row bg-grey-2 q-pa-md">
            <div class="col-4 text-left text-blue-9" style="font-size:19px">
              <strong class="text-h4 text-bold">{{ visitas.length }}</strong> Visitas prog.
            </div>
            <div :class="'col-4 text-center text-' + colores.gestionado">
              <strong class="text-h4 text-bold">{{ visitas.filter(item => item.estado === 'Gestionado').length }}</strong> Gestionadas
            </div>
            <div :class="'col-4 text-center text-' + colores.pendiente">
              <strong class="text-h4 text-bold ">{{ visitas.filter(item => item.estado === 'Pendiente').length }}</strong> Pendientes
            </div>
          </div>
          <div class="row bg-grey-2 q-pa-md" v-if="visitas.length>0">
            <div class="col-12 q-pa-none text-bold text-primary">
              Cumplimiento de gestión
            </div>
            <div class="col-12 q-pa-none">
              <q-linear-progress rounded size="25px" :value="(visitas.filter(item => item.estado === 'Gestionado').length/visitas.length)" color="blue-9" class="q-mt-sm" >
                <div class="absolute-full flex flex-center">
                  <q-badge color="white" text-color="black" :label="((visitas.filter(item => item.estado === 'Gestionado').length/visitas.length)*100).toFixed(1) + '%'" />
                </div>
              </q-linear-progress>
            </div>
          </div>
          <div class="row bg-grey-2 q-pa-md">
            <div class="col-12" align="center">
              <div class="q-pa-xs q-gutter-sm" >
                <q-btn :icon="obtenerIcono(operacion.tipo)" flat class="text-bold" v-for="(operacion, index) in opraciones" :key="index" no-caps color="white" text-color="grey-7" :label="operacion.tipo">
                  <q-badge color="red"  floating >{{ operacion.cantidad }}</q-badge>
                </q-btn>
              </div>
            </div>
          </div>
          <div class="row bg-white q-pa-xs">
            <div class="col-12">
              <q-list>
                <div v-for="(info, index) in clientes_visitados_vend" :key="index">
                  <q-item>
                    <q-item-section>
                      <q-item-label class="text-bold text-primary">{{ info.vendedor }}</q-item-label>
                      <q-item-label v-if="info.mis_clientes>0">
                        <q-linear-progress rounded size="20px" :value="(info.visitas/info.mis_clientes)" color="blue-9" class="q-mt-sm" >
                          <div class="absolute-full flex flex-center">
                            <q-badge color="white" text-color="black" :label="((info.visitas/info.mis_clientes)*100).toFixed(1) + '%'" />
                          </div>
                        </q-linear-progress>
                      </q-item-label>
                    </q-item-section>

                    <q-item-section side top>
                      <q-item-label caption>Mis clientes <b>({{ info.mis_clientes }})</b></q-item-label>
                      <q-item-label caption>Visitados <b>({{ info.visitas }})</b></q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-separator spaced inset></q-separator>
                </div>
              </q-list>
            </div>
          </div>
        </div>

      </div>
      <q-dialog v-model="modal_evento" >
        <q-card  style="width: 600px; max-width: 85vw;">
          <q-card-section>
            <div class="row q-pa-md text-primary text-bold   text-center">
              <div class="col-12">
                DETALLE DE LA GESTIÓN
              </div>
            </div>
            <q-card class="my-card" flat bordered>
              <q-card-section >
                  <div class="q-mt-sm q-mb-xs text-right"> <q-chip square :color="visita.estado=='Pendiente'?'grey-4':'green-3'">{{ visita.estado }}</q-chip></div>
                  <div class="q-mt-sm q-mb-xs" style="font-size: 17px;"><b>Cliente</b> {{ visita.nom_cliente }}</div>
                  <div class="text-grey-8">Visita {{visita.presencial}}, se programó {{ visita.operacion }} para el día {{ visita.fecha_texto }}</div>
                  <div class="text-grey-8" v-show="visita.operacion == 'Cobro' && visita.estado == 'Gestionado'"><b class="text-primary">Valor cobrado:</b> (${{ formatPrice(visita.valor_cobro, 0) }})</div>
              </q-card-section>
              <q-card-section v-show="visita.estado == 'Gestionado'">
                <div class="q-mt-xs text-bold text-primary" style="font-size: 17px;">Gestión de la visita</div>
                <q-chat-message
                  :name="visita.nom_vendedor"
                  :text="[visita.comentarios]"
                  :stamp="visita.fec_modifica !== '' ? 'Gestionado : ' + visita.fec_modifica : ''"
                  size="12"
                  class="q-pa-sm"
                  text-color="grey-8"
                  bg-color="grey-3"
                />
              </q-card-section>

              <q-separator></q-separator>

              <q-card-actions>
                <q-btn flat no-caps>
                  Registrado: {{ visita.created_at }}
                </q-btn>
                <q-btn flat color="red-8" @click="modal_evento = false">
                  Cerrar
                </q-btn>
              </q-card-actions>
            </q-card>
          </q-card-section>
        </q-card>
      </q-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import { exportFile } from 'quasar'
import 'moment/locale/es' // Importa el paquete de idioma español
const currentYear = new Date().getFullYear()
const fechaActual = new Date()
export default {
  data () {
    return {
      colores: { pendiente: 'grey-6', gestionado: 'green-14' },
      opraciones: [],
      clientes_visitados: 0,
      clientes: [],
      clientes_visitados_vend: [],
      anios: [],
      anio: currentYear,
      meses: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      mes: '',
      modal_evento: false,
      visita: {},
      fcEvents: [],
      config: {
        locale: 'es',
        defaultDate: '2023-01-01'
      },
      date: '',
      events: [],
      modo_vista: false,
      vendedor: { codigo: '', nombre: 'Mostrar todos' },
      fecha_inicio: '',
      fecha_final: '',
      loading: false,
      filter: '',
      visitas: [],
      vendedores: [],
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      },
      columns: [
        { name: 'estado', align: 'left', label: 'Estado', field: 'estado', sortable: true, headerClasses: 'text-primary', style: 'width: 30px' },
        { name: 'fecha', align: 'left', label: 'Fecha Progr.', field: 'fecha', sortable: true, headerClasses: 'text-primary', style: 'width: 30px' },
        { name: 'fec_modifica', align: 'left', label: 'Fecha Gest.', field: 'fec_modifica', sortable: true, headerClasses: 'text-primary', style: 'width: 30px' },
        { name: 'nom_vendedor', align: 'left', label: 'Vendedor', field: 'nom_vendedor', sortable: true, headerClasses: 'text-primary', style: 'width: 150px' },
        // { name: 'nit_cliente', align: 'rigth', label: 'Nit', field: 'nit_cliente', sortable: true, headerClasses: 'text-primary' },
        { name: 'nom_cliente', align: 'left', label: 'Cliente', field: 'nom_cliente', sortable: true, headerClasses: 'text-primary' },
        { name: 'presencial', align: 'left', label: 'Modo', field: 'presencial', sortable: true, headerClasses: 'text-primary' },
        { name: 'operacion', align: 'left', label: 'Operacion', field: 'operacion', sortable: true, headerClasses: 'text-primary' },
        { name: 'valor_cobro', align: 'right', label: '$ Cobro', field: 'valor_cobro', sortable: true, headerClasses: 'text-primary' },
        { name: 'comentarios', align: 'left', label: 'Comentarios', field: 'comentarios', sortable: true, headerClasses: 'text-primary', style: 'width: 200px' },
        { name: 'acciones', align: 'center', label: '', field: 'acciones', sortable: true, headerClasses: 'text-primary' }
      ]
    }
  },
  computed: {
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    api_url () {
      return this.$store.getters['store/url_api']
    }
  },
  methods: {
    obtenerIcono (operacion) {
      // console.log(operacion)
      if (operacion === 'Pedido') {
        return 'fas fa-edit'
      } else if (operacion === 'Cobro') {
        return 'fas fa-dollar-sign'
      } else if (operacion === 'Inventario') {
        return 'fa fa-boxes'
      }
    },
    agregarClase () {
      // Busca todos los elementos con la clase "elemento"
      const elementos = document.querySelectorAll('.weeks')
      const elementosWeek = document.querySelectorAll('.week')
      const contenedorCalendario = document.querySelectorAll('.comp-full-calendar')
      contenedorCalendario.forEach(elemento => {
        // console.log(elemento)
        elemento.classList.add('ancho-calendario')
      })
      // Itera sobre los elementos y añade las clases adicionales
      elementos.forEach(elemento => {
        // console.log(elemento)
        elemento.classList.add('bg-primary', 'text-white', 'text-subtitle1')
      })
      // Cambia de ingles a español
      elementosWeek.forEach(elemento => {
        if (elemento.innerText === 'Sun') {
          elemento.innerText = 'Dom'
        } else if (elemento.innerText === 'Mon') {
          elemento.innerText = 'Lun'
        } else if (elemento.innerText === 'Tue') {
          elemento.innerText = 'Mar'
        } else if (elemento.innerText === 'Wed') {
          elemento.innerText = 'Mié'
        } else if (elemento.innerText === 'Thu') {
          elemento.innerText = 'Jue'
        } else if (elemento.innerText === 'Fri') {
          elemento.innerText = 'Vie'
        } else if (elemento.innerText === 'Sat') {
          elemento.innerText = 'Sáb'
        }
      })
    },
    obtenerVisitasPorOperaciones (data) {
      // Usar reduce para contar las operaciones por tipo
      const resumenOperaciones = data.reduce((acumulador, operacionActual) => {
        // Obtener el tipo de operacion
        const tipo = operacionActual.operacion
        // Si el tipo de operacion no existe en el acumulador, inicializarlo en 0
        if (!acumulador[tipo]) {
          acumulador[tipo] = 0
        }
        // Incrementar el conteo para el tipo de operacion
        acumulador[tipo] += 1
        return acumulador
      }, {}) // Iniciar el acumulador como un objeto vacío
      // Iterar sobre el resultado usando Object.entries
      Object.entries(resumenOperaciones).forEach(([tipo, cantidad]) => {
        // console.log(`Operación: ${tipo}, Cantidad: ${cantidad}`)
        this.opraciones.push({ tipo: tipo, cantidad: cantidad })
      })
    },
    eventClick: function (event) {
      if (this.vendedor.codigo) {
        this.visita = event.info_visita
        this.modal_evento = true
      }
    },
    changeMonth: function (info1, info2, info3) {
      var fecAgenda = info3.split('-')
      this.anio = fecAgenda[0]
      this.mes = this.meses[Number(fecAgenda[1]) - 1]
      this.obtenerVisitas()
      // Aquí puedes manejar el evento, por ejemplo:
      // alert('El mes ha cambiado a ' + info.month);
    },
    obtenerVendedores () {
      var self = this
      axios.get(this.api_url + '/api/usuarios/obtener-vendedores/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.vendedores = response.data
      }).finally(function () {
        self.vendedores.push({ codigo: '', nombre: 'Mostrar todos' })
      })
    },
    obtenerFechas (opcion) {
      var today = new Date()
      var dd = today.getDate()
      var mm = today.getMonth() + 1 // January is 0!
      var yyyy = today.getFullYear()
      if (dd < 10) {
        dd = '0' + dd
      }
      if (mm < 10) {
        mm = '0' + mm
      }
      if (opcion === 'inicio') {
        mm = '0' + 1
        dd = '0' + 1
      } else {
        mm = 12
        dd = 31
      }
      // var actual = dd + '/' + mm + '/' + yyyy
      var actual = yyyy + '-' + mm + '-' + dd
      return actual
    },
    wrapCsvValue (val, formatFn) {
      let formatted = formatFn !== void 0
        ? formatFn(val)
        : val

      formatted = formatted === void 0 || formatted === null
        ? ''
        : String(formatted)

      formatted = formatted.split('"').join('""')
      /**
       * Excel accepts \n and \r in strings, but some other CSV parsers do not
       * Uncomment the next two lines to escape new lines
       */
      // .split('\n').join('\\n')
      // .split('\r').join('\\r')

      return `"${formatted}"`
    },
    exportTable () {
      // naive encoding to csv format
      const content = [this.columns.map(col => this.wrapCsvValue(col.label))].concat(
        this.visitas.map(row => this.columns.map(col => this.wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[ col.field === void 0 ? col.name : col.field ],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'listado-visitas.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },
    obtenerClientesVisitados (datos) {
      // Usar un objeto para unificar los NIT únicos
      const clientesUnicos = {}

      datos.forEach(cliente => {
        clientesUnicos[cliente.nit_cliente] = cliente
      })
      // Convertir el objeto de vuelta a un arreglo
      const clientesUnificados = Object.values(clientesUnicos)
      return clientesUnificados
    },
    obtenerClientesVisitadosPorVendedor (visitas, clientes) {
      /* eslint-disable camelcase */
      const countUniqueClientsByVendor = (visitas) => {
        // Crea un objeto para almacenar los datos
        const vendorClientMap = {}

        // Recorre el array de visitas
        visitas.forEach(visit => {
          const { cod_vendedor, nom_vendedor, nit_cliente } = visit

          // Inicializa el objeto para el vendedor si no existe
          if (!vendorClientMap[cod_vendedor]) {
            vendorClientMap[cod_vendedor] = {
              nom_vendedor: nom_vendedor,
              clients: new Set()
            }
          }
          // Agrega el cliente al conjunto de clientes únicos
          vendorClientMap[cod_vendedor].clients.add(nit_cliente)
        })
        // Crea un array para los resultados
        const results = []

        // Recorre el mapa para construir el resultado final
        for (const cod_vendedor in vendorClientMap) {
          const { nom_vendedor, clients } = vendorClientMap[cod_vendedor]
          // results.push(`${nom_vendedor} visitó ${clients.size} clientes`)
          // Clientes asignados
          var nro_clientes = clientes.filter(item => item.Vendedor === cod_vendedor).length
          results.push({ vendedor: nom_vendedor, visitas: clients.size, mis_clientes: nro_clientes })
        }

        return results
      }

      const results = countUniqueClientsByVendor(visitas)
      console.log(results)
      return results
      /* eslint-enable camelcase */
    },
    obtenerVisitas () {
      var self = this
      self.events = []
      self.opraciones = []
      self.fcEvents = []
      self.showLoading('Obteniendo información, por favor espere ...')
      self.loading = true
      axios.get(self.api_url + '/api/visita/obtener/', {
        params: {
          token: localStorage.getItem('token'),
          tipo_vista: 'jefe_vendedores',
          vendedor: self.vendedor.codigo,
          mes: self.mes,
          anio: self.anio
        }
      }).then((response) => {
        self.visitas = response.data.visitas
        self.anios = response.data.anios
        self.clientes = response.data.clientes
      }).finally(function () {
        self.loading = false
        self.obtenerFechasAgenda(self.visitas)
        self.clientes_visitados = self.obtenerClientesVisitados(self.visitas.filter(item => item.estado === 'Gestionado')).length
        self.obtenerVisitasPorOperaciones(self.visitas)
        self.clientes_visitados_vend = self.obtenerClientesVisitadosPorVendedor(self.visitas.filter(item => item.estado === 'Gestionado'), self.clientes)
        self.hideLoading()
      })
    },
    obtenerFechasAgenda (datos) {
      var self = this
      // Esta opcion es para que generalice los eventos por dias de todas las operacion
      if (this.vendedor.codigo === '') {
        // Iterar sobre cada operación
        const conteoOperaciones = {}
        datos.forEach(op => {
          const fecha = op.fecha_calendario
          const tipoOperacion = op.operacion
          // Si la fecha no existe en el objeto, inicialízala
          if (!conteoOperaciones[fecha]) {
            conteoOperaciones[fecha] = {}
          }
          // Si el tipo de operación no existe para esta fecha, inicialízalo
          if (!conteoOperaciones[fecha][tipoOperacion]) {
            conteoOperaciones[fecha][tipoOperacion] = 0
          }
          // Incrementa el conteo de operaciones para este tipo y fecha
          conteoOperaciones[fecha][tipoOperacion]++
        })
        // Acceder a las llaves (fechas) y valores (conteos por tipo de operación)
        Object.keys(conteoOperaciones).forEach(fecha => {
          // console.log(`Fecha: ${fecha}`)
          Object.keys(conteoOperaciones[fecha]).forEach(tipo => {
            self.fcEvents.push({ title: tipo + '(' + conteoOperaciones[fecha][tipo] + ')', start: fecha, cssClass: [this.obtenerClasexOperacion(tipo)] })
          })
        })
      } else {
        datos.forEach(visita => {
          var operacion = visita.operacion
          var cliente = visita.nom_cliente
          var title = operacion.slice(0, 3) + ' (' + cliente.slice(0, 10) + ')'
          self.fcEvents.push({ title: title, start: visita.fecha_calendario, cssClass: [this.obtenerClasexOperacion(visita.estado)], info_visita: visita })
        })
      }
    },
    obtenerClasexOperacion (estado) {
      if (estado === 'Pendiente') {
        return 'bg-' + this.colores.pendiente
      } else if (estado === 'Gestionado') {
        return 'bg-' + this.colores.gestionado
      }
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    formatPrice (value, decimales = 0) {
      let val = (value / 1).toFixed(decimales).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    }
  },
  mounted () {
    this.mes = this.meses[fechaActual.getMonth()]
    this.fecha_inicio = this.obtenerFechas('inicio')
    this.fecha_final = this.obtenerFechas('fin')
    this.obtenerVisitas()
    this.obtenerVendedores()
    this.agregarClase()
  },
  watch: {
  }
}
</script>
<style scoped>
.my-table-details{
  text-align: justify;
  font-size: 0.90em;
  font-style: italic;
  max-width: 270px;
  white-space: normal;
  margin-top: 4px;
}
.ancho-calendario{
  max-width: 100%;
}
</style>
