<template>

  <div class="row" v-if="!verificaPermiso(39)">
    <usuarios-no-autorizado/>
  </div>

  <div class="q-pa-none" v-else>
    <div class="row">
      <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <iframe title="Facturacion" width="100%" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiZjVkZmQ2ZWUtZDcxNy00MDI2LWE4MDktNmY2MmU2NWMzNzIyIiwidCI6IjAyMDMyMTBlLTA1ODQtNGJkYS1iMGUzLTI2NDFmOTM3YWZmMSJ9" frameborder="0" allowFullScreen="true"></iframe>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  computed: {
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    api_url () {
      return this.$store.getters['store/url_api']
    }
  },
  methods: {
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    }
  },
  mounted () {
  },
  watch: {
  }
}
</script>
