<template>
<q-page class="q-pt-xs bg-grey-3">
  <div class="q-pa-xs">
    <div class="q-pa-md" v-if="$q.platform.is.desktop === true">
    <q-toolbar class="bg-primary text-white">
      <q-icon size="30px"   name="fas fa-coins"  />
      <q-toolbar-title class="text-bold">Información Financiera</q-toolbar-title>
    </q-toolbar>
      <q-separator/> <br>
      <div class="row bg-white q-pa-md">
        <div class="col-md-1 col-lg-1 col-sm-12 col-xs-12  q-mr-md">
          <q-select v-model="select_anios" :options="anios_options" label="Año" @input="obtenerIngresos"/>
        </div>
        <div class="col-md-1 col-lg-1 col-sm-12 col-xs-12  q-mr-lg">
          <q-select v-model="select_mes" :options="meses_options" label="Mes" stack-label @input="select_tri = '';obtenerIngresos()"/>
        </div>
        <q-separator vertical class="q-mr-lg"  />
        <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12  q-mr-lg">
          <q-select v-model="select_tri" :options="trimestres" label="Consultar por trimestre" stack-label @input="obtenerIngresos"/>
        </div>
      </div>
      <div class="row q-my-lg shadow " style="border-radius: 14px;border: 0px solid rgba(0, 0, 0, 0.12);" >
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12  ">
          <q-card class="no-shadow q-pa-sm q-mr-md">
            <q-item class="q-pb-none q-pt-xs">
              <q-item-section >
                <q-item-label class="text-h4 text-primary" style="font-weight: 500;letter-spacing: 3px;">{{formatearValor(ingresos.total_ingresos_label)}}</q-item-label>
                <q-item-label :class="!$q.dark.isActive? 'text-grey-7':'text-white'" style="letter-spacing: 1px;">Total Ingresos</q-item-label>
              </q-item-section>

              <q-item-section side>
                <q-icon name="fas fa-arrow-circle-up" color="positive"  size="50px"></q-icon>
              </q-item-section>
            </q-item>
            <q-item class="q-py-xs" style="min-height: unset">
              <q-item-section>
                <div class="progress-base q-my-sm">
                  <div class="progress-bar-2" style="width:40%"></div>
                </div>
              </q-item-section>
            </q-item>
            <q-expansion-item>
              <template v-slot:header>
                <q-item-section style="font-size:15px" class="text-bold text-grey-7">
                  Ver información detallada
                </q-item-section>
              </template>
                  <q-list class="bg-white q-pa-xs" dense v-if="ingresos.ing_ordinarios > 0">
                    <q-item>
                      <q-item-section>
                        <q-item-label class="text-bold text-grey-8">{{ingresos.ing_ordinarios_text}}</q-item-label>
                        <q-item-label  lines="2">$ {{formatPrice(ingresos.ing_ordinarios)}}</q-item-label>
                      </q-item-section>

                      <q-item-section side top>
                        <q-badge color="teal" :label="formatearValor(ingresos.ing_ordinarios_label)" />
                      </q-item-section>
                    </q-item>

                    <q-separator spaced inset />

                    <q-item>
                      <q-item-section>
                        <q-item-label class="text-bold text-grey-8">{{ingresos.otros_ingresos_text}}</q-item-label>
                        <q-item-label  lines="2">$ {{formatPrice(ingresos.otros_ingresos)}}</q-item-label>
                      </q-item-section>

                      <q-item-section side top>
                        <q-badge color="teal" :label="formatearValor(ingresos.otros_ingresos_label)" />
                      </q-item-section>
                    </q-item>

                    <q-separator spaced inset />

                    <q-item>
                      <q-item-section>
                        <q-item-label class="text-bold text-grey-8">{{ingresos.ing_financieros_text}}</q-item-label>
                        <q-item-label  lines="2">$ {{formatPrice(ingresos.ing_financieros)}}</q-item-label>
                      </q-item-section>

                      <q-item-section side top>
                        <q-badge color="teal" :label="formatearValor(ingresos.ing_financieros_label)" />
                      </q-item-section>
                    </q-item>
                  </q-list>
                  <q-list class="bg-white"  v-else>
                    <q-item-label header class="text-bold text-h7 text-primary">Ingresos detallados</q-item-label>
                    <q-item>
                      <q-item-section>
                        <q-item-label class="text-bold text-grey-8">No datos</q-item-label>
                        <q-item-label  lines="2">No hay infomación de ingresos</q-item-label>
                      </q-item-section>

                      <q-item-section side top>
                      </q-item-section>
                    </q-item>
                  </q-list>
            </q-expansion-item>
          </q-card>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12  ">
          <q-card  class="no-shadow q-pa-sm q-mr-md">
            <q-item class="q-pb-none q-pt-xs">
              <q-item-section >
                <q-item-label class="text-h4 text-primary" style="font-weight: 500;letter-spacing: 3px;">{{formatearValor(ingresos.costos_label)}}</q-item-label>
                <q-item-label :class="!$q.dark.isActive? 'text-grey-7':'text-white'" style="letter-spacing: 1px;">Total Costos</q-item-label>
              </q-item-section>

              <q-item-section side>
                <q-icon name="fas fa-coins" color="yellow-7"  size="50px"></q-icon>
              </q-item-section>
            </q-item>
            <q-item class="q-py-xs" style="min-height: unset">
              <q-item-section>
                <div class="progress-base q-my-sm">
                  <div class="progress-bar-2" style="width:40%"></div>
                </div>
              </q-item-section>
            </q-item>
            <q-expansion-item>
              <template v-slot:header>
                <q-item-section style="font-size:15px" class="text-bold text-grey-7">
                  Ver información detallada
                </q-item-section>
              </template>
              <q-list class="bg-white" v-if="verificarObjeto(ingresos.costos_detallados) == false">
                <div v-for="(costo, index) in ingresos.costos_detallados" :key="index">
                  <q-item dense>
                    <q-item-section>
                      <q-item-label class="text-bold text-grey-8" style="font-size:12px">{{costo.NOMBRE_CUENTA}}</q-item-label>
                      <q-item-label  lines="2">$ {{formatPrice(costo.diferencia)}}</q-item-label>
                    </q-item-section>

                    <q-item-section side top>
                      <q-badge color="teal" :label="formatearValor(costo.diferencia_label)" />
                    </q-item-section>
                  </q-item>
                  <q-separator spaced inset />
                </div>
              </q-list>
              <q-list class="bg-white" v-else>
                <q-item-label header class="text-bold text-h7 text-primary">Costos detallados</q-item-label>
                  <q-item >
                    <q-item-section>
                      <q-item-label class="text-bold text-grey-8" >No datos</q-item-label>
                      <q-item-label  lines="2">No hay información de costos para mostrar</q-item-label>
                    </q-item-section>

                    <q-item-section side top>
                    </q-item-section>
                  </q-item>
              </q-list>
            </q-expansion-item>
          </q-card>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12  ">
          <q-card class="no-shadow q-pa-sm q-mr-md">
            <q-item class="q-pb-none q-pt-xs">
              <q-item-section >
                <q-item-label class="text-h4 text-primary" style="font-weight: 500;letter-spacing: 3px;">{{formatearValor(ingresos.gastos_label)}}</q-item-label>
                <q-item-label :class="!$q.dark.isActive? 'text-grey-7':'text-white'" style="letter-spacing: 1px;">Total Gastos</q-item-label>
              </q-item-section>

              <q-item-section side>
                <q-icon name="fas fa-arrow-circle-down" color="red-10"  size="50px"></q-icon>
              </q-item-section>
            </q-item>
            <q-item class="q-py-xs" style="min-height: unset">
              <q-item-section>
                <div class="progress-base q-my-sm">
                  <div class="progress-bar-2" style="width:40%"></div>
                </div>
              </q-item-section>
            </q-item>
            <q-expansion-item>
              <template v-slot:header>
                <q-item-section style="font-size:15px" class="text-bold text-grey-7">
                  Ver información detallada
                </q-item-section>
              </template>
              <q-list class="bg-white" dense >
                  <q-item v-if="ingresos.gastos_detallados.gastos_admon !== 0">
                    <q-item-section >
                      <q-item-label class="text-bold text-grey-8">Gastos de administración</q-item-label>
                      <q-item-label  lines="2">$ {{formatPrice(ingresos.gastos_detallados.gastos_admon.diferencia)}}</q-item-label>
                    </q-item-section>

                    <q-item-section side top>
                      <q-badge color="teal" :label="formatearValor(ingresos.gastos_detallados.gastos_admon.diferencia_label)" />
                    </q-item-section>
                  </q-item>
                  <q-separator spaced inset />
                  <q-item v-if="ingresos.gastos_detallados.gastos_distribucion !== 0">
                    <q-item-section>
                      <q-item-label class="text-bold text-grey-8">Gastos de distribución</q-item-label>
                      <q-item-label  lines="2">$ {{formatPrice(ingresos.gastos_detallados.gastos_distribucion.diferencia)}}</q-item-label>
                    </q-item-section>

                    <q-item-section side top>
                      <q-badge color="teal" :label="formatearValor(ingresos.gastos_detallados.gastos_distribucion.diferencia_label)" />
                    </q-item-section>
                  </q-item>
                  <q-separator spaced inset />
                  <q-item v-if="ingresos.gastos_detallados.gastos_finan_no_opera !== 0">
                    <q-item-section>
                      <q-item-label class="text-bold text-grey-8">Financieros no operacionales</q-item-label>
                      <q-item-label  lines="2">$ {{formatPrice(ingresos.gastos_detallados.gastos_finan_no_opera.diferencia)}}</q-item-label>
                    </q-item-section>

                    <q-item-section side top>
                      <q-badge color="teal" :label="formatearValor(ingresos.gastos_detallados.gastos_finan_no_opera.diferencia_label)" />
                    </q-item-section>
                  </q-item>
                  <q-separator spaced inset />
                  <q-item v-if="ingresos.gastos_detallados.gastos_imp_resta !== 0">
                    <q-item-section>
                      <q-item-label class="text-bold text-grey-8">Impuesto de renta y complementarios</q-item-label>
                      <q-item-label  lines="2">$ {{formatPrice(ingresos.gastos_detallados.gastos_imp_resta.diferencia)}}</q-item-label>
                    </q-item-section>

                    <q-item-section side top>
                      <q-badge color="teal" :label="formatearValor(ingresos.gastos_detallados.gastos_imp_resta.diferencia_label)" />
                    </q-item-section>
                  </q-item>
                  <q-separator spaced inset />
                  <q-item v-if="ingresos.gastos_detallados.gastos_opera_conjunta !== 0">
                    <q-item-section>
                      <q-item-label class="text-bold text-grey-8">Gastos en operaciones conjuntas</q-item-label>
                      <q-item-label  lines="2">$ {{formatPrice(ingresos.gastos_detallados.gastos_opera_conjunta.diferencia)}}</q-item-label>
                    </q-item-section>

                    <q-item-section side top>
                      <q-badge color="teal" :label="formatearValor(ingresos.gastos_detallados.gastos_opera_conjunta.diferencia_label)" />
                    </q-item-section>
                  </q-item>
              </q-list>
            </q-expansion-item>
          </q-card>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12  ">
          <q-card class="no-shadow q-pa-sm q-mr-md">
            <q-item class="q-pb-none q-pt-xs">
              <q-item-section >
                <q-item-label class="text-h4 text-primary" style="font-weight: 500;letter-spacing: 3px;">{{formatearValor(ingresos.utilidad_label)}}</q-item-label>
                <q-item-label :class="!$q.dark.isActive? 'text-grey-7':'text-white'" style="letter-spacing: 1px;">Utilidad Neta</q-item-label>
              </q-item-section>

              <q-item-section side>
                <q-icon name="fas fa-donate" color="primary"  size="50px"></q-icon>
              </q-item-section>
            </q-item>
            <q-item class="q-py-xs" style="min-height: unset">
              <q-item-section>
                <div class="progress-base q-my-sm">
                  <div class="progress-bar-2" style="width:40%"></div>
                </div>
              </q-item-section>
            </q-item>
          </q-card>
        </div>
      </div>
      <div class="row q-col-gutter-x-md" >
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <q-card class="no-shadow q-pa-none bg-white" v-show="false"><br>
                <div id="main" style="width:100%; height:400px;" v-if="ingresos.ing_ordinarios > 0"></div>
                <div class="text-h5 text-center" style="width:100%; height:200px;" v-else>
                  Sin infomación para la gráfica
                </div>
            </q-card>
            <q-card class="no-shadow q-pa-md bg-white" >
              <div id="grafica_line_costos" style="width:100%; height:389px;"></div>
            </q-card>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <q-card class="no-shadow q-pa-md bg-white" >
              <div id="grafica_line" style="width:100%; height:389px;"></div>
            </q-card>
          </div>
      </div><br>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-white q-pa-md">
          <div id="grafica_vs_ingresos_costos" style="width:100%; height:400px;" ></div>
        </div>
      </div><br>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-white q-pa-md">
          <div id="grafica_vs_ingresos_costos2" style="width:100%; height:400px;"></div>
        </div>
      </div>
    </div>
  </div>
</q-page>
</template>

<script>
import axios from 'axios'
import * as echarts from 'echarts'
import { QSpinnerFacebook } from 'quasar'
export default {
  data () {
    return {
      utilidad_anual: 0,
      info_periodos: [],
      select_tri: '',
      trimestres: ['Primer semestre', 'Segundo semestre', 'Primer trimestre', 'Segundo trimestre', 'Tercer trimestre', 'Cuarto trimestre'],
      anios: [],
      select_anios: '',
      anios_options: [],
      meses: [],
      select_mes: '',
      meses_options: [],
      ingresos: [],
      total_ingresos_harinas: 0,
      total_costos_harinas: 0,
      total_ingresos_pastas: 0,
      total_costos_pastas: 0,
      total_ingresos_subpro: 0,
      total_costos_subpro: 0,
      total_ingresos_agrop: 0,
      total_costos_agrop: 0,
      total_ingresos_no_fab: 0,
      total_costos_no_fab: 0,
      total_ingresos_mezclas: 0,
      total_costos_mezclas: 0,
      comentario: [],
      dialog_comentarios: false,
      position: 'top',
      dialog: false,
      buffer: 0,
      dias_trans: 0,
      progress2: 0,
      data_torta: [],
      total_bultos: 0,
      total_bultos_aux: 0,
      total_bultos_presup: 0,
      fecha_inicial: '',
      fecha_final: '',
      informes: [],
      informes_vendedores: [],
      informes_especial: [],
      informes_especial_otros: [],
      loading: false,
      total_bultos_proyeccion: 0,
      loading_vendedores: false,
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      },
      pagination: {
        rowsPerPage: 20
      }
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    visualizaInfoGastos () {
      return true
    },
    anioActual () {
      var today = new Date()
      var year = today.getFullYear()
      return year
    },
    mesActual () {
      const fecha = new Date()
      var mesActual = fecha.getMonth() + 1
      if (mesActual <= 9) {
        mesActual = '0' + mesActual
      }
      return mesActual
    },
    optionsGraficaIngresos () {
      return {
        tooltip: {
          trigger: 'item'
        },
        legend: {
          top: '7%',
          left: 'center'
        },
        title: {
          text: 'Estado de resultado',
          left: 'center'
        },
        series: [
          {
            color: ['#00BC50', '#FBDC47', '#B92119', '#1C5B41'],
            // name: ['a', 'b', 'c'],
            type: 'pie',
            radius: ['35%', '70%'],
            avoidLabelOverlap: false,
            itemStyle: {
              borderRadius: 10,
              borderColor: '#fff',
              borderWidth: 2
            },
            label: {
              normal: {
                show: true,
                position: 'inner',
                formatter: function (param, index) {
                  return param.percent + ' %'
                }
              },
              emphasis: {
                show: true,
                textStyle: {
                  fontSize: '25',
                  fontWeight: 'bold'
                }
              }
            },
            emphasis: {
              label: {
                show: true,
                fontSize: '20',
                fontWeight: 'bold'
              }
            },
            labelLine: {
              show: false
            },
            data: [
              { value: this.ingresos.total_ingresos, name: 'Ingresos' },
              { value: this.ingresos.costos, name: 'Costos' },
              { value: this.ingresos.gastos, name: 'Gastos' },
              { value: this.ingresos.utilidad, name: 'Utilidad neta' }
            ]
          }
        ]
      }
    },
    optionsGraficaDiferencias () {
      var self = this
      return {
        title: {
          text: 'INGRESOS VS COSTOS',
          subtext: 'Comparación de ingresos y costos'
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          }
        },
        legend: {
          data: ['Ingresos', 'Costos']
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: {
          type: 'value',
          boundaryGap: [0, 0.01]
        },
        yAxis: {
          type: 'category',
          data: ['SubProductos', 'Pastas', 'Harinas']
        },
        series: [
          {
            name: 'Ingresos',
            color: '#255D44',
            type: 'bar',
            data: [this.total_ingresos_subpro, this.total_ingresos_pastas, this.total_ingresos_harinas],
            label: {
              // fontStyle: 'bold',
              fontSize: '12',
              show: true,
              formatter: function (param, index) {
                return self.formatPrice(param.value)
              }
            }
          },
          {
            name: 'Costos',
            type: 'bar',
            color: '#C1A475',
            data: [this.total_costos_subpro, this.total_costos_pastas, this.total_costos_harinas],
            label: {
              // fontStyle: 'bold',
              fontSize: '13',
              show: true,
              formatter: function (param, index) {
                return self.formatPrice(param.value)
              }
            }
          }
        ]
      }
    },
    optionsGraficaDiferencias2 () {
      var self = this
      return {
        title: {
          text: 'INGRESOS VS COSTOS',
          subtext: 'Comparación de ingresos y costos'
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          }
        },
        legend: {
          data: ['Ingresos', 'Costos']
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: {
          type: 'value',
          boundaryGap: [0, 0.01]
        },
        yAxis: {
          type: 'category',
          data: ['Mezclas Secas', 'No Fabricados', 'Agropecuarios']
        },
        series: [
          {
            name: 'Ingresos',
            color: '#255D44',
            type: 'bar',
            data: [this.total_ingresos_mezclas, this.total_ingresos_no_fab, this.total_ingresos_agrop],
            label: {
              // fontStyle: 'bold',
              fontSize: '12',
              show: true,
              formatter: function (param, index) {
                return self.formatPrice(param.value)
              }
            }
          },
          {
            name: 'Costos',
            type: 'bar',
            color: '#C1A475',
            data: [this.total_costos_mezclas, this.total_costos_no_fab, this.total_costos_agrop],
            label: {
              // fontStyle: 'bold',
              fontSize: '13',
              show: true,
              formatter: function (param, index) {
                return self.formatPrice(param.value)
              }
            }
          }
        ]
      }
    },
    optiosGraficaLine () {
      var self = this
      var dateList = []
      var valueList = []

      self.info_periodos.utilidad.forEach(function (item) {
        Object.keys(item).forEach(function (key) {
          // console.log('key:' + key + 'value:' + item[key])
          dateList.push(key)
          valueList.push(item[key])
        })
      })
      return {
        // Make gradient line here
        visualMap: [{
          show: false,
          type: 'continuous',
          seriesIndex: 0,
          min: 0,
          max: 400
        }],
        title: [{
          left: 'center',
          text: 'Utilidad Neta ' + self.select_anios + ' (' + self.utilidad_anual + ')'
        }],
        tooltip: {
          trigger: 'axis'
        },
        xAxis: [{
          data: dateList
        }],
        yAxis: [{
        }],
        grid: [{
          bottom: '10%'
        }],
        series: [{
          type: 'line',
          lineStyle: {
            color: '#255D44'
          },
          showSymbol: true,
          data: valueList
        }]
      }
    },
    optiosGraficaLineCostos () {
      var self = this
      var dateList = []
      var valueList = []

      self.info_periodos.costos.forEach(function (item) {
        Object.keys(item).forEach(function (key) {
          // console.log('key:' + key + 'value:' + item[key])
          dateList.push(key)
          valueList.push(item[key])
        })
      })
      return {
        // Make gradient line here
        visualMap: [{
          show: false,
          type: 'continuous',
          seriesIndex: 0,
          min: 0,
          max: 400
        }],
        title: [{
          left: 'center',
          text: 'Mis Costos ' + self.select_anios
        }],
        tooltip: {
          trigger: 'axis'
        },
        xAxis: [{
          data: dateList
        }],
        yAxis: [{
        }],
        grid: [{
          bottom: '10%'
        }],
        series: [{
          type: 'line',
          lineStyle: {
            color: '#C1A677'
          },
          showSymbol: true,
          data: valueList
        }]
      }
    }
  },
  methods: {
    showLoading (msj) {
      this.$q.loading.show({
        spinner: QSpinnerFacebook,
        spinnerColor: 'primary',
        spinnerSize: 140,
        backgroundColor: 'white',
        message: msj,
        messageColor: 'black'
      })
    },
    verificarObjeto (objetoAVerificar = {}) {
      // const objetoAVerificar = {}
      if (objetoAVerificar === null) {
        objetoAVerificar = []
      }
      return Object.entries(objetoAVerificar).length === 0
    },
    formatearValor (val) {
      if (val === 0 || val === undefined) {
        return 0
      }
      let valor = val.split(' ')
      // var arrayLastExec = val == null ? null : val.split(' ')
      return this.formatPrice(valor[0]) + ' ' + valor[1]
    },
    ejecutarGraficaIngresos () {
      var myChart = echarts.init(document.getElementById('main'))
      myChart.setOption(this.optionsGraficaIngresos)
    },
    ejecutarGraficaIngresosVsCostos () {
      var myChart = echarts.init(document.getElementById('grafica_vs_ingresos_costos'))
      myChart.setOption(this.optionsGraficaDiferencias)
    },
    ejecutarGraficaIngresosVsCostos2 () {
      var myChart = echarts.init(document.getElementById('grafica_vs_ingresos_costos2'))
      myChart.setOption(this.optionsGraficaDiferencias2)
    },
    ejecutarGraficaLine () {
      var myChart = echarts.init(document.getElementById('grafica_line'))
      myChart.setOption(this.optiosGraficaLine)
    },
    ejecutarGraficaLineCostos () {
      var myChart = echarts.init(document.getElementById('grafica_line_costos'))
      myChart.setOption(this.optiosGraficaLineCostos)
    },
    obtenerIngresos () {
      var self = this
      self.showLoading('Obteniendo información, por favor espere ...')
      axios.get(this.api_url + '/api/financiero/obtener-valores/', {
        params: {
          token: localStorage.getItem('token'),
          anio: this.select_anios,
          mes: this.select_mes,
          accion: 'individual',
          trimestre: this.select_tri
        }
      }).then((response) => {
        self.ingresos = response.data
      }).finally(function () {
        self.ingresos.costos_detallados.sort((a, b) => (a.diferencia < b.diferencia) ? 1 : -1)
        if (self.ingresos.ing_ordinarios > 0) {
          self.ejecutarGraficaIngresos()
        }

        self.total_ingresos_harinas = self.manipularObjeto(self.ingresos.ing_harinas)
        self.total_ingresos_pastas = self.manipularObjeto(self.ingresos.ing_pastas)
        self.total_ingresos_subpro = self.manipularObjeto(self.ingresos.ing_subproductos)
        self.total_ingresos_agrop = self.manipularObjeto(self.ingresos.ing_agropecuarios)
        self.total_ingresos_no_fab = self.manipularObjeto(self.ingresos.ing_no_fabricados)
        self.total_ingresos_mezclas = self.manipularObjeto(self.ingresos.ing_mezclas)
        // let costosHarinas = {}
        if (self.ingresos.costos_detallados.length > 0) {
          let costosHarinas = self.ingresos.costos_detallados.find((m) => m.CUENTA === '6061200601')
          self.total_costos_harinas = costosHarinas.diferencia
          let costosPastas = self.ingresos.costos_detallados.find((m) => m.CUENTA === '6061201201')
          self.total_costos_pastas = costosPastas.diferencia

          let costosSubPro = self.ingresos.costos_detallados.find((m) => m.CUENTA === '6061202001')
          self.total_costos_subpro = costosSubPro.diferencia

          let costosAgrop = self.ingresos.costos_detallados.find((m) => m.CUENTA === '6061352201')
          self.total_costos_agrop = costosAgrop.diferencia

          let costosNoFab = self.ingresos.costos_detallados.find((m) => m.CUENTA === '6061352001')
          self.total_costos_no_fab = costosNoFab.diferencia

          let costosMezclas = self.ingresos.costos_detallados.find((m) => m.CUENTA === '606120140101')
          self.total_costos_mezclas = costosMezclas.diferencia
        } else {
          self.total_costos_harinas = 0
          self.total_costos_pastas = 0
          self.total_costos_subpro = 0
          self.total_costos_agrop = 0
          self.total_costos_no_fab = 0
          self.total_costos_mezclas = 0
        }
        self.ejecutarGraficaIngresosVsCostos()
        self.ejecutarGraficaIngresosVsCostos2()
        // self.obtenerInfoPeriodos(self.select_anios)
        self.obtenerInfPorPeriodos()
        self.$q.loading.hide()
      })
    },
    obtenerInfPorPeriodos () {
      var self = this
      axios.get(this.api_url + '/api/financiero/obtener-valores/', {
        params: {
          token: localStorage.getItem('token'),
          anio: this.select_anios,
          mes: this.select_mes,
          accion: 'multiple'
        }
      }).then((response) => {
        self.info_periodos = response.data
        self.utilidad_anual = self.formatearValor(self.info_periodos.utilidad_hoy)
      }).finally(function () {
        self.ejecutarGraficaLine()
        self.ejecutarGraficaLineCostos()
      })
    },
    manipularObjeto (datos) {
      var total = 0
      datos.forEach(function (element) {
        total += element.diferencia
      })
      return total
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    obtenerAniosContables () {
      var self = this
      self.loading = true
      axios.get(this.api_url + '/api/financiero/obtener-anios-contables', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.anios = response.data
      }).finally(function () {
        self.anios_options = self.anios
        self.select_anios = self.anioActual
        self.obtenerMesesContables(self.select_anios)
      })
    },
    obtenerInfoPeriodos (anio) {
      var self = this
      axios.get(this.api_url + '/api/financiero/obtener-info-periodos/', {
        params: {
          anio: anio,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.info_periodos = response.data
      }).finally(function () {
      })
    },
    obtenerMesesContables (anio) {
      var self = this
      self.loading = true
      axios.get(this.api_url + '/api/financiero/obtener-meses-contables', {
        params: {
          token: localStorage.getItem('token'),
          anio: anio
        }
      }).then((response) => {
        self.meses = response.data
      }).finally(function () {
        self.meses_options = self.meses
        // obtengo el ultimo elemento de la array de meses
        let lastItem = self.meses_options[self.meses_options.length - 1]
        self.select_mes = lastItem
        self.obtenerIngresos('obtenerMesesContables')
      })
    },
    formatPrice (value, decimales = 0) {
      let val = (value / 1).toFixed(decimales).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    }
  },
  created () {
  },
  mounted () {
    this.obtenerAniosContables()
    // this.verificarAccesoModulo()
  },
  watch: {
    select_anios (val) {
      this.obtenerMesesContables(val)
    },
    select_mes () {
      this.select_tri = ''
    },
    select_tri () {
    }
  }
}
</script>
<style scoped>
  .box_2{
    color: #0dceec;
  }
  .progress-base {
    height: 8px;
    border-radius: 3px;
    background-color: #e9ecef;
  }
</style>
