<template>

  <div class="row" v-if="!verificaPermiso(11)">
    <usuarios-no-autorizado/>
  </div>

  <div class="q-pa-none" v-else>
    <div class="row bg-white q-pa-md shadow-1 q-my-xs">
      <q-input borderless  v-model="fecha_inicial" readonly style="width:125px"  label="Fecha desde" stack-label class="q-mr-xl">
        <template v-slot:append>
          <q-icon color="primary" name="fas fa-calendar-day" class="cursor-pointer">
            <q-popup-proxy ref="qDateProxy2" transition-show="scale" transition-hide="scale">
              <q-date :locale="myLocale" v-model="fecha_inicial" mask="YYYY-MM-DD" @input="() => $refs.qDateProxy2.hide()" />
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
      <q-input borderless   v-model="fecha_final" readonly style="width:125px"  label="Fecha hasta" stack-label class="q-mr-xl">
        <template v-slot:append>
          <q-icon color="primary" name="fas fa-calendar-day" class="cursor-pointer">
            <q-popup-proxy ref="qDateProxy3" transition-show="scale" transition-hide="scale">
              <q-date :locale="myLocale" v-model="fecha_final" mask="YYYY-MM-DD" @input="() => $refs.qDateProxy3.hide()" />
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
      <q-space />
      <q-toggle
          v-show="ver_table === 'despachos'"
        :label="blueModel === true ? 'Despachos gestionados':'Despachos pendientes'"
        v-model="blueModel"
      />
      <q-btn flat class="text-bold"  color="white" text-color="orange-10 " no-caps label="Actualizar información" icon="autorenew" @click="ejecutarFuncion(ver_table)" />
      <!--<q-btn flat color="white" text-color="primary" no-caps :label="ver_table === 'despachos' ? 'Ver pedidos' : 'Ver despachos'" icon="fas fa-list-ol" @click="ejecutarFuncion(ver_table === 'despachos' ? 'pedidos' : 'despachos')" />-->
      <q-btn class="text-bold" flat color="white" text-color="primary" no-caps label="Ver despachos" icon="fas fa-list-ol" @click="ejecutarFuncion('despachos')" />
      <q-btn v-if="verificaPermiso(46)" class="text-bold" flat color="white" text-color="black" no-caps label="Vehículos reportados" icon="fas fa-truck" @click="ver_table = 'reportados'; ejecutarFuncion(ver_table)" />
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 shadow-1">
        <q-table
          row-key="consecutivo"
          v-show="ver_table == 'pedidos'"
          title="Listado de pedidos"
          title-class="text-white text-bold"
          :data="lista_pedidos"
          :columns="columns_pedidos"
          :loading="loading_pedidos"
          :dense="$q.screen.lt.xs"
          :filter="filter"
          :grid="$q.screen.xs"
          table-style="max-height: 800px"
          :pagination.sync="pagination"
          :rows-per-page-options="[0]"
          color="white"
        >

          <template v-slot:top-right>
            <q-input dark dense standout v-model="filter" input-class="text-right" class="q-ml-md q-mr-sm" placeholder="Filtrar pedidos">
              <template v-slot:append>
                <q-icon v-if="filter === ''" name="search" />
                <q-icon v-else name="clear" class="cursor-pointer" @click="filter = ''" />
              </template>
            </q-input>
            <q-btn
              color="white"
              flat
              icon-right="fas fa-arrow-alt-circle-down"
              label="Exportar Información"
              no-caps
              class="cursor-pointer"
              @click="exportTable"
            ></q-btn>
          </template>

          <template v-slot:body="props" >
            <q-tr :props="props">

              <q-td  key="btn" :props="props">
                <q-btn size="sm" color="primary" round dense @click="props.expand = !props.expand" :icon="props.expand ? 'remove' : 'add'" />
              </q-td>

              <q-td key="fecha" :props="props" >
                {{ props.row.fecha }}
              </q-td>

              <q-td key="nit" :props="props" >
                {{ props.row.nit }}
              </q-td>

              <q-td key="cliente" :props="props">
                {{ props.row.cliente }}
              </q-td>

              <q-td key="ciudad" :props="props">
                {{ props.row.ciudad }}
              </q-td>

              <q-td key="vendedor" :props="props">
                {{ props.row.vendedor }}
              </q-td>

              <q-td key="valor_total" :props="props">
                {{ formatPrice(props.row.valor_total) }}
              </q-td>

              <q-td key="total_kilos" :props="props">
                {{ formatPrice(props.row.total_kilos) }}
              </q-td>

              <q-td key="observaciones" :props="props">
                {{ props.row.observaciones }}
              </q-td>

            </q-tr>
            <q-tr v-show="props.expand" :props="props" class="bg-grey-2">
              <q-td colspan="100%">
                <div class="row " v-for="(producto, index) in props.row.items_pedido" :key="index">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <b>({{producto.cantidad}}) {{producto.unidad}}</b> {{producto.nombre}}
                  </div>
                </div>
              </q-td>
            </q-tr>
          </template>
        </q-table>

        <q-table
          v-show="ver_table == 'despachos'"
          title="Listado de despachos"
          title-class="text-primary"
          flat
          :data="blueModel === true ? despachos.filter(m => m.estado_aux === 'completo') : despachos.filter(m => m.estado_aux === 'incompleto')"
          :columns="columns"
          row-key="nit"
          :loading="loading_despachos"
          :dense="$q.screen.lt.xs"
          :filter="filter"
          :grid="$q.screen.xs"
          table-style="max-height: 800px"
          :pagination.sync="pagination"
          :rows-per-page-options="[0]"
        >
          <template v-slot:top-right>
            <q-input dense outlined  v-model="filter" input-class="text-right" class="q-ml-md" placeholder="Filtrar despachos">
              <template v-slot:append>
                <q-icon v-if="filter === ''" name="search" />
                <q-icon v-else name="clear" class="cursor-pointer" @click="filter = ''" />
              </template>
            </q-input>
          </template>

          <template v-slot:body="props" >
            <q-tr :props="props" :class="props.row.estado_aux === 'completo' ? 'bg-light-green-1 text-primary':''">

              <q-td key="autorizado" :props="props" :class="props.row.autorizado == 'no' ? 'bg-red-2' : 'bg-green-1'">
                <b v-show="props.row.autorizado == 'si'" class="text-primary" style="font-size:12px">Autorizado</b>
                <b v-show="props.row.autorizado == 'no'" class="text-red-9" style="font-size:12px">Por Autorizar</b>
              </q-td>

              <q-td key="consecutivo" :props="props" >
                <q-chip square color="primary" text-color="white" class="text-bold">
                  {{ props.row.consecutivo }}
                </q-chip>
                <q-chip square class="text-bold"  color="light-green-12" text-color="black" style="font-size:11px" v-show="props.row.cargado == 'si' && blueModel == false">
                  Facturar
                </q-chip>
                <q-chip square color="orange" dense text-color="white" class="text-bold" v-show="props.row.bodega == 'si'">
                  Facturar de bodega
                </q-chip>
              </q-td>

              <q-td key="fecha_entrega" :props="props">
                <div v-show="props.row.fecha_entrega">{{ props.row.fecha_entrega }}</div>
                <div v-show="!props.row.fecha_entrega">--</div>
              </q-td>

              <q-td key="fecha" :props="props">
                {{ props.row.fecha }}
              </q-td>

              <q-td key="vendedor" :props="props">
                {{props.row.codigo_vend}} - {{ props.row.vendedor }}
              </q-td>

              <q-td key="placa" :props="props">
                <div class="bg-yellow-7 text-center q-pa-sm rounded-borders cursor-pointer" style="width:100%" @click="openModalTraza(props.row)">
                  <b style="font-size:12px">{{ props.row.placa }}</b>
                </div>
              </q-td>

              <q-td key="cert_calidad" :props="props">
                <q-chip size="11px" square color="blue-7" text-color="grey-2" icon="fas fa-certificate" v-show="props.row.cert_calidad == 'si'">
                  Certificado
                </q-chip>
              </q-td>

              <q-td key="conductor" :props="props" style="font-size:12px">
                {{ props.row.capacidad }} Tn / {{ props.row.conductor }}
              </q-td>

              <q-td key="acciones" :props="props">
                  <q-btn color="primary" size="12px" round flat icon="more_vert" v-if="props.row.rol !== 'RECEPCION'">
                    <q-menu  :offset="[50, 20]" auto-close >
                      <q-list style="width: 230px">
                        <q-item clickable @click="confirmActualizaDespachoAutorizar(props.row.id_despacho)" v-show="props.row.autorizado == 'no' && verificaPermiso(42) == true && props.row.parcial == 'no' && props.row.estado_aux !== 'completo'">
                          <q-item-section avatar>
                            <q-icon name="fas fa-check" color="green-6"/>
                          </q-item-section>
                          <q-item-section>Autorizar Despacho</q-item-section>
                        </q-item>
                        <q-item clickable @click="confirmActualizaDespachoDesautorizar(props.row.id_despacho)" v-show="props.row.autorizado == 'si' && verificaPermiso(42) == true && props.row.parcial == 'no' && props.row.estado_aux !== 'completo'">
                          <q-item-section avatar>
                            <q-icon name="fas fa-undo-alt" color="orange-9"/>
                          </q-item-section>
                          <q-item-section>Desautorizar Despacho</q-item-section>
                        </q-item>
                        <q-item clickable @click="openModalPedidos(props.row)">
                          <q-item-section avatar>
                            <q-icon name="visibility"/>
                          </q-item-section>
                          <q-item-section>Ver Pedidos</q-item-section>
                        </q-item>
                        <q-item  v-show="props.row.estado_aux !== 'completo' && props.row.parcial === 'no'"  clickable @click="obtenerIdDespacho(props.row.id_despacho)">
                          <q-item-section avatar>
                            <q-icon name="edit"/>
                          </q-item-section>
                          <q-item-section>Editar Placa</q-item-section>
                        </q-item>
                        <q-item v-show="props.row.estado_aux !== 'completo' && props.row.parcial === 'no' && props.row.autorizado == 'no'"  clickable @click="confirmActualizaDespachoEstado(props.row.id_despacho)">
                          <q-item-section avatar>
                            <q-icon name="lock_open"/>
                          </q-item-section>
                          <q-item-section>Abrir Despacho</q-item-section>
                        </q-item>
                        <q-item v-show="props.row.estado_aux !== 'completo' && props.row.parcial === 'no' && props.row.autorizado == 'no'"  clickable @click="confirmActualizaDespachoEliminar(props.row.id_despacho)">
                          <q-item-section avatar>
                            <q-icon name="delete_forever" color="red"/>
                          </q-item-section>
                          <q-item-section>Eliminar Despacho</q-item-section>
                        </q-item>
                        <q-item clickable @click="openModalEnturnar(props.row, 'reportar')" v-if="(props.row.rol == 'ADMINISTRADOR') && props.row.reportado == 'no' && props.row.autorizado == 'si' && props.row.cargado == 'no'">
                          <q-item-section avatar>
                            <q-icon name="fas fa-list-ol" color="brown-9"/>
                          </q-item-section>
                          <q-item-section>Reportar Ingreso</q-item-section>
                        </q-item>
                      </q-list>
                    </q-menu>
                  </q-btn>
                  <q-btn color="primary" size="12px" round flat icon="more_vert" v-if="(props.row.rol == 'RECEPCION') && props.row.reportado == 'no' && props.row.cargado == 'no'">
                    <q-menu  :offset="[50, 20]" auto-close >
                      <q-list style="width: 230px">
                        <q-item clickable @click="openModalEnturnar(props.row, 'reportar')">
                          <q-item-section avatar>
                            <q-icon name="fas fa-list-ol" color="brown-9"/>
                          </q-item-section>
                          <q-item-section>Reportar Ingreso</q-item-section>
                        </q-item>
                      </q-list>
                    </q-menu>
                  </q-btn>

                  <q-chip square color="lime-9" text-color="white"  v-if="(props.row.rol == 'RECEPCION') && props.row.reportado == 'si'">
                    Reportado
                  </q-chip>

              </q-td>
            </q-tr>
          </template>
        </q-table>
        <q-table
          v-show="ver_table == 'reportados'"
          :title="params_reportados.tipo_ficho !== '' ? 'Vehículos reportados ('+params_reportados.tipo_ficho+')': 'Vehículos reportados'"
          title-class="text-primary"
          flat
          :data="params_reportados.data"
          :columns="params_reportados.columns_reportados"
          row-key="id_registro"
          :loading="params_reportados.loading"
          :dense="$q.screen.lt.xs"
          :filter="params_reportados.filtro"
          :grid="$q.screen.xs"
          table-style="max-height: 800px"
          :pagination.sync="params_reportados.pagination"
          :rows-per-page-options="[0]"
        >
          <template v-slot:top-right>
            <q-btn flat v-if="verificaPermiso(49)" label="Liberar fichos" class="q-mr-md" color="primary" icon="fas fa-redo" no-caps @click="confirmLiberarFichos()" />
            <q-btn-dropdown flat color="primary" label="Filtrar tipo turno" no-caps>
                <q-list>
                  <q-item clickable v-close-popup @click="ejecutarFiltroFicho('')">
                    <q-item-section>
                      <q-item-label>Mostrar Todos</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup @click="ejecutarFiltroFicho('industrial')">
                    <q-item-section>
                      <q-item-label>Industrial</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-close-popup @click="ejecutarFiltroFicho('subproducto')">
                    <q-item-section>
                      <q-item-label>Subproducto</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-close-popup @click="ejecutarFiltroFicho('paqueteo')">
                    <q-item-section>
                      <q-item-label>Paqueteo</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup @click="ejecutarFiltroFicho('contado')">
                    <q-item-section>
                      <q-item-label>Contado</q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
            </q-btn-dropdown>
            <q-input  dense outlined v-model="params_reportados.filtro" input-class="text-right" class="q-ml-md" placeholder="Filtrar">
              <template v-slot:append>
                <q-icon v-if="params_reportados.filtro === ''" name="search" />
                <q-icon v-else name="clear" class="cursor-pointer" @click="params_reportados.filtro = ''" />
              </template>
            </q-input>
          </template>

          <template v-slot:body="props" >
            <q-tr :props="props">

              <q-td key="estado" :props="props" :class="'text-white text-bold bg-'+obtenerColorEstado(props.row.estado)">
                {{ props.row.estado_label }}<br v-show="props.row.estado_bascula || props.row.cargado == 'si'">
                <q-avatar class="q-mr-xs" size="20px" color="blue-6" v-show="props.row.estado_bascula == 'PI' || props.row.estado_bascula == 'PF'">PI
                  <q-tooltip class="bg-indigo" :offset="[10, 10]">
                    Peso Inicial
                  </q-tooltip>
                </q-avatar>
                <q-avatar class="q-mr-xs" size="20px" color="orange-6" v-show="props.row.cargado == 'si'">B
                  <q-tooltip class="bg-indigo" :offset="[10, 10]">
                    Cargado
                  </q-tooltip>
                </q-avatar>
                <q-avatar size="20px" color="green-6" v-show="props.row.estado_bascula == 'PF'">PF
                  <q-tooltip class="bg-indigo" :offset="[10, 10]">
                    Peso Final
                  </q-tooltip>
                </q-avatar>
              </q-td>

              <q-td key="ficho" :props="props" >
                <q-chip square color="primary" text-color="white" class="text-bold">
                  {{ props.row.ficho }}
                </q-chip>
              </q-td>

              <q-td key="placa" :props="props">
                <div class="bg-yellow-7 text-center q-pa-xs rounded-borders cursor-pointer" style="width:97%" @click="openModalTraza(props.row)">
                  <b style="font-size:13px">{{ props.row.placa }}</b>
                </div>
              </q-td>

              <q-td key="conductor" :props="props">
                {{ props.row.conductor }}<br v-show="props.row.estado === 'reportado' && props.row.autorizado_ingreso === 'si'">
                <q-chip  color="red" text-color="white" v-show="props.row.estado === 'reportado' && props.row.autorizado_ingreso === 'si'">
                  Ingresar vehículo
                </q-chip>
              </q-td>

              <q-td key="celular" :props="props">
                {{ props.row.celular }}
              </q-td>

              <q-td key="ciudad" :props="props">
                {{ props.row.ciudad }}
              </q-td>

              <q-td key="cert_calidad" :props="props">
                <q-chip size="12px" square color="blue-7" text-color="grey-2" icon="fas fa-certificate" v-show="props.row.cert_calidad == 'si'">
                  Certificado
                </q-chip>
              </q-td>

              <q-td key="fecha_hora_reporta" :props="props">
                {{ props.row.fecha_hora_reporta }}
              </q-td>

              <q-td key="fecha_hora_salida" :props="props">
                {{ props.row.fecha_hora_salida }}
              </q-td>

              <q-td key="acciones" :props="props">
                <q-btn @click="confirmSalida(props.row)" size="10px" outline label="Salida" color="red-9" no-caps icon="fas fa-sign-out-alt" v-show="props.row.estado == 'cargado' && verificaPermiso(50) === true"/>
                  <q-btn color="primary" size="12px" round flat icon="more_vert" v-show="props.row.estado == 'reportado'">
                    <q-menu  :offset="[50, 20]" auto-close >
                      <q-list style="width: 230px">
                        <q-item clickable @click="openModalEnturnar(props.row, 'editar')">
                          <q-item-section avatar>
                            <q-icon name="fas fa-search" color="blue-6"/>
                          </q-item-section>
                          <q-item-section>Ver detalles</q-item-section>
                        </q-item>
                        <q-item clickable @click="reimprimirTicket(props.row)">
                          <q-item-section avatar>
                            <q-icon name="fas fa-ticket-alt" color="grey-6"/>
                          </q-item-section>
                          <q-item-section>Reimprimir ticket</q-item-section>
                        </q-item>
                      </q-list>
                    </q-menu>
                  </q-btn>
              </q-td>
            </q-tr>
          </template>
        </q-table>

      </div>
    </div>
    <q-dialog
      v-model="modal_pedidos"
      persistent
      :maximized="maximizedToggle"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card class="bg-primary text-white">
        <q-bar>
          <q-space />
          <q-btn dense flat icon="minimize" @click="maximizedToggle = false" :disable="!maximizedToggle">
            <q-tooltip v-if="maximizedToggle" content-class="bg-white text-primary">Minimize</q-tooltip>
          </q-btn>
          <q-btn dense flat icon="crop_square" @click="maximizedToggle = true" :disable="maximizedToggle">
            <q-tooltip v-if="!maximizedToggle" content-class="bg-white text-primary">Maximize</q-tooltip>
          </q-btn>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>
        <q-card-section class="q-pt-none">
          <div class="column" style="height: 150px">
            <div class="col self-start">
            </div>
            <div class="col self-center">
              <q-list bordered class="rounded-borders bg-grey-2" style="width: 600px">
                <q-item-label header class="text-grey-9">Información del despacho No. {{info_despacho.consecutivo}} <div class="text-orange text-bold"  v-show="info_despacho.bodega == 'si'">* Despacho para bodega</div></q-item-label>
                <q-item>
                  <q-item-section top class="col-2 gt-sm">
                    <q-item-label class="q-mt-sm text-primary text-center"><b>{{info_despacho.placa}}</b><br><div class="">{{info_despacho.capacidad}} tn</div></q-item-label>
                  </q-item-section>

                  <q-item-section top>
                    <q-item-label lines="1">
                      <span class="text-weight-medium text-primary">[{{info_despacho.fecha}}] </span>
                      <span class="text-weight-medium text-grey-9"><b>{{formatPrice(info_despacho.total_kilos)}} Kg</b> - $ {{formatPrice(info_despacho.valor_total)}}</span>
                    </q-item-label>
                    <q-item-label  lines="1" class="text-grey-9">
                      <b>Conductor</b> {{info_despacho.conductor}}
                    </q-item-label>
                    <q-item-label  lines="1" class="text-grey-9">
                      <b>Vendedor(a)</b> {{info_despacho.vendedor}}
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
              <q-separator size="12px" class="bg-primary"/>
              <div v-for="(pedido, index) in pedidos" :key="index">
                <q-list bordered class="rounded-borders bg-white" style="width: 600px;">
                  <q-expansion-item
                    @click="obtenerProductosxPedido(pedido.id_pedido)"
                    group="pedido"
                  >
                    <template v-slot:header>
                      <q-list style="width:100%">
                        <q-item dense :class="pedido.estado_pedido === 'completo' ? 'text-red text-bold':'text-grey-7 text-bold'">
                          <q-item-section>
                            <q-item-label><div class="text-primary">{{pedido.cliente}} - {{pedido.ciudad}} <b class="text-red" v-show="pedido.pedido_mod == 'si'">(Modificado por bodega)</b></div>
                            </q-item-label>
                            <q-item-label class="text-grey-9" style="font-weight: normal;">{{pedido.nit}} Valor total $ {{formatPrice(pedido.valor_total)}} Total Kg  {{formatPrice(pedido.total_kilos)}}</q-item-label>
                          </q-item-section>
                        </q-item>
                      </q-list>
                    </template>
                    <div class="row text-primary text-weight-regular q-pa-sm" style="font-size:12px" v-show="pedido.observaciones">"{{pedido.observaciones}}"</div>
                    <q-space/>
                    <q-chip  color="orange" text-color="white"  :label="pedido.plazo" />
                    <q-chip  color="blue-9" text-color="white" icon="attach_money"  :label="'Cupo Asignado : ' + formatPrice(pedido.cupo_asignado)" />
                    <q-chip  color="teal" text-color="white" icon="attach_money"  :label="'Cupo disponible : ' + formatPrice(pedido.deuda_total)" />
                    <q-card >
                      <q-separator size="1px" class="bg-grey-3"/>
                      <q-card-section class="q-pa-sm">
                        <div v-for="(producto, index) in productos" :key="index" >
                          <q-list  >
                            <q-item class="bg-grey-3 rounded-borders" >
                            <q-item-section side top>
                              <q-checkbox v-show="producto.cantidad > 0" v-if="!producto.nro_pedido_ofima" v-model="check1" :val="producto.codigo" />
                              <div v-if="producto.nro_pedido_ofima" class="text-primary text-center" style="font-size:12px">Pedido <br>{{producto.nro_pedido_ofima.substring(-1,2)}} - {{producto.nro_pedido_ofima.substring(2,10)}}</div>
                            </q-item-section>
                              <q-item-section>
                                <q-item-label class="text-primary text-bold" style="font-size:12px">{{producto.codigo}}-{{producto.nombre}}</q-item-label>
                                <q-item-label class="text-grey-9">Precio unitario <b>{{formatPrice(producto.valor)}}</b></q-item-label>
                                <q-item-label class="text-grey-9">Valor total <b>{{formatPrice(producto.valor*producto.cantidad)}}</b></q-item-label>
                                <q-item-label  v-show="producto.nota">Nota: <b>{{producto.nota}}</b></q-item-label>
                                <q-item-label  v-show="producto.usu_bodega !== null" style="font-size:15px" class="text-green-8 text-bold">::: Cantidad modificada de {{producto.cantidad_old}} a {{producto.cantidad}} </q-item-label>
                              </q-item-section>

                              <q-item-section side top>
                                <q-item-label  class="text-bold">{{producto.cantidad}} {{producto.unidad}}</q-item-label>
                                <q-btn v-if="info_despacho.autorizado == 'si'" v-show="!producto.nro_pedido_ofima" flat round icon="edit" size="14px" color="primary" @click="listadoProductos(producto.codigo, producto.cantidad, producto.valor, producto.unidad, producto.ped_det, producto.nombre, pedido.id_pedido, producto.nota); modal_editar_producto = true" />
                              </q-item-section>
                            </q-item>
                          </q-list>
                          <q-separator size="4px" class="bg-white"/>
                        </div>
                        <div class="row text-right q-pa-sm">
                          <div class="col">
                            <!-- <q-btn  color="white" class="text-teal-9"  icon-right="send" label="Crear pedido OFIMA" @click="confirmPedido(pedido.nit, pedido.id_pedido, info_despacho.placa)" />-->
                            <q-btn v-show="info_despacho.autorizado == 'si'" v-if="pedido.estado_pedido !== 'completo'"  color="white" class="text-teal-9"  icon-right="send" label="Crear pedido OFIMA" @click="openModalZona(pedido.nit, pedido.id_pedido, info_despacho.placa)" />
                          </div>
                        </div>
                      </q-card-section>
                    </q-card>
                  </q-expansion-item>
                </q-list>
                <q-separator size="3px" class="bg-primary"/>
              </div>
            </div>
            <div class="col self-end">
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog
      v-model="modal_zona"
      persistent
    >
      <q-card style="width: 450px">
        <q-card-section>
          <div class="text-h6 text-primary text-bold">Información adicional - ZONA</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <q-select
                  v-model="zona"
                  ref="ref_cliente"
                  :options="zonas_aux"
                  label="Seleccionar zona"
                  input-class="text-bold"
                  color="primary"
                  stack-label
                  option-value="ID_ZONA"
                  option-label="NOMBRE"
                  use-input
                  @filter="filterFn"
                  @input="obtenerCiudadxZona(zona)"
                >
                </q-select>
            </div>
          </div>
          <div class="row" v-show="zona">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <q-select
                  v-model="ciudad"
                  ref="ref_ciudad"
                  :options="ciudades_aux"
                  label="Seleccionar ciudad"
                  color="primary"
                  stack-label
                  option-value="ID_MUNICIPIO"
                  option-label="MUNICIPIO"
                  use-input
                  @filter="filterFnCiudad"
                >
                </q-select>
            </div>
          </div>
          <div class="row" v-show="zona">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <q-input v-model="barrio" label="Lugar de entrega" stack-label />
            </div>
          </div>
        </q-card-section>

        <q-card-actions align="right" class="bg-white text-teal">
          <q-btn flat label="cerrar" color="red" @click="modal_zona = false" />
          <q-btn flat label="Generar pedido" @click="confirmPedido()" />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog
      v-model="modal_conductores"
      persistent
      :maximized="$q.platform.is.desktop === true ? false : true"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card class="bg-white text-white" style="width: 700px; max-width: 80vw;">
        <q-bar  class="bg-primary q-pa-lg">
          <q-icon name="chevron_left" v-close-popup size="md"/>
          <div class="text-white">Seleccione un conductor</div>
        </q-bar>
        <div class="row bg-white q-pa-md">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-right q-mr-sm">
              <q-input bottom-slots v-model="placa_modal" label="Placa" stack-label @input="listadoConductores('placa')" />
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left text-primary">
            <q-input bottom-slots v-model="conductor_modal" label="Escriba el nombre del conductor" stack-label @input="listadoConductores('conductor')"/>
          </div>
        </div>
        <div class="row scroll" style="max-height: 500px" >
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <q-list>
          <div class="row q-pa-sm" v-if="placas.length > 0">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 scroll" style="max-height: 68vh">
              <q-list  padding >
                <q-item clickable v-ripple v-for="(placa, index) in placas" :key="index" @click="confirmActualizaDespacho(placa)">
                <q-item-section style="padding-right:4px" thumbnail class="bg-primary q-mr-sm">
                </q-item-section>
                  <q-item-section>
                    <q-item-label class="text-weight-bolder text-primary">{{placa.PLACA}}</q-item-label>
                    <q-item-label  class="text-primary">
                      {{placa.NOMBRE_CONDUCTOR}}
                    </q-item-label>
                    <q-item-label  class="text-primary">
                      Capacidad max : {{formatPrice(placa.CAPACIDAD)}} Ton
                    </q-item-label>
                    <q-item-label  class="text-primary">
                      <q-btn size="sm"  class="full-width" label="Elegir Conductor"  icon="local_shipping" />
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator style="height:3px" class="bg-grey-2 " />
              </q-list>
            </div>
          </div>
          </q-list>
          </div>
        </div>
      </q-card>
    </q-dialog>

    <q-dialog
      v-model="modal_editar_producto"
      persistent
      :maximized="$q.platform.is.desktop === true ? false : true"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card class="bg-white text-white" style="width: 700px; max-width: 80vw;">
        <q-bar  class="bg-primary q-pa-lg">
          <q-icon name="chevron_left" v-close-popup size="md"/>
          <div class="text-white">Editar item</div>
        </q-bar>
        <div class="row q-pa-lg">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <q-select
                v-model="modal_producto"
                ref="ref_producto"
                :options="productos_aux"
                label="Producto"
                color="primary"
                stack-label
                option-value="codigo"
                option-label="nombre_select"
                use-input
                @filter="filterFnProductosModal"
              >
              </q-select>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 q-mr-md">
            <q-input v-model="cantidad_modal" label="Cantidad" stack-label />
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 q-mr-md">
            <q-input v-model="valor_modal" label="Valor Unitario" stack-label />
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-7 ">
            <q-input v-model="nota_modal" label="Nota" stack-label />
          </div>
        </div>
        <div class="row q-pa-lg text-right">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <q-btn color="white" text-color="black" label="Grabar cambios" @click="actualizarDetallePedido" />
          </div>
        </div>
      </q-card>
    </q-dialog>

    <q-dialog
      v-model="modal_enturne"
      persistent
      :maximized="maximizedToggle"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card class="bg-primary text-white">
        <q-bar>
          <q-space />

          <q-btn dense flat icon="minimize" @click="maximizedToggle = false" :disable="!maximizedToggle">
            <q-tooltip v-if="maximizedToggle" content-class="bg-white text-primary">Minimize</q-tooltip>
          </q-btn>
          <q-btn dense flat icon="crop_square" @click="maximizedToggle = true" :disable="maximizedToggle">
            <q-tooltip v-if="!maximizedToggle" content-class="bg-white text-primary">Maximize</q-tooltip>
          </q-btn>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>
        <q-card-section class="q-pt-none">
          <div class="column" style="height: 150px">
            <div class="col self-start">
            </div>
            <div class="col self-center">
              <div class="row text-bold q-py-md text-h6">REPORTAR VEHÍCULO {{info_despacho.placa}}</div>
              <q-list bordered class="rounded-borders bg-grey-2" style="width: 600px">
                <q-item-label header class="text-grey-9">Información del despacho No. {{info_despacho.consecutivo}} <div class="text-orange text-bold"  v-show="info_despacho.bodega == 'si'">* Despacho para bodega</div></q-item-label>
                <q-item>
                  <q-item-section top class="col-2 gt-sm">
                    <q-item-label class="q-mt-sm text-primary text-center"><b>{{info_despacho.placa}}</b><br><div class="">{{info_despacho.capacidad}} tn</div></q-item-label>
                  </q-item-section>

                  <q-item-section top>
                    <q-item-label lines="1">
                      <span class="text-weight-medium text-primary">[{{info_despacho.fecha}}] </span>
                      <span class="text-weight-medium text-grey-9">{{formatPrice(info_despacho.total_kilos)}} Kg - $ {{formatPrice(info_despacho.valor_total)}}</span>
                    </q-item-label>
                    <q-item-label  lines="1" class="text-grey-9">
                      <b>Conductor</b> {{info_despacho.conductor}}
                    </q-item-label>
                    <q-item-label  lines="1" class="text-grey-9">
                      <b>Vendedor(a)</b> {{info_despacho.vendedor}}
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
              <q-separator size="12px" class="bg-primary"/>

              <div class="row" style="width:100%" v-if="despacho_consolidado.length > 0">
              <div class="row text-white text-bold">
                <div class="col-12" style="font-size:16px">
                  ::: Consolidado de cargue :::
                </div>
              </div>
                <div class="row" style="width: 100%">
                  <div class="col-12">
                    <q-scroll-area style="height: 500px;">
                      <div class="col-12 ">
                        <q-list style="max-width: 700px" class="bg-white">
                            <q-item class="shadow-1 bg-white" dense>
                              <q-item-section avatar >
                                <div class="text-bold text-primary" style="font-size:14px">Cantidad</div>
                              </q-item-section>
                              <q-item-section ><div class="text-center text-bold text-primary" style="font-size:14px">Producto</div></q-item-section>
                              <q-item-section side class="text-primary">
                                <q-chip outline color="primary" dense text-color="white">
                                  {{despacho_consolidado[0].info_pedidos.length}} Items
                                </q-chip>
                              </q-item-section>
                            </q-item>
                          <div v-for="(pedido, index) in despacho_consolidado[0].info_pedidos" :key="index" style="width:100%">
                            <q-item dense :class="index%2 == 0 ? 'bg-grey-4': 'white'">
                              <q-item-section avatar >
                                <div class="text-black" style="font-size:14px"><b>{{pedido.cantidad}}</b> {{pedido.unidad_medida}}</div>
                              </q-item-section>
                              <q-item-section class="text-left text-primary" style="font-size:14px">{{pedido.cod_producto}} - {{pedido.nom_producto}}</q-item-section>
                            </q-item>
                            <q-separator />
                          </div>
                        </q-list>
                        <div class="row q-py-md" v-show="ficho_asignado">
                            <div class="col text-white" style="font-size:16px">
                              Actualmente tiene asignado el ficho <b>{{ ficho_asignado }}</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-white" style="font-size:16px">
                              Seleccione ficho para asignar el turno .....
                            </div>
                        </div>
                        <div class="q-pa-none">
                          <div class="q-gutter-y-md" style="max-width: 600px">
                            <q-card>
                              <q-tabs
                                v-model="tab_turnos"
                                dense
                                class="text-grey"
                                active-color="primary"
                                indicator-color="primary"
                                align="justify"
                                narrow-indicator
                              >
                                <q-tab name="industrial" label="Industrial" @click="listadoFichos('industrial')"></q-tab>
                                <q-tab name="subproducto" label="Subproducto" @click="listadoFichos('subproducto')"></q-tab>
                                <q-tab name="paqueteo" label="Paqueteo" @click="listadoFichos('paqueteo')"></q-tab>
                                <q-tab name="contado" label="Contado" @click="listadoFichos('contado')"></q-tab>
                              </q-tabs>

                              <q-separator></q-separator>

                              <q-tab-panels v-model="tab_turnos" animated>
                                <q-tab-panel name="industrial">
                                  <div class="q-gutter-md">
                                    <q-btn @click="openModalConfirmFicho(ficho)" :disable="ficho.disponible == 'si' ? false : true" :color="ficho.disponible == 'si' ? 'blue-8' : 'blue-grey'" :label="ficho.nombre" v-for="(ficho , index) in fichos" :key="index" />
                                  </div>
                                </q-tab-panel>

                                <q-tab-panel name="subproducto">
                                  <div class="q-gutter-md">
                                    <q-btn @click="openModalConfirmFicho(ficho)" :disable="ficho.disponible == 'si' ? false : true" :color="ficho.disponible == 'si' ? 'brown' : 'blue-grey-12'" :label="ficho.nombre" v-for="(ficho , index) in fichos" :key="index" />
                                  </div>
                                </q-tab-panel>

                                <q-tab-panel name="paqueteo">
                                  <div class="q-gutter-md">
                                    <q-btn @click="openModalConfirmFicho(ficho)" :disable="ficho.disponible == 'si' ? false : true" :color="ficho.disponible == 'si' ? 'red-8' : 'blue-grey-12'" :label="ficho.nombre" v-for="(ficho , index) in fichos" :key="index" />
                                  </div>
                                </q-tab-panel>
                                <q-tab-panel name="contado">
                                  <div class="q-gutter-md">
                                    <q-btn @click="openModalConfirmFicho(ficho)" :disable="ficho.disponible == 'si' ? false : true" :color="ficho.disponible == 'si' ? 'green' : 'blue-grey-12'" :label="ficho.nombre" v-for="(ficho , index) in fichos" :key="index" />
                                  </div>
                                </q-tab-panel>
                              </q-tab-panels>
                            </q-card>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 text-white q-py-sm" v-show="id_reportado !== ''" align="right">
                        <q-btn label="Anular turno" color="red" @click="confirmAnularTurno()" />
                      </div>
                    </q-scroll-area>
                  </div>
                </div>
              </div>

            </div>
            <div class="col self-end">
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="modal_confirm_ficho" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <span class="q-ml-sm" style="font-size:15px">¿Está seguro de reportar con el turno <b>{{ficho.nombre}} ({{ tab_turnos }})</b> al vehículo?</span>
        </q-card-section>

        <q-card-section align="center">
          <div class="row">
            <div class="col-12">
              <q-input style="width:220px" v-model="celular" mask="(###) ### - ####" unmasked-value label="Teléfono de contacto" stack-label ref="celular">
                <template v-slot:prepend >
                  <q-icon name="fas fa-phone-alt" color="blue-9"/>
                </template>
              </q-input>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <q-select style="width:230px ;" use-input  v-model="select_ciudad"  @filter="filterFnCiudadFull" :options="ciudades_local_aux" stack-label label="Seleccione la ciudad destino" >
                  <template v-slot:no-option>
                    <q-item>
                      <q-item-section class="text-grey">
                        No se encontraron resultados
                      </q-item-section>
                    </q-item>
                  </template>
              </q-select>
            </div>
          </div>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="red" v-close-popup />
          <q-btn flat label="Reportar" color="primary" @click="regitrarTurno()" />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog
      v-model="modal_trazabilidad"
      persistent
      :maximized="true"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card dense class="bg-white text-white">
        <q-toolbar class="text-primary">
            <q-toolbar-title>
            </q-toolbar-title>
          <q-btn flat  dense label="Cerrar ventana" color="red-6" v-close-popup/>
        </q-toolbar>
        <q-card-section>
          <logistica-traza-despachos :idDespacho="id_despacho"/>
        </q-card-section>
      </q-card>
    </q-dialog>

  </div>
</template>

<script>
import axios from 'axios'
import { exportFile } from 'quasar'
window.Pusher = require('pusher-js')
export default {
  data () {
    return {
      modulo: 'listado_despachos',
      select_ciudad: '',
      ciudades_local: [],
      ciudades_local_aux: [],
      id_reportado: '',
      ficho_asignado: '',
      params_reportados: {
        tipo_ficho: '',
        loading: false,
        filtro: '',
        data: [],
        columns_reportados: [
          { name: 'estado', align: 'center', label: 'Estado', field: 'estado', sortable: true, style: 'width: 100px', headerClasses: 'text-primary' },
          { name: 'ficho', align: 'center', label: 'Nro. Ficho', field: 'ficho', sortable: true, style: 'width: 40px', headerClasses: 'text-primary' },
          { name: 'placa', align: 'center', label: 'Placa', field: 'placa', sortable: true, style: 'width: 100px', headerClasses: 'text-primary' },
          { name: 'conductor', align: 'center', label: 'Conductor', field: 'conductor', sortable: true, style: 'width: 100px', headerClasses: 'text-primary' },
          { name: 'celular', align: 'center', label: 'Celular', field: 'celular', sortable: true, style: 'width: 150px', headerClasses: 'text-primary' },
          { name: 'ciudad', align: 'center', label: 'Ciudad', field: 'ciudad', sortable: true, style: 'width: 150px', headerClasses: 'text-primary' },
          { name: 'cert_calidad', align: 'center', label: 'Cert. Calidad', field: 'cert_calidad', sortable: true, style: 'width: 60px', headerClasses: 'text-primary' },
          { name: 'fecha_hora_reporta', align: 'center', label: 'Reportado', field: 'fecha_hora_reporta', sortable: true, style: 'width: 60px', headerClasses: 'text-primary' },
          { name: 'fecha_hora_salida', align: 'center', label: 'Salida', field: 'fecha_hora_salida', sortable: true, style: 'width: 60px', headerClasses: 'text-primary' },
          { name: 'acciones', align: 'center', label: 'Acciones', field: 'acciones', sortable: false, style: 'width: 150px', headerClasses: 'text-primary' }
        ],
        pagination: {
          rowsPerPage: 10
        }
      },
      modal_trazabilidad: false,
      id_interval: '',
      celular: '',
      ficho: { id: '', nombre: '' },
      modal_confirm_ficho: false,
      tab_turnos: 'industrial',
      modal_enturne: false,
      fichos: [],
      despacho_consolidado: [],
      connection: null,
      ver_table: 'despachos',
      lista_pedidos: [],
      nota_modal: '',
      id_detalle_pedido: '',
      cantidad_modal: '',
      valor_modal: '',
      unidad_modal: '',
      modal_producto: [],
      productos_aux: [],
      productos_modal: [],
      modal_editar_producto: false,
      modal_conductores: false,
      placa_modal: '',
      conductor_modal: '',
      placas: [],
      blueModel: false,
      id_despacho: '',
      fecha_inicial: '',
      fecha_final: '',
      check1: [],
      modal_pedidos: false,
      modal_zona: false,
      zonas: [],
      ciudades: [],
      ciudad: '',
      ciudades_aux: [],
      zonas_aux: [],
      zona: '',
      barrio: '',
      info_despacho: { consecutivo: '', conductor: '', vendedor: '', fecha: '', placa: '', capacidad: '', valor_total: '', total_kilos: '', nit_conductor: '', bodega: '', autorizado: '', cert_calidad: '' },
      maximizedToggle: true,
      imageSrc: '',
      model: 'Please wait...',
      manufacturer: 'Please wait...',
      theModel: true,
      modal_adj_doc: false,
      despachos: [],
      despachos_aux: [],
      pedidos: [],
      productos: [],
      pagination: {
        rowsPerPage: 10
      },
      selected: [],
      datos_seleccionado: [],
      modal_reg_cli: false,
      loading_pedidos: false,
      loading_despachos: false,
      filter: '',
      fecha_factura: '',
      columns: [
        { name: 'autorizado', align: 'center', label: 'Estado', field: 'autorizado', sortable: true, style: 'width: 100px', headerClasses: 'text-primary' },
        { name: 'consecutivo', align: 'left', label: 'Nro. Despacho', field: 'consecutivo', sortable: true, style: 'width: 40px', headerClasses: 'text-primary' },
        { name: 'fecha_entrega', align: 'center', label: 'Fecha aprox. cargue', field: 'fecha_entrega', sortable: true, style: 'width: 100px', headerClasses: 'text-primary' },
        { name: 'fecha', align: 'center', label: 'Fecha hora registro', field: 'fecha', sortable: true, style: 'width: 100px', headerClasses: 'text-primary' },
        { name: 'vendedor', align: 'left', label: 'Vendedor', field: 'vendedor', sortable: true, style: 'width: 150px', headerClasses: 'text-primary' },
        { name: 'placa', align: 'left', label: 'Placa', field: 'placa', sortable: true, style: 'width: 60px', headerClasses: 'text-primary' },
        { name: 'cert_calidad', align: 'center', label: 'Cert. Calidad', field: 'cert_calidad', sortable: true, style: 'width: 100px', headerClasses: 'text-primary' },
        { name: 'conductor', align: 'left', label: 'Capacidad Tn / Conductor', field: 'conductor', sortable: true, style: 'width: 100px', headerClasses: 'text-primary' },
        { name: 'acciones', align: 'center', label: 'Acciones', field: 'acciones', sortable: false, style: 'width: 150px', headerClasses: 'text-primary' }
      ],
      columns_pedidos: [
        { name: 'btn', align: 'left', label: '', field: 'btn', sortable: false, style: 'width: 40px' },
        { name: 'fecha', align: 'left', label: 'Fecha', field: 'fecha', sortable: true, style: 'width: 150px', headerClasses: 'text-white' },
        { name: 'nit', align: 'left', label: 'Nit', field: 'nit', sortable: true, style: 'width: 40px', headerClasses: 'text-white' },
        { name: 'cliente', align: 'left', label: 'Cliente', field: 'cliente', sortable: true, style: 'width: 40px', headerClasses: 'text-white' },
        { name: 'ciudad', align: 'center', label: 'Ciudad', field: 'ciudad', sortable: true, style: 'width: 100px', headerClasses: 'text-white' },
        { name: 'vendedor', align: 'left', label: 'Vendedor', field: 'vendedor', sortable: true, style: 'width: 150px', headerClasses: 'text-white' },
        { name: 'valor_total', align: 'right', label: 'Valor total', field: 'valor_total', sortable: true, style: 'width: 100px', headerClasses: 'text-white' },
        { name: 'total_kilos', align: 'right', label: 'Total Kg', field: 'total_kilos', sortable: false, style: 'width: 150px', headerClasses: 'text-white' },
        { name: 'observaciones', align: 'left', label: 'Observaciones', field: 'observaciones', sortable: true, style: 'width: 100px', headerClasses: 'text-white' }
      ],
      contador_prospectos: 0,
      showMenu: false,
      consulta_prospecto: false,
      nit: '',
      id_pedido: '',
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      }
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    rol () {
      return this.$store.getters['store/obtener_rol']
    }
  },
  methods: {
    handleClick (row) {
      alert(row)
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    obtenerColorEstado (estado) {
      switch (estado) {
        case 'reportado':
          return 'indigo-10'
        case 'en_espera':
          return 'orange-10'
        case 'en_cargue':
          return 'light-green-6'
        case 'cargado':
          return 'green-13'
        case 'finalizado':
          return 'black'
      }
    },
    ejecutarFuncion (opcion) {
      if (opcion === 'despachos') {
        this.ver_table = 'despachos'
        this.listadoDespachos()
        clearInterval(this.id_interval)
      } else if (opcion === 'pedidos') {
        this.ver_table = 'pedidos'
        this.listadoPedidos()
        clearInterval(this.id_interval)
      } else {
        this.listadoReportados('')
        clearInterval(this.id_interval)
        this.actualizaInfoAuto()
      }
    },
    wrapCsvValue (val, formatFn) {
      let formatted = formatFn !== void 0
        ? formatFn(val)
        : val

      formatted = formatted === void 0 || formatted === null
        ? ''
        : String(formatted)

      formatted = formatted.split('"').join('""')
      /**
       * Excel accepts \n and \r in strings, but some other CSV parsers do not
       * Uncomment the next two lines to escape new lines
       */
      // .split('\n').join('\\n')
      // .split('\r').join('\\r')

      return `"${formatted}"`
    },
    exportTable () {
      // naive encoding to csv format
      const content = [this.columns_pedidos.map(col => this.wrapCsvValue(col.label))].concat(
        this.lista_pedidos.map(row => this.columns_pedidos.map(col => this.wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[ col.field === void 0 ? col.name : col.field ],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'lista-pedidos.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },
    ejecutarFiltroFicho (tipoFicho) {
      this.params_reportados.tipo_ficho = tipoFicho
      this.listadoReportados('')
    },
    openModalConfirmFicho (ficho) {
      this.modal_confirm_ficho = true
      this.ficho.id = ficho.id
      this.ficho.nombre = ficho.nombre
    },
    regitrarTurno () {
      var self = this
      if (!this.celular) {
        self.notificacionToast('error', 'Falta digitar el No. de celular', 'top-right', 5000)
        return false
      } else if (!this.select_ciudad) {
        self.notificacionToast('error', 'Falta seleccionar la ciudad destino', 'top-right', 5000)
        return false
      }
      self.showLoading('Reportando vehículo, por favor espere...')
      axios.post(self.api_url + '/api/despachos-turno/registrar/', {
        id_reportado: self.id_reportado,
        id_despacho: self.id_despacho,
        id_ficho: self.ficho.id,
        celular: self.celular,
        ciudad: self.select_ciudad,
        cert_calidad: self.info_despacho.cert_calidad,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-right', 5000)
          // Cierro las modal
          self.modal_enturne = false
          self.modal_confirm_ficho = false
          // Limpio variables
          self.id_despacho = ''
          self.tab_turnos = 'industrial'
          self.ficho.id = ''
          self.ficho.nombre = ''
          self.celular = ''
          self.select_ciudad = ''
          if (self.id_reportado) {
            self.id_reportado = ''
            self.ficho_asignado = ''
            self.listadoReportados('')
          } else {
            self.listadoDespachos()
          }
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-right', 5000)
        }
        self.hideLoading()
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('error', err, 'top-right', 5000)
        self.hideLoading()
      })
    },
    reimprimirTicket (turno) {
      var self = this
      self.showLoading('Reimprimiendo el ticket, por favor espere...')
      axios.get(this.api_url + '/api/despachos-turno/reimprimir-ticket/', {
        params: {
          // prospecto: this.consulta_prospecto,
          // filtro: this.theModel,
          placa: turno.placa,
          ficho: turno.ficho,
          fecha_hora_reporta: turno.fecha_hora_reporta,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        // self.despachos = response.data
      }).finally(function () {
        self.hideLoading()
      })
    },
    anularTurno () {
      var self = this
      self.showLoading('Anulando turno, por favor espere...')
      axios.put(self.api_url + '/api/despachos-turno/anular/', {
        id_reportado: self.id_reportado,
        id_ficho: self.ficho.id,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-right', 5000)
          // Cierro las modal
          self.modal_enturne = false
          self.modal_confirm_ficho = false
          // Limpio variables
          self.id_despacho = ''
          self.tab_turnos = 'industrial'
          self.ficho.id = ''
          self.ficho.nombre = ''
          self.celular = ''
          self.id_reportado = ''
          self.ficho_asignado = ''
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-right', 5000)
        }
        self.listadoReportados('')
        self.hideLoading()
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('error', err, 'top-right', 5000)
        self.hideLoading()
      })
    },
    actualizaEstadoTurno (idTurno, estado) {
      var self = this
      self.showLoading('Actualizando estado del turno, por favor espere...')
      axios.put(self.api_url + '/api/despachos-turno/actualiza-estado/', {
        id_reportado: idTurno,
        estado: estado,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-right', 5000)
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-right', 5000)
        }
        self.listadoReportados('')
        self.hideLoading()
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('error', err, 'top-right', 5000)
        self.hideLoading()
      })
    },
    listadoDespachos () {
      var self = this
      self.despachos = []
      self.loading_despachos = true
      axios.get(this.api_url + '/api/listado/despachos', {
        params: {
          // prospecto: this.consulta_prospecto,
          // filtro: this.theModel,
          fecha_inicial: this.fecha_inicial,
          fecha_final: this.fecha_final,
          estado: this.blueModel,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.despachos = response.data
      }).finally(function () {
        self.loading_despachos = false
      })
    },
    listadoCiudades () {
      var self = this
      axios.get(this.api_url + '/api/despachos-turno/obtener-ciudades/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.ciudades_local = response.data
      }).finally(function () {
      })
    },
    listadoReportados (estado) {
      var self = this
      self.params_reportados.data = []
      self.params_reportados.loading = true
      axios.get(this.api_url + '/api/despachos-turno/listado-reportados/', {
        params: {
          fecha_inicial: this.fecha_inicial,
          fecha_final: this.fecha_final,
          estado: estado,
          tipo_ficho: self.params_reportados.tipo_ficho,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.params_reportados.data = response.data
      }).finally(function () {
        self.params_reportados.loading = false
      })
    },
    listadoFichos (tipoFicho) {
      var self = this
      self.showLoading('Cargando fichos disponibles')
      self.fichos = []
      axios.get(this.api_url + '/api/fichos/obtener-fichos', {
        params: {
          filtro: tipoFicho,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.fichos = response.data
      }).finally(function () {
        self.hideLoading()
      })
    },
    listadoProductos (Codpro, Cant, Val, Unidad, IdpedDet, nombre, Idpedido, nota) {
      var self = this
      self.productos_modal.length = 0
      axios.get(this.api_url + '/api/productos/listado/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.productos_modal = response.data
        // console.log(response.data)
      }).finally(function () {
        self.modal_producto = { codigo: Codpro, nombre: nombre, nombre_select: Codpro + '-' + nombre }
        self.cantidad_modal = Cant
        self.valor_modal = Val
        self.unidad_modal = Unidad
        self.id_detalle_pedido = IdpedDet
        self.id_pedido = Idpedido
        self.nota_modal = nota
      })
    },
    obtenerPedidosxDespacho (consecutivo) {
      var self = this
      self.showLoading('Cargando pedidos, por favor espere un momento ...')
      axios.get(this.api_url + '/api/pedidos/pedidos-x-despacho', {
        params: {
          consecutivo: consecutivo,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.pedidos = response.data
      }).finally(function () {
        self.hideLoading()
      }).catch(function (error) {
        self.notificacionToast('error', 'Error :' + error, 'top-right', 5000)
        self.hideLoading()
      })
    },
    obtenerProductosxPedido (idPedido) {
      var self = this
      self.showLoading('Cargando productos, por favor espere un momento ...')
      self.productos = []
      self.check1.length = 0
      axios.get(this.api_url + '/api/pedidos/pedidos-detalle/', {
        params: {
          id_pedido: idPedido,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.productos = response.data
      }).finally(function () {
        self.hideLoading()
      }).catch(function (error) {
        self.notificacionToast('error', 'Error :' + error, 'top-right', 5000)
        self.hideLoading()
      })
    },
    confirmAnularTurno () {
      this.$q.dialog({
        title: 'Anular turno',
        message: '¿Está seguro de anular el turno?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.anularTurno()
      })
    },
    confirmSalida (registro) {
      this.$q.dialog({
        title: 'Salida del vehículo',
        message: '¿Está seguro de darle salida al vehículo?<br><br><b style="font-size:20px">' + registro.placa + '</b>',
        cancel: true,
        html: true,
        persistent: true
      }).onOk(() => {
        this.actualizaEstadoTurno(registro.id_registro, 'finalizado')
      })
    },
    confirmLiberarFichos () {
      this.$q.dialog({
        title: 'Liberar fichos',
        message: '¿Está seguro de liberar todos los fichos?',
        // message: '¿Está seguro de liberar todos los fichos?<br><br><b>Importante:</b> Este proceso de soltar fichos se ejecuta también a las 06:00 a.m automaticamente, si se va ejecutar desde este botón es porque no se realizó la ejecución a dicha hora.<br><br>RECORDAR QUE NO DEBE HABER VEHÍCULOS ENTURNADOS',
        cancel: true,
        persistent: true,
        html: true
      }).onOk(() => {
        this.liberarFichos()
      })
    },
    liberarFichos () {
      this.showLoading('Soltando turnos, por favor espere ...')
      var self = this
      axios.put(this.api_url + '/api/fichos/liberar-fichos/', {
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-right', 6000)
          self.listadoReportados('')
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-right', 5000)
        }
        self.hideLoading()
      }).catch(function (err) {
        // console.log(err)
        this.notificacionToast('error', err, 'top-right', 5000)
        this.hideLoading()
      })
    },
    confirmPedido () {
      this.$q.dialog({
        title: 'Crear pedido OFIMA',
        message: '¿Está seguro de crear el pedido?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.crearPedidoOfima(this.nit, this.id_pedido, this.info_despacho.placa)
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    openModalTraza (data) {
      this.modal_trazabilidad = true
      this.id_despacho = data.id_despacho
    },
    crearPedidoOfima (nit, idPedido, placa) {
      if (!this.zona) {
        this.notificacionToast('error', 'Debe seleccionar una zona', 'top-right', 5000)
        return false
      }
      if (!this.ciudad) {
        this.notificacionToast('error', 'Debe seleccionar una ciudad', 'top-right', 5000)
        return false
      }
      if (!this.barrio) {
        this.notificacionToast('error', 'Debe digitar un barrio', 'top-right', 5000)
        return false
      }
      this.showLoading('Creando pedido en OFIMA, por favor espere ...')
      var self = this
      axios.post(this.api_url + '/api/pedido/registro/', {
        nit: nit,
        id_pedido: idPedido,
        placa: placa,
        nit_conductor: self.info_despacho.nit_conductor,
        id_zona: self.zona.ID_ZONA,
        id_ciudad: self.ciudad.ID_MUNICIPIO,
        barrio: self.barrio,
        productos: self.check1,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-right', 5000)
          self.hideLoading()
          self.modal_zona = false
          self.zona = ''
          self.ciudad = ''
          self.barrio = ''
          self.check1.length = 0
          self.listadoDespachos()
          self.obtenerPedidosxDespacho(self.info_despacho.consecutivo)
          self.obtenerProductosxPedido(idPedido)
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-right', 5000)
          self.hideLoading()
        }
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('error', err, 'top-right', 5000)
        self.hideLoading()
      })
    },
    actualizarDetallePedido () {
      if (!this.modal_producto) {
        this.notificacionToast('error', 'Debe seleccionar un producto', 'top-right', 5000)
        return false
      }
      if (!this.valor_modal) {
        this.notificacionToast('error', 'Debe digitar el valor', 'top-right', 5000)
        return false
      }
      if (!this.cantidad_modal) {
        this.notificacionToast('error', 'Debe digitar la cantidad', 'top-right', 5000)
        return false
      }
      this.showLoading('Actualizando información ...')
      var self = this
      axios.put(this.api_url + '/api/pedido/modifica-item-detalle', {
        codigo: self.modal_producto.codigo,
        id_ped_det: self.id_detalle_pedido,
        cantidad: self.cantidad_modal,
        valor: self.valor_modal,
        nota: self.nota_modal,
        despacho: self.info_despacho.consecutivo,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-right', 5000)
          self.hideLoading()
          self.modal_producto.length = 0
          self.cantidad_modal = ''
          self.unidad_modal = ''
          self.valor_modal = ''
          self.nota_modal = ''
          self.id_detalle_pedido = ''
          self.modal_editar_producto = false
          self.obtenerPedidosxDespacho(self.info_despacho.consecutivo)
          self.obtenerProductosxPedido(self.id_pedido)
          // Actualiza valor total kilos y valor total del despacho
          self.info_despacho.valor_total = res.data.totales.valor_total
          self.info_despacho.total_kilos = res.data.totales.total_kilos
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-right', 5000)
          self.hideLoading()
        }
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('error', err, 'top-right', 5000)
        self.hideLoading()
      })
    },
    cargarZonas (nombre = '') {
      var self = this
      axios.get(this.api_url + '/api/zonas/obtener-zonas/', {
        params: {
          token: localStorage.getItem('token'),
          nombre: nombre
        }
      }).then((response) => {
        self.zonas = response.data
      }).finally(function () {
      })
    },
    obtenerCiudadxZona (idZona) {
      if (idZona) {
        idZona = idZona.ID_ZONA
      } else {
        idZona = ''
      }
      var self = this
      axios.get(this.api_url + '/api/zonas/obtener-ciudad-zona/', {
        params: {
          token: localStorage.getItem('token'),
          id_zona: idZona
        }
      }).then((response) => {
        self.ciudades = response.data
      }).finally(function () {
      })
    },
    openModalZona (nit, pedido, placa) {
      if (this.check1.length <= 0) {
        this.notificacionToast('error', 'Debe seleccionar por lo menos un (1) item para generar pedido', 'top-right', 5000)
        return false
      }
      if (this.check1.length > 6) {
        this.notificacionToast('error', 'Minimo seis (6) items por pedido', 'top-right', 5000)
        return false
      }
      this.modal_zona = true
      this.nit = nit
      this.id_pedido = pedido
      this.info_despacho.placa = placa
    },
    filterFn (val, update) {
      if (val === '') {
        update(() => {
          this.zonas_aux = this.zonas
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.zonas_aux = this.zonas.filter(v => v.NOMBRE.toLowerCase().indexOf(this.quitarAcentos(needle)) > -1)
      })
    },
    filterFnProductosModal (val, update) {
      if (val === '') {
        update(() => {
          this.productos_aux = this.productos_modal
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.productos_aux = this.productos_modal.filter(v => v.nombre_select.toLowerCase().indexOf(this.quitarAcentos(needle)) > -1)
      })
    },
    filterFnCiudad (val, update) {
      if (val === '') {
        update(() => {
          this.ciudades_aux = this.ciudades
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.ciudades_aux = this.ciudades.filter(v => v.MUNICIPIO.toLowerCase().indexOf(this.quitarAcentos(needle)) > -1)
      })
    },
    filterFnCiudadFull (val, update) {
      if (val === '') {
        update(() => {
          this.ciudades_local_aux = this.ciudades_local
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.ciudades_local_aux = this.ciudades_local.filter(v => v.toLowerCase().indexOf(this.quitarAcentos(needle)) > -1)
      })
    },
    quitarAcentos (cadena) {
      const acentos = { 'á': 'a', 'é': 'e', 'í': 'i', 'ó': 'o', 'ú': 'u', 'Á': 'A', 'É': 'E', 'Í': 'I', 'Ó': 'O', 'Ú': 'U' }
      return cadena.split('').map(letra => acentos[letra] || letra).join('').toString()
    },
    listadoConductores (campoFiltra) {
      if (campoFiltra === 'placa') {
        if (this.placa_modal.length <= 0) {
          this.placas.length = 0
        }
      } else {
        if (this.conductor_modal.length <= 0) {
          this.placas.length = 0
        }
      }
      if (this.placa_modal.length > 1 || this.conductor_modal.length > 2) {
        var self = this
        axios.get(this.api_url + '/api/conductores/listado/', {
          params: {
            placa: this.placa_modal,
            conductor: this.conductor_modal,
            token: localStorage.getItem('token')
          }
        }).then((response) => {
          self.placas = response.data
        }).finally(function () {
        })
      }
    },
    confirmActualizaDespacho (datos) {
      this.$q.dialog({
        title: 'Modificar el despacho',
        message: '¿Está seguro de modificar el despacho?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.actualizaDespacho(datos)
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    confirmActualizaDespachoEstado (idDespacho) {
      this.$q.dialog({
        title: 'Modificar el estado del despacho',
        message: '¿Está seguro de abrir el despacho?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.actualizaDespachoEstado(idDespacho)
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    confirmActualizaDespachoEliminar (idDespacho) {
      this.$q.dialog({
        title: 'Eliminar despacho',
        message: '¿Está seguro de eliminar el despacho?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.actualizaDespachoEliminar(idDespacho)
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    confirmActualizaDespachoDesautorizar (idDespacho) {
      this.$q.dialog({
        title: 'Desautorizar despacho',
        message: '¿Está seguro de desautorizar el despacho?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.actualizaDespachoDesautoriza(idDespacho)
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    confirmActualizaDespachoAutorizar (idDespacho) {
      this.$q.dialog({
        title: 'Autorizar despacho',
        message: '¿Está seguro de autorizar el despacho?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.actualizaDespachoAutorizar(idDespacho)
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    obtenerIdDespacho (idDespacho) {
      this.modal_conductores = true
      this.id_despacho = idDespacho
    },
    actualizaDespacho (datos) {
      this.showLoading('Guardando información ...')
      var self = this
      axios.put(this.api_url + '/api/despachos/actualiza-despacho/', {
        id_despacho: this.id_despacho,
        placa: datos.PLACA,
        conductor: datos.NOMBRE_CONDUCTOR,
        nit_conductor: datos.NIT_CONDUCTOR,
        accion: 'mod_full',
        capacidad: self.formatPrice(datos.CAPACIDAD),
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-right', 5000)
          self.modal_conductores = false
          self.id_despacho = ''
          self.placas.length = 0
          self.placa_modal = ''
          self.conductor_modal = ''
          self.listadoDespachos()
          self.hideLoading()
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-right', 5000)
          self.hideLoading()
        }
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('error', err, 'top-right', 5000)
        self.hideLoading()
      })
    },
    actualizaDespachoEstado (IdDespacho) {
      this.showLoading('Actualizando información ...')
      var self = this
      axios.put(this.api_url + '/api/despachos/actualiza-despacho/', {
        id_despacho: IdDespacho,
        accion: 'mod_estado',
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-right', 5000)
          self.modal_conductores = false
          self.id_despacho = ''
          self.placas.length = 0
          self.placa_modal = ''
          self.conductor_modal = ''
          self.listadoDespachos()
          self.hideLoading()
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-right', 5000)
          self.hideLoading()
        }
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('error', err, 'top-right', 5000)
        self.hideLoading()
      })
    },
    actualizaDespachoDesautoriza (IdDespacho) {
      this.showLoading('Desautorizando despacho, por favor espere ...')
      var self = this
      axios.put(this.api_url + '/api/despachos/actualiza-despacho/', {
        id_despacho: IdDespacho,
        accion: 'desautorizar',
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-right', 5000)
          self.listadoDespachos()
          self.hideLoading()
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-right', 5000)
          self.hideLoading()
        }
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('error', err, 'top-right', 5000)
        self.hideLoading()
      })
    },
    actualizaDespachoEliminar (IdDespacho) {
      this.showLoading('Eliminando despacho ...')
      var self = this
      axios.put(this.api_url + '/api/despachos/actualiza-despacho/', {
        id_despacho: IdDespacho,
        accion: 'mod_estado_eliminar',
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-right', 5000)
          self.modal_conductores = false
          self.id_despacho = ''
          self.placas.length = 0
          self.placa_modal = ''
          self.conductor_modal = ''
          self.listadoDespachos()
          self.hideLoading()
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-right', 5000)
          self.hideLoading()
        }
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('error', err, 'top-right', 5000)
        self.hideLoading()
      })
    },
    actualizaDespachoAutorizar (IdDespacho) {
      this.showLoading('Autorizando despacho, por favor espere ...')
      var self = this
      axios.put(this.api_url + '/api/despachos/cerrar-despacho/', {
        id_despacho: IdDespacho,
        accion: 'autorizar',
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-right', 5000)
          self.listadoDespachos()
          self.hideLoading()
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-right', 5000)
          self.hideLoading()
        }
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('error', err, 'top-right', 5000)
        self.hideLoading()
      })
    },
    openModalPedidos (despacho) {
      // limipiar datos de objetos
      this.pedidos.length = 0
      this.productos.length = 0
      this.modal_pedidos = true
      this.info_despacho.consecutivo = despacho.consecutivo
      this.info_despacho.fecha = despacho.fecha
      this.info_despacho.conductor = despacho.conductor
      this.info_despacho.nit_conductor = despacho.nit_conductor
      this.info_despacho.vendedor = despacho.vendedor
      this.info_despacho.placa = despacho.placa
      this.info_despacho.capacidad = despacho.capacidad
      this.info_despacho.valor_total = despacho.valor_total
      this.info_despacho.total_kilos = despacho.total_kilos
      this.info_despacho.bodega = despacho.bodega
      this.info_despacho.autorizado = despacho.autorizado
      console.log(this.info_despacho)
      this.obtenerPedidosxDespacho(despacho.consecutivo)
    },
    openModalEnturnar (despacho, accion) {
      this.listadoCiudades()
      // limipiar datos de objetos
      this.pedidos.length = 0
      this.productos.length = 0
      this.modal_enturne = true
      if (despacho.ciudad) {
        this.select_ciudad = despacho.ciudad
      }
      this.info_despacho.consecutivo = despacho.consecutivo
      this.info_despacho.fecha = despacho.fecha
      this.info_despacho.conductor = despacho.conductor
      this.info_despacho.nit_conductor = despacho.nit_conductor
      this.info_despacho.vendedor = despacho.vendedor
      this.info_despacho.placa = despacho.placa
      this.info_despacho.capacidad = despacho.capacidad
      this.info_despacho.valor_total = ''
      this.info_despacho.total_kilos = ''
      this.info_despacho.bodega = ''
      this.info_despacho.autorizado = despacho.autorizado
      this.id_despacho = despacho.id_despacho
      this.info_despacho.cert_calidad = despacho.cert_calidad
      if (accion === 'editar') {
        this.id_reportado = despacho.id_registro
        this.ficho_asignado = despacho.ficho
        this.ficho.id = despacho.id_ficho
        // Habilita el tab que pertenece el ficho para que visualmente sea mas facil ubicarse
        this.obtenerTabFichos(this.ficho_asignado)
        this.celular = despacho.celular
      }
      this.obtenerInfoDespachoConsolidado(this.info_despacho.consecutivo)
      if (accion === 'reportar') {
        this.id_reportado = ''
        this.ficho_asignado = ''
        this.celular = ''
        this.listadoFichos('industrial')
      }
    },
    obtenerTabFichos (ficho) {
      var f = ficho.charAt(0)
      if (f === 'C') {
        this.tab_turnos = 'contado'
      } else if (f === 'B') {
        this.tab_turnos = 'industrial'
      } else if (f === 'S') {
        this.tab_turnos = 'subproducto'
      } else {
        this.tab_turnos = 'paqueteo'
      }
      this.listadoFichos(this.tab_turnos)
    },
    obtenerDiaInicioFinMes () {
      var self = this
      self.showLoading('Cargando información, por favor espere un momento ...')
      // self.loading = true
      axios.get(this.api_url + '/api/cargue/obtener-inicio-fin-mes', {
      }).then((response) => {
        self.fecha_inicial = response.data.fecha_inicio
        self.fecha_final = response.data.fecha_final
      }).finally(function () {
        // self.loading = false
        self.hideLoading()
        self.listadoDespachos()
      })
    },
    exportarClientes () {
      window.location.href = this.api_url + '/api/clientes/exportar-clientes/' + this.theModel
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    formatPrice (value) {
      let val = (value / 1).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    notificacion (color, colorTexto, icono, mensaje, posicion) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        position: posicion
      })
    },
    notificacionToast (tipoNotif, msj, posicion, duracion) {
      this.$toast(msj, {
        position: posicion,
        type: tipoNotif,
        timeout: duracion,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        // draggable: true,
        // draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: 'button',
        icon: true,
        rtl: false
      })
    },
    ejecutarNotificacion (msj, color, timeout, acciones = false) {
      var self = this
      if (acciones === false) {
        this.$q.notify({
          message: msj,
          color: color,
          timeout: timeout,
          position: 'top-right',
          html: true,
          actions: [
            { icon: 'close', color: 'white', round: true, handler: () => { /* ... */ } }
          ]
        })
      } else {
        this.$q.notify({
          message: msj,
          color: color,
          timeout: timeout,
          position: 'top-right',
          html: true,
          actions: [
            { label: 'Actualizar', color: 'yellow', handler: () => { self.listadoDespachos() } },
            { label: 'Cerrar', color: 'white', handler: () => { /* ... */ } }
          ]
        })
      }
    },
    escuchaNotificacion () {
      var self = this
      window.Echo.channel('notificacion-netico')
        .listen('Notificaciones', data => {
          // Notifica a cartera que hay despachos por autorizar
          if (data.mensaje.modulo_notifica === self.modulo && data.mensaje.accion === 'cerrar_despacho' && self.ver_table === 'despachos' && (self.rol === 'JEFE_CARTERA' || self.rol === 'ADMINISTRADOR')) {
            self.notificacionToast('info', data.mensaje.mensaje, 'top-right', 7000)
            // Se actualiza el listado
            self.listadoDespachos()
          } else if (data.mensaje.modulo_notifica === self.modulo && (data.mensaje.accion === 'autorizar' || data.mensaje.accion === 'terminar_cargue') && self.ver_table === 'despachos' && (self.rol === 'AUXILIAR_VENTAS' || self.rol === 'ADMINISTRADOR' || self.rol === 'RECEPCION')) {
            // Notifica al aux de ventas y recepción que el despacho ha sido autorizado
            self.notificacionToast('info', data.mensaje.mensaje, 'top-right', 10000)
            // Se actualiza el listado
            self.listadoDespachos()
          } else if (data.mensaje.modulo_notifica === self.modulo && (data.mensaje.accion === 'desautorizar') && self.ver_table === 'despachos' && (self.rol === 'AUXILIAR_VENTAS' || self.rol === 'ADMINISTRADOR' || self.rol === 'RECEPCION')) {
            // Notifica cuando un despacho se ha desautorizado
            self.notificacionToast('warning', data.mensaje.mensaje, 'top-right', 10000)
            // Se actualiza el listado
            self.listadoDespachos()
          } else if (data.mensaje.modulo_notifica === self.modulo && (data.mensaje.accion === 'mod_full') && (self.rol === 'AUXILIAR_VENTAS' || self.rol === 'ADMINISTRADOR' || self.rol === 'RECEPCION')) {
            // Notifica cuando un despacho se ha cambiado de placa
            self.notificacionToast('info', data.mensaje.mensaje, 'top-right', 10000)
            // Se actualiza el listado
            self.listadoDespachos()
            self.listadoReportados('')
          }
          // Notifica desde la gestión de turnos a (recepción)
          if (data.mensaje.accion === 'actualiza_estado_turno' && (self.rol === 'RECEPCION')) {
            self.notificacionToast('info', 'Actualizando información desde la zona de cargue ...', 'top-right', 10000)
            self.listadoReportados('')
          }
          // Notifica a recepción cuando bodega autoriza el ingreso al vehículo
          if (data.mensaje.accion === 'autorizar_ingreso' && (self.rol === 'RECEPCION' || self.rol === 'ADMINISTRADOR')) {
            self.notificacionToast('info', data.mensaje.mensaje, 'top-right', 10000)
            self.listadoReportados('')
            self.reproducirSonido('../../statics/Ingresar_vehiculo.mp3')
          }
          if (data.mensaje.modulo_notifica === self.modulo && data.mensaje.accion === 'terminar_cargue' && self.rol === 'RECEPCION') {
            self.notificacionToast('info', 'Actualizando información desde la zona de cargue ...', 'top-right', 10000)
            self.listadoReportados('')
          }
        })
    },
    actualizaListadoAuto () {
      var self = this
      setInterval(function () {
        self.listadoDespachos()
      }, 60000)
    },
    obtenerInfoDespachoConsolidado (idDespacho) {
      var self = this
      self.despacho_consolidado.length = 0
      self.showLoading('Obteniendo información, por favor espere ...')
      axios.get(this.api_url + '/api/despachos/consulta-por-placa', {
        params: {
          token: localStorage.getItem('token'),
          vista: 'agrupada',
          placa: idDespacho,
          tipo_consulta: 'despacho',
          solo_autorizado: 'no'
        }
      }).then((response) => {
        self.despacho_consolidado = response.data
      }).finally(function () {
        self.hideLoading()
      })
    },
    listadoPedidos () {
      var self = this
      self.loading_pedidos = true
      // self.loading = true
      axios.get(this.api_url + '/api/pedido/listado/', {
        params: {
          token: localStorage.getItem('token'),
          fecha_inicial: this.fecha_inicial,
          fecha_final: this.fecha_final
        }
      }).then((response) => {
        self.lista_pedidos = response.data
      }).finally(function () {
        self.loading_pedidos = false
      })
    },
    cargarSonido (fuente) {
      const sonido = document.createElement('audio')
      sonido.src = fuente
      sonido.setAttribute('preload', 'auto')
      sonido.setAttribute('controls', 'none')
      sonido.style.display = 'none' // <-- oculto
      document.body.appendChild(sonido)
      return sonido
    },
    reproducirSonido (sourceAlerta) {
      const sonido = this.cargarSonido(sourceAlerta)
      sonido.play()
    },
    actualizaInfoAuto () {
      var self = this
      // Definir la duración del intervalo en minutos
      var minutos = 30
      // Convertir minutos a milisegundos
      var milisegundos = minutos * 60 * 1000
      this.id_interval = setInterval(function () {
        // console.log('Ejecutado desde informes .................................................................')
        self.listadoReportados('')
      }, milisegundos)
    }
  },
  destroyed () {
    window.Echo.leave('notificacion-netico')
  },
  mounted () {
    this.escuchaNotificacion()
    this.cargarZonas()
    this.obtenerDiaInicioFinMes()
  },
  watch: {
    blueModel () {
      this.listadoDespachos()
    },
    fecha_final () {
      // this.listadoDespachos()
    },
    fecha_inicial () {
      // this.listadoDespachos()
    }
  }
}
</script>
<style lang="sass">
.my-sticky-header-table-despachos
  /* max height is important */
  .q-table__middle
    max-height: 200px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #225A40

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
