<template>
<q-page class="q-pt-none bg-white">
  <div class="q-pa-sm q-py-lg" v-if="respuesta == 2">
    <q-card flat>
      <q-skeleton height="200px" square><br><br><br><br>
        <div class="row text-center q-pa-md text-light-green-10 text-bold">Entrando al módulo, por favor espere un momento ...</div>
      </q-skeleton>
      <q-card-section>
        <q-item v-for="n in 5" :key="n">
          <q-item-section>
            <q-item-label>
              <q-skeleton type="text" />
            </q-item-label>
            <q-item-label caption>
              <q-skeleton type="text" width="100%" />
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-card-section>
    </q-card>
  </div>
  <div class="row" v-if="respuesta == 0">
    <usuarios-no-autorizado/>
  </div>
  <div class="q-pa-sm q-gutter-sm" v-else-if="respuesta == 1">
    <div class="row justify-center" v-if="comentario.mensaje">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-caption text-primary">
        <q-chip color="red" text-color="white" dense label="Tener en cuenta!!" /><br>
        "{{comentario.mensaje}}"
      </div>
    </div>
    <div class="text-bold absolute text-white bg-primary" style="font-size:17px;top: 0px; left: 15px; transform: translateX(-12%);border-radius: 8px;">&nbsp;&nbsp;&nbsp;&nbsp;Perfil&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="row q-pa-md  shadow-2" style="border-radius: 20px;">
      <q-list dense style="max-width: 360px" class="q-pa-none">
        <q-item>
          <q-item-section class="q-ml-none q-px-xs"  avatar v-if="usuario.foto != 'no'">
            <q-avatar size="80px" >
              <q-img :src="'../../statics/fotos_vendedores/' + usuario.foto" />
            </q-avatar>
          </q-item-section>
          <q-item-section class="q-ml-none q-px-xs"  avatar v-else>
            <q-avatar size="60px" color="primary" class="text-white">
              {{nom_usu[0]}}
            </q-avatar>
          </q-item-section>
          <q-item-section >
            <q-item-label class="text-h6 text-primary text-bold">Hola,</q-item-label>
            <q-item-label  class="text-primary">{{nom_usu}}</q-item-label>
            <q-item-label  class="text-grey-5" v-show="rol == 'VENDEDOR' || rol == 'JEFE_VENDEDORES'">{{rol}}</q-item-label>
            <q-item-label  class="text-grey-5" v-show="rol == 'VENDEDOR' || rol == 'JEFE_VENDEDORES'" >
              <q-chip square size="12px" v-show="visitas_pendietes>0" @click="$router.push({ name: '/ventas/registro-visita-cliente', params: { estado: 'pendiente' } })" clickable>
                <q-avatar color="orange-7" class="text-bold" text-color="white">{{visitas_pendietes}}</q-avatar>
                Visitas pendientes
              </q-chip>
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
      <q-separator spaced />
    </div>
      <div v-show="progress2" class="bg-white">
        <div class="row" >
          <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11" >
            <div class="text-primary text-center text-bold">Cumplimiento de ventas
                <q-chip square class="text-caption text-bold"  size="12px" :color="obtenerColorCumplimiento(estado_cumplimiento)" :text-color="estado_cumplimiento === 'medio_bajo' || estado_cumplimiento === 'medio_alto' ? 'black' : 'white'" :label="estado_cumplimiento"  >
                  <q-tooltip>{{estado_cumplimiento}}</q-tooltip>
                </q-chip>
            </div>
          </div>
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" >
            <q-btn color="grey-7" flat size="12px" round icon="more_vert">
              <q-menu cover auto-close>
                <q-list style="width:200px">
                  <q-item clickable @click="tipo_visualizacion = 'bultos';obtenerUsuario()">
                    <q-item-section>Ver en bultos</q-item-section>
                  </q-item>
                  <q-item clickable>
                    <q-item-section @click="tipo_visualizacion = 'kilos';obtenerUsuario()">Ver en kilos</q-item-section>
                  </q-item>
                  <q-item clickable>
                    <q-item-section @click="opcion = true;obtenerUsuario()">Presupuesto Hoy</q-item-section>
                  </q-item>
                  <q-item clickable>
                    <q-item-section @click="opcion = false;obtenerUsuario()">Presupuesto General</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </div>
        </div>
        <div class="row q-pa-none">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <q-linear-progress track-color="yellow-12 " :buffer="buffer"  stripe rounded size="27px" :value="progress2" color="green-6" class="q-mt-sm bg-grey-5" >
              <div class="text-left text-caption text-white absolute-full q-pa-xs">V : {{formatPrice(total_bultos_aux)}} Bultos</div>
              <div class="absolute-full flex flex-center">
                <q-badge color="white" text-color="primary" class="text-bold" :label="progressLabel2 + '%'" />
              </div>
              <div class="text-right text-caption text-white absolute-full q-pa-xs">P : {{formatPrice(total_bultos_presup)}} Bultos</div>
            </q-linear-progress>
          </div>
        </div>
      </div>
    <div >
      <q-tabs
        v-model="tab"
        align="justify"
        class="q-mb-lg bg-primary"
      >
        <q-tab class="text-white" name="menu" no-caps label="Menú principal" />
        <q-tab class="text-white" name="ventas" no-caps label="Mis ventas" v-show="rol == 'VENDEDOR' || rol == 'JEFE_VENDEDORES'" />
      </q-tabs>

      <div class="q-gutter-y-md">
        <q-tab-panels
          v-model="tab"
          animated
          transition-prev="scale"
          transition-next="scale"
          class="bg-white text-white text-left"
        >
          <q-tab-panel name="menu" class="q-pa-xs">
            <div class="row q-pa-none">
              <div class="col-12">
                <div class="row  q-col-gutter-x-xs q-col-gutter-y-sm">
                  <div class="col-md-12 col-sm-12 col-xs-12" v-for="(menu, index) in menu_vendedores" :key="index">
                    <q-list  class="rounded-borders bg-grey-1 shadow-1" style="border-radius: 10px 28px;">
                      <q-item bordered  class="q-pa-md "  @click="irRuta(menu.url)" clickable >
                        <q-item-section  side class=" q-pa-none q-mr-md ">
                          <q-icon :name="menu.icono" color="primary" :size="menu.iconSize"></q-icon>
                        </q-item-section>
                        <q-item-section class=" q-pa-sm q-ml-none">
                          <q-item-label class="text-primary text-bold" style="font-size:20px">{{ menu.label }}</q-item-label>
                        </q-item-section>
                        <q-item-section side top v-if="menu.sideTop === true">
                          <q-item-label caption v-show="num_desp > 0">
                            <span  class="text-orange-8 text-bold q-mr-xs" style="font-size:12px">({{num_desp}})</span>
                            <q-icon size="16px" name="fas fa-lock-open" color="primary"/></q-item-label>
                          <q-item-label caption v-show="num_desp_compartido > 0">
                            <span  class="text-blue-8 text-bold q-mr-xs" style="font-size:12px">({{num_desp_compartido}})</span>
                            <q-icon size="16px" name="fas fa-share-alt" color="blue-8"/>
                          </q-item-label>
                        </q-item-section>
                      </q-item>
                    </q-list>
                  </div>
                </div>
              </div>
            </div>
          </q-tab-panel>

          <q-tab-panel class="q-pa-none" name="ventas">
            <ventas-vendedor :origen="'menu'"/>
          </q-tab-panel>

        </q-tab-panels>
      </div>
    </div>
    <q-page-sticky position="bottom-right" :offset="[18, 18]" >
      <q-btn rounded  icon="add" size="17px" color="primary" text-color="white" no-caps label="Nuevo despacho" @click="irRuta('/despachos/registro')" v-show="false"/>
      <q-fab
        v-model="fab2"
        vertical-actions-align="right"
        color="primary"
        icon="add"
        direction="left"
      >
        <q-fab-action class="text-bold" style="font-size:16px"  color="primary"  icon="add" label="Despacho"  @click="irRuta('/despachos/registro')"/>
        <q-fab-action class="text-bold" style="font-size:16px"  color="blue-6"  icon="edit" label="Visita" @click="irRuta('/ventas/registro-visita-cliente')" />
      </q-fab>
    </q-page-sticky>
  </div>
  </q-page>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      visitas_pendietes: 0,
      menu_vendedores: [
        { label: 'Despachos', icono: 'fas fa-shipping-fast', iconSize: '22px', url: '/despachos/historico', sideTop: true },
        { label: 'Pedidos', icono: 'fas fa-dolly', iconSize: '22px', url: '/pedidos/historico', sideTop: false },
        { label: 'Cartera', icono: 'fas fa-dollar-sign', iconSize: '22px', url: '/cartera/historico', sideTop: false },
        { label: 'Mis ventas', icono: 'fas fa-chart-line', iconSize: '22px', url: '/informes/ventas-vendedor', sideTop: false },
        { label: 'Clientes', icono: 'fas fa-address-book', iconSize: '22px', url: '/clientes/listado', sideTop: false }
      ],
      fab2: false,
      respuesta: 2,
      tab: 'menu',
      opcion: false,
      estado_cumplimiento: '',
      tipo_visualizacion: 'bultos',
      comentario: [],
      dias_trans: 30,
      buffer: 0,
      progress2: 0,
      total_bultos_aux: 0,
      total_bultos_presup: 0,
      usuario: [],
      nom_usu: '',
      num_desp: '',
      num_desp_compartido: '',
      rol: ''
    }
  },
  computed: {
    url_api () {
      return this.$store.state.store.url_api
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    progressLabel2 () {
      if (this.progress2) {
        return (this.progress2 * 100).toFixed(0)
      } else {
        return 0
      }
    }
  },
  methods: {
    reemplazaImagen (imagen) {
      imagen.onerror = ''
      imagen.src = '../../statics/fotos_vendedores/no_disponible.png'
      return true
    },
    obtenerColorCumplimiento (estado) {
      if (estado === 'muy_bajo') {
        return 'red'
      } else if (estado === 'bajo') {
        return 'orange-5'
      } else if (estado === 'medio_bajo') {
        return 'yellow'
      } else if (estado === 'medio_alto') {
        return 'light-green-4'
      } else {
        return 'light-green-10'
      }
    },
    obtenerTotalesLineaProgreso () {
      this.progress2 = this.total_bultos_aux / this.total_bultos_presup
    },
    obtenerTotalVentasPresupuestadas () {
      this.buffer = ((this.total_bultos_presup / 30) * this.dias_trans) / this.total_bultos_presup
    },
    formatPrice (value, decimales = 0) {
      let val = (value / 1).toFixed(decimales).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    obtenerPresupuestosVentasVendedor () {
      var self = this
      axios.get(this.url_api + '/api/presupuestos/presupuesto-ventas-consilidaddo-mes-vendedor-bultos/', {
        params: {
          tipo_consulta: 'vendedor',
          opcion: this.opcion,
          unidad_medida: this.tipo_visualizacion,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.total_bultos_aux = response.data[0].ventas_bultos
        self.total_bultos_presup = response.data[0].presupuesto_bultos
        self.estado_cumplimiento = response.data[0].estado_cumplimiento
        // console.log(response.data)
      }).finally(function () {
        self.obtenerTotalesLineaProgreso()
      })
    },
    obtenerComentario () {
      var self = this
      // self.loading = true
      axios.get(this.url_api + '/api/comentarios/obtener-comentario/', {
        params: {
          fecha_inicial: '',
          tipo: 'Diario',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.comentario = response.data
      }).finally(function () {
      })
    },
    obtenerVisitarxEstado () {
      var self = this
      // self.loading = true
      axios.get(this.url_api + '/api/visita/obtener-visitar-estado', {
        params: {
          estado: 'pendiente',
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.visitas_pendietes = response.data
      }).finally(function () {
        console.log(self.visitas_pendietes)
      })
    },
    obtenerUsuario () {
      var self = this
      this.showLoading('Obteniendo información ...')
      if (localStorage.getItem('token')) {
        axios.post(this.url_api + '/api/usuarios/obtener-usuario', {
          token: localStorage.getItem('token')
        }).then(response => {
          if (response.data.user) {
            this.verificaPermiso(5)
            // this.menu_habilitado = true
            // console.log(response.data.user)
            self.usuario = response.data.user
            self.nom_usu = response.data.user.name
            self.rol = response.data.user.roles[0].name
            self.obtenerNumeroDespachosxEstado()
            if (self.rol === 'VENDEDOR' || self.rol === 'JEFE_VENDEDORES') {
              self.obtenerPresupuestosVentasVendedor()
            }
            // self.obtenerComentario()
            self.hideLoading()
            // se obtiene los permisos asignados al usuario
            // this.accessos = response.data.permisos
          } else {
            // this.menu_habilitado = false
            // this.leftDrawerOpen = false
          }
          // console.log(response.data.user.id)
          // console.log(response)
        }).catch(error => {
          console.log(error)
          self.hideLoading()
          // this.menu_habilitado = false
          // this.cerrarSesion()
        })
      }
    },
    obtenerNumeroDespachosxEstado () {
      var self = this
      axios.get(this.url_api + '/api/despachos/obtener-numero/', {
        params: {
          token: localStorage.getItem('token'),
          estado: 'abierto'
        }
      }).then((response) => {
        self.num_desp = response.data.por_cerrar
        self.num_desp_compartido = response.data.por_cerrar_compartido
      }).finally(function () {
      })
    },
    sleep (ms) {
      return new Promise((resolve) => setTimeout(resolve, ms))
    },
    async verificaPermiso (permiso) {
      await this.sleep(1500)
      var obj = this.accesos.find(a => a.id === permiso)
      if (obj) {
        this.respuesta = 1
      } else {
        this.respuesta = 0
      }
    },
    irRuta (ruta) {
      this.$router.push({ name: ruta })
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    }
  },
  mounted () {
    // if (this.verificaPermiso(5) === true) {
    this.obtenerUsuario()
    this.obtenerVisitarxEstado()
    // }
  },
  watch: {
  }
}
</script>
