<template>

<div class="row" v-if="!verificaPermiso(28)">
  <usuarios-no-autorizado/>
</div>

  <div class="q-pa-xs" v-else>
    <div class="q-pa-none">
      <div class="row bg-white q-pa-md">
          <q-input style="width:118px;font-size:13px"  v-model="fecha_inicial" readonly  label="Fecha desde" stack-label class="q-mr-xl">
            <template v-slot:append>
              <q-icon color="primary" name="event" class="cursor-pointer">
                <q-popup-proxy ref="qDateProxy2" transition-show="scale" transition-hide="scale" >
                  <q-date :locale="myLocale" v-model="fecha_inicial" mask="YYYY-MM-DD" @input="$refs.qDateProxy2.hide();obtenerInfGraficar()" />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
          <q-input style="width:118px;font-size:13px"   v-model="fecha_final" readonly  label="Fecha hasta" stack-label class="q-mr-lg" >
            <template v-slot:append>
              <q-icon color="primary" name="event" class="cursor-pointer">
                <q-popup-proxy ref="qDateProxy3" transition-show="scale" transition-hide="scale" >
                  <q-date :locale="myLocale" v-model="fecha_final" mask="YYYY-MM-DD" @input="$refs.qDateProxy3.hide();obtenerInfGraficar()" />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
      </div>
      <div class="row bg-white q-pa-md">
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12  q-mr-md">
          <q-select style="font-size:12px" v-model="producto" @filter="filterFn" use-input  label="Seleccione el producto" stack-label :options="productos_aux" @input="obtenerInfGraficar()"  map-options option-value="nombre_select" option-label="nombre_select"/>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12  q-mr-md">
          <q-select style="font-size:12px" v-model="competencia"  label="Empresa o grande superficie" stack-label :options="competencias" option-value="nit" option-label="nombre" @input="obtenerInfGraficar()"/>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12  q-mr-md">
          <q-select style="font-size:12px" v-model="zona" :options="zonas" label="Seleccione una zona" stack-label map-options option-value="codigo" option-label="nombre" @input="obtenerInfGraficar()"/>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12  q-mr-md">
          <q-select style="font-size:12px" v-model="marca" :options="marcas" label="Seleccione una marca" stack-label map-options option-value="codigo" option-label="nombre" @input="obtenerInfGraficar()"/>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 ">
          <q-select style="font-size:12px" v-model="fabricante" :options="fabricantes" label="Seleccione el fabricante" stack-label map-options option-value="codigo" option-label="nombre" @input="obtenerInfGraficar()"/>
        </div>
      </div><br>
      <div class="row q-col-gutter-x-md" >
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <q-card class="no-shadow q-pa-md bg-white" >
              <div id="rango_fechas" style="width:100%; height:600px; "></div>
            </q-card>
            <q-card class="no-shadow q-pa-md bg-white" v-show="false">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center text-primary text-h6">
                  No se encontró información para mostrar.
                </div>
              </div>
              <div class="row q-pa-lg" style="font-size:16px">
                Debe elegir entre los filtros de (empresa, zona y producto) para que el sistema consulte la información y pueda graficarla.
              </div>
            </q-card>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import * as echarts from 'echarts'
import { QSpinnerFacebook } from 'quasar'
export default {
  data () {
    return {
      producto: '',
      productos: [],
      productos_aux: [],
      zona: '',
      zonas: [],
      marca: '',
      marcas: [],
      fabricante: '',
      fabricantes: [],
      competencia: '',
      competencias: [],
      datos: [],
      utilidad_anual: 0,
      info_periodos: [],
      select_tri: '',
      trimestres: ['Primer semestre', 'Segundo semestre', 'Primer trimestre', 'Segundo trimestre', 'Tercer trimestre', 'Cuarto trimestre'],
      anios: [],
      select_anios: '',
      anios_options: [],
      meses: [],
      select_mes: '',
      meses_options: [],
      ingresos: [],
      total_ingresos_harinas: 0,
      total_costos_harinas: 0,
      total_ingresos_pastas: 0,
      total_costos_pastas: 0,
      total_ingresos_subpro: 0,
      total_costos_subpro: 0,
      total_ingresos_agrop: 0,
      total_costos_agrop: 0,
      total_ingresos_no_fab: 0,
      total_costos_no_fab: 0,
      total_ingresos_mezclas: 0,
      total_costos_mezclas: 0,
      comentario: [],
      dialog_comentarios: false,
      position: 'top',
      dialog: false,
      buffer: 0,
      dias_trans: 0,
      progress2: 0,
      data_torta: [],
      total_bultos: 0,
      total_bultos_aux: 0,
      total_bultos_presup: 0,
      fecha_inicial: '',
      fecha_final: '',
      informes: [],
      informes_vendedores: [],
      informes_especial: [],
      informes_especial_otros: [],
      loading: false,
      total_bultos_proyeccion: 0,
      loading_vendedores: false,
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      },
      pagination: {
        rowsPerPage: 20
      }
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    anioActual () {
      var today = new Date()
      var year = today.getFullYear()
      return year
    },
    obtenerSubtitulo () {
      if (this.producto.nombre !== undefined && this.zona.nombre !== undefined) {
        return this.zona.nombre + ' - ' + this.producto.nombre
      } else if (this.producto.nombre === undefined && this.zona.nombre !== undefined) {
        return this.this.zona.nombre
      } else {
        return this.producto.nombre
      }
    },
    mesActual () {
      const fecha = new Date()
      var mesActual = fecha.getMonth() + 1
      if (mesActual <= 9) {
        mesActual = '0' + mesActual
      }
      return mesActual
    },
    optionGraficaRangoFechas () {
      // var self = this
      return {
        title: {
          text: this.competencia.nombre ? 'Icoharinas vs Mercado (' + this.competencia.nombre + ')' : 'Icoharinas vs Mercado',
          subtext: this.obtenerSubtitulo,
          left: 'left'
        },
        tooltip: {
          trigger: 'axis'
        },
        legend: {
          data: ['ICO', 'MERCADO']
        },
        toolbox: {
          show: true,
          feature: {
            dataZoom: {
              yAxisIndex: 'none'
            },
            dataView: { readOnly: false },
            magicType: { type: ['line', 'bar'] },
            restore: {},
            saveAsImage: {}
          }
        },
        xAxis: {
          type: 'category',
          data: this.datos.label_dias
        },
        yAxis: {
          type: 'value',
          min: this.verificarArrayElementos(this.datos.valores_mercado) > 0 ? this.datos.valor_min * 0.9 : this.datos.valor_min,
          max: this.verificarArrayElementos(this.datos.valores_mercado) > 0 ? this.datos.valor_max * 1.1 : this.datos.valor_max
        },
        series: [
          {
            data: this.datos.valores_ico,
            type: 'line',
            name: 'ICO',
            color: '#255D44',
            markPoint: {
              data: [
                { type: 'max', name: 'Max' },
                { type: 'min', name: 'Min' }
              ]
            },
            markLine: {
              data: [{ type: 'average', name: 'Avg' }]
            }
          },
          {
            data: this.datos.valores_mercado,
            color: '#cc0000',
            type: 'line',
            name: 'MERCADO',
            markPoint: {
              data: [
                { type: 'max', name: 'Max' },
                { type: 'min', name: 'Min' }
              ]
            },
            markLine: {
              data: [{ type: 'average', name: 'Avg' }]
            }
          }
        ]
      }
    }
  },
  methods: {
    listadoZonas () {
      var self = this
      axios.get(this.api_url + '/api/mercado/obtener-zonas/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.zonas = response.data
      }).finally(function () {
        self.zonas.push({ codigo: '', nombre: 'Mostrar todo' })
      })
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    verificarArrayElementos (array) {
      var cont = 0
      array.forEach(function (valor, index) {
        if (valor > 0) {
          cont++
        }
      })
      return cont
    },
    listadoProductos () {
      var self = this
      axios.get(this.api_url + '/api/mercado/obtener-productos-ofima/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.productos = response.data
      }).finally(function () {
      })
    },
    filterFn (val, update) {
      if (val === '') {
        update(() => {
          this.productos_aux = this.productos
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.productos_aux = this.productos.filter(v => v.nombre_select.toLowerCase().indexOf(needle) > -1)
      })
    },
    listadoCompetencia (tipoLista) {
      var self = this
      axios.get(this.api_url + '/api/mercado/obtener-datos-global/', {
        params: {
          token: localStorage.getItem('token'),
          tipo_lista: tipoLista
        }
      }).then((response) => {
        if (tipoLista === 'competencia') {
          self.competencias = response.data
          self.competencias.sort(function (a, b) {
            if (a.nombre > b.nombre) {
              return 1
            }
            if (a.nombre < b.nombre) {
              return -1
            }
            return 0
          })
        } else if (tipoLista === 'marcas') {
          self.marcas = response.data
          self.marcas.sort(function (a, b) {
            if (a.nombre > b.nombre) {
              return 1
            }
            if (a.nombre < b.nombre) {
              return -1
            }
            return 0
          })
        } else {
          self.fabricantes = response.data
          self.fabricantes.sort(function (a, b) {
            if (a.nombre > b.nombre) {
              return 1
            }
            if (a.nombre < b.nombre) {
              return -1
            }
            return 0
          })
        }
      }).finally(function () {
        self.competencias.push({ codigo: '', nombre: 'Vs todo el mercado' })
      })
    },
    obtenerFechas () {
      var self = this
      axios.get(this.api_url + '/api/mercado/ini-fin-mes/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.fecha_inicial = response.data.fecha_inicio
        self.fecha_final = response.data.fecha_final
      }).finally(function () {
        // self.obtenerInfGraficar()
      })
    },
    obtenerInfGraficar () {
      var self = this
      axios.get(this.api_url + '/api/mercado/graficas/', {
        params: {
          token: localStorage.getItem('token'),
          fec_ini: this.fecha_inicial,
          fec_fin: this.fecha_final,
          nit: this.competencia.nit,
          producto: this.producto.codigo,
          zona: this.zona.codigo,
          marca: this.marca,
          fabricante: this.fabricante.nit
        }
      }).then((response) => {
        self.datos = response.data
      }).finally(function () {
        self.ejecutarGraficaRangoFechas()
      })
    },
    ejecutarGraficaRangoFechas () {
      var myChart = echarts.init(document.getElementById('rango_fechas'))
      myChart.setOption(this.optionGraficaRangoFechas)
      window.addEventListener('resize', function () {
        myChart.resize()
      })
    },
    showLoading (msj) {
      this.$q.loading.show({
        spinner: QSpinnerFacebook,
        spinnerColor: 'primary',
        spinnerSize: 140,
        backgroundColor: 'white',
        message: msj,
        messageColor: 'black'
      })
    },
    formatearValor (val) {
      if (val === 0 || val === undefined) {
        return 0
      }
      let valor = val.split(' ')
      // var arrayLastExec = val == null ? null : val.split(' ')
      return this.formatPrice(valor[0]) + ' ' + valor[1]
    },
    formatPrice (value, decimales = 0) {
      let val = (value / 1).toFixed(decimales).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    }
  },
  created () {
  },
  mounted () {
    this.listadoProductos()
    this.listadoZonas()
    this.listadoCompetencia('competencia')
    this.listadoCompetencia('marcas')
    this.listadoCompetencia('fabricantes')
    this.obtenerFechas()
  },
  watch: {
  }
}
</script>
<style scoped>
  .box_2{
    color: #0dceec;
  }
  .progress-base {
    height: 8px;
    border-radius: 3px;
    background-color: #e9ecef;
  }
</style>
