<template>

  <div class="row" v-if="!verificaPermiso(23)">
    <usuarios-no-autorizado/>
  </div>

  <div class="q-pa-none" v-else>
    <div class="row bg-white q-pa-md  shadow-1">
      <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1 q-mr-lg">
        <q-select  v-model="select_ano" :options="options"  label="Año" />
      </div>
      <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 ">
        <q-input   v-model="fecha_inicial" readonly  label="Fecha desde" stack-label class="q-mr-xl">
          <template v-slot:append>
            <q-icon color="primary" name="event" class="cursor-pointer">
              <q-popup-proxy ref="qDateProxy2" transition-show="scale" transition-hide="scale">
                <q-date :locale="myLocale" v-model="fecha_inicial" mask="YYYY-MM-DD" @input="() => $refs.qDateProxy2.hide()" />
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
        <q-input   v-model="fecha_final" readonly  label="Fecha hasta" stack-label class="q-mr-xl">
          <template v-slot:append>
            <q-icon color="primary" name="event" class="cursor-pointer">
              <q-popup-proxy ref="qDateProxy3" transition-show="scale" transition-hide="scale">
                <q-date :locale="myLocale" v-model="fecha_final" mask="YYYY-MM-DD" @input="() => $refs.qDateProxy3.hide()" />
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 q-pa-md">
        <q-option-group
          v-model="tipo_visualizacion"
          :options="options_uni"
          color="primary"
          inline
        />
      </div>
      <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1" v-show="false">
        <q-input v-model="bultos_carta" label="carta" stack-label mask="######"  />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <q-select  v-model="vendedor"   label="Vendedor" stack-label :options="vendedores"  map-options option-value="codigo" option-label="nombre"/>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 q-pa-md">
        <q-btn-group spread >
          <q-btn  color="primary" label="Consultar información"  @click="datosInformes()"/>
        </q-btn-group>
      </div>
    </div>
    <br>
    <div class="row q-col-gutter-md q-pt-md">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <q-card flat bordered class="shadow">
              <q-table
                :table-class="$q.dark.isActive?'text-white':'text-grey-8'"
                :table-header-class="$q.dark.isActive?'text-white':'text-grey-9'"
                :data="data"
                :columns="columns"
                row-key="descripcion"
                :loading="loading"
                :grid="$q.screen.xs"
                table-style="max-height: 600px"
                :rows-per-page-options="[0]"
                color="white"
                hide-bottom
                dense
                :filter="filter"
              >
                <template v-slot:top-left>
                  <div :class="$q.dark.isActive?'text-white':'text-primary'" class="text-h7 text-bold" v-show="vendedor.nombre">Cumplimiento - {{vendedor.nombre}}</div>
                </template>

                <template v-slot:top-right>
                  <q-input  dense debounce="300" input-class="text-left text-white" v-model="filter" placeholder="Busqueda de presupuesto">
                    <template v-slot:append>
                      <q-icon name="search" color="white" />
                    </template>
                  </q-input>
                </template>

                <template v-slot:body="props" >
                  <q-tr :props="props" >

                    <q-td key="descripcion" :props="props" >
                      {{ props.row.descripcion }}
                    </q-td>

                    <q-td key="presupuesto_cantidad" :props="props">
                      {{ formatPrice(props.row.presupuesto_cantidad) }}
                    </q-td>
                    <q-td key="venta_cantidad" :props="props">
                      {{ formatPrice(props.row.venta_cantidad) }}
                    </q-td>
                    <q-td key="presupuesto_bultos" :props="props">
                      {{ formatPrice(props.row.presupuesto_bultos) }}
                    </q-td>
                    <q-td key="venta_bultos" :props="props">
                      {{ formatPrice(props.row.venta_bultos) }}
                    </q-td>
                    <q-td key="porcentaje" :props="props">
                      {{ props.row.porcentaje }}
                    </q-td>
                  </q-tr>
                </template>
                <template v-slot:bottom-row>
                  <q-tr class="bg-grey-2   text-black text-bold">
                    <q-td v-bind:key="column.name" v-for="column in bottomColumns2" class="text-right">
                      {{ column.text }}
                    </q-td>
                  </q-tr>
                </template>
              </q-table>
        </q-card>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div id="main" style="width:100%; height:600px;" ></div>
    </div>
  </div>
  </div>
</template>

<script>
import axios from 'axios'
import { QSpinnerFacebook } from 'quasar'
import * as echarts from 'echarts'
// import * as echarts from 'echarts'
export default {
  data () {
    return {
      tipo_visualizacion: 'kilos',
      options_uni: [
        {
          label: 'Ver en kilos',
          value: 'kilos'
        },
        {
          label: 'Ver en bultos',
          value: 'bultos'
        }
      ],
      bultos_carta: '',
      select_ano: this.obtenerAnioActual(),
      options: [
        '2021', '2022', '2023', '2024', '2025'
      ],
      vendedor: this.$route.params.vendedor ? { codigo: this.$route.params.vendedor, nombre: this.$route.params.nombre } : { codigo: '', nombre: '' },
      vendedores: [],
      filter: '',
      grupos: [],
      data_torta: [],
      total_presup_bultos: 0,
      total_venta_bultos: 0,
      fecha_inicial: '',
      fecha_final: '',
      data: [],
      loading: false,
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      },
      columns: [
        { name: 'descripcion', align: 'left', label: 'Categoria', field: 'descripcion', sortable: true, style: 'width: 30px', headerClasses: 'text-primary' },
        { name: 'presupuesto_cantidad', align: 'right', label: 'Presup. Unidades', field: 'presupuesto_cantidad', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'venta_cantidad', align: 'right', label: 'Ventas Unidades', field: 'venta_cantidad', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'presupuesto_bultos', align: 'right', label: 'Presupuesto', field: 'presupuesto_bultos', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'venta_bultos', align: 'right', label: 'Ventas', field: 'venta_bultos', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'porcentaje', align: 'right', label: '% Cumplimiento', field: 'porcentaje', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true }
      ],
      model_mes: null,
      options_mes: [
        {
          label: 'Enero',
          value: 'enero'
        },
        {
          label: 'Febrero',
          value: 'febrero'
        },
        {
          label: 'Marzo',
          value: 'marzo'
        },
        {
          label: 'Abril',
          value: 'abril'
        },
        {
          label: 'Mayo',
          value: 'mayo'
        },
        {
          label: 'Junio',
          value: 'junio'
        },
        {
          label: 'Julio',
          value: 'julio'
        },
        {
          label: 'Agosto',
          value: 'agosto'
        },
        {
          label: 'Septiembre',
          value: 'septiembre'
        },
        {
          label: 'Octubre',
          value: 'octubre'
        },
        {
          label: 'Noviembre',
          value: 'noviembre'
        },
        {
          label: 'Diciembre',
          value: 'diciembre'
        }
      ],
      pagination: {
        rowsPerPage: 20
      },
      preBultos: 0,
      ventaBultos: 0
    }
  },
  computed: {
    bottomColumns () {
      var retVal = []
      for (let i = 0; i < this.columns.length; i++) {
        var isVisible = true
        if (isVisible) {
          if (this.columns[i].sums) {
            // need to calculate sum, wonder how
            retVal.push({ name: this.columns[i].name, text: this.formatPrice(this.getFooterValue(this.columns[i].name)), align: 'right' })
          } else {
            retVal.push({ name: this.columns[i].name, text: 'TOTAL UNIDADES' })
          }
        }
      }
      return retVal
    },
    bottomColumns2 () {
      var retVal = []
      for (let i = 0; i < this.columns.length; i++) {
        var isVisible = true
        if (isVisible) {
          if (this.columns[i].sums) {
            // need to calculate sum, wonder how
            retVal.push({ name: this.columns[i].name, text: this.formatPrice(this.getFooterValue2(this.columns[i].name)), align: 'right' })
          } else {
            retVal.push({ name: this.columns[i].name, text: this.tipo_visualizacion === 'kilos' ? 'TOTAL KILOS' : 'TOTAL BULTOS' })
          }
        }
      }
      return retVal
    },
    optionsPieCumplimiento () {
      return {
        title: {
          text: 'CUMPLIMIENTO',
          left: 'center'
        },
        tooltip: {
          trigger: 'item'
        },
        legend: {
          top: '5%',
          left: 'center'
        },
        series: [
          {
            // name: '访问来源',
            color: ['#255D44', '#C1A475'],
            type: 'pie',
            radius: ['40%', '70%'],
            avoidLabelOverlap: false,
            itemStyle: {
              borderRadius: 10,
              borderColor: '#fff',
              borderWidth: 2
            },
            label: {
              normal: {
                show: true,
                position: 'inner',
                formatter: function (param, index) {
                  return param.percent + ' %'
                }
              },
              emphasis: {
                show: true,
                textStyle: {
                  fontSize: '25',
                  fontWeight: 'bold'
                }
              }
            },
            emphasis: {
              label: {
                show: true,
                fontSize: '25',
                fontWeight: 'bold'
              }
            },
            labelLine: {
              show: false
            },
            data: [
              { value: Math.round(this.preBultos) - Math.round(this.ventaBultos), name: 'PRESUPUESTO' },
              { value: Math.round(this.ventaBultos), name: 'VENTAS' }
              // { value: (this.preBultos - this.ventaBultos), name: 'POR VENDER' }
            ]
          }
        ]
      }
    },
    api_url () {
      return this.$store.getters['store/url_api']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    }
  },
  methods: {
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    obtenerAnioActual () {
      var today = new Date()
      var year = today.getFullYear()
      return year
    },
    getFooterValue2 (columna) {
      var sum = 0
      // var preBultos = 0
      var self = this
      if (columna === 'presupuesto_cantidad') {
        this.data.forEach(function (element) {
          sum += Number(element.presupuesto_cantidad)
        })
      } else if (columna === 'venta_cantidad') {
        this.data.forEach(function (element) {
          if (element.codigo !== 'G018') {
            sum += Number(element.venta_cantidad)
          }
        })
      } else if (columna === 'presupuesto_bultos') {
        this.data.forEach(function (element) {
          if (element.codigo !== 'G014' && element.codigo !== 'G015' && element.codigo !== 'G018') {
            sum += Number(element.presupuesto_bultos)
          }
        })
        self.preBultos = sum
      } else if (columna === 'venta_bultos') {
        this.data.forEach(function (element) {
          if (element.codigo !== 'G014' && element.codigo !== 'G015' && element.codigo !== 'G018') {
            sum += Number(element.venta_bultos)
          }
        })
        self.ventaBultos = sum
      } else if (columna === 'porcentaje') {
        this.data.forEach(function (element) {
          if (element.codigo !== 'G014' && element.codigo !== 'G015' && element.codigo !== 'G018') {
            console.log(self.ventaBultos)
            sum = (self.ventaBultos * 100) / self.preBultos
          }
        })
      }
      return sum
    },
    showLoading (msj) {
      this.$q.loading.show({
        spinner: QSpinnerFacebook,
        spinnerColor: 'primary',
        spinnerSize: 140,
        backgroundColor: 'white',
        message: msj,
        messageColor: 'black'
      })
    },
    datosInformes () {
      var self = this
      self.loading = true
      self.showLoading('Obteniendo información, por favor espere ...')
      axios.get(this.api_url + '/api/presupuestos/presupuesto-ventas-consolidado-mes-vendedor/', {
        params: {
          fecha_inicial: this.fecha_inicial,
          origen_modulo: 'presupuestos',
          fecha_final: this.fecha_final,
          // mes: this.model_mes,
          carta: this.bultos_carta,
          unidad_medida: this.tipo_visualizacion,
          anio: this.select_ano,
          vendedor: self.vendedor.codigo,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        if (response.data.estado === 'error') {
          self.notificacion('red-5', 'white', 'warning', response.data.mensaje, 'bottom')
          self.$q.loading.hide()
        }
        self.data = response.data
      }).finally(function () {
        self.loading = false
        self.data.sort((a, b) => (a.venta_bultos < b.venta_bultos) ? 1 : -1)
        self.ejecutarGrafica()
        self.$q.loading.hide()
      })
    },
    ejecutarGrafica () {
      var myChart = echarts.init(document.getElementById('main'))
      myChart.setOption(this.optionsPieCumplimiento)
    },
    obtenerVendedores () {
      var self = this
      axios.get(this.api_url + '/api/usuarios/obtener-vendedores/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.vendedores = response.data
      }).finally(function () {
      })
    },
    notificacion (color, colorTexto, icono, mensaje, posicion) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        position: posicion
      })
    },
    obtenerMesActualLetras () {
      let meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre']
      let date = new Date()
      var mesName = date.getMonth()
      this.model_mes = meses[mesName]
    },
    obtenerFechas () {
      var self = this
      self.loading = true
      axios.get(this.api_url + '/api/pedido/fecha-inicio-final/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.fecha_inicial = response.data.fecha_inicio
        self.fecha_final = response.data.fecha_final
      }).finally(function () {
        self.datosInformes()
        self.loading = false
      })
    },
    formatPrice (value) {
      let val = (value / 1).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    }
  },
  mounted () {
    if (this.verificaPermiso(23) === true) {
      this.obtenerVendedores()
      this.obtenerFechas()
      this.obtenerMesActualLetras()
      this.datosInformes()
    }
  },
  watch: {
    tipo_visualizacion () {
      this.datosInformes()
    }
  }
}
</script>
<style scoped>
  .shadow {
    -webkit-box-shadow: 0 0 10px #bfbfbf !important;
    box-shadow: 0 0 7px #bfbfbf !important;
  }
</style>
