<template>

  <div class="row" v-if="!verificaPermiso(20)">
    <usuarios-no-autorizado/>
  </div>

  <div class="q-pa-none" v-else>
    <div class="row bg-white q-pa-md  shadow-1">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <q-select @input="obtenerVentasMesMes()" style="width:180px"  v-model="select_ano" :options="options"  label="Año del presupuesto" />
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <q-option-group
          v-model="tipo_visualizacion"
          class="q-py-sm"
          :options="options_uni"
          color="primary"
          inline
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 text-right">
        <q-btn flat color="primary" label="Ver información detallada" icon="fas fa-list-ul" class="q-mr-md" @click="modal_tabla_presupuestos = true" />
      </div>
    </div><br>
    <div class="row  q-pa-md bg-white" v-show="ventas_bultos.length > 0">
      <div  class="col-md-3 col-sm-12 col-xs-12">
        <q-item  class="q-pa-none q-ml-xs">
          <q-item-section  side  class=" q-pa-lg q-mr-none text-white bg-primary">
            <q-icon name="fas fa-chart-bar"  color="white" size="24px"></q-icon>
          </q-item-section>
          <q-item-section class=" q-pa-md q-ml-none  text-primary">
            <q-item-label class="text-primary text-h6 text-weight-bolder">Presupuestado</q-item-label>
            <q-item-label>{{formatPrice(total_presupuestado)}}</q-item-label>
          </q-item-section>
          <q-item-section side class="q-mr-md text-white">
            <q-icon  color="white" size="44px"></q-icon>
          </q-item-section>
        </q-item>
      </div>
      <div  class="col-md-3 col-sm-12 col-xs-12">
        <q-item  class="q-pa-none q-ml-xs">
          <q-item-section  side  class=" q-pa-lg q-mr-none text-white bg-primary">
            <q-icon name="fas fa-hand-holding-usd"  color="white" size="24px"></q-icon>
          </q-item-section>
          <q-item-section class=" q-pa-md q-ml-none  text-primary">
            <q-item-label class="text-primary text-h6 text-weight-bolder">Ventas</q-item-label>
            <q-item-label>{{formatPrice(total_ventas)}}</q-item-label>
          </q-item-section>
          <q-item-section side class="q-mr-md text-white">
            <q-icon  color="white" size="44px"></q-icon>
          </q-item-section>
        </q-item>
      </div>
      <div  class="col-md-3 col-sm-12 col-xs-12">
        <q-item  class="q-pa-none q-ml-xs">
          <q-item-section  side  class=" q-pa-lg q-mr-none text-white bg-primary">
            <q-icon name="fas fa-dolly"  color="white" size="24px"></q-icon>
          </q-item-section>
          <q-item-section class=" q-pa-md q-ml-none  text-primary">
            <q-item-label class="text-primary text-h6 text-weight-bolder">Por Vender</q-item-label>
            <q-item-label v-if="total_presupuestado >= total_ventas">{{formatPrice(total_presupuestado - total_ventas)}}</q-item-label>
            <q-item-label v-if="total_presupuestado < total_ventas">{{formatPrice(total_ventas - total_presupuestado)}}</q-item-label>
          </q-item-section>
          <q-item-section side class="q-mr-md text-white">
            <q-icon  color="white" size="44px"></q-icon>
          </q-item-section>
        </q-item>
      </div>
      <div  class="col-md-3 col-sm-12 col-xs-12">
        <q-item  class="q-pa-none q-ml-xs">
          <q-item-section  side  class=" q-pa-lg q-mr-none text-white bg-primary">
            <q-icon name="fas fa-percent"  color="white" size="24px"></q-icon>
          </q-item-section>
          <q-item-section class=" q-pa-md q-ml-none  text-primary">
            <q-item-label class="text-primary text-h6 text-weight-bolder">Cumplimiento</q-item-label>
            <q-item-label >{{formatPrice((total_ventas / total_presupuestado) * 100, 2)}} %</q-item-label>
          </q-item-section>
          <q-item-section side class="q-mr-md text-white">
            <q-icon  color="white" size="44px"></q-icon>
          </q-item-section>
        </q-item>
      </div>
    </div>
    <div class="row q-pt-md">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="main" style="width:100%; height:500px;" ></div>
      </div>
    </div>
    <q-dialog
      v-model="modal_tabla_presupuestos"
      persistent
      :maximized="maximizedToggle"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card class="bg-primary text-white">
        <q-bar>
          <q-space />

          <q-btn dense flat icon="minimize" @click="maximizedToggle = false" :disable="!maximizedToggle">
            <q-tooltip v-if="maximizedToggle" content-class="bg-white text-primary">Minimize</q-tooltip>
          </q-btn>
          <q-btn dense flat icon="crop_square" @click="maximizedToggle = true" :disable="maximizedToggle">
            <q-tooltip v-if="!maximizedToggle" content-class="bg-white text-primary">Maximize</q-tooltip>
          </q-btn>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>
        <q-card-section class="q-pt-none">
          <div class="row q-col-gutter-md q-pt-xl">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <q-table
                      :table-class="$q.dark.isActive?'text-white':'text-grey-8'"
                      :table-header-class="$q.dark.isActive?'text-white':'text-grey-9'"
                      :data="grupos"
                      :columns="columns"
                      row-key="descripcion"
                      :loading="loading"
                      :grid="$q.screen.xs"
                      table-style="max-height: 600px"
                      :rows-per-page-options="[0]"
                      color="white"
                      dense
                      hide-bottom
                      :filter="filter"
                    >
                      <template v-slot:top-right>
                        <q-input outlined  dense debounce="300" input-class="text-left text-primary" v-model="filter" placeholder="Busqueda de presupuesto">
                          <template v-slot:append>
                            <q-icon name="search" color="white" />
                          </template>
                        </q-input>
                      </template>

                      <template v-slot:top-left>
                        <div :class="$q.dark.isActive?'text-white':'text-primary'" class="text-h6">Presupestos Anual</div>
                      </template>

                      <template v-slot:body="props" >
                        <q-tr :props="props" >

                          <q-td key="descripcion" :props="props" >
                            {{ props.row.descripcion }}
                          </q-td>

                          <q-td key="enero" :props="props">
                            {{ formatPrice(props.row.enero) }}
                            <q-popup-edit v-model="props.row.enero" label-set="Guardar" label-cancel="Cancelar" buttons v-if="verificaPermiso(19)">
                              <div class="text-bold text-primary">Enero {{select_ano}}</div>
                              <div class="text-caption">{{props.row.descripcion}}</div>
                              <q-input type="number" v-model="props.row.enero" dense autofocus @change="registrarPresupuesto(props.row.codigo, 'enero', props.row.enero)" />
                            </q-popup-edit>
                          </q-td>

                          <q-td key="febrero" :props="props">
                            {{ formatPrice(props.row.febrero) }}
                            <q-popup-edit v-model="props.row.febrero" buttons label-set="Guardar"  label-cancel="Cancelar" v-if="verificaPermiso(19)">
                              <div class="text-bold text-primary">Enero {{select_ano}}</div>
                              <div class="text-caption">{{props.row.descripcion}}</div>
                              <q-input type="number" v-model="props.row.febrero" dense autofocus @change="registrarPresupuesto(props.row.codigo, 'febrero', props.row.febrero)" />
                            </q-popup-edit>
                          </q-td>

                          <q-td key="marzo" :props="props">
                            {{ formatPrice(props.row.marzo) }}
                            <q-popup-edit v-model="props.row.marzo" buttons label-set="Guardar" label-cancel="Cancelar" v-if="verificaPermiso(19)">
                              <div class="text-bold text-primary">Marzo {{select_ano}}</div>
                              <div class="text-caption">{{props.row.descripcion}}</div>
                              <q-input type="number" v-model="props.row.marzo" dense autofocus @change="registrarPresupuesto(props.row.codigo, 'marzo', props.row.marzo)"/>
                            </q-popup-edit>
                          </q-td>

                          <q-td key="abril" :props="props">
                            {{ formatPrice(props.row.abril) }}
                            <q-popup-edit v-model="props.row.abril" buttons label-set="Guardar" label-cancel="Cancelar" v-if="verificaPermiso(19)">
                              <div class="text-bold text-primary">Abril {{select_ano}}</div>
                              <div class="text-caption">{{props.row.descripcion}}</div>
                              <q-input type="number" v-model="props.row.abril" dense autofocus @change="registrarPresupuesto(props.row.codigo, 'abril', props.row.abril)"/>
                            </q-popup-edit>
                          </q-td>

                          <q-td key="mayo" :props="props">
                            {{ formatPrice(props.row.mayo) }}
                            <q-popup-edit v-model="props.row.mayo" buttons label-set="Guardar" label-cancel="Cancelar" v-if="verificaPermiso(19)">
                              <div class="text-bold text-primary">Mayo {{select_ano}}</div>
                              <div class="text-caption">{{props.row.descripcion}}</div>
                              <q-input type="number" v-model="props.row.mayo" dense autofocus @change="registrarPresupuesto(props.row.codigo, 'mayo', props.row.mayo)"/>
                            </q-popup-edit>
                          </q-td>

                          <q-td key="junio" :props="props">
                            {{ formatPrice(props.row.junio) }}
                            <q-popup-edit v-model="props.row.junio" buttons label-set="Guardar" label-cancel="Cancelar" v-if="verificaPermiso(19)">
                              <div class="text-bold text-primary">Junio {{select_ano}}</div>
                              <div class="text-caption">{{props.row.descripcion}}</div>
                              <q-input type="number" v-model="props.row.junio" dense autofocus @change="registrarPresupuesto(props.row.codigo, 'junio', props.row.junio)"/>
                            </q-popup-edit>
                          </q-td>

                          <q-td key="julio" :props="props">
                            {{ formatPrice(props.row.julio) }}
                            <q-popup-edit v-model="props.row.julio" buttons label-set="Guardar" label-cancel="Cancelar" v-if="verificaPermiso(19)">
                              <div class="text-bold text-primary">Julio {{select_ano}}</div>
                              <div class="text-caption">{{props.row.descripcion}}</div>
                              <q-input type="number" v-model="props.row.julio" dense autofocus @change="registrarPresupuesto(props.row.codigo, 'julio', props.row.julio)"/>
                            </q-popup-edit>
                          </q-td>

                          <q-td key="agosto" :props="props">
                            {{ formatPrice(props.row.agosto) }}
                            <q-popup-edit v-model="props.row.agosto" buttons label-set="Guardar" label-cancel="Cancelar" v-if="verificaPermiso(19)">
                              <div class="text-bold text-primary">Agosto {{select_ano}}</div>
                              <div class="text-caption">{{props.row.descripcion}}</div>
                              <q-input type="number" v-model="props.row.agosto" dense autofocus @change="registrarPresupuesto(props.row.codigo, 'agosto', props.row.agosto)"/>
                            </q-popup-edit>
                          </q-td>

                          <q-td key="septiembre" :props="props">
                            {{ formatPrice(props.row.septiembre) }}
                            <q-popup-edit v-model="props.row.septiembre" buttons label-set="Guardar" label-cancel="Cancelar" v-if="verificaPermiso(19)">
                              <div class="text-bold text-primary">Septiembre {{select_ano}}</div>
                              <div class="text-caption">{{props.row.descripcion}}</div>
                              <q-input type="number" v-model="props.row.septiembre" dense autofocus @change="registrarPresupuesto(props.row.codigo, 'septiembre', props.row.septiembre)"/>
                            </q-popup-edit>
                          </q-td>

                          <q-td key="octubre" :props="props">
                            {{ formatPrice(props.row.octubre) }}
                            <q-popup-edit v-model="props.row.octubre" buttons label-set="Guardar" label-cancel="Cancelar" v-if="verificaPermiso(19)">
                              <div class="text-bold text-primary">Octubre {{select_ano}}</div>
                              <div class="text-caption">{{props.row.descripcion}}</div>
                              <q-input type="number" v-model="props.row.octubre" dense autofocus  @change="registrarPresupuesto(props.row.codigo, 'octubre', props.row.octubre)"/>
                            </q-popup-edit>
                          </q-td>

                          <q-td key="noviembre" :props="props">
                            {{ formatPrice(props.row.noviembre) }}
                            <q-popup-edit v-model="props.row.noviembre"  buttons label-set="Guardar" label-cancel="Cancelar" v-if="verificaPermiso(19)">
                              <div class="text-bold text-primary">Noviembre {{select_ano}}</div>
                              <div class="text-caption">{{props.row.descripcion}}</div>
                              <q-input type="number" v-model="props.row.noviembre" dense autofocus @change="registrarPresupuesto(props.row.codigo, 'noviembre', props.row.noviembre)"/>
                            </q-popup-edit>
                          </q-td>

                          <q-td key="diciembre" :props="props">
                            {{ formatPrice(props.row.diciembre) }}
                            <q-popup-edit v-model="props.row.diciembre" buttons label-set="Guardar" label-cancel="Cancelar" v-if="verificaPermiso(19)">
                              <div class="text-bold text-primary">Diciembre {{select_ano}}</div>
                              <div class="text-caption">{{props.row.descripcion}}</div>
                              <q-input type="number" v-model="props.row.diciembre" dense autofocus  @change="registrarPresupuesto(props.row.codigo, 'diciembre', props.row.diciembre)"/>
                            </q-popup-edit>
                          </q-td>

                        </q-tr>
                      </template>
                      <template v-slot:bottom-row>
                        <q-tr class="bg-primary text-white text-bold">
                          <q-td v-bind:key="column.name" v-for="column in bottomColumns" class="text-right">
                            {{ column.text }}
                          </q-td>
                        </q-tr>
                        <q-tr class="bg-grey-2   text-black text-bold">
                          <q-td v-bind:key="column.name" v-for="column in bottomColumns2" class="text-right">
                            {{ column.text }}
                          </q-td>
                        </q-tr>
                      </template>
                    </q-table>
          </div>
        </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="dialog_comentarios" :position="position">
      <comentarios :fecha="fecha_inicial" :mes="mes" :anio="select_ano" :formulario="'Presupuestos'"/>
    </q-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import * as echarts from 'echarts'
import { QSpinnerFacebook } from 'quasar'
export default {
  data () {
    return {
      tipo_visualizacion: 'kilos',
      options_uni: [
        {
          label: 'Ver en kilos',
          value: 'kilos'
        },
        {
          label: 'Ver en bultos',
          value: 'bultos'
        }
      ],
      mes: '',
      modal_tabla_presupuestos: false,
      maximizedToggle: true,
      fab2: true,
      select_ano: this.obtenerAnioActual(),
      options: [
        '2021', '2022', '2023', '2024', '2025'
      ],
      filter: '',
      grupos: [],
      data_torta: [],
      total_bultos: 0,
      fecha_inicial: '',
      fecha_final: '',
      informes: [],
      informes_especial: [],
      informes_especial_otros: [],
      loading: false,
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      },
      columns: [
        { name: 'descripcion', align: 'left', label: 'Producto', field: 'descripcion', sortable: true, style: 'width: 30px', headerClasses: 'text-primary' },
        { name: 'enero', align: 'right', label: 'Enero', field: 'enero', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'febrero', align: 'right', label: 'Febrero', field: 'febrero', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'marzo', align: 'right', label: 'Marzo', field: 'marzo', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'abril', align: 'right', label: 'Abril', field: 'abril', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'mayo', align: 'right', label: 'Mayo', field: 'mayo', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'junio', align: 'right', label: 'Junio', field: 'junio', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'julio', align: 'right', label: 'Julio', field: 'julio', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'agosto', align: 'right', label: 'Agosto', field: 'agosto', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'septiembre', align: 'right', label: 'Septiembre', field: 'septiembre', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'octubre', align: 'right', label: 'Octubre', field: 'octubre', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'noviembre', align: 'right', label: 'Noviembre', field: 'noviembre', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'diciembre', align: 'right', label: 'Diciembre', field: 'diciembre', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true }
      ],
      pagination: {
        rowsPerPage: 20
      },
      presup_bultos: [],
      total_presupuestado: 0,
      ventas_bultos: [],
      total_ventas: 0,
      suma: 0,
      dialog_comentarios: false,
      position: 'top'
    }
  },
  computed: {
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    bottomColumns () {
      var retVal = []
      for (let i = 0; i < this.columns.length; i++) {
        var isVisible = true
        if (isVisible) {
          if (this.columns[i].sums) {
            // need to calculate sum, wonder how
            retVal.push({ name: this.columns[i].name, text: this.formatPrice(this.getFooterValue(this.columns[i].name)), align: 'right' })
          } else {
            retVal.push({ name: this.columns[i].name, text: 'TOTAL UNIDADES' })
          }
        }
      }
      return retVal
    },
    bottomColumns2 () {
      var retVal = []
      for (let i = 0; i < this.columns.length; i++) {
        var isVisible = true
        if (isVisible) {
          if (this.columns[i].sums) {
            // need to calculate sum, wonder how
            retVal.push({ name: this.columns[i].name, text: this.formatPrice(this.getFooterValue2(this.columns[i].name)), align: 'right' })
          } else {
            retVal.push({ name: this.columns[i].name, text: this.tipo_visualizacion === 'bultos' ? 'TOTAL BULTOS' : 'TOTAL KILOS' })
          }
        }
      }
      return retVal
    },
    api_url () {
      return this.$store.getters['store/url_api']
    },
    optionsGraficaGeneral () {
      var self = this
      return {
        title: {
          text: 'PRESUPUESTOS',
          subtext: 'Muestra lo presupuestado vs ventas mes a mes'
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          }
        },
        legend: {
          data: ['PRESUPUESTO', 'VENTAS']
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        yAxis: {
          type: 'value',
          boundaryGap: [0, 0.01]
        },
        xAxis: {
          type: 'category',
          data: ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre']
        },
        series: [
          {
            name: 'PRESUPUESTO',
            type: 'bar',
            label: {
              show: true,
              position: 'inside',
              rotate: 90,
              formatter: function (param, index) {
                return param.value > 0 ? self.formatPrice(param.value) : ''
              }
            },
            color: '#255D44',
            data: this.presup_bultos
          },
          {
            name: 'VENTAS',
            color: '#C1A475',
            label: {
              show: true,
              position: 'inside',
              rotate: 90,
              formatter: function (param, index) {
                return param.value > 0 ? self.formatPrice(param.value) : ''
              }
            },
            type: 'bar',
            /* markLine: {
              lineStyle: {
                type: 'dashed'
              },
              data: [
                [{ type: 'min' }, { type: 'max' }]
              ]
            }, */
            data: this.ventas_bultos
          }
        ]
      }
    }
  },
  methods: {
    obtenerAnioActual () {
      var today = new Date()
      var year = today.getFullYear()
      return year
    },
    getFooterValue (columna) {
      var sum = 0
      if (columna === 'enero') {
        this.grupos.forEach(function (element) {
          if (element.enero !== 0) {
            sum += Number(element.enero)
          }
        })
      } else if (columna === 'febrero') {
        this.grupos.forEach(function (element) {
          sum += Number(element.febrero)
        })
      } else if (columna === 'marzo') {
        this.grupos.forEach(function (element) {
          sum += Number(element.marzo)
        })
      } else if (columna === 'abril') {
        this.grupos.forEach(function (element) {
          sum += Number(element.abril)
        })
      } else if (columna === 'mayo') {
        this.grupos.forEach(function (element) {
          sum += Number(element.mayo)
        })
      } else if (columna === 'junio') {
        this.grupos.forEach(function (element) {
          sum += Number(element.junio)
        })
      } else if (columna === 'julio') {
        this.grupos.forEach(function (element) {
          sum += Number(element.julio)
        })
      } else if (columna === 'agosto') {
        this.grupos.forEach(function (element) {
          sum += Number(element.agosto)
        })
      } else if (columna === 'septiembre') {
        this.grupos.forEach(function (element) {
          sum += Number(element.septiembre)
        })
      } else if (columna === 'octubre') {
        this.grupos.forEach(function (element) {
          sum += Number(element.octubre)
        })
      } else if (columna === 'noviembre') {
        this.grupos.forEach(function (element) {
          sum += Number(element.noviembre)
        })
      } else if (columna === 'diciembre') {
        this.grupos.forEach(function (element) {
          sum += Number(element.diciembre)
        })
      }
      return sum
    },
    showLoading (msj) {
      this.$q.loading.show({
        spinner: QSpinnerFacebook,
        spinnerColor: 'primary',
        spinnerSize: 140,
        backgroundColor: 'white',
        message: msj,
        messageColor: 'black'
      })
    },
    obtenerPresupuestoGrafica () {
      var self = this
      self.presup_bultos.length = 0
      // this.data_aux = this.data
      // this.data_aux = Object.assign(this.data)
      // self.ordenarDesc(this.data_aux, 'presupuesto_bultos')
      const result = this.grupos.filter(grupo => grupo.codigo !== 'G014')
      const meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre']
      meses.forEach(function (element) {
        self.suma = 0
        if (element === 'enero') {
          result.forEach(function (element) {
            self.suma += Number(element.enero_total)
          })
          self.presup_bultos.push(Math.round(self.suma))
        } else if (element === 'febrero') {
          result.forEach(function (element) {
            self.suma += Number(element.febrero_total)
          })
          self.presup_bultos.push(self.suma)
        } else if (element === 'marzo') {
          result.forEach(function (element) {
            self.suma += Number(element.marzo_total)
          })
          self.presup_bultos.push(self.suma)
        } else if (element === 'abril') {
          result.forEach(function (element) {
            self.suma += Number(element.abril_total)
          })
          self.presup_bultos.push(self.suma)
        } else if (element === 'mayo') {
          result.forEach(function (element) {
            self.suma += Number(element.mayo_total)
          })
          self.presup_bultos.push(self.suma)
        } else if (element === 'junio') {
          result.forEach(function (element) {
            self.suma += Number(element.junio_total)
          })
          self.presup_bultos.push(self.suma)
        } else if (element === 'julio') {
          result.forEach(function (element) {
            self.suma += Number(element.julio_total)
          })
          self.presup_bultos.push(self.suma)
        } else if (element === 'agosto') {
          result.forEach(function (element) {
            self.suma += Number(element.agosto_total)
          })
          self.presup_bultos.push(self.suma)
        } else if (element === 'septiembre') {
          result.forEach(function (element) {
            self.suma += Number(element.septiembre_total)
          })
          self.presup_bultos.push(self.suma)
        } else if (element === 'octubre') {
          result.forEach(function (element) {
            self.suma += Number(element.octubre_total)
          })
          self.presup_bultos.push(self.suma)
        } else if (element === 'noviembre') {
          result.forEach(function (element) {
            self.suma += Number(element.noviembre_total)
          })
          self.presup_bultos.push(self.suma)
        } else if (element === 'diciembre') {
          result.forEach(function (element) {
            self.suma += Number(element.diciembre_total)
          })
          self.presup_bultos.push(self.suma)
        }
      })
      let total = self.presup_bultos.reduce((a, b) => a + b, 0)
      this.total_presupuestado = total
    },
    getFooterValue2 (columna) {
      var sum = 0
      if (columna === 'enero') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.enero_total)
          }
        })
      } else if (columna === 'febrero') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.febrero_total)
          }
        })
      } else if (columna === 'marzo') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.marzo_total)
          }
        })
      } else if (columna === 'abril') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.abril_total)
          }
        })
      } else if (columna === 'mayo') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.mayo_total)
          }
        })
      } else if (columna === 'junio') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.junio_total)
          }
        })
      } else if (columna === 'julio') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.julio_total)
          }
        })
      } else if (columna === 'agosto') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.agosto_total)
          }
        })
      } else if (columna === 'septiembre') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.septiembre_total)
          }
        })
      } else if (columna === 'octubre') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.octubre_total)
          }
        })
      } else if (columna === 'noviembre') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.noviembre_total)
          }
        })
      } else if (columna === 'diciembre') {
        this.grupos.forEach(function (element) {
          if (element.codigo !== 'G014') {
            sum += Number(element.diciembre_total)
          }
        })
      }
      // console.log(this.presup_bultos)
      // se divide en 50, que es el peso para convertir kilos a bultos
      return sum
    },
    registrarPresupuesto (codAgrupa, mes, valor) {
      var self = this
      axios.post(this.api_url + '/api/presupuestos/ingresar/', {
        anio: self.select_ano,
        cod_agrupa: codAgrupa,
        campo: mes,
        valor: valor,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.ObtenerPresupuesto()
        } else {
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'bottom')
        }
      }).catch(function (err) {
        // console.log(err)
        self.notificacion('red-5', 'white', 'warning', err, 'bottom')
      })
    },
    ejecutarGrafica () {
      var myChart = echarts.init(document.getElementById('main'))
      myChart.setOption(this.optionsGraficaGeneral)
      myChart.on('click', { targetType: 'axisLabel', value: 'Category1' }, params => {
        this.obtenerComentarios(params.name)
      })
    },
    obtenerComentarios (mes) {
      this.mes = mes
      this.dialog_comentarios = true
      this.position = 'right'
    },
    irUlrComponente (url) {
      this.$router.push({ name: url })
    },
    ObtenerPresupuesto () {
      var self = this
      // self.loading = true
      // self.showLoading('Obteniendo información, por favor espere ...')
      axios.get(this.api_url + '/api/presupuestos/grupos-productos/', {
        params: {
          anio: self.select_ano,
          unidad_medida: this.tipo_visualizacion,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.grupos = response.data
      }).finally(function () {
        // self.$q.loading.hide()
        self.obtenerPresupuestoGrafica()
        // self.loading = false
      })
    },
    obtenerVentasMesMes () {
      var self = this
      self.showLoading('Obteniendo información, por favor espere ...')
      // self.loading = true
      axios.get(this.api_url + '/api/presupuestos/ventas-mes-mes/', {
        params: {
          anio: self.select_ano,
          unidad_medida: this.tipo_visualizacion,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.ventas_bultos = response.data
      }).finally(function () {
        self.$q.loading.hide()
        self.ejecutarGrafica()
        let total = self.ventas_bultos.reduce((a, b) => a + b, 0)
        self.total_ventas = total
        // self.obtenerPresupuestoGrafica()
        // self.loading = false
      })
    },
    formatPrice (value, decimal = 0) {
      let val = (value / 1).toFixed(decimal).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    actualizaInfoAuto () {
      // var self = this
      setInterval(function () {
        // self.datosInformes()
      }, 60000)
    }
  },
  mounted () {
    if (this.verificaPermiso(20) === true) {
      this.obtenerVentasMesMes()
    }
    this.ObtenerPresupuesto()
    // this.obtenerVentasMesMes()
  },
  watch: {
    select_ano () {
      this.ObtenerPresupuesto()
    },
    tipo_visualizacion () {
      this.ObtenerPresupuesto()
      this.obtenerVentasMesMes()
    }
  }
}
</script>
<style scoped>
  .shadow {
    -webkit-box-shadow: 0 0 10px #bfbfbf !important;
    box-shadow: 0 0 7px #bfbfbf !important;
  }
</style>
