<template>

<div class="row" v-if="!verificaPermiso(21)">
  <usuarios-no-autorizado/>
</div>

<div class="q-ma-xs" v-else>
  <div class="q-pa-none"  >
    <div class="row bg-white q-pa-md  shadow-1">
      <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 q-mr-lg">
        <q-select  v-model="select_ano" :options="options"  label="Año" />
      </div>
      <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 q-mr-lg" v-show="false">
        <q-select
          v-model="model_mes"
          :options="options_mes"
          label="Mes del presupuesto"
          emit-value
          map-options
        />
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 ">
        <q-input   v-model="fecha_inicial" readonly  label="Fecha desde" stack-label class="q-mr-xl" >
          <template v-slot:append>
            <q-icon color="primary" name="event" class="cursor-pointer">
              <q-popup-proxy ref="qDateProxy2" transition-show="scale" transition-hide="scale">
                <q-date :locale="myLocale" v-model="fecha_inicial" mask="YYYY-MM-DD" @input="() => $refs.qDateProxy2.hide()" />
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <q-input   v-model="fecha_final" readonly  label="Fecha hasta" stack-label class="q-mr-xl" >
          <template v-slot:append>
            <q-icon color="primary" name="event" class="cursor-pointer">
              <q-popup-proxy ref="qDateProxy3" transition-show="scale" transition-hide="scale">
                <q-date :locale="myLocale" v-model="fecha_final" mask="YYYY-MM-DD" @input="() => $refs.qDateProxy3.hide()" />
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 q-pa-md">
        <q-option-group
          v-model="tipo_visualizacion"
          :options="options_uni"
          color="primary"
          inline
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1" v-show="false">
        <q-input v-model="bultos_carta" label="carta" stack-label mask="######"  />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 q-pa-md">
          <q-btn color="primary" label="Consultar información"  @click="datosInformes()"/>
      </div>
    </div><br>
    <div class="row q-col-gutter-md q-pt-md">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="main_bar_totales" style="width:100%; height:250px;" ></div>
      </div>
    </div>

  <div class="row q-pt-xl ">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <q-btn flat color="primary" label="Ver información detallada" icon="fas fa-list-ul" class="q-mr-md" @click="modal_tabla_ventas_mes = true" />
    </div>
  </div>

  <div class="row q-col-gutter-md q-pt-md">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div id="main_bar" style="width:100%; height:800px;" ></div>
    </div>
  </div>
  <q-separator/>
  <div class="row q-col-gutter-md q-pt-xl">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <q-toggle v-model="filtro_vendedor" :label="filtro_vendedor === false ? 'Cumplimiento mensual':' Cumplimiento a fecha'" class="q-mb-md text-primary text-bolder" />
      <q-table
        :table-class="$q.dark.isActive?'text-white':'text-grey-8'"
        :table-header-class="$q.dark.isActive?'text-white':'text-grey-9'"
        :data="data_vendedores"
        :columns="columns_vendedor"
        row-key="vendedor"
        :loading="loading_vendedores"
        :grid="$q.screen.xs"
        :rows-per-page-options="[0]"
        hide-bottom
        :filter="filter_vendedor"
        dense
      >
        <template v-slot:top-right>
          <q-input  dense debounce="300" outlined input-class="text-left text-primary" v-model="filter_vendedor" placeholder="Busqueda de presupuesto">
            <template v-slot:append>
              <q-icon name="search" color="white" />
            </template>
          </q-input>
        </template>
        <template v-slot:top-left>
          <div :class="$q.dark.isActive?'text-white':'text-primary'" class="text-h6" v-if="tipo_visualizacion === 'kilos'">Presupestos vs Ventas por Vendedor (Kilos)</div>
          <div :class="$q.dark.isActive?'text-white':'text-primary'" class="text-h6" v-else>Presupestos vs Ventas por Vendedor (Bultos)</div>
        </template>
        <template v-slot:body="props" >
          <q-tr :props="props" >

            <q-td key="vendedor" :props="props" >
              {{ props.row.vendedor }}
            </q-td>

            <q-td key="presupuesto_cantidad" :props="props">
              {{ formatPrice(props.row.presupuesto_cantidad) }}
            </q-td>
            <q-td key="presupuesto_bultos" :props="props">
              {{ formatPrice(props.row.presupuesto_bultos) }}
            </q-td>
            <q-td key="ventas_bultos" :props="props">
              {{ formatPrice(props.row.ventas_bultos) }}
            </q-td>
            <q-td key="cumplimiento" :props="props">
              <q-chip dense square :color="obtenerColorCumplimiento(props.row.estado_cumplimiento)" :text-color="props.row.estado_cumplimiento === 'medio_bajo' ? 'black' : 'white'">
                {{ formatPrice(props.row.cumplimiento) }} %
                <q-tooltip>{{props.row.estado_cumplimiento}}</q-tooltip>
              </q-chip>
            </q-td>
            <q-td key="participacion" :props="props">
              {{ props.row.participacion }}
            </q-td>
          </q-tr>
        </template>
        <template v-slot:bottom-row >
          <q-tr class="bg-grey-2   text-black text-bold" v-show="loading_vendedores === false">
            <q-td v-bind:key="column.name" v-for="column in bottomColumns3" class="text-right">
              {{ column.text }}
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" >
      <div id="main_pie" style="width:100%; height:700px;" ></div>
    </div>
  </div>
    <q-dialog
      v-model="modal_tabla_ventas_mes"
      persistent
      :maximized="maximizedToggle"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card class="bg-primary text-white">
        <q-bar>
          <q-space />

          <q-btn dense flat icon="minimize" @click="maximizedToggle = false" :disable="!maximizedToggle">
            <q-tooltip v-if="maximizedToggle" content-class="bg-white text-primary">Minimize</q-tooltip>
          </q-btn>
          <q-btn dense flat icon="crop_square" @click="maximizedToggle = true" :disable="maximizedToggle">
            <q-tooltip v-if="!maximizedToggle" content-class="bg-white text-primary">Maximize</q-tooltip>
          </q-btn>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>
        <q-card-section class="q-pt-none ">
          <div class="row q-col-gutter-md q-pt-xl ">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 offset-md-3">
              <q-card  bordered>
                    <q-table
                      title="Presupuesto"
                      :table-class="$q.dark.isActive?'text-white':'text-grey-8'"
                      :table-header-class="$q.dark.isActive?'text-white':'text-grey-9'"
                      :data="data"
                      :columns="columns"
                      row-key="descripcion"
                      :loading="loading"
                      :grid="$q.screen.xs"
                      :rows-per-page-options="[0]"
                      hide-bottom
                      :filter="filter"
                      dense
                    >
                    <template v-slot:top-left>
                      <div :class="$q.dark.isActive?'text-white':'text-primary'" class="text-h6" v-if="tipo_visualizacion === 'kilos'">Presupestos vs Ventas (Kilos)</div>
                      <div :class="$q.dark.isActive?'text-white':'text-primary'" class="text-h6" v-else>Presupestos vs Ventas (Bultos)</div>
                    </template>
                      <template v-slot:top-right>
                        <q-input  outlined dense debounce="300" input-class="text-left text-primary" v-model="filter" placeholder="Busqueda de presupuesto">
                          <template v-slot:append>
                            <q-icon name="search"  />
                          </template>
                        </q-input>
                      </template>

                      <template v-slot:body="props" >
                        <q-tr :props="props" >

                          <q-td key="descripcion" :props="props" >
                            {{ props.row.descripcion }}
                          </q-td>

                          <q-td key="presupuesto_cantidad" :props="props">
                            {{ formatPrice(props.row.presupuesto_cantidad) }}
                          </q-td>
                          <q-td key="venta_cantidad" :props="props">
                            {{ formatPrice(props.row.venta_cantidad) }}
                          </q-td>
                          <q-td key="presupuesto_bultos" :props="props">
                            {{ formatPrice(props.row.presupuesto_bultos) }}
                          </q-td>
                          <q-td key="venta_bultos" :props="props">
                            {{ formatPrice(props.row.venta_bultos) }}
                          </q-td>
                          <q-td key="porcentaje" :props="props">
                            {{ props.row.porcentaje }} %
                          </q-td>
                        </q-tr>
                      </template>
                      <template v-slot:bottom-row>
                        <q-tr class="bg-grey-2   text-black text-bold">
                          <q-td v-bind:key="column.name" v-for="column in bottomColumns2" class="text-right">
                            {{ column.text }}
                          </q-td>
                        </q-tr>
                      </template>
                    </q-table>
              </q-card>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</div>
</template>

<script>
import axios from 'axios'
import { QSpinnerFacebook } from 'quasar'
import * as echarts from 'echarts'
// import * as echarts from 'echarts'
export default {
  data () {
    return {
      tipo_visualizacion: 'kilos',
      options_uni: [
        {
          label: 'Ver en kilos',
          value: 'kilos'
        },
        {
          label: 'Ver en bultos',
          value: 'bultos'
        }
      ],
      filtro_vendedor: false,
      modal_tabla_ventas_mes: false,
      maximizedToggle: true,
      bultos_carta: '',
      select_ano: this.obtenerAnioActual(),
      options: [
        '2021', '2022', '2023', '2024', '2025'
      ],
      filter: '',
      filter_vendedor: '',
      grupos: [],
      grafica_pie: [],
      grafica_ventas_label: [],
      grafica_ventas_presup: [],
      grafica_ventas: [],
      data_vendedores: [],
      data_torta: [],
      total_bultos: 0,
      fecha_inicial: '',
      fecha_final: '',
      data: [],
      loading: false,
      loading_vendedores: false,
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      },
      columns: [
        { name: 'descripcion', align: 'left', label: 'Categoria', field: 'descripcion', sortable: true, style: 'width: 30px', headerClasses: 'text-primary' },
        { name: 'presupuesto_cantidad', align: 'right', label: 'Presup. Unidades', field: 'presupuesto_cantidad', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'venta_cantidad', align: 'right', label: 'Ventas Unidades', field: 'venta_cantidad', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'presupuesto_bultos', align: 'right', label: 'Presupuesto', field: 'presupuesto_bultos', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'venta_bultos', align: 'right', label: 'Ventas', field: 'venta_bultos', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'porcentaje', align: 'right', label: '% Cumplimiento', field: 'porcentaje', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true }
      ],
      columns_vendedor: [
        { name: 'vendedor', align: 'left', label: 'Vendedor', field: 'vendedor', sortable: true, style: 'width: 30px', headerClasses: 'text-primary' },
        { name: 'presupuesto_bultos', align: 'right', label: 'Presupuesto', field: 'presupuesto_bultos', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'ventas_bultos', align: 'right', label: 'Venta', field: 'ventas_bultos', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'cumplimiento', align: 'right', label: '% Cumplimiento', field: 'cumplimiento', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true },
        { name: 'participacion', align: 'right', label: '% Participación', field: 'participacion', sortable: true, style: 'width: 100px', headerClasses: 'text-primary', sums: true }
      ],
      model_mes: null,
      options_mes: [
        {
          label: 'Enero',
          value: 'enero'
        },
        {
          label: 'Febrero',
          value: 'febrero'
        },
        {
          label: 'Marzo',
          value: 'marzo'
        },
        {
          label: 'Abril',
          value: 'abril'
        },
        {
          label: 'Mayo',
          value: 'mayo'
        },
        {
          label: 'Junio',
          value: 'junio'
        },
        {
          label: 'Julio',
          value: 'julio'
        },
        {
          label: 'Agosto',
          value: 'agosto'
        },
        {
          label: 'Septiembre',
          value: 'septiembre'
        },
        {
          label: 'Octubre',
          value: 'octubre'
        },
        {
          label: 'Noviembre',
          value: 'noviembre'
        },
        {
          label: 'Diciembre',
          value: 'diciembre'
        }
      ],
      pagination: {
        rowsPerPage: 20
      },
      preBultos: 0,
      ventaBultos: 0,
      preBultosVendedor: 0,
      ventaBultosVendedor: 0,
      data_aux: []
    }
  },
  computed: {
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    bottomColumns () {
      var retVal = []
      for (let i = 0; i < this.columns.length; i++) {
        var isVisible = true
        if (isVisible) {
          if (this.columns[i].sums) {
            // need to calculate sum, wonder how
            retVal.push({ name: this.columns[i].name, text: this.formatPrice(this.getFooterValue(this.columns[i].name)), align: 'right' })
          } else {
            retVal.push({ name: this.columns[i].name, text: 'TOTAL UNIDADES' })
          }
        }
      }
      return retVal
    },
    bottomColumns2 () {
      var retVal = []
      for (let i = 0; i < this.columns.length; i++) {
        var isVisible = true
        if (isVisible) {
          if (this.columns[i].sums) {
            // need to calculate sum, wonder how
            retVal.push({ name: this.columns[i].name, text: this.formatPrice(this.getFooterValue2(this.columns[i].name)), align: 'right' })
          } else {
            retVal.push({ name: this.columns[i].name, text: 'TOTAL' })
          }
        }
      }
      return retVal
    },
    bottomColumns3 () {
      var retVal = []
      for (let i = 0; i < this.columns_vendedor.length; i++) {
        var isVisible = true
        if (isVisible) {
          if (this.columns_vendedor[i].sums) {
            // need to calculate sum, wonder how
            retVal.push({ name: this.columns_vendedor[i].name, text: this.formatPrice(this.obtenerTotalPrespBultos(this.columns_vendedor[i].name)), align: 'right' })
          } else {
            retVal.push({ name: this.columns_vendedor[i].name, text: 'TOTAL' })
          }
        }
      }
      return retVal
    },
    api_url () {
      return this.$store.getters['store/url_api']
    },
    pieVendedores () {
      return {
        title: {
          text: 'PARTICIPACIÓN VENDEDORES',
          subtext: 'Muestra el porcentaje de participación de ventas totales por vendedor',
          left: 'center'
        },
        toolbox: {
          show: true,
          feature: {
            mark: { show: true },
            dataView: { show: true, readOnly: false },
            restore: { show: true },
            saveAsImage: { show: true }
          }
        },
        tooltip: {
          trigger: 'item'
        },
        series: [
          {
            itemStyle: {
              borderRadius: 8
            },
            roseType: 'area',
            name: 'Participación',
            type: 'pie',
            radius: '50%',
            data: this.grafica_pie,
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            }
          }
        ]
      }
    },
    optionsPuro () {
      var self = this
      return {
        title: {
          text: 'Presupuestos Vs Ventas',
          subtext: 'Gráfica compara lo presupuestado y las ventas del mes'
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          }
        },
        legend: {
          data: ['Presupuesto', 'Ventas']
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: {
          type: 'value',
          boundaryGap: [0, 0.01]
        },
        yAxis: {
          type: 'category',
          data: this.grafica_ventas_label
        },
        series: [
          {
            name: 'Presupuesto',
            type: 'bar',
            color: '#255D44',
            data: this.grafica_ventas_presup,
            label: {
              position: '',
              fontSize: '9',
              show: true,
              formatter: function (param, index) {
                return param.value > 0 ? self.formatPrice(param.value) : ''
              }
            }
          },
          {
            name: 'Ventas',
            type: 'bar',
            color: '#C1A475',
            data: this.grafica_ventas,
            label: {
              position: '',
              fontSize: '9',
              show: true,
              formatter: function (param, index) {
                return param.value > 0 ? self.formatPrice(param.value) : ''
              }
            }
          }
        ]
      }
    },
    optionsTotales () {
      var self = this
      return {
        title: {
          text: 'Total Presupuesto Vs Ventas',
          subtext: 'Gráfica presupuestos vs ventas totales'
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          }
        },
        legend: {
          left: '50%',
          data: ['Presupuesto', 'Ventas']
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: {
          type: 'value',
          boundaryGap: [0, 0.01]
        },
        yAxis: {
          type: 'category',
          data: ['Total Presupuesto y Ventas']
        },
        series: [
          {
            name: 'Presupuesto',
            type: 'bar',
            color: '#255D44',
            data: [this.preBultos],
            label: {
              fontStyle: 'bold',
              fontSize: '15',
              show: true,
              formatter: function (param, index) {
                return param.value > 0 ? self.formatPrice(param.value) : ''
              }
            }
          },
          {
            name: 'Ventas',
            color: '#C1A475',
            type: 'bar',
            label: {
              fontStyle: 'bold',
              fontSize: '15',
              show: true,
              formatter: function (param, index) {
                return param.value > 0 ? self.formatPrice(param.value) + ' (' + self.formatPrice(self.ventaBultos / self.preBultos * 100) + '%)' : ''
              }
            },
            data: [Math.round(this.ventaBultos)]
          }
        ]
      }
    }
  },
  methods: {
    obtenerAnioActual () {
      var today = new Date()
      var year = today.getFullYear()
      return year
    },
    ejecutarGrafica1 () {
      var myChart = echarts.init(document.getElementById('main_bar'))
      myChart.setOption(this.optionsPuro)
    },
    ejecutarGrafica2 () {
      var myChart = echarts.init(document.getElementById('main_pie'))
      myChart.setOption(this.pieVendedores)
    },
    ejecutarGrafica3 () {
      var myChart = echarts.init(document.getElementById('main_bar_totales'))
      myChart.setOption(this.optionsTotales)
    },
    obtenerColorCumplimiento (estado) {
      if (estado === 'muy_bajo') {
        return 'red'
      } else if (estado === 'bajo') {
        return 'orange-5'
      } else if (estado === 'medio_bajo') {
        return 'yellow-11'
      } else if (estado === 'medio_alto') {
        return 'light-green-4'
      } else {
        return 'light-green-10'
      }
    },
    ordenarDesc (arrayEvaluar, columna) {
      this.ordenarAsc(arrayEvaluar, columna); arrayEvaluar.reverse()
    },
    ordenarAsc (arrayEvaluar, columna) {
      arrayEvaluar.sort(function (a, b) {
        console.log(a[columna] + ' --> ' + b[columna])
        return a[columna] > b[columna]
      })
    },
    obtenerDatosGrafica () {
      var self = this
      self.grafica_ventas_label.length = 0
      self.grafica_ventas_presup.length = 0
      self.grafica_ventas.length = 0
      // this.data_aux = this.data
      // this.data_aux = Object.assign(this.data)
      // self.ordenarDesc(this.data_aux, 'presupuesto_bultos')
      this.data_aux.sort((a, b) => (a.presupuesto_bultos > b.presupuesto_bultos) ? 1 : -1)
      this.data_aux.forEach(function (element) {
        self.grafica_ventas_label.push(element.descripcion)
        self.grafica_ventas_presup.push(element.presupuesto_bultos)
        self.grafica_ventas.push(Math.round(element.venta_bultos))
      })
      self.ejecutarGrafica1()
      // self.ejecutarGrafica3()
      // self.ejecutarGrafica2()
    },
    obtenerDatosGraficaPie () {
      var self = this
      self.grafica_pie.length = 0
      this.data_vendedores.sort((a, b) => (a.participacion < b.participacion) ? 1 : -1)
      this.data_vendedores.forEach(function (element) {
        self.grafica_pie.push({ value: element.participacion, name: element.vendedor + ' (' + element.participacion + '%)' })
      })
      this.ejecutarGrafica2()
    },
    getFooterValue2 (columna) {
      var sum = 0
      // var preBultos = 0
      var self = this
      if (columna === 'presupuesto_cantidad') {
        this.data.forEach(function (element) {
          sum += Number(element.presupuesto_cantidad)
        })
      } else if (columna === 'venta_cantidad') {
        this.data.forEach(function (element) {
          if (element.codigo !== 'G018') {
            sum += Number(element.venta_cantidad)
          }
        })
      } else if (columna === 'presupuesto_bultos') {
        this.data.forEach(function (element) {
          if (element.codigo !== 'G014' && element.codigo !== 'G015' && element.codigo !== 'G018') {
            sum += Number(element.presupuesto_bultos)
          }
        })
        self.preBultos = sum
      } else if (columna === 'venta_bultos') {
        this.data.forEach(function (element) {
          if (element.codigo !== 'G014' && element.codigo !== 'G015' && element.codigo !== 'G018') {
            sum += Number(element.venta_bultos)
          }
        })
        self.ventaBultos = sum
      } else if (columna === 'porcentaje') {
        this.data.forEach(function (element) {
          if (element.codigo !== 'G014' && element.codigo !== 'G015' && element.codigo !== 'G018') {
            sum = (self.ventaBultos * 100) / self.preBultos
          }
        })
      }
      return sum
    },
    obtenerTotalPrespBultos (columna) {
      var sum = 0
      // var preBultos = 0
      var self = this
      if (columna === 'presupuesto_bultos') {
        this.data_vendedores.forEach(function (element) {
          sum += Number(element.presupuesto_bultos)
        })
        self.preBultosVendedor = sum
      }
      if (columna === 'ventas_bultos') {
        this.data_vendedores.forEach(function (element) {
          sum += Number(element.ventas_bultos)
        })
        self.ventaBultosVendedor = sum
      }
      if (columna === 'cumplimiento') {
        sum = (self.ventaBultosVendedor * 100) / self.preBultosVendedor
      }
      if (columna === 'participacion') {
        this.data_vendedores.forEach(function (element) {
          sum += Number(element.participacion)
        })
      }
      return sum
    },
    showLoading (msj) {
      this.$q.loading.show({
        spinner: QSpinnerFacebook,
        spinnerColor: 'primary',
        spinnerSize: 140,
        backgroundColor: 'white',
        message: msj,
        messageColor: 'black'
      })
    },
    datosInformes () {
      var self = this
      self.loading = true
      self.showLoading('Obteniendo información, por favor espere ...')
      axios.get(this.api_url + '/api/presupuestos/presupuesto-ventas-consolidado-mes/', {
        params: {
          fecha_inicial: this.fecha_inicial,
          fecha_final: this.fecha_final,
          // mes: this.model_mes,
          unidad_medida: this.tipo_visualizacion,
          carta: this.bultos_carta,
          anio: this.select_ano,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        if (response.data.estado === 'error') {
          self.notificacion('red-5', 'white', 'warning', response.data.mensaje, 'bottom')
          self.$q.loading.hide()
        }
        self.data = response.data
        self.data_aux = response.data
      }).finally(function () {
        self.loading = false
        self.datosInformesVendedores()
        self.obtenerDatosGrafica()
        self.obtenerTotalesBultosPresupuesto()
        self.$q.loading.hide()
      })
    },
    datosInformesVendedores () {
      var self = this
      self.data_vendedores.length = 0
      self.loading_vendedores = true
      axios.get(this.api_url + '/api/presupuestos/presupuesto-ventas-consilidaddo-mes-vendedor-bultos/', {
        params: {
          fecha_inicial: this.fecha_inicial,
          fecha_final: this.fecha_final,
          // mes: this.model_mes,
          carta: this.bultos_carta,
          anio: this.select_ano,
          unidad_medida: this.tipo_visualizacion,
          tipo_consulta: 'full_vendedores',
          opcion: this.filtro_vendedor,
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        if (response.data.estado === 'error') {
          self.notificacion('red-5', 'white', 'warning', response.data.mensaje, 'bottom')
        }
        self.data_vendedores = response.data
      }).finally(function () {
        self.loading_vendedores = false
        self.obtenerDatosGraficaPie()
      })
    },
    notificacion (color, colorTexto, icono, mensaje, posicion) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        position: posicion
      })
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    obtenerMesActualLetras () {
      let meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre']
      let date = new Date()
      var mesName = date.getMonth()
      this.model_mes = meses[mesName]
    },
    obtenerFechas () {
      var self = this
      self.loading = true
      axios.get(this.api_url + '/api/pedido/fecha-inicio-final/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.fecha_inicial = response.data.fecha_inicio
        self.fecha_final = response.data.fecha_final
      }).finally(function () {
        self.datosInformes()
        self.loading = false
      })
    },
    formatPrice (value) {
      let val = (value / 1).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    obtenerTotalesBultosPresupuesto () {
      var sumPre = 0
      var sumVen = 0
      // var preBultos = 0
      var self = this
      self.data.forEach(function (element) {
        if (element.codigo !== 'G014' && element.codigo !== 'G015' && element.codigo !== 'G018') {
          sumPre += Number(element.presupuesto_bultos)
        }
      })
      self.preBultos = sumPre
      this.data.forEach(function (element) {
        if (element.codigo !== 'G014' && element.codigo !== 'G015' && element.codigo !== 'G018') {
          sumVen += Number(element.venta_bultos)
        }
      })
      self.ventaBultos = sumVen

      self.ejecutarGrafica3()
    }
  },
  mounted () {
    if (this.verificaPermiso(21) === true) {
      this.obtenerFechas()
    }
    this.obtenerMesActualLetras()
    // this.datosInformes()
  },
  watch: {
    filtro_vendedor () {
      this.datosInformesVendedores()
    },
    tipo_visualizacion () {
      this.datosInformes()
    }
  }
}
</script>
<style scoped>
  .shadow {
    -webkit-box-shadow: 0 0 10px #bfbfbf !important;
    box-shadow: 0 0 7px #bfbfbf !important;
  }
</style>
