<template>

<div class="q-pa-none" v-if="$q.platform.is.desktop === true">
  <div class="q-pa-none" v-if="origenVisualiza !== 'GestionTurnos'">
    <div class="row q-pa-md bg-orange-2" v-if="exist_data === false">
      Error al visualizar el seguimiento diario de ventas:
      <em class="text-red"><br>No existe presupuesto asignado para poder realizar las operaciones.</em>
    </div>
    <div v-else>
      <div class="row q-pa-xs">
        <div class="col-12 text-center">
          <div class="text-h6 text-primary">Seguimiento de ventas diario mes de {{ info.mes_actual }}</div>
        </div>
      </div>
      <div class="row q-py-lg">
        <div class="col-3 q-mr-md">
          <q-card flat dark bordered class="bg-primary">
            <q-card-section>
              <div class="text-center" style="font-size: 15px;">Presupuesto mensual</div>
              <div class="text-h6 text-center text-bold">{{ formatPrice(info.presupuesto_mensual) }} {{ UnidadMedida === 'kilos' ? 'Kg':'Bto' }}</div>
            </q-card-section>
            <q-separator style="height:2px" class="bg-white" inset />
          </q-card>
        </div>
        <div class="col-3 q-mr-md">
          <q-card flat dark bordered class="bg-primary">
            <q-card-section>
              <div class="text-center" style="font-size: 15px;">Presupuesto diario</div>
              <div class="text-h6 text-center text-bold">{{ formatPrice(info.presupuesto_diario_sueno) }} {{ UnidadMedida === 'kilos' ? 'Kg':'Bto' }}</div>
            </q-card-section>
            <q-separator style="height:2px" class="bg-white" inset />
          </q-card>
        </div>
        <div class="col-3" >
          <q-card flat dark bordered class="bg-primary">
            <q-card-section>
              <div class="text-center" style="font-size: 15px;">Días facturación</div>
              <div class="text-h6 text-center text-bold">{{ info.dias_falta_factu }}</div>
            </q-card-section>
            <q-separator style="height:2px" class="bg-white" inset />
          </q-card>
        </div>
      </div>
      <div class="row" >
        <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
              <div class="row justify-left q-gutter-md">
                <q-intersection
                  v-for="(dato, index) in info.detalle_fact"
                  :key="index"
                  transition="scale"
                  class="dimension"
                  v-show="index <= registros_mostrar"
                >

                    <q-card :class="dato.diferencia < 0 ? 'bg-light-green-4':'bg-grey-4 '">
                      <q-card-section class="q-pt-xs">
                        <div class="text-primary text-center" style="font-size:15px"><b>{{ dato.dia_semana }}</b></div>
                        <div align="center">
                          <q-chip color="grey-4" text-color="primary" style="font-size:15px">
                            <b>Anhelo </b> &nbsp;{{ formatPrice(dato.new_presupuesto_diario) }} {{ UnidadMedida === 'kilos' ? 'Kg':'Bto' }}
                          </q-chip>
                        </div>
                        <div class="text-grey-10"><b>Venta </b> {{ formatPrice(dato.venta) }} {{ UnidadMedida === 'kilos' ? 'Kg':'Bto' }}</div>
                        <div class="text-grey-10" v-show="dato.diferencia>=0"><b>Déficit</b> {{ formatPrice(dato.diferencia) }} {{ UnidadMedida === 'kilos' ? 'Kg':'Bto' }}</div>
                        <div class="text-grey-10" v-show="dato.diferencia<0"><b>Superávit</b> {{ formatPrice(dato.diferencia * -1) }} {{ UnidadMedida === 'kilos' ? 'Kg':'Bto' }}</div>
                        <div class="text-grey-10" ><b>Cumplimiento</b> {{ ((dato.venta/dato.new_presupuesto_diario)*100).toFixed(1) }}% <q-icon v-show="dato.diferencia<0" class="q-px-xs" name="fas fa-check" size="20px" color="green-10" /></div>
                      </q-card-section>
                          <div class="col ">
                            <q-btn round color="primary text-white" class="text-bold absolute" style="font-size:14px;top: -15%; right: 0px; transform: translateX(-12%);">{{ dato.fecha.slice(-2) }}</q-btn>
                            <div v-show="false" class="text-subtitle2 text-center "><q-chip square class="text-bold absolute" size="12px" style="top: 0; right: 180px; transform: translateY(-60%);">asdasdasdasd</q-chip></div>
                          </div>
                    </q-card>

                </q-intersection>
              </div>
              <div class="row q-pa-xs" v-show="info.detalle_fact.length > 3">
                <div class="col-12 text-center">
                  <q-btn v-show="registros_mostrar <= 3" @click="mostrarRegistros(30)" color="primary" icon="fas fa-chevron-down" rounded size="11px" no-caps class="q-pa-xs" label="Mostrar todos los días"/>
                  <q-btn v-show="registros_mostrar > 3" @click="mostrarRegistros(2)" color="primary" icon="fas fa-chevron-up" rounded size="11px" no-caps class="q-pa-xs" label="Mostrar menos"/>
                </div>
              </div>
        </div>
      </div>
  </div>
  </div>
  <!-- Esta se visuliza en el panel de turno -->
  <div v-else class="q-pa-md">
    <div class="row q-pa-md bg-orange-2 text-black" v-if="exist_data === false">
      Error al visualizar el seguimiento diario de ventas:
      <em class="text-red"><br>No existe presupuesto asignado para poder realizar las operaciones.</em>
    </div>
    <div v-else>
    <div class="row q-pa-none">
      <div class="col-12 text-center text-primary text-bold text-h6">
        <q-icon color="blue-8" name="fas fa-chart-line" size="28px" class="q-mr-md"/>Seguimiento de ventas
      </div>
    </div><br>
    <div class="row">
      <div class="col-12">
        <q-card flat dark bordered class="bg-white">
          <q-card-section class="q-pa-none">
            <div class="text-center text-primary" style="font-size: 15px;">Presupuesto {{ info.mes_actual }} | <b>{{ formatPrice(info.dias_falta_factu) }}</b> días x fact.</div>
            <div class="text-h5 text-center text-bold text-primary">{{ formatPrice(info.presupuesto_mensual) }} Kg</div>
          </q-card-section>
          <q-card-section class="q-pa-none">
            <div class="text-center text-primary" style="font-size: 15px;">Presupuesto diario</div>
            <div class="text-center text-primary text-bold" style="font-size: 20px;">{{ formatPrice(info.presupuesto_diario_sueno) }} Kg</div>
          </q-card-section>
          <q-card-section class="q-pa-none" v-show="false">
            <div class="text-center text-primary" style="font-size: 15px;">Días facturación</div>
            <div class="text-h6 text-center text-bold text-primary">{{ formatPrice(info.dias_falta_factu) }}</div>
          </q-card-section>
        </q-card>
      </div>
    </div>
    <div class="row q-pa-xs">
      <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " >
        <div class="row justify-center q-gutter-md" >
              <q-intersection
                v-for="(dato, index) in info.detalle_fact"
                :key="index"
                transition="scale"
                class="dimension_auxiliar"
                v-show="index==0"
              >

                  <q-card  class="bg-grey-4 ">
                    <q-card-section >
                      <div class="text-blue-8 text-center" style="font-size:19px"><b>{{ dato.dia_semana }}</b></div>
                      <div class="text-grey-10" style="font-size:20px"><b>Anhelo </b>{{ formatPrice(dato.new_presupuesto_diario) }} {{ UnidadMedida === 'kilos' ? 'Kg':'Bto' }}</div>
                      <div class="text-grey-10" style="font-size:20px"><b>Venta</b> {{ formatPrice(dato.venta) }} {{ UnidadMedida === 'kilos' ? 'Kg':'Bto' }}</div>
                      <div class="text-grey-10" style="font-size:20px" v-show="dato.diferencia>=0"><b>Déficit</b> {{ formatPrice(dato.diferencia) }} {{ UnidadMedida === 'kilos' ? 'Kg':'Bto' }}</div>
                      <div class="text-grey-10" v-show="dato.diferencia<0"><b>Superávit</b> {{ formatPrice(dato.diferencia * -1) }} {{ UnidadMedida === 'kilos' ? 'Kg':'Bto' }}</div>
                      <div class="text-grey-10" style="font-size:20px"><b>Cumplimiento</b> {{ ((dato.venta/dato.new_presupuesto_diario)*100).toFixed(1) }}%</div>
                    </q-card-section>
                        <div class="col ">
                          <q-btn round color="primary text-white" class="text-bold absolute" style="font-size:14px;top: -10%; right: 0px; transform: translateX(-12%);">{{ dato.fecha.slice(-2) }}</q-btn>
                          <div v-show="false" class="text-subtitle2 text-center "><q-chip square class="text-bold absolute" size="12px" style="top: 0; right: 180px; transform: translateY(-60%);">asdasdasdasd</q-chip></div>
                        </div>
                  </q-card>

              </q-intersection>
            </div>
      </div>
    </div>
    <div class="row q-pa-none bg-primary">
      <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-white text-center text-bold q-pa-sm" style="font-size: 16px;">
        Vehículos cargados ({{ vehiculos_cargados.length }})
      </div>
    </div>
    <div class="q-pa-none" style="max-width: 350px">
      <q-scroll-area  style="height: 300px;" class="rounded">
        <div class="col-12 ">
      <q-list>
        <q-item v-for="(dato, index) in vehiculos_cargados" :key="index">
          <q-item-section>
            <q-item-label class="text-center text-primary text-bold">{{ dato.placa }}</q-item-label>
          </q-item-section>

          <q-item-section >
            <q-item-label class="text-black">{{ obtenerNombreFichos(dato.ficho) }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-separator />
        </q-list>
      </div>
      </q-scroll-area>
      </div>
    </div>
  </div>
  </div>
  <div v-else>
    <div class="row q-pa-md bg-orange-2" v-if="exist_data === false">
      Error al visualizar el seguimiento diario de ventas:
      <em class="text-red"><br>No existe presupuesto asignado para poder realizar las operaciones.</em>
    </div>
    <div v-else>
      <div class="row q-pa-xs bg-primary">
        <div class="col-12 text-center">
          <div class="text-white text-bold" style="font-size:14px">Seguimiento de ventas diario</div>
        </div>
      </div>
      <div class="row q-py-none">
        <div class="col-6 q-mr-md">
          <q-card flat dark bordered class="bg-white">
            <q-card-section>
              <div class="text-center text-primary" style="font-size: 15px;">Presupuesto diario</div>
              <div class="text-h6 text-center text-bold text-primary">{{ formatPrice(info.presupuesto_diario_sueno) }} {{ UnidadMedida === 'kilos' ? 'Kg':'Bto' }}</div>
            </q-card-section>
            <q-separator style="height:3px" class="bg-primary" inset />
          </q-card>
        </div>
        <div class="col-5" >
          <q-card flat dark bordered class="bg-white">
            <q-card-section>
              <div class="text-center text-primary" style="font-size: 15px;">Días facturación</div>
              <div class="text-h6 text-center text-bold text-primary">{{ info.dias_falta_factu }}</div>
            </q-card-section>
            <q-separator style="height:3px" class="bg-primary" inset />
          </q-card>
        </div>
      </div><br>
      <div class="row">
        <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
              <div class="row justify-center q-gutter-xs">
                <q-intersection
                  v-for="(dato, index) in info.detalle_fact"
                  :key="index"
                  transition="scale"
                  class="dimension_mobile"
                  v-show="index == 0"
                >

                    <q-card  class="bg-grey-1" >
                      <q-card-section class="q-pt-sm">
                        <div class="text-primary text-center" style="font-size:18px"><b>{{ dato.dia_semana }} {{ dato.fecha.slice(-2) }} {{ info.mes_actual }}</b></div><br>
                        <div class="text-grey-10" style="font-size:14px"><b class="text-primary">Anhelo </b>{{ formatPrice(dato.new_presupuesto_diario) }} {{ UnidadMedida === 'kilos' ? 'Kg':'Bto' }}</div>
                        <div class="text-grey-10" style="font-size:14px"><b class="text-primary">Venta </b> {{ formatPrice(dato.venta) }} {{ UnidadMedida === 'kilos' ? 'Kg':'Bto' }}</div>
                        <div class="text-grey-10" style="font-size:14px" v-show="dato.diferencia>=0"><b class="text-primary">Déficit</b> {{ formatPrice(dato.diferencia) }} {{ UnidadMedida === 'kilos' ? 'Kg':'Bto' }}</div>
                        <div class="text-grey-10" style="font-size:14px" v-show="dato.diferencia<0"><b class="text-primary">Superávit</b> {{ formatPrice(dato.diferencia * -1) }} {{ UnidadMedida === 'kilos' ? 'Kg':'Bto' }}</div>
                        <div class="text-bold absolute text-grey-10" style="font-size:16px;top: 50%; right: 0px; transform: translateX(-12%);"><b class="text-primary">Cumplimiento</b> {{ ((dato.venta/dato.new_presupuesto_diario)*100).toFixed(1) }}%</div>
                      </q-card-section>
                          <div class="col ">
                            <div v-show="false" class="text-subtitle2 text-center "><q-chip square class="text-bold absolute" size="12px" style="top: 0; right: 180px; transform: translateY(-60%);">asdasdasdasd</q-chip></div>
                          </div>
                    </q-card>

                </q-intersection>
              </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  props: {
    origenVisualiza: {
      type: String,
      required: false
    },
    UnidadMedida: {
      type: String,
      required: false
    }
  },
  data () {
    return {
      registros_mostrar: 2,
      exist_data: true,
      info: { detalle_fact: [] },
      vehiculos_cargados: []
    }
  },
  computed: {
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    api_url () {
      return this.$store.getters['store/url_api']
    },
    actualizaSeguimiento () {
      return this.$store.getters['store/movimiento_registro']
    }
  },
  methods: {
    obtenerNombreFichos (ficho) {
      var f = ficho.charAt(0)
      if (f === 'C') {
        return 'contado'
      } else if (f === 'B') {
        return 'industrial'
      } else if (f === 'S') {
        return 'subproducto'
      } else {
        return 'paqueteo'
      }
    },
    formatPrice (value, decimales = 0) {
      let val = (value / 1).toFixed(decimales).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    obtenerInfoDiaria () {
      var self = this
      axios.get(this.api_url + '/api/pedido/obtener-dias-habiles/', {
        params: {
          token: localStorage.getItem('token'),
          unidad_medida: self.UnidadMedida
        }
      }).then((response) => {
        self.info = response.data
      }).finally(function () {
        if (self.info.exist_data === 'si') {
          self.exist_data = true
          // Se ordena de la fecha mas reciente a la mas antigua
          self.info.detalle_fact.sort((a, b) => {
            // si las fechas tienen formato día-mes-año
            // entonces hay que manipular un poco para crear el objeto Date correctamente
            var partes = a.fecha.split('-')
            var fa = new Date(partes[2], partes[1], partes[0])
            partes = b.fecha.split('-')
            var fb = new Date(partes[2], partes[1], partes[0])
            return fb - fa
          })
          // Mostrar los primeros 3 registros, solo para dashboard
          if (self.origenVisualiza === 'DashboardVentas') {
            self.mostrarRegistros(self.registros_mostrar)
          }
        } else {
          self.exist_data = false
        }
      })
    },
    obtenerVehiculosCargados () {
      var self = this
      axios.get(this.api_url + '/api/despachos-turno/vehiculos-cargados/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.vehiculos_cargados = response.data
      }).finally(function () {
      })
    },
    mostrarRegistros (numReg) {
      this.registros_mostrar = numReg
      // this.obtenerInfoDiaria()
    }
  },
  mounted () {
    this.obtenerInfoDiaria()
    if (this.origenVisualiza === 'GestionTurnos') {
      this.obtenerVehiculosCargados()
    }
  },
  watch: {
    actualizaSeguimiento () {
      this.obtenerInfoDiaria()
      if (this.origenVisualiza === 'GestionTurnos') {
        this.obtenerVehiculosCargados()
      }
    }
  }
}
</script>
<style >
.dimension_mobile {
  height: 160px;
  width: 96%;
}
.dimension {
  height: 160px;
  width: 250px;
}
.dimension_auxiliar {
  height: 185px;
  width: 250px;
}
.marquee {
  width: 100%;
  height: 90px;
  overflow: hidden;
}

.marquee li {
  font-size: 50px;
}

.marquee__content {
  display: flex;
  list-style: none;
  animation: scrolling 15s linear infinite;
}

.marquee__item {
  flex-shrink: 0;
}

@keyframes scrolling {
  0% { transform: translateX(0) }
  100% { transform: translateX(-100%) }
}
</style>
