<template>

  <div class="row" v-if="!verificaPermiso(58)">
    <usuarios-no-autorizado/>
  </div>

  <div class="q-pa-none" v-else>
    <div class="row" v-show="device !== 'mobil'">
      <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center text-h5 text-grey-8 q-mb-md">
        Tablero diario
      </div>
    </div>
      <div class="row  q-pa-none ">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7" >
          <full-calendar v-show="device !== 'mobil'"  class="bg-grey-1"  :config="config"  :events="fcEvents" @changeMonth="changeMonth" @eventClick="eventClick"/>
          <q-date
            flat
            v-model="fecha_calendario"
            style="width: 100%;"
            mask="YYYY-MM-DD"
            v-show="device == 'mobil'"
            :locale="myLocale"
          />
          <q-separator  inset v-show="device == 'mobil'" class="q-mb-xs"/>
        </div>
        <q-separator vertical inset v-show="device !== 'mobil'"/>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="row q-py-xs">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pa-none " >
              <div class="q-pa-none">
                <div class="text-primary text-center q-mb-md" style="font-size: 20px" v-show="fecha_letra!=''">
                  <q-icon name="fas fa-calendar-day" class="q-mr-sm"/>{{ fecha_letra }}
                </div>
                <q-list  >
                  <q-item >
                    <q-item-section class="text-center text-bold text-primary" style="font-size:18px">{{'(' + viajes_dia.length + ') '}}Viajes</q-item-section>
                    <q-item-section avatar class="text-bold text-center text-primary" style="font-size:18px">
                      <q-toggle color="blue" :label="visualizacion == '1' ? 'Kg' : 'Bto'" v-model="visualizacion" true-value="50" false-value="1" />
                    </q-item-section>
                  </q-item>
                  <q-scroll-area :style="device !== 'mobil' ? 'height: 450px;': 'height: 250px;'">
                    <div v-for="(viaje, index) in viajes_dia" :key="index">
                      <q-item clickable @click="openModalViaje(viaje)">
                        <q-item-section class="text-left text-bold" style="font-size:15px">{{viaje.viaje}}</q-item-section>
                        <q-item-section avatar>
                          {{formatPrice(viaje.kilos/visualizacion, 0)}}
                        </q-item-section>
                      </q-item>
                      <q-separator inset/>
                    </div>
                  </q-scroll-area>
                  <q-item v-show="totalKilos>0" class="bg-grey-2">
                    <q-item-section class="text-center text-bold text-primary" style="font-size:18px">Total</q-item-section>
                    <q-item-section avatar class="text-bold text-center text-primary" style="font-size:18px">
                      {{ formatPrice(totalKilos/visualizacion, 0) }}
                    </q-item-section>
                  </q-item>
                </q-list>
              </div>
            </div>
          </div>
        </div>
      </div>

      <q-dialog v-model="modal_viaje" >
        <q-card style="width: 700px; max-width: 80vw;">
          <q-card-section class="row items-center q-pb-none">
            <div class="text-h6 text-primary">{{ id_registro == '' ? 'Nuevo viaje' : 'Modificar viaje' }} {{'(' + fecha + ')'}}</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section>
            <div class="row q-pa-md q-mb-xs">
              <div class="col-9 q-mr-sm">
                <q-input filled v-model="viaje" label="Viaje" stack-label />
              </div>
              <div class="col-2 q-mr-sm">
                <q-input filled v-model="kilos" label="Peso (Kg)" stack-label />
              </div>
            </div>
            <div class="row q-pa-xs" >
              <div class="col-12 " align="center">
              <q-btn color="primary" class="text-bold" flat size="lg"  no-caps label="Guardar información" @click="registrarViaje()"/>
              <q-btn v-show="id_registro" color="red-9" class="text-bold" flat size="lg"  no-caps label="Eliminar" @click="registrarViaje('eliminar')"/>
              </div>
            </div>
          </q-card-section>
        </q-card>
    </q-dialog>

      <q-page-sticky position="bottom-right" :offset="[18, 18]" v-show="device !== 'mobil'">
        <q-btn rounded icon="fa fa-sync-alt" no-caps size="15px" color="primary" @click="obtenerViajes()"  label="Actualizar"/>
      </q-page-sticky>
  </div>
</template>

<script>
import axios from 'axios'
// import { exportFile } from 'quasar'
import 'moment/locale/es' // Importa el paquete de idioma español
// const currentYear = new Date().getFullYear()
// const fechaActual = new Date()
export default {
  props: {
    device: {
      type: String,
      required: false
    }
  },
  data () {
    return {
      fecha_calendario: new Date().toISOString().split('T')[0],
      id_registro: '',
      visualizacion: '1',
      modal_viaje: false,
      dias: [],
      fecha: '',
      fecha_letra: '',
      viaje: '',
      kilos: '',
      viajes: [],
      viajes_dia: [],
      fcEvents: [],
      config: {
        locale: 'es',
        defaultDate: '2023-01-01'
      },
      meses: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      }
    }
  },
  computed: {
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    api_url () {
      return this.$store.getters['store/url_api']
    },
    totalKilos () {
      return this.viajes_dia.reduce((acumulador, item) => acumulador + Number(item.kilos), 0)
    }
  },
  methods: {
    eventClick: function (event) {
      let fecha = new Date(event.start)
      // Restar un día
      fecha.setDate(fecha.getDate() - 1)
      // console.log(fecha.toISOString().split('T')[0])
      this.fecha = fecha.toISOString().split('T')[0]
      if (event.accion === 'add') {
        this.id_registro = ''
        this.viaje = ''
        this.kilos = ''
        this.modal_viaje = true
      } else {
        this.fecha_letra = this.obtenerFechaLetras(event.start)
        this.viajes_dia = this.viajes.filter(evento => evento.fecha === this.fecha)
      }
    },
    openModalViaje (data) {
      if (this.device !== 'mobil') {
        if (this.verificaPermiso(59)) {
          this.id_registro = data.id_viaje
          this.fecha = data.fecha
          this.viaje = data.viaje
          this.kilos = data.kilos
          this.modal_viaje = true
        }
      }
    },
    agruparDatosCalendario (data, diasMes) {
      const result = data.reduce((acc, item) => {
        const date = item.fecha_calendario
        const kilos = parseFloat(item.kilos)
        // Si la fecha ya existe en el acumulador, suma los kilos
        if (acc[date]) {
          acc[date] += kilos
        } else {
          // Si la fecha no existe, crea una nueva entrada con los kilos iniciales
          acc[date] = kilos
        }
        return acc
      }, {})

      // Convertir el resultado a un array si se necesita
      const groupedData = Object.keys(result).map(date => ({
        fecha: date,
        totalKilos: result[date]
      }))
      this.fcEvents = []
      groupedData.forEach(item => {
        this.fcEvents.push({ title: this.formatPrice(item.totalKilos / this.visualizacion, 0), start: item.fecha, cssClass: 'bg-blue-3 text-bold text-right', accion: '' })
      })

      // En la versión mobil no debe salir el calendario con el btn nuevo viaje
      if (this.device !== 'mobil') {
        if (this.verificaPermiso(59)) {
          diasMes.forEach(item => {
            this.fcEvents.push({ title: '+ Nuevo viaje', start: item, cssClass: 'bg-white shadow-1 text-center', accion: 'add' })
          })
        }
      }
    },
    validarCampos (accion = 'registro') {
      var contError = 0
      if (accion === 'registro') {
        if (this.fecha === '') {
          contError++
          this.notificacionToast('error', 'Falta seleccionar la fecha del calendario', 'top-right', 2500)
        } else if (this.viaje === '') {
          contError++
          this.notificacionToast('error', 'Falta escribir el viaje', 'top-right', 2500)
        } else if (this.kilos === '') {
          contError++
          this.notificacionToast('error', 'Falta escribir el peso del viaje', 'top-right', 2500)
        }
      } else if (accion === 'gestion') {

      }
      return contError
    },
    changeMonth: function (info1, info2, info3) {
      var fecAgenda = info3.split('-')
      this.anio = fecAgenda[0]
      this.mes = this.meses[Number(fecAgenda[1]) - 1]
      this.obtenerViajes()
    },
    obtenerFechaLetras (fec) {
      const fecha = new Date(fec)
      // Obtener el día, mes (abreviado) y año
      const opciones = { day: 'numeric', month: 'short', year: 'numeric' }
      const fechaTexto = fecha.toLocaleDateString('es-ES', opciones)
      // Formatear la fecha para que coincida con "20, nov 2024"
      const partes = fechaTexto.split(' ')
      const resultado = `${partes[0]}, ${partes[1]} ${partes[2]}`
      return resultado
    },
    limpiarDatos () {
      this.id_registro = ''
      this.modal_viaje = false
      this.viaje = ''
      this.fecha = ''
      this.kilos = ''
    },
    obtenerViajes (fec = '') {
      this.showLoading('Obteniendo datos, por favor espere un momento ...')
      var self = this
      axios.get(this.api_url + '/api/tablero/obtener', {
        params: {
          token: localStorage.getItem('token'),
          anio: self.anio,
          mes: self.mes
        }
      }).then((response) => {
        self.viajes = response.data.eventos
        self.dias = response.data.dias_mes
      }).finally(function () {
        self.agruparDatosCalendario(self.viajes, self.dias)
        // -----------------------------
        const fechaActual = fec === '' ? new Date().toISOString().split('T')[0] : fec
        self.viajes_dia = self.viajes.filter(evento => evento.fecha === fechaActual)
        let fecha = new Date(fechaActual)
        fecha.setDate(fecha.getDate() + 1)
        self.fecha_letra = self.obtenerFechaLetras(fecha.toISOString().split('T')[0])
        // ---------------------------
        self.hideLoading()
      })
    },
    registrarViaje (accion = '') {
      if (this.validarCampos('registro') !== 0) {
        return false
      }
      this.showLoading('Registrando viaje, por favor espere un momento ...')
      var self = this
      axios.post(this.api_url + '/api/tablero/registrar', {
        viaje: self.viaje,
        fecha: self.fecha,
        kilos: self.kilos,
        accion: accion,
        id_viaje: self.id_registro,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-center', 3000)
          self.obtenerViajes(self.fecha)
          self.limpiarDatos()
          self.hideLoading()
        } else {
          self.hideLoading()
        }
      }).catch(function (err) {
        self.hideLoading()
        self.notificacionToast('error', err, 'top-center', 3000)
      })
    },
    notificacionToast (tipoNotif, msj, posicion, duracion) {
      this.$toast(msj, {
        position: posicion,
        type: tipoNotif,
        timeout: duracion,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        // draggable: true,
        // draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: 'button',
        icon: true,
        rtl: false
      })
    },
    agregarClase () {
      // Busca todos los elementos con la clase "elemento"
      const elementos = document.querySelectorAll('.weeks')
      const elementosWeek = document.querySelectorAll('.week')
      const contenedorCalendario = document.querySelectorAll('.comp-full-calendar')
      contenedorCalendario.forEach(elemento => {
        // console.log(elemento)
        elemento.classList.add('ancho-calendario')
      })
      // Itera sobre los elementos y añade las clases adicionales
      elementos.forEach(elemento => {
        // console.log(elemento)
        elemento.classList.add('bg-primary', 'text-white', 'text-subtitle1')
      })
      // Cambia de ingles a español
      elementosWeek.forEach(elemento => {
        if (elemento.innerText === 'Sun') {
          elemento.innerText = 'Dom'
        } else if (elemento.innerText === 'Mon') {
          elemento.innerText = 'Lun'
        } else if (elemento.innerText === 'Tue') {
          elemento.innerText = 'Mar'
        } else if (elemento.innerText === 'Wed') {
          elemento.innerText = 'Mié'
        } else if (elemento.innerText === 'Thu') {
          elemento.innerText = 'Jue'
        } else if (elemento.innerText === 'Fri') {
          elemento.innerText = 'Vie'
        } else if (elemento.innerText === 'Sat') {
          elemento.innerText = 'Sáb'
        }
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    formatPrice (value, decimales = 0) {
      let val = (value / 1).toFixed(decimales).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    }
  },
  mounted () {
    this.agregarClase()
    this.obtenerViajes()
  },
  watch: {
    visualizacion () {
      this.agruparDatosCalendario(this.viajes, this.dias)
    },
    fecha_calendario (val) {
      var fecAgenda = val.split('-')
      this.anio = fecAgenda[0]
      this.mes = this.meses[Number(fecAgenda[1]) - 1]
      this.obtenerViajes(val)
    }
  }
}
</script>
<style scoped>
.my-table-details{
  text-align: justify;
  font-size: 0.90em;
  font-style: italic;
  max-width: 270px;
  white-space: normal;
  margin-top: 4px;
}
.ancho-calendario{
  max-width: 100%;
}
</style>
