<template>
<q-page :class="rol == 'VENDEDOR' ? 'bg-grey-1' : 'bg-white'">

  <div class="q-pa-none" v-if="$q.platform.is.desktop === true">
    <div class="row q-pa-md justify-center">
      <q-img src="../statics/LogoNetico.png" style="height: 110px; max-width: 110px"/>
    </div>
    <div class="row q-pa-none justify-center text-primary text-bold" style="font-size:25px">
      <q-icon name="fas fa-grip-horizontal" size="38px" class="q-mr-md" color="primary"/>Menú principal
    </div>
    <div class="row q-pa-lg justify-left q-col-gutter-x-none q-col-gutter-y-lg" align="center">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" v-for="(modulo, index) in modulos" :key="index" v-show="modulo.cod_permiso !== 0 ? verificaPermiso(modulo.cod_permiso) : true">
        <q-card flat  class="cursor-pointer" :style="'width:' + modulo.tamano" @click="irUrl(modulo.link, modulo.nombre)">
          <q-card-section :class="modulo.color">
            <div class="text-h6 q-pa-none" align="center"><q-icon :name="modulo.icono" :color="modulo.color_icono" :size="modulo.size_icono"/></div>
            <div :class="'text-h6 q-pa-none text-'+modulo.color_icono" align="center">{{modulo.nombre}}</div>
          </q-card-section>
          <q-separator style="height: 1px;" :class="'bg-'+modulo.color_icono" />
          <q-card-actions :class="'bg-'+modulo.color_icono">
            <q-btn flat no-caps v-if="modulo.estado_modulo == 'desarrollo'"><q-icon name="fas fa-tools" color="grey-7" size="16px" class="q-mr-sm"/>En desarrollo</q-btn>
            <q-btn size="16px" class="full-width" flat no-caps @click="irUrl(modulo.link, modulo.nombre)" color="white"  icon-right="fas fa-arrow-circle-right" v-else label="Entrar al módulo"/>
          </q-card-actions>
        </q-card>
      </div>
    </div>
    <q-separator  inset/>
    <div class="row text-primary text-center q-py-sm">
      <div class="col-12" style="font-size:12px">{{ derechos }}</div>
    </div>
  </div>

  <div class="row q-pa-sm" v-if="$q.platform.is.mobile === true && rol !== 'VENDEDOR'">
    <div class="col-12" >
      <div class=" q-pa-none text-center">
        <q-img src="../statics/LogoNetico.png" style="height: 65px; max-width: 65px"/>
      </div>
      <div class="q-pa-xs q-gutter-xs" align="center">
        <q-chip size="23px" color="white" class="text-primary text-bold">Menú Principal</q-chip>
      </div>
      <br>
      <div class="row bg-grey-1 redondear q-col-gutter-x-xs q-col-gutter-y-xl shadow-1" >
        <q-list padding style="width: 100%">
          <div class="col-6 " v-for="(modulo, index) in modulos_mobile" :key="index" v-show="modulo.cod_permiso !== 0 ? verificaPermiso(modulo.cod_permiso) : true">
            <q-item clickable v-ripple @click="irUrl(modulo.link, modulo.nombre)">
              <q-item-section avatar top>
                <q-avatar :icon="modulo.icono" :color="modulo.color" :size="modulo.size_icono" text-color="white"></q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label lines="1" :class="'text-bold text-'+modulo.color" style="font-size:20px">{{modulo.nombre}}</q-item-label>
              </q-item-section>
              <q-item-section avatar>
                <q-icon color="grey-5" size="18px" name="fas fa-chevron-right" />
              </q-item-section>
            </q-item>
            <q-separator inset v-show="modulo.nombre !=='App pedidos'" />
          </div>
        </q-list>
      </div>
      <div class="row text-primary q-py-xl">
          <div class="col-12 text-center" style="font-size:12px">{{ derechos }}</div>
      </div>
    </div>
  </div>

  <div v-if="$q.platform.is.mobile === true && rol === 'VENDEDOR'">
    <ventas-menu-app/>
  </div>

</q-page>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      rol: 'VENDEDOR',
      usuario_logeado: '',
      modulos: [
        // { nombre: 'RRHH', icono: 'fas fa-people-arrows', size_icono: '40px', color: 'bg-red-5', tamano: '250px', link: '/rrhh', estado_modulo: 'desarrollo', cod_permiso: 0 },
        { nombre: 'Producción', icono: 'fas fa-truck-loading', color_icono: 'secondary', size_icono: '75px', color: 'bg-white', tamano: '250px', link: '/produccion', estado_modulo: 'activo', cod_permiso: 0 },
        { nombre: 'Logística', icono: 'fas fa-people-carry', size_icono: '75px', color_icono: 'light-blue-10', color: 'bg-white', tamano: '250px', link: '/logistica', estado_modulo: 'activo', cod_permiso: 0 },
        { nombre: 'Ventas', icono: 'fas fa-hand-holding-usd', color_icono: 'primary', size_icono: '75px', color: 'bg-white', tamano: '250px', link: '/ventas', estado_modulo: 'activo', cod_permiso: 0 },
        { nombre: 'Administrador', icono: 'fas fa-user-shield', color_icono: 'blue-grey-9', size_icono: '75px', color: 'bg-white', tamano: '250px', link: '/admin', estado_modulo: 'activo', cod_permiso: 0 },
        { nombre: 'App pedidos', icono: 'fas fa-tablet-alt', color_icono: 'blue-grey-4', size_icono: '75px', color: 'bg-white', tamano: '250px', link: '/inicio/bienvenida', estado_modulo: 'activo', cod_permiso: 5 }
      ],
      modulos_mobile: [
        // { nombre: 'RRHH', icono: 'fas fa-people-arrows', size_icono: '30px', color: 'bg-red-5', tamano: '170px', link: '/rrhh', estado_modulo: 'activo', cod_permiso: 0 },
        { nombre: 'Producción', descripcion: 'Información silos de trigo y trigo en transito', icono: 'fas fa-truck-loading', size_icono: '65px', color: 'secondary', tamano: '170px', link: '/produccion', estado_modulo: 'activo', cod_permiso: 0 },
        { nombre: 'Logística', descripcion: 'Despachos producto terminado y despachos de trigo', icono: 'fas fa-people-carry', size_icono: '65px', color: 'light-blue-10', tamano: '170px', link: '/logistica', estado_modulo: 'activo', cod_permiso: 0 },
        { nombre: 'Ventas', descripcion: 'Ventas en línea, cumplimiento y gráficos', icono: 'fas fa-hand-holding-usd', size_icono: '65px', color: 'primary', tamano: '170px', link: '/ventas', estado_modulo: 'activo', cod_permiso: 0 },
        { nombre: 'Administrador', descripcion: 'Creación de usuarios con sus respectivos permisos', icono: 'fas fa-user-shield', size_icono: '65px', color: 'blue-grey-9', tamano: '170px', link: '/admin', estado_modulo: 'activo', cod_permiso: 0 },
        { nombre: 'App pedidos', descripcion: 'App gestión de pedidos por los vendedores', icono: 'fas fa-tablet-alt', size_icono: '65px', color: 'blue-grey-5', tamano: '170px', link: '/inicio/bienvenida', estado_modulo: 'activo', cod_permiso: 5 }
      ]
    }
  },
  computed: {
    api_url () {
      return this.$store.getters['store/url_api']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    derechos () {
      return this.$store.getters['store/derechos']
    }
  },
  methods: {
    obtenerUsuario () {
      if (localStorage.getItem('token')) {
        axios.post(this.api_url + '/api/usuarios/obtener-usuario', {
          token: localStorage.getItem('token')
        }).then(response => {
          this.rol = response.data.user.roles[0].name
          this.usuario_logeado = response.data.user.name
        }).catch(error => {
          console.log(error)
        })
      } else {
        // this.cerrarSesion()
        // alert('Por favor inicie sesión')
      }
    },
    irUrl (ruta, nombreModulo) {
      var self = this
      self.showLoading('Cargando módulo de ' + nombreModulo + ', por favor espere un momento ....')
      setTimeout(function () { self.$router.push({ name: ruta }) }, 1000)
      setTimeout(function () { self.hideLoading() }, 2500)
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj,
        spinnerColor: 'primary',
        spinnerSize: 110,
        backgroundColor: 'white',
        messageColor: 'primary',
        customClass: 'bg-white text-primary'
      })
    }
  },
  created () {
  },
  beforeDestroy () {
  },
  mounted () {
    this.obtenerUsuario()
  },
  watch: {
  }
}
</script>
<style>
.redondear {
  border-radius: 27px;
}
</style>
