<template>
  <div class="q-pa-xs q-gutter-xs">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center text-primary text-weight-bolder" style="font-size:22px">
        Mis despachos
      </div>
       <div class="row bg-white q-pa-sm">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row q-pa-xs">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
              <q-select  v-model="fil_fec" :options="filtro_fechas" stack-label label="Filtrar despachos" style="max-width:150px" @input="changeFilter()" />
            </div>
          </div>
          <div class="row q-pa-none">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <q-input filled dense v-model="filtro" placeholder="Buscar" debounce="700" clearable  @input="changeFilter()">
                <template v-slot:prepend>
                  <q-icon name="fas fa-search" size="xs" />
                </template>
              </q-input>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
          <q-list >
              <div v-for="(despacho, index) in despachos" :key="index" style="border-radius: 8px;" class="bg-grey-1 shadow-2 q-mb-md">
                <q-item clickable  >
                  <q-item-section style="padding-right:3px" thumbnail :class="despacho.compartido == 'si' ? 'bg-blue-8 q-mr-sm':'bg-primary q-mr-sm'">
                  </q-item-section>
                  <q-item-section>
                    <q-item-label style="font-size:14px" class="text-primary text-bold"><q-icon name="fas fa-user" color="primary" class="q-mr-xs"/>{{despacho.conductor}}</q-item-label>
                    <q-item-label caption v-show="despacho.fecha_entrega" >Fecha cargue <b class="text-blue-7">{{despacho.fecha_entrega}}</b></q-item-label>
                    <q-item-label style="font-size:12px" class="text-primary text-orange-8 text-bold" v-show="despacho.bodega == 'si'">* Despacho en bodega</q-item-label>
                    <q-item-label caption v-show="false">Estado : <b>{{despacho.estado}}</b></q-item-label>
                    <q-item-label caption>No. Pedidos : <b>{{despacho.nro_pedidos}}</b></q-item-label>
                    <q-item-label caption>Capacidad Max  <b>{{formatPrice(despacho.capacidad * 1000)}}</b> Kg</q-item-label>
                    <q-item-label caption :class="despacho.total_kilos >= despacho.capacidad * 1000? 'text-red':''">Total kilos  <b>{{formatPrice(despacho.total_kilos)}}</b></q-item-label>
                    <q-item-label caption v-show="false">Valor total  <b>$ {{formatPrice(despacho.valor_total)}}</b></q-item-label>
                    <q-item-label >
                      <div class="row">
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                          <q-fab
                            v-model="fab1[index]"
                            label=""
                            label-position="top"
                            external-label
                            color="primary"
                            icon="fas fa-chevron-right"
                            direction="right"
                            padding="xs"
                            flat
                          >
                            <q-fab-action class="q-mr-md" padding="13px" external-label label-position="top" color="grey-8" icon="lock_outline" label="Cerrar" v-if="verificaPermiso(41)" v-show="despacho.estado === 'abierto'" @click="confirm(despacho.id_despacho)"/>
                            <q-fab-action class="q-mr-md" padding="13px" external-label label-position="top" color="green-8" icon="remove_red_eye" label="Detalle" @click="$router.push({ name: '/pedidos/registro', params: { despacho: despacho.consecutivo, placa: despacho.placa, conductor: despacho.conductor, origen: 'historico' } })"/>
                            <q-fab-action  class="q-mr-md" padding="13px" external-label label-position="top" color="blue-8" icon="edit" label="Editar" @click="obtenerIdDespacho(despacho);" v-show="despacho.cargado === 'no'"/>
                            <q-fab-action  class="q-mr-md" padding="13px" external-label label-position="top" color="red-8" icon="delete" label="Eliminar" @click="confirmEliminaDespacho(despacho.id_despacho);" v-show="despacho.estado === 'abierto'"/>
                          </q-fab>
                        <!--<q-btn class="text-primary q-mr-xs" size="sm" icon="lock_outline" no-caps label="Cerrar" v-if="verificaPermiso(41)" v-show="despacho.estado === 'abierto'" @click="confirm(despacho.id_despacho)"/>
                        <q-btn  class="text-primary q-mr-sm" size="sm" icon="remove_red_eye" no-caps label="Detalle" @click="$router.push({ name: '/pedidos/registro', params: { despacho: despacho.consecutivo, placa: despacho.placa, conductor: despacho.conductor, origen: 'historico' } })"/>
                        <q-btn round  class="text-primary q-mr-xs" size="sm" icon="edit" v-show="despacho.cargado === 'no'" @click="obtenerIdDespacho(despacho);"/>
                        <q-btn round  class="text-red" size="sm" icon="delete" v-show="despacho.estado === 'abierto'" @click="confirmEliminaDespacho(despacho.id_despacho);"/>-->
                        </div>
                        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 text-center q-pl-lg">
                          <q-chip square size="15px" class="text-bold" icon="fas fa-truck" color="amber-6">{{ despacho.placa }}</q-chip>
                        </div>
                      </div>
                    </q-item-label>
                  </q-item-section>

                  <q-item-section side top>
                    <q-item-label >
                      <div class="text-bold absolute bg-green-7 q-pa-none text-white" style="font-size:13px;top: -6%; right: 0px; transform: translateX(-12%); border-radius: 8px" v-if="despacho.estado == 'abierto'">&nbsp;&nbsp;&nbsp;&nbsp;{{ despacho.estado.charAt(0).toUpperCase() + despacho.estado.slice(1).toLowerCase() }}&nbsp;&nbsp;&nbsp;&nbsp;</div>
                      <div class="text-bold absolute bg-red-8 q-pa-none text-white" style="font-size:13px;top: -6%; right: 0px; transform: translateX(-12%); border-radius: 8px" v-else>&nbsp;&nbsp;&nbsp;&nbsp;{{ despacho.estado.charAt(0).toUpperCase() + despacho.estado.slice(1).toLowerCase() }}&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    </q-item-label>
                    <q-item-label caption>{{despacho.fecha_registro}}</q-item-label>
                    <div class="text-primary text-bold">
                      # {{despacho.consecutivo}}
                    </div>
                    <div class="text-blue-9" v-if="despacho.compartido == 'si'">
                      <q-chip  color="blue-7" class="text-white"  style="font-size:7px">{{despacho.compartido_nom_vendedor.substring(0, 12)}}..</q-chip>
                    </div>
                    <q-btn @click="openModalShare(despacho.id_despacho)" round color="blue-9" flat  class="text-primary" size="md" icon="fas fa-share-alt" v-show="despacho.estado === 'abierto'"/>
                    <q-item-label caption class="text-center"><br>
                      <em v-if="despacho.autorizado == 'no' && despacho.estado == 'cerrado'" class="text-red">&#187;Por autorizar</em>
                      <em v-if="despacho.autorizado == 'si'" class="text-green-8">Autorizado</em>
                      </q-item-label>
                    <q-item-label caption></q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator style="height:1px"  :class="despacho.compartido == 'si' ? 'bg-light-blue-1':'bg-grey-3'" v-show="false" />
              </div>
          </q-list>
        </div>
      </div>
        <infinite-loading  @distance="1" @infinite="infiniteHandler"  ref="infiniteLoading1">
            <div slot="no-more">
            <div class="full-width row flex-center text-primary q-gutter-sm">
              <span>
              </span>
            </div>
            </div>
            <div slot="spinner">
              <div class="row justify-center q-my-md">
                <q-spinner-dots color="primary" size="50px" />
              </div>
            </div>
            <div slot="no-results">
              <div class="full-width row flex-center text-primary q-gutter-sm">
                <q-icon size="2em" name="sentiment_dissatisfied" />
                <span>
                  Sin resultados ...
                </span>
              </div>
            </div>
        </infinite-loading>
        <q-page-scroller expand position="top" :scroll-offset="150" :offset="[0, 0]">
          <div  class="col cursor-pointer q-pa-xs bg-primary text-white text-center">
            <q-btn dense flat icon="arrow_upward" label="Ir al principio" />
          </div>
        </q-page-scroller>

        <q-page-sticky position="bottom-right" :offset="[18, 18]"  @click="$router.push({path: '/inicio/bienvenida'})">
          <q-btn fab padding="sm"  icon="home" color="primary" />
        </q-page-sticky>

      <q-dialog v-model="modal_share">
        <q-card style="width: 300px">
          <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">Compartir despacho</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section>
            <div class="q-pa-none row scroll" style="max-height: 250px">
            <div class="col-12">
              <q-list  padding class="rounded-borders text-primary" v-for="(vend, index) in vendedores.concat(auxiliares_ventas)" :key="index">
                <q-item
                  clickable
                  v-ripple
                  :active="vendedor === vend.codigo"
                  @click="vendedor = vend.codigo;vendedor_full = vend.codigo + '-' + vend.nombre"
                  active-class="my-menu-link"
                >
                  <q-item-section style="font-size:12px">{{vend.nombre}}</q-item-section>
                </q-item>
              </q-list>
              </div>
            </div>
          </q-card-section>
          <q-card-section class="text-center">
            <q-btn icon="fas fa-share-alt" label="Compartir despacho" flat color="blue-9" @click="compartirDespacho()"/>
          </q-card-section>
        </q-card>
      </q-dialog>

      <q-dialog
        v-model="modal_conductores"
        persistent
        :maximized="$q.platform.is.desktop === true ? true : true"
        transition-show="slide-up"
        transition-hide="slide-down"
      >
        <q-card class="bg-white text-white" >
          <q-bar  class="bg-primary q-pa-lg">
            <q-icon name="chevron_left" v-close-popup size="md"/>
          </q-bar>
          <div class="row bg-white q-pa-sm" v-show="cargado == 'no' && estado == 'abierto'">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center text-bold text-primary">
              Cambiar conductor o fecha entrega
            </div>
          </div>
          <div class="row bg-white q-pa-sm" v-show="cargado == 'no' && estado == 'abierto'">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-right q-mr-sm">
                <q-input debounce="700" bottom-slots v-model="placa_modal" label="Placa" stack-label @input="listadoConductores('placa')" />
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left text-primary">
              <q-input debounce="700" bottom-slots v-model="conductor_modal" label="Escriba el nombre del conductor" stack-label @input="listadoConductores('conductor')"/>
            </div>
          </div>
          <div class="row bg-white">
            <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12" align="right">
              <q-input   v-model="fecha_despacho" readonly style="width:160px" stack-label label="Fecha aprox. cargue">
                  <template v-slot:append>
                    <q-icon color="primary" name="event" class="cursor-pointer">
                      <q-popup-proxy ref="qDateProxy2" transition-show="scale" transition-hide="scale" >
                        <q-date :options="optionsFnAux" :locale="myLocale" v-model="fecha_despacho" mask="YYYY-MM-DD" @input="$refs.qDateProxy2.hide();confirmActualizaDespachoFecha()" />
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
            </div>
          </div>
          <div class="row scroll" style="max-height: 500px" >
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <q-list>
            <div class="row q-pa-sm" v-if="placas.length > 0">
              <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 scroll" style="max-height: 68vh">
                <q-list  padding >
                  <q-item clickable v-ripple v-for="(placa, index) in placas" :key="index" @click="confirmActualizaDespacho(placa)">
                  <q-item-section style="padding-right:4px" thumbnail class="bg-primary q-mr-sm">
                  </q-item-section>
                    <q-item-section>
                      <q-item-label class="text-weight-bolder text-primary">{{placa.PLACA}}</q-item-label>
                      <q-item-label caption class="text-primary">
                        {{placa.NOMBRE_CONDUCTOR}}
                      </q-item-label>
                      <q-item-label caption class="text-primary">
                        Capacidad max : {{formatPrice(placa.CAPACIDAD)}} Ton
                      </q-item-label>
                      <q-item-label caption class="text-primary">
                        <q-btn size="sm"  class="full-width" label="Elegir Conductor"  icon="local_shipping" />
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-separator style="height:3px" class="bg-grey-2 " />
                </q-list>
              </div>
            </div>
            </q-list>
            </div>
          </div>
        </q-card>
      </q-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import InfiniteLoading from 'vue-infinite-loading'
export default {
  components: {
    InfiniteLoading
  },
  data () {
    return {
      fab1: [],
      fecha_despacho: '',
      cargado: '',
      estado: '',
      vendedor: '',
      vendedor_full: '',
      vendedores: [],
      auxiliares_ventas: [],
      modal_share: false,
      fil_fec: 'Esta semana',
      filtro_fechas: ['Hoy', 'Ayer', 'Esta semana', 'Este mes', 'Mes anterior', 'Este año', 'Todos'],
      modal_conductores: false,
      deshabilitado: false,
      dato_obtenido: false,
      icon: false,
      filtro: '',
      placa_modal: '',
      conductor_modal: '',
      conductor: '',
      despachos: [],
      placas: [],
      cliente: '',
      page: 0,
      id_despacho: '',
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      }
    }
  },
  computed: {
    url_api () {
      return this.$store.state.store.url_api
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    fechaActual () {
      var today = new Date()
      var dd = today.getDate()
      var mm = today.getMonth() + 1 // January is 0!
      var yyyy = today.getFullYear()
      if (dd < 10) {
        dd = '0' + dd
      }
      if (mm < 10) {
        mm = '0' + mm
      }
      // var actual = dd + '/' + mm + '/' + yyyy
      var actual = yyyy + '/' + mm + '/' + dd
      return actual
    }
  },
  methods: {
    optionsFnAux (date) {
      return date >= this.fechaActual
    },
    obtenerVendedores () {
      var self = this
      axios.get(this.url_api + '/api/usuarios/obtener-vendedores/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.vendedores = response.data
      }).finally(function () {
      })
    },
    obtenerUsuariosxRol () {
      var self = this
      axios.get(this.url_api + '/api/usuarios/obtener-usuarios-x-rol/', {
        params: {
          token: localStorage.getItem('token'),
          rol: 'AUXILIAR_VENTAS'
        }
      }).then((response) => {
        self.auxiliares_ventas = response.data
      }).finally(function () {
      })
    },
    openModalShare (idDespacho) {
      this.modal_share = true
      this.id_despacho = idDespacho
      this.obtenerVendedores()
      this.obtenerUsuariosxRol()
    },
    obtenerIdDespacho (despacho) {
      this.id_despacho = despacho.id_despacho
      this.fecha_despacho = despacho.fecha_entrega
      this.modal_conductores = true
      this.cargado = despacho.cargado
      this.estado = despacho.estado
    },
    confirmActualizaDespacho (datos) {
      this.$q.dialog({
        title: 'Modifica el despacho',
        message: '¿Está seguro de modificar el despacho?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.actualizaDespacho(datos)
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    confirmActualizaDespachoFecha () {
      this.$q.dialog({
        title: 'Modifica el despacho',
        message: '¿Está seguro de modificar la fecha de entrega?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.actualizaDespachoFecha()
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    confirmEliminaDespacho (IdDespacho) {
      this.$q.dialog({
        title: 'Eliminar el despacho',
        message: '¿Está seguro de eliminar el despacho?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.eliminarDespacho(IdDespacho)
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    actualizaDespacho (datos) {
      this.showLoading('Guardando información ...')
      var self = this
      axios.put(this.url_api + '/api/despachos/actualiza-despacho/', {
        id_despacho: this.id_despacho,
        placa: datos.PLACA,
        conductor: datos.NOMBRE_CONDUCTOR,
        nit_conductor: datos.NIT_CONDUCTOR,
        accion: 'mod_full',
        capacidad: self.formatPrice(datos.CAPACIDAD),
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-center', 3000)
          self.changeFilter()
          self.id_despacho = ''
          self.modal_conductores = false
          self.hideLoading()
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-center', 3000)
          self.hideLoading()
        }
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('error', err, 'top-center', 3000)
        self.hideLoading()
      })
    },
    notificacionToast (tipoNotif, msj, posicion, duracion) {
      this.$toast(msj, {
        position: posicion,
        type: tipoNotif,
        timeout: duracion,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        // draggable: true,
        // draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: 'button',
        icon: true,
        rtl: false
      })
    },
    eliminarDespacho (idDespacho) {
      this.showLoading('Eliminando información ...')
      var self = this
      axios.put(this.url_api + '/api/despachos/actualiza-despacho/', {
        id_despacho: idDespacho,
        accion: 'eliminar_despacho',
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-center', 3000)
          self.changeFilter()
          self.hideLoading()
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-center', 3000)
          self.hideLoading()
        }
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('error', err, 'top-center', 3000)
        self.hideLoading()
      })
    },
    actualizaDespachoFecha () {
      this.showLoading('Guardando información ...')
      var self = this
      axios.put(this.url_api + '/api/despachos/actualiza-despacho/', {
        id_despacho: this.id_despacho,
        accion: 'mod_fecha',
        fecha_entrega: this.fecha_despacho,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-center', 3000)
          self.changeFilter()
          self.id_despacho = ''
          self.fecha_despacho = ''
          self.modal_conductores = false
          self.hideLoading()
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-center', 3000)
          self.hideLoading()
        }
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('error', err, 'top-center', 3000)
        self.hideLoading()
      })
    },
    listadoDespachos () {
      var self = this
      axios.get(this.url_api + '/api/despachos/listado/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.despachos = response.data
      }).finally(function () {
      })
    },
    listadoConductores (campoFiltra) {
      if (campoFiltra === 'placa') {
        if (this.placa_modal.length <= 0) {
          this.placas.length = 0
        }
      } else {
        if (this.conductor_modal.length <= 0) {
          this.placas.length = 0
        }
      }
      if (this.placa_modal.length > 1 || this.conductor_modal.length > 2) {
        var self = this
        axios.get(this.url_api + '/api/conductores/listado/', {
          params: {
            placa: this.placa_modal,
            conductor: this.conductor_modal,
            token: localStorage.getItem('token')
          }
        }).then((response) => {
          self.placas = response.data
        }).finally(function () {
        })
      }
    },
    listadoDespachosLocal () {
      // this.filterByValue(this.despachos, this.placa)
    },
    filterByValue (arrayOfObject, term) {
      var ans = arrayOfObject.filter(function (v, i) {
        if (v.placa.toLowerCase().indexOf(term.toLowerCase()) >= 0 || v.conductor.toLowerCase().indexOf(term.toLowerCase()) >= 0 || v.estado.toLowerCase().indexOf(term.toLowerCase()) >= 0) {
          return true
        } else {
          return false
        }
      })
      return ans
    },
    infiniteHandler ($state) {
      // PARA QUE SOLO APAREZCA CUANDO SE RESETEA EN INFINITE
      if (this.page <= 0) {
        this.showLoading('Cargando despachos, por favor espere un momento...')
      }
      this.page++
      let url = this.url_api + '/api/despachos/listado/?page=' + this.page
      axios.get(url, {
        params: {
          token: localStorage.getItem('token'),
          filtro_fecha: this.fil_fec,
          filtro_general: this.filtro
        }
      })
        .then(response => {
          // let newCargues = response.data.data
          if (response.data.data.length) {
            this.despachos = this.despachos.concat(response.data.data)
            $state.loaded()
            this.hideLoading()
          } else {
            $state.complete()
            this.hideLoading()
          }
        }).catch(error => {
          this.hideLoading()
          console.log(error)
        })
    },
    notificacion (color, colorTexto, icono, mensaje, posicion) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        position: posicion
      })
    },
    changeFilter () {
      this.page = 0
      this.despachos = []
      this.$refs.infiniteLoading1.stateChanger.reset()
      localStorage.setItem('filtro_fecha', this.fil_fec)
      localStorage.setItem('filtro', this.filtro === null ? '' : this.filtro)
    },
    confirm (idDespacho) {
      this.$q.dialog({
        title: 'Cerrar Despacho',
        message: '¿Está seguro de cerrar el despacho?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.cerrarDespacho(idDespacho)
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    limpiarDatosCompartir () {
      this.id_despacho = ''
      this.modal_share = false
      this.vendedor = ''
      this.vendedor_full = ''
    },
    compartirDespacho () {
      this.showLoading('Compartiendo despacho por favor espere ...')
      var self = this
      axios.put(this.url_api + '/api/despachos/compartir', {
        id_despacho: this.id_despacho,
        vendedor: this.vendedor_full,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-center', 3000)
          self.changeFilter()
          self.limpiarDatosCompartir()
          self.hideLoading()
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-center', 3000)
          self.hideLoading()
        }
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('error', err, 'top-center', 3000)
        self.hideLoading()
      })
    },
    cerrarDespacho (idDespacho) {
      this.showLoading('Cerrando el despacho, por favor espere ...')
      var self = this
      axios.put(this.url_api + '/api/despachos/cerrar-despacho/', {
        id_despacho: idDespacho,
        accion: 'cerrar_despacho',
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacionToast('success', res.data.mensaje, 'top-center', 3000)
          self.changeFilter()
          self.hideLoading()
        } else {
          self.notificacionToast('error', res.data.mensaje, 'top-center', 3000)
          self.hideLoading()
        }
      }).catch(function (err) {
        // console.log(err)
        self.notificacionToast('error', err, 'top-center', 3000)
        self.hideLoading()
      })
    },
    formatPrice (value) {
      let val = (value / 1).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    obtenerFiltrosLocalStore () {
      let filtroFecha = localStorage.getItem('filtro_fecha')
      let filtroTexto = localStorage.getItem('filtro')
      if (filtroFecha) {
        this.fil_fec = filtroFecha
      }
      if (filtroTexto) {
        this.filtro = filtroTexto
      }
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    submitLogin () {
    },
    onReset () {
    }
  },
  mounted () {
    this.obtenerFiltrosLocalStore()
    // this.listadoDespachos()
  },
  watch: {
  }
}
</script>
<style lang="sass">
.my-menu-link
  color: white
  background: #245F45
</style>
