<template>
  <div class="q-pa-xs q-gutter-xs">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center text-primary text-weight-bolder q-mb-lg" style="font-size:20px">
        Nuevo despacho
        <q-separator spaced />
      </div>
       <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center text-h6 text-bold text-primary">Buscar conductor</div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <q-form
            @submit.prevent="submitLogin"
            @reset="onReset"
            ref="form_despachos"
          ><br>
            <div class="row">
              <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4 q-mr-md">
                  <q-input bottom-slots v-model="placa" autofocus label="No. Placa" stack-label :readonly="deshabilitado" clearable clear-icon="close" debounce="500"
                  mask="XXXXXX"
                  :rules="[ val => val && val.length > 0 || 'Debe digitar la placa',
                              val => val.length <= 6 || 'Solo se permiten 6 caracteres']"
                  @input="listadoConductores('placa')"
                  >
                    <template v-slot:prepend>
                      <q-icon name="local_shipping" color="primary" />
                    </template>
                  </q-input>
              </div>
              <div class="col-xs-7 col-md-7 col-sm-7 col-lg-7 ">
                  <q-input debounce="500" bottom-slots v-model="conductor" clearable clear-icon="close" :readonly="deshabilitado" label="Nombre del conductor" stack-label @input="listadoConductores('conductor')"
                  >
                  </q-input>
              </div>
            </div>
            <div class="row" v-if="dato_obtenido">
              <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-right">
                <q-chip clickable @click="limpiarInfoConductor" size="12px" color="primary" text-color="white" icon="refresh" label="Elegir otro conductor" />
              </div>
            </div>
            <div class="row q-pa-md" v-if="dato_obtenido">
              <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-center text-primary text-bold" style="font-size:15px">
                Elija la fecha aproximada de cargue del despacho
              </div>
            </div>
            <div class="row q-pa-none" v-if="dato_obtenido">
              <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-center text-red" style="font-size:13px">
                Es importante esta fecha de cargue ya que con este dato se realiza la proyección diaria de ventas.
              </div>
            </div>
            <div class="row" v-if="dato_obtenido">
              <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" align="center">
                <q-input   v-model="fecha_despacho" readonly style="width:150px" stack-label>
                  <template v-slot:append>
                    <q-icon size="30px" color="primary" name="event" class="cursor-pointer">
                      <q-popup-proxy ref="qDateProxy2" transition-show="scale" transition-hide="scale" >
                        <q-date :options="optionsFnAux" :locale="myLocale" v-model="fecha_despacho" mask="YYYY-MM-DD" @input="$refs.qDateProxy2.hide();" />
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </div>
            </div>
            <div class="row" v-if="placas.length > 0">
              <div class="q-pa-xs text-center q-px-md" style="font-size:13px">Elija el conductor que transportará el despacho ...</div>
              <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 scroll" style="max-height: 62vh">
                <q-list  padding >
                  <q-item-label header class="text-center ">Listado de conductores</q-item-label>
                  <q-item clickable v-ripple v-for="(placa, index) in placas" :key="index" @click="enviarDatosConductor(placa.PLACA, placa.NOMBRE_CONDUCTOR, formatPrice(placa.CAPACIDAD), placa.NIT_CONDUCTOR)">
                    <q-item-section>
                      <q-item-label class="text-weight-bolder text-center">
                        <div class="bg-yellow-7 text-center q-pa-xs rounded-borders" :style="$q.platform.is.mobile === true ? 'width:25%' : 'width:7%'">
                          {{placa.PLACA}}
                        </div>
                      </q-item-label>
                      <q-item-label caption class="text-primary text-bold">
                        {{placa.NOMBRE_CONDUCTOR}}
                      </q-item-label>
                      <q-item-label caption class="text-primary">
                        Capacidad max : {{formatPrice(placa.CAPACIDAD)}} Ton
                      </q-item-label>
                      <q-separator spaced  />
                    </q-item-section>
                  </q-item>
                </q-list>
              </div>
            </div>
            <div class="row" v-if="dato_obtenido">
              <div class="col-12 text-center"><br><br><br><br>
                <q-btn color="primary" icon="add" label="Nuevo pedido" @click="registrarDespacho"/>
              </div>
            </div>
            <div class="q-pa-md" v-if="placas.length <= 0 && !dato_obtenido"><br>
              <q-list bordered padding class="rounded-borders">
                <q-item >
                    <q-icon name="info" color="orange" size="20px" class="q-mr-xs"/>Digite el # de placa del vehículo o el nombre conductor para poder crear un despacho
                </q-item>
              </q-list>
            </div>
          </q-form>
        </div>
      </div>
        <q-page-sticky position="bottom-right" :offset="[18, 18]"  @click="$router.push({path: '/inicio/bienvenida'})">
          <q-btn fab padding="sm"  icon="home" color="primary" />
        </q-page-sticky>
  </div>
</template>

<script>
import axios from 'axios'
// import { date } from 'quasar'
// const timeStamp = Date.now()
export default {
  data () {
    return {
      fecha_despacho: '',
      // fecha_despacho: date.formatDate(timeStamp, 'YYYY-MM-DD'),
      deshabilitado: false,
      dato_obtenido: false,
      icon: false,
      placa: '',
      conductor: '',
      nit_conductor: '',
      capacidad: '',
      placas: [],
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      }
    }
  },
  computed: {
    url_api () {
      return this.$store.state.store.url_api
    },
    fechaActual () {
      var today = new Date()
      var dd = today.getDate()
      var mm = today.getMonth() + 1 // January is 0!
      var yyyy = today.getFullYear()
      if (dd < 10) {
        dd = '0' + dd
      }
      if (mm < 10) {
        mm = '0' + mm
      }
      // var actual = dd + '/' + mm + '/' + yyyy
      var actual = yyyy + '/' + mm + '/' + dd
      return actual
    }
  },
  methods: {
    optionsFnAux (date) {
      return date >= this.fechaActual
    },
    listadoConductores (campoFiltra) {
      if (campoFiltra === 'placa') {
        if (this.placa.length <= 0) {
          this.placas.length = 0
        }
      } else {
        if (this.conductor.length <= 0) {
          this.placas.length = 0
        }
      }
      if (this.placa.length > 2 || this.conductor.length > 3) {
        var self = this
        self.showLoading('Buscando conductor, por favor espere ...')
        axios.get(this.url_api + '/api/conductores/listado/', {
          params: {
            placa: this.placa,
            conductor: this.conductor,
            token: localStorage.getItem('token')
          }
        }).then((response) => {
          self.placas = response.data
        }).finally(function () {
          self.hideLoading()
        })
      }
    },
    formatPrice (value) {
      let val = (value / 1).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    showLoading (msj) {
      this.$q.loading.show({
        message: msj
      })
    },
    registrarDespacho () {
      var self = this
      if (!self.fecha_despacho) {
        self.notificacionToast('error', 'Debe seleccionar la fecha de cargue del despacho', 'top-right', 4000)
        return false
      }
      self.showLoading('Registrado despacho, por favor espere un momento ...')
      axios.post(this.url_api + '/api/despachos/registrar/', {
        placa: self.placa,
        fecha_despacho: self.fecha_despacho,
        conductor: self.conductor,
        capacidad: self.capacidad,
        nit_conductor: self.nit_conductor,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.$router.push({ name: '/pedidos/registro', params: { despacho: res.data.id_despacho, placa: self.placa, conductor: self.conductor } })
          self.hideLoading()
        } else {
          self.notificacionToast('error', res.data.id_despacho, 'top-right', 5500)
          self.hideLoading()
        }
      }).catch(function (err) {
        self.notificacionToast('error', err, 'top-right', 2500)
        self.hideLoading()
      })
    },
    notificacionToast (tipoNotif, msj, posicion, duracion) {
      this.$toast(msj, {
        position: posicion,
        type: tipoNotif,
        timeout: duracion,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        // draggable: true,
        // draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: 'button',
        icon: true,
        rtl: false
      })
    },
    enviarDatosConductor (placa, nomConductor, capacidad, nit) {
      this.placa = placa
      this.nit_conductor = nit
      this.conductor = nomConductor
      this.capacidad = capacidad
      // limpio el arreglo para que se oculto el listado de conductores
      this.placas.length = 0
      this.dato_obtenido = true
      this.deshabilitado = true
    },
    limpiarInfoConductor () {
      this.placa = ''
      this.conductor = ''
      this.capacidad = ''
      this.dato_obtenido = false
      this.deshabilitado = false
    },
    submitLogin () {
    },
    onReset () {
    }
  },
  mounted () {
  },
  watch: {
  }
}
</script>
