<template>
  <q-layout view="lHh Lpr lFf" >
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import axios from 'axios'
// import { mapActions } from 'vuex'
export default {
  name: 'MyLayout',

  data () {
    return {
    }
  },
  computed: {
    url_api () {
      return this.$store.state.store.url_api
    }
  },
  methods: {
    listarComentarios () {
      var self = this
      axios.get(self.url_api + '/api/comentarios/listado/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        // self.comentarios = response.data
      }).finally(function () {
      })
    },
    showLoading () {
      this.$q.loading.show({
        message: 'Cargando por favor, espere un momento'
      })
    },
    notificacion (color, colorTexto, icono, mensaje, posicion) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        position: posicion
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    }
  },
  mounted () {
  },
  beforeMount () {
    // this.showLoading()
  },
  watch: {
  }
}
</script>
<style>
</style>
