<template>
  <q-layout view="lHh Lpr lFf" >
    <q-header v-if="menu_habilitado" >
      <q-toolbar  :class="$q.platform.is.desktop === true ? 'header_normal':'bg-white'">
        <q-btn
          flat
          dense
          round
          @click="drawer = !drawer"
          icon="fas fa-bars"
          :color="rol == 'VENDEDOR' ? 'primary' : 'primary'"
          aria-label="Menu"
          v-if="rol !== 'VENDEDOR'"
        />
        <q-toolbar-title class="text-red " style="font-size:13px" >
          <img src="../statics/netico_letras_small.png"  style="width: 83px; height: 23px;" v-if="$q.platform.is.desktop === true">
          <img src="../statics/netico_letras.png"  style="max-width: 200px; height: 16px;" v-if="$q.platform.is.desktop !== true">
        </q-toolbar-title>
        <div v-show="$router.currentRoute.name !== '/inicio/bienvenida' && menu_habilitado === true" v-if="rol == 'VENDEDOR'">
          <q-btn round flat size="md" icon="fas fa-house" color="primary" class="bg-white" @click="$router.push({ name: '/inicio/bienvenida' })"/>
        </div>
        <!-- (25) Ingresar comentario, esta opcion esta sin visualizar -->
        <q-btn
          v-if="verificaPermiso(25)"
          v-show="false"
          flat
          round
          dense
          icon="fas fa-comment-dots"
          size="15px"
          @click="modal_comentarios = true"
          :color="$q.platform.is.desktop === true ? 'white' : 'primary'"
        />
        <q-btn
          flat
          round
          dense
          size="15px"
          icon="fas fa-home"
          :color="$q.platform.is.desktop === true ? 'white' : 'primary'"
          v-show="$q.platform.is.mobile === true"
          class="q-mr-sm"
          :to="rol === 'VENDEDOR' || rol === 'JEFE_VENDEDORES' ? '/inicio/bienvenida': '/inicio'"
        />
        <q-btn round flat >
          <q-avatar size="33px">
            <q-icon name="fas fa-user-circle" :color="$q.platform.is.desktop === true ? 'white' : 'primary'"/>
          </q-avatar>
          <q-menu>
            <div class="row  q-pa-md">
              <div class="text-center">
                <div class="text-subtitle1  text-bold text-grey-8" style="font-size:11px">{{usuario_logeado}}</div>
                <div style="font-size:12px">{{email_logeado}}</div>
                <q-btn
                  color="primary"
                  label="Cambiar contraseña"
                  flat
                  size="11px"
                  @click="$router.push({ name: '/usuarios/reset-pass' })"
                /><br><br>
                <q-separator />
                <q-btn
                  color="red"
                  label="Cerrar sesión"
                  flat
                  icon="fas fa-sign-out-alt"
                  size="11px"
                  @click="cerrarSesion"
                />
              </div>
            </div>
          </q-menu>
        </q-btn>
        <q-btn
          flat
          round
          v-if="false"
          dense
          size="15px"
          icon="fas fa-sign-out-alt"
          :color="$q.platform.is.desktop === true ? 'white' : 'primary'"
          @click.native="cerrarSesion"
        />
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="drawer"
      show-if-above
      :mini="miniState"
      @mouseover="miniState = false"
      @mouseout="miniState = true"
      v-if="menu_habilitado"
      mini-to-overlay
      :width="270"
      :breakpoint="500"
      class="bg-grey-3"
    >
      <q-scroll-area class="bg-primary" style="height: calc(100% - 110px); margin-top: 110px;" v-if="menu_habilitado">
        <q-list padding v-if="rol !== 'VENDEDOR'">
          <router-link to="/inicio"  tag="div" >
            <q-item clickable tag="a" target="_blank" class="text-white">
              <q-item-section avatar top>
                <q-avatar icon="fas fa-home" color="white" size="40px" text-color="primary"></q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label class="text-bold">Inicio</q-item-label>
              </q-item-section>
            </q-item>
          </router-link>
          <router-link to="/rrhh"  tag="div" v-show="false">
            <q-item clickable tag="a" target="_blank" class="text-white">
              <q-item-section avatar top>
                <q-avatar icon="fas fa-people-arrows" color="white" size="40px" text-color="primary"></q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label class="text-bold">RRHH</q-item-label>
              </q-item-section>
            </q-item>
          </router-link>
          <router-link to="/produccion"  tag="div"  class="text-white">
            <q-item clickable tag="a" target="_blank" >
              <q-item-section avatar top>
                <q-avatar icon="fas fa-truck-loading" color="white" size="40px" text-color="primary"></q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label class="text-bold">Producción</q-item-label>
              </q-item-section>
            </q-item>
          </router-link>
          <router-link to="/logistica"  tag="div"  class="text-white">
            <q-item clickable tag="a" target="_blank" >
              <q-item-section avatar top>
                <q-avatar icon="fas fa-people-carry" color="white" size="40px" text-color="primary"></q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label class="text-bold">Logística</q-item-label>
              </q-item-section>
            </q-item>
          </router-link>
          <router-link to="/ventas"  tag="div"  class="text-white">
            <q-item clickable tag="a" target="_blank" >
              <q-item-section avatar top>
                <q-avatar icon="fas fa-hand-holding-usd" color="white" size="40px" text-color="primary"></q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label class="text-bold">Ventas</q-item-label>
              </q-item-section>
            </q-item>
          </router-link>
          <router-link to="/admin"  tag="div"  class="text-white">
            <q-item clickable tag="a" target="_blank" >
              <q-item-section avatar top>
                <q-avatar icon="fas fa-user-shield" color="white" size="40px" text-color="primary"></q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label class="text-bold">Administrador</q-item-label>
              </q-item-section>
            </q-item>
          </router-link><br>
          <q-separator inset color="grey-6"/>
          <router-link to="/" @click.native="cerrarSesion"  tag="div" v-if="menu_habilitado" class="q-py-xs">
            <q-item clickable tag="a" target="_blank" class="text-white">
              <q-item-section avatar>
                <q-icon size="35px" name="fas fa-sign-out-alt" />
              </q-item-section>
              <q-item-section>
                <q-item-label class="text-bold">Cerrar sesión</q-item-label>
              </q-item-section>
            </q-item>
          </router-link>
        </q-list>
      </q-scroll-area>
      <q-list  padding class="bg-white absolute-top" v-if="menu_habilitado" style="height: 110px; background-color:#ffffff">
        <q-item>
          <q-item-section>
            <q-item-label class="text-bold text-primary">{{usuario_logeado}}</q-item-label>
            <q-item-label >{{email_logeado}}</q-item-label>
            <q-item-label style="font-size:10px" class="text-bold">{{rol}}</q-item-label>
            <q-item-label style="font-size:9px">netico<div style="font-size:9px">v.{{version_front}}</div></q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-dialog
      v-model="modal_comentarios"
      persistent
      :maximized="maximizedToggle"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card class="bg-primary text-white">
        <q-bar>
          <q-space />

          <q-btn dense flat icon="minimize" @click="maximizedToggle = false" :disable="!maximizedToggle">
            <q-tooltip v-if="maximizedToggle" content-class="bg-white text-primary">Minimize</q-tooltip>
          </q-btn>
          <q-btn dense flat icon="crop_square" @click="maximizedToggle = true" :disable="maximizedToggle">
            <q-tooltip v-if="!maximizedToggle" content-class="bg-white text-primary">Maximize</q-tooltip>
          </q-btn>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>
        <q-card-section class="q-pt-none">
              <div class="col self-start">
              </div>
              <div class="col self-center text-white ">
              <q-list bordered class="rounded-borders bg-white">
                <q-item-label header class="text-primary text-bold"><q-icon color="grey-5" class="q-mr-sm" size="20px" name="fas fa-comment-dots"/>ADICIONAR COMENTARIOS</q-item-label>
                <q-item>
                  <q-item-section  >
                    <q-form
                      class="q-gutter-md"
                      ref="form_comentarios"
                      @submit.prevent="onSubmit"
                      @reset="onReset"
                    >
                      <div class="row ">
                        <div class="col-xs-11 col-sm-6 col-md-4 col-lg-4">
                          <q-select v-model="tipo_comentario" :rules="[validaTipo]" stack-label :options="tipos_comentarios" label="Tipo de comentario" />
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-4">
                          <q-input   v-model="fecha_inicial" readonly  label="Fecha desde" stack-label class="q-mr-xl"  :rules="[validaFecIni]">
                            <template v-slot:append>
                              <q-icon color="primary" name="event" class="cursor-pointer">
                                <q-popup-proxy ref="qDateProxy2" transition-show="scale" transition-hide="scale">
                                  <q-date :locale="myLocale" v-model="fecha_inicial" mask="YYYY-MM-DD" @input="() => $refs.qDateProxy2.hide()" />
                                </q-popup-proxy>
                              </q-icon>
                            </template>
                          </q-input>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-4">
                          <q-input v-if="tipo_comentario !== 'Diario'"  v-model="fecha_final" readonly  label="Fecha hasta" stack-label class="q-mr-xl"  :rules="[validaFecFin]">
                            <template v-slot:append>
                              <q-icon color="primary" name="event" class="cursor-pointer">
                                <q-popup-proxy ref="qDateProxy3" transition-show="scale" transition-hide="scale">
                                  <q-date :locale="myLocale" v-model="fecha_final" mask="YYYY-MM-DD" @input="() => $refs.qDateProxy3.hide()" />
                                </q-popup-proxy>
                              </q-icon>
                            </template>
                          </q-input>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <q-input outlined v-model="comentario" label="Ingrese el comentario" stack-label :rules="[validaComentario]"  type="textarea" rows="2"/>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                          <q-btn :label=" id_comentario !== '' ? 'Actualizar Información' : 'Guardar Comentario'" color="primary" type="submit"/>
                        </div>
                      </div>
                    </q-form>
                  </q-item-section>
                </q-item>
              </q-list><br>
              <q-list  class="bg-primary" style="max-width: 700px">
                <q-item>
                      <q-table v-show="comentarios.length > 0"
                        title="Comentarios"
                        :data="comentarios"
                        :columns="columns_comentarios"
                        row-key="nombre"
                        :loading="loading_comentarios"
                        table-style="max-height: 400px;max-width: 670px;min-width: 670px"
                        :pagination="pagination"
                        :filter="filter"
                        :grid="$q.screen.xs"
                        rows-per-page-label = "Registros por página"
                      >
                        <template v-slot:top-right>
                          <q-input  dense debounce="300" v-model="filter" placeholder="Consultar">
                            <q-icon slot="append" name="search" color="white" />
                          </q-input>
                        </template>
                        <template v-slot:loading>
                          <q-inner-loading showing color="primary" />
                        </template>
                        <template v-slot:body="props" >
                          <q-tr :props="props" >

                            <q-td key="tipo" :props="props" >
                              {{ props.row.tipo }}
                            </q-td>

                            <q-td key="fecha_inicio" :props="props">
                              {{ props.row.fecha_inicio }}
                            </q-td>

                            <q-td key="fecha_final" :props="props">
                              {{ props.row.fecha_final }}
                            </q-td>

                            <q-td key="mensaje" :props="props">
                              <div class="my-table-details">
                                {{ props.row.mensaje }}
                              </div>
                            </q-td>

                            <q-td key="btn_accion" :props="props">
                              <q-btn round flat size="11px" icon="fas fa-pencil-alt" color="primary" @click="enviarInfoFrm(props.row)"/>
                              <q-btn round flat size="11px" icon="fas fa-trash-alt" color="red" @click="confirmEliminar(props.row)"/>
                            </q-td>

                          </q-tr>
                        </template>
                        <template v-slot:item="props">
                          <div class="col-xs-12 col-sm-12 col-md-12">
                            <q-card class="q-ma-xs">
                                <q-card-section>
                                  <q-btn round flat size="11px" icon="fas fa-pencil-alt" color="primary" @click="enviarInfoFrm(props.row)"/>
                                  <q-btn round flat size="11px" icon="fas fa-trash-alt" color="red" @click="confirmEliminar(props.row)"/>
                                </q-card-section>
                                <q-separator>
                                </q-separator>
                                <q-list dense>
                                    <q-item :key="col.name" v-for="col in props.cols.filter(col => col.label !== 'Acción')">
                                        <q-item-section>
                                            <q-item-label class="text-primary">{{ col.label }}</q-item-label>
                                            <q-item-label caption>{{col.value}}</q-item-label>
                                        </q-item-section>

                                    </q-item>
                                </q-list>
                            </q-card>
                          </div>
                        </template>
                      </q-table>
                </q-item>
              </q-list>
              </div>
              <div class="col self-end">
              </div>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="modal_status" persistent>
      <q-card class=" bg-primary text-white">
        <q-card-section>
          <div class="text-h6 text-center">Sin conexión a internet</div><br>
          <div  style="font-size:14px">Imposible acceder a netico, verifique su conexión a internet</div>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="modal_actualizacion" persistent>
      <q-card class=" bg-primary text-white">
        <q-card-section>
          <div class="text-h6 text-center">¡Nueva actualización!</div><br>
          <div  style="font-size:17px" class="text-bold">Hay cambios en netico, por favor oprimir el botón de "Actualizar"</div><br>
          <div  style="font-size:12px" class="text-center">Versión actual: {{ version_front }}</div>
          <div  style="font-size:16px" class="text-center">Versión nueva: {{ version_api }}</div>
        </q-card-section>
        <q-card-section>
          <q-linear-progress dark query color="white" class="q-mt-none" v-show="line_update == true" />
          <q-btn flat class="full-width text-primary text-bold" size="20px" color="white" v-show="line_update == false"  label="Actualizar" @click="actualizarApp()"/>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import axios from 'axios'
import { mapActions } from 'vuex'
import Echo from 'laravel-echo'
window.Pusher = require('pusher-js')
export default {
  name: 'MyLayout',

  data () {
    return {
      line_update: false,
      actualizado: false,
      modal_actualizacion: false,
      version_api: '',
      modal_status: false,
      modo_mantenimiento: '',
      novedad: [],
      miniState: true,
      drawer: false,
      accion: 'registro',
      id_comentario: '',
      filter: '',
      pagination: {
        page: 1,
        rowsPerPage: 10
        // rowsNumber: xx if getting data from a server
      },
      comentario: '',
      fecha_inicial: '',
      fecha_final: '',
      tipo_comentario: '',
      myLocale: {
        /* starting with Sunday */
        days: 'Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado'.split('_'),
        daysShort: 'Dom_Lun_Mar_Mié_Jue_Vie_Sáb'.split('_'),
        months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
        monthsShort: 'Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic'.split('_'),
        firstDayOfWeek: 1
      },
      tipos_comentarios: [
        'Diario', 'Semanal', 'Mensual'
      ],
      columns_comentarios: [
        { name: 'tipo', align: 'left', label: 'Tipo comentario', field: 'tipo', sortable: true, headerClasses: 'text-white bg-primary' },
        { name: 'fecha_inicio', align: 'left', label: 'Fecha inicio', field: 'fecha_inicio', sortable: true, headerClasses: 'text-white bg-primary' },
        { name: 'fecha_final', align: 'right', label: 'Fecha final', field: 'fecha_final', sortable: true, headerClasses: 'text-white bg-primary' },
        { name: 'mensaje', align: 'left', label: 'Comentario', field: 'mensaje', sortable: true, headerClasses: 'text-white bg-primary' },
        { name: 'btn_accion', align: 'right', label: 'Acción', field: 'btn_accion', sortable: true, headerClasses: 'text-white bg-primary' }
      ],
      modal_comentarios: false,
      maximizedToggle: true,
      leftDrawerOpen: false,
      menu_habilitado: false,
      usuario_logeado: '',
      email_logeado: '',
      rol: '',
      permiso: false,
      accessos: [],
      encontrado: '',
      comentarios: [],
      loading_comentarios: false
    }
  },
  computed: {
    habilitaMenu () {
      return this.$store.state.store.habilita_menu
    },
    url_api () {
      return this.$store.state.store.url_api
    },
    version_front () {
      return this.$store.state.store.version
    },
    tipo_server () {
      return this.$store.state.store.tipo_servidor
    },
    login () {
      return this.$store.state.store.isLoggedIn
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    clientes () {
      return this.$store.getters['store/obtener_clientes']
    }
  },
  methods: {
    enviarInfoFrm (data) {
      this.id_comentario = data.id_comentario
      this.tipo_comentario = data.tipo
      this.fecha_inicial = data.fecha_inicio
      this.fecha_final = data.fecha_final
      this.comentario = data.mensaje
      this.accion = 'editar'
    },
    ejecutarModoMantenimiento () {
      var self = this
      axios.get(this.url_api + '/api/mercado/obtener-datos-global/', {
        params: {
          tipo_lista: 'modo-mantenimiento'
        }
      }).then((response) => {
        self.modo_mantenimiento = response.data
      }).finally(function () {
        if (self.modo_mantenimiento === 'si') {
          self.$router.push({ name: '/admin/mantenimiento' })
        } else {
          if (self.$router.currentRoute.path === '/admin/mantenimiento') {
            self.$router.push({ name: '/inicio' })
          }
          // self.$router.push({ name: self.$router.currentRoute.path })
        }
      })
    },
    obtenerVersion () {
      // Se da a conocer actualización de app
      var self = this
      axios.get(this.url_api + '/api/mercado/obtener-datos-global/', {
        params: {
          tipo_lista: 'version'
        }
      }).then((response) => {
        self.version_api = response.data
      }).finally(function () {
        self.version_api !== self.version_front ? self.actualizado = false : self.actualizado = true
        if (self.actualizado === false) {
          self.modal_actualizacion = true
        } else {
          self.modal_actualizacion = false
        }
      })
    },
    actualizarApp () {
      this.line_update = true
      setTimeout(function () {
        location.reload(true)
      }, 3000)
      // this.line_update = false
    },
    onReset () {
      this.accion = 'registro'
      this.id_comentario = ''
      this.tipo_comentario = ''
      this.fecha_inicial = ''
      this.fecha_final = ''
      this.comentario = ''
    },
    gestionarComentarios () {
      var self = this
      axios.post(this.url_api + '/api/comentarios/ingresar/', {
        tipo: self.tipo_comentario,
        fecha_inicio: self.fecha_inicial,
        fecha_final: self.fecha_final,
        mensaje: self.comentario,
        accion: self.accion,
        id_comentario: self.id_comentario,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacion('green', 'white', 'fas fa-check', res.data.mensaje, 'bottom')
          self.listarComentarios()
          self.$refs.form_comentarios.reset()
        } else {
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'bottom')
        }
      }).catch(function (err) {
        self.notificacion('red-5', 'white', 'warning', err, 'bottom')
      })
    },
    confirmEjecutarNovedad () {
      var title = 'Bloqueo de pedidos'
      var message = '¿Está seguro de bloquear los pedidos?<br><br>Los vendedores NO podrán ingresar pedidos hasta que se actualice la lista de precios.'
      if (this.novedad.id_novedad) {
        title = 'Desbloqueo de pedidos'
        message = '¿Está seguro de desbloquear los pedidos?<br><br>Los vendedores YA podrán ingresar pedidos al sistema.'
      }
      this.$q.dialog({
        title: title,
        message: message,
        html: true,
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.ejecutarNovedadSistema()
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    ejecutarNovedadSistema () {
      var self = this
      axios.post(this.url_api + '/api/novedad-sistema/ejecutar/', {
        novedad: this.novedad,
        tipo: 'cambia_precios',
        mensaje: 'Se debe actualizar la lista de precios de los productos, por favor comunicarse con el área de ventas',
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.estado === 'ok') {
          self.notificacion('green', 'white', 'fas fa-check', res.data.mensaje, 'bottom')
          self.obtenerNovedad()
        } else {
          self.notificacion('red-5', 'white', 'warning', res.data.mensaje, 'bottom')
        }
      }).catch(function (err) {
        self.notificacion('red-5', 'white', 'warning', err, 'bottom')
      })
    },
    obtenerNovedad () {
      var self = this
      axios.get(this.url_api + '/api/novedad-sistema/obtener/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.novedad = response.data
      }).finally(function () {
      })
    },
    listarComentarios () {
      var self = this
      axios.get(this.url_api + '/api/comentarios/listado/', {
        params: {
          token: localStorage.getItem('token')
        }
      }).then((response) => {
        self.comentarios = response.data
      }).finally(function () {
      })
    },
    onSubmit () {
      this.confirm()
    },
    confirm () {
      this.$q.dialog({
        title: 'CONFIRMACIÓN',
        message: '¿Está seguro de enviar la información?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.gestionarComentarios()
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    confirmEliminar (data) {
      this.$q.dialog({
        title: 'CONFIRMACIÓN',
        message: '¿Está seguro de eliminar el comentario?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.accion = 'eliminar'
        this.id_comentario = data.id_comentario
        this.gestionarComentarios()
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    obtenerUsuario () {
      if (localStorage.getItem('token')) {
        axios.post(this.url_api + '/api/usuarios/obtener-usuario', {
          token: localStorage.getItem('token')
        }).then(response => {
          if (response.data.user.id) {
            this.rol = response.data.user.roles[0].name
            this.menu_habilitado = true
            this.usuario_logeado = response.data.user.name
            this.email_logeado = response.data.user.email
            // this.listarComentarios()
            // se obtiene los permisos asignados al usuario
            // this.accessos = response.data.permisos
          } else {
            this.menu_habilitado = false
            this.leftDrawerOpen = false
          }
          // console.log(response.data.user.id)
          // console.log(response)
        }).catch(error => {
          console.log(error)
          this.menu_habilitado = false
          this.cerrarSesion()
        })
      } else {
        // this.cerrarSesion()
        // alert('Por favor inicie sesión')
      }
    },
    cerrarSesion () {
      localStorage.removeItem('token')
      this.logoutUser()
      this.menu_habilitado = false
      this.leftDrawerOpen = false
      this.$router.push({ name: '/usuarios/login' })
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    showLoading () {
      this.$q.loading.show({
        message: 'Cargando por favor, espere un momento'
      })
    },
    validaFecIni (val = '') {
      if (val.length === 0) {
        return 'Falta seleccionar la fecha inicial'
      } else {
        return true
      }
    },
    validaFecFin (val = '') {
      if (this.tipo_comentario !== 'Diario') {
        if (val.length === 0) {
          return 'Falta seleccionar la fecha final'
        } else {
          return true
        }
      }
    },
    validaTipo (val = '') {
      if (val.length === 0) {
        return 'Falta seleccionar el tipo de comentario'
      } else {
        return true
      }
    },
    validaComentario (val = '') {
      if (val.length === 0) {
        return 'Falta digitar el comentario'
      } else {
        return true
      }
    },
    notificacion (color, colorTexto, icono, mensaje, posicion) {
      this.$q.notify({
        color: color,
        textColor: colorTexto,
        icon: icono,
        message: mensaje,
        position: posicion
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    updateIndicator () {
      // console.log(window.navigator.onLine)
      if (window.navigator.onLine === false) {
        this.modal_status = true
      } else {
        // this.eschucharOnline()
      }
    },
    recargarApp () {
      this.$q.notify({
        message: 'En línea nuevamente a netico ...',
        color: 'green-7',
        icon: 'fas fa-wifi',
        timeout: 2500,
        progress: true,
        position: 'top'
      })
      this.modal_status = false
      // window.location.reload()
    },
    websocketNotificaciones () {
      // NO SSL
      // console.log(window.location.hostname)
      window.Echo = new Echo({
        broadcaster: 'pusher',
        key: '1f901d1a24d50fe4af00',
        wsHost: window.location.hostname,
        wsPort: 6001,
        forceTLS: false,
        disableStats: false,
        cluster: 'us2'
      })
    },
    eschucharOnline () {
      window.addEventListener('online', this.recargarApp)
      window.addEventListener('offline', this.updateIndicator)
    },
    ...mapActions('store', ['logoutUser', 'obtenerPermisos', 'obtenerClientes'])
  },
  mounted () {
    this.websocketNotificaciones()
    // this.ejecutarModoMantenimiento()
    // this.obtenerClientes()
    this.obtenerUsuario()
    this.obtenerPermisos()
    this.hideLoading()
    // this.updateIndicator()
    if (this.$q.platform.is.mobile === true) {
      this.eschucharOnline()
    }
    // this.obtenerVersion()
    this.$q.addressbarColor.set('#275C44')
  },
  beforeMount () {
    // this.showLoading()
  },
  watch: {
    habilitaMenu () {
      this.obtenerUsuario()
      this.obtenerPermisos()
    },
    login (val) {
      if (val === false) {
        this.cerrarSesion()
      }
    }
  }
}
</script>
<style>
.header_normal {
  background: linear-gradient(
    145deg,
    rgb(255, 255, 255) 15%,
    rgb(14, 77, 63) 70%
  )
}
.my-table-details {
  font-size: 0.85em;
  font-style: italic;
  max-width: 200px;
  white-space: normal;
  color: #555;
  margin-top: 4px;
}
</style>
