<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
    <link rel="icon" type="image/png" href="statics/LogoNetico.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:150,500,700&display=swap" rel="stylesheet">
  </head>
  <body style="font-family: 'Montserrat', sans-serif;">
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>